In [1]:
import pandas as pd
import numpy as np
import duckdb
import warnings
import os

import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

# email
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

import warnings
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']
con = duckdb.connect(database=":memory:")

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

Today's date: 2026-01-07

In [2]:
%run ./common_utils.ipynb

# Initial Functions

In [3]:
def email(model, error):
    
    # Email details
    sender_email = "rodolfoe7157@gmail.com"
    receiver_email = "rodolfoe7157@gmail.com"
    password = "cqgu bfey cnyx sfue"  # See note below

    subject = "NBA create_Predictions error"
    body = f"Model: {model}_model\nERROR: {error}"

    # Create message
    msg = MIMEMultipart()
    msg['From'] = sender_email
    msg['To'] = receiver_email
    msg['Subject'] = subject
    msg.attach(MIMEText(body, 'plain'))

    # Connect to Gmail SMTP server and send
    with smtplib.SMTP_SSL('smtp.gmail.com', 465) as server:
        server.login(sender_email, password)
        server.send_message(msg)

    print("Email sent successfully!")

In [4]:
def create_base_df():
    df = pd.DataFrame()
    df2 = pd.DataFrame()
    df3 = pd.DataFrame()
    df4 = pd.DataFrame()
    for i in [2022, 2023, 2024, 2025]:
        df_actuals = pd.read_csv(f"../tables/{i}/parlay_stats.csv")
        df_actuals['Season'] = i
        df = pd.concat([df, df_actuals])

        df_schd = pd.read_csv(f"../tables/{i}/nba_schedule.csv")
        df_schd['Season'] = i
        df2 = pd.concat([df2, df_schd])

        df_gms = pd.read_csv(f"../tables/{i}/season_gamelogs.csv")
        df_gms['Season'] = i
        df3 = pd.concat([df3, df_gms])

        df_inj = pd.read_csv(f"../tables/{i}/injuries.csv")
        df_inj['Season'] = i
        df4 = pd.concat([df4, df_inj])

    df['Date'] = pd.to_datetime(df.Date)
    df2['Date'] = pd.to_datetime(df2.Date)
    df3['Date'] = pd.to_datetime(df3.Date)
    df3 = df3[~df3[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df4['Date'] = pd.to_datetime(df4.Date)

    df3_temp = df3.rename(columns={"3PM": "TPM", "3PA": "TPA", "3P%": "TP%", "TRB": "REB"}).drop(['Pos', 'Opp'], axis=1)
    df3_temp['PR'] = df3_temp.PTS + df3_temp.REB 
    df3_temp['PA'] = df3_temp.PTS + df3_temp.AST
    df3_temp['RA'] = df3_temp.REB + df3_temp.AST
    df3_temp['PRA'] = df3_temp.PTS + df3_temp.REB + df3_temp.AST
    df3_temp['STL_BLK'] = df3_temp.STL + df3_temp.BLK
    df = df.merge(df3_temp, on=['Season', 'Date', 'Team', 'Player'], how='left')

    df_mtch = df2[['Season', 'Date', 'AwayABV', 'HomeABV', 'AwayPTS', 'HomePTS', 'AwayB2B', 'HomeB2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch['Team_type'] = 'Away'
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm', 'Team_type']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch2['Team_type'] = 'Home'
    df_mtch = pd.concat([df_mtch, df_mtch2])
    df_mtch = df_mtch[['Season', 'Date', 'Team', 'Team_type', 'AwayPTS', 'HomePTS', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch = df_mtch.sort_values(["Team", "Date"])
    df_mtch['team_game_num'] = df_mtch.groupby(["Team", "Season"]).cumcount() + 1
    df_mtch['Spread'] = np.where(df_mtch.Team_type == 'Home', df_mtch.HomePTS - df_mtch.AwayPTS, df_mtch.AwayPTS - df_mtch.HomePTS)
    df_mtch['Total'] = df_mtch.AwayPTS + df_mtch.HomePTS
    df_mtch['is_Win'] = np.where(df_mtch.Spread > 0, 1, 0)
    df_mtch['Szn_Wins'] = df_mtch.groupby(['Season', 'Team'])['is_Win'].cumsum()
    df = df.drop(['Season', 'Team_type'], axis=1).merge(df_mtch, on=['Date', 'Team'])

    df = df.merge(df4[['Date', 'Team', 'Player', 'Status']], on=['Date', 'Team', 'Player'], how='left')
    df['Status'] = np.where((df.Active == 1) & (df.Status.isnull()), 'Available', df.Status)
    df['Status'] = np.where((df.Active == 0), 'Out', df.Status)
    df['Status'] = np.where((df.Status == 'Out') & (df.Active != 0), 'Available', df.Status)
    
    return df

# Minutes Projection Model

In [5]:
def setup_df_mins(con, df):
    
    df = df[['Season', 'Date', 'Team', 'Team_type', 'Opp', 'Player', 'Pos', 'B2B', 'MP',
             'Spread', 'team_game_num', 'pstszn_gm', 'is_OT']]
    
    for col in ['MP']:
        for N in [1, 3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f'prev_team_mins_pct_L{N}'] = df[f'{col}_L{N}_avg'] / 240

    games_last_7_days = df.sort_values(['Player', 'Season', 'Date']).groupby(['Player', 'Season']).rolling('7D', on='Date', closed='left')['MP'].count().reset_index().rename(columns={"MP": "gms_L7_days"})
    games_last_7_days = games_last_7_days.drop_duplicates(
        subset=['Player', 'Season', 'Date']
    )
    df = df.merge(games_last_7_days, on=['Player', 'Season', 'Date'])
    df['gms_L7_days'] = df.gms_L7_days.fillna(0).astype(int)
        
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
      
    df['missed_games'] = (
        df.groupby(['Player', 'Team', 'Season'])['team_game_num']      
          .diff()
          .sub(1)
          .fillna(0)
          .astype(int)
    )
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 

    # Tell model games exist after players injuries/susp
    team_games = df[['Season', 'Team', 'Date', 'team_game_num']].drop_duplicates()
    players = df[['Season','Player','Team']].drop_duplicates()
    fabricated = (players.sort_values('Season').groupby('Player', as_index=False).last())
    fabricated['Season'] = fabricated['Season'] + 1
    players = pd.concat([players, fabricated], ignore_index=True).drop_duplicates(['Season','Player','Team'])
    expanded = team_games.merge(players, on=['Season', 'Team'], how='left')
    expanded = expanded.merge(df[['Season', 'Player', 'Date', 'MP']], on=['Season', 'Player', 'Date'], how='left').drop_duplicates(['Season', 'Date', 'Player','Team'])
    expanded['player_played'] = expanded['MP'].notna().astype(int)
    expanded['team_played_no_player'] = ((expanded['player_played'] == 0)).astype(int)
    expanded['tm_plays_after'] = (expanded.groupby(['Player'])['team_played_no_player'].shift(-1))
    expanded['gms_after'] = 0
    expanded['gms_after'] = np.where((expanded.player_played == 1) & (expanded.tm_plays_after == 1), 1, expanded.gms_after)
    df = df.merge(expanded[['Date', 'Team', 'Player', 'gms_after']], on=['Date', 'Team', 'Player'])
    
    df['MP_change_pct_L10'] = (df['MP_L1_avg'] - df['MP_L10_avg']) / df['MP_L10_avg']
    df['Early_stop'] = (
        (df['MP_L1_avg'] < 5) |  
        ((df.role == 1) & (df.MP_change_pct_L10 <= -0.35)) | 
        ((df.role == 2) & (df.MP_change_pct_L10 <= -0.45)) | 
        ((df.role == 3) & (df.MP_change_pct_L10 <= -0.55))
    ).astype(int)
    df['Early_stop'] = df.groupby('Player')['Early_stop'].shift(-1).fillna(0).astype(int)
    Early_stop_conds = (
                        ((((df['MP'] - df['MP_L10_avg']) / df['MP_L10_avg']) <= -0.25) & (df.gms_after == 1)) | 
                        ((df.MP < 8) & (df.role != 3))
                       )
    df['Early_stop'] = np.where(Early_stop_conds, 1, df.Early_stop)
    
    df['MP_increase'] = (
        ((df.role == 1) & (df.MP_change_pct_L10 >= 0.15)) |
        ((df.role == 2) & (df.MP_change_pct_L10 >= 0.10)) |
        ((df.role == 3) & (df.MP_change_pct_L10 >= 0.05))
    ).astype(int)
    df['MP_increase'] = df.groupby('Player')['MP_increase'].shift(-1).fillna(0).astype(int)
    MP_Inc_conds = (
                    ((((df['MP'] - df['MP_L10_avg']) / df['MP_L10_avg']) >= 0.15))
                   )
    df['MP_increase'] = np.where(MP_Inc_conds, 1, df.MP_increase)
    df['MP_increase_extreme'] = (
            ((df.MP > df.MP_L5_avg * 3))
    ).astype(int)
    
    df['Injured'] = (
            ((df.MP < df.MP_L5_avg * 0.3) & (df.role != 3) & (df.recent_role_L1 != 3) & (df.recent_role_L3 != 3) & (df.recent_role_L5 != 3) & (df.gms_after > 0))
    ).astype(int)
    df['return_game'] = ((df.groupby('Player')['Injured'].shift(1) == 1) & (df.missed_games > 0)).astype(int)
    df['games_since_return'] = (df.groupby('Player')['return_game'].cumsum())
    df['games_since_return'] = (df.groupby(['Player', 'games_since_return']).cumcount())
    df['ramp_phase'] = 0
    df.loc[df.return_game == 1, 'ramp_phase'] = 1
    df.loc[df.games_since_return.isin([1, 2, 3]), 'ramp_phase'] = 2
    df.loc[df.games_since_return >= 4, 'ramp_phase'] = 3
    df['starter_return'] = ((df.return_game == 1) & (df.role == 1)).astype(int)
    df['bench_return']   = ((df.return_game == 1) & (df.role == 2)).astype(int)
    
    # Location based features
    df["DaysLstGm"] = (df.groupby("Player")["Date"].diff().dt.days).fillna(0).astype(int)
    df['Location'] = df.apply(lambda r: r['Team'] if r['Team_type'] == 'Home' else r['Opp'], axis=1)
    df['PrevLocation'] = df.groupby('Player')['Location'].shift(1)
    df['same_arena'] = (df['PrevLocation'] == df['Location']).astype(int)

    df = df.drop(['Season', 'Team_type', 'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter', 
                  'PrevLocation', 'Location', 'gms_after', 'return_game', 'MP_change_pct_L10'], axis=1)    
    
    return df

# Main Model

In [6]:
def setup_df_main(df, tgt_stat):
    
    # Stat dependent features 
    if tgt_stat == 'PTS':
        tgt_stat_cols = ['TPM', 'FG', 'FT', 'TPA', 'FGA', 'FTA']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'TPM', 'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        # Efficiency metrics
        df['three_rate_raw'] =  np.where(df.FGA > 0, df['TPA'] / df['FGA'], 0)
        df['ft_rate_raw']    =  np.where(df.FGA > 0, df['FTA'] / df['FGA'], 0)
        df['eFG_raw'] = (df['FG'] + 0.5 * df['TPM']) / df['FGA']
        df['TS_raw'] = df['PTS'] / (2 * (df['FGA'] + 0.44 * df['FTA']))    
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        
        for w in [3, 5, 10]:
            for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
                col = f"{metric}_L{w}"
                df[col] = (
                    df.groupby(['Player','Season'])[f'{metric}_raw']
                      .rolling(w, min_periods=1)
                      .mean()
                      .shift(1)
                      .reset_index(level=[0,1], drop=True)
                )
        for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
            col = f'{metric}_weighted'
            df[col] = (
                0.6 * df[f'{metric}_L3'] +
                0.3 * df[f'{metric}_L5'] +
                0.1 * df[f'{metric}_L10']
            )
            df = df.drop(f'{metric}_raw', axis=1)
        
    elif tgt_stat == 'PRA':
        tgt_stat_cols = ['PTS', 'REB', 'AST', 'TPM', 'FG']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK', 
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        for w in [3, 5, 10]:
            df[f"usage_proxy_L{w}"] = (
                df.groupby(['Player','Season'])[f'usage_proxy_raw']
                  .rolling(w, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0,1], drop=True)
            )
        df['usage_proxy_weighted'] = (
            0.6 * df[f'usage_proxy_L3'] +
            0.3 * df[f'usage_proxy_L5'] +
            0.1 * df[f'usage_proxy_L10']
        )
        df = df.drop('usage_proxy_raw', axis=1)
        
        
    else:
        tgt_stat_cols = []
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
          f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
          f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]

    
    # Create rolling + lag features    
    for col in ['MP'] + tgt_stat_cols:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [1, 3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )

    # Role identifiers features
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.sort_values(['Player', 'Date']).groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 
    
    for col in categories + ['Season', 'FG', 'FGA', 'FT', 'FTA', 'TPM', 'TPA', 
                             'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter'] + tgt_stat_cols:
        if col == tgt_stat:
            continue
        if col in df.columns:
            df = df.drop(col, axis=1)
        
    return df

### Today's predictions

In [7]:
def generate_predictions(tgt_stat):
    team_encoder = LabelEncoder()
    player_encoder = LabelEncoder()
    team_type_encoder = LabelEncoder()
    position_encoder = LabelEncoder()
    status_encoder = LabelEncoder()
    
    df_pred = create_base_df()
    
    # Encode string cols
    team_encoder.fit(pd.concat([df_pred["Team"], df_pred["Opp"]], axis=0))
    df_pred["Team"] = team_encoder.transform(df_pred["Team"])
    df_pred["Opp"] = team_encoder.transform(df_pred["Opp"])
    df_pred["Player"] = player_encoder.fit_transform(df_pred["Player"])
    df_pred["Pos"] = position_encoder.fit_transform(df_pred["Pos"])
    df_pred['Team_type'] = team_type_encoder.fit_transform(df_pred['Team_type'])
    df_pred["Status"] = status_encoder.fit_transform(df_pred["Status"])
    
    mins_model = xgb.XGBRegressor()
    mins_model.load_model("../ML_models/mins_model.json")
    stat_model = xgb.XGBRegressor()
    stat_model.load_model(f"../ML_models/{tgt_stat}_model.json")
    
    df_lines = pd.read_csv(f"../tables/2025/parlay_lines.csv")
    df_lines['Date'] = pd.to_datetime(df_lines.Date)
    df_lines = df_lines[~(df_lines.Team.isnull())]

    # Predict Mins
    df_lines["Team"] = team_encoder.transform(df_lines["Team"])
    df_pred = df_pred.merge(df_lines[['Date', 'Team', 'Spread', 'Total']], on=['Date', 'Team'], how='left')
    df_pred = df_pred[~df_pred[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df_pred['Spread_x'] = np.where(df_pred.Spread_x.isnull(), df_pred.Spread_y, df_pred.Spread_x)
    df_pred['Total_x'] = np.where(df_pred.Total_x.isnull(), df_pred.Total_y, df_pred.Total_x)
    df_pred = df_pred.rename(columns={"Spread_x": "Spread", "Total_x": "Total"}).drop(['Spread_y', 'Total_y'], axis=1)
    df_pred_mins = setup_df_mins(con, df_pred)
    df_pred_mins = df_pred_mins.drop(['Date', 'MP'], axis=1)
    df_pred['MP'] = mins_model.predict(df_pred_mins)

    # Predict Stat
    df_pred = setup_df_main(df_pred, tgt_stat)
    feature_cols = [col for col in df_pred.columns if col not in ['Date', tgt_stat]]
    df_pred = df_pred[df_pred.Date == now][feature_cols]
    df_pred[f"{tgt_stat}_proj"] = stat_model.predict(df_pred)

    df_pred['Team'] = team_encoder.inverse_transform(df_pred["Team"])
    df_lines['Team'] = team_encoder.inverse_transform(df_lines["Team"])
    df_pred['Opp'] = team_encoder.inverse_transform(df_pred["Opp"])
    df_pred['Player'] = player_encoder.inverse_transform(df_pred["Player"])
    df_pred['Pos'] = position_encoder.inverse_transform(df_pred["Pos"])

    df_lines = df_lines[df_lines.Date == now][['Team', 'Player', f'{tgt_stat}_line']]
    df_pred = df_pred.merge(df_lines, on=['Team', 'Player'])

    tds_picks = df_pred[~(df_pred[f'{tgt_stat}_line'].isnull())]\
                [['Team', 'Player', 'Pos', 'Opp', 'MP', 'MP_L5_avg', f'{tgt_stat}_line', f'{tgt_stat}_proj']]
    tds_picks['Diff'] = abs((df_pred[f'{tgt_stat}_line'] - df_pred[f'{tgt_stat}_proj']))
    tds_picks['Diff2'] = abs((df_pred['MP'] - df_pred['MP_L5_avg']))
    tds_picks = tds_picks.sort_values('Diff', ascending=False).drop(['Diff', 'Diff2'], axis=1)
    if tds_picks.shape[0] >= 50:
        print(tds_picks.shape[0], 'rows')
        for tm in tds_picks.Team.unique():
            display(tds_picks[tds_picks.Team == tm])
    else:
        display(tds_picks)
    tds_picks.insert(0, 'Date', pd.to_datetime(now))
    partition_save_df(tds_picks, f"../tables/2025/gmday_preds_{tgt_stat}.csv")

In [8]:
try: 
    generate_predictions('PTS')
except Exception as e:
    email('PTS', e)
    raise Exception(e)

136 rows

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
119,NYK,Karl-Anthony Towns,C,LAC,25.418131,27.968252,20.5,13.629133
102,NYK,OG Anunoby,PF,LAC,34.714481,34.638310,14.5,17.234148
41,NYK,Jordan Clarkson,SG,LAC,17.566347,20.903836,7.5,5.296519
14,NYK,Jalen Brunson,PG,LAC,35.410034,35.536531,29.5,27.398628
66,NYK,Mikal Bridges,SF,LAC,35.154930,33.473735,14.5,13.099986
33,NYK,Miles McBride,SG,LAC,26.663017,25.976039,11.5,12.803873

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
10   UTA    Keyonte George  PG  OKC  32.887249  34.970664      22.5  29.306149
95   UTA   Lauri Markkanen  PF  OKC  32.891556  35.409741      23.5  28.203300
133  UTA      Jusuf Nurkic   C  OKC  26.653334  29.704447      10.5  15.032437
85   UTA  Brice Sensabaugh  SF  OKC  23.240412  28.154901      10.5  13.051167
87   UTA    Svi Mykhailiuk  SF  OKC  17.301218  19.789931       7.5   6.164679
83   UTA        Ace Bailey  SF  OKC  21.594389  24.214221       9.5   9.212543

    Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
136  DET        Paul Reed   C  CHI  10.220056  12.914233      10.5   4.082029
124  DET   Isaiah Stewart   C  CHI  23.912739  26.466310      12.5   7.085348
77   DET   Ausar Thompson  SF  CHI  21.809126  23.911486      12.5   8.396903
74   DET  Duncan Robinson  SF  CHI  23.666088  25.944820      10.5   7.860179
0    DET  Cade Cunningham  PG  CHI  34.983139  34.054297      27.5  26.771181

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
80  DEN     Peyton Watson  SF  BOS  35.263195  35.199145      14.5  20.325747
47  DEN  Tim Hardaway Jr.  SG  BOS  30.206720  29.875558      13.5  17.260395
97  DEN      Aaron Gordon  PF  BOS  22.346188  20.720673      14.5  15.137122
7   DEN      Jamal Murray  PG  BOS  37.149155  35.270605      26.5  27.073259
51  DEN   Christian Braun  SG  BOS  24.476143  23.796165       9.5   9.827950

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
90,OKC,Chet Holmgren,PF,UTA,26.411642,27.422789,19.5,13.770250
27,OKC,Jalen Williams,SG,UTA,27.825006,29.224517,20.5,17.401573
2,OKC,Shai Gilgeous-Alexander,PG,UTA,30.076431,30.397332,30.5,27.871874
84,OKC,Luguentz Dort,SF,UTA,23.670038,23.686372,9.5,9.534127

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
64,LAL,LeBron James,SF,SAS,33.643810,32.274397,21.5,26.725763
1,LAL,Luka Doncic,PG,SAS,36.420967,34.077920,34.5,38.953827
112,LAL,Jake LaRavia,PF,SAS,30.977638,31.586243,12.5,15.024733
121,LAL,Deandre Ayton,C,SAS,29.355761,29.609323,15.5,13.014157
115,LAL,Jarred Vanderbilt,PF,SAS,21.095018,25.526736,6.5,5.128148
46,LAL,Marcus Smart,SG,SAS,29.883909,29.767758,10.5,10.883943

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
91,MIL,Giannis Antetokounmpo,PF,GSW,24.847832,27.407869,30.5,25.872841
5,MIL,Ryan Rollins,PG,GSW,30.875505,32.918232,15.5,18.019644
105,MIL,Kyle Kuzma,PF,GSW,25.323456,24.589819,8.5,10.341438
4,MIL,Kevin Porter Jr.,PG,GSW,37.363121,35.679162,16.5,17.769377
103,MIL,Bobby Portis,PF,GSW,21.157772,22.977953,12.5,13.143815
131,MIL,Myles Turner,C,GSW,28.613869,27.269765,10.5,10.549806

    Team         Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
59   LAC  Kawhi Leonard  SF  NYK  37.164162  33.624586      28.5  33.099724
128  LAC    Ivica Zubac   C  NYK  25.694872  26.116866      12.5   9.363930
113  LAC  Nicolas Batum  PF  NYK  21.013927  24.682108       5.5   6.667963
24   LAC      Kris Dunn  PG  NYK  28.292395  27.639977       8.5   7.450504
100  LAC   John Collins  PF  NYK  27.186213  25.725781      11.5  11.643245
8    LAC   James Harden  PG  NYK  34.215279  32.575973      23.5  23.526175

    Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
63   NOP  Trey Murphy III  SF  ATL  36.214931  34.375626      20.5  25.002705
19   NOP   Jeremiah Fears  PG  ATL  23.220226  25.255915      13.5  11.720985
94   NOP  Zion Williamson  PF  ATL  27.167345  28.832938      23.5  22.169989
122  NOP      Derik Queen   C  ATL  27.337450  26.840673      13.5  12.303322

    Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
62   POR      Deni Avdija  SF  HOU  36.238327  32.687679      25.5  29.672171
36   POR   Shaedon Sharpe  SG  HOU  29.511538  30.009202      21.5  17.841627
98   POR   Toumani Camara  PF  HOU  35.084595  31.847463      12.5  15.737484
132  POR  Donovan Clingan   C  HOU  29.616856  27.924483      11.5  13.037983
142  POR  Robert Williams   C  HOU  10.931832  14.842769       4.5   5.259176

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
67,SAS,Keldon Johnson,SF,LAL,21.066795,24.309050,12.5,8.373151
139,SAS,Luke Kornet,C,LAL,24.124769,26.065960,7.5,11.475491
49,SAS,Dylan Harper,SG,LAL,18.243668,20.765237,10.5,7.928420
6,SAS,De'Aaron Fox,PG,LAL,31.290802,32.928745,20.5,18.250418
99,SAS,Harrison Barnes,PF,LAL,24.153889,26.254172,9.5,7.612559
13,SAS,Stephon Castle,PG,LAL,30.534046,32.861307,18.5,17.401133
120,SAS,Victor Wembanyama,C,LAL,22.162130,23.611677,20.5,21.293417
73,SAS,Julian Champagnie,SF,LAL,25.635538,28.893435,12.5,12.710593

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
117,ATL,Kristaps Porzingis,C,NOP,18.289127,19.543835,15.5,12.012559
82,ATL,Zaccharie Risacher,SF,NOP,21.023766,24.141245,11.5,8.993431
38,ATL,Dyson Daniels,SG,NOP,35.113865,33.431391,12.5,14.887704
118,ATL,Onyeka Okongwu,C,NOP,34.100727,33.067563,16.5,18.284006
26,ATL,Nickeil Alexander-Walker,SG,NOP,33.701115,33.173244,21.5,22.713591
69,ATL,Jalen Johnson,SF,NOP,35.955429,34.083932,24.5,23.842770

    Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
3    PHI    Tyrese Maxey  PG  WAS  37.973728  39.470015      28.5  31.849409
116  PHI     Joel Embiid   C  WAS  33.429287  35.307968      25.5  26.483231
30   PHI  Quentin Grimes  SG  WAS  31.663439  35.323532      12.5  13.435588
93   PHI     Paul George  PF  WAS  33.281384  33.525457      15.5  15.010700

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
130,TOR,Sandro Mamukelashvili,C,CHO,22.043751,21.729084,11.5,8.564200
70,TOR,RJ Barrett,SF,CHO,27.714420,26.520086,18.5,15.577958
106,TOR,Collin Murray-Boyles,PF,CHO,21.274471,26.283138,9.5,7.068712
9,TOR,Immanuel Quickley,PG,CHO,32.550373,33.632972,16.5,18.205616
21,TOR,Jamal Shead,PG,CHO,18.602982,24.581720,6.5,5.150596
65,TOR,Brandon Ingram,SF,CHO,35.299683,35.951936,22.5,23.199450
88,TOR,Scottie Barnes,PF,CHO,35.701660,35.652173,18.5,18.999649

    Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
75   CHO    Kon Knueppel  SF  TOR  30.791437  27.892814      18.5  21.398834
37   CHO   Collin Sexton  SG  TOR  18.828787  24.003788      12.5  10.938158
138  CHO  Moussa Diabate   C  TOR  24.489223  28.329162       8.5   9.869863
16   CHO     LaMelo Ball  PG  TOR  25.504196  25.144357      17.5  16.189758
72   CHO  Brandon Miller  SF  TOR  33.102226  33.772249      20.5  21.746790
89   CHO   Miles Bridges  PF  TOR  31.505215  27.492597      18.5  18.096970

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
107  HOU        Tari Eason  PF  POR  21.471571  24.628492      14.5  11.613024
137  HOU      Steven Adams   C  POR  19.022079  23.406070       7.5   5.676579
15   HOU     Reed Sheppard  PG  POR  25.503744  29.138198      12.5  10.970814
78   HOU     Amen Thompson  SF  POR  36.134552  34.754273      18.5  17.397259
144  HOU      Clint Capela   C  POR   9.936342  14.101350       4.5   4.051224
96   HOU  Jabari Smith Jr.  PF  POR  35.822731  34.153141      14.5  14.785775
68   HOU      Kevin Durant  SF  POR  36.782055  35.060415      27.5  27.775976

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
25,GSW,De'Anthony Melton,PG,MIL,18.970699,24.893341,9.5,7.040936
56,GSW,Gary Payton II,SG,MIL,11.766957,15.423763,6.5,4.187551
43,GSW,Brandin Podziemski,SG,MIL,25.401625,25.235737,10.5,8.503219
109,GSW,Draymond Green,PF,MIL,23.321957,23.791418,7.5,9.492290
71,GSW,Jimmy Butler,SF,MIL,33.025356,31.872622,19.5,17.519258
45,GSW,Moses Moody,SG,MIL,20.798012,21.003668,8.5,6.930648
143,GSW,Al Horford,C,MIL,14.686848,16.075819,5.5,6.571350
11,GSW,Stephen Curry,PG,MIL,34.103653,32.555374,27.5,27.782446
111,GSW,Quinten Post,PF,MIL,15.596614,17.935477,6.5,6.470754

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
31   BOS     Derrick White  SG  DEN  36.259926  35.026318      18.5  20.803385
58   BOS      Jaylen Brown  SF  DEN  31.243650  31.910637      31.5  33.775078
40   BOS   Anfernee Simons  SG  DEN  23.526993  25.429866      13.5  11.824767
129  BOS     Neemias Queta   C  DEN  22.463114  24.442662      10.5  10.691746
20   BOS  Payton Pritchard  PG  DEN  34.561871  34.830766      16.5  16.349417
108  BOS        Sam Hauser  PF  DEN  18.006819  19.812134       8.5   8.474862

    Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
126  CHI  Nikola Vucevic   C  DET  32.555092  32.456134      17.5  19.789835
22   CHI       Tre Jones  PG  DET  23.565140  27.862227      10.5   8.454865
53   CHI     Isaac Okoro  SG  DET  21.669153  26.507420       8.5   6.482211
76   CHI   Kevin Huerter  SF  DET  20.933666  24.609046      11.5  10.325619
104  CHI   Matas Buzelis  PF  DET  27.006990  28.626534      16.5  16.095514

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
57,ORL,Jase Richardson,SG,BRK,15.695148,17.927503,8.5,6.239549
23,ORL,Anthony Black,PG,BRK,31.416330,31.149664,18.5,16.406134
34,ORL,Desmond Bane,SG,BRK,33.302887,33.039048,20.5,19.852974
92,ORL,Paolo Banchero,PF,BRK,34.667957,32.825420,23.5,24.012596
127,ORL,Wendell Carter Jr.,C,BRK,29.223541,29.159538,12.5,12.324406

   Team             Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
28  WAS        CJ McCollum  SG  PHI  32.507729  32.771480      18.5  20.637760
39  WAS        Tre Johnson  SG  PHI  21.659426  26.057570      13.5  12.072634
44  WAS    Bilal Coulibaly  SG  PHI  26.647116  27.502098      10.5  11.877731
86  WAS  Justin Champagnie  SF  PHI  20.921730  25.044558       9.5   9.753480

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
35,MEM,Jaylen Wells,SG,PHO,28.825695,29.185033,12.5,14.049296
123,MEM,Jaren Jackson Jr.,C,PHO,33.462471,34.612869,21.5,20.236261
12,MEM,Ja Morant,PG,PHO,25.018497,29.126262,18.5,17.293055
101,MEM,Santi Aldama,PF,PHO,30.512335,32.068356,14.5,15.584784
135,MEM,Jock Landale,C,PHO,19.064171,17.318857,11.5,11.714993

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
60   PHO     Dillon Brooks  SF  MEM  31.764889  29.437185      19.5  20.965014
79   PHO     Royce O'Neale  SF  MEM  29.208702  28.966913       8.5   7.246173
17   PHO  Collin Gillespie  PG  MEM  28.333508  30.070752      12.5  13.603590
125  PHO     Mark Williams   C  MEM  18.500383  18.793784      10.5   9.851079
32   PHO      Devin Booker  SG  MEM  33.558994  32.494841      26.5  26.180977
42   PHO     Grayson Allen  SG  MEM  25.543896  26.190105      11.5  11.430896

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
54,BRK,Terance Mann,SG,ORL,25.540411,26.101081,6.5,7.774704
61,BRK,Michael Porter Jr.,SF,ORL,33.613499,32.328832,24.5,23.245279
114,BRK,Danny Wolf,PF,ORL,20.031736,21.546420,6.5,7.740955
140,BRK,Day'Ron Sharpe,C,ORL,18.763844,20.435106,7.5,8.520660
110,BRK,Noah Clowney,PF,ORL,27.669130,29.401221,11.5,12.263878

../tables/2025/gmday_preds_PTS.csv saved!

In [9]:
try: 
    generate_predictions('PRA')
except Exception as e:
    email('PRA', e)
    raise Exception(e)

87 rows

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
2,OKC,Shai Gilgeous-Alexander,PG,UTA,30.076431,30.397332,41.5,32.825485
27,OKC,Jalen Williams,SG,UTA,27.825006,29.224517,32.5,24.764547

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
119,NYK,Karl-Anthony Towns,C,LAC,25.418131,27.968252,34.5,27.160053
14,NYK,Jalen Brunson,PG,LAC,35.410034,35.536531,39.5,33.820030
102,NYK,OG Anunoby,PF,LAC,34.714481,34.638310,22.5,26.225801
66,NYK,Mikal Bridges,SF,LAC,35.154930,33.473735,22.5,21.653362
33,NYK,Miles McBride,SG,LAC,26.663017,25.976039,16.5,16.092081

    Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
62   POR      Deni Avdija  SF  HOU  36.238327  32.687679      41.5  48.386162
36   POR   Shaedon Sharpe  SG  HOU  29.511538  30.009202      28.5  24.041140
98   POR   Toumani Camara  PF  HOU  35.084595  31.847463      20.5  24.503727
132  POR  Donovan Clingan   C  HOU  29.616856  27.924483      24.5  26.390930

   Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
16  CHO     LaMelo Ball  PG  TOR  25.504196  25.144357      30.5  23.625305
72  CHO  Brandon Miller  SF  TOR  33.102226  33.772249      28.5  31.532982
89  CHO   Miles Bridges  PF  TOR  31.505215  27.492597      28.5  30.343830
75  CHO    Kon Knueppel  SF  TOR  30.791437  27.892814      27.5  27.871147

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
91,MIL,Giannis Antetokounmpo,PF,GSW,24.847832,27.407869,46.5,39.969471
5,MIL,Ryan Rollins,PG,GSW,30.875505,32.918232,24.5,28.272747
4,MIL,Kevin Porter Jr.,PG,GSW,37.363121,35.679162,29.5,32.900074

    Team         Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
128  LAC    Ivica Zubac   C  NYK  25.694872  26.116866      26.5  20.466160
59   LAC  Kawhi Leonard  SF  NYK  37.164162  33.624586      38.5  42.638531
8    LAC   James Harden  PG  NYK  34.215279  32.575973      36.5  33.784317
24   LAC      Kris Dunn  PG  NYK  28.292395  27.639977      15.5  15.070951

   Team             Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
88  TOR     Scottie Barnes  PF  CHO  35.701660  35.652173      33.5  39.517452
70  TOR         RJ Barrett  SF  CHO  27.714420  26.520086      26.5  23.501617
9   TOR  Immanuel Quickley  PG  CHO  32.550373  33.632972      26.5  24.025389
65  TOR     Brandon Ingram  SF  CHO  35.299683  35.951936      32.5  33.581280

    Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
10   UTA   Keyonte George  PG  OKC  32.887249  34.970664      32.5  38.365601
133  UTA     Jusuf Nurkic   C  OKC  26.653334  29.704447      24.5  30.111351
95   UTA  Lauri Markkanen  PF  OKC  32.891556  35.409741      31.5  36.034893

   Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
80  DEN    Peyton Watson  SF  BOS  35.263195  35.199145      22.5  27.705791
7   DEN     Jamal Murray  PG  BOS  37.149155  35.270605      40.5  42.092155
97  DEN     Aaron Gordon  PF  BOS  22.346188  20.720673      21.5  20.333754
51  DEN  Christian Braun  SG  BOS  24.476143  23.796165      15.5  14.631770

    Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
63   NOP  Trey Murphy III  SF  ATL  36.214931  34.375626      29.5  34.667202
94   NOP  Zion Williamson  PF  ATL  27.167345  28.832938      33.5  28.341585
19   NOP   Jeremiah Fears  PG  ATL  23.220226  25.255915      20.5  18.641262
122  NOP      Derik Queen   C  ATL  27.337450  26.840673      25.5  25.363108

    Team        Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
64   LAL  LeBron James  SF  SAS  33.643810  32.274397      34.5  39.647339
1    LAL   Luka Doncic  PG  SAS  36.420967  34.077920      51.5  56.643864
112  LAL  Jake LaRavia  PF  SAS  30.977638  31.586243      20.5  22.779108
46   LAL  Marcus Smart  SG  SAS  29.883909  29.767758      17.5  18.240767

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
49,SAS,Dylan Harper,SG,LAL,18.243668,20.765237,17.5,12.845821
120,SAS,Victor Wembanyama,C,LAL,22.162130,23.611677,31.5,29.952051
6,SAS,De'Aaron Fox,PG,LAL,31.290802,32.928745,29.5,27.972755
13,SAS,Stephon Castle,PG,LAL,30.534046,32.861307,30.5,30.296696

  Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
0  DET  Cade Cunningham  PG  CHI  34.983139  34.054297      44.5  40.392975

    Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
3    PHI    Tyrese Maxey  PG  WAS  37.973728  39.470015      40.5  44.527180
116  PHI     Joel Embiid   C  WAS  33.429287  35.307968      37.5  40.523262
30   PHI  Quentin Grimes  SG  WAS  31.663439  35.323532      20.5  19.004560
93   PHI     Paul George  PF  WAS  33.281384  33.525457      25.5  24.316935

    Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
22   CHI       Tre Jones  PG  DET  23.565140  27.862227      20.5  16.588793
126  CHI  Nikola Vucevic   C  DET  32.555092  32.456134      32.5  36.257221
76   CHI   Kevin Huerter  SF  DET  20.933666  24.609046      18.5  19.719959

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
54,BRK,Terance Mann,SG,ORL,25.540411,26.101081,12.5,16.109190
114,BRK,Danny Wolf,PF,ORL,20.031736,21.546420,12.5,13.445261
61,BRK,Michael Porter Jr.,SF,ORL,33.613499,32.328832,35.5,36.073090

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
11,GSW,Stephen Curry,PG,MIL,34.103653,32.555374,36.5,32.923794
25,GSW,De'Anthony Melton,PG,MIL,18.970699,24.893341,14.5,11.503067
71,GSW,Jimmy Butler,SF,MIL,33.025356,31.872622,30.5,32.119083
43,GSW,Brandin Podziemski,SG,MIL,25.401625,25.235737,17.5,18.477087
109,GSW,Draymond Green,PF,MIL,23.321957,23.791418,18.5,17.854939

   Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
15  HOU     Reed Sheppard  PG  POR  25.503744  29.138198      18.5  15.307433
68  HOU      Kevin Durant  SF  POR  36.782055  35.060415      37.5  38.376148
78  HOU     Amen Thompson  SF  POR  36.134552  34.754273      31.5  30.963001
96  HOU  Jabari Smith Jr.  PF  POR  35.822731  34.153141      24.5  24.318882

   Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
28  WAS      CJ McCollum  SG  PHI  32.507729  32.771480      26.5  29.364847
39  WAS      Tre Johnson  SG  PHI  21.659426  26.057570      19.5  18.302374
44  WAS  Bilal Coulibaly  SG  PHI  26.647116  27.502098      19.5  20.306913

   Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
31  BOS     Derrick White  SG  DEN  36.259926  35.026318      30.5  33.324642
20  BOS  Payton Pritchard  PG  DEN  34.561871  34.830766      26.5  25.011896
58  BOS      Jaylen Brown  SF  DEN  31.243650  31.910637      42.5  41.489773
40  BOS   Anfernee Simons  SG  DEN  23.526993  25.429866      18.5  17.946234

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
12,MEM,Ja Morant,PG,PHO,25.018497,29.126262,28.5,26.077026
101,MEM,Santi Aldama,PF,PHO,30.512335,32.068356,24.5,26.736925
123,MEM,Jaren Jackson Jr.,C,PHO,33.462471,34.612869,29.5,27.346252
35,MEM,Jaylen Wells,SG,PHO,28.825695,29.185033,18.5,17.987122

   Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
32  PHO      Devin Booker  SG  MEM  33.558994  32.494841      36.5  34.297630
60  PHO     Dillon Brooks  SF  MEM  31.764889  29.437185      25.5  23.900448
17  PHO  Collin Gillespie  PG  MEM  28.333508  30.070752      21.5  20.535543
79  PHO     Royce O'Neale  SF  MEM  29.208702  28.966913      16.5  17.464403

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
38,ATL,Dyson Daniels,SG,NOP,35.113865,33.431391,26.5,28.244537
26,ATL,Nickeil Alexander-Walker,SG,NOP,33.701115,33.173244,29.5,28.590645
118,ATL,Onyeka Okongwu,C,NOP,34.100727,33.067563,27.5,28.345449
69,ATL,Jalen Johnson,SF,NOP,35.955429,34.083932,44.5,44.377132

   Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
23  ORL   Anthony Black  PG  BRK  31.416330  31.149664      26.5  25.046644
92  ORL  Paolo Banchero  PF  BRK  34.667957  32.825420      37.5  37.097179
34  ORL    Desmond Bane  SG  BRK  33.302887  33.039048      29.5  29.882599

../tables/2025/gmday_preds_PRA.csv saved!