In [12]:
import pandas as pd
import time
import duckdb
import numpy as np
import os

folders = os.listdir('../tables/')
df = pd.DataFrame()
for yr in folders:
    df_temp = pd.read_csv(f"../tables/{yr}/season_gamelogs.csv")
    df_temp.insert(0, 'Season', int(yr))
    df = pd.concat([df, df_temp])
df = df.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df['Date'] = pd.to_datetime(df.Date)
df['PRA'] = df.PTS + df.REB + df.AST

con = duckdb.connect(database=':memory:')
pd.set_option('display.max_columns', None)

In [17]:
def player_influencer(player, team):
    df = pd.read_csv("../tables/2025/season_gamelogs.csv")
    frst_nm = player.split(" ")[0]
    df2 = con.execute(f"""SELECT DISTINCT game_id FROM df WHERE Player = '{player}'""").fetchdf()
    gms_plyd = len(df2.game_id.tolist())
    print(f"{player} has played {gms_plyd} games for {team}")
    
    for stat in ["PTS", "AST", "TRB"]:

        b4 = con.execute(f"""SELECT * FROM
                             (SELECT *, 
                              CASE WHEN game_id IN ({str(df2.game_id.unique().tolist()).replace("[", "").replace("]", "")}) THEN 1 ELSE 0 END as {frst_nm}_played 
                              FROM df)
                             WHERE {frst_nm}_played = 0 AND game_id LIKE '%{team}%' AND Team = '{team}'""").fetchdf()
        b4 = con.execute(f"""SELECT Player, Pos, AVG({stat}) as {stat} FROM b4 GROUP BY Player, Pos ORDER BY {stat} DESC""").fetchdf()

        aftr = con.execute(f"""SELECT * FROM
                             (SELECT *, 
                              CASE WHEN game_id IN ({str(df2.game_id.unique().tolist()).replace("[", "").replace("]", "")}) THEN 1 ELSE 0 END as {frst_nm}_played 
                              FROM df)
                             WHERE {frst_nm}_played = 1 AND game_id LIKE '%{team}%' AND Team = '{team}'""").fetchdf()
        aftr = con.execute(f"""SELECT Player, Pos, AVG({stat}) as {stat} FROM aftr GROUP BY Player, Pos ORDER BY {stat} DESC""").fetchdf()

        display(con.execute(f"""SELECT b4.Player, b4.Pos, b4.{stat} as {stat}_Wo_{frst_nm}, aftr.{stat} as {stat}_W_{frst_nm}, b4.{stat} - {stat}_W_{frst_nm} as diff FROM b4 
                               JOIN aftr ON b4.Player = aftr.Player
                               WHERE b4.Player != '{player}'
                               ORDER BY diff DESC""").fetchdf())
    
player_influencer('Trae Young', 'ATL')

Trae Young has played 5 games for ATL

                      Player   Pos  PTS_Wo_Trae  PTS_W_Trae      diff
0                 Vit Krejci    PG    11.090909    3.600000  7.490909
1              Dyson Daniels    SG     9.909091    5.400000  4.509091
2         Zaccharie Risacher    SF    12.727273    8.666667  4.060606
3             Keaton Wallace  None     5.700000    2.200000  3.500000
4             Onyeka Okongwu     C    17.909091   15.200000  2.709091
5              Caleb Houstan  None     1.272727    0.000000  1.272727
6   Nickeil Alexander-Walker    SG    17.300000   16.200000  1.100000
7              Jalen Johnson    SF    21.363636   20.500000  0.863636
8               N'Faly Dante     C     0.333333    0.200000  0.133333
9               Luke Kennard    SG     8.222222    8.200000  0.022222
10              Jacob Toppin  None     0.800000    1.000000 -0.200000
11                Asa Newell    PF     2.727273    3.400000 -0.672727
12            Mouhamed Gueye    PF     6.272727    7.400000 -1.127273
13        Kristaps Porzingis     C    10.555556   20.333333 -9.777778

                      Player   Pos  AST_Wo_Trae  AST_W_Trae      diff
0              Dyson Daniels    SG     6.909091    3.000000  3.909091
1              Jalen Johnson    SF     7.454545    4.250000  3.204545
2             Keaton Wallace  None     3.700000    1.800000  1.900000
3         Zaccharie Risacher    SF     1.818182    0.000000  1.818182
4                 Vit Krejci    PG     1.909091    0.400000  1.509091
5   Nickeil Alexander-Walker    SG     3.400000    3.200000  0.200000
6              Caleb Houstan  None     0.181818    0.000000  0.181818
7             Onyeka Okongwu     C     2.545455    2.400000  0.145455
8               N'Faly Dante     C     0.000000    0.000000  0.000000
9               Jacob Toppin  None     0.000000    0.000000  0.000000
10            Mouhamed Gueye    PF     1.363636    1.400000 -0.036364
11                Asa Newell    PF     0.000000    0.200000 -0.200000
12              Luke Kennard    SG     1.666667    2.400000 -0.733333
13        Kristaps Porzingis     C     2.444444    3.666667 -1.222222

                      Player   Pos  TRB_Wo_Trae  TRB_W_Trae      diff
0              Jalen Johnson    SF    10.272727    7.000000  3.272727
1                 Vit Krejci    PG     2.181818    0.800000  1.381818
2             Keaton Wallace  None     2.200000    1.000000  1.200000
3         Zaccharie Risacher    SF     2.727273    1.666667  1.060606
4             Mouhamed Gueye    PF     4.363636    3.600000  0.763636
5              Dyson Daniels    SG     5.818182    5.400000  0.418182
6              Caleb Houstan  None     0.272727    0.000000  0.272727
7               Jacob Toppin  None     0.200000    0.000000  0.200000
8               Luke Kennard    SG     2.000000    2.200000 -0.200000
9   Nickeil Alexander-Walker    SG     2.500000    2.800000 -0.300000
10        Kristaps Porzingis     C     4.000000    5.000000 -1.000000
11                Asa Newell    PF     0.636364    2.000000 -1.363636
12              N'Faly Dante     C     0.000000    1.400000 -1.400000
13            Onyeka Okongwu     C     6.909091    9.200000 -2.290909

In [9]:
for tm in ['NOP']:
    print(tm)
    display(con.execute(f"""SELECT Date, Team, Player, Pos, AVG(Fpts) as Fpts FROM df 
                            WHERE Opp = '{tm}' AND Season = 2025 AND Pos IN ('C') AND MP >= 27
                            GROUP BY Date, Team, Player, Pos
                            ORDER BY Fpts DESC""").fetchdf())
    display(con.execute(f"""SELECT * FROM df 
                        WHERE Opp = '{tm}' AND Season = 2025 AND Pos IN ('C') AND Fpts >= 20 AND MP >= 27
                        ORDER BY Fpts DESC""").fetchdf())

NOP

         Date Team             Player Pos  Fpts
0  10/24/2025  SAS  Victor Wembanyama   C  48.5
1  10/29/2025  DEN       Nikola Jokic   C  38.0
2  11/08/2025  SAS  Victor Wembanyama   C  35.0
3  11/14/2025  LAL      Deandre Ayton   C  31.0
4  11/04/2025  CHO   Ryan Kalkbrenner   C  27.0
5  10/24/2025  SAS        Luke Kornet   C  26.0
6  10/31/2025  LAC        Ivica Zubac   C  26.0
7  11/12/2025  POR    Donovan Clingan   C  17.5

,Season,game_id,Date,Team,Team_type,Opp,Opp_type,Player,Pos,Active,MP,FG,FGA,FG%,TPM,TPA,3P%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,DD,TD,Fpts,PRA
0,2025,20251024_SAS_NOP,10/24/2025,SAS,Away,NOP,Home,Victor Wembanyama,C,1,32.30,13,23,0.565,0,3,0.000,3,4,0.75,3,8,11,2,1,9,0,6,29,28.5,-12,1,0,48.5,42
1,2025,20251029_NOP_DEN,10/29/2025,DEN,Home,NOP,Away,Nikola Jokic,C,1,27.55,10,15,0.667,1,2,0.500,0,0,0.00,2,10,12,10,2,0,2,4,21,24.3,25,1,1,38.0,43
2,2025,20251108_NOP_SAS,11/08/2025,SAS,Home,NOP,Away,Victor Wembanyama,C,1,32.45,8,19,0.421,2,9,0.222,0,0,0.00,0,18,18,3,1,3,5,2,18,12.7,5,1,0,35.0,39
3,2025,20251114_LAL_NOP,11/14/2025,LAL,Away,NOP,Home,Deandre Ayton,C,1,35.57,10,11,0.909,0,0,0.000,0,0,0.00,3,13,16,2,2,1,4,5,20,20.4,35,1,0,31.0,38
4,2025,20251104_CHO_NOP,11/04/2025,CHO,Away,NOP,Home,Ryan Kalkbrenner,C,1,30.15,4,4,1.000,0,0,0.000,2,2,1.00,6,5,11,2,1,4,2,4,10,16.1,8,1,0,27.0,23
5,2025,20251024_SAS_NOP,10/24/2025,SAS,Away,NOP,Home,Luke Kornet,C,1,34.55,6,9,0.667,0,0,0.000,2,4,0.50,9,3,12,4,0,1,0,1,14,19.6,11,1,0,26.0,30
6,2025,20251031_NOP_LAC,10/31/2025,LAC,Home,NOP,Away,Ivica Zubac,C,1,33.62,5,7,0.714,0,0,0.000,4,4,1.00,1,10,11,1,0,3,0,5,14,15.6,2,1,0,26.0,26

# Defensive Stats

In [18]:
stats = ["PTS", "AST", "REB", "STL", "BLK", "PRA", "TD"]
query_str = ", ".join([f"min({s}), max({s}), AVG({s})" for s in stats])

for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
    print(pos)
    display(con.execute(f"""SELECT Opp as Team, {query_str} FROM df 
                            WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                            GROUP BY Opp
                            ORDER BY AVG(PRA)""").fetchdf())

PG

,Team,min(PTS),max(PTS),avg(PTS),min(AST),max(AST),avg(AST),min(REB),max(REB),avg(REB),min(STL),max(STL),avg(STL),min(BLK),max(BLK),avg(BLK),min(PRA),max(PRA),avg(PRA),min(TD),max(TD),avg(TD)
0,OKC,2,25,14.272727,0,10,5.636364,2,9,5.090909,0,2,1.000000,0,1,0.181818,4,40,25.000000,0,0,0.000000
1,LAL,8,30,15.833333,3,12,6.500000,0,6,3.083333,1,7,2.166667,0,2,0.500000,14,44,25.416667,0,0,0.000000
2,HOU,10,21,15.444444,2,13,7.333333,2,7,4.333333,0,2,0.888889,0,1,0.444444,19,37,27.111111,0,0,0.000000
3,CLE,6,27,16.000000,4,11,6.818182,1,9,4.363636,0,3,1.000000,0,1,0.272727,21,43,27.181818,0,0,0.000000
4,TOR,11,31,20.333333,2,7,4.777778,0,5,3.555556,0,3,1.222222,0,2,0.555556,16,42,28.666667,0,0,0.000000
5,PHI,5,29,18.222222,2,12,6.000000,2,15,5.888889,0,3,1.333333,0,1,0.333333,11,56,30.111111,0,1,0.111111
6,LAC,8,30,20.666667,0,12,5.416667,2,6,4.166667,0,4,1.416667,0,3,0.500000,21,46,30.250000,0,0,0.000000
7,CHO,8,38,20.416667,2,9,6.166667,1,8,4.083333,0,3,1.083333,0,2,0.333333,19,51,30.666667,0,0,0.000000
8,DEN,5,42,19.200000,0,13,7.200000,0,12,4.600000,0,3,1.000000,0,1,0.100000,6,55,31.000000,0,0,0.000000
9,PHO,6,30,20.000000,1,13,6.642857,0,8,4.500000,0,3,1.428571,0,2,0.500000,11,44,31.142857,0,0,0.000000
10,DET,11,33,20.181818,3,11,6.000000,1,10,5.272727,0,4,1.272727,0,1,0.090909,18,44,31.454545,0,0,0.000000
11,UTA,12,31,20.545455,3,13,7.272727,1,13,3.909091,0,3,1.545455,0,2,0.363636,21,52,31.727273,0,1,0.090909
12,NYK,8,32,17.500000,5,12,8.833333,2,11,5.833333,0,2,1.000000,0,0,0.000000,19,51,32.166667,0,1,0.166667
13,MIL,9,41,20.642857,2,14,6.000000,0,9,5.571429,0,4,1.428571,0,2,0.285714,18,56,32.214286,0,0,0.000000
14,BRK,13,34,21.428571,3,10,6.571429,0,8,4.285714,0,2,0.571429,0,1,0.142857,22,45,32.285714,0,0,0.000000
15,ATL,11,35,19.200000,0,11,6.500000,2,13,6.600000,0,3,1.400000,0,2,0.600000,13,56,32.300000,0,1,0.100000
16,IND,10,55,22.500000,2,8,5.500000,0,10,4.833333,0,2,0.833333,0,1,0.333333,22,68,32.833333,0,0,0.000000
17,SAC,11,31,21.333333,3,12,7.555556,1,9,4.111111,0,2,0.888889,0,3,0.666667,17,44,33.000000,0,0,0.000000
18,CHI,5,39,22.153846,1,17,6.846154,2,7,4.000000,0,4,1.692308,0,3,0.384615,14,49,33.000000,0,0,0.000000
19,DAL,9,41,19.222222,2,18,8.444444,2,14,5.555556,0,3,1.777778,0,2,0.444444,14,66,33.222222,0,1,0.111111
20,NOP,9,35,21.181818,2,14,7.545455,2,9,4.636364,0,3,1.181818,0,2,0.363636,17,43,33.363636,0,0,0.000000
21,SAS,10,49,23.636364,0,13,4.727273,1,10,5.090909,0,5,1.909091,0,2,0.272727,16,57,33.454545,0,0,0.000000
22,ORL,5,43,21.416667,2,13,7.000000,1,8,5.083333,0,5,1.750000,0,3,0.416667,15,55,33.500000,0,0,0.000000
23,POR,8,35,23.125000,2,13,5.500000,2,9,5.500000,0,3,1.125000,0,2,0.500000,14,48,34.125000,0,0,0.000000
24,MEM,9,44,23.600000,2,10,5.400000,0,12,5.500000,0,2,0.500000,0,1,0.300000,16,62,34.500000,0,0,0.000000
25,GSW,3,43,21.062500,1,11,7.812500,0,16,5.750000,0,3,1.375000,0,1,0.375000,4,64,34.625000,0,1,0.125000
26,BOS,3,40,24.454545,4,14,6.545455,2,8,4.727273,0,4,1.363636,0,2,0.454545,14,52,35.727273,0,0,0.000000
27,MIN,3,49,22.666667,2,14,7.111111,3,11,6.888889,0,3,0.777778,0,1,0.111111,8,68,36.666667,0,1,0.111111
28,MIA,14,37,23.000000,3,13,8.222222,4,11,7.444444,1,4,2.444444,0,4,0.666667,25,50,38.666667,0,1,0.111111
29,WAS,9,46,25.444444,3,13,8.222222,1,13,5.555556,0,5,1.777778,0,2,0.555556,16,69,39.222222,0,1,0.222222

SG

,Team,min(PTS),max(PTS),avg(PTS),min(AST),max(AST),avg(AST),min(REB),max(REB),avg(REB),min(STL),max(STL),avg(STL),min(BLK),max(BLK),avg(BLK),min(PRA),max(PRA),avg(PRA),min(TD),max(TD),avg(TD)
0,OKC,8,23,13.181818,0,4,2.363636,1,10,4.454545,0,2,0.909091,0,1,0.272727,10,30,20.000000,0,0,0.0
1,CHI,2,30,13.615385,0,8,3.384615,1,11,4.461538,0,4,1.461538,0,2,0.307692,11,41,21.461538,0,0,0.0
2,HOU,7,26,14.375000,1,6,3.125000,1,9,4.125000,0,4,1.375000,0,1,0.375000,12,34,21.625000,0,0,0.0
3,GSW,6,38,15.692308,0,9,2.923077,1,7,3.076923,0,4,1.307692,0,1,0.076923,12,45,21.692308,0,0,0.0
4,TOR,6,31,14.000000,2,8,4.071429,0,8,3.642857,0,3,0.714286,0,3,0.500000,13,43,21.714286,0,0,0.0
5,WAS,9,23,14.333333,1,8,3.000000,0,11,4.416667,0,4,1.666667,0,2,0.666667,12,33,21.750000,0,0,0.0
6,BOS,5,34,14.416667,3,7,4.333333,2,7,4.416667,0,1,0.333333,0,2,0.666667,10,44,23.166667,0,0,0.0
7,IND,5,33,16.266667,0,7,3.066667,1,9,3.866667,0,3,0.933333,0,1,0.200000,8,45,23.200000,0,0,0.0
8,DET,3,42,16.076923,1,5,2.846154,1,7,4.384615,0,4,0.692308,0,3,0.615385,6,52,23.307692,0,0,0.0
9,SAS,4,41,16.600000,0,13,3.800000,2,6,3.400000,0,3,1.000000,0,1,0.400000,8,43,23.800000,0,0,0.0
10,PHO,4,30,16.454545,1,12,3.636364,1,7,3.727273,0,3,0.909091,0,1,0.272727,9,33,23.818182,0,0,0.0
11,LAC,2,24,15.583333,0,9,4.583333,0,10,4.250000,0,3,1.333333,0,2,0.500000,6,40,24.416667,0,0,0.0
12,MIL,4,31,16.700000,1,8,3.400000,2,7,4.400000,0,5,1.100000,0,3,0.300000,7,39,24.500000,0,0,0.0
13,ATL,4,37,16.500000,1,7,4.100000,0,7,4.100000,0,2,0.900000,0,1,0.200000,12,44,24.700000,0,0,0.0
14,MIN,6,28,17.076923,0,16,4.076923,1,7,3.615385,0,2,0.769231,0,1,0.076923,10,45,24.769231,0,0,0.0
15,DEN,11,31,17.666667,0,7,3.555556,1,8,3.666667,0,3,0.888889,0,1,0.111111,15,41,24.888889,0,0,0.0
16,CHO,2,25,16.230769,2,8,4.692308,0,6,4.000000,0,7,1.461538,0,1,0.230769,6,36,24.923077,0,0,0.0
17,BRK,6,35,17.571429,1,13,4.214286,0,9,3.571429,0,3,1.642857,0,3,0.714286,11,42,25.357143,0,0,0.0
18,ORL,6,31,18.000000,0,10,3.666667,0,9,3.750000,0,3,1.250000,0,2,0.583333,12,41,25.416667,0,0,0.0
19,CLE,6,33,19.533333,1,9,3.466667,0,5,2.533333,0,4,0.666667,0,1,0.266667,8,44,25.533333,0,0,0.0
20,PHI,0,46,18.375000,1,8,3.937500,1,9,3.500000,0,3,1.000000,0,2,0.687500,6,58,25.812500,0,0,0.0
21,MEM,6,32,19.000000,1,6,3.300000,1,6,3.800000,0,3,1.300000,0,1,0.200000,11,40,26.100000,0,0,0.0
22,NOP,6,42,19.529412,0,8,3.294118,0,6,3.941176,0,3,1.117647,0,1,0.352941,13,48,26.764706,0,0,0.0
23,LAL,7,32,18.200000,0,13,4.300000,0,8,4.600000,0,4,1.400000,0,1,0.100000,16,40,27.100000,0,0,0.0
24,MIA,5,36,17.769231,1,11,3.615385,2,15,5.769231,0,3,0.692308,0,2,0.384615,10,51,27.153846,0,0,0.0
25,DAL,4,36,18.636364,1,9,4.000000,2,9,4.727273,0,4,1.636364,0,2,0.272727,13,46,27.363636,0,0,0.0
26,POR,5,41,20.272727,1,7,3.727273,1,8,3.636364,0,4,1.545455,0,1,0.181818,9,50,27.636364,0,0,0.0
27,NYK,10,38,19.785714,0,9,4.071429,1,7,3.785714,0,3,1.500000,0,2,0.214286,15,43,27.642857,0,0,0.0
28,SAC,8,51,19.909091,1,10,4.272727,0,11,4.681818,0,3,1.181818,0,4,0.454545,14,71,28.863636,0,0,0.0
29,UTA,5,36,20.428571,1,12,5.785714,1,7,4.071429,0,3,1.000000,0,2,0.928571,14,51,30.285714,0,0,0.0

SF

,Team,min(PTS),max(PTS),avg(PTS),min(AST),max(AST),avg(AST),min(REB),max(REB),avg(REB),min(STL),max(STL),avg(STL),min(BLK),max(BLK),avg(BLK),min(PRA),max(PRA),avg(PRA),min(TD),max(TD),avg(TD)
0,MIN,5,20,13.555556,0,5,2.111111,1,8,4.777778,0,4,1.111111,0,2,0.666667,15,28,20.444444,0,0,0.000000
1,SAC,10,22,14.250000,1,3,2.000000,3,5,4.250000,1,2,1.250000,0,1,0.250000,15,29,20.500000,0,0,0.000000
2,GSW,5,31,15.000000,1,6,2.000000,2,8,5.000000,0,3,1.444444,0,2,0.222222,9,38,22.000000,0,0,0.000000
3,DEN,7,23,15.125000,0,6,2.875000,3,7,4.500000,0,4,1.750000,0,1,0.250000,13,32,22.500000,0,0,0.000000
4,CHI,2,29,15.909091,0,9,3.090909,0,9,4.454545,0,3,1.090909,0,1,0.363636,2,35,23.454545,0,0,0.000000
5,PHO,7,27,15.666667,0,7,2.888889,0,10,5.000000,0,4,1.333333,0,1,0.111111,8,42,23.555556,0,0,0.000000
6,DAL,5,34,16.400000,0,7,2.650000,2,11,5.400000,0,3,1.200000,0,3,0.600000,9,49,24.450000,0,0,0.000000
7,BOS,7,27,15.818182,1,8,3.181818,2,12,6.272727,0,2,0.818182,0,1,0.272727,13,39,25.272727,0,0,0.000000
8,CHO,3,28,18.125000,1,9,3.625000,2,8,4.125000,0,3,1.000000,0,2,0.750000,7,37,25.875000,0,0,0.000000
9,BRK,7,29,17.866667,0,8,3.800000,0,9,4.800000,0,3,0.800000,0,1,0.333333,11,40,26.466667,0,0,0.000000
10,MEM,8,28,17.062500,1,8,4.125000,1,10,5.312500,0,4,0.937500,0,1,0.312500,15,45,26.500000,0,0,0.000000
11,LAC,11,33,17.571429,0,8,3.428571,2,13,5.571429,0,2,1.142857,0,2,0.428571,16,49,26.571429,0,0,0.000000
12,SAS,0,41,17.650000,1,8,3.600000,1,10,5.450000,0,3,1.300000,0,1,0.100000,9,53,26.700000,0,0,0.000000
13,NYK,9,28,18.000000,1,7,3.142857,3,9,6.000000,0,3,1.000000,0,1,0.857143,16,41,27.142857,0,0,0.000000
14,HOU,8,29,18.400000,1,9,3.600000,2,10,5.200000,0,4,1.500000,0,3,0.700000,16,38,27.200000,0,0,0.000000
15,NOP,7,34,19.142857,1,10,3.428571,1,12,4.714286,0,6,1.571429,0,2,0.285714,9,44,27.285714,0,0,0.000000
16,ORL,6,35,18.857143,0,7,3.357143,1,11,6.214286,0,3,1.000000,0,1,0.428571,10,46,28.428571,0,0,0.000000
17,POR,9,30,18.454545,1,7,3.818182,1,12,6.181818,0,2,1.090909,0,2,0.454545,15,44,28.454545,0,0,0.000000
18,PHI,9,32,18.928571,1,7,3.714286,1,17,6.071429,0,3,1.000000,0,1,0.285714,14,41,28.714286,0,0,0.000000
19,MIA,2,33,18.769231,0,10,4.384615,3,12,5.769231,0,7,1.769231,0,2,0.615385,9,52,28.923077,0,1,0.076923
20,ATL,5,34,21.000000,1,5,2.666667,2,9,5.500000,0,3,1.500000,0,1,0.250000,8,43,29.166667,0,0,0.000000
21,CLE,8,31,19.428571,0,7,3.928571,2,13,5.857143,0,3,1.428571,0,2,0.714286,12,42,29.214286,0,0,0.000000
22,WAS,10,34,20.666667,0,8,3.888889,1,9,4.888889,0,3,1.777778,0,3,0.555556,16,50,29.444444,0,0,0.000000
23,DET,10,41,23.500000,0,6,2.100000,2,7,4.000000,0,3,1.000000,0,2,0.500000,15,51,29.600000,0,0,0.000000
24,OKC,8,36,19.500000,1,9,3.833333,4,11,6.833333,0,2,0.666667,0,2,0.833333,15,48,30.166667,0,0,0.000000
25,IND,7,32,20.272727,0,8,3.818182,1,13,6.545455,0,3,1.636364,0,2,0.454545,17,46,30.636364,0,0,0.000000
26,TOR,16,31,21.375000,0,8,3.875000,2,9,5.875000,0,2,0.750000,0,3,1.000000,21,37,31.125000,0,0,0.000000
27,UTA,6,36,18.071429,0,14,5.142857,2,18,8.000000,0,7,2.357143,0,1,0.428571,11,63,31.214286,0,1,0.142857
28,MIL,9,32,21.071429,1,7,3.357143,3,11,6.928571,0,3,1.142857,0,2,0.857143,16,41,31.357143,0,0,0.000000
29,LAL,11,35,22.363636,0,9,3.454545,1,10,6.272727,0,2,1.000000,0,3,0.545455,21,43,32.090909,0,0,0.000000

PF

,Team,min(PTS),max(PTS),avg(PTS),min(AST),max(AST),avg(AST),min(REB),max(REB),avg(REB),min(STL),max(STL),avg(STL),min(BLK),max(BLK),avg(BLK),min(PRA),max(PRA),avg(PRA),min(TD),max(TD),avg(TD)
0,LAC,5,29,14.125000,0,5,2.750000,2,8,5.125000,0,3,1.250000,0,3,0.625000,11,38,22.000000,0,0,0.000000
1,NOP,7,22,14.428571,0,5,2.142857,1,11,5.428571,0,2,1.000000,0,2,0.857143,13,33,22.000000,0,0,0.000000
2,ORL,8,25,14.400000,0,4,2.500000,1,10,5.400000,0,2,0.900000,0,2,0.800000,13,39,22.300000,0,0,0.000000
3,BOS,10,28,16.600000,0,4,2.000000,2,11,6.700000,0,2,0.600000,0,2,0.400000,13,38,25.300000,0,0,0.000000
4,SAS,6,27,16.250000,0,8,3.000000,2,13,6.125000,0,3,1.000000,0,3,0.750000,13,44,25.375000,0,0,0.000000
5,GSW,6,50,17.333333,0,5,2.500000,2,12,5.750000,0,3,1.000000,0,1,0.250000,12,60,25.583333,0,0,0.000000
6,DET,4,25,15.900000,0,7,2.900000,1,14,6.800000,0,2,0.700000,0,3,1.400000,11,42,25.600000,0,0,0.000000
7,DEN,13,26,18.300000,0,8,3.200000,1,8,4.600000,0,2,1.000000,0,4,1.100000,19,39,26.100000,0,0,0.000000
8,UTA,4,29,18.100000,1,7,3.500000,2,8,5.200000,0,3,1.600000,0,2,0.800000,7,42,26.800000,0,0,0.000000
9,NYK,10,37,19.777778,0,7,2.333333,0,8,5.000000,0,3,0.888889,0,2,0.777778,12,52,27.111111,0,0,0.000000
10,MIA,10,25,17.700000,1,7,2.400000,2,12,7.200000,0,4,1.200000,0,1,0.500000,14,36,27.300000,0,0,0.000000
11,MIN,6,33,19.500000,0,8,2.857143,0,10,5.428571,0,3,1.000000,0,1,0.214286,7,51,27.785714,0,0,0.000000
12,PHI,8,32,18.166667,1,7,3.500000,5,9,6.333333,0,2,1.000000,0,3,1.833333,16,44,28.000000,0,0,0.000000
13,WAS,12,27,18.000000,0,5,2.300000,4,13,7.900000,1,5,1.800000,0,2,0.800000,17,44,28.200000,0,0,0.000000
14,OKC,12,32,18.384615,1,6,3.461538,1,15,6.615385,0,2,0.846154,0,2,0.461538,19,51,28.461538,0,0,0.000000
15,MEM,7,27,17.545455,1,10,4.090909,3,13,7.272727,0,5,1.363636,0,5,1.090909,13,41,28.909091,0,0,0.000000
16,POR,3,32,19.416667,1,6,3.166667,4,9,6.333333,0,3,1.500000,0,3,0.833333,14,44,28.916667,0,0,0.000000
17,HOU,9,37,21.250000,0,4,2.250000,1,12,5.500000,0,2,0.875000,0,1,0.625000,13,48,29.000000,0,0,0.000000
18,DAL,7,33,19.461538,0,6,2.692308,2,13,6.923077,0,3,0.846154,0,4,0.692308,10,50,29.076923,0,0,0.000000
19,TOR,5,31,18.266667,0,10,3.733333,0,20,7.600000,0,3,1.333333,0,2,0.800000,13,58,29.600000,0,1,0.066667
20,IND,8,35,19.000000,1,6,2.800000,3,13,7.800000,0,2,0.700000,0,2,0.600000,17,51,29.600000,0,0,0.000000
21,LAL,4,34,19.562500,0,9,4.062500,2,10,6.000000,0,3,0.937500,0,2,0.500000,11,47,29.625000,0,0,0.000000
22,PHO,2,51,20.000000,0,9,3.400000,4,14,6.600000,0,3,0.900000,0,2,0.500000,13,68,30.000000,0,0,0.000000
23,MIL,4,32,19.571429,1,8,4.214286,3,9,6.214286,0,4,1.357143,0,2,0.714286,11,45,30.000000,0,0,0.000000
24,BRK,6,29,18.222222,0,10,5.111111,3,11,7.444444,0,2,1.000000,0,2,0.666667,18,40,30.777778,0,1,0.111111
25,SAC,11,33,21.363636,1,8,3.272727,2,11,6.272727,0,2,0.909091,0,1,0.181818,20,45,30.909091,0,0,0.000000
26,ATL,9,40,20.461538,0,9,3.461538,3,18,8.000000,0,3,1.000000,0,2,0.615385,16,49,31.923077,0,0,0.000000
27,CHI,7,47,22.545455,1,9,3.454545,2,15,6.818182,0,2,1.090909,0,2,1.181818,12,65,32.818182,0,0,0.000000
28,CHO,8,30,22.000000,1,18,5.300000,1,10,5.900000,0,4,1.300000,0,1,0.400000,15,50,33.200000,0,0,0.000000
29,CLE,11,40,22.666667,2,9,4.666667,3,15,11.000000,1,3,2.000000,0,5,1.666667,24,63,38.333333,0,0,0.000000

C

,Team,min(PTS),max(PTS),avg(PTS),min(AST),max(AST),avg(AST),min(REB),max(REB),avg(REB),min(STL),max(STL),avg(STL),min(BLK),max(BLK),avg(BLK),min(PRA),max(PRA),avg(PRA),min(TD),max(TD),avg(TD)
0,LAL,2,19,10.400000,1,5,2.700000,3,14,7.600000,0,3,1.200000,0,3,1.100000,11,30,20.700000,0,0,0.000000
1,ORL,2,30,13.583333,0,8,2.333333,4,13,9.250000,0,1,0.333333,0,3,1.416667,11,50,25.166667,0,0,0.000000
2,ATL,8,18,12.000000,1,9,3.500000,4,17,9.800000,0,5,1.600000,0,2,0.500000,13,43,25.300000,0,0,0.000000
3,CHO,7,26,16.000000,0,5,2.142857,3,15,7.285714,0,2,0.857143,0,3,1.000000,13,34,25.428571,0,0,0.000000
4,OKC,10,17,12.000000,2,4,3.000000,5,18,10.500000,0,1,0.500000,0,2,1.000000,18,31,25.500000,0,0,0.000000
5,NYK,4,26,14.400000,0,7,2.600000,4,14,8.700000,0,2,0.500000,0,3,0.900000,9,35,25.700000,0,0,0.000000
6,HOU,9,25,16.800000,1,4,2.400000,6,11,7.400000,0,3,1.200000,1,5,3.000000,16,40,26.600000,0,0,0.000000
7,DEN,13,19,15.666667,0,5,2.166667,3,17,9.166667,0,4,1.333333,0,2,0.833333,18,35,27.000000,0,0,0.000000
8,CLE,9,26,15.818182,1,5,2.636364,4,20,9.545455,0,3,1.090909,0,4,1.090909,18,35,28.000000,0,0,0.000000
9,DET,6,28,16.222222,1,7,2.555556,4,17,10.333333,0,4,1.777778,0,2,0.777778,19,44,29.111111,0,0,0.000000
10,TOR,4,24,17.428571,1,9,3.714286,5,15,8.285714,0,2,0.857143,0,4,1.571429,11,43,29.428571,0,0,0.000000
11,UTA,5,32,17.250000,0,4,2.000000,5,22,10.416667,0,2,0.750000,0,3,1.916667,15,47,29.666667,0,0,0.000000
12,IND,5,32,15.285714,0,14,4.000000,6,18,11.428571,0,3,0.714286,0,5,1.571429,17,60,30.714286,0,1,0.142857
13,MIL,8,24,18.142857,0,7,2.428571,6,13,10.428571,0,2,1.142857,0,1,0.428571,21,43,31.000000,0,0,0.000000
14,BOS,11,31,18.666667,0,9,2.555556,4,18,10.444444,0,2,0.666667,0,3,1.333333,17,43,31.666667,0,0,0.000000
15,PHI,8,31,18.857143,0,5,2.285714,7,16,10.571429,0,3,1.428571,1,3,2.142857,20,47,31.714286,0,0,0.000000
16,MIN,6,34,18.000000,0,10,3.727273,6,19,10.272727,0,2,0.636364,0,4,1.272727,12,54,32.000000,0,1,0.181818
17,LAC,6,55,20.500000,0,6,2.625000,6,12,9.125000,0,2,1.375000,0,4,1.250000,18,73,32.250000,0,0,0.000000
18,NOP,9,29,16.875000,0,10,3.000000,10,18,12.625000,0,2,0.875000,0,9,3.000000,19,43,32.500000,0,1,0.125000
19,PHO,4,27,17.625000,1,15,4.500000,4,15,10.375000,0,3,1.500000,0,4,1.375000,18,43,32.500000,0,1,0.125000
20,BRK,7,31,19.777778,0,6,2.666667,5,14,10.111111,0,3,1.333333,0,6,1.111111,15,49,32.555556,0,0,0.000000
21,POR,10,29,19.545455,0,9,3.909091,6,14,9.181818,0,3,0.909091,0,3,1.636364,16,44,32.636364,0,0,0.000000
22,SAS,11,31,20.166667,0,8,3.833333,6,13,9.333333,0,3,1.166667,0,2,1.000000,22,44,33.333333,0,0,0.000000
23,DAL,11,40,21.700000,0,6,2.300000,4,15,9.400000,0,2,0.800000,0,3,1.100000,21,56,33.400000,0,0,0.000000
24,GSW,10,31,19.444444,0,10,4.444444,6,16,10.111111,0,1,0.555556,0,3,1.111111,16,56,34.000000,0,1,0.222222
25,WAS,11,33,18.666667,0,7,4.333333,8,14,11.333333,0,2,0.666667,0,4,1.500000,24,51,34.333333,0,0,0.000000
26,MIA,9,39,19.700000,0,16,3.500000,5,18,11.400000,0,3,1.200000,0,5,1.500000,15,64,34.600000,0,1,0.100000
27,SAC,3,35,18.700000,1,14,4.100000,7,19,12.400000,0,4,1.500000,0,5,1.700000,14,57,35.200000,0,0,0.000000
28,CHI,5,38,20.000000,0,6,3.777778,8,15,11.777778,0,4,1.666667,0,5,1.333333,22,55,35.555556,0,0,0.000000
29,MEM,14,26,20.428571,1,7,3.571429,5,16,11.714286,0,4,1.428571,0,4,1.428571,26,44,35.714286,0,0,0.000000

In [34]:
plyr = 'Stephen Curry'
opp = 'MIL'
display(con.execute(f"""SELECT * FROM df WHERE Player = '{plyr}' AND Opp = '{opp}'""").fetchdf())
display(con.execute(f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG(Pts) FROM df 
                       WHERE Player = '{plyr}' AND Opp = '{opp}' AND Date >= '2023-10-23'
                       GROUP BY Player)
                       WHERE Gms >= 3""").fetchdf())

,Season,game_id,Date,Team,Team_type,Opp,Opp_type,Player,Pos,Active,MP,FG,FGA,FG%,TPM,TPA,3P%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,DD,TD,Fpts,PRA
0,2023,20240306_MIL_GSW,2024-03-06,GSW,Home,MIL,Away,Stephen Curry,PG,1,30.77,10,18,0.556,6,10,0.600,3,4,0.750,2,6,8,5,0,0,2,1,29,24.3,15,0,0,28.5,42
1,2024,20250210_GSW_MIL,2025-02-10,GSW,Away,MIL,Home,Stephen Curry,PG,1,33.98,12,24,0.500,6,16,0.375,8,9,0.889,0,6,6,4,0,0,2,0,38,28.2,8,0,0,30.0,48
2,2024,20250318_MIL_GSW,2025-03-18,GSW,Home,MIL,Away,Stephen Curry,PG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0
3,2025,20251030_GSW_MIL,2025-10-30,GSW,Away,MIL,Home,Stephen Curry,PG,1,34.95,8,19,0.421,4,10,0.400,7,8,0.875,0,6,6,4,1,0,5,2,27,16.3,-6,0,0,22.5,37

          Player  avg(Pts)
0  Stephen Curry      23.5

In [46]:
display(con.execute(f"""SELECT Team, Player, MIN(MP), AVG(Fpts) AS Fpts FROM df WHERE MP BETWEEN 18 AND 22 AND Season = 2025 GROUP BY Team, Player ORDER BY Fpts DESC LIMIT 25""").fetchdf())

   Team                    Player  min(MP)       Fpts
0   CHI               Jalen Smith    18.57  24.000000
1   WAS         Marvin Bagley III    18.67  22.000000
2   MIN           Jaden McDaniels    20.75  21.000000
3   ORL              Goga Bitadze    18.50  21.000000
4   POR           Donovan Clingan    20.90  20.750000
5   CLE           Nae'Qwan Tomlin    21.52  19.000000
6   SAS               Luke Kornet    20.13  19.000000
7   DET                 Paul Reed    19.37  19.000000
8   GSW      Trayce Jackson-Davis    18.50  18.500000
9   IND                  Jay Huff    21.10  18.333333
10  HOU              Steven Adams    19.70  18.250000
11  BRK               Nic Claxton    22.00  18.000000
12  UTA                Kevin Love    18.45  18.000000
13  ATL  Nickeil Alexander-Walker    21.73  17.500000
14  DET               Jalen Duren    19.75  17.250000
15  CLE                Lonzo Ball    19.52  17.250000
16  CLE            Darius Garland    18.95  17.000000
17  GSW        Brandin Podziemski    20.57  17.000000
18  MEM              Santi Aldama    19.73  17.000000
19  OKC             Ajay Mitchell    19.65  17.000000
20  DAL          Dereck Lively II    19.28  16.500000
21  WAS         Justin Champagnie    18.93  16.500000
22  DET            Isaiah Stewart    21.30  16.500000
23  PHO            Jordan Goodwin    20.02  16.500000
24  MEM        Vince Williams Jr.    21.12  16.000000

In [64]:
import unicodedata
def fantasy_scoring(df):
    
    df = df.fillna(0)
#     df["Player"] = df["Player"].apply(lambda x: x.encode("latin1").decode("utf-8"))
#     df['Player'] = df['Player'].apply(remove_accents)

    
#     for col in df.columns.difference(['Date', 'Player', 'Team', 'Team_type', 'Opp', 'Opp_type']):
#         df[col] = np.where(df[col] == 'DNP', 0, df[col])
        
#     for col in ['MP', 'FG%', '3P%', 'FT%', 'GmSc']:
#         df[col] = df[col].astype(float)

#     for col in df.columns.difference(['Date', 'Player', 'MP', 'Team', 'Team_type', 'Opp', 'Opp_type', 
#                                       'FG%', '3P%', 'FT%', 'GmSc', '+/-']):
#         df[col] = df[col].astype(int)
    
    # Columns we care about
    stat_cols = ['PTS', 'REB', 'AST', 'STL', 'BLK']

    # Count how many stats are >= 10 for each player
    df['double_count'] = (df[stat_cols] >= 10).sum(axis=1)

    # Determine double-double or triple-double
    df['DD'] = (df['double_count'] >= 2).astype(int)
    df['TD'] = (df['double_count'] >= 3).astype(int)
    
    df['40Pts'] = (df['PTS'] >= 40).astype(int)
    df['50Pts'] = (df['PTS'] >= 40).astype(int)
    
    df['Fpts'] = (df.PTS * 0.5) + (df.AST * 1) + (df.REB * 1) + (df.STL * 2) + (df.BLK * 2) + (df.TOV * -1) + (df['3PM'] * 0.5)\
                   + (df.DD * 1) + (df.TD * 2) + (df['40Pts'] * 2) + (df['50Pts'] * 2)
    df['FptsPMin'] = df.Fpts / df.MP
    df = df.drop(columns=['double_count', '40Pts', '50Pts'])
    df = df[(df.Player != 'League Average')]
    
    return df

df_temp = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2026_per_minute.html")[0]
df_temp = df_temp.drop(['Rk', 'Awards'], axis=1).rename(columns={"TRB": "REB", "3P": "3PM"})
df_temp = fantasy_scoring(df_temp)
df_temp

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,3PM,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,DD,TD,Fpts,FptsPMin
0,Devin Booker,29.0,PHO,SG,14.0,14.0,501.0,9.8,19.9,0.495,2.0,5.9,0.341,7.8,14.0,0.559,0.545,6.9,7.7,0.897,1.1,3.0,4.1,7.0,0.8,0.3,4.0,2.9,28.6,0,0,24.60,0.049102
1,Franz Wagner,24.0,ORL,SF,14.0,14.0,501.0,7.6,16.5,0.461,1.8,5.0,0.357,5.8,11.5,0.506,0.515,6.3,7.5,0.829,1.9,4.5,6.3,3.9,1.1,0.4,2.1,2.5,23.3,0,0,23.65,0.047206
2,Tyrese Maxey,25.0,PHI,PG,12.0,12.0,484.0,9.4,20.8,0.454,3.4,8.2,0.418,6.0,12.6,0.476,0.536,6.2,7.1,0.884,0.3,4.2,4.5,7.0,1.3,0.7,2.2,2.4,28.6,0,0,29.30,0.060537
3,Cooper Flagg,19.0,DAL,PG,14.0,14.0,478.0,6.3,14.2,0.447,1.1,4.1,0.273,5.2,10.0,0.519,0.487,2.6,3.3,0.795,1.2,5.9,7.1,3.4,1.4,0.8,2.4,2.6,16.4,0,0,21.25,0.044456
4,DeMar DeRozan,36.0,SAC,PF,14.0,14.0,476.0,7.5,15.0,0.500,1.0,2.5,0.394,6.5,12.5,0.521,0.533,3.9,4.6,0.852,0.5,2.9,3.5,3.7,1.2,0.2,1.1,2.1,19.9,0,0,19.35,0.040651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,Myron Gardner,24.0,MIA,SF,1.0,0.0,3.0,12.0,12.0,1.000,12.0,12.0,1.000,0.0,0.0,0.000,1.500,0.0,0.0,0.000,0.0,12.0,12.0,12.0,0.0,0.0,0.0,24.0,36.0,1,1,51.00,17.000000
462,Kyle Lowry,39.0,PHI,PG,1.0,0.0,3.0,12.0,12.0,1.000,12.0,12.0,1.000,0.0,0.0,0.000,1.500,0.0,0.0,0.000,0.0,0.0,0.0,12.0,12.0,0.0,0.0,0.0,36.0,1,1,63.00,21.000000
463,Miles Kelly,23.0,DAL,PG,1.0,0.0,2.0,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,18.0,18.0,0.0,0,0,-18.00,-9.000000
464,Orlando Robinson,25.0,ORL,C,1.0,0.0,2.0,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0,0,0.00,0.000000
465,Jamal Cain,26.0,ORL,SF,1.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.00,NaN

In [78]:
display(con.execute("""SELECT * FROM df_temp WHERE MP BETWEEN 225 AND 300 ORDER BY Fpts DESC LIMIT 25""").fetchdf())

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,3PM,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,DD,TD,Fpts,FptsPMin
0,LaMelo Ball,24.0,CHO,PG,7.0,7.0,227.0,8.6,20.5,0.419,3.5,10.5,0.333,5.1,10.0,0.508,0.504,4.1,5.1,0.813,1.4,6.5,7.9,10.9,1.6,0.2,3.8,3.8,24.7,1,0,33.70,0.148458
1,Kristaps Porziis,30.0,ATL,C,9.0,9.0,232.0,7.6,17.7,0.430,2.2,7.0,0.311,5.4,10.7,0.507,0.491,6.8,7.9,0.863,2.6,5.3,7.9,5.1,0.8,2.2,1.6,4.2,24.2,0,0,30.60,0.131897
2,Anthony Edwards,24.0,MIN,SG,9.0,9.0,273.0,10.7,22.4,0.476,4.0,9.6,0.411,6.7,12.8,0.526,0.565,7.1,8.3,0.857,1.1,4.4,5.4,4.4,1.3,0.8,2.9,2.0,32.4,0,0,29.30,0.107326
3,Andre Drummond,32.0,PHI,C,11.0,3.0,236.0,5.3,9.0,0.593,0.9,2.1,0.429,4.4,6.9,0.644,0.644,1.8,3.1,0.600,5.0,9.8,14.8,1.4,1.2,1.5,0.9,3.5,13.4,1,0,28.85,0.122246
4,Isaiah Stewart,24.0,DET,C,10.0,3.0,230.0,6.6,13.3,0.494,1.9,4.9,0.387,4.7,8.5,0.556,0.565,2.2,3.3,0.667,3.6,6.9,10.5,2.3,0.3,3.0,1.6,4.5,17.2,1,0,28.35,0.123261
5,Chet Holmgren,23.0,OKC,PF,10.0,10.0,296.0,8.3,14.4,0.576,1.9,5.0,0.390,6.3,9.4,0.675,0.644,5.0,5.7,0.872,1.8,8.1,10.0,2.2,0.9,1.6,2.6,4.6,23.5,1,0,28.30,0.095608
6,Moussa Diabat,24.0,CHO,C,13.0,1.0,300.0,6.0,9.0,0.667,0.0,0.0,0.000,6.0,9.0,0.667,0.667,4.3,6.1,0.706,6.4,6.1,12.5,1.6,1.1,2.0,1.2,4.0,16.3,1,0,28.25,0.094167
7,Goga Bitadze,26.0,ORL,C,14.0,0.0,235.0,4.6,6.6,0.698,0.3,0.9,0.333,4.3,5.7,0.757,0.721,3.2,4.4,0.724,3.5,7.4,10.9,2.5,1.1,2.8,1.1,4.6,12.7,1,0,27.60,0.117447
8,Steven Adams,32.0,HOU,C,11.0,2.0,239.0,3.8,7.4,0.510,0.0,0.0,0.000,3.8,7.4,0.510,0.510,2.6,3.5,0.739,8.4,7.1,15.5,2.4,1.2,1.2,1.8,3.6,10.1,1,0,26.95,0.112762
9,Bam Adebayo,28.0,MIA,C,8.0,8.0,243.0,8.3,18.4,0.452,2.4,7.0,0.340,5.9,11.4,0.519,0.516,4.6,5.3,0.861,1.2,8.4,9.6,3.4,1.2,0.3,2.4,1.9,23.6,0,0,26.60,0.109465
10,Ausar Thompson,23.0,DET,SF,10.0,10.0,291.0,7.2,14.2,0.504,0.5,1.6,0.308,6.7,12.6,0.529,0.522,2.4,4.8,0.487,2.5,5.7,8.2,4.2,2.2,0.9,1.7,3.6,17.2,0,0,25.75,0.088488
11,Cole Anthony,25.0,MIL,PG,13.0,0.0,253.0,7.1,16.5,0.431,1.6,5.3,0.297,5.5,11.2,0.494,0.478,1.1,2.1,0.533,1.1,5.3,6.4,9.2,1.4,0.7,3.8,5.3,16.9,0,0,25.25,0.099802
12,Reed Sheppard,21.0,HOU,PG,12.0,0.0,275.0,7.3,14.9,0.491,4.3,9.0,0.478,3.0,5.9,0.511,0.636,0.8,1.2,0.667,0.4,3.8,4.2,4.8,2.5,0.5,2.0,3.1,19.8,0,0,25.05,0.091091
13,Derik Queen,21.0,NOP,C,13.0,1.0,290.0,6.3,13.0,0.486,0.1,1.2,0.100,6.2,11.8,0.526,0.490,4.1,5.3,0.767,2.6,7.2,9.8,4.2,1.5,1.1,3.2,4.8,16.9,0,0,24.50,0.084483
14,Kyle Filipowski,22.0,UTA,C,13.0,5.0,258.0,4.9,11.9,0.412,1.5,4.9,0.314,3.3,7.0,0.480,0.476,2.8,4.0,0.690,2.8,7.4,10.2,4.2,0.7,1.0,2.2,5.0,14.1,1,0,24.40,0.094574
15,Dillon Brooks,30.0,PHO,SF,8.0,8.0,239.0,9.3,20.3,0.459,3.2,9.3,0.339,6.2,11.0,0.562,0.537,4.7,5.0,0.939,0.9,3.0,3.9,2.3,2.4,0.3,2.4,4.2,26.5,0,0,24.05,0.100628
16,Isaiah Jackson,24.0,IND,C,13.0,9.0,242.0,6.1,11.0,0.554,0.0,0.0,0.000,6.1,11.0,0.554,0.554,3.4,4.2,0.821,4.6,7.1,11.8,1.8,1.2,0.6,2.2,6.1,15.6,1,0,23.80,0.098347
17,Josh Minott,23.0,BOS,PF,13.0,9.0,263.0,4.8,10.4,0.461,1.8,5.3,0.333,3.0,5.1,0.595,0.546,1.9,2.3,0.824,3.4,6.0,9.4,2.6,1.9,0.7,1.2,4.0,13.3,0,0,23.55,0.089544
18,Josh Hart,30.0,NYK,SF,11.0,0.0,272.0,4.9,10.6,0.463,1.6,4.5,0.353,3.3,6.1,0.543,0.538,1.3,1.7,0.769,2.4,7.4,9.8,6.2,1.2,0.1,2.5,2.8,12.7,0,0,23.25,0.085478
19,Craig Porter Jr.,25.0,CLE,PG,14.0,0.0,239.0,4.5,9.0,0.500,1.7,3.8,0.440,2.9,5.3,0.543,0.592,0.9,1.8,0.500,3.0,3.2,6.2,5.6,2.1,1.2,1.8,2.3,11.6,0,0,23.25,0.097280
20,Jaylin Williams,23.0,OKC,PF,13.0,1.0,247.0,3.5,10.3,0.338,2.5,9.2,0.270,1.0,1.2,0.875,0.458,0.7,1.0,0.714,1.2,7.9,9.0,4.5,1.2,1.2,1.5,3.1,10.2,0,0,23.15,0.093725
21,Jamal Shead,23.0,TOR,PG,13.0,0.0,233.0,4.3,10.0,0.431,2.5,5.7,0.432,1.9,4.3,0.429,0.554,2.0,2.5,0.813,0.8,2.6,3.4,10.2,1.4,0.0,2.3,4.3,13.1,1,0,22.90,0.098283
22,Brandon Williams,26.0,DAL,PG,12.0,4.0,247.0,6.7,15.0,0.447,0.6,4.1,0.143,6.1,10.9,0.560,0.466,4.5,6.0,0.756,0.9,3.4,4.2,5.8,3.1,0.1,3.2,2.8,18.5,0,0,22.75,0.092105
23,Tari Eason,24.0,HOU,PF,11.0,1.0,255.0,6.6,13.4,0.495,3.8,7.5,0.509,2.8,5.9,0.476,0.637,0.7,1.0,0.714,2.3,5.8,8.0,2.5,1.3,0.7,2.7,2.5,17.8,0,0,22.60,0.088627
24,Nikola Jovi,22.0,MIA,PF,13.0,1.0,284.0,4.9,12.0,0.411,1.8,6.0,0.298,3.2,6.1,0.521,0.484,3.3,4.4,0.743,1.3,6.3,7.6,5.2,1.1,0.8,3.2,4.3,15.0,0,0,21.80,0.076761