In [11]:
import pandas as pd
import numpy as np
from datetime import datetime
from nbainjuries import injury
from datetime import datetime, timedelta
import warnings
import duckdb
import os
import requests

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}

print("Current working dir:", cwd)
print("RUN_LOCATION =", RUN_LOCATION)

Current working dir: C:/Users/Rodolfo/Jupyter_files/FantasyBasketball/notebooks
RUN_LOCATION = local

In [48]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings("ignore")

year = 2025
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

con = duckdb.connect(database=":memory:")
categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']

folders = os.listdir('../tables/')
df = pd.DataFrame()
for yr in folders:
    df_temp = pd.read_csv(f"../tables/{yr}/season_gamelogs.csv")
    df_temp.insert(0, 'Season', int(yr))
    df = pd.concat([df, df_temp])
df['Date'] = pd.to_datetime(df.Date)
df = df.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df['STL_BLK'] = df.STL + df.BLK
df['PR'] = df.PTS + df.REB 
df['PA'] = df.PTS + df.AST
df['RA'] = df.REB + df.AST
df['PRA'] = df.PTS + df.REB + df.AST

# # CONTROL DATE TO GO BACK AND RELOAD HISTORICAL DATA
# df = df[(df.Date != now)]

df

Today's date: 2025-11-25

,Season,game_id,Date,Team,Team_type,Opp,Opp_type,Player,Pos,Active,MP,FG,FGA,FG%,TPM,TPA,3P%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,DD,TD,Fpts,STL_BLK,PR,PA,RA,PRA
0,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Christian Braun,SG,1,19.33,2,5,0.400,0,1,0.000,1,2,0.5,1,2,3,2,0,1,1,1,5,3.9,5,0,0,8.5,1,8,7,5,10
1,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Kentavious Caldwell-Pope,SG,1,36.25,8,12,0.667,2,3,0.667,2,2,1.0,1,1,2,1,3,1,3,5,20,15.2,10,0,0,19.0,4,22,21,3,23
2,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Collin Gillespie,PG,1,0.72,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
3,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Aaron Gordon,PF,1,34.98,7,11,0.636,1,2,0.500,0,0,0.0,2,5,7,5,2,1,0,0,15,19.2,6,0,0,26.0,3,22,20,12,27
4,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Justin Holiday,SG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6832,2025,20251124_MIN_SAC,2025-11-24,SAC,Home,MIN,Away,Maxime Raynaud,C,1,13.92,0,4,0.000,0,1,0.000,1,2,0.5,1,1,2,0,0,0,0,3,1,-2.4,-5,0,0,2.5,0,3,1,2,3
6833,2025,20251124_MIN_SAC,2025-11-24,SAC,Home,MIN,Away,Dario Saric,C,0,0.00,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
6834,2025,20251124_MIN_SAC,2025-11-24,SAC,Home,MIN,Away,Doug McDermott,SF,0,0.00,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
6835,2025,20251124_MIN_SAC,2025-11-24,SAC,Home,MIN,Away,Keegan Murray,PF,1,44.40,10,19,0.526,3,5,0.600,3,3,1.0,2,12,14,2,1,1,0,3,26,23.6,6,1,0,35.5,2,40,28,16,42
6836,2025,20251124_MIN_SAC,2025-11-24,MIN,Away,SAC,Home,Johnny Juzang,NaN,0,0.00,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0

In [47]:
%run ./common_utils.ipynb

In [32]:
df_gms = pd.read_csv(f"../tables/{year}/nba_schedule.csv")
df_gms = df_gms[(df_gms.Date == now)]
tms_today = df_gms.AwayABV.tolist() + df_gms.HomeABV.tolist()
display(df_gms)

,Date,StartTime_ET,AwayTeam,AwayABV,HomeTeam,HomeABV,Arena,AwayB2B,HomeB2B,rtrvd
263,2025-11-26,5:00p,Detroit Pistons,DET,Boston Celtics,BOS,TD Garden,0,0,0
264,2025-11-26,7:00p,New York Knicks,NYK,Charlotte Hornets,CHO,Spectrum Center,0,0,0
265,2025-11-26,7:30p,Milwaukee Bucks,MIL,Miami Heat,MIA,Kaseya Center,0,0,0
266,2025-11-26,7:30p,Minnesota Timberwolves,MIN,Oklahoma City Thunder,OKC,Paycom Center,0,0,0
267,2025-11-26,7:30p,Indiana Pacers,IND,Toronto Raptors,TOR,Scotiabank Arena,0,0,0
268,2025-11-26,8:00p,Memphis Grizzlies,MEM,New Orleans Pelicans,NOP,Smoothie King Center,0,0,0
269,2025-11-26,10:00p,Houston Rockets,HOU,Golden State Warriors,GSW,Chase Center,0,0,0
270,2025-11-26,10:00p,San Antonio Spurs,SAS,Portland Trail Blazers,POR,Moda Center,0,0,0
271,2025-11-26,10:00p,Phoenix Suns,PHO,Sacramento Kings,SAC,Golden 1 Center,0,0,0

In [33]:
df_teams = pd.read_csv("../src/team_info_xref.csv")

df_inj = injury.get_reportdata(datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]), return_df=True)
df_inj = df_inj.rename(columns={"Game Date": "Date", "Player Name": "Player", "Current Status": "Status"})
df_inj['Player'] = df_inj.Player.str.split(",").str[1] + " " + df_inj.Player.str.split(",").str[0]
df_inj['Player'] = df_inj['Player'].str.strip()
df_inj['Date'] = pd.to_datetime(df_inj['Date'])
df_inj = con.execute(f"""SELECT Date, ABV as Team, Player, Status, Reason FROM df_inj 
                         JOIN df_teams ON df_inj.Team = df_teams.Team
                         WHERE Date = '{now}' AND Status = 'Out'""").fetchdf()

df_best_out = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Fpts DESC) as Off_Rk FROM
                              (SELECT Team, Player, Pos, AVG(Fpts) as Fpts FROM df 
                              WHERE Season = 2025 AND Fpts > 0 AND Pos != 'None'
                              GROUP BY Team, Player, Pos)""").fetchdf()
df_best_out = con.execute(f"""SELECT * EXCLUDE(t2.Team, t2.Player) FROM df_best_out t1 
                              JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                              ORDER BY Fpts DESC""").fetchdf()
display(df_best_out)

Validated Injury-Report_2025-11-25_11PM.

,Team,Player,Pos,Fpts,Off_Rk,Date,Status,Reason
0,SAS,Victor Wembanyama,C,37.833333,2,2025-11-26,Out,Injury/Illness - Left Calf; Strain
1,SAC,Domantas Sabonis,C,25.772727,5,2025-11-26,Out,Injury/Illness - Left Knee; Partial Meniscus Tear
2,POR,Jrue Holiday,PG,24.125000,11,2025-11-26,Out,Injury/Illness - Right Calf; Strain
3,SAS,Stephon Castle,PG,23.115385,13,2025-11-26,Out,Injury/Illness - Left Hip Flexor; Strain
4,HOU,Kevin Durant,SF,21.576923,13,2025-11-26,Out,Personal Reasons
5,PHO,Grayson Allen,SG,20.961538,9,2025-11-26,Out,Injury/Illness - Right Quadriceps; Contusion
6,NYK,OG Anunoby,PF,20.375000,14,2025-11-26,Out,Injury/Illness - Left Hamstring; Strain
7,TOR,RJ Barrett,SF,19.764706,18,2025-11-26,Out,Injury/Illness - Right Knee; Sprain
8,MEM,Ja Morant,PG,19.125000,21,2025-11-26,Out,Injury/Illness - Right Calf; Strain
9,BOS,Neemias Queta,C,17.705882,27,2025-11-26,Out,Injury/Illness - Left Ankle; Sprain
10,OKC,Aaron Wiggins,SG,17.250000,19,2025-11-26,Out,Injury/Illness - Left Adductor; Strain
11,IND,Aaron Nesmith,SF,16.590909,24,2025-11-26,Out,Injury/Illness - Left Knee MCL; Sprain
12,IND,Obi Toppin,PF,15.833333,27,2025-11-26,Out,Injury/Illness - Right Foot; Stress Fracture
13,GSW,Jonathan Kuminga,PF,15.576923,28,2025-11-26,Out,Injury/Illness - Bilateral Knee; Patellar Tendonitis
14,HOU,Tari Eason,PF,15.450000,29,2025-11-26,Out,Injury/Illness - Right Oblique; Strain
15,HOU,Steven Adams,C,15.384615,37,2025-11-26,Out,Injury/Illness - Right Ankle; Tendinopathy
16,PHO,Ryan Dunn,SF,14.562500,33,2025-11-26,Out,Injury/Illness - Right Wrist; Sprain
17,PHO,Jalen Green,SG,14.250000,33,2025-11-26,Out,Injury/Illness - Right Hamstring; Strain
18,NOP,Jordan Poole,PG,14.214286,33,2025-11-26,Out,Injury/Illness - Left Quad; Strain
19,NOP,Herbert Jones,SF,13.343750,36,2025-11-26,Out,Injury/Illness - Right Calf; Strain
20,GSW,Al Horford,C,12.333333,47,2025-11-26,Out,Injury/Illness - Right Sciatic Nerve; Irritation
21,POR,Blake Wesley,SG,11.166667,54,2025-11-26,Out,Injury/Illness - Right Foot; Fracture
22,MIL,Kevin Porter Jr.,PG,10.000000,48,2025-11-26,Out,Injury/Illness - Right Knee; Meniscus Surgery
23,NYK,Landry Shamet,SG,9.500000,68,2025-11-26,Out,Injury/Illness - Right Shoulder; Sprain
24,POR,Matisse Thybulle,SG,9.500000,68,2025-11-26,Out,Injury/Illness - Left Thumb; Ligament Tear
25,MIL,Taurean Prince,SF,8.928571,53,2025-11-26,Out,Injury/Illness - Neck; Surgery
26,NOP,Karlo Matkovic,PF,7.772727,59,2025-11-26,Out,Injury/Illness - Right Calf; Strain
27,CHO,Tidjane Salaun,PF,7.666667,60,2025-11-26,Out,G League - On Assignment
28,SAS,Jordan McLaughlin,PG,7.583333,53,2025-11-26,Out,Injury/Illness - Left Hamstring; Strain
29,CHO,Pat Connaughton,SG,6.272727,86,2025-11-26,Out,Injury/Illness - Right Calf; Strain
30,DET,Bobi Klintman,SF,6.000000,62,2025-11-26,Out,Injury/Illness - Left Ankle; Sprain
31,IND,Johnny Furphy,SG,6.000000,89,2025-11-26,Out,Injury/Illness - Left Ankle; Sprain
32,DET,Isaac Jones,PF,1.000000,80,2025-11-26,Out,G League - On Assignment

In [35]:
def get_game_odds():

    dk_tm_mapping = {
                    "ATL Hawks": "ATL", "BKN Nets": "BRK", "BOS Celtics": "BOS", "CHA Hornets": "CHO", "CHI Bulls": "CHI",
                    "CLE Cavaliers": "CLE", "DAL Mavericks": "DAL", "DEN Nuggets": "DEN", "DET Pistons": "DET", 
                    "GS Warriors": "GSW", "HOU Rockets": "HOU", "IND Pacers": "IND", "LA Clippers": "LAC", 
                    "LA Lakers": "LAL", "MEM Grizzlies": "MEM", "MIA Heat": "MIA", "MIL Bucks": "MIL", "MIN Timberwolves": "MIN",
                    "NO Pelicans": "NOP", "NY Knicks": "NYK", "OKC Thunder": "OKC", "ORL Magic": "ORL", "PHI 76ers": "PHI",
                    "PHO Suns": "PHO", "POR Trail Blazers": "POR", "SA Spurs": "SAS", "SAC Kings": "SAC", "TOR Raptors": "TOR",
                    "UTA Jazz": "UTA", "WAS Wizards": "WAS", "GSW Warriors": "GSW", "LAL Lakers": "LAL", "NOP Pelicans": "NOP",
                    "NYK Knicks": "NYK", "PHX Suns": "PHO", "SAS Spurs": "SAS"
                    }

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://sportsbook.draftkings.com/",
        "Origin": "https://sportsbook.draftkings.com"
    }
    response = requests.get(f"https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C4511&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%274511%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%274511%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events", headers=headers)
    if response.status_code != 200:
        raise Exception('Bad Request')

    teams = []
    spreads = []
    totals = []
    for i in range(len(response.json()['selections'])):    
        if 'HC' in response.json()['selections'][i]['id']:
            teams.append(response.json()['selections'][i]['label'])
            spreads.append(response.json()['selections'][i]['points'])
        elif 'OU' in response.json()['selections'][i]['id']:
            teams.append(response.json()['selections'][i]['label'])
            totals.append(response.json()['selections'][i]['points'])
        else:
            continue

    teams = [x for x in teams if x != "Over"]
    teams = [x for x in teams if x != "Under"]

    df_tm_bets = pd.DataFrame({"Team": teams, "Spread": spreads, "Total": totals})
    for key, value in dk_tm_mapping.items():
        df_tm_bets['Team'] = np.where(df_tm_bets.Team == key, value, df_tm_bets.Team)
    
    return df_tm_bets

def get_sportsbook():
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://sportsbook.draftkings.com/",
        "Origin": "https://sportsbook.draftkings.com"
    }

    dk_cats = {"PTS": 12488, "AST": 12495, "REB": 12492, "STL": 13508, "BLK": 13780, "STL_BLK": 13781, "TPM": 12497, 
               "PA": 9973, "PR": 9976, "RA": 9974, "PRA": 5001}
    df_lines = pd.DataFrame()
    for key, value in dk_cats.items():
        response = requests.get(f"https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C{value}&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%27{value}%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%27{value}%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events", headers=headers)
        if response.status_code != 200:
            raise Exception('Bad Request')

        plyr_names = []
        pnt_lines = []
        for i in response.json()['selections']:
            plyr_names.append(i['participants'][0]['name'])
            pnt_lines.append(i['points'])
        df_dk = pd.DataFrame({"Player": plyr_names, f"{key}_line": pnt_lines}).drop_duplicates().reset_index(drop=True)

        if df_lines.empty:
            df_lines = df_dk
        else:
            df_lines = pd.merge(df_lines, df_dk, on="Player", how="outer")

    df_lines = pd.merge(pd.read_csv(f"../tables/{year}/plyr_pos_xref.csv"), df_lines, on='Player', how='right')
    df_lines = pd.merge(df_lines, get_game_odds(), on='Team')
    df_lines.insert(0, 'Date', pd.to_datetime(now))

    partition_save_df(df_lines, f"../tables/{year}/parlay_lines.csv") 
    display(df_lines)

    return df_lines

df_lines = get_sportsbook()

../tables/2025/parlay_lines.csv saved!

,Date,Team,Player,Pos,PTS_line,AST_line,REB_line,STL_line,BLK_line,STL_BLK_line,TPM_line,PA_line,PR_line,RA_line,PRA_line,Spread,Total
0,2025-11-26,MIL,AJ Green,SG,9.5,NaN,2.5,NaN,NaN,NaN,2.5,NaN,11.5,NaN,NaN,6.5,236.5
1,2025-11-26,OKC,Ajay Mitchell,SG,16.5,3.5,3.5,NaN,NaN,NaN,1.5,20.5,19.5,7.5,23.5,-8.5,226.5
2,2025-11-26,OKC,Alex Caruso,SG,7.5,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,-8.5,226.5
3,2025-11-26,HOU,Alperen Sengun,C,22.5,6.5,10.5,NaN,NaN,NaN,NaN,29.5,33.5,17.5,39.5,1.5,225.5
4,2025-11-26,HOU,Amen Thompson,SF,19.5,4.5,7.5,NaN,NaN,NaN,NaN,24.5,26.5,12.5,31.5,1.5,225.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,2025-11-26,MIA,Tyler Herro,SG,18.5,3.5,4.5,NaN,NaN,NaN,1.5,22.5,23.5,8.5,27.5,-6.5,236.5
80,2025-11-26,MEM,Vince Williams Jr.,SG,10.5,6.5,5.5,NaN,NaN,NaN,1.5,16.5,15.5,11.5,22.5,-1.5,234.5
81,2025-11-26,NOP,Yves Missi,C,7.5,NaN,6.5,NaN,NaN,NaN,NaN,NaN,14.5,NaN,NaN,1.5,234.5
82,2025-11-26,MEM,Zach Edey,C,12.5,1.5,8.5,NaN,NaN,NaN,NaN,NaN,20.5,9.5,NaN,-1.5,234.5
83,2025-11-26,NOP,Zion Williamson,PF,22.5,4.5,5.5,NaN,NaN,NaN,NaN,26.5,27.5,10.5,32.5,1.5,234.5

In [38]:
def pick_finder(stat, collect=False):
    df_mtch = df_gms[['AwayABV', 'HomeABV', 'AwayB2B', 'HomeB2B']]
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch = pd.concat([df_mtch, df_mtch2])
    
    df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                            (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                            WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                            AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                            GROUP BY Team, Player, Pos)""").fetchdf()
    df_rk_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Team, Player, Pos, {stat} AS stat_val,
                                    ROW_NUMBER() OVER (PARTITION BY Team, Player ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                                    AND Team IN ({str(tms_today).replace('[','').replace(']','')})
                            )
                            SELECT Team, Player, Pos, AVG(stat_val) AS Off_L5_{stat},
                            FROM last5
                            WHERE rn <= 5
                            GROUP BY Team, Player, Pos
                            """).fetchdf()

    df_rk = con.execute(f"""SELECT df_rk.Team, df_rk.Player, df_rk.Pos, Off_{stat}, Off_L5_{stat}, Off_Rk FROM df_rk JOIN df_rk_l5 
                            ON df_rk.Team = df_rk_l5.Team AND df_rk.Player = df_rk_l5.Player""").fetchdf()
    df_save = pd.DataFrame()
    for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
        print(pos)
        df_def = con.execute(f"""SELECT Team, '{pos}' AS Pos, Def_{stat}, Def_Rk FROM
                                 (SELECT *, RANK() OVER (ORDER BY Def_{stat}) as Def_Rk FROM
                                 (SELECT Opp as Team, AVG({stat}) as Def_{stat} FROM df 
                                 WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                 GROUP BY Opp
                                 ORDER BY AVG(Fpts) DESC))
                                 WHERE Team IN ({str(tms_today).replace("[", "").replace("]", "")})""").fetchdf()

        df_def_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Opp AS Team, {stat} AS stat_val, 
                                    ROW_NUMBER() OVER (PARTITION BY Opp ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                    )

                                    SELECT Team, '{pos}' AS Pos, AVG(stat_val) AS Def_L5_{stat} FROM last5
                                    WHERE rn <= 5
                                    GROUP BY Team
                                    HAVING Team IN ({str(tms_today).replace('[','').replace(']','')})
                                    """).fetchdf()
        df_def = con.execute(f"""SELECT df_def.Team, df_def.Pos, Def_{stat}, Def_L5_{stat}, Def_Rk FROM df_def 
                               JOIN df_def_l5 ON df_def.Team = df_def_l5.Team""").fetchdf()
        
        # Piece together the current matchups with offensive rankings vs defensive rankings
        df_picks = con.execute(f"""SELECT df_mtch.*, df_rk.* EXCLUDE(Team) FROM df_mtch 
                                  JOIN df_rk ON df_mtch.Team = df_rk.Team
                                  WHERE Pos = '{pos}'""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE(Opp, Pos), Opp, df_def.Def_{stat}, df_def.Def_L5_{stat}, 
                                   df_def.Def_Rk FROM df_picks 
                                   JOIN df_def ON df_picks.Opp = df_def.Team""").fetchdf()
        df_picks['Rk_Diff'] = df_picks['Def_Rk'] - df_picks['Off_Rk']
        df_picks = con.execute(f"""SELECT t1.* EXCLUDE(Rk_Diff) FROM df_picks t1
                                LEFT JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                                WHERE Status IS NULL
                                ORDER BY Rk_Diff DESC""").fetchdf()
        
        # head to head
        df_h2h = pd.DataFrame()
        for index, row in df_picks.iterrows():
            query = f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG({stat}) AS AVG_{stat}_H2H FROM df 
                       WHERE Player = ? AND Opp = ? AND Date >= '2023-10-23'
                       GROUP BY Player)
                       WHERE Gms >= 4"""
            df_temp = con.execute(query, [row["Player"], row["Opp"]]).fetchdf()
            df_h2h = pd.concat([df_h2h, df_temp])
        try:
            df_picks = con.execute(f"""SELECT Team, B2B, t1.Player, Off_{stat}, Off_L5_{stat}, t2.AVG_{stat}_H2H, Off_Rk, 
                                   t1.* EXCLUDE(Team, B2B, Player, Off_{stat}, Off_L5_{stat}, Off_Rk)
                                   FROM df_picks t1 LEFT JOIN df_h2h t2 
                                   ON t1.Player = t2.Player""").fetchdf()
        except:
            pass
        df_picks = con.execute(f"""SELECT df_picks.*, df_lines.{stat}_line, Spread, Total FROM df_picks LEFT JOIN df_lines 
                                   ON df_picks.Team = df_lines.Team AND df_picks.Player = df_lines.Player
                                   WHERE {stat}_line IS NOT NULL
                                   ORDER BY Def_Rk DESC""").fetchdf()
        df_save = pd.concat([df_save, df_picks], ignore_index=True)
        if collect == False:
            display(df_picks)
    if collect == True:
        df_save.insert(0, 'Date', pd.to_datetime(now))
        return df_save

In [39]:
for i in categories:
    print(f"==={i}===")
    pick_finder(i)

===PTS===
PG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,Spread,Total
0,MIA,0,Davion Mitchell,10.277778,11.0,5.571429,22,MIL,23.250000,29.8,28,8.5,-6.5,236.5
1,NOP,0,Jeremiah Fears,15.388889,17.4,NaN,15,MEM,22.928571,21.8,27,13.5,1.5,234.5
2,DET,0,Cade Cunningham,27.142857,30.0,19.750000,4,BOS,22.692308,20.8,24,25.5,-2.5,229.5
3,TOR,0,Immanuel Quickley,15.500000,14.8,12.600000,14,IND,22.125000,17.6,21,16.5,-9.5,234.5
4,MIL,0,Ryan Rollins,18.166667,20.0,3.800000,8,MIA,22.083333,19.0,20,18.5,6.5,236.5
5,HOU,0,Reed Sheppard,13.428571,15.0,0.833333,17,GSW,21.000000,19.8,19,14.5,1.5,225.5
6,OKC,0,Shai Gilgeous-Alexander,32.058824,31.4,33.307692,1,MIN,20.333333,13.4,14,30.5,-8.5,226.5
7,NYK,0,Jalen Brunson,28.285714,30.2,25.166667,3,CHO,19.882353,18.6,11,28.5,-6.5,238.5
8,IND,0,Andrew Nembhard,18.300000,19.4,11.333333,7,TOR,19.583333,18.0,10,16.5,9.5,234.5
9,BOS,0,Payton Pritchard,16.647059,21.6,19.500000,13,DET,18.800000,18.2,7,16.5,2.5,229.5
10,CHO,0,LaMelo Ball,21.200000,18.0,NaN,6,NYK,17.777778,16.4,4,18.5,6.5,238.5
11,GSW,0,Stephen Curry,28.800000,32.2,23.230769,2,HOU,16.454545,18.4,2,26.5,-1.5,225.5

SG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,Spread,Total
0,MEM,0,Jaylen Wells,10.333333,12.2,10.800000,28,NOP,18.750000,19.8,26,13.5,-1.5,234.5
1,MEM,0,Vince Williams Jr.,8.833333,8.4,5.666667,33,NOP,18.750000,19.8,26,10.5,-1.5,234.5
2,MEM,0,Kentavious Caldwell-Pope,7.941176,6.0,11.333333,40,NOP,18.750000,19.8,26,7.5,-1.5,234.5
3,MEM,0,Cedric Coward,13.777778,12.4,NaN,19,NOP,18.750000,19.8,26,13.5,-1.5,234.5
4,MIA,0,Tyler Herro,24.000000,24.0,22.166667,4,MIL,17.857143,21.6,21,18.5,-6.5,236.5
5,MIA,0,Pelle Larsson,10.764706,10.8,3.750000,25,MIL,17.857143,21.6,21,8.5,-6.5,236.5
6,MIA,0,Norman Powell,25.428571,26.6,NaN,3,MIL,17.857143,21.6,21,19.5,-6.5,236.5
7,MIL,0,Gary Trent Jr.,10.222222,11.2,13.625000,29,MIA,17.428571,16.0,18,10.5,6.5,236.5
8,NYK,0,Miles McBride,10.833333,12.6,7.428571,23,CHO,16.937500,16.8,13,11.5,-6.5,238.5
9,NYK,0,Jordan Clarkson,10.812500,14.6,NaN,24,CHO,16.937500,16.8,13,12.5,-6.5,238.5
10,HOU,0,Josh Okogie,8.583333,6.8,8.285714,35,GSW,16.375000,16.8,10,9.5,1.5,225.5
11,OKC,0,Ajay Mitchell,16.117647,14.0,3.166667,8,MIN,16.000000,11.4,9,16.5,-8.5,226.5
12,OKC,0,Cason Wallace,8.312500,9.2,5.500000,37,MIN,16.000000,11.4,9,9.5,-8.5,226.5
13,OKC,0,Alex Caruso,6.800000,7.2,8.777778,43,MIN,16.000000,11.4,9,7.5,-8.5,226.5
14,GSW,0,Moses Moody,13.187500,14.4,8.285714,20,HOU,15.090909,19.2,7,11.5,-1.5,225.5
15,BOS,0,Derrick White,15.352941,15.8,18.875000,12,DET,15.000000,12.2,6,16.5,2.5,229.5
16,BOS,0,Anfernee Simons,15.312500,16.0,27.750000,13,DET,15.000000,12.2,6,13.5,2.5,229.5
17,DET,0,Jaden Ivey,11.000000,11.0,17.666667,22,BOS,13.333333,8.6,2,8.5,-2.5,229.5
18,MIN,0,Anthony Edwards,27.769231,28.2,22.769231,1,OKC,13.000000,11.8,1,25.5,8.5,226.5
19,MIN,0,Donte DiVincenzo,13.823529,12.6,11.500000,18,OKC,13.000000,11.8,1,12.5,8.5,226.5

SF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,Spread,Total
0,BOS,0,Jaylen Brown,27.882353,28.400000,28.500000,1,DET,22.833333,18.6,30,27.5,2.5,229.5
1,NYK,0,Mikal Bridges,16.250000,17.600000,18.000000,15,CHO,20.000000,22.6,24,15.5,-6.5,238.5
2,NYK,0,Josh Hart,10.357143,12.200000,11.714286,24,CHO,20.000000,22.6,24,11.5,-6.5,238.5
3,IND,0,Bennedict Mathurin,24.333333,22.000000,15.666667,4,TOR,19.166667,15.0,20,20.5,9.5,234.5
4,MIA,0,Andrew Wiggins,16.733333,15.600000,7.500000,12,MIL,19.166667,11.8,20,13.5,-6.5,236.5
5,TOR,0,Brandon Ingram,21.611111,24.800000,21.800000,6,IND,18.411765,15.4,19,23.5,-9.5,234.5
6,DET,0,Ausar Thompson,12.615385,10.600000,8.500000,17,BOS,18.062500,23.0,16,10.5,-2.5,229.5
7,DET,0,Duncan Robinson,12.588235,13.200000,5.500000,18,BOS,18.062500,23.0,16,10.5,-2.5,229.5
8,GSW,0,Jimmy Butler,19.941176,22.000000,14.909091,8,HOU,17.866667,16.8,12,20.5,-1.5,225.5
9,NOP,0,Trey Murphy III,20.166667,21.000000,18.000000,7,MEM,17.666667,19.6,10,18.5,1.5,234.5
10,NOP,0,Saddiq Bey,12.058824,11.000000,NaN,20,MEM,17.666667,19.6,10,14.5,1.5,234.5
11,CHO,0,Brandon Miller,16.666667,16.666667,22.166667,13,NYK,17.307692,18.6,8,18.5,6.5,238.5
12,CHO,0,Kon Knueppel,19.352941,22.800000,NaN,9,NYK,17.307692,18.6,8,17.5,6.5,238.5
13,HOU,0,Amen Thompson,17.928571,18.600000,13.357143,11,GSW,16.266667,18.2,5,19.5,1.5,225.5
14,OKC,0,Luguentz Dort,8.363636,9.600000,8.615385,27,MIN,15.076923,17.2,1,9.5,-8.5,226.5

PF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,Spread,Total
0,GSW,0,Draymond Green,8.125000,8.6,7.285714,28,HOU,20.888889,19.0,28,8.5,-1.5,225.5
1,OKC,0,Chet Holmgren,17.538462,17.6,15.909091,10,MIN,20.294118,19.8,26,18.5,-8.5,226.5
2,TOR,0,Scottie Barnes,19.222222,18.0,19.833333,7,IND,19.750000,22.6,22,20.5,-9.5,234.5
3,CHO,0,Miles Bridges,22.000000,20.4,17.000000,5,NYK,19.545455,20.2,20,20.5,6.5,238.5
4,MIL,0,Giannis Antetokounmpo,31.153846,27.6,24.714286,1,MIA,18.545455,19.8,17,28.5,6.5,236.5
5,MIL,0,Kyle Kuzma,13.588235,11.2,18.400000,18,MIA,18.545455,19.8,17,12.5,6.5,236.5
6,MIL,0,Bobby Portis,11.388889,15.6,10.833333,22,MIA,18.545455,19.8,17,12.5,6.5,236.5
7,IND,0,Pascal Siakam,24.750000,26.2,21.285714,2,TOR,18.444444,19.2,15,23.5,9.5,234.5
8,MIN,0,Julius Randle,24.235294,21.4,17.571429,3,OKC,18.333333,15.2,14,21.5,8.5,226.5
9,MIN,0,Jaden McDaniels,16.500000,12.4,14.583333,11,OKC,18.333333,15.2,14,13.5,8.5,226.5
10,NOP,0,Zion Williamson,22.375000,22.8,20.000000,4,MEM,17.285714,17.4,10,22.5,1.5,234.5
11,BOS,0,Jordan Walsh,6.400000,6.2,0.857143,32,DET,17.214286,20.6,9,5.5,2.5,229.5
12,DET,0,Tobias Harris,13.875000,14.8,15.333333,16,BOS,16.818182,18.2,6,11.5,-2.5,229.5
13,HOU,0,Jabari Smith Jr.,15.000000,16.8,11.714286,13,GSW,16.666667,12.2,5,15.5,1.5,225.5

C

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,Spread,Total
0,HOU,0,Alperen Sengun,21.214286,23.0,20.000000,3,GSW,19.500000,23.2,24,22.5,1.5,225.5
1,MEM,0,Jaren Jackson Jr.,17.750000,19.4,22.000000,6,NOP,19.300000,21.0,23,22.5,-1.5,234.5
2,MEM,0,Zach Edey,10.200000,10.2,NaN,20,NOP,19.300000,21.0,23,12.5,-1.5,234.5
3,MIL,0,Myles Turner,12.388889,11.2,19.714286,11,MIA,18.769231,23.2,21,13.5,6.5,236.5
4,NOP,0,Yves Missi,7.272727,6.6,9.400000,30,MEM,18.333333,16.2,19,7.5,1.5,234.5
5,MIA,0,Bam Adebayo,19.333333,15.0,21.500000,5,MIL,17.777778,18.2,16,18.5,-6.5,236.5
6,MIA,0,Kel'el Ware,13.176471,16.6,10.750000,8,MIL,17.777778,18.2,16,12.5,-6.5,236.5
7,DET,0,Jalen Duren,20.266667,22.0,11.428571,4,BOS,17.545455,13.4,15,19.5,-2.5,229.5
8,DET,0,Isaiah Stewart,10.642857,10.6,4.666667,18,BOS,17.545455,13.4,15,7.5,-2.5,229.5
9,OKC,0,Isaiah Hartenstein,12.411765,10.2,7.636364,10,MIN,17.333333,20.6,13,12.5,-8.5,226.5
10,TOR,0,Jakob Poeltl,10.923077,12.8,17.000000,16,IND,17.222222,21.8,12,11.5,-9.5,234.5
11,NYK,0,Karl-Anthony Towns,22.625000,28.0,32.000000,2,CHO,16.636364,16.6,9,24.5,-6.5,238.5
12,BOS,0,Luka Garza,8.230769,9.6,2.000000,26,DET,16.181818,15.2,7,9.5,2.5,229.5
13,CHO,0,Ryan Kalkbrenner,9.400000,9.8,NaN,22,NYK,14.545455,14.0,5,6.5,6.5,238.5
14,MIN,0,Naz Reid,13.176471,18.6,14.153846,8,OKC,12.000000,12.0,2,11.5,8.5,226.5
15,MIN,0,Rudy Gobert,10.705882,10.2,8.300000,17,OKC,12.000000,12.0,2,9.5,8.5,226.5

===AST===
PG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,Spread,Total
0,MIL,0,Ryan Rollins,6.000000,7.2,1.000000,13,MIA,7.666667,8.0,29,6.5,6.5,236.5
1,HOU,0,Reed Sheppard,3.142857,3.2,0.250000,24,GSW,7.473684,6.6,27,3.5,1.5,225.5
2,GSW,0,Stephen Curry,4.214286,4.0,5.307692,19,HOU,7.090909,5.4,21,3.5,-1.5,225.5
3,CHO,0,LaMelo Ball,9.300000,8.4,NaN,2,NYK,7.000000,6.2,20,7.5,6.5,238.5
4,OKC,0,Shai Gilgeous-Alexander,6.705882,6.6,7.307692,7,MIN,6.583333,7.0,14,7.5,-8.5,226.5
5,MIA,0,Davion Mitchell,7.333333,6.6,3.285714,6,MIL,6.437500,8.4,13,5.5,-6.5,236.5
6,DET,0,Cade Cunningham,9.642857,9.6,8.250000,1,BOS,6.307692,6.2,12,8.5,-2.5,229.5
7,NYK,0,Jalen Brunson,6.500000,7.0,5.500000,9,CHO,6.000000,5.6,8,6.5,-6.5,238.5
8,TOR,0,Immanuel Quickley,6.055556,5.6,4.400000,12,IND,6.000000,6.2,8,5.5,-9.5,234.5
9,TOR,0,Jamal Shead,5.666667,7.2,2.500000,15,IND,6.000000,6.2,8,5.5,-9.5,234.5
10,BOS,0,Payton Pritchard,5.117647,5.6,5.000000,16,DET,5.666667,4.4,7,4.5,2.5,229.5
11,IND,0,Andrew Nembhard,6.400000,6.0,4.333333,10,TOR,5.583333,6.8,4,6.5,9.5,234.5
12,IND,0,T.J. McConnell,3.714286,4.6,5.285714,22,TOR,5.583333,6.8,4,3.5,9.5,234.5
13,NOP,0,Jeremiah Fears,2.882353,2.2,NaN,26,MEM,5.000000,5.0,2,2.5,1.5,234.5

SG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,Spread,Total
0,OKC,0,Ajay Mitchell,3.941176,3.8,0.333333,8,MIN,4.235294,4.0,24,3.5,-8.5,226.5
1,OKC,0,Cason Wallace,2.466667,2.2,2.583333,27,MIN,4.235294,4.0,24,2.5,-8.5,226.5
2,MEM,0,Vince Williams Jr.,5.166667,8.4,2.833333,3,NOP,3.250000,2.8,8,6.5,-1.5,234.5
3,MEM,0,Kentavious Caldwell-Pope,3.352941,3.4,4.833333,11,NOP,3.250000,2.8,8,2.5,-1.5,234.5
4,MEM,0,Jaylen Wells,2.285714,3.0,3.200000,33,NOP,3.250000,2.8,8,2.5,-1.5,234.5
5,MEM,0,Cedric Coward,2.777778,2.0,NaN,20,NOP,3.250000,2.8,8,3.5,-1.5,234.5
6,BOS,0,Derrick White,5.235294,5.2,6.250000,2,DET,3.166667,4.0,6,4.5,2.5,229.5
7,BOS,0,Anfernee Simons,2.933333,4.0,3.750000,18,DET,3.166667,4.0,6,2.5,2.5,229.5
8,MIN,0,Anthony Edwards,3.833333,3.8,4.846154,9,OKC,2.307692,2.0,1,3.5,8.5,226.5
9,MIN,0,Donte DiVincenzo,3.411765,2.6,2.750000,10,OKC,2.307692,2.0,1,3.5,8.5,226.5

SF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,Spread,Total
0,NYK,0,Mikal Bridges,4.687500,4.2,4.500000,5,CHO,4.000000,5.6,25,3.5,-6.5,238.5
1,NYK,0,Josh Hart,4.666667,6.6,4.571429,6,CHO,4.000000,5.6,25,4.5,-6.5,238.5
2,NOP,0,Trey Murphy III,3.666667,2.8,2.000000,10,MEM,3.619048,2.0,21,3.5,1.5,234.5
3,NOP,0,Saddiq Bey,2.846154,2.4,NaN,15,MEM,3.619048,2.0,21,2.5,1.5,234.5
4,TOR,0,Brandon Ingram,3.888889,4.0,3.800000,8,IND,3.529412,2.8,18,3.5,-9.5,234.5
5,CHO,0,Kon Knueppel,2.882353,3.0,NaN,14,NYK,3.230769,3.2,13,2.5,6.5,238.5
6,MIA,0,Andrew Wiggins,2.800000,3.8,1.750000,16,MIL,3.222222,2.4,12,2.5,-6.5,236.5
7,DET,0,Ausar Thompson,3.545455,3.4,1.750000,12,BOS,3.125000,3.0,10,2.5,-2.5,229.5
8,HOU,0,Amen Thompson,5.214286,4.4,3.000000,3,GSW,3.066667,5.0,9,4.5,1.5,225.5
9,GSW,0,Jimmy Butler,4.882353,5.4,3.545455,4,HOU,2.866667,1.4,6,4.5,-1.5,225.5
10,BOS,0,Jaylen Brown,4.294118,5.0,4.500000,7,DET,2.583333,3.8,3,4.5,2.5,229.5

PF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,Spread,Total
0,NOP,0,Zion Williamson,4.000000,3.6,3.400000,6,MEM,3.785714,3.0,25,4.5,1.5,234.5
1,IND,0,Pascal Siakam,4.750000,3.6,3.857143,5,TOR,3.555556,2.6,24,3.5,9.5,234.5
2,MIN,0,Julius Randle,5.705882,4.8,3.285714,3,OKC,3.533333,3.4,23,4.5,8.5,226.5
3,TOR,0,Scottie Barnes,5.055556,4.6,6.500000,4,IND,2.833333,3.0,12,5.5,-9.5,234.5
4,CHO,0,Miles Bridges,4.000000,3.2,3.500000,6,NYK,2.545455,3.4,7,3.5,6.5,238.5
5,MIL,0,Giannis Antetokounmpo,6.846154,7.2,5.142857,1,MIA,2.272727,3.0,4,5.5,6.5,236.5
6,GSW,0,Draymond Green,5.812500,6.2,3.714286,2,HOU,2.000000,1.4,3,5.5,-1.5,225.5
7,DET,0,Tobias Harris,2.875000,2.2,2.555556,15,BOS,1.818182,1.6,2,1.5,-2.5,229.5

C

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,Spread,Total
0,HOU,0,Alperen Sengun,7.142857,7.0,5.071429,1,GSW,4.083333,4.6,27,6.5,1.5,225.5
1,MEM,0,Jaren Jackson Jr.,2.000000,2.8,2.375000,21,NOP,4.000000,4.2,25,2.5,-1.5,234.5
2,MEM,0,Zach Edey,2.500000,2.5,NaN,11,NOP,4.000000,4.2,25,1.5,-1.5,234.5
3,DET,0,Jalen Duren,2.384615,3.2,1.285714,13,BOS,3.454545,3.6,21,2.5,-2.5,229.5
4,OKC,0,Isaiah Hartenstein,3.800000,4.8,1.727273,4,MIN,3.416667,3.2,18,3.5,-8.5,226.5
5,MIA,0,Bam Adebayo,3.000000,2.8,5.000000,8,MIL,2.888889,3.4,9,3.5,-6.5,236.5
6,NYK,0,Karl-Anthony Towns,3.375000,3.6,3.400000,7,CHO,2.636364,3.8,6,2.5,-6.5,238.5

===REB===
PG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,Spread,Total
0,MIL,0,Ryan Rollins,4.235294,4.0,0.400000,10,MIA,7.333333,6.8,30,4.5,6.5,236.5
1,OKC,0,Shai Gilgeous-Alexander,4.882353,4.2,5.692308,6,MIN,6.833333,7.2,29,4.5,-8.5,226.5
2,TOR,0,Immanuel Quickley,4.777778,6.0,3.400000,7,IND,5.875000,5.2,27,3.5,-9.5,234.5
3,HOU,0,Reed Sheppard,3.300000,3.2,0.333333,18,GSW,5.631579,5.6,24,2.5,1.5,225.5
4,NOP,0,Jeremiah Fears,3.470588,3.8,NaN,17,MEM,4.928571,4.0,18,3.5,1.5,234.5
5,DET,0,Cade Cunningham,6.000000,8.2,5.250000,4,BOS,4.692308,5.8,13,5.5,-2.5,229.5
6,CHO,0,LaMelo Ball,6.600000,5.2,NaN,2,NYK,4.666667,2.8,12,4.5,6.5,238.5
7,BOS,0,Payton Pritchard,4.294118,5.4,4.000000,9,DET,4.533333,3.4,11,3.5,2.5,229.5
8,NYK,0,Jalen Brunson,3.692308,3.4,3.166667,14,CHO,4.058824,4.0,6,3.5,-6.5,238.5
9,GSW,0,Stephen Curry,3.785714,3.6,5.307692,13,HOU,4.000000,2.8,4,3.5,-1.5,225.5
10,IND,0,Andrew Nembhard,1.777778,1.8,1.500000,29,TOR,3.833333,4.4,2,2.5,9.5,234.5

SG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,Spread,Total
0,MIA,0,Tyler Herro,7.000000,7.0,4.333333,1,MIL,4.857143,6.0,29,4.5,-6.5,236.5
1,MIA,0,Norman Powell,3.857143,3.6,NaN,15,MIL,4.857143,6.0,29,3.5,-6.5,236.5
2,BOS,0,Derrick White,4.000000,5.0,5.125000,10,DET,4.388889,4.4,22,3.5,2.5,229.5
3,BOS,0,Anfernee Simons,2.928571,4.0,1.750000,31,DET,4.388889,4.4,22,2.5,2.5,229.5
4,MIN,0,Anthony Edwards,4.538462,5.2,7.307692,6,OKC,4.307692,3.4,20,4.5,8.5,226.5
5,MIN,0,Donte DiVincenzo,4.125000,4.2,2.625000,9,OKC,4.307692,3.4,20,3.5,8.5,226.5
6,MEM,0,Vince Williams Jr.,5.153846,6.6,3.666667,3,NOP,3.958333,4.6,15,5.5,-1.5,234.5
7,MEM,0,Jaylen Wells,3.444444,2.8,3.600000,19,NOP,3.958333,4.6,15,3.5,-1.5,234.5
8,MEM,0,Cedric Coward,5.833333,5.6,NaN,2,NOP,3.958333,4.6,15,5.5,-1.5,234.5
9,GSW,0,Moses Moody,3.375000,4.4,3.000000,20,HOU,3.818182,4.2,12,3.5,-1.5,225.5
10,IND,0,Ben Sheppard,4.294118,3.4,1.875000,8,TOR,3.789474,4.2,11,3.5,9.5,234.5
11,OKC,0,Ajay Mitchell,4.000000,3.2,0.666667,10,MIN,3.647059,4.2,7,3.5,-8.5,226.5
12,OKC,0,Cason Wallace,2.928571,1.8,2.333333,31,MIN,3.647059,4.2,7,2.5,-8.5,226.5
13,HOU,0,Josh Okogie,2.833333,2.8,2.714286,33,GSW,3.437500,4.0,4,4.5,1.5,225.5

SF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,Spread,Total
0,DET,0,Ausar Thompson,5.615385,3.6,6.000000,11,BOS,6.375000,6.6,28,5.5,-2.5,229.5
1,DET,0,Duncan Robinson,3.266667,3.6,1.666667,28,BOS,6.375000,6.6,28,2.5,-2.5,229.5
2,MIA,0,Andrew Wiggins,4.933333,5.6,3.000000,15,MIL,6.111111,3.8,25,4.5,-6.5,236.5
3,TOR,0,Brandon Ingram,6.176471,6.4,5.000000,8,IND,6.058824,5.8,24,5.5,-9.5,234.5
4,IND,0,Bennedict Mathurin,6.666667,5.8,3.500000,2,TOR,5.583333,4.4,17,5.5,9.5,234.5
5,NOP,0,Trey Murphy III,6.277778,4.6,5.375000,6,MEM,5.285714,5.2,9,5.5,1.5,234.5
6,NOP,0,Saddiq Bey,5.352941,7.2,NaN,13,MEM,5.285714,5.2,9,5.5,1.5,234.5
7,GSW,0,Jimmy Butler,5.647059,6.4,4.727273,10,HOU,5.266667,5.4,8,5.5,-1.5,225.5
8,NYK,0,Josh Hart,7.066667,8.8,7.714286,1,CHO,5.166667,7.4,7,7.5,-6.5,238.5
9,NYK,0,Mikal Bridges,4.562500,4.8,4.500000,19,CHO,5.166667,7.4,7,3.5,-6.5,238.5
10,HOU,0,Amen Thompson,6.571429,7.0,6.857143,3,GSW,5.133333,4.8,6,7.5,1.5,225.5
11,CHO,0,Brandon Miller,1.000000,1.0,4.666667,39,NYK,5.000000,3.8,5,3.5,6.5,238.5
12,CHO,0,Kon Knueppel,5.823529,5.2,NaN,9,NYK,5.000000,3.8,5,4.5,6.5,238.5
13,OKC,0,Luguentz Dort,3.909091,2.8,3.692308,24,MIN,4.923077,4.8,4,3.5,-8.5,226.5
14,BOS,0,Jaylen Brown,5.588235,7.0,7.000000,12,DET,4.333333,4.0,1,5.5,2.5,229.5

PF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,Spread,Total
0,TOR,0,Scottie Barnes,7.777778,7.6,8.833333,3,IND,7.916667,7.0,29,7.5,-9.5,234.5
1,MIL,0,Giannis Antetokounmpo,10.846154,7.6,10.142857,1,MIA,7.272727,8.6,25,10.5,6.5,236.5
2,MIL,0,Bobby Portis,5.777778,6.6,4.666667,15,MIA,7.272727,8.6,25,5.5,6.5,236.5
3,MIL,0,Kyle Kuzma,4.352941,3.6,4.400000,26,MIA,7.272727,8.6,25,4.5,6.5,236.5
4,IND,0,Pascal Siakam,7.062500,6.4,7.285714,7,TOR,7.111111,5.2,24,6.5,9.5,234.5
5,IND,0,Jarace Walker,5.117647,5.0,2.285714,20,TOR,7.111111,5.2,24,4.5,9.5,234.5
6,NOP,0,Zion Williamson,6.285714,5.0,7.000000,12,MEM,6.857143,6.6,23,5.5,1.5,234.5
7,DET,0,Tobias Harris,5.250000,3.4,6.888889,19,BOS,6.363636,5.4,17,4.5,-2.5,229.5
8,MIN,0,Julius Randle,7.470588,7.4,6.285714,4,OKC,6.333333,5.4,16,6.5,8.5,226.5
9,MIN,0,Jaden McDaniels,4.812500,5.2,5.333333,23,OKC,6.333333,5.4,16,4.5,8.5,226.5
10,HOU,0,Jabari Smith Jr.,7.076923,8.4,5.071429,6,GSW,5.733333,5.4,8,7.5,1.5,225.5
11,OKC,0,Chet Holmgren,7.923077,7.2,6.363636,2,MIN,5.705882,6.4,7,7.5,-8.5,226.5
12,GSW,0,Draymond Green,5.812500,6.8,5.214286,14,HOU,5.555556,4.0,6,5.5,-1.5,225.5
13,CHO,0,Miles Bridges,6.529412,5.0,7.000000,11,NYK,5.363636,6.0,4,6.5,6.5,238.5

C

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,Spread,Total
0,MIL,0,Myles Turner,6.611111,8.0,7.714286,19,MIA,12.615385,14.2,29,6.5,6.5,236.5
1,MEM,0,Jaren Jackson Jr.,5.312500,5.0,6.625000,27,NOP,11.900000,12.4,27,5.5,-1.5,234.5
2,MEM,0,Zach Edey,7.600000,7.6,NaN,17,NOP,11.900000,12.4,27,8.5,-1.5,234.5
3,TOR,0,Jakob Poeltl,8.076923,9.6,9.142857,15,IND,11.888889,12.4,26,9.5,-9.5,234.5
4,TOR,0,Sandro Mamukelashvili,4.312500,5.2,3.200000,36,IND,11.888889,12.4,26,5.5,-9.5,234.5
5,NOP,0,Yves Missi,5.833333,5.8,8.200000,24,MEM,11.111111,12.0,24,6.5,1.5,234.5
6,DET,0,Jalen Duren,11.533333,11.0,9.428571,4,BOS,10.545455,10.2,21,12.5,-2.5,229.5
7,DET,0,Isaiah Stewart,6.071429,5.0,4.666667,22,BOS,10.545455,10.2,21,5.5,-2.5,229.5
8,MIN,0,Rudy Gobert,10.235294,11.0,9.700000,7,OKC,10.500000,10.5,20,10.5,8.5,226.5
9,MIN,0,Naz Reid,5.823529,6.4,7.769231,25,OKC,10.500000,10.5,20,5.5,8.5,226.5
10,OKC,0,Isaiah Hartenstein,11.058824,10.2,7.181818,5,MIN,10.083333,10.8,17,9.5,-8.5,226.5
11,MIA,0,Kel'el Ware,11.000000,15.6,7.750000,6,MIL,10.000000,9.8,15,10.5,-6.5,236.5
12,HOU,0,Alperen Sengun,9.571429,8.6,11.214286,9,GSW,10.000000,11.2,15,10.5,1.5,225.5
13,MIA,0,Bam Adebayo,8.166667,6.8,10.000000,14,MIL,10.000000,9.8,15,8.5,-6.5,236.5
14,CHO,0,Ryan Kalkbrenner,6.866667,7.4,NaN,18,NYK,9.181818,9.4,8,6.5,6.5,238.5
15,IND,0,Isaiah Jackson,5.941176,5.6,4.800000,23,TOR,9.100000,9.6,7,5.5,9.5,234.5
16,NYK,0,Karl-Anthony Towns,12.437500,12.0,10.600000,2,CHO,7.363636,8.4,1,12.5,-6.5,238.5

===PR===
PG

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,Spread,Total
0,MIL,0,Ryan Rollins,22.166667,24.0,4.200000,8,MIA,29.416667,25.8,30,22.5,6.5,236.5
1,TOR,0,Immanuel Quickley,20.277778,20.8,16.000000,13,IND,28.000000,22.8,25,20.5,-9.5,234.5
2,NOP,0,Jeremiah Fears,18.666667,21.2,NaN,16,MEM,27.857143,25.8,24,17.5,1.5,234.5
3,DET,0,Cade Cunningham,33.142857,38.2,25.000000,2,BOS,27.384615,26.6,22,31.5,-2.5,229.5
4,OKC,0,Shai Gilgeous-Alexander,36.941176,35.6,39.000000,1,MIN,27.166667,20.6,20,35.5,-8.5,226.5
5,HOU,0,Reed Sheppard,15.785714,17.6,1.166667,18,GSW,26.631579,25.4,18,17.5,1.5,225.5
6,NYK,0,Jalen Brunson,31.714286,33.6,28.333333,4,CHO,23.941176,22.6,8,31.5,-6.5,238.5
7,IND,0,Andrew Nembhard,19.900000,21.2,12.833333,14,TOR,23.416667,22.4,7,18.5,9.5,234.5
8,BOS,0,Payton Pritchard,20.941176,27.0,23.500000,11,DET,23.333333,21.6,6,20.5,2.5,229.5
9,CHO,0,LaMelo Ball,27.800000,23.2,NaN,5,NYK,22.444444,19.2,5,22.5,6.5,238.5
10,GSW,0,Stephen Curry,32.333333,35.8,28.538462,3,HOU,20.454545,21.2,2,30.5,-1.5,225.5

SG

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,Spread,Total
0,MIA,0,Tyler Herro,31.000000,31.0,26.500000,2,MIL,22.714286,27.6,26,23.5,-6.5,236.5
1,MIA,0,Norman Powell,29.285714,30.2,NaN,4,MIL,22.714286,27.6,26,22.5,-6.5,236.5
2,MEM,0,Jaylen Wells,13.777778,15.0,14.400000,23,NOP,22.708333,24.4,25,17.5,-1.5,234.5
3,MEM,0,Vince Williams Jr.,13.307692,15.0,9.333333,25,NOP,22.708333,24.4,25,15.5,-1.5,234.5
4,MEM,0,Cedric Coward,19.611111,18.0,NaN,9,NOP,22.708333,24.4,25,18.5,-1.5,234.5
5,HOU,0,Josh Okogie,9.785714,8.2,11.000000,41,GSW,19.812500,20.8,10,14.5,1.5,225.5
6,OKC,0,Ajay Mitchell,19.882353,17.2,3.833333,8,MIN,19.647059,15.6,9,19.5,-8.5,226.5
7,OKC,0,Cason Wallace,10.875000,11.0,7.833333,35,MIN,19.647059,15.6,9,12.5,-8.5,226.5
8,BOS,0,Derrick White,19.352941,20.8,24.000000,11,DET,19.388889,16.6,8,20.5,2.5,229.5
9,BOS,0,Anfernee Simons,17.875000,20.0,29.500000,14,DET,19.388889,16.6,8,16.5,2.5,229.5
10,GSW,0,Moses Moody,15.588235,18.8,11.285714,20,HOU,18.909091,23.4,7,14.5,-1.5,225.5
11,MIN,0,Anthony Edwards,32.307692,33.4,30.076923,1,OKC,17.307692,15.2,1,29.5,8.5,226.5
12,MIN,0,Donte DiVincenzo,17.705882,16.8,14.125000,15,OKC,17.307692,15.2,1,16.5,8.5,226.5

SF

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,Spread,Total
0,BOS,0,Jaylen Brown,33.470588,35.4,35.500000,1,DET,27.166667,22.6,30,33.5,2.5,229.5
1,MIA,0,Andrew Wiggins,21.666667,21.2,10.500000,13,MIL,25.277778,15.6,24,17.5,-6.5,236.5
2,NYK,0,Mikal Bridges,20.812500,22.4,22.500000,14,CHO,25.166667,30.0,23,19.5,-6.5,238.5
3,NYK,0,Josh Hart,16.733333,21.0,19.428571,21,CHO,25.166667,30.0,23,19.5,-6.5,238.5
4,IND,0,Bennedict Mathurin,31.000000,27.8,19.166667,3,TOR,24.750000,19.4,19,26.5,9.5,234.5
5,TOR,0,Brandon Ingram,27.444444,30.2,26.800000,5,IND,24.470588,21.2,17,29.5,-9.5,234.5
6,DET,0,Ausar Thompson,18.230769,14.2,14.500000,17,BOS,24.437500,29.6,16,16.5,-2.5,229.5
7,GSW,0,Jimmy Butler,25.588235,28.4,19.636364,7,HOU,23.133333,22.2,10,25.5,-1.5,225.5
8,NOP,0,Trey Murphy III,26.444444,25.6,23.375000,6,MEM,22.952381,24.8,9,24.5,1.5,234.5
9,NOP,0,Saddiq Bey,17.411765,18.2,NaN,18,MEM,22.952381,24.8,9,20.5,1.5,234.5
10,CHO,0,Brandon Miller,17.000000,17.0,26.833333,19,NYK,22.307692,22.4,7,21.5,6.5,238.5
11,CHO,0,Kon Knueppel,25.176471,28.0,NaN,9,NYK,22.307692,22.4,7,22.5,6.5,238.5
12,HOU,0,Amen Thompson,24.500000,25.6,20.214286,10,GSW,21.400000,23.0,4,26.5,1.5,225.5
13,OKC,0,Luguentz Dort,12.272727,12.4,12.307692,27,MIN,20.000000,22.0,2,13.5,-8.5,226.5

PF

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,Spread,Total
0,TOR,0,Scottie Barnes,27.000000,25.6,28.666667,6,IND,27.666667,29.6,27,28.5,-9.5,234.5
1,GSW,0,Draymond Green,13.937500,15.4,12.500000,24,HOU,26.444444,23.0,23,14.5,-1.5,225.5
2,OKC,0,Chet Holmgren,25.461538,24.8,22.272727,8,MIN,26.000000,26.2,20,25.5,-8.5,226.5
3,MIL,0,Giannis Antetokounmpo,42.000000,35.2,34.857143,1,MIA,25.818182,28.4,19,38.5,6.5,236.5
4,MIL,0,Kyle Kuzma,17.941176,14.8,22.800000,18,MIA,25.818182,28.4,19,17.5,6.5,236.5
5,MIL,0,Bobby Portis,17.166667,22.2,15.500000,21,MIA,25.818182,28.4,19,18.5,6.5,236.5
6,IND,0,Pascal Siakam,31.812500,32.6,28.571429,2,TOR,25.555556,24.4,18,29.5,9.5,234.5
7,CHO,0,Miles Bridges,28.529412,25.4,24.000000,4,NYK,24.909091,26.2,15,27.5,6.5,238.5
8,MIN,0,Julius Randle,31.705882,28.8,23.857143,3,OKC,24.666667,20.6,13,28.5,8.5,226.5
9,MIN,0,Jaden McDaniels,21.312500,17.6,19.916667,13,OKC,24.666667,20.6,13,18.5,8.5,226.5
10,NOP,0,Zion Williamson,27.875000,27.8,27.000000,5,MEM,24.142857,24.0,12,27.5,1.5,234.5
11,DET,0,Tobias Harris,19.125000,18.2,22.222222,17,BOS,23.181818,23.6,8,15.5,-2.5,229.5
12,HOU,0,Jabari Smith Jr.,22.076923,25.2,16.785714,10,GSW,22.400000,17.6,6,23.5,1.5,225.5

C

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,Spread,Total
0,MIL,0,Myles Turner,19.000000,19.2,27.428571,13,MIA,31.384615,37.4,27,20.5,6.5,236.5
1,MEM,0,Jaren Jackson Jr.,23.062500,24.4,28.625000,9,NOP,31.200000,33.4,26,27.5,-1.5,234.5
2,MEM,0,Zach Edey,17.800000,17.8,NaN,18,NOP,31.200000,33.4,26,20.5,-1.5,234.5
3,HOU,0,Alperen Sengun,30.785714,31.6,31.214286,4,GSW,29.500000,34.4,23,33.5,1.5,225.5
4,NOP,0,Yves Missi,12.500000,12.4,17.600000,27,MEM,29.444444,28.2,22,14.5,1.5,234.5
5,TOR,0,Jakob Poeltl,19.000000,22.4,26.142857,13,IND,29.111111,34.2,21,21.5,-9.5,234.5
6,DET,0,Jalen Duren,31.800000,33.0,20.857143,3,BOS,28.090909,23.6,16,31.5,-2.5,229.5
7,MIA,0,Bam Adebayo,27.500000,21.8,31.500000,6,MIL,27.777778,28.0,15,26.5,-6.5,236.5
8,MIA,0,Kel'el Ware,23.444444,32.2,18.500000,8,MIL,27.777778,28.0,15,23.5,-6.5,236.5
9,OKC,0,Isaiah Hartenstein,23.470588,20.4,14.818182,7,MIN,27.416667,31.4,13,22.5,-8.5,226.5
10,NYK,0,Karl-Anthony Towns,35.062500,40.0,42.600000,2,CHO,24.000000,25.0,6,37.5,-6.5,238.5
11,CHO,0,Ryan Kalkbrenner,16.266667,17.2,NaN,22,NYK,23.727273,23.4,5,13.5,6.5,238.5
12,MIN,0,Rudy Gobert,20.941176,21.2,18.000000,10,OKC,22.500000,22.5,2,20.5,8.5,226.5
13,MIN,0,Naz Reid,19.000000,25.0,21.923077,13,OKC,22.500000,22.5,2,17.5,8.5,226.5

===PA===
PG

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,Spread,Total
0,MIL,0,Ryan Rollins,24.166667,27.2,4.800000,11,MIA,29.750000,27.0,26,24.5,6.5,236.5
1,MIA,0,Davion Mitchell,17.611111,17.6,8.857143,18,MIL,29.687500,38.2,25,14.5,-6.5,236.5
2,DET,0,Cade Cunningham,36.785714,39.6,28.000000,2,BOS,29.000000,27.0,22,34.5,-2.5,229.5
3,HOU,0,Reed Sheppard,16.571429,18.2,1.083333,19,GSW,28.473684,26.4,21,18.5,1.5,225.5
4,TOR,0,Immanuel Quickley,21.555556,20.4,17.000000,13,IND,28.125000,23.8,20,22.5,-9.5,234.5
5,NOP,0,Jeremiah Fears,18.111111,19.6,NaN,17,MEM,27.928571,26.8,19,16.5,1.5,234.5
6,OKC,0,Shai Gilgeous-Alexander,38.764706,38.0,40.615385,1,MIN,26.916667,20.4,16,37.5,-8.5,226.5
7,NYK,0,Jalen Brunson,34.785714,37.2,30.666667,3,CHO,25.882353,24.2,10,34.5,-6.5,238.5
8,IND,0,Andrew Nembhard,24.700000,25.4,15.666667,10,TOR,25.166667,24.8,7,22.5,9.5,234.5
9,CHO,0,LaMelo Ball,30.500000,26.4,NaN,5,NYK,24.777778,22.6,6,25.5,6.5,238.5
10,BOS,0,Payton Pritchard,21.764706,27.2,24.500000,12,DET,24.466667,22.6,4,21.5,2.5,229.5
11,GSW,0,Stephen Curry,32.733333,36.2,28.538462,4,HOU,23.545455,23.8,2,30.5,-1.5,225.5

SG

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,Spread,Total
0,MEM,0,Vince Williams Jr.,12.923077,16.8,8.500000,25,NOP,22.000000,22.6,24,16.5,-1.5,234.5
1,MEM,0,Jaylen Wells,12.111111,14.4,14.000000,31,NOP,22.000000,22.6,24,16.5,-1.5,234.5
2,MEM,0,Kentavious Caldwell-Pope,10.666667,9.4,16.166667,32,NOP,22.000000,22.6,24,10.5,-1.5,234.5
3,MEM,0,Cedric Coward,16.555556,14.4,NaN,16,NOP,22.000000,22.6,24,16.5,-1.5,234.5
4,MIA,0,Tyler Herro,24.000000,24.0,27.666667,5,MIL,21.285714,26.0,18,22.5,-6.5,236.5
5,OKC,0,Ajay Mitchell,20.058824,17.8,3.500000,10,MIN,20.235294,15.4,11,20.5,-8.5,226.5
6,OKC,0,Cason Wallace,10.625000,11.2,8.083333,33,MIN,20.235294,15.4,11,11.5,-8.5,226.5
7,GSW,0,Moses Moody,14.812500,15.8,9.285714,21,HOU,18.181818,22.4,6,13.5,-1.5,225.5
8,BOS,0,Derrick White,20.588235,21.0,25.125000,8,DET,18.166667,16.2,5,21.5,2.5,229.5
9,BOS,0,Anfernee Simons,17.000000,16.6,31.500000,15,DET,18.166667,16.2,5,16.5,2.5,229.5
10,MIN,0,Anthony Edwards,31.307692,32.0,27.615385,2,OKC,15.307692,13.8,1,29.5,8.5,226.5
11,MIN,0,Donte DiVincenzo,17.235294,15.2,14.250000,14,OKC,15.307692,13.8,1,15.5,8.5,226.5

SF

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,Spread,Total
0,BOS,0,Jaylen Brown,32.176471,33.4,33.000000,1,DET,25.416667,22.4,30,31.5,2.5,229.5
1,NYK,0,Mikal Bridges,20.937500,21.8,22.500000,13,CHO,24.000000,28.2,27,19.5,-6.5,238.5
2,NYK,0,Josh Hart,14.333333,18.8,16.285714,19,CHO,24.000000,28.2,27,16.5,-6.5,238.5
3,MIA,0,Andrew Wiggins,19.533333,19.4,9.250000,15,MIL,22.388889,14.2,18,15.5,-6.5,236.5
4,TOR,0,Brandon Ingram,25.500000,28.8,25.600000,5,IND,21.941176,18.2,16,27.5,-9.5,234.5
5,NOP,0,Trey Murphy III,23.222222,23.4,20.000000,8,MEM,21.285714,21.6,13,22.5,1.5,234.5
6,NOP,0,Saddiq Bey,14.235294,13.4,NaN,21,MEM,21.285714,21.6,13,16.5,1.5,234.5
7,DET,0,Ausar Thompson,15.615385,13.2,10.250000,17,BOS,21.187500,26.0,11,13.5,-2.5,229.5
8,GSW,0,Jimmy Butler,24.823529,27.4,18.454545,6,HOU,20.733333,18.2,9,25.5,-1.5,225.5
9,CHO,0,Kon Knueppel,22.235294,25.8,NaN,11,NYK,20.538462,21.8,8,20.5,6.5,238.5
10,HOU,0,Amen Thompson,23.142857,23.0,16.357143,9,GSW,19.333333,23.2,5,24.5,1.5,225.5

PF

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,Spread,Total
0,GSW,0,Draymond Green,13.937500,14.8,11.000000,22,HOU,22.888889,20.4,21,14.5,-1.5,225.5
1,TOR,0,Scottie Barnes,24.277778,22.6,26.333333,6,IND,22.583333,25.6,20,25.5,-9.5,234.5
2,CHO,0,Miles Bridges,25.764706,23.6,20.500000,5,NYK,22.090909,23.6,18,23.5,6.5,238.5
3,IND,0,Pascal Siakam,29.500000,29.8,25.142857,3,TOR,22.000000,21.8,17,27.5,9.5,234.5
4,MIN,0,Julius Randle,29.941176,26.2,20.857143,2,OKC,21.866667,18.6,16,26.5,8.5,226.5
5,NOP,0,Zion Williamson,26.375000,26.4,23.400000,4,MEM,21.071429,20.4,13,26.5,1.5,234.5
6,MIL,0,Giannis Antetokounmpo,38.000000,34.8,29.857143,1,MIA,20.818182,22.8,11,34.5,6.5,236.5
7,HOU,0,Jabari Smith Jr.,16.923077,18.8,12.857143,14,GSW,19.133333,14.8,5,17.5,1.5,225.5
8,DET,0,Tobias Harris,16.750000,17.0,17.888889,15,BOS,18.636364,19.8,4,12.5,-2.5,229.5

C

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,Spread,Total
0,HOU,0,Alperen Sengun,28.357143,30.0,25.071429,2,GSW,23.583333,27.8,27,29.5,1.5,225.5
1,MEM,0,Jaren Jackson Jr.,19.375000,21.8,24.375000,7,NOP,23.300000,25.2,24,24.5,-1.5,234.5
2,DET,0,Jalen Duren,22.333333,25.2,12.714286,4,BOS,21.000000,17.0,17,21.5,-2.5,229.5
3,OKC,0,Isaiah Hartenstein,15.764706,15.0,9.363636,8,MIN,20.750000,23.8,15,15.5,-8.5,226.5
4,MIA,0,Bam Adebayo,22.083333,17.0,26.500000,5,MIL,20.666667,21.6,14,21.5,-6.5,236.5
5,NYK,0,Karl-Anthony Towns,26.000000,31.6,35.400000,3,CHO,19.272727,20.4,8,27.5,-6.5,238.5

===RA===
PG

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,Spread,Total
0,MIL,0,Ryan Rollins,10.000000,11.2,1.400000,10,MIA,15.000000,14.8,30,10.5,6.5,236.5
1,OKC,0,Shai Gilgeous-Alexander,11.588235,10.8,13.000000,6,MIN,13.416667,14.2,28,11.5,-8.5,226.5
2,HOU,0,Reed Sheppard,5.500000,5.8,0.583333,25,GSW,13.105263,12.2,27,6.5,1.5,225.5
3,TOR,0,Immanuel Quickley,10.833333,11.6,7.800000,8,IND,11.875000,11.4,20,10.5,-9.5,234.5
4,CHO,0,LaMelo Ball,15.900000,13.6,NaN,1,NYK,11.666667,9.0,19,11.5,6.5,238.5
5,GSW,0,Stephen Curry,7.466667,7.6,10.615385,18,HOU,11.090909,8.2,13,8.5,-1.5,225.5
6,DET,0,Cade Cunningham,15.642857,17.8,13.500000,2,BOS,11.000000,12.0,11,14.5,-2.5,229.5
7,BOS,0,Payton Pritchard,9.411765,11.0,9.000000,14,DET,10.200000,7.8,7,8.5,2.5,229.5
8,NYK,0,Jalen Brunson,9.928571,10.4,8.666667,11,CHO,10.058824,9.6,6,9.5,-6.5,238.5
9,NOP,0,Jeremiah Fears,6.000000,6.0,NaN,22,MEM,9.928571,9.0,4,6.5,1.5,234.5
10,IND,0,Andrew Nembhard,8.000000,7.8,5.833333,17,TOR,9.416667,11.2,2,8.5,9.5,234.5

SG

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,Spread,Total
0,MIA,0,Tyler Herro,7.000000,7.0,9.833333,13,MIL,8.285714,10.4,21,8.5,-6.5,236.5
1,OKC,0,Ajay Mitchell,7.705882,7.0,1.000000,7,MIN,7.882353,8.2,20,7.5,-8.5,226.5
2,OKC,0,Cason Wallace,4.875000,3.8,4.916667,30,MIN,7.882353,8.2,20,5.5,-8.5,226.5
3,BOS,0,Derrick White,9.235294,10.2,11.375000,3,DET,7.555556,8.4,15,8.5,2.5,229.5
4,BOS,0,Anfernee Simons,5.000000,7.2,5.500000,28,DET,7.555556,8.4,15,4.5,2.5,229.5
5,MEM,0,Vince Williams Jr.,9.923077,15.0,6.500000,2,NOP,7.208333,7.4,10,11.5,-1.5,234.5
6,MEM,0,Jaylen Wells,5.222222,5.0,6.800000,25,NOP,7.208333,7.4,10,6.5,-1.5,234.5
7,MEM,0,Cedric Coward,8.611111,7.6,NaN,4,NOP,7.208333,7.4,10,8.5,-1.5,234.5
8,GSW,0,Moses Moody,5.000000,5.8,4.000000,28,HOU,6.909091,7.4,5,4.5,-1.5,225.5
9,MIN,0,Anthony Edwards,8.076923,9.0,12.153846,5,OKC,6.615385,5.4,3,8.5,8.5,226.5
10,MIN,0,Donte DiVincenzo,7.294118,6.8,5.375000,10,OKC,6.615385,5.4,3,6.5,8.5,226.5

SF

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,Spread,Total
0,TOR,0,Brandon Ingram,9.722222,9.4,8.800000,7,IND,9.588235,8.6,24,9.5,-9.5,234.5
1,DET,0,Ausar Thompson,8.615385,6.2,7.750000,12,BOS,9.500000,9.6,22,7.5,-2.5,229.5
2,MIA,0,Andrew Wiggins,7.733333,9.4,4.750000,16,MIL,9.333333,6.2,19,6.5,-6.5,236.5
3,NYK,0,Josh Hart,11.733333,15.4,12.285714,4,CHO,9.166667,13.0,15,12.5,-6.5,238.5
4,NYK,0,Mikal Bridges,9.250000,9.0,9.000000,9,CHO,9.166667,13.0,15,7.5,-6.5,238.5
5,NOP,0,Trey Murphy III,9.333333,7.0,7.375000,8,MEM,8.904762,7.2,12,8.5,1.5,234.5
6,NOP,0,Saddiq Bey,7.529412,9.6,NaN,18,MEM,8.904762,7.2,12,8.5,1.5,234.5
7,CHO,0,Kon Knueppel,8.705882,8.2,NaN,10,NYK,8.230769,7.0,7,7.5,6.5,238.5
8,HOU,0,Amen Thompson,11.785714,11.4,9.857143,3,GSW,8.200000,9.8,6,12.5,1.5,225.5
9,GSW,0,Jimmy Butler,10.529412,11.8,8.272727,5,HOU,8.133333,6.8,5,10.5,-1.5,225.5
10,BOS,0,Jaylen Brown,9.882353,12.0,11.500000,6,DET,6.916667,7.8,2,9.5,2.5,229.5

PF

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,Spread,Total
0,TOR,0,Scottie Barnes,12.833333,12.2,15.333333,3,IND,10.750000,10.0,26,13.5,-9.5,234.5
1,IND,0,Pascal Siakam,11.812500,10.0,11.142857,4,TOR,10.666667,7.8,25,10.5,9.5,234.5
2,NOP,0,Zion Williamson,9.500000,8.6,10.400000,8,MEM,10.642857,9.6,24,10.5,1.5,234.5
3,MIN,0,Julius Randle,13.176471,12.2,9.571429,2,OKC,9.866667,8.8,21,11.5,8.5,226.5
4,MIL,0,Giannis Antetokounmpo,17.692308,14.8,15.285714,1,MIA,9.545455,11.6,17,15.5,6.5,236.5
5,HOU,0,Jabari Smith Jr.,9.000000,10.4,6.214286,11,GSW,8.200000,8.0,7,9.5,1.5,225.5
6,DET,0,Tobias Harris,8.125000,5.6,9.444444,14,BOS,8.181818,7.0,6,6.5,-2.5,229.5
7,CHO,0,Miles Bridges,10.294118,8.2,10.500000,6,NYK,7.909091,9.4,4,10.5,6.5,238.5
8,GSW,0,Draymond Green,11.625000,13.0,8.928571,5,HOU,7.555556,5.4,1,11.5,-1.5,225.5

C

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,Spread,Total
0,MEM,0,Jaren Jackson Jr.,6.937500,7.4,9.000000,26,NOP,15.900000,16.6,27,8.5,-1.5,234.5
1,MEM,0,Zach Edey,8.600000,8.6,NaN,18,NOP,15.900000,16.6,27,9.5,-1.5,234.5
2,HOU,0,Alperen Sengun,16.714286,15.6,16.285714,2,GSW,14.083333,15.8,23,17.5,1.5,225.5
3,DET,0,Jalen Duren,13.600000,14.2,10.714286,6,BOS,14.000000,13.8,21,14.5,-2.5,229.5
4,OKC,0,Isaiah Hartenstein,14.411765,15.0,8.909091,5,MIN,13.500000,14.0,19,13.5,-8.5,226.5
5,MIA,0,Bam Adebayo,10.916667,8.8,15.000000,10,MIL,12.888889,13.2,15,11.5,-6.5,236.5
6,NYK,0,Karl-Anthony Towns,15.812500,15.6,14.000000,4,CHO,10.000000,12.2,1,15.5,-6.5,238.5

===PRA===
PG

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,Spread,Total
0,MIL,0,Ryan Rollins,28.166667,31.2,5.200000,10,MIA,37.083333,33.8,30,29.5,6.5,236.5
1,HOU,0,Reed Sheppard,18.928571,20.8,1.416667,20,GSW,34.105263,32.0,25,21.5,1.5,225.5
2,TOR,0,Immanuel Quickley,26.333333,26.4,20.400000,12,IND,34.000000,29.0,21,26.5,-9.5,234.5
3,OKC,0,Shai Gilgeous-Alexander,43.647059,42.2,46.307692,1,MIN,33.750000,27.6,20,42.5,-8.5,226.5
4,DET,0,Cade Cunningham,42.785714,47.8,33.250000,2,BOS,33.692308,32.8,19,40.5,-2.5,229.5
5,NOP,0,Jeremiah Fears,21.388889,23.4,NaN,17,MEM,32.857143,30.8,18,20.5,1.5,234.5
6,NYK,0,Jalen Brunson,38.214286,40.6,33.833333,3,CHO,29.941176,28.2,9,37.5,-6.5,238.5
7,CHO,0,LaMelo Ball,37.100000,31.6,NaN,4,NYK,29.444444,25.4,7,29.5,6.5,238.5
8,IND,0,Andrew Nembhard,26.300000,27.2,17.166667,13,TOR,29.000000,29.2,5,24.5,9.5,234.5
9,BOS,0,Payton Pritchard,26.058824,32.6,28.500000,14,DET,29.000000,26.0,5,25.5,2.5,229.5
10,GSW,0,Stephen Curry,36.266667,39.8,33.846154,5,HOU,27.545455,26.6,2,34.5,-1.5,225.5

SG

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,Spread,Total
0,MIA,0,Tyler Herro,31.000000,31.0,32.000000,4,MIL,26.142857,32.0,23,27.5,-6.5,236.5
1,MEM,0,Vince Williams Jr.,18.076923,23.4,12.166667,20,NOP,25.958333,27.2,22,22.5,-1.5,234.5
2,MEM,0,Jaylen Wells,15.555556,17.2,17.600000,24,NOP,25.958333,27.2,22,20.5,-1.5,234.5
3,MEM,0,Cedric Coward,22.388889,20.0,NaN,11,NOP,25.958333,27.2,22,22.5,-1.5,234.5
4,OKC,0,Ajay Mitchell,23.823529,21.0,4.166667,9,MIN,23.882353,19.6,11,23.5,-8.5,226.5
5,OKC,0,Cason Wallace,13.187500,13.0,10.416667,32,MIN,23.882353,19.6,11,14.5,-8.5,226.5
6,HOU,0,Josh Okogie,10.928571,9.0,11.571429,45,GSW,22.937500,23.8,9,15.5,1.5,225.5
7,BOS,0,Derrick White,24.588235,26.0,30.250000,8,DET,22.555556,20.6,7,25.5,2.5,229.5
8,BOS,0,Anfernee Simons,19.411765,19.8,33.250000,18,DET,22.555556,20.6,7,18.5,2.5,229.5
9,GSW,0,Moses Moody,17.117647,20.2,12.285714,22,HOU,22.000000,26.6,4,16.5,-1.5,225.5
10,MIN,0,Anthony Edwards,35.846154,37.2,34.923077,2,OKC,19.615385,17.2,1,33.5,8.5,226.5
11,MIN,0,Donte DiVincenzo,21.117647,19.4,16.875000,14,OKC,19.615385,17.2,1,19.5,8.5,226.5

SF

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,Spread,Total
0,BOS,0,Jaylen Brown,37.764706,40.4,40.000000,1,DET,29.750000,26.4,25,37.5,2.5,229.5
1,NYK,0,Mikal Bridges,25.500000,26.6,27.000000,13,CHO,29.166667,35.6,23,23.5,-6.5,238.5
2,NYK,0,Josh Hart,21.400000,27.6,24.000000,16,CHO,29.166667,35.6,23,24.5,-6.5,238.5
3,MIA,0,Andrew Wiggins,24.466667,25.0,12.250000,14,MIL,28.500000,18.0,20,19.5,-6.5,236.5
4,TOR,0,Brandon Ingram,31.333333,34.2,30.600000,5,IND,28.000000,24.0,17,33.5,-9.5,234.5
5,DET,0,Ausar Thompson,21.230769,16.8,16.250000,17,BOS,27.562500,32.6,14,18.5,-2.5,229.5
6,NOP,0,Trey Murphy III,29.500000,28.0,25.375000,8,MEM,26.571429,26.8,10,28.5,1.5,234.5
7,NOP,0,Saddiq Bey,19.588235,20.6,NaN,20,MEM,26.571429,26.8,10,22.5,1.5,234.5
8,GSW,0,Jimmy Butler,30.470588,33.8,23.181818,6,HOU,26.000000,23.6,8,31.5,-1.5,225.5
9,CHO,0,Kon Knueppel,28.058824,31.0,NaN,10,NYK,25.538462,25.6,6,25.5,6.5,238.5
10,HOU,0,Amen Thompson,29.714286,30.0,23.214286,7,GSW,24.466667,28.0,4,31.5,1.5,225.5

PF

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,Spread,Total
0,TOR,0,Scottie Barnes,32.055556,30.2,35.166667,5,IND,30.500000,32.6,25,33.5,-9.5,234.5
1,IND,0,Pascal Siakam,36.562500,36.2,32.428571,3,TOR,29.111111,27.0,19,33.5,9.5,234.5
2,GSW,0,Draymond Green,19.750000,21.6,16.214286,19,HOU,28.444444,24.4,17,20.5,-1.5,225.5
3,MIN,0,Julius Randle,37.411765,33.6,27.142857,2,OKC,28.200000,24.0,16,33.5,8.5,226.5
4,MIL,0,Giannis Antetokounmpo,48.846154,42.4,40.000000,1,MIA,28.090909,31.4,15,44.5,6.5,236.5
5,NOP,0,Zion Williamson,31.875000,31.4,30.400000,6,MEM,27.928571,27.0,13,32.5,1.5,234.5
6,CHO,0,Miles Bridges,32.294118,28.6,27.500000,4,NYK,27.454545,29.6,12,30.5,6.5,238.5
7,DET,0,Tobias Harris,22.000000,20.4,24.777778,17,BOS,25.000000,25.2,5,17.5,-2.5,229.5
8,HOU,0,Jabari Smith Jr.,24.000000,27.2,17.928571,11,GSW,24.866667,20.2,4,25.5,1.5,225.5

C

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,Spread,Total
0,MEM,0,Jaren Jackson Jr.,24.687500,26.8,31.000000,8,NOP,35.200000,37.6,28,30.5,-1.5,234.5
1,HOU,0,Alperen Sengun,37.928571,38.6,36.285714,3,GSW,33.583333,39.0,23,39.5,1.5,225.5
2,DET,0,Jalen Duren,33.866667,36.2,22.142857,4,BOS,31.545455,27.2,19,33.5,-2.5,229.5
3,OKC,0,Isaiah Hartenstein,26.823529,25.2,16.545455,7,MIN,30.833333,34.6,17,25.5,-8.5,226.5
4,MIA,0,Bam Adebayo,30.250000,23.8,36.500000,6,MIL,30.666667,31.4,14,29.5,-6.5,236.5
5,NYK,0,Karl-Anthony Towns,38.437500,43.6,46.000000,2,CHO,26.636364,28.8,5,40.5,-6.5,238.5

===TPM===
PG

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,Spread,Total
0,NOP,0,Jeremiah Fears,2.000000,2.0,NaN,17,MEM,3.428571,3.4,29,1.5,1.5,234.5
1,DET,0,Cade Cunningham,1.923077,1.8,1.625000,22,BOS,2.923077,2.8,27,1.5,-2.5,229.5
2,MIL,0,Ryan Rollins,2.800000,3.6,0.600000,6,MIA,2.750000,2.4,25,2.5,6.5,236.5
3,NYK,0,Jalen Brunson,2.857143,3.2,3.166667,3,CHO,2.705882,2.8,24,2.5,-6.5,238.5
4,OKC,0,Shai Gilgeous-Alexander,2.294118,2.4,1.538462,14,MIN,2.416667,2.0,20,1.5,-8.5,226.5
5,IND,0,Andrew Nembhard,2.111111,2.2,1.500000,16,TOR,2.250000,3.2,15,1.5,9.5,234.5
6,GSW,0,Stephen Curry,4.866667,6.4,3.923077,1,HOU,2.181818,2.6,12,4.5,-1.5,225.5
7,BOS,0,Payton Pritchard,2.588235,4.4,4.250000,10,DET,2.133333,2.2,10,2.5,2.5,229.5
8,HOU,0,Reed Sheppard,3.000000,2.6,0.166667,2,GSW,1.947368,1.6,7,2.5,1.5,225.5
9,CHO,0,LaMelo Ball,2.600000,1.6,NaN,9,NYK,1.777778,1.8,5,2.5,6.5,238.5
10,TOR,0,Immanuel Quickley,2.750000,2.8,1.400000,7,IND,1.500000,2.0,1,2.5,-9.5,234.5

SG

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,Spread,Total
0,MIA,0,Norman Powell,3.461538,4.6,NaN,4,MIL,2.928571,4.0,30,2.5,-6.5,236.5
1,MEM,0,Jaylen Wells,2.000000,1.8,2.400000,23,NOP,2.833333,2.4,27,2.5,-1.5,234.5
2,MEM,0,Vince Williams Jr.,1.888889,2.2,1.000000,30,NOP,2.833333,2.4,27,1.5,-1.5,234.5
3,MEM,0,Kentavious Caldwell-Pope,1.636364,1.8,2.000000,42,NOP,2.833333,2.4,27,1.5,-1.5,234.5
4,MEM,0,Cedric Coward,2.750000,2.6,NaN,13,NOP,2.833333,2.4,27,1.5,-1.5,234.5
5,MIL,0,Gary Trent Jr.,2.411765,2.4,3.125000,18,MIA,2.571429,2.6,24,2.5,6.5,236.5
6,GSW,0,Moses Moody,3.285714,3.0,1.428571,5,HOU,2.363636,2.0,17,2.5,-1.5,225.5
7,OKC,0,Ajay Mitchell,1.900000,1.6,0.166667,28,MIN,2.294118,1.4,16,1.5,-8.5,226.5
8,OKC,0,Alex Caruso,1.750000,1.6,2.111111,35,MIN,2.294118,1.4,16,1.5,-8.5,226.5
9,OKC,0,Cason Wallace,1.714286,1.6,1.083333,36,MIN,2.294118,1.4,16,1.5,-8.5,226.5
10,MIN,0,Anthony Edwards,3.500000,2.6,2.461538,3,OKC,2.230769,1.4,14,2.5,8.5,226.5
11,MIN,0,Donte DiVincenzo,3.058824,3.0,3.125000,9,OKC,2.230769,1.4,14,2.5,8.5,226.5
12,NYK,0,Miles McBride,2.333333,2.4,1.428571,19,CHO,2.187500,1.6,12,2.5,-6.5,238.5
13,NYK,0,Jordan Clarkson,2.000000,2.2,NaN,23,CHO,2.187500,1.6,12,1.5,-6.5,238.5
14,IND,0,Ben Sheppard,1.555556,1.2,0.750000,46,TOR,2.052632,2.4,10,1.5,9.5,234.5
15,DET,0,Jaden Ivey,1.500000,1.5,1.666667,47,BOS,2.000000,1.0,8,1.5,-2.5,229.5
16,BOS,0,Anfernee Simons,2.875000,2.6,4.500000,12,DET,1.833333,1.4,2,2.5,2.5,229.5
17,BOS,0,Derrick White,2.529412,2.6,3.375000,16,DET,1.833333,1.4,2,2.5,2.5,229.5

SF

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,Spread,Total
0,NYK,0,Mikal Bridges,2.533333,2.2,1.666667,11,CHO,2.500000,1.8,23,1.5,-6.5,238.5
1,BOS,0,Jaylen Brown,2.200000,1.8,2.666667,14,DET,2.500000,1.2,23,1.5,2.5,229.5
2,NYK,0,Josh Hart,1.545455,1.4,1.571429,26,CHO,2.500000,1.8,23,1.5,-6.5,238.5
3,NOP,0,Trey Murphy III,3.176471,3.6,1.875000,4,MEM,2.333333,3.2,22,3.5,1.5,234.5
4,NOP,0,Saddiq Bey,2.461538,2.4,NaN,13,MEM,2.333333,3.2,22,2.5,1.5,234.5
5,MIA,0,Andrew Wiggins,2.076923,1.8,0.750000,17,MIL,2.277778,2.4,19,1.5,-6.5,236.5
6,OKC,0,Luguentz Dort,1.818182,2.6,2.000000,23,MIN,2.230769,2.4,16,2.5,-8.5,226.5
7,IND,0,Bennedict Mathurin,2.166667,2.0,1.500000,15,TOR,1.916667,2.2,10,1.5,9.5,234.5
8,DET,0,Duncan Robinson,3.250000,3.2,1.250000,2,BOS,1.812500,3.0,5,2.5,-2.5,229.5
9,CHO,0,Brandon Miller,2.000000,2.0,3.333333,19,NYK,1.769231,1.8,4,3.5,6.5,238.5
10,CHO,0,Kon Knueppel,3.705882,4.8,NaN,1,NYK,1.769231,1.8,4,3.5,6.5,238.5
11,TOR,0,Brandon Ingram,2.600000,2.6,1.000000,9,IND,1.647059,2.0,2,1.5,-9.5,234.5

PF

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,Spread,Total
0,CHO,0,Miles Bridges,3.333333,3.2,1.500000,1,NYK,3.090909,3.0,30,2.5,6.5,238.5
1,OKC,0,Chet Holmgren,2.250000,1.8,1.636364,13,MIN,2.411765,1.4,28,1.5,-8.5,226.5
2,MIL,0,Bobby Portis,1.933333,2.4,0.500000,16,MIA,2.181818,2.0,26,1.5,6.5,236.5
3,GSW,0,Draymond Green,1.923077,1.6,0.714286,17,HOU,2.111111,1.4,23,1.5,-1.5,225.5
4,HOU,0,Jabari Smith Jr.,2.727273,3.2,2.000000,4,GSW,2.066667,1.6,21,2.5,1.5,225.5
5,IND,0,Jarace Walker,2.454545,2.6,0.285714,8,TOR,1.833333,2.2,15,1.5,9.5,234.5
6,IND,0,Pascal Siakam,2.307692,3.0,1.714286,12,TOR,1.833333,2.2,15,1.5,9.5,234.5
7,DET,0,Tobias Harris,1.500000,1.6,1.777778,26,BOS,1.636364,1.0,9,1.5,-2.5,229.5
8,MIN,0,Jaden McDaniels,2.083333,2.0,1.583333,15,OKC,1.600000,1.6,8,1.5,8.5,226.5
9,MIN,0,Julius Randle,1.875000,1.2,1.857143,20,OKC,1.600000,1.6,8,1.5,8.5,226.5
10,TOR,0,Scottie Barnes,2.400000,2.4,0.833333,10,IND,1.416667,2.2,6,1.5,-9.5,234.5

C

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,Spread,Total
0,NYK,0,Karl-Anthony Towns,2.214286,2.6,4.000000,3,CHO,1.727273,1.2,27,2.5,-6.5,238.5
1,MIN,0,Naz Reid,2.125000,2.8,1.923077,5,OKC,1.500000,1.5,23,1.5,8.5,226.5
2,MEM,0,Jaren Jackson Jr.,1.857143,1.6,1.500000,9,NOP,0.700000,1.2,9,2.5,-1.5,234.5
3,MIA,0,Bam Adebayo,2.200000,1.8,1.000000,4,MIL,0.555556,0.6,6,1.5,-6.5,236.5
4,MIA,0,Kel'el Ware,1.461538,1.6,0.500000,13,MIL,0.555556,0.6,6,0.5,-6.5,236.5

===STL===
PG

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL, Off_L5_STL, AVG_STL_H2H, Off_Rk, Opp, Def_STL, Def_L5_STL, Def_Rk, STL_line, Spread, Total]
Index: []

SG

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL, Off_L5_STL, AVG_STL_H2H, Off_Rk, Opp, Def_STL, Def_L5_STL, Def_Rk, STL_line, Spread, Total]
Index: []

SF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL, Off_L5_STL, AVG_STL_H2H, Off_Rk, Opp, Def_STL, Def_L5_STL, Def_Rk, STL_line, Spread, Total]
Index: []

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL, Off_L5_STL, AVG_STL_H2H, Off_Rk, Opp, Def_STL, Def_L5_STL, Def_Rk, STL_line, Spread, Total]
Index: []

C

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL, Off_L5_STL, AVG_STL_H2H, Off_Rk, Opp, Def_STL, Def_L5_STL, Def_Rk, STL_line, Spread, Total]
Index: []

===BLK===
PG

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, Spread, Total]
Index: []

SG

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, Spread, Total]
Index: []

SF

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, Spread, Total]
Index: []

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, Spread, Total]
Index: []

C

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, Spread, Total]
Index: []

===STL_BLK===
PG

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, Spread, Total]
Index: []

SG

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, Spread, Total]
Index: []

SF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, Spread, Total]
Index: []

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, Spread, Total]
Index: []

C

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, Spread, Total]
Index: []

In [41]:
df_stats = pd.DataFrame()
for i in categories:
    print(f"==={i}===")
    df_temp = pick_finder(i, collect=True)
    df_stats = pd.concat([df_stats, df_temp], ignore_index=True)
    
df_stats = con.execute("SELECT Date, Team, B2B, Spread, Total, Player, Opp, * EXCLUDE(Date, Team, B2B, Player, Opp, Off_Rk, Def_Rk, Spread, Total) FROM df_stats").fetchdf()
df_save = pd.DataFrame()
for player in df_stats.Player.unique():
    df_temp = df_stats[(df_stats.Player == player)]
    for col in df_temp.columns.difference(['Date', 'Team', 'Player']):
        df_temp[col] = df_temp[col].ffill()
        df_temp[col] = df_temp[col].backfill()
    df_temp = df_temp.drop_duplicates()
    df_save = pd.concat([df_save, df_temp])
print('Saving for Date:', now)
partition_save_df(df_save, f"../tables/{year}/parlay_stats.csv")
display(df_save)

===PTS===
PG
SG
SF
PF
C
===AST===
PG
SG
SF
PF
C
===REB===
PG
SG
SF
PF
C
===PR===
PG
SG
SF
PF
C
===PA===
PG
SG
SF
PF
C
===RA===
PG
SG
SF
PF
C
===PRA===
PG
SG
SF
PF
C
===TPM===
PG
SG
SF
PF
C
===STL===
PG
SG
SF
PF
C
===BLK===
PG
SG
SF
PF
C
===STL_BLK===
PG
SG
SF
PF
C
Saving for Date: 2025-11-26
../tables/2025/parlay_stats.csv saved!

,Date,Team,B2B,Spread,Total,Player,Opp,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Def_PTS,Def_L5_PTS,PTS_line,Off_AST,Off_L5_AST,AVG_AST_H2H,Def_AST,Def_L5_AST,AST_line,Off_REB,Off_L5_REB,AVG_REB_H2H,Def_REB,Def_L5_REB,REB_line,Off_PR,Off_L5_PR,AVG_PR_H2H,Def_PR,Def_L5_PR,PR_line,Off_PA,Off_L5_PA,AVG_PA_H2H,Def_PA,Def_L5_PA,PA_line,Off_RA,Off_L5_RA,AVG_RA_H2H,Def_RA,Def_L5_RA,RA_line,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Def_PRA,Def_L5_PRA,PRA_line,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Def_TPM,Def_L5_TPM,TPM_line,Off_STL,Off_L5_STL,AVG_STL_H2H,Def_STL,Def_L5_STL,STL_line,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Def_BLK,Def_L5_BLK,BLK_line,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Def_STL_BLK,Def_L5_STL_BLK,STL_BLK_line
0,2025-11-26,MIA,0,-6.5,236.5,Davion Mitchell,MIL,10.277778,11.0,5.571429,23.250000,29.8,8.5,7.333333,6.6,3.285714,6.437500,8.4,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.611111,17.6,8.857143,29.687500,38.2,14.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-11-26,NOP,0,1.5,234.5,Jeremiah Fears,MEM,15.388889,17.4,NaN,22.928571,21.8,13.5,2.882353,2.2,NaN,5.000000,5.0,2.5,3.470588,3.8,NaN,4.928571,4.0,3.5,18.666667,21.2,NaN,27.857143,25.8,17.5,18.111111,19.6,NaN,27.928571,26.8,16.5,6.000000,6.0,NaN,9.928571,9.0,6.5,21.388889,23.4,NaN,32.857143,30.8,20.5,2.000000,2.0,NaN,3.428571,3.4,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-11-26,DET,0,-2.5,229.5,Cade Cunningham,BOS,27.142857,30.0,19.750000,22.692308,20.8,25.5,9.642857,9.6,8.250000,6.307692,6.2,8.5,6.000000,8.2,5.250000,4.692308,5.8,5.5,33.142857,38.2,25.0,27.384615,26.6,31.5,36.785714,39.6,28.000000,29.000000,27.0,34.5,15.642857,17.8,13.5,11.000000,12.0,14.5,42.785714,47.8,33.25,33.692308,32.8,40.5,1.923077,1.8,1.625000,2.923077,2.8,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-11-26,TOR,0,-9.5,234.5,Immanuel Quickley,IND,15.500000,14.8,12.600000,22.125000,17.6,16.5,6.055556,5.6,4.400000,6.000000,6.2,5.5,4.777778,6.0,3.400000,5.875000,5.2,3.5,20.277778,20.8,16.0,28.000000,22.8,20.5,21.555556,20.4,17.000000,28.125000,23.8,22.5,10.833333,11.6,7.8,11.875000,11.4,10.5,26.333333,26.4,20.40,34.000000,29.0,26.5,2.750000,2.8,1.400000,1.500000,2.0,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-11-26,MIL,0,6.5,236.5,Ryan Rollins,MIA,18.166667,20.0,3.800000,22.083333,19.0,18.5,6.000000,7.2,1.000000,7.666667,8.0,6.5,4.235294,4.0,0.400000,7.333333,6.8,4.5,22.166667,24.0,4.2,29.416667,25.8,22.5,24.166667,27.2,4.800000,29.750000,27.0,24.5,10.000000,11.2,1.4,15.000000,14.8,10.5,28.166667,31.2,5.20,37.083333,33.8,29.5,2.800000,3.6,0.600000,2.750000,2.4,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,2025-11-26,IND,0,9.5,234.5,T.J. McConnell,TOR,NaN,NaN,NaN,NaN,NaN,NaN,3.714286,4.6,5.285714,5.583333,6.8,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2025-11-26,IND,0,9.5,234.5,Ben Sheppard,TOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.294118,3.4,1.875000,3.789474,4.2,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.555556,1.2,0.750000,2.052632,2.4,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2025-11-26,IND,0,9.5,234.5,Jarace Walker,TOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.117647,5.0,2.285714,7.111111,5.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.454545,2.6,0.285714,1.833333,2.2,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,2025-11-26,TOR,0,-9.5,234.5,Sandro Mamukelashvili,IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.312500,5.2,3.200000,11.888889,12.4,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2025-11-26,IND,0,9.5,234.5,Isaiah Jackson,TOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.941176,5.6,4.800000,9.100000,9.6,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN