In [19]:
import pandas as pd
import numpy as np
from datetime import datetime
from nbainjuries import injury
from datetime import datetime, timedelta
import warnings
import duckdb
import os
import requests

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}

print("Current working dir:", cwd)
print("RUN_LOCATION =", RUN_LOCATION)

Current working dir: C:/Users/Rodolfo/Jupyter_files/FantasyBasketball/notebooks
RUN_LOCATION = local

In [20]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings("ignore")

year = 2025
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

con = duckdb.connect(database=":memory:")
categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']

folders = os.listdir('../tables/')
df = pd.DataFrame()
for yr in folders:
    df_temp = pd.read_csv(f"../tables/{yr}/season_gamelogs.csv")
    df_temp.insert(0, 'Season', int(yr))
    df = pd.concat([df, df_temp])
df['Date'] = pd.to_datetime(df.Date)
df = df.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df['STL_BLK'] = df.STL + df.BLK
df['PR'] = df.PTS + df.REB 
df['PA'] = df.PTS + df.AST
df['RA'] = df.REB + df.AST
df['PRA'] = df.PTS + df.REB + df.AST

# # CONTROL DATE TO GO BACK AND RELOAD HISTORICAL DATA
# df = df[(df.Date != now)]

df

Today's date: 2025-11-20

,Season,game_id,Date,Team,Team_type,Opp,Opp_type,Player,Pos,Active,MP,FG,FGA,FG%,TPM,TPA,3P%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,DD,TD,Fpts,STL_BLK,PR,PA,RA,PRA
0,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Christian Braun,SG,1,19.33,2,5,0.400,0,1,0.000,1,2,0.50,1,2,3,2,0,1,1,1,5,3.9,5,0,0,8.5,1,8,7,5,10
1,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Kentavious Caldwell-Pope,SG,1,36.25,8,12,0.667,2,3,0.667,2,2,1.00,1,1,2,1,3,1,3,5,20,15.2,10,0,0,19.0,4,22,21,3,23
2,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Collin Gillespie,PG,1,0.72,0,0,0.000,0,0,0.000,0,0,0.00,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
3,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Aaron Gordon,PF,1,34.98,7,11,0.636,1,2,0.500,0,0,0.00,2,5,7,5,2,1,0,0,15,19.2,6,0,0,26.0,3,22,20,12,27
4,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Justin Holiday,SG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.00,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5858,2025,20251119_CHI_POR,2025-11-19,POR,Home,CHI,Away,Yang Hansen,C,1,7.93,1,4,0.250,0,1,0.000,0,0,0.00,1,1,2,1,0,0,1,1,2,-0.1,-5,0,0,3.0,0,4,3,3,5
5859,2025,20251119_CHI_POR,2025-11-19,POR,Home,CHI,Away,Scoot Henderson,PG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.00,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
5860,2025,20251119_CHI_POR,2025-11-19,POR,Home,CHI,Away,Javonte Cooke,NaN,1,8.72,2,6,0.333,0,1,0.000,0,0,0.00,1,0,1,1,1,0,2,1,4,0.6,-4,0,0,4.0,1,5,5,2,6
5861,2025,20251119_CHI_POR,2025-11-19,POR,Home,CHI,Away,Caleb Love,NaN,1,18.33,1,12,0.083,0,7,0.000,3,4,0.75,1,2,3,2,1,0,0,1,5,-0.1,-20,0,0,9.5,1,8,7,5,10
5862,2025,20251119_CHI_POR,2025-11-19,POR,Home,CHI,Away,Sidy Cissoko,NaN,1,22.12,2,6,0.333,1,3,0.333,0,1,0.00,1,5,6,0,2,0,2,2,5,2.6,-5,0,0,11.0,2,11,5,6,11

In [21]:
%run ./common_utils.ipynb

In [22]:
df_gms = pd.read_csv(f"../tables/{year}/nba_schedule.csv")
df_gms = df_gms[(df_gms.Date == now)]
tms_today = df_gms.AwayABV.tolist() + df_gms.HomeABV.tolist()
display(df_gms)

,Date,StartTime_ET,AwayTeam,AwayABV,HomeTeam,HomeABV,Arena,AwayB2B,HomeB2B,rtrvd
222,2025-11-20,7:00p,Los Angeles Clippers,LAC,Orlando Magic,ORL,Kia Center,0,0,0
223,2025-11-20,8:00p,Sacramento Kings,SAC,Memphis Grizzlies,MEM,FedExForum,1,0,0
224,2025-11-20,8:00p,Philadelphia 76ers,PHI,Milwaukee Bucks,MIL,Fiserv Forum,1,0,0
225,2025-11-20,8:00p,Atlanta Hawks,ATL,San Antonio Spurs,SAS,Frost Bank Center,0,0,0

In [23]:
df_teams = pd.read_csv("../src/team_info_xref.csv")

df_inj = injury.get_reportdata(datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]), return_df=True)
df_inj = df_inj.rename(columns={"Game Date": "Date", "Player Name": "Player", "Current Status": "Status"})
df_inj['Player'] = df_inj.Player.str.split(",").str[1] + " " + df_inj.Player.str.split(",").str[0]
df_inj['Player'] = df_inj['Player'].str.strip()
df_inj['Date'] = pd.to_datetime(df_inj['Date'])
df_inj = con.execute(f"""SELECT Date, ABV as Team, Player, Status, Reason FROM df_inj 
                         JOIN df_teams ON df_inj.Team = df_teams.Team
                         WHERE Date = '{now}' AND Status = 'Out'""").fetchdf()

df_best_out = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Fpts DESC) as Off_Rk FROM
                              (SELECT Team, Player, Pos, AVG(Fpts) as Fpts FROM df 
                              WHERE Season = 2025 AND Fpts > 0 AND Pos != 'None'
                              GROUP BY Team, Player, Pos)""").fetchdf()
df_best_out = con.execute(f"""SELECT * EXCLUDE(t2.Team, t2.Player) FROM df_best_out t1 
                              JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                              ORDER BY Fpts DESC""").fetchdf()
display(df_best_out)

Validated Injury-Report_2025-11-20_04PM.

,Team,Player,Pos,Fpts,Off_Rk,Date,Status,Reason
0,SAS,Victor Wembanyama,C,37.833333,2,2025-11-20,Out,Injury/Illness - Left Calf; Strain
1,MIL,Giannis Antetokounmpo,PF,35.461538,1,2025-11-20,Out,Injury/Illness - Left Adductor; Strain
2,SAC,Domantas Sabonis,C,25.772727,6,2025-11-20,Out,Injury/Illness - Left Knee; Soreness
3,ORL,Paolo Banchero,PF,25.125000,8,2025-11-20,Out,Injury/Illness - Left Groin; Strain
4,SAS,Stephon Castle,PG,23.115385,12,2025-11-20,Out,Injury/Illness - Left Hip Flexor; Strain
5,PHI,Joel Embiid,C,21.416667,16,2025-11-20,Out,Injury/Illness - Right Knee; Injury Management
6,ATL,Trae Young,PG,19.600000,19,2025-11-20,Out,Injury/Illness - Right Knee; MCL Sprain
7,PHI,Kelly Oubre Jr.,PF,19.318182,15,2025-11-20,Out,Injury/Illness - Left Knee; Sprain
8,MEM,Ja Morant,PG,19.125000,22,2025-11-20,Out,Injury/Illness - Right Calf; Strain
9,SAS,Dylan Harper,SG,14.750000,26,2025-11-20,Out,Injury/Illness - Left Calf; Strain
10,MIL,Kevin Porter Jr.,PG,10.000000,49,2025-11-20,Out,Injury/Illness - Right Knee; Meniscus Surgery
11,MIL,Taurean Prince,SF,8.928571,52,2025-11-20,Out,Injury/Illness - Neck; Surgery
12,PHI,Adem Bona,C,8.333333,60,2025-11-20,Out,Injury/Illness - Right Ankle; Sprain
13,SAS,Jordan McLaughlin,PG,7.583333,53,2025-11-20,Out,Injury/Illness - Left Hamstring; Strain
14,PHI,Kelly Oubre Jr.,SF,6.500000,56,2025-11-20,Out,Injury/Illness - Left Knee; Sprain
15,ORL,Noah Penda,SF,5.250000,61,2025-11-20,Out,G League - On Assignment
16,ATL,N'Faly Dante,C,3.833333,77,2025-11-20,Out,G League - On Assignment

In [24]:
def get_sportsbook():
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://sportsbook.draftkings.com/",
        "Origin": "https://sportsbook.draftkings.com"
    }

    dk_cats = {"PTS": 12488, "AST": 12495, "REB": 12492, "STL": 13508, "BLK": 13780, "STL_BLK": 13781, "TPM": 12497, 
               "PA": 9973, "PR": 9976, "RA": 9974, "PRA": 5001}
    df_lines = pd.DataFrame()
    for key, value in dk_cats.items():
        response = requests.get(f"https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C{value}&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%27{value}%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%27{value}%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events", headers=headers)
        if response.status_code != 200:
            raise Exception('Bad Request')

        plyr_names = []
        pnt_lines = []
        for i in response.json()['selections']:
            plyr_names.append(i['participants'][0]['name'])
            pnt_lines.append(i['points'])
        df_dk = pd.DataFrame({"Player": plyr_names, f"{key}_line": pnt_lines}).drop_duplicates().reset_index(drop=True)

        if df_lines.empty:
            df_lines = df_dk
        else:
            df_lines = pd.merge(df_lines, df_dk, on="Player", how="outer")

    df_lines = pd.merge(pd.read_csv(f"../tables/{year}/plyr_pos_xref.csv"), df_lines, on='Player', how='right')
    df_lines.insert(0, 'Date', pd.to_datetime(now))

    partition_save_df(df_lines, f"../tables/{year}/parlay_lines.csv") 
    display(df_lines)

    return df_lines

df_lines = get_sportsbook()

../tables/2025/parlay_lines.csv saved!

,Date,Team,Player,Pos,PTS_line,AST_line,REB_line,STL_line,BLK_line,STL_BLK_line,TPM_line,PA_line,PR_line,RA_line,PRA_line
0,2025-11-20,MIL,AJ Green,SG,9.5,2.5,2.5,NaN,NaN,NaN,2.5,12.5,13.5,5.5,15.5
1,2025-11-20,PHI,Andre Drummond,C,11.5,NaN,12.5,NaN,NaN,NaN,NaN,NaN,24.5,NaN,NaN
2,2025-11-20,ORL,Anthony Black,PG,11.5,2.5,3.5,NaN,NaN,NaN,1.5,14.5,14.5,5.5,17.5
3,2025-11-20,MIL,Bobby Portis,PF,14.5,NaN,7.5,NaN,NaN,NaN,1.5,NaN,22.5,NaN,NaN
4,2025-11-20,LAC,Bogdan Bogdanovic,SG,11.5,2.5,3.5,NaN,NaN,NaN,1.5,14.5,15.5,6.5,18.5
5,2025-11-20,LAC,Brook Lopez,C,6.5,NaN,2.5,NaN,NaN,NaN,0.5,NaN,8.5,NaN,NaN
6,2025-11-20,MEM,Cedric Coward,SG,16.5,3.5,6.5,NaN,NaN,NaN,1.5,20.5,23.5,10.5,27.5
7,2025-11-20,MIL,Cole Anthony,PG,10.5,4.5,3.5,NaN,NaN,NaN,0.5,14.5,13.5,7.5,17.5
8,2025-11-20,SAS,De'Aaron Fox,PG,24.5,7.5,3.5,1.5,NaN,NaN,2.5,32.5,28.5,11.5,36.5
9,2025-11-20,SAC,DeMar DeRozan,PF,18.5,3.5,3.5,0.5,NaN,NaN,NaN,22.5,22.5,7.5,25.5
10,2025-11-20,SAC,Dennis Schroder,PG,12.5,4.5,3.5,0.5,NaN,NaN,1.5,17.5,15.5,8.5,20.5
11,2025-11-20,ORL,Desmond Bane,SG,20.5,5.5,5.5,0.5,NaN,NaN,2.5,26.5,26.5,10.5,31.5
12,2025-11-20,SAS,Devin Vassell,SG,16.5,3.5,4.5,1.5,NaN,NaN,2.5,20.5,21.5,7.5,24.5
13,2025-11-20,ATL,Dyson Daniels,SG,11.5,5.5,5.5,2.5,0.5,2.5,NaN,17.5,17.5,11.5,23.5
14,2025-11-20,ORL,Franz Wagner,SF,24.5,4.5,6.5,1.5,0.5,1.5,1.5,28.5,30.5,10.5,35.5
15,2025-11-20,MIL,Gary Trent Jr.,SG,12.5,NaN,2.5,1.5,NaN,NaN,2.5,NaN,14.5,NaN,NaN
16,2025-11-20,ORL,Goga Bitadze,C,4.5,NaN,4.5,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN
17,2025-11-20,SAS,Harrison Barnes,PF,13.5,2.5,3.5,NaN,NaN,NaN,2.5,16.5,17.5,5.5,19.5
18,2025-11-20,LAC,Ivica Zubac,C,15.5,1.5,10.5,0.5,0.5,1.5,NaN,17.5,27.5,12.5,29.5
19,2025-11-20,ATL,Jalen Johnson,SF,22.5,6.5,9.5,1.5,0.5,1.5,1.5,29.5,32.5,16.5,39.5
20,2025-11-20,ORL,Jalen Suggs,PG,14.5,4.5,4.5,1.5,NaN,NaN,1.5,19.5,18.5,9.5,23.5
21,2025-11-20,LAC,James Harden,PG,27.5,7.5,5.5,1.5,NaN,NaN,3.5,35.5,33.5,14.5,41.5
22,2025-11-20,MEM,Jaylen Wells,SG,12.5,1.5,3.5,NaN,NaN,NaN,1.5,14.5,15.5,5.5,17.5
23,2025-11-20,SAS,Jeremy Sochan,PF,8.5,2.5,5.5,NaN,NaN,NaN,NaN,11.5,14.5,7.5,16.5
24,2025-11-20,MEM,Jock Landale,C,8.5,NaN,5.5,NaN,NaN,NaN,NaN,NaN,14.5,NaN,NaN
25,2025-11-20,LAC,John Collins,PF,13.5,NaN,5.5,NaN,NaN,NaN,1.5,NaN,19.5,NaN,20.5
26,2025-11-20,SAS,Julian Champagnie,SF,10.5,NaN,4.5,NaN,NaN,NaN,2.5,NaN,15.5,NaN,16.5
27,2025-11-20,PHI,Justin Edwards,SF,6.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,NaN,NaN
28,2025-11-20,SAC,Keegan Murray,PF,11.5,NaN,4.5,NaN,NaN,NaN,NaN,NaN,16.5,NaN,17.5
29,2025-11-20,SAS,Keldon Johnson,SF,14.5,2.5,6.5,NaN,NaN,NaN,1.5,16.5,20.5,8.5,23.5
30,2025-11-20,SAS,Kelly Olynyk,C,7.5,3.5,4.5,NaN,NaN,NaN,NaN,11.5,12.5,7.5,16.5
31,2025-11-20,MEM,Kentavious Caldwell-Pope,SG,8.5,2.5,NaN,NaN,NaN,NaN,1.5,11.5,NaN,NaN,NaN
32,2025-11-20,LAC,Kris Dunn,PG,7.5,2.5,2.5,1.5,NaN,NaN,0.5,9.5,10.5,5.5,12.5
33,2025-11-20,ATL,Kristaps Porzingis,C,16.5,2.5,5.5,0.5,1.5,1.5,1.5,19.5,22.5,8.5,25.5
34,2025-11-20,MIL,Kyle Kuzma,PF,15.5,2.5,5.5,NaN,NaN,NaN,1.5,17.5,21.5,8.5,23.5
35,2025-11-20,SAS,Luke Kornet,C,9.5,2.5,8.5,NaN,1.5,NaN,NaN,11.5,17.5,10.5,20.5
36,2025-11-20,SAC,Malik Monk,SG,13.5,2.5,NaN,0.5,NaN,NaN,1.5,15.5,NaN,NaN,18.5
37,2025-11-20,MIL,Myles Turner,C,16.5,NaN,7.5,NaN,1.5,NaN,2.5,NaN,23.5,9.5,25.5
38,2025-11-20,ATL,Nickeil Alexander-Walker,SG,17.5,3.5,3.5,NaN,NaN,NaN,2.5,21.5,20.5,6.5,24.5
39,2025-11-20,LAC,Nicolas Batum,PF,NaN,NaN,3.5,NaN,NaN,NaN,1.5,NaN,7.5,NaN,NaN
40,2025-11-20,ATL,Onyeka Okongwu,C,14.5,2.5,6.5,NaN,NaN,NaN,1.5,17.5,21.5,9.5,24.5
41,2025-11-20,PHI,Paul George,PF,12.5,2.5,3.5,0.5,NaN,NaN,1.5,14.5,16.5,6.5,18.5
42,2025-11-20,SAC,Precious Achiuwa,C,NaN,NaN,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2025-11-20,PHI,Quentin Grimes,SG,15.5,3.5,3.5,NaN,NaN,NaN,2.5,18.5,19.5,7.5,23.5
44,2025-11-20,SAC,Russell Westbrook,PG,13.5,6.5,7.5,NaN,NaN,NaN,1.5,20.5,21.5,14.5,28.5
45,2025-11-20,MIL,Ryan Rollins,PG,20.5,5.5,4.5,1.5,NaN,NaN,2.5,26.5,24.5,10.5,30.5
46,2025-11-20,MEM,Santi Aldama,PF,17.5,3.5,7.5,NaN,NaN,NaN,2.5,21.5,25.5,10.5,28.5
47,2025-11-20,PHI,Trendon Watford,PF,7.5,NaN,3.5,NaN,NaN,NaN,NaN,NaN,11.5,NaN,NaN
48,2025-11-20,ORL,Tristan da Silva,PF,11.5,1.5,4.5,NaN,NaN,NaN,1.5,13.5,16.5,5.5,17.5
49,2025-11-20,PHI,Tyrese Maxey,PG,29.5,6.5,3.5,1.5,NaN,NaN,3.5,36.5,34.5,10.5,41.5
50,2025-11-20,ORL,Tyus Jones,PG,3.5,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN
51,2025-11-20,PHI,VJ Edgecombe,SG,14.5,3.5,5.5,1.5,NaN,NaN,1.5,18.5,20.5,8.5,24.5
52,2025-11-20,MEM,Vince Williams Jr.,SG,13.5,5.5,5.5,NaN,NaN,NaN,2.5,19.5,19.5,10.5,24.5
53,2025-11-20,ORL,Wendell Carter Jr.,C,12.5,NaN,8.5,NaN,0.5,NaN,1.5,NaN,20.5,NaN,NaN
54,2025-11-20,ATL,Zaccharie Risacher,SF,11.5,1.5,2.5,NaN,NaN,NaN,1.5,13.5,14.5,4.5,16.5
55,2025-11-20,MEM,Zach Edey,C,12.5,NaN,9.5,NaN,1.5,NaN,NaN,NaN,22.5,NaN,NaN
56,2025-11-20,SAC,Zach LaVine,SG,19.5,2.5,3.5,NaN,NaN,NaN,2.5,21.5,22.5,6.5,25.5

In [59]:
pos = 'PG'
stat = 'PTS'

df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                        (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                        WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                        AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                        GROUP BY Team, Player, Pos)""").fetchdf()
df_rk_l5 = con.execute(f"""WITH last5 AS (
                                SELECT Team, Player, Pos, {stat} AS stat_val,
                                ROW_NUMBER() OVER (PARTITION BY Team, Player ORDER BY Date DESC) AS rn
                                FROM df
                                WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                                AND Team IN ({str(tms_today).replace('[','').replace(']','')})
                        )
                        SELECT Team, Player, Pos, AVG(stat_val) AS Off_L5_{stat},
                        FROM last5
                        WHERE rn <= 5
                        GROUP BY Team, Player, Pos
                        """).fetchdf()

df_rk = con.execute(f"""SELECT df_rk.Team, df_rk.Player, df_rk.Pos, Off_{stat}, Off_L5_{stat}, Off_Rk FROM df_rk JOIN df_rk_l5 
                        ON df_rk.Team = df_rk_l5.Team AND df_rk.Player = df_rk_l5.Player""").fetchdf()

display(df_rk)

    Team                  Player Pos    Off_PTS  Off_L5_PTS  Off_Rk
0    MIL   Giannis Antetokounmpo  PF  31.153846       27.60       1
1    ORL          Paolo Banchero  PF  21.666667       19.40       2
2    SAC           DeMar DeRozan  PF  18.666667       14.40       3
3    PHI         Kelly Oubre Jr.  PF  18.000000       15.75       4
4    MIL              Kyle Kuzma  PF  13.285714       14.80       5
..   ...                     ...  ..        ...         ...     ...
106  ORL              Noah Penda  SF   3.400000        3.40      13
107  PHI         Kelly Oubre Jr.  SF   3.000000       15.75      14
108  MIL  Thanasis Antetokounmpo  SF   2.000000        2.00      15
109  PHI         Kelly Oubre Jr.  PF  18.000000        3.00       4
110  PHI         Kelly Oubre Jr.  SF   3.000000        3.00      14

[111 rows x 6 columns]

In [64]:
def pick_finder(stat, collect=False):
    df_mtch = df_gms[['AwayABV', 'HomeABV', 'AwayB2B', 'HomeB2B']]
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch = pd.concat([df_mtch, df_mtch2])
    
    df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                            (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                            WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                            AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                            GROUP BY Team, Player, Pos)""").fetchdf()
    df_rk_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Team, Player, Pos, {stat} AS stat_val,
                                    ROW_NUMBER() OVER (PARTITION BY Team, Player ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                                    AND Team IN ({str(tms_today).replace('[','').replace(']','')})
                            )
                            SELECT Team, Player, Pos, AVG(stat_val) AS Off_L5_{stat},
                            FROM last5
                            WHERE rn <= 5
                            GROUP BY Team, Player, Pos
                            """).fetchdf()

    df_rk = con.execute(f"""SELECT df_rk.Team, df_rk.Player, df_rk.Pos, Off_{stat}, Off_L5_{stat}, Off_Rk FROM df_rk JOIN df_rk_l5 
                            ON df_rk.Team = df_rk_l5.Team AND df_rk.Player = df_rk_l5.Player""").fetchdf()
    df_save = pd.DataFrame()
    for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
        print(pos)
        df_def = con.execute(f"""SELECT Team, '{pos}' AS Pos, Def_{stat}, Def_Rk FROM
                                 (SELECT *, RANK() OVER (ORDER BY Def_{stat}) as Def_Rk FROM
                                 (SELECT Opp as Team, AVG({stat}) as Def_{stat} FROM df 
                                 WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                 GROUP BY Opp
                                 ORDER BY AVG(Fpts) DESC))
                                 WHERE Team IN ({str(tms_today).replace("[", "").replace("]", "")})""").fetchdf()

        df_def_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Opp AS Team, {stat} AS stat_val, 
                                    ROW_NUMBER() OVER (PARTITION BY Opp ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                    )

                                    SELECT Team, '{pos}' AS Pos, AVG(stat_val) AS Def_L5_{stat} FROM last5
                                    WHERE rn <= 5
                                    GROUP BY Team
                                    HAVING Team IN ({str(tms_today).replace('[','').replace(']','')})
                                    """).fetchdf()
        df_def = con.execute(f"""SELECT df_def.Team, df_def.Pos, Def_{stat}, Def_L5_{stat}, Def_Rk FROM df_def 
                               JOIN df_def_l5 ON df_def.Team = df_def_l5.Team""").fetchdf()
        
        # Piece together the current matchups with offensive rankings vs defensive rankings
        df_picks = con.execute(f"""SELECT df_mtch.*, df_rk.* EXCLUDE(Team) FROM df_mtch 
                                  JOIN df_rk ON df_mtch.Team = df_rk.Team
                                  WHERE Pos = '{pos}'""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE(Opp, Pos), Opp, df_def.Def_{stat}, df_def.Def_L5_{stat}, 
                                   df_def.Def_Rk FROM df_picks 
                                   JOIN df_def ON df_picks.Opp = df_def.Team""").fetchdf()
        df_picks['Rk_Diff'] = df_picks['Def_Rk'] - df_picks['Off_Rk']
        df_picks = con.execute(f"""SELECT t1.* EXCLUDE(Rk_Diff) FROM df_picks t1
                                LEFT JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                                WHERE Status IS NULL
                                ORDER BY Rk_Diff DESC""").fetchdf()
        
        # head to head
        df_h2h = pd.DataFrame()
        for index, row in df_picks.iterrows():
            query = f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG({stat}) AS AVG_{stat}_H2H FROM df 
                       WHERE Player = ? AND Opp = ? AND Date >= '2023-10-23'
                       GROUP BY Player)
                       WHERE Gms >= 4"""
            df_temp = con.execute(query, [row["Player"], row["Opp"]]).fetchdf()
            df_h2h = pd.concat([df_h2h, df_temp])
        try:
            df_picks = con.execute(f"""SELECT Team, B2B, t1.Player, Off_{stat}, Off_L5_{stat}, t2.AVG_{stat}_H2H, Off_Rk, 
                                   t1.* EXCLUDE(Team, B2B, Player, Off_{stat}, Off_L5_{stat}, Off_Rk)
                                   FROM df_picks t1 LEFT JOIN df_h2h t2 
                                   ON t1.Player = t2.Player""").fetchdf()
        except:
            pass
        df_picks = con.execute(f"""SELECT df_picks.*, df_lines.{stat}_line FROM df_picks LEFT JOIN df_lines 
                                   ON df_picks.Team = df_lines.Team AND df_picks.Player = df_lines.Player""").fetchdf()
        df_picks[f'{stat}_Diff'] = df_picks[f'Off_{stat}'] - df_picks[f'{stat}_line']
        df_picks[f'{stat}_Diff2'] = abs(df_picks[f'{stat}_Diff'])
        df_picks = df_picks[~(df_picks[f'{stat}_Diff'].isnull())].sort_values(f'{stat}_Diff2', ascending=False).reset_index(drop=True).drop(f'{stat}_Diff2', axis=1)
        df_save = pd.concat([df_save, df_picks], ignore_index=True)
        if collect == False:
            display(df_picks)
    if collect == True:
        df_save.insert(0, 'Date', pd.to_datetime(now))
        return df_save

In [65]:
for i in categories:
    print(f"==={i}===")
    pick_finder(i)

===PTS===
PG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,MIL,1,Ryan Rollins,17.400000,18.4,4.166667,6,PHI,18.083333,16.8,6,20.5,-3.100000
1,PHI,1,Tyrese Maxey,31.928571,29.6,31.000000,1,MIL,20.642857,22.2,15,29.5,2.428571
2,ORL,0,Jalen Suggs,12.545455,15.0,NaN,11,LAC,22.076923,25.6,21,14.5,-1.954545
3,SAS,0,De'Aaron Fox,22.666667,22.4,25.200000,3,ATL,19.727273,22.6,10,24.5,-1.833333
4,LAC,0,James Harden,26.153846,32.8,NaN,2,ORL,22.384615,19.8,22,27.5,-1.346154
5,SAC,1,Dennis Schroder,13.785714,13.8,15.800000,9,MEM,23.818182,25.8,28,12.5,1.285714
6,ORL,0,Tyus Jones,4.666667,4.8,7.833333,17,LAC,22.076923,25.6,21,3.5,1.166667
7,MIL,1,Cole Anthony,9.461538,6.8,6.857143,14,PHI,18.083333,16.8,6,10.5,-1.038462
8,SAC,1,Russell Westbrook,13.866667,11.6,12.714286,8,MEM,23.818182,25.8,28,13.5,0.366667
9,LAC,0,Kris Dunn,7.769231,7.2,5.500000,15,ORL,22.384615,19.8,22,7.5,0.269231
10,ORL,0,Anthony Black,11.733333,13.2,6.250000,12,LAC,22.076923,25.6,21,11.5,0.233333

SG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,MEM,1,Vince Williams Jr.,9.555556,10.2,0.500000,13,SAC,19.608696,18.2,28,13.5,-3.944444
1,ORL,0,Desmond Bane,16.933333,22.4,19.000000,4,LAC,15.714286,13.4,8,20.5,-3.566667
2,MEM,1,Jaylen Wells,9.466667,10.4,NaN,14,SAC,19.608696,18.2,28,12.5,-3.033333
3,ATL,0,Dyson Daniels,8.500000,6.4,6.500000,17,SAS,16.363636,10.0,11,11.5,-3.000000
4,SAS,0,Devin Vassell,13.571429,11.2,18.000000,9,ATL,15.818182,20.4,9,16.5,-2.928571
5,MIL,1,Gary Trent Jr.,10.200000,7.6,14.750000,12,PHI,18.375000,20.2,23,12.5,-2.300000
6,MEM,1,Cedric Coward,14.333333,13.0,NaN,7,SAC,19.608696,18.2,28,16.5,-2.166667
7,SAC,1,Zach LaVine,21.538462,15.8,NaN,1,MEM,18.181818,16.0,21,19.5,2.038462
8,PHI,1,Quentin Grimes,17.071429,16.0,9.166667,3,MIL,18.666667,22.0,26,15.5,1.571429
9,PHI,1,VJ Edgecombe,15.857143,14.0,NaN,5,MIL,18.666667,22.0,26,14.5,1.357143
10,SAC,1,Malik Monk,14.545455,12.2,23.333333,6,MEM,18.181818,16.0,21,13.5,1.045455
11,ATL,0,Nickeil Alexander-Walker,18.142857,19.2,9.250000,2,SAS,16.363636,10.0,11,17.5,0.642857
12,LAC,0,Bogdan Bogdanovic,11.000000,12.8,13.400000,10,ORL,17.076923,16.2,15,11.5,-0.500000
13,MEM,1,Kentavious Caldwell-Pope,8.214286,7.0,10.250000,18,SAC,19.608696,18.2,28,8.5,-0.285714

SF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,SAS,0,Keldon Johnson,11.571429,10.4,10.25,6,ATL,20.461538,20.2,25,14.5,-2.928571
1,ORL,0,Franz Wagner,22.800000,23.8,15.50,2,LAC,17.571429,20.2,11,24.5,-1.700000
2,ATL,0,Zaccharie Risacher,12.769231,12.6,NaN,4,SAS,17.842105,24.6,14,11.5,1.269231
3,PHI,1,Justin Edwards,7.500000,10.8,4.75,9,MIL,21.071429,20.4,27,6.5,1.000000
4,ATL,0,Jalen Johnson,22.642857,27.2,NaN,3,SAS,17.842105,24.6,14,22.5,0.142857
5,SAS,0,Julian Champagnie,10.461538,11.0,10.75,7,ATL,20.461538,20.2,25,10.5,-0.038462

PF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,MEM,1,Santi Aldama,12.466667,13.4,12.500000,7,SAC,21.333333,19.4,27,17.5,-5.033333
1,MIL,1,Bobby Portis,9.733333,11.6,12.500000,10,PHI,17.000000,15.2,7,14.5,-4.766667
2,PHI,1,Paul George,9.000000,9.0,10.250000,12,MIL,18.312500,15.0,15,12.5,-3.500000
3,PHI,1,Trendon Watford,9.800000,7.2,4.800000,9,MIL,18.312500,15.0,15,7.5,2.300000
4,MIL,1,Kyle Kuzma,13.285714,14.8,18.714286,5,PHI,17.000000,15.2,7,15.5,-2.214286
5,SAS,0,Jeremy Sochan,6.750000,5.6,22.750000,14,ATL,20.461538,23.0,25,8.5,-1.750000
6,LAC,0,John Collins,11.928571,9.4,NaN,8,ORL,14.181818,11.8,2,13.5,-1.571429
7,SAS,0,Harrison Barnes,12.857143,13.6,13.250000,6,ATL,20.461538,23.0,25,13.5,-0.642857
8,SAC,1,DeMar DeRozan,18.666667,14.4,25.000000,3,MEM,18.000000,19.6,11,18.5,0.166667

C

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,MIL,1,Myles Turner,12.333333,14.20,16.571429,9,PHI,18.333333,17.2,19,16.5,-4.166667
1,ATL,0,Onyeka Okongwu,17.062500,26.60,NaN,6,SAS,19.857143,18.6,25,14.5,2.562500
2,SAS,0,Kelly Olynyk,5.250000,5.25,6.750000,19,ATL,13.090909,13.0,3,7.5,-2.250000
3,PHI,1,Andre Drummond,9.333333,13.40,5.250000,13,MIL,18.142857,19.0,18,11.5,-2.166667
4,MEM,1,Zach Edey,10.500000,10.50,NaN,10,SAC,18.700000,22.2,21,12.5,-2.000000
5,ORL,0,Goga Bitadze,6.357143,6.60,2.500000,18,LAC,19.777778,22.4,23,4.5,1.857143
6,MEM,1,Jock Landale,9.866667,7.60,2.800000,12,SAC,18.700000,22.2,21,8.5,1.366667
7,ATL,0,Kristaps Porzingis,17.333333,16.00,NaN,4,SAS,19.857143,18.6,25,16.5,0.833333
8,SAS,0,Luke Kornet,10.166667,11.80,5.000000,11,ATL,13.090909,13.0,3,9.5,0.666667
9,LAC,0,Brook Lopez,7.153846,7.60,10.000000,15,ORL,13.230769,14.0,4,6.5,0.653846
10,LAC,0,Ivica Zubac,16.000000,17.60,14.500000,7,ORL,13.230769,14.0,4,15.5,0.500000
11,ORL,0,Wendell Carter Jr.,12.733333,14.20,NaN,8,LAC,19.777778,22.4,23,12.5,0.233333

===AST===
PG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,SAS,0,De'Aaron Fox,6.166667,6.8,6.400000,7,ATL,6.818182,8.4,18,7.5,-1.333333
1,PHI,1,Tyrese Maxey,7.785714,6.8,5.666667,3,MIL,6.000000,6.0,8,6.5,1.285714
2,SAC,1,Dennis Schroder,5.733333,4.2,6.200000,8,MEM,5.181818,6.0,2,4.5,1.233333
3,LAC,0,James Harden,8.692308,8.0,NaN,1,ORL,7.153846,5.8,22,7.5,1.192308
4,MIL,1,Cole Anthony,5.214286,5.2,1.714286,10,PHI,5.833333,6.0,7,4.5,0.714286
5,LAC,0,Kris Dunn,3.090909,3.6,2.500000,13,ORL,7.153846,5.8,22,2.5,0.590909
6,ORL,0,Jalen Suggs,4.727273,5.2,NaN,11,LAC,5.461538,3.4,4,4.5,0.227273
7,MIL,1,Ryan Rollins,5.333333,5.2,1.500000,9,PHI,5.833333,6.0,7,5.5,-0.166667
8,SAC,1,Russell Westbrook,6.400000,8.2,4.857143,6,MEM,5.181818,6.0,2,6.5,-0.100000
9,ORL,0,Anthony Black,2.571429,2.6,2.750000,14,LAC,5.461538,3.4,4,2.5,0.071429

SG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,MEM,1,Vince Williams Jr.,3.777778,4.6,0.250000,7,SAC,4.347826,4.6,26,5.5,-1.722222
1,LAC,0,Bogdan Bogdanovic,3.857143,4.4,1.600000,6,ORL,3.538462,1.6,13,2.5,1.357143
2,ORL,0,Desmond Bane,4.466667,5.2,4.833333,3,LAC,4.571429,3.6,29,5.5,-1.033333
3,MEM,1,Kentavious Caldwell-Pope,3.285714,2.6,2.500000,9,SAC,4.347826,4.6,26,2.5,0.785714
4,PHI,1,VJ Edgecombe,4.285714,3.6,NaN,4,MIL,3.416667,5.2,11,3.5,0.785714
5,PHI,1,Quentin Grimes,4.142857,3.6,3.166667,5,MIL,3.416667,5.2,11,3.5,0.642857
6,MEM,1,Cedric Coward,2.866667,3.0,NaN,12,SAC,4.347826,4.6,26,3.5,-0.633333
7,MEM,1,Jaylen Wells,2.090909,2.0,NaN,19,SAC,4.347826,4.6,26,1.5,0.590909
8,SAS,0,Devin Vassell,3.000000,3.6,3.500000,10,ATL,3.818182,3.6,17,3.5,-0.500000
9,SAC,1,Malik Monk,2.272727,2.2,5.666667,17,MEM,3.454545,3.2,12,2.5,-0.227273
10,ATL,0,Dyson Daniels,5.687500,6.4,3.500000,1,SAS,4.272727,3.6,24,5.5,0.187500
11,SAC,1,Zach LaVine,2.416667,2.6,NaN,15,MEM,3.454545,3.2,12,2.5,-0.083333
12,ATL,0,Nickeil Alexander-Walker,3.571429,4.2,3.750000,8,SAS,4.272727,3.6,24,3.5,0.071429

SF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,ATL,0,Zaccharie Risacher,2.500000,2.6,NaN,4,SAS,3.421053,4.2,16,1.5,1.000000
1,ORL,0,Franz Wagner,3.800000,4.4,4.50,2,LAC,3.428571,3.0,17,4.5,-0.700000
2,SAS,0,Keldon Johnson,1.846154,1.6,1.75,5,ATL,2.692308,2.4,4,2.5,-0.653846
3,ATL,0,Jalen Johnson,7.071429,10.4,NaN,1,SAS,3.421053,4.2,16,6.5,0.571429

PF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,MEM,1,Santi Aldama,2.571429,3.0,1.250000,6,SAC,3.083333,3.0,15,3.5,-0.928571
1,PHI,1,Paul George,3.000000,3.0,1.750000,5,MIL,4.250000,3.6,27,2.5,0.500000
2,SAC,1,DeMar DeRozan,3.857143,3.6,4.600000,3,MEM,4.000000,2.6,26,3.5,0.357143
3,SAS,0,Jeremy Sochan,2.166667,2.2,4.000000,10,ATL,3.461538,2.0,21,2.5,-0.333333
4,MIL,1,Kyle Kuzma,2.400000,2.8,3.857143,8,PHI,3.250000,2.6,18,2.5,-0.100000
5,SAS,0,Harrison Barnes,2.500000,2.2,0.750000,7,ATL,3.461538,2.0,21,2.5,0.000000

C

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,ATL,0,Kristaps Porzingis,3.666667,4.2,NaN,4,SAS,3.714286,4.4,21,2.5,1.166667
1,LAC,0,Ivica Zubac,2.142857,1.4,2.750000,10,ORL,2.230769,3.2,3,1.5,0.642857
2,SAS,0,Kelly Olynyk,4.000000,4.0,3.250000,1,ATL,3.454545,4.2,19,3.5,0.500000
3,SAS,0,Luke Kornet,2.333333,2.2,0.571429,8,ATL,3.454545,4.2,19,2.5,-0.166667
4,ATL,0,Onyeka Okongwu,2.666667,2.8,NaN,6,SAS,3.714286,4.4,21,2.5,0.166667

===REB===
PG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,LAC,0,James Harden,6.833333,9.0,NaN,2,ORL,4.923077,5.0,14,5.5,1.333333
1,PHI,1,Tyrese Maxey,4.714286,4.2,4.500000,4,MIL,5.571429,6.8,26,3.5,1.214286
2,MIL,1,Ryan Rollins,4.000000,4.2,1.500000,5,PHI,5.500000,4.0,24,4.5,-0.500000
3,SAC,1,Dennis Schroder,4.000000,4.6,2.700000,5,MEM,5.090909,5.0,16,3.5,0.500000
4,ORL,0,Jalen Suggs,4.000000,5.0,NaN,5,LAC,4.076923,4.4,4,4.5,-0.500000
5,LAC,0,Kris Dunn,2.916667,2.4,2.250000,12,ORL,4.923077,5.0,14,2.5,0.416667
6,SAS,0,De'Aaron Fox,3.166667,3.2,5.000000,11,ATL,6.545455,7.2,28,3.5,-0.333333
7,ORL,0,Anthony Black,3.285714,3.4,0.250000,9,LAC,4.076923,4.4,4,3.5,-0.214286
8,MIL,1,Cole Anthony,3.285714,3.2,1.571429,9,PHI,5.500000,4.0,24,3.5,-0.214286
9,SAC,1,Russell Westbrook,7.428571,8.0,5.000000,1,MEM,5.090909,5.0,16,7.5,-0.071429

SG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,SAS,0,Devin Vassell,3.500000,3.0,3.750000,11,ATL,4.000000,2.2,16,4.5,-1.000000
1,MEM,1,Vince Williams Jr.,4.700000,6.6,2.250000,5,SAC,4.608696,3.4,28,5.5,-0.800000
2,ORL,0,Desmond Bane,4.714286,4.8,5.333333,4,LAC,4.214286,5.2,20,5.5,-0.785714
3,LAC,0,Bogdan Bogdanovic,4.285714,4.8,3.600000,6,ORL,3.769231,2.6,11,3.5,0.785714
4,ATL,0,Nickeil Alexander-Walker,2.785714,3.2,2.875000,14,SAS,3.909091,4.6,15,3.5,-0.714286
5,PHI,1,Quentin Grimes,3.714286,3.2,3.000000,9,MIL,4.500000,5.6,25,3.5,0.214286
6,PHI,1,VJ Edgecombe,5.714286,5.6,NaN,2,MIL,4.500000,5.6,25,5.5,0.214286
7,ATL,0,Dyson Daniels,5.687500,5.2,5.333333,3,SAS,3.909091,4.6,15,5.5,0.187500
8,MEM,1,Jaylen Wells,3.400000,2.2,NaN,12,SAC,4.608696,3.4,28,3.5,-0.100000
9,MIL,1,Gary Trent Jr.,2.400000,2.2,3.125000,18,PHI,3.500000,5.0,3,2.5,-0.100000
10,MEM,1,Cedric Coward,6.400000,7.6,NaN,1,SAC,4.608696,3.4,28,6.5,-0.100000
11,SAC,1,Zach LaVine,3.538462,4.0,NaN,10,MEM,3.727273,4.4,9,3.5,0.038462

SF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,ATL,0,Jalen Johnson,10.071429,12.8,NaN,1,SAS,5.263158,6.0,14,9.5,0.571429
1,ATL,0,Zaccharie Risacher,2.916667,3.4,NaN,7,SAS,5.263158,6.0,14,2.5,0.416667
2,SAS,0,Keldon Johnson,6.214286,8.0,6.00,3,ATL,5.307692,4.2,15,6.5,-0.285714
3,ORL,0,Franz Wagner,6.400000,7.4,5.50,2,LAC,5.571429,7.6,19,6.5,-0.100000
4,SAS,0,Julian Champagnie,4.428571,2.0,2.75,5,ATL,5.307692,4.2,15,4.5,-0.071429

PF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,PHI,1,Paul George,7.000000,7.0,2.500000,3,MIL,6.312500,6.6,14,3.5,3.500000
1,SAS,0,Jeremy Sochan,3.125000,3.6,7.000000,16,ATL,8.000000,9.8,28,5.5,-2.375000
2,MIL,1,Bobby Portis,5.533333,6.2,6.333333,5,PHI,6.750000,6.6,20,7.5,-1.966667
3,PHI,1,Trendon Watford,5.000000,2.6,2.200000,7,MIL,6.312500,6.6,14,3.5,1.500000
4,MIL,1,Kyle Kuzma,4.428571,4.8,5.428571,10,PHI,6.750000,6.6,20,5.5,-1.071429
5,LAC,0,John Collins,4.785714,4.6,NaN,8,ORL,5.454545,5.0,4,5.5,-0.714286
6,MEM,1,Santi Aldama,6.800000,7.8,7.000000,4,SAC,6.333333,6.2,15,7.5,-0.700000
7,SAS,0,Harrison Barnes,3.153846,3.2,3.250000,14,ATL,8.000000,9.8,28,3.5,-0.346154
8,LAC,0,Nicolas Batum,3.153846,3.6,3.500000,14,ORL,5.454545,5.0,4,3.5,-0.346154
9,SAC,1,DeMar DeRozan,3.266667,2.2,4.800000,13,MEM,7.083333,6.8,23,3.5,-0.233333

C

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,PHI,1,Andre Drummond,9.769231,13.2,7.000000,4,MIL,10.428571,9.6,19,12.5,-2.730769
1,SAS,0,Luke Kornet,7.166667,7.8,3.857143,8,ATL,9.636364,8.8,12,8.5,-1.333333
2,MIL,1,Myles Turner,6.266667,5.6,6.428571,9,PHI,10.555556,11.4,22,7.5,-1.233333
3,ATL,0,Onyeka Okongwu,7.625000,6.0,NaN,7,SAS,8.857143,9.2,4,6.5,1.125000
4,ORL,0,Wendell Carter Jr.,7.666667,8.0,NaN,6,LAC,10.111111,10.6,15,8.5,-0.833333
5,MEM,1,Zach Edey,9.000000,9.0,NaN,5,SAC,12.400000,13.0,28,9.5,-0.500000
6,SAS,0,Kelly Olynyk,4.000000,4.0,3.750000,17,ATL,9.636364,8.8,12,4.5,-0.500000
7,ORL,0,Goga Bitadze,4.866667,4.4,1.000000,14,LAC,10.111111,10.6,15,4.5,0.366667
8,LAC,0,Ivica Zubac,10.785714,11.4,12.500000,3,ORL,9.000000,9.6,6,10.5,0.285714
9,SAC,1,Precious Achiuwa,4.750000,4.2,2.500000,15,MEM,11.714286,13.0,25,4.5,0.250000
10,ATL,0,Kristaps Porzingis,5.666667,5.6,NaN,10,SAS,8.857143,9.2,4,5.5,0.166667
11,LAC,0,Brook Lopez,2.583333,2.0,4.125000,22,ORL,9.000000,9.6,6,2.5,0.083333
12,MEM,1,Jock Landale,5.533333,6.2,1.800000,11,SAC,12.400000,13.0,28,5.5,0.033333

===PR===
PG

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,MIL,1,Ryan Rollins,21.133333,22.6,5.666667,6,PHI,23.583333,20.8,6,24.5,-3.366667
1,SAS,0,De'Aaron Fox,25.833333,25.6,30.200000,3,ATL,26.272727,29.8,18,28.5,-2.666667
2,SAC,1,Dennis Schroder,17.785714,18.4,18.500000,9,MEM,28.909091,30.8,26,15.5,2.285714
3,PHI,1,Tyrese Maxey,36.642857,33.8,35.500000,1,MIL,26.214286,29.0,16,34.5,2.142857
4,ORL,0,Jalen Suggs,16.545455,20.0,NaN,10,LAC,26.153846,30.0,15,18.5,-1.954545
5,MIL,1,Cole Anthony,12.071429,7.6,8.428571,13,PHI,23.583333,20.8,6,13.5,-1.428571
6,LAC,0,James Harden,32.461538,41.8,NaN,2,ORL,27.307692,24.8,23,33.5,-1.038462
7,LAC,0,Kris Dunn,9.714286,9.2,7.750000,15,ORL,27.307692,24.8,23,10.5,-0.785714
8,SAC,1,Russell Westbrook,20.800000,19.6,17.714286,7,MEM,28.909091,30.8,26,21.5,-0.700000
9,ORL,0,Anthony Black,14.800000,16.0,6.500000,11,LAC,26.153846,30.0,15,14.5,0.300000

SG

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,MEM,1,Vince Williams Jr.,13.300000,16.8,2.750000,13,SAC,24.217391,21.6,29,19.5,-6.200000
1,ORL,0,Desmond Bane,21.333333,27.2,24.333333,3,LAC,19.928571,18.6,9,26.5,-5.166667
2,SAS,0,Devin Vassell,17.071429,14.2,21.750000,8,ATL,19.818182,22.6,8,21.5,-4.428571
3,ATL,0,Dyson Daniels,14.187500,11.6,11.833333,10,SAS,20.272727,14.6,12,17.5,-3.312500
4,MEM,1,Cedric Coward,20.733333,20.6,NaN,6,SAC,24.217391,21.6,29,23.5,-2.766667
5,MIL,1,Gary Trent Jr.,11.800000,8.4,17.875000,15,PHI,21.875000,25.2,20,14.5,-2.700000
6,MEM,1,Jaylen Wells,12.866667,12.6,NaN,14,SAC,24.217391,21.6,29,15.5,-2.633333
7,SAC,1,Zach LaVine,25.076923,19.8,NaN,1,MEM,21.909091,20.4,21,22.5,2.576923
8,LAC,0,Bogdan Bogdanovic,13.375000,16.4,17.000000,11,ORL,20.846154,18.8,15,15.5,-2.125000
9,PHI,1,Quentin Grimes,20.785714,19.2,12.166667,5,MIL,23.166667,27.6,26,19.5,1.285714
10,PHI,1,VJ Edgecombe,21.571429,19.6,NaN,2,MIL,23.166667,27.6,26,20.5,1.071429
11,ATL,0,Nickeil Alexander-Walker,20.928571,22.4,12.125000,4,SAS,20.272727,14.6,12,20.5,0.428571

SF

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,SAS,0,Keldon Johnson,17.785714,18.4,16.25,4,ATL,25.769231,24.4,24,20.5,-2.714286
1,SAS,0,Julian Champagnie,14.142857,10.2,13.50,7,ATL,25.769231,24.4,24,15.5,-1.357143
2,ORL,0,Franz Wagner,29.200000,31.2,21.00,3,LAC,23.142857,27.8,12,30.5,-1.300000
3,ATL,0,Zaccharie Risacher,15.461538,16.0,NaN,6,SAS,23.105263,30.6,11,14.5,0.961538
4,PHI,1,Justin Edwards,8.818182,11.8,9.00,10,MIL,28.000000,25.6,28,8.5,0.318182
5,ATL,0,Jalen Johnson,32.714286,40.0,NaN,1,SAS,23.105263,30.6,11,32.5,0.214286

PF

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,MIL,1,Bobby Portis,15.266667,17.8,18.833333,10,PHI,23.750000,21.8,10,22.5,-7.233333
1,MEM,1,Santi Aldama,19.266667,21.2,19.500000,5,SAC,27.666667,25.6,27,25.5,-6.233333
2,SAS,0,Jeremy Sochan,9.875000,9.2,29.750000,14,ATL,28.461538,32.8,28,14.5,-4.625000
3,MIL,1,Kyle Kuzma,17.714286,19.6,24.142857,6,PHI,23.750000,21.8,10,21.5,-3.785714
4,PHI,1,Trendon Watford,14.800000,9.8,7.000000,11,MIL,24.625000,21.6,13,11.5,3.300000
5,LAC,0,John Collins,16.714286,14.0,NaN,7,ORL,19.636364,16.8,2,19.5,-2.785714
6,SAS,0,Harrison Barnes,15.785714,16.8,16.500000,9,ATL,28.461538,32.8,28,17.5,-1.714286
7,SAC,1,DeMar DeRozan,21.933333,16.6,29.800000,4,MEM,25.083333,26.4,17,22.5,-0.566667
8,PHI,1,Paul George,16.000000,16.0,12.750000,8,MIL,24.625000,21.6,13,16.5,-0.500000
9,LAC,0,Nicolas Batum,7.692308,10.0,6.750000,15,ORL,19.636364,16.8,2,7.5,0.192308

C

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,PHI,1,Andre Drummond,18.384615,26.60,12.250000,11,MIL,28.571429,28.6,16,24.5,-6.115385
1,MIL,1,Myles Turner,18.600000,19.80,23.000000,10,PHI,28.888889,28.6,18,23.5,-4.900000
2,SAS,0,Kelly Olynyk,9.250000,9.25,10.500000,16,ATL,22.727273,21.8,5,12.5,-3.250000
3,ATL,0,Onyeka Okongwu,24.687500,32.60,NaN,5,SAS,28.714286,27.8,17,21.5,3.187500
4,MEM,1,Zach Edey,19.500000,19.50,NaN,9,SAC,31.100000,35.2,27,22.5,-3.000000
5,SAS,0,Luke Kornet,14.857143,14.40,8.857143,13,ATL,22.727273,21.8,5,17.5,-2.642857
6,MEM,1,Jock Landale,15.400000,13.80,4.600000,12,SAC,31.100000,35.2,27,14.5,0.900000
7,LAC,0,Ivica Zubac,26.785714,29.00,27.000000,3,ORL,22.230769,23.6,2,27.5,-0.714286
8,ATL,0,Kristaps Porzingis,23.000000,21.60,NaN,7,SAS,28.714286,27.8,17,22.5,0.500000
9,LAC,0,Brook Lopez,8.857143,7.40,14.125000,18,ORL,22.230769,23.6,2,8.5,0.357143
10,ORL,0,Goga Bitadze,10.800000,11.00,3.500000,15,LAC,29.888889,33.0,23,10.5,0.300000
11,ORL,0,Wendell Carter Jr.,20.400000,22.20,NaN,8,LAC,29.888889,33.0,23,20.5,-0.100000

===PA===
PG

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,MIL,1,Ryan Rollins,22.733333,23.6,5.666667,7,PHI,23.916667,22.8,5,26.5,-3.766667
1,SAS,0,De'Aaron Fox,28.833333,29.2,31.600000,3,ATL,26.545455,31.0,11,32.5,-3.666667
2,PHI,1,Tyrese Maxey,39.714286,36.4,36.666667,1,MIL,26.642857,28.2,12,36.5,3.214286
3,ORL,0,Jalen Suggs,17.272727,20.2,NaN,10,LAC,27.538462,29.0,14,19.5,-2.227273
4,SAC,1,Dennis Schroder,18.600000,17.4,22.000000,9,MEM,29.000000,31.8,22,17.5,1.100000
5,LAC,0,James Harden,34.846154,40.8,NaN,2,ORL,29.538462,25.6,24,35.5,-0.653846
6,MIL,1,Cole Anthony,14.000000,9.6,8.571429,12,PHI,23.916667,22.8,5,14.5,-0.500000
7,ORL,0,Anthony Black,14.133333,15.8,9.000000,11,LAC,27.538462,29.0,14,14.5,-0.366667
8,SAC,1,Russell Westbrook,20.266667,19.8,17.571429,8,MEM,29.000000,31.8,22,20.5,-0.233333
9,LAC,0,Kris Dunn,9.642857,10.2,8.000000,15,ORL,29.538462,25.6,24,9.5,0.142857

SG

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,MEM,1,Vince Williams Jr.,12.000000,14.6,0.750000,15,SAC,23.956522,22.8,28,19.5,-7.500000
1,ORL,0,Desmond Bane,21.400000,27.6,23.833333,3,LAC,20.285714,17.0,11,26.5,-5.100000
2,SAS,0,Devin Vassell,16.142857,14.2,21.500000,9,ATL,19.636364,24.0,10,20.5,-4.357143
3,MEM,1,Jaylen Wells,11.000000,12.0,NaN,16,SAC,23.956522,22.8,28,14.5,-3.500000
4,ATL,0,Dyson Daniels,14.187500,12.8,10.000000,10,SAS,20.636364,13.6,13,17.5,-3.312500
5,MEM,1,Cedric Coward,17.200000,16.0,NaN,7,SAC,23.956522,22.8,28,20.5,-3.300000
6,PHI,1,Quentin Grimes,21.214286,19.6,12.333333,4,MIL,22.083333,27.2,23,18.5,2.714286
7,SAC,1,Zach LaVine,23.769231,18.4,NaN,1,MEM,21.636364,19.2,20,21.5,2.269231
8,PHI,1,VJ Edgecombe,20.142857,17.6,NaN,5,MIL,22.083333,27.2,23,18.5,1.642857
9,LAC,0,Bogdan Bogdanovic,13.000000,17.2,15.000000,11,ORL,20.615385,17.8,12,14.5,-1.500000
10,SAC,1,Malik Monk,16.818182,14.4,29.000000,8,MEM,21.636364,19.2,20,15.5,1.318182
11,MEM,1,Kentavious Caldwell-Pope,10.733333,7.0,12.750000,18,SAC,23.956522,22.8,28,11.5,-0.766667
12,ATL,0,Nickeil Alexander-Walker,21.714286,23.4,13.000000,2,SAS,20.636364,13.6,13,21.5,0.214286

SF

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,SAS,0,Keldon Johnson,13.285714,12.0,12.0,5,ATL,23.153846,22.6,21,16.5,-3.214286
1,ORL,0,Franz Wagner,26.600000,28.2,20.0,3,LAC,21.000000,23.2,10,28.5,-1.900000
2,ATL,0,Zaccharie Risacher,14.307692,14.4,NaN,4,SAS,21.263158,28.8,13,13.5,0.807692
3,ATL,0,Jalen Johnson,29.714286,37.6,NaN,1,SAS,21.263158,28.8,13,29.5,0.214286

PF

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,MEM,1,Santi Aldama,14.866667,16.4,13.750000,7,SAC,24.416667,22.4,27,21.5,-6.633333
1,SAS,0,Jeremy Sochan,8.375000,7.0,26.750000,14,ATL,23.923077,25.0,25,11.5,-3.125000
2,MIL,1,Kyle Kuzma,15.000000,17.4,22.571429,5,PHI,20.250000,17.8,9,17.5,-2.500000
3,PHI,1,Paul George,12.000000,12.0,12.000000,10,MIL,22.562500,18.6,21,14.5,-2.500000
4,SAS,0,Harrison Barnes,15.000000,15.4,14.000000,5,ATL,23.923077,25.0,25,16.5,-1.500000
5,SAC,1,DeMar DeRozan,22.266667,18.0,29.600000,3,MEM,22.000000,22.2,16,22.5,-0.233333

C

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,SAS,0,Kelly Olynyk,7.400000,7.4,10.000000,17,ATL,16.545455,17.2,4,11.5,-4.100000
1,ATL,0,Onyeka Okongwu,19.562500,29.4,NaN,5,SAS,23.571429,23.0,26,17.5,2.062500
2,ATL,0,Kristaps Porzingis,21.000000,20.2,NaN,3,SAS,23.571429,23.0,26,19.5,1.500000
3,SAS,0,Luke Kornet,10.714286,10.4,5.571429,12,ATL,16.545455,17.2,4,11.5,-0.785714
4,LAC,0,Ivica Zubac,18.142857,19.0,17.250000,7,ORL,15.461538,17.2,3,17.5,0.642857

===RA===
PG

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,SAS,0,De'Aaron Fox,9.333333,10.0,11.400000,8,ATL,13.363636,15.6,26,11.5,-2.166667
1,PHI,1,Tyrese Maxey,12.500000,11.0,10.166667,4,MIL,11.571429,12.8,18,10.5,2.000000
2,MIL,1,Ryan Rollins,9.066667,9.4,3.000000,9,PHI,11.333333,10.0,14,10.5,-1.433333
3,SAC,1,Russell Westbrook,13.333333,16.2,9.857143,3,MEM,10.272727,11.0,4,14.5,-1.166667
4,MIL,1,Cole Anthony,8.500000,8.4,3.285714,11,PHI,11.333333,10.0,14,7.5,1.000000
5,SAC,1,Dennis Schroder,9.466667,8.2,8.900000,7,MEM,10.272727,11.0,4,8.5,0.966667
6,ORL,0,Jalen Suggs,8.727273,10.2,NaN,10,LAC,9.538462,7.8,2,9.5,-0.772727
7,LAC,0,James Harden,15.000000,17.0,NaN,1,ORL,12.076923,10.8,22,14.5,0.500000
8,LAC,0,Kris Dunn,5.307692,5.0,4.750000,13,ORL,12.076923,10.8,22,5.5,-0.192308
9,ORL,0,Anthony Black,5.466667,5.4,3.000000,12,LAC,9.538462,7.8,2,5.5,-0.033333

SG

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,MEM,1,Vince Williams Jr.,8.100000,11.0,2.500000,5,SAC,8.956522,8.0,28,10.5,-2.400000
1,ORL,0,Desmond Bane,8.866667,10.0,10.166667,4,LAC,8.785714,8.8,25,10.5,-1.633333
2,PHI,1,VJ Edgecombe,10.000000,9.2,NaN,2,MIL,7.916667,10.8,21,8.5,1.500000
3,SAS,0,Devin Vassell,6.071429,6.0,7.250000,10,ATL,7.818182,5.8,18,7.5,-1.428571
4,MEM,1,Cedric Coward,9.266667,10.6,NaN,3,SAC,8.956522,8.0,28,10.5,-1.233333
5,SAC,1,Zach LaVine,5.769231,6.6,NaN,12,MEM,7.181818,7.6,8,6.5,-0.730769
6,LAC,0,Bogdan Bogdanovic,7.125000,8.0,5.200000,8,ORL,7.307692,4.2,10,6.5,0.625000
7,MEM,1,Jaylen Wells,4.933333,3.8,NaN,15,SAC,8.956522,8.0,28,5.5,-0.566667
8,PHI,1,Quentin Grimes,7.857143,6.8,6.166667,6,MIL,7.916667,10.8,21,7.5,0.357143
9,ATL,0,Nickeil Alexander-Walker,6.357143,7.4,6.625000,9,SAS,8.181818,8.2,22,6.5,-0.142857
10,ATL,0,Dyson Daniels,11.375000,11.6,8.833333,1,SAS,8.181818,8.2,22,11.5,-0.125000

SF

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,ATL,0,Jalen Johnson,17.142857,23.2,NaN,1,SAS,8.684211,10.2,15,16.5,0.642857
1,SAS,0,Keldon Johnson,7.928571,9.6,7.75,4,ATL,8.000000,6.6,6,8.5,-0.571429
2,ORL,0,Franz Wagner,10.200000,11.8,10.00,2,LAC,9.000000,10.6,17,10.5,-0.300000
3,ATL,0,Zaccharie Risacher,4.583333,5.2,NaN,7,SAS,8.684211,10.2,15,4.5,0.083333

PF

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,PHI,1,Paul George,10.000000,10.0,4.250000,3,MIL,10.562500,10.2,23,6.5,3.500000
1,SAS,0,Jeremy Sochan,4.750000,5.0,11.000000,13,ATL,11.461538,11.8,28,7.5,-2.750000
2,MIL,1,Kyle Kuzma,6.142857,7.4,9.285714,10,PHI,10.000000,9.2,20,8.5,-2.357143
3,MEM,1,Santi Aldama,9.200000,10.8,8.250000,4,SAC,9.416667,9.2,13,10.5,-1.300000
4,SAC,1,DeMar DeRozan,6.866667,5.8,9.400000,6,MEM,11.083333,9.4,25,7.5,-0.633333
5,SAS,0,Harrison Barnes,5.071429,5.0,4.000000,12,ATL,11.461538,11.8,28,5.5,-0.428571

C

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,SAS,0,Luke Kornet,8.142857,6.8,4.428571,10,ATL,13.090909,13.0,18,10.5,-2.357143
1,MIL,1,Myles Turner,8.133333,7.2,7.571429,11,PHI,12.888889,13.2,17,9.5,-1.366667
2,SAS,0,Kelly Olynyk,6.400000,6.4,7.000000,14,ATL,13.090909,13.0,18,7.5,-1.100000
3,ATL,0,Kristaps Porzingis,9.333333,9.8,NaN,8,SAS,12.571429,13.6,12,8.5,0.833333
4,ATL,0,Onyeka Okongwu,10.125000,8.8,NaN,5,SAS,12.571429,13.6,12,9.5,0.625000
5,LAC,0,Ivica Zubac,12.928571,12.8,15.250000,3,ORL,11.230769,12.8,4,12.5,0.428571

===PRA===
PG

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,SAS,0,De'Aaron Fox,32.000000,32.4,36.600000,3,ATL,33.090909,38.2,18,36.5,-4.500000
1,MIL,1,Ryan Rollins,26.466667,27.8,7.166667,8,PHI,29.416667,26.8,6,30.5,-4.033333
2,PHI,1,Tyrese Maxey,44.428571,40.6,41.166667,1,MIL,32.214286,35.0,13,41.5,2.928571
3,ORL,0,Jalen Suggs,21.272727,25.2,NaN,10,LAC,31.615385,33.4,11,23.5,-2.227273
4,SAC,1,Dennis Schroder,22.333333,21.4,24.700000,9,MEM,34.090909,36.8,23,20.5,1.833333
5,SAC,1,Russell Westbrook,27.200000,27.8,22.571429,7,MEM,34.090909,36.8,23,28.5,-1.300000
6,LAC,0,Kris Dunn,12.142857,12.2,10.250000,14,ORL,34.461538,30.6,26,12.5,-0.357143
7,LAC,0,James Harden,41.153846,49.8,NaN,2,ORL,34.461538,30.6,26,41.5,-0.346154
8,ORL,0,Anthony Black,17.200000,18.6,9.250000,12,LAC,31.615385,33.4,11,17.5,-0.300000
9,MIL,1,Cole Anthony,17.285714,12.8,10.142857,11,PHI,29.416667,26.8,6,17.5,-0.214286

SG

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,MEM,1,Vince Williams Jr.,16.700000,21.2,3.000000,12,SAC,28.565217,26.2,29,24.5,-7.800000
1,ORL,0,Desmond Bane,25.800000,32.4,29.166667,3,LAC,24.500000,22.2,14,31.5,-5.700000
2,SAS,0,Devin Vassell,19.642857,17.2,25.250000,9,ATL,23.636364,26.2,10,24.5,-4.857143
3,MEM,1,Cedric Coward,23.600000,23.6,NaN,6,SAC,28.565217,26.2,29,27.5,-3.900000
4,ATL,0,Dyson Daniels,19.875000,18.0,15.333333,8,SAS,24.545455,18.2,15,23.5,-3.625000
5,MEM,1,Jaylen Wells,14.400000,14.2,NaN,14,SAC,28.565217,26.2,29,17.5,-3.100000
6,SAC,1,Zach LaVine,27.307692,22.4,NaN,1,MEM,25.363636,23.6,20,25.5,1.807692
7,LAC,0,Bogdan Bogdanovic,16.750000,20.8,18.600000,11,ORL,24.384615,20.4,11,18.5,-1.750000
8,PHI,1,Quentin Grimes,24.928571,22.8,15.333333,4,MIL,26.583333,32.8,24,23.5,1.428571
9,SAC,1,Malik Monk,17.083333,12.6,32.166667,10,MEM,25.363636,23.6,20,18.5,-1.416667
10,PHI,1,VJ Edgecombe,25.857143,23.2,NaN,2,MIL,26.583333,32.8,24,24.5,1.357143
11,ATL,0,Nickeil Alexander-Walker,24.500000,26.6,15.875000,5,SAS,24.545455,18.2,15,24.5,0.000000

SF

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,SAS,0,Keldon Johnson,19.500000,20.0,18.00,4,ATL,28.461538,26.8,18,23.5,-4.000000
1,ORL,0,Franz Wagner,33.000000,35.6,25.50,3,LAC,26.571429,30.8,12,35.5,-2.500000
2,SAS,0,Julian Champagnie,15.285714,10.6,14.75,7,ATL,28.461538,26.8,18,16.5,-1.214286
3,ATL,0,Zaccharie Risacher,17.000000,17.8,NaN,5,SAS,26.526316,34.8,10,16.5,0.500000
4,ATL,0,Jalen Johnson,39.785714,50.4,NaN,1,SAS,26.526316,34.8,10,39.5,0.285714

PF

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,MEM,1,Santi Aldama,21.666667,24.2,20.75,5,SAC,30.750000,28.6,25,28.5,-6.833333
1,SAS,0,Jeremy Sochan,11.500000,10.6,33.75,14,ATL,31.923077,34.8,27,16.5,-5.000000
2,MIL,1,Kyle Kuzma,19.428571,22.2,28.00,6,PHI,27.000000,24.4,11,23.5,-4.071429
3,LAC,0,John Collins,17.357143,14.0,NaN,9,ORL,22.454545,19.6,2,20.5,-3.142857
4,SAS,0,Harrison Barnes,17.928571,18.6,17.25,8,ATL,31.923077,34.8,27,19.5,-1.571429
5,PHI,1,Paul George,19.000000,19.0,14.50,7,MIL,28.875000,25.2,17,18.5,0.500000
6,SAC,1,DeMar DeRozan,25.533333,20.2,34.40,3,MEM,29.083333,29.0,20,25.5,0.033333

C

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,SAS,0,Kelly Olynyk,10.600000,10.6,13.750000,16,ATL,26.181818,26.0,6,16.5,-5.900000
1,MIL,1,Myles Turner,20.466667,21.4,24.142857,10,PHI,31.222222,30.4,15,25.5,-5.033333
2,SAS,0,Luke Kornet,16.857143,15.8,9.428571,13,ATL,26.181818,26.0,6,20.5,-3.642857
3,ATL,0,Onyeka Okongwu,27.187500,35.4,NaN,5,SAS,32.428571,32.2,18,24.5,2.687500
4,ATL,0,Kristaps Porzingis,26.666667,25.8,NaN,6,SAS,32.428571,32.2,18,25.5,1.166667
5,LAC,0,Ivica Zubac,28.928571,30.4,29.750000,3,ORL,24.461538,26.8,2,29.5,-0.571429

===TPM===
PG

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,MIL,1,Cole Anthony,1.571429,1.600000,0.714286,12,PHI,2.083333,1.8,13,0.5,1.071429
1,SAC,1,Dennis Schroder,2.400000,2.800000,2.300000,6,MEM,3.545455,3.6,30,1.5,0.900000
2,SAC,1,Russell Westbrook,2.384615,1.600000,1.285714,7,MEM,3.545455,3.6,30,1.5,0.884615
3,ORL,0,Tyus Jones,1.333333,1.333333,1.333333,15,LAC,3.153846,2.6,28,0.5,0.833333
4,LAC,0,Kris Dunn,1.200000,1.000000,1.000000,18,ORL,2.230769,2.4,16,0.5,0.700000
5,ORL,0,Jalen Suggs,2.000000,2.200000,NaN,8,LAC,3.153846,2.6,28,1.5,0.500000
6,PHI,1,Tyrese Maxey,3.928571,3.600000,4.000000,1,MIL,2.000000,2.0,8,3.5,0.428571
7,MIL,1,Ryan Rollins,2.846154,3.600000,0.500000,4,PHI,2.083333,1.8,13,2.5,0.346154
8,LAC,0,James Harden,3.615385,4.000000,NaN,2,ORL,2.230769,2.4,16,3.5,0.115385
9,SAS,0,De'Aaron Fox,2.500000,2.600000,3.400000,5,ATL,2.181818,2.8,14,2.5,0.000000
10,ORL,0,Anthony Black,1.500000,1.600000,0.500000,13,LAC,3.153846,2.6,28,1.5,0.000000

SG

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,MEM,1,Cedric Coward,2.800000,2.8,NaN,4,SAC,2.652174,1.6,25,1.5,1.300000
1,SAC,1,Malik Monk,2.777778,2.4,3.333333,5,MEM,2.636364,2.2,24,1.5,1.277778
2,LAC,0,Bogdan Bogdanovic,2.333333,2.4,2.600000,8,ORL,1.769231,2.0,4,1.5,0.833333
3,PHI,1,VJ Edgecombe,2.333333,2.0,NaN,8,MIL,3.000000,3.6,30,1.5,0.833333
4,SAC,1,Zach LaVine,3.166667,3.0,NaN,1,MEM,2.636364,2.2,24,2.5,0.666667
5,MEM,1,Vince Williams Jr.,1.875000,2.0,0.000000,17,SAC,2.652174,1.6,25,2.5,-0.625000
6,SAS,0,Devin Vassell,3.090909,3.0,2.750000,2,ATL,2.090909,3.2,10,2.5,0.590909
7,ORL,0,Desmond Bane,1.916667,2.2,3.166667,16,LAC,2.142857,2.4,12,2.5,-0.583333
8,ATL,0,Nickeil Alexander-Walker,1.923077,1.4,1.375000,15,SAS,2.272727,1.6,16,2.5,-0.576923
9,MEM,1,Jaylen Wells,1.833333,1.8,NaN,18,SAC,2.652174,1.6,25,1.5,0.333333
10,PHI,1,Quentin Grimes,2.769231,2.6,1.666667,6,MIL,3.000000,3.6,30,2.5,0.269231
11,MIL,1,Gary Trent Jr.,2.428571,2.0,3.375000,7,PHI,2.562500,3.2,22,2.5,-0.071429
12,MEM,1,Kentavious Caldwell-Pope,1.555556,1.6,1.750000,19,SAC,2.652174,1.6,25,1.5,0.055556

SF

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,ATL,0,Jalen Johnson,2.222222,3.0,NaN,5,SAS,2.421053,3.2,23,1.5,0.722222
1,ORL,0,Franz Wagner,2.083333,2.0,0.75,6,LAC,2.928571,2.0,28,1.5,0.583333
2,ATL,0,Zaccharie Risacher,1.909091,1.6,NaN,9,SAS,2.421053,3.2,23,1.5,0.409091
3,SAS,0,Keldon Johnson,1.333333,1.4,1.00,11,ATL,2.307692,3.0,22,1.5,-0.166667
4,SAS,0,Julian Champagnie,2.416667,2.6,3.25,2,ATL,2.307692,3.0,22,2.5,-0.083333

PF

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,MEM,1,Santi Aldama,1.538462,1.8,2.75,10,SAC,2.000000,1.6,18,2.5,-0.961538
1,PHI,1,Paul George,1.000000,1.0,2.00,15,MIL,1.750000,2.0,12,1.5,-0.500000
2,SAS,0,Harrison Barnes,2.769231,2.4,1.25,1,ATL,2.230769,2.8,25,2.5,0.269231
3,LAC,0,John Collins,1.333333,1.4,NaN,12,ORL,1.909091,2.0,17,1.5,-0.166667
4,MIL,1,Bobby Portis,1.666667,1.8,1.00,5,PHI,1.500000,1.2,6,1.5,0.166667
5,MIL,1,Kyle Kuzma,1.625000,1.8,2.00,6,PHI,1.500000,1.2,6,1.5,0.125000
6,LAC,0,Nicolas Batum,1.545455,2.2,0.75,9,ORL,1.909091,2.0,17,1.5,0.045455

C

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,LAC,0,Brook Lopez,2.111111,2.0,1.375,4,ORL,0.384615,0.4,3,0.5,1.611111
1,ATL,0,Onyeka Okongwu,2.769231,5.0,NaN,1,SAS,1.428571,1.2,22,1.5,1.269231
2,ATL,0,Kristaps Porzingis,2.000000,1.4,NaN,5,SAS,1.428571,1.2,22,1.5,0.500000
3,ORL,0,Wendell Carter Jr.,1.583333,1.4,NaN,9,LAC,1.111111,1.2,16,1.5,0.083333
4,MIL,1,Myles Turner,2.571429,3.0,2.000,2,PHI,0.555556,0.0,7,2.5,0.071429

===STL===
PG

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ORL,0,Jalen Suggs,2.571429,2.80,NaN,2,LAC,1.384615,1.6,17,1.5,1.071429
1,SAC,1,Dennis Schroder,1.363636,1.00,0.600000,15,MEM,0.636364,1.0,2,0.5,0.863636
2,MIL,1,Ryan Rollins,2.083333,1.40,0.333333,3,PHI,1.416667,1.4,18,1.5,0.583333
3,LAC,0,Kris Dunn,1.909091,1.60,1.000000,6,ORL,1.846154,1.2,27,1.5,0.409091
4,SAS,0,De'Aaron Fox,1.750000,1.75,2.800000,8,ATL,1.454545,1.2,22,1.5,0.250000
5,PHI,1,Tyrese Maxey,1.615385,2.20,1.333333,10,MIL,1.428571,0.8,19,1.5,0.115385
6,LAC,0,James Harden,1.500000,1.00,NaN,11,ORL,1.846154,1.2,27,1.5,0.000000

SG

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ORL,0,Desmond Bane,1.833333,2.0,1.000,7,LAC,1.214286,0.6,16,0.5,1.333333
1,SAC,1,Malik Monk,1.333333,1.2,0.500,16,MEM,1.363636,2.0,20,0.5,0.833333
2,SAS,0,Devin Vassell,2.000000,2.4,1.500,3,ATL,1.000000,1.4,11,1.5,0.500000
3,PHI,1,VJ Edgecombe,1.900000,2.0,NaN,6,MIL,1.000000,1.8,11,1.5,0.400000
4,ATL,0,Dyson Daniels,2.250000,2.0,1.500,2,SAS,0.909091,0.8,8,2.5,-0.250000
5,MIL,1,Gary Trent Jr.,1.600000,1.2,1.375,12,PHI,1.000000,1.0,11,1.5,0.100000

SF

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ATL,0,Jalen Johnson,2.214286,3.8,NaN,2,SAS,1.263158,1.4,19,1.5,0.714286
1,ORL,0,Franz Wagner,1.700000,1.6,2.0,6,LAC,1.142857,1.0,13,1.5,0.200000

PF

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,SAC,1,DeMar DeRozan,1.583333,1.8,0.4,5,MEM,1.333333,1.0,25,0.5,1.083333

C

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ATL,0,Kristaps Porzingis,2.500000,2.5,NaN,1,SAS,1.000000,1.0,14,0.5,2.000000
1,LAC,0,Ivica Zubac,1.333333,1.4,0.25,12,ORL,0.461538,0.6,1,0.5,0.833333

===BLK===
PG

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, BLK_Diff]
Index: []

SG

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,ATL,0,Dyson Daniels,1.0,1.0,0.0,10,SAS,0.363636,0.4,18,0.5,0.5

SF

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,ORL,0,Franz Wagner,1.166667,1.2,0.5,5,LAC,0.428571,0.8,15,0.5,0.666667
1,ATL,0,Jalen Johnson,1.000000,1.0,NaN,7,SAS,0.105263,0.2,2,0.5,0.500000

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_BLK, Off_L5_BLK, AVG_BLK_H2H, Off_Rk, Opp, Def_BLK, Def_L5_BLK, Def_Rk, BLK_line, BLK_Diff]
Index: []

C

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,ORL,0,Wendell Carter Jr.,1.857143,2.00,NaN,8,LAC,1.111111,1.0,12,0.5,1.357143
1,LAC,0,Ivica Zubac,1.555556,1.40,0.500000,14,ORL,1.384615,1.0,20,0.5,1.055556
2,ATL,0,Kristaps Porzingis,2.000000,2.20,NaN,3,SAS,0.857143,0.6,3,1.5,0.500000
3,MIL,1,Myles Turner,2.000000,1.60,1.428571,3,PHI,1.666667,1.4,26,1.5,0.500000
4,MEM,1,Zach Edey,2.000000,2.00,NaN,3,SAC,1.700000,2.4,27,1.5,0.500000
5,SAS,0,Luke Kornet,1.750000,1.75,0.857143,10,ATL,0.545455,1.0,2,1.5,0.250000

===STL_BLK===
PG

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, STL_BLK_Diff]
Index: []

SG

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,ATL,0,Dyson Daniels,2.6875,2.2,1.5,1,SAS,1.272727,1.2,10,2.5,0.1875

SF

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,ATL,0,Jalen Johnson,2.500000,4.0,NaN,3,SAS,1.368421,1.6,6,1.5,1.000000
1,ORL,0,Franz Wagner,1.846154,2.4,2.5,9,LAC,1.571429,1.8,10,1.5,0.346154

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, STL_BLK_Diff]
Index: []

C

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,ATL,0,Kristaps Porzingis,2.375000,2.6,NaN,6,SAS,1.857143,1.6,7,1.5,0.875000
1,LAC,0,Ivica Zubac,1.833333,1.8,0.75,13,ORL,1.846154,1.6,6,1.5,0.333333

In [66]:
df_stats = pd.DataFrame()
for i in categories:
    print(f"==={i}===")
    df_temp = pick_finder(i, collect=True)
    df_stats = pd.concat([df_stats, df_temp], ignore_index=True)
    
df_stats = con.execute("SELECT Date, Team, B2B, Player, Opp, * EXCLUDE(Date, Team, B2B, Player, Opp, Off_Rk, Def_Rk) FROM df_stats").fetchdf()
df_save = pd.DataFrame()
for player in df_stats.Player.unique():
    df_temp = df_stats[(df_stats.Player == player)]
    for col in df_temp.columns.difference(['Date', 'Team', 'Player']):
        df_temp[col] = df_temp[col].ffill()
        df_temp[col] = df_temp[col].backfill()
    df_temp = df_temp.drop_duplicates()
    df_save = pd.concat([df_save, df_temp])
print('Saving for Date:', now)
partition_save_df(df_save, f"../tables/{year}/parlay_stats.csv")
display(df_save)

===PTS===
PG
SG
SF
PF
C
===AST===
PG
SG
SF
PF
C
===REB===
PG
SG
SF
PF
C
===PR===
PG
SG
SF
PF
C
===PA===
PG
SG
SF
PF
C
===RA===
PG
SG
SF
PF
C
===PRA===
PG
SG
SF
PF
C
===TPM===
PG
SG
SF
PF
C
===STL===
PG
SG
SF
PF
C
===BLK===
PG
SG
SF
PF
C
===STL_BLK===
PG
SG
SF
PF
C
Saving for Date: 2025-11-20
../tables/2025/parlay_stats.csv saved!

,Date,Team,B2B,Player,Opp,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Def_PTS,Def_L5_PTS,PTS_line,PTS_Diff,Off_AST,Off_L5_AST,AVG_AST_H2H,Def_AST,Def_L5_AST,AST_line,AST_Diff,Off_REB,Off_L5_REB,AVG_REB_H2H,Def_REB,Def_L5_REB,REB_line,REB_Diff,Off_PR,Off_L5_PR,AVG_PR_H2H,Def_PR,Def_L5_PR,PR_line,PR_Diff,Off_PA,Off_L5_PA,AVG_PA_H2H,Def_PA,Def_L5_PA,PA_line,PA_Diff,Off_RA,Off_L5_RA,AVG_RA_H2H,Def_RA,Def_L5_RA,RA_line,RA_Diff,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Def_PRA,Def_L5_PRA,PRA_line,PRA_Diff,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Def_TPM,Def_L5_TPM,TPM_line,TPM_Diff,Off_STL,Off_L5_STL,AVG_STL_H2H,Def_STL,Def_L5_STL,STL_line,STL_Diff,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Def_BLK,Def_L5_BLK,BLK_line,BLK_Diff,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Def_STL_BLK,Def_L5_STL_BLK,STL_BLK_line,STL_BLK_Diff
0,2025-11-20,MIL,1,Ryan Rollins,PHI,17.400000,18.40,4.166667,18.083333,16.8,20.5,-3.100000,5.333333,5.2,1.500000,5.833333,6.0,5.5,-0.166667,4.000000,4.2,1.500000,5.500000,4.0,4.5,-0.500000,21.133333,22.60,5.666667,23.583333,20.8,24.5,-3.366667,22.733333,23.6,5.666667,23.916667,22.8,26.5,-3.766667,9.066667,9.4,3.000000,11.333333,10.0,10.5,-1.433333,26.466667,27.8,7.166667,29.416667,26.8,30.5,-4.033333,2.846154,3.600000,0.500000,2.083333,1.8,2.5,0.346154,2.083333,1.40,0.333333,1.416667,1.4,1.5,0.583333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-11-20,PHI,1,Tyrese Maxey,MIL,31.928571,29.60,31.000000,20.642857,22.2,29.5,2.428571,7.785714,6.8,5.666667,6.000000,6.0,6.5,1.285714,4.714286,4.2,4.500000,5.571429,6.8,3.5,1.214286,36.642857,33.80,35.500000,26.214286,29.0,34.5,2.142857,39.714286,36.4,36.666667,26.642857,28.2,36.5,3.214286,12.500000,11.0,10.166667,11.571429,12.8,10.5,2.000000,44.428571,40.6,41.166667,32.214286,35.0,41.5,2.928571,3.928571,3.600000,4.000000,2.000000,2.0,3.5,0.428571,1.615385,2.20,1.333333,1.428571,0.8,1.5,0.115385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-11-20,ORL,0,Jalen Suggs,LAC,12.545455,15.00,NaN,22.076923,25.6,14.5,-1.954545,4.727273,5.2,NaN,5.461538,3.4,4.5,0.227273,4.000000,5.0,NaN,4.076923,4.4,4.5,-0.500000,16.545455,20.00,NaN,26.153846,30.0,18.5,-1.954545,17.272727,20.2,NaN,27.538462,29.0,19.5,-2.227273,8.727273,10.2,NaN,9.538462,7.8,9.5,-0.772727,21.272727,25.2,NaN,31.615385,33.4,23.5,-2.227273,2.000000,2.200000,NaN,3.153846,2.6,1.5,0.500000,2.571429,2.80,NaN,1.384615,1.6,1.5,1.071429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-11-20,SAS,0,De'Aaron Fox,ATL,22.666667,22.40,25.200000,19.727273,22.6,24.5,-1.833333,6.166667,6.8,6.400000,6.818182,8.4,7.5,-1.333333,3.166667,3.2,5.000000,6.545455,7.2,3.5,-0.333333,25.833333,25.60,30.200000,26.272727,29.8,28.5,-2.666667,28.833333,29.2,31.600000,26.545455,31.0,32.5,-3.666667,9.333333,10.0,11.400000,13.363636,15.6,11.5,-2.166667,32.000000,32.4,36.600000,33.090909,38.2,36.5,-4.500000,2.500000,2.600000,3.400000,2.181818,2.8,2.5,0.000000,1.750000,1.75,2.800000,1.454545,1.2,1.5,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-11-20,LAC,0,James Harden,ORL,26.153846,32.80,NaN,22.384615,19.8,27.5,-1.346154,8.692308,8.0,NaN,7.153846,5.8,7.5,1.192308,6.833333,9.0,NaN,4.923077,5.0,5.5,1.333333,32.461538,41.80,NaN,27.307692,24.8,33.5,-1.038462,34.846154,40.8,NaN,29.538462,25.6,35.5,-0.653846,15.000000,17.0,NaN,12.076923,10.8,14.5,0.500000,41.153846,49.8,NaN,34.461538,30.6,41.5,-0.346154,3.615385,4.000000,NaN,2.230769,2.4,3.5,0.115385,1.500000,1.00,NaN,1.846154,1.2,1.5,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2025-11-20,SAC,1,Dennis Schroder,MEM,13.785714,13.80,15.800000,23.818182,25.8,12.5,1.285714,5.733333,4.2,6.200000,5.181818,6.0,4.5,1.233333,4.000000,4.6,2.700000,5.090909,5.0,3.5,0.500000,17.785714,18.40,18.500000,28.909091,30.8,15.5,2.285714,18.600000,17.4,22.000000,29.000000,31.8,17.5,1.100000,9.466667,8.2,8.900000,10.272727,11.0,8.5,0.966667,22.333333,21.4,24.700000,34.090909,36.8,20.5,1.833333,2.400000,2.800000,2.300000,3.545455,3.6,1.5,0.900000,1.363636,1.00,0.600000,0.636364,1.0,0.5,0.863636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2025-11-20,ORL,0,Tyus Jones,LAC,4.666667,4.80,7.833333,22.076923,25.6,3.5,1.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.333333,1.333333,1.333333,3.153846,2.6,0.5,0.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2025-11-20,MIL,1,Cole Anthony,PHI,9.461538,6.80,6.857143,18.083333,16.8,10.5,-1.038462,5.214286,5.2,1.714286,5.833333,6.0,4.5,0.714286,3.285714,3.2,1.571429,5.500000,4.0,3.5,-0.214286,12.071429,7.60,8.428571,23.583333,20.8,13.5,-1.428571,14.000000,9.6,8.571429,23.916667,22.8,14.5,-0.500000,8.500000,8.4,3.285714,11.333333,10.0,7.5,1.000000,17.285714,12.8,10.142857,29.416667,26.8,17.5,-0.214286,1.571429,1.600000,0.714286,2.083333,1.8,0.5,1.071429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2025-11-20,SAC,1,Russell Westbrook,MEM,13.866667,11.60,12.714286,23.818182,25.8,13.5,0.366667,6.400000,8.2,4.857143,5.181818,6.0,6.5,-0.100000,7.428571,8.0,5.000000,5.090909,5.0,7.5,-0.071429,20.800000,19.60,17.714286,28.909091,30.8,21.5,-0.700000,20.266667,19.8,17.571429,29.000000,31.8,20.5,-0.233333,13.333333,16.2,9.857143,10.272727,11.0,14.5,-1.166667,27.200000,27.8,22.571429,34.090909,36.8,28.5,-1.300000,2.384615,1.600000,1.285714,3.545455,3.6,1.5,0.884615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2025-11-20,LAC,0,Kris Dunn,ORL,7.769231,7.20,5.500000,22.384615,19.8,7.5,0.269231,3.090909,3.6,2.500000,7.153846,5.8,2.5,0.590909,2.916667,2.4,2.250000,4.923077,5.0,2.5,0.416667,9.714286,9.20,7.750000,27.307692,24.8,10.5,-0.785714,9.642857,10.2,8.000000,29.538462,25.6,9.5,0.142857,5.307692,5.0,4.750000,12.076923,10.8,5.5,-0.192308,12.142857,12.2,10.250000,34.461538,30.6,12.5,-0.357143,1.200000,1.000000,1.000000,2.230769,2.4,0.5,0.700000,1.909091,1.60,1.000000,1.846154,1.2,1.5,0.409091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2025-11-20,ORL,0,Anthony Black,LAC,11.733333,13.20,6.250000,22.076923,25.6,11.5,0.233333,2.571429,2.6,2.750000,5.461538,3.4,2.5,0.071429,3.285714,3.4,0.250000,4.076923,4.4,3.5,-0.214286,14.800000,16.00,6.500000,26.153846,30.0,14.5,0.300000,14.133333,15.8,9.000000,27.538462,29.0,14.5,-0.366667,5.466667,5.4,3.000000,9.538462,7.8,5.5,-0.033333,17.200000,18.6,9.250000,31.615385,33.4,17.5,-0.300000,1.500000,1.600000,0.500000,3.153846,2.6,1.5,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2025-11-20,MEM,1,Vince Williams Jr.,SAC,9.555556,10.20,0.500000,19.608696,18.2,13.5,-3.944444,3.777778,4.6,0.250000,4.347826,4.6,5.5,-1.722222,4.700000,6.6,2.250000,4.608696,3.4,5.5,-0.800000,13.300000,16.80,2.750000,24.217391,21.6,19.5,-6.200000,12.000000,14.6,0.750000,23.956522,22.8,19.5,-7.500000,8.100000,11.0,2.500000,8.956522,8.0,10.5,-2.400000,16.700000,21.2,3.000000,28.565217,26.2,24.5,-7.800000,1.875000,2.000000,0.000000,2.652174,1.6,2.5,-0.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2025-11-20,ORL,0,Desmond Bane,LAC,16.933333,22.40,19.000000,15.714286,13.4,20.5,-3.566667,4.466667,5.2,4.833333,4.571429,3.6,5.5,-1.033333,4.714286,4.8,5.333333,4.214286,5.2,5.5,-0.785714,21.333333,27.20,24.333333,19.928571,18.6,26.5,-5.166667,21.400000,27.6,23.833333,20.285714,17.0,26.5,-5.100000,8.866667,10.0,10.166667,8.785714,8.8,10.5,-1.633333,25.800000,32.4,29.166667,24.500000,22.2,31.5,-5.700000,1.916667,2.200000,3.166667,2.142857,2.4,2.5,-0.583333,1.833333,2.00,1.000000,1.214286,0.6,0.5,1.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2025-11-20,MEM,1,Jaylen Wells,SAC,9.466667,10.40,NaN,19.608696,18.2,12.5,-3.033333,2.090909,2.0,NaN,4.347826,4.6,1.5,0.590909,3.400000,2.2,NaN,4.608696,3.4,3.5,-0.100000,12.866667,12.60,NaN,24.217391,21.6,15.5,-2.633333,11.000000,12.0,NaN,23.956522,22.8,14.5,-3.500000,4.933333,3.8,NaN,8.956522,8.0,5.5,-0.566667,14.400000,14.2,NaN,28.565217,26.2,17.5,-3.100000,1.833333,1.800000,NaN,2.652174,1.6,1.5,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2025-11-20,ATL,0,Dyson Daniels,SAS,8.500000,6.40,6.500000,16.363636,10.0,11.5,-3.000000,5.687500,6.4,3.500000,4.272727,3.6,5.5,0.187500,5.687500,5.2,5.333333,3.909091,4.6,5.5,0.187500,14.187500,11.60,11.833333,20.272727,14.6,17.5,-3.312500,14.187500,12.8,10.000000,20.636364,13.6,17.5,-3.312500,11.375000,11.6,8.833333,8.181818,8.2,11.5,-0.125000,19.875000,18.0,15.333333,24.545455,18.2,23.5,-3.625000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.250000,2.00,1.500000,0.909091,0.8,2.5,-0.250000,1.000000,1.00,0.000000,0.363636,0.4,0.5,0.500000,2.687500,2.2,1.50,1.272727,1.2,2.5,0.187500
15,2025-11-20,SAS,0,Devin Vassell,ATL,13.571429,11.20,18.000000,15.818182,20.4,16.5,-2.928571,3.000000,3.6,3.500000,3.818182,3.6,3.5,-0.500000,3.500000,3.0,3.750000,4.000000,2.2,4.5,-1.000000,17.071429,14.20,21.750000,19.818182,22.6,21.5,-4.428571,16.142857,14.2,21.500000,19.636364,24.0,20.5,-4.357143,6.071429,6.0,7.250000,7.818182,5.8,7.5,-1.428571,19.642857,17.2,25.250000,23.636364,26.2,24.5,-4.857143,3.090909,3.000000,2.750000,2.090909,3.2,2.5,0.590909,2.000000,2.40,1.500000,1.000000,1.4,1.5,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2025-11-20,MIL,1,Gary Trent Jr.,PHI,10.200000,7.60,14.750000,18.375000,20.2,12.5,-2.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.400000,2.2,3.125000,3.500000,5.0,2.5,-0.100000,11.800000,8.40,17.875000,21.875000,25.2,14.5,-2.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.428571,2.000000,3.375000,2.562500,3.2,2.5,-0.071429,1.600000,1.20,1.375000,1.000000,1.0,1.5,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2025-11-20,MEM,1,Cedric Coward,SAC,14.333333,13.00,NaN,19.608696,18.2,16.5,-2.166667,2.866667,3.0,NaN,4.347826,4.6,3.5,-0.633333,6.400000,7.6,NaN,4.608696,3.4,6.5,-0.100000,20.733333,20.60,NaN,24.217391,21.6,23.5,-2.766667,17.200000,16.0,NaN,23.956522,22.8,20.5,-3.300000,9.266667,10.6,NaN,8.956522,8.0,10.5,-1.233333,23.600000,23.6,NaN,28.565217,26.2,27.5,-3.900000,2.800000,2.800000,NaN,2.652174,1.6,1.5,1.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2025-11-20,SAC,1,Zach LaVine,MEM,21.538462,15.80,NaN,18.181818,16.0,19.5,2.038462,2.416667,2.6,NaN,3.454545,3.2,2.5,-0.083333,3.538462,4.0,NaN,3.727273,4.4,3.5,0.038462,25.076923,19.80,NaN,21.909091,20.4,22.5,2.576923,23.769231,18.4,NaN,21.636364,19.2,21.5,2.269231,5.769231,6.6,NaN,7.181818,7.6,6.5,-0.730769,27.307692,22.4,NaN,25.363636,23.6,25.5,1.807692,3.166667,3.000000,NaN,2.636364,2.2,2.5,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2025-11-20,PHI,1,Quentin Grimes,MIL,17.071429,16.00,9.166667,18.666667,22.0,15.5,1.571429,4.142857,3.6,3.166667,3.416667,5.2,3.5,0.642857,3.714286,3.2,3.000000,4.500000,5.6,3.5,0.214286,20.785714,19.20,12.166667,23.166667,27.6,19.5,1.285714,21.214286,19.6,12.333333,22.083333,27.2,18.5,2.714286,7.857143,6.8,6.166667,7.916667,10.8,7.5,0.357143,24.928571,22.8,15.333333,26.583333,32.8,23.5,1.428571,2.769231,2.600000,1.666667,3.000000,3.6,2.5,0.269231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2025-11-20,PHI,1,VJ Edgecombe,MIL,15.857143,14.00,NaN,18.666667,22.0,14.5,1.357143,4.285714,3.6,NaN,3.416667,5.2,3.5,0.785714,5.714286,5.6,NaN,4.500000,5.6,5.5,0.214286,21.571429,19.60,NaN,23.166667,27.6,20.5,1.071429,20.142857,17.6,NaN,22.083333,27.2,18.5,1.642857,10.000000,9.2,NaN,7.916667,10.8,8.5,1.500000,25.857143,23.2,NaN,26.583333,32.8,24.5,1.357143,2.333333,2.000000,NaN,3.000000,3.6,1.5,0.833333,1.900000,2.00,NaN,1.000000,1.8,1.5,0.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2025-11-20,SAC,1,Malik Monk,MEM,14.545455,12.20,23.333333,18.181818,16.0,13.5,1.045455,2.272727,2.2,5.666667,3.454545,3.2,2.5,-0.227273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.818182,14.4,29.000000,21.636364,19.2,15.5,1.318182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.083333,12.6,32.166667,25.363636,23.6,18.5,-1.416667,2.777778,2.400000,3.333333,2.636364,2.2,1.5,1.277778,1.333333,1.20,0.500000,1.363636,2.0,0.5,0.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2025-11-20,ATL,0,Nickeil Alexander-Walker,SAS,18.142857,19.20,9.250000,16.363636,10.0,17.5,0.642857,3.571429,4.2,3.750000,4.272727,3.6,3.5,0.071429,2.785714,3.2,2.875000,3.909091,4.6,3.5,-0.714286,20.928571,22.40,12.125000,20.272727,14.6,20.5,0.428571,21.714286,23.4,13.000000,20.636364,13.6,21.5,0.214286,6.357143,7.4,6.625000,8.181818,8.2,6.5,-0.142857,24.500000,26.6,15.875000,24.545455,18.2,24.5,0.000000,1.923077,1.400000,1.375000,2.272727,1.6,2.5,-0.576923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2025-11-20,LAC,0,Bogdan Bogdanovic,ORL,11.000000,12.80,13.400000,17.076923,16.2,11.5,-0.500000,3.857143,4.4,1.600000,3.538462,1.6,2.5,1.357143,4.285714,4.8,3.600000,3.769231,2.6,3.5,0.785714,13.375000,16.40,17.000000,20.846154,18.8,15.5,-2.125000,13.000000,17.2,15.000000,20.615385,17.8,14.5,-1.500000,7.125000,8.0,5.200000,7.307692,4.2,6.5,0.625000,16.750000,20.8,18.600000,24.384615,20.4,18.5,-1.750000,2.333333,2.400000,2.600000,1.769231,2.0,1.5,0.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2025-11-20,MEM,1,Kentavious Caldwell-Pope,SAC,8.214286,7.00,10.250000,19.608696,18.2,8.5,-0.285714,3.285714,2.6,2.500000,4.347826,4.6,2.5,0.785714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.733333,7.0,12.750000,23.956522,22.8,11.5,-0.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.555556,1.600000,1.750000,2.652174,1.6,1.5,0.055556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2025-11-20,SAS,0,Keldon Johnson,ATL,11.571429,10.40,10.250000,20.461538,20.2,14.5,-2.928571,1.846154,1.6,1.750000,2.692308,2.4,2.5,-0.653846,6.214286,8.0,6.000000,5.307692,4.2,6.5,-0.285714,17.785714,18.40,16.250000,25.769231,24.4,20.5,-2.714286,13.285714,12.0,12.000000,23.153846,22.6,16.5,-3.214286,7.928571,9.6,7.750000,8.000000,6.6,8.5,-0.571429,19.500000,20.0,18.000000,28.461538,26.8,23.5,-4.000000,1.333333,1.400000,1.000000,2.307692,3.0,1.5,-0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2025-11-20,ORL,0,Franz Wagner,LAC,22.800000,23.80,15.500000,17.571429,20.2,24.5,-1.700000,3.800000,4.4,4.500000,3.428571,3.0,4.5,-0.700000,6.400000,7.4,5.500000,5.571429,7.6,6.5,-0.100000,29.200000,31.20,21.000000,23.142857,27.8,30.5,-1.300000,26.600000,28.2,20.000000,21.000000,23.2,28.5,-1.900000,10.200000,11.8,10.000000,9.000000,10.6,10.5,-0.300000,33.000000,35.6,25.500000,26.571429,30.8,35.5,-2.500000,2.083333,2.000000,0.750000,2.928571,2.0,1.5,0.583333,1.700000,1.60,2.000000,1.142857,1.0,1.5,0.200000,1.166667,1.20,0.500000,0.428571,0.8,0.5,0.666667,1.846154,2.4,2.50,1.571429,1.8,1.5,0.346154
27,2025-11-20,ATL,0,Zaccharie Risacher,SAS,12.769231,12.60,NaN,17.842105,24.6,11.5,1.269231,2.500000,2.6,NaN,3.421053,4.2,1.5,1.000000,2.916667,3.4,NaN,5.263158,6.0,2.5,0.416667,15.461538,16.00,NaN,23.105263,30.6,14.5,0.961538,14.307692,14.4,NaN,21.263158,28.8,13.5,0.807692,4.583333,5.2,NaN,8.684211,10.2,4.5,0.083333,17.000000,17.8,NaN,26.526316,34.8,16.5,0.500000,1.909091,1.600000,NaN,2.421053,3.2,1.5,0.409091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2025-11-20,PHI,1,Justin Edwards,MIL,7.500000,10.80,4.750000,21.071429,20.4,6.5,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.818182,11.80,9.000000,28.000000,25.6,8.5,0.318182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2025-11-20,ATL,0,Jalen Johnson,SAS,22.642857,27.20,NaN,17.842105,24.6,22.5,0.142857,7.071429,10.4,NaN,3.421053,4.2,6.5,0.571429,10.071429,12.8,NaN,5.263158,6.0,9.5,0.571429,32.714286,40.00,NaN,23.105263,30.6,32.5,0.214286,29.714286,37.6,NaN,21.263158,28.8,29.5,0.214286,17.142857,23.2,NaN,8.684211,10.2,16.5,0.642857,39.785714,50.4,NaN,26.526316,34.8,39.5,0.285714,2.222222,3.000000,NaN,2.421053,3.2,1.5,0.722222,2.214286,3.80,NaN,1.263158,1.4,1.5,0.714286,1.000000,1.00,NaN,0.105263,0.2,0.5,0.500000,2.500000,4.0,NaN,1.368421,1.6,1.5,1.000000
30,2025-11-20,SAS,0,Julian Champagnie,ATL,10.461538,11.00,10.750000,20.461538,20.2,10.5,-0.038462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.428571,2.0,2.750000,5.307692,4.2,4.5,-0.071429,14.142857,10.20,13.500000,25.769231,24.4,15.5,-1.357143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.285714,10.6,14.750000,28.461538,26.8,16.5,-1.214286,2.416667,2.600000,3.250000,2.307692,3.0,2.5,-0.083333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2025-11-20,MEM,1,Santi Aldama,SAC,12.466667,13.40,12.500000,21.333333,19.4,17.5,-5.033333,2.571429,3.0,1.250000,3.083333,3.0,3.5,-0.928571,6.800000,7.8,7.000000,6.333333,6.2,7.5,-0.700000,19.266667,21.20,19.500000,27.666667,25.6,25.5,-6.233333,14.866667,16.4,13.750000,24.416667,22.4,21.5,-6.633333,9.200000,10.8,8.250000,9.416667,9.2,10.5,-1.300000,21.666667,24.2,20.750000,30.750000,28.6,28.5,-6.833333,1.538462,1.800000,2.750000,2.000000,1.6,2.5,-0.961538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2025-11-20,MIL,1,Bobby Portis,PHI,9.733333,11.60,12.500000,17.000000,15.2,14.5,-4.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.533333,6.2,6.333333,6.750000,6.6,7.5,-1.966667,15.266667,17.80,18.833333,23.750000,21.8,22.5,-7.233333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.666667,1.800000,1.000000,1.500000,1.2,1.5,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2025-11-20,PHI,1,Paul George,MIL,9.000000,9.00,10.250000,18.312500,15.0,12.5,-3.500000,3.000000,3.0,1.750000,4.250000,3.6,2.5,0.500000,7.000000,7.0,2.500000,6.312500,6.6,3.5,3.500000,16.000000,16.00,12.750000,24.625000,21.6,16.5,-0.500000,12.000000,12.0,12.000000,22.562500,18.6,14.5,-2.500000,10.000000,10.0,4.250000,10.562500,10.2,6.5,3.500000,19.000000,19.0,14.500000,28.875000,25.2,18.5,0.500000,1.000000,1.000000,2.000000,1.750000,2.0,1.5,-0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2025-11-20,PHI,1,Trendon Watford,MIL,9.800000,7.20,4.800000,18.312500,15.0,7.5,2.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,2.6,2.200000,6.312500,6.6,3.5,1.500000,14.800000,9.80,7.000000,24.625000,21.6,11.5,3.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2025-11-20,MIL,1,Kyle Kuzma,PHI,13.285714,14.80,18.714286,17.000000,15.2,15.5,-2.214286,2.400000,2.8,3.857143,3.250000,2.6,2.5,-0.100000,4.428571,4.8,5.428571,6.750000,6.6,5.5,-1.071429,17.714286,19.60,24.142857,23.750000,21.8,21.5,-3.785714,15.000000,17.4,22.571429,20.250000,17.8,17.5,-2.500000,6.142857,7.4,9.285714,10.000000,9.2,8.5,-2.357143,19.428571,22.2,28.000000,27.000000,24.4,23.5,-4.071429,1.625000,1.800000,2.000000,1.500000,1.2,1.5,0.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN