In [1]:
import pandas as pd
import numpy as np
import duckdb
import warnings
import os

import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

# email
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

import warnings
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']
con = duckdb.connect(database=":memory:")

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

Today's date: 2026-01-09

In [2]:
%run ./common_utils.ipynb

# Initial Functions

In [3]:
def email(model, error):
    
    # Email details
    sender_email = "rodolfoe7157@gmail.com"
    receiver_email = "rodolfoe7157@gmail.com"
    password = "cqgu bfey cnyx sfue"  # See note below

    subject = "NBA create_Predictions error"
    body = f"Model: {model}_model\nERROR: {error}"

    # Create message
    msg = MIMEMultipart()
    msg['From'] = sender_email
    msg['To'] = receiver_email
    msg['Subject'] = subject
    msg.attach(MIMEText(body, 'plain'))

    # Connect to Gmail SMTP server and send
    with smtplib.SMTP_SSL('smtp.gmail.com', 465) as server:
        server.login(sender_email, password)
        server.send_message(msg)

    print("Email sent successfully!")

In [4]:
def load_df(file_name):
    df = pd.DataFrame()
    for i in [2021, 2022, 2023, 2024, 2025]:
        df_temp = pd.read_csv(f"../tables/{i}/{file_name}.csv")
        df_temp['Season'] = i
        df = pd.concat([df, df_temp])
        
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df.Date)
    if file_name == "season_gamelogs":
        df = df[~df[['Date', 'Team', 'Player']].duplicated(keep='last')]
    
    return df

In [5]:
def create_base_df():
    
    # Load dfs
    df = load_df('parlay_stats')
    df2 = load_df('nba_schedule')
    df3 = load_df('season_gamelogs')
    df4 = load_df('injuries')
    df5 = load_df('plyr_pos_xref')
    df6 = load_df('daily_lineups')
    gmlog_cols = ['game_id', 'Player', 'MP', 'PF']
    df7 = load_df('h1_season_gamelogs')[gmlog_cols].rename(columns={"MP": "MP_h1", "PF": "PF_h1"})
    df8 = load_df('h2_season_gamelogs')[gmlog_cols].rename(columns={"MP": "MP_h2", "PF": "PF_h2"})
    df9 = load_df('q1_season_gamelogs')[gmlog_cols].rename(columns={"MP": "MP_q1", "PF": "PF_q1"})
    df10 = load_df('q2_season_gamelogs')[gmlog_cols].rename(columns={"MP": "MP_q2", "PF": "PF_q2"})
    df11 = load_df('q3_season_gamelogs')[gmlog_cols].rename(columns={"MP": "MP_q3", "PF": "PF_q3"})
    df12 = load_df('q4_season_gamelogs')[gmlog_cols].rename(columns={"MP": "MP_q4", "PF": "PF_q4"})

    df3 = df3.rename(columns={"3PM": "TPM", "3PA": "TPA", "3P%": "TP%", "TRB": "REB"}).drop(['Pos', 'Opp'], axis=1)
    df3['PR'] = df3.PTS + df3.REB 
    df3['PA'] = df3.PTS + df3.AST
    df3['RA'] = df3.REB + df3.AST
    df3['PRA'] = df3.PTS + df3.REB + df3.AST
    df3['STL_BLK'] = df3.STL + df3.BLK
    df = df.merge(df3, on=['Season', 'Date', 'Team', 'Player'], how='left')

    df_mtch = df2[['Season', 'Date', 'AwayABV', 'HomeABV', 'AwayPTS', 'HomePTS', 'AwayB2B', 'HomeB2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch['Team_type'] = 'Away'
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm', 'Team_type']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch2['Team_type'] = 'Home'
    df_mtch = pd.concat([df_mtch, df_mtch2])
    df_mtch = df_mtch[['Season', 'Date', 'Team', 'Team_type', 'AwayPTS', 'HomePTS', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch = df_mtch.sort_values(["Team", "Date"])
    df_mtch['team_game_num'] = df_mtch.groupby(["Team", "Season"]).cumcount() + 1
    df_mtch['Spread'] = np.where(df_mtch.Team_type == 'Home', df_mtch.AwayPTS - df_mtch.HomePTS, df_mtch.HomePTS - df_mtch.AwayPTS)
    df_mtch['Total'] = df_mtch.AwayPTS + df_mtch.HomePTS
    df_mtch['is_Win'] = np.where(df_mtch.Spread > 0, 1, 0)
    df_mtch['Szn_Wins'] = df_mtch.groupby(['Season', 'Team'])['is_Win'].cumsum()
    df = df.drop(['Season', 'Team_type'], axis=1).merge(df_mtch, on=['Date', 'Team'])

    df = df.merge(df4[['Date', 'Team', 'Player', 'Status']], on=['Date', 'Team', 'Player'], how='left')
    df['Status'] = np.where((df.Active == 1) & (df.Status.isnull()), 'Available', df.Status)
    df['Status'] = np.where((df.Active == 0), 'Out', df.Status)
    df['Status'] = np.where((df.Status == 'Out') & (df.Active != 0), 'Available', df.Status)

    df6['role'] = 1
    df = df.merge(df6.drop('Pos', axis=1), on=['Season', 'Date', 'Team', 'Player'], how='left')
    df['role'] = df.role.fillna(2).astype(int)
    df['role'] = np.where(((df.MP < 8) & (df.role == 2)), 3, df.role)

    # Add gmlog splits
    df_gmlog_comb = df7.merge(df8, on=['game_id', 'Player'])
    for df_loop in (df9, df10, df11, df12):
        df_gmlog_comb = df_gmlog_comb.merge(df_loop, on=['game_id', 'Player'])
    df = df.merge(df_gmlog_comb, on=['game_id', 'Player'], how='left')
    
    global team_encoder, player_encoder, team_type_encoder, position_encoder, status_encoder
    team_encoder = LabelEncoder()
    player_encoder = LabelEncoder()
    team_type_encoder = LabelEncoder()
    position_encoder = LabelEncoder()
    status_encoder = LabelEncoder()

    # Encode string cols
    team_encoder.fit(pd.concat([df["Team"], df["Opp"]], axis=0))
    players_fits = pd.concat([df["Player"], df3["Player"]], axis=0)
    players_fits = pd.concat([players_fits, df4["Player"]], axis=0).drop_duplicates()
    player_encoder.fit(players_fits)
    df["Team"] = team_encoder.transform(df["Team"])
    df["Opp"] = team_encoder.transform(df["Opp"])
    df["Player_name"] = df.Player
    df["Player"] = player_encoder.transform(df["Player"])
    df["Pos"] = position_encoder.fit_transform(df["Pos"])
    df['Team_type'] = team_type_encoder.fit_transform(df['Team_type'])
    df["Status"] = status_encoder.fit_transform(df["Status"])

    return df

### Create missing_df

In [6]:
def create_df_missing(df, pred_col):
    
    df3 = load_df('season_gamelogs')
    df3 = df3.rename(columns={"3PM": "TPM", "3PA": "TPA", "3P%": "TP%", "TRB": "REB"}).drop(['Pos', 'Opp'], axis=1)
    df3['PR'] = df3.PTS + df3.REB 
    df3['PA'] = df3.PTS + df3.AST
    df3['RA'] = df3.REB + df3.AST
    df3['PRA'] = df3.PTS + df3.REB + df3.AST
    df3['STL_BLK'] = df3.STL + df3.BLK
    df4 = load_df('injuries')
    # Fill missing games from injuries.csv
    df_pred = create_base_df()
    team_games = df_pred[['Season', 'Team', 'Date']].drop_duplicates()
    players = df_pred[['Season','Player','Team']].drop_duplicates()
    fabricated = (players.sort_values('Season').groupby('Player', as_index=False).last())
    fabricated['Season'] = fabricated['Season'] + 1
    players = pd.concat([players, fabricated], ignore_index=True).drop_duplicates(['Season','Player','Team'])
    expanded = team_games.merge(players, on=['Season', 'Team'], how='left')

    df3["Team"] = team_encoder.transform(df3["Team"])
    df3["Player"] = player_encoder.transform(df3["Player"])
    df4["Team"] = team_encoder.transform(df4["Team"])
    df4["Player"] = player_encoder.transform(df4["Player"])
    df5 = load_df('plyr_pos_xref')
    df5['Team'] = team_encoder.transform(df5["Team"])
    df5['Player'] = player_encoder.transform(df5["Player"])

    expanded = expanded.merge(df3[['Season', 'Player', 'Date', 'MP']], on=['Season', 'Player', 'Date'], how='left').drop_duplicates(['Season', 'Date', 'Player', 'Team'])
    expanded = expanded[(expanded.MP.isnull()) & (expanded.Date != now)].drop('MP', axis=1)
    expanded = pd.concat([expanded, df4[df4.Status == 'Out'][['Season', 'Team', 'Date', 'Player']]])
    df4 = df4.merge(expanded, on=['Season', 'Date', 'Team', 'Player'], how='right')

    # Grab outs from players season gamelogs
    df4 = df4.merge(df3, on=['Season', 'Date', 'Team', 'Player'], how='outer')
    df4['Status'] = np.where(((df4.Active == 1) | (df4.MP > 0)), 'Available', df4.Status)
    df4['Status'] = np.where(((df4.Active == 0) | (df4.MP == 0) | (df4.MP.isnull())), 'Out', df4.Status)
    df4['Status'] = np.where((df4.Status == 'Out') & (df4.MP > 0), 'Available', df4.Status)
    df4['Status'] = np.where((df4.Status != 'Out') & (df4.MP == 0), 'Out', df4.Status)
    df4 = df4[df4.Status == 'Out'][['Season', 'Date', 'Team', 'Player']].drop_duplicates()
    
    df_missing = df[['Season', 'Date', 'Team', 'Player', 'role', pred_col]].copy()
    df_missing[f'{pred_col}_L10'] = (
        df_missing.groupby(['Player','Season'])[pred_col]
                  .transform(lambda x: x.rolling(10, min_periods=1).mean())
    )
    df_missing['role_L10_mode'] = (
        df_missing
            .groupby(['Player', 'Season'])['role']
            .transform(lambda x: x.rolling(10, min_periods=1)
                            .apply(lambda y: np.bincount(y.astype(np.int8), minlength=4).argmax(), raw=True))
    )
    df_missing = pd.merge_asof(df4, df_missing[["Season", "Player", "Date", "role", "role_L10_mode", f"{pred_col}_L10"]], 
                      on="Date", by=["Player", "Season"], direction="backward", allow_exact_matches=True).dropna()   
    df_missing = df_missing.merge(df5, on=['Season', 'Team', 'Player'])
    df_missing["Player"] = player_encoder.inverse_transform(df_missing["Player"])
    
    out_minutes = (
    df_missing
      .groupby(["Season", "Date", "Team"])
      .agg(
          starters_out=("role_L10_mode", lambda x: (x == 1).sum())
      )
      .reset_index()
    )

    return out_minutes

# Minutes Projection Model

In [7]:
def setup_df_mins(con, df):

    df = df[['Season', 'Date', 'Team', 'Team_type', 'Opp', 'Player', 'Pos', 'role', 'B2B', 
             'MP', 'MP_h1', 'MP_h2', 'MP_q1', 'MP_q2', 'MP_q3', 'MP_q4', 
             'Spread', 'team_game_num', 'pstszn_gm', 'is_OT']]
    
    for col in ['MP']:
        for N in [3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f'prev_team_mins_pct_L{N}'] = df[f'{col}_L{N}_avg'] / 240

    games_last_7_days = df.sort_values(['Player', 'Season', 'Date']).groupby(['Player', 'Season']).rolling('7D', on='Date', closed='left')['MP'].count().reset_index().rename(columns={"MP": "gms_L7_days"})
    games_last_7_days = games_last_7_days.drop_duplicates(
        subset=['Player', 'Season', 'Date']
    )
    df = df.merge(games_last_7_days, on=['Player', 'Season', 'Date'])
    df['gms_L7_days'] = df.gms_L7_days.fillna(0).astype(int)
        
    df['OT_adj_MP'] = np.where(df.is_OT != 0, df.MP + (5 * df.is_OT), df.MP)
    df['role'] = np.where(((df.OT_adj_MP >= 24) & (df.role != 1)), 1, df.role)
    df['role'] = np.where(((df.OT_adj_MP < 24) & (df.role == 1)), 2, df.role)
    df['role'] = np.where(((df.OT_adj_MP < 14) & (df.role == 2)), 3, df.role)
    for N in [1, 3, 5]:
        df[f"recent_role_L{N}"] = (
            df
            .groupby(["Player", "Season"])["role"]
            .rolling(5, min_periods=1)
            .apply(lambda arr: np.bincount(arr.astype(int), minlength=4).argmax(), raw=True)
            .reset_index(level=[0, 1], drop=True)
        )
    df['missed_games'] = (df.groupby(['Player', 'Team', 'Season'])['team_game_num'].diff().sub(1).fillna(0).astype(int))
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread) < 7, 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread) >= 7) & (abs(df.Spread) <= 12), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread) > 12, 3, df.game_spread_type) 
    df['game_spread_type'] = np.where(df.is_OT > 0, 1, df.game_spread_type) 

    
#     df['game_spread_type'] = np.where(abs(df.Spread) < 4, 1, df.game_spread_type) 
#     df['game_spread_type'] = np.where((abs(df.Spread) >= 4) & (abs(df.Spread) <= 10), 2, df.game_spread_type) 
#     df['game_spread_type'] = np.where((abs(df.Spread) >= 11) & (abs(df.Spread) <= 15), 3, df.game_spread_type) 
#     df['game_spread_type'] = np.where(abs(df.Spread) > 16, 4, df.game_spread_type) 
#     df['game_spread_type'] = np.where(df.is_OT > 0, 1, df.game_spread_type) 

    # Tell model games exist after players injuries/susp
    team_games = df[['Season', 'Team', 'Date', 'team_game_num']].drop_duplicates()
    players = df[['Season','Player','Team']].drop_duplicates()
    fabricated = (players.sort_values('Season').groupby('Player', as_index=False).last())
    fabricated['Season'] = fabricated['Season'] + 1
    players = pd.concat([players, fabricated], ignore_index=True).drop_duplicates(['Season','Player','Team'])
    expanded = team_games.merge(players, on=['Season', 'Team'], how='left')
    expanded = expanded.merge(df[['Season', 'Player', 'Date', 'MP']], on=['Season', 'Player', 'Date'], how='left').drop_duplicates(['Season', 'Date', 'Player', 'Team'])
    expanded['player_played'] = expanded['MP'].notna().astype(int)
    expanded['team_played_no_player'] = ((expanded['player_played'] == 0)).astype(int)
    expanded['tm_plays_after'] = (expanded.groupby(['Player'])['team_played_no_player'].shift(-1))
    expanded['missed_gms_aftr'] = 0
    expanded['missed_gms_aftr'] = np.where((expanded.player_played == 1) & (expanded.tm_plays_after == 1), 1, expanded.missed_gms_aftr)
    df = df.merge(expanded[['Date', 'Team', 'Player', 'missed_gms_aftr']], on=['Date', 'Team', 'Player'])
    
    df2 = create_df_missing(df, 'MP')
    df = df.merge(df2, on=["Season", "Date", "Team"], how='left')
#     df['starters_out'] = df.starters_out.fillna(0)

    df['MP_change_pct_L10'] = (df['MP'] - df['MP_L10_avg']) / df['MP_L10_avg']
    MP_Inc_conds = (
                    ((df.role == 1) & (df['MP_change_pct_L10'] >= 0.05)) | 
                    ((df.role == 2) & (df['MP_change_pct_L10'] >= 0.10)) | 
                    ((df.role == 3) & (df['MP_change_pct_L10'] >= 0.15))
                   )
    df['MP_Increase'] = np.where(MP_Inc_conds, 1, 0)
    Early_Stop_conds = (
        ((df.role == 1) & (df['MP_change_pct_L10'] <= -0.25)) | 
        ((df.role == 2) & (df['MP_change_pct_L10'] <= -0.35)) | 
        ((df.role == 3) & (df['MP_change_pct_L10'] <= -0.45)) | 
        ((df.role != 3) & (df['MP'] < 8)) | 
        ((df.role == 1) & (df.MP_q4 == 0))
    )
    df['Early_Stop'] = np.where(Early_Stop_conds, 1, 0)
    Early_exit_conds = (
        ((df.MP_q2 + df.MP_h2) == 0 & (df.role == 1))
    )
    df['Early_Exit'] = np.where(Early_exit_conds, 1, 0)
    
    df['Injured'] = ((df.Early_Stop == 1) & (df.missed_gms_aftr > 0)).astype(int)
    df['return_game'] = ((df.groupby('Player')['Injured'].shift(1) == 1) & (df.missed_games > 0)).astype(int)
    df['games_since_return'] = (df.groupby('Player')['return_game'].cumsum())
    df['games_since_return'] = (df.groupby(['Player', 'games_since_return']).cumcount())
    df['ramp_phase'] = 0
    df.loc[df.games_since_return == 0, 'ramp_phase'] = 1
    df.loc[df.games_since_return.isin([1, 2, 3]), 'ramp_phase'] = 2

    df = df.drop(['Season', 'Team_type', 'team_game_num', 'Spread',  
                  'MP_h1', 'MP_h2', 'MP_q1', 'MP_q2', 'MP_q3', 'MP_q4', 'OT_adj_MP', 
                  'missed_gms_aftr', 'games_since_return', 'return_game', 'MP_change_pct_L10'], axis=1)      
    return df

# Main Model

In [8]:
def setup_df_main(df, tgt_stat):
    
    # Stat dependent features 
    if tgt_stat == 'PTS':
        tgt_stat_cols = ['TPM', 'FG', 'FT', 'TPA', 'FGA', 'FTA']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'TPM', 'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        # Efficiency metrics
        df['three_rate_raw'] =  np.where(df.FGA > 0, df['TPA'] / df['FGA'], 0)
        df['ft_rate_raw']    =  np.where(df.FGA > 0, df['FTA'] / df['FGA'], 0)
        df['eFG_raw'] = (df['FG'] + 0.5 * df['TPM']) / df['FGA']
        df['TS_raw'] = df['PTS'] / (2 * (df['FGA'] + 0.44 * df['FTA']))    
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        
        for w in [3, 5, 10]:
            for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
                col = f"{metric}_L{w}"
                df[col] = (
                    df.groupby(['Player','Season'])[f'{metric}_raw']
                      .rolling(w, min_periods=1)
                      .mean()
                      .shift(1)
                      .reset_index(level=[0,1], drop=True)
                )
        for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
            col = f'{metric}_weighted'
            df[col] = (
                0.6 * df[f'{metric}_L3'] +
                0.3 * df[f'{metric}_L5'] +
                0.1 * df[f'{metric}_L10']
            )
            df = df.drop(f'{metric}_raw', axis=1)
        
    elif tgt_stat == 'PRA':
        tgt_stat_cols = ['PTS', 'REB', 'AST', 'TPM', 'FG']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK', 
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        for w in [3, 5, 10]:
            df[f"usage_proxy_L{w}"] = (
                df.groupby(['Player','Season'])[f'usage_proxy_raw']
                  .rolling(w, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0,1], drop=True)
            )
        df['usage_proxy_weighted'] = (
            0.6 * df[f'usage_proxy_L3'] +
            0.3 * df[f'usage_proxy_L5'] +
            0.1 * df[f'usage_proxy_L10']
        )
        df = df.drop('usage_proxy_raw', axis=1)
        
        
    else:
        tgt_stat_cols = []
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
          f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
          f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]

    
    # Create rolling + lag features    
    for col in ['MP'] + tgt_stat_cols:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [1, 3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )

    # Role identifiers features
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.sort_values(['Player', 'Date']).groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 
    
    for col in categories + ['Season', 'FG', 'FGA', 'FT', 'FTA', 'TPM', 'TPA', 
                             'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter'] + tgt_stat_cols:
        if col == tgt_stat:
            continue
        if col in df.columns:
            df = df.drop(col, axis=1)
        
    return df

### Today's predictions

In [9]:
def generate_predictions(tgt_stat):
    
    df_pred = create_base_df()
        
    mins_model = xgb.XGBRegressor()
    mins_model.load_model("../ML_models/mins_model.json")
    stat_model = xgb.XGBRegressor()
    stat_model.load_model(f"../ML_models/{tgt_stat}_model.json")
    
    df_lines = pd.read_csv(f"../tables/2025/parlay_lines.csv")
    df_lines['Date'] = pd.to_datetime(df_lines.Date)
    df_lines = df_lines[~(df_lines.Team.isnull())]

    # Predict Mins
    df_lines["Team"] = team_encoder.transform(df_lines["Team"])
    df_pred = df_pred.merge(df_lines[['Date', 'Team', 'Spread', 'Total']], on=['Date', 'Team'], how='left')
    df_pred = df_pred[~df_pred[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df_pred['Spread_x'] = np.where(df_pred.Spread_x.isnull(), df_pred.Spread_y, df_pred.Spread_x)
    df_pred['Total_x'] = np.where(df_pred.Total_x.isnull(), df_pred.Total_y, df_pred.Total_x)
    df_pred = df_pred.rename(columns={"Spread_x": "Spread", "Total_x": "Total"}).drop(['Spread_y', 'Total_y'], axis=1)
    df_pred_mins = setup_df_mins(con, df_pred)
    df_pred_mins = df_pred_mins.drop(['Date', 'MP'], axis=1)
    df_pred['MP'] = mins_model.predict(df_pred_mins)

    # Predict Stat
    df_pred = setup_df_main(df_pred, tgt_stat)
    feature_cols = [col for col in df_pred.columns if col not in ['Date', tgt_stat]]
    df_pred = df_pred[df_pred.Date == now][feature_cols]
    df_pred[f"{tgt_stat}_proj"] = stat_model.predict(df_pred)

    # Setup results
    df_pred['Team'] = team_encoder.inverse_transform(df_pred["Team"])
    df_lines['Team'] = team_encoder.inverse_transform(df_lines["Team"])
    df_pred['Opp'] = team_encoder.inverse_transform(df_pred["Opp"])
    df_pred['Player'] = player_encoder.inverse_transform(df_pred["Player"])
    df_pred['Pos'] = position_encoder.inverse_transform(df_pred["Pos"])

    df_lines = df_lines[df_lines.Date == now][['Team', 'Player', f'{tgt_stat}_line']]
    df_pred = df_pred.merge(df_lines, on=['Team', 'Player'])
    df_pred = df_pred[~(df_pred[f'{tgt_stat}_line'].isnull())]
    df_pred['Diff'] = abs((df_pred[f'{tgt_stat}_line'] - df_pred[f'{tgt_stat}_proj']))
    df_pred['Diff2'] = abs((df_pred['MP'] - df_pred['MP_L5_avg']))
    df_pred = df_pred.sort_values('Diff', ascending=False).drop(['Diff', 'Diff2'], axis=1)
    
#     if df_pred.shape[0] >= 50:
#         print(df_pred.shape[0], 'rows')
#         for tm in df_pred.Team.unique():
#             display(df_pred[df_pred.Team == tm])
#     else:
#         display(df_pred)

    tds_picks = df_pred[['Team', 'Player', 'Pos', 'Opp', 'MP', 'MP_L5_avg', 'Spread', f'{tgt_stat}_line', f'{tgt_stat}_proj']]
    if tds_picks.shape[0] >= 50:
        print(tds_picks.shape[0], 'rows')
        for tm in tds_picks.Team.unique():
            display(tds_picks[tds_picks.Team == tm])
    else:
        display(tds_picks)
    tds_picks.insert(0, 'Date', pd.to_datetime(now))
    partition_save_df(tds_picks, f"../tables/2025/gmday_preds_{tgt_stat}.csv")

In [10]:
try: 
    generate_predictions('PTS')
except Exception as e:
    email('PTS', e)
    raise Exception(e)

130 rows

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
36,OKC,Jalen Williams,SG,MEM,29.856882,30.036533,-5.5,24.5,14.470927
48,OKC,Aaron Wiggins,SG,MEM,23.441908,23.728685,-5.5,16.5,6.857584
49,OKC,Isaiah Joe,SG,MEM,15.429697,15.340881,-5.5,12.5,4.447285
44,OKC,Ajay Mitchell,SG,MEM,25.814114,26.728575,-5.5,18.5,10.603633
99,OKC,Kenrich Williams,PF,MEM,14.511883,11.503506,-5.5,8.5,4.795753
75,OKC,Luguentz Dort,SF,MEM,25.658741,25.313319,-5.5,9.5,7.582943
54,OKC,Alex Caruso,SG,MEM,16.539843,17.166401,-5.5,6.5,4.664555

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
62,GSW,Jimmy Butler,SF,SAC,22.485342,29.947447,-14.5,20.5,11.892233
19,GSW,De'Anthony Melton,PG,SAC,19.075655,24.844353,-14.5,11.5,6.988819
34,GSW,Brandin Podziemski,SG,SAC,20.997665,23.997802,-14.5,9.5,5.500242
52,GSW,Gary Payton II,SG,SAC,14.508763,13.520926,-14.5,5.5,8.170023
39,GSW,Moses Moody,SG,SAC,24.558359,24.803482,-14.5,9.5,7.089622
6,GSW,Stephen Curry,PG,SAC,31.213303,30.608813,-14.5,28.5,26.134680
92,GSW,Quinten Post,PF,SAC,22.663710,16.957038,-14.5,8.5,10.364910
91,GSW,Draymond Green,PF,SAC,24.417120,23.636583,-14.5,8.5,7.102523
120,GSW,Al Horford,C,SAC,16.445957,15.638441,-14.5,6.5,7.505270

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
3,DEN,Jamal Murray,PG,ATL,23.302809,37.674122,1.5,26.5,17.922853
83,DEN,Aaron Gordon,PF,ATL,20.745197,20.632468,1.5,16.5,10.272684
72,DEN,Peyton Watson,SF,ATL,33.784431,35.627417,1.5,17.5,23.324192
46,DEN,Christian Braun,SG,ATL,26.785709,24.857514,1.5,12.5,7.253729
37,DEN,Tim Hardaway Jr.,SG,ATL,22.045940,30.444880,1.5,14.5,11.197018

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
10,NOP,Jordan Poole,PG,WAS,21.233263,26.917659,-2.5,17.5,9.737637
81,NOP,Zion Williamson,PF,WAS,27.031645,30.599314,-2.5,26.5,19.722078
73,NOP,Trey Murphy III,SF,WAS,34.667564,31.354618,-2.5,20.5,25.032455
53,NOP,Micah Peavy,SG,WAS,15.306984,18.910135,-2.5,6.5,3.959153
12,NOP,Jeremiah Fears,PG,WAS,25.399492,26.293463,-2.5,14.5,12.464152
107,NOP,Derik Queen,C,WAS,26.272697,27.077061,-2.5,13.5,12.187382
125,NOP,Yves Missi,C,WAS,16.612165,20.129779,-2.5,5.5,5.615215

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
111,NYK,Karl-Anthony Towns,C,PHO,26.751577,25.868196,-1.5,20.5,13.308078
31,NYK,Miles McBride,SG,PHO,26.982239,28.588224,-1.5,12.5,14.358672
130,NYK,Mitchell Robinson,C,PHO,19.771132,21.874946,-1.5,4.5,2.938608
70,NYK,Mikal Bridges,SF,PHO,33.956455,33.963047,-1.5,14.5,12.974720
45,NYK,Jordan Clarkson,SG,PHO,18.785841,19.560827,-1.5,8.5,7.137583
87,NYK,OG Anunoby,PF,PHO,32.896465,34.101301,-1.5,15.5,14.466844
2,NYK,Jalen Brunson,PG,PHO,34.634911,34.462703,-1.5,27.5,28.191511

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
61,POR,Deni Avdija,SF,HOU,35.825176,35.068219,7.5,25.5,32.128403
32,POR,Shaedon Sharpe,SG,HOU,29.191177,31.011023,7.5,20.5,15.933755
89,POR,Toumani Camara,PF,HOU,33.742958,33.958972,7.5,12.5,15.263017
114,POR,Donovan Clingan,C,HOU,28.844519,29.732361,7.5,11.5,12.550282
128,POR,Robert Williams,C,HOU,14.660895,13.943250,7.5,4.5,4.977635

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
33,PHI,VJ Edgecombe,SG,ORL,36.669167,39.363121,-3.5,14.5,21.045288
0,PHI,Tyrese Maxey,PG,ORL,37.601425,39.339728,-3.5,27.5,30.227854
109,PHI,Joel Embiid,C,ORL,31.766397,33.947367,-3.5,26.5,24.246780
93,PHI,Paul George,PF,ORL,32.373264,33.708455,-3.5,15.5,14.326830
68,PHI,Kelly Oubre Jr.,SF,ORL,21.454157,26.337035,-3.5,9.5,10.155894
42,PHI,Quentin Grimes,SG,ORL,21.940670,35.426319,-3.5,9.5,9.353804

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
80,MIL,Giannis Antetokounmpo,PF,LAL,25.608704,28.651097,3.5,30.5,24.553534
88,MIL,Kyle Kuzma,PF,LAL,20.984747,23.770417,3.5,9.5,7.800886
86,MIL,Bobby Portis,PF,LAL,21.031927,20.236649,3.5,10.5,12.026601
4,MIL,Ryan Rollins,PG,LAL,30.527527,34.106818,3.5,14.5,16.025343
1,MIL,Kevin Porter Jr.,PG,LAL,36.632111,38.671302,3.5,17.5,18.229736
117,MIL,Myles Turner,C,LAL,27.735914,29.522471,3.5,11.5,12.176550
50,MIL,Gary Trent Jr.,SG,LAL,17.854677,18.803843,3.5,6.5,5.909301

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
108,LAC,Ivica Zubac,C,BRK,25.635437,25.395596,-4.5,16.5,11.287357
11,LAC,James Harden,PG,BRK,34.306690,30.314922,-4.5,23.5,19.502502
59,LAC,Kawhi Leonard,SF,BRK,35.594845,36.095605,-4.5,25.5,27.743919
90,LAC,John Collins,PF,BRK,27.356054,26.996733,-4.5,14.5,12.518793
123,LAC,Brook Lopez,C,BRK,18.995226,17.571279,-4.5,5.5,4.338041
103,LAC,Nicolas Batum,PF,BRK,19.825272,22.226248,-4.5,5.5,5.011988
21,LAC,Kris Dunn,PG,BRK,27.933641,29.302753,-4.5,8.5,8.958921

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
56,TOR,Ja'Kobe Walter,SG,BOS,23.512909,19.004574,10.5,9.5,5.022148
57,TOR,Ochai Agbaji,SG,BOS,16.164381,11.101999,10.5,7.5,3.050155
14,TOR,Immanuel Quickley,PG,BOS,31.026625,31.927197,10.5,18.5,15.562196
20,TOR,Jamal Shead,PG,BOS,19.383438,22.608408,10.5,8.5,5.679778
67,TOR,RJ Barrett,SF,BOS,27.943636,30.280265,10.5,21.5,18.767998
100,TOR,Collin Murray-Boyles,PF,BOS,25.470257,28.147356,10.5,10.5,8.366345
113,TOR,Sandro Mamukelashvili,C,BOS,25.345711,21.265948,10.5,12.5,11.413756

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
97,MEM,Santi Aldama,PF,OKC,21.672033,29.516358,5.5,13.5,9.168374
41,MEM,Cam Spencer,SG,OKC,27.354813,25.216819,5.5,13.5,10.816316
30,MEM,Cedric Coward,SG,OKC,24.546127,21.008111,5.5,13.5,16.173468
106,MEM,Jaren Jackson Jr.,C,OKC,31.361097,34.518694,5.5,19.5,17.036823
38,MEM,Jaylen Wells,SG,OKC,27.979214,30.386234,5.5,13.5,11.827211
116,MEM,Jock Landale,C,OKC,23.775324,20.335349,5.5,11.5,11.989954

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
96,HOU,Tari Eason,PF,POR,25.757378,27.004259,-7.5,14.5,11.010453
9,HOU,Reed Sheppard,PG,POR,21.080780,24.387152,-7.5,11.5,8.611694
85,HOU,Jabari Smith Jr.,PF,POR,33.738350,35.450510,-7.5,15.5,13.464186
64,HOU,Kevin Durant,SF,POR,35.079502,35.335313,-7.5,29.5,27.603371
124,HOU,Steven Adams,C,POR,23.766512,25.828114,-7.5,7.5,6.885143
71,HOU,Amen Thompson,SF,POR,35.446957,36.341528,-7.5,18.5,18.648407

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
13,ORL,Anthony Black,PG,PHI,30.737141,31.566241,3.5,18.5,15.063014
122,ORL,Goga Bitadze,C,PHI,16.316208,17.492072,3.5,5.5,6.684916
51,ORL,Jase Richardson,SG,PHI,15.980752,14.357482,3.5,9.5,8.424401
24,ORL,Desmond Bane,SG,PHI,32.275356,32.625829,3.5,19.5,18.751369
110,ORL,Wendell Carter Jr.,C,PHI,29.266491,29.711588,3.5,12.5,13.001098
82,ORL,Paolo Banchero,PF,PHI,33.873169,34.676857,3.5,23.5,23.448679

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
29,WAS,Tre Johnson,SG,NOP,25.412708,27.494394,2.5,15.5,12.242135
78,WAS,Khris Middleton,SF,NOP,24.399570,20.520979,2.5,10.5,11.263663
74,WAS,Kyshawn George,SF,NOP,30.695824,30.471371,2.5,13.5,14.246805
79,WAS,Justin Champagnie,SF,NOP,20.065344,24.556271,2.5,9.5,8.989176
35,WAS,Bilal Coulibaly,SG,NOP,26.475836,28.686165,2.5,12.5,12.742290

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
104,ATL,Kristaps Porzingis,C,DEN,18.134142,19.586289,-1.5,13.5,10.315667
69,ATL,Zaccharie Risacher,SF,DEN,20.477043,25.051792,-1.5,10.5,7.880156
43,ATL,Dyson Daniels,SG,DEN,33.920746,34.523879,-1.5,12.5,14.671179
105,ATL,Onyeka Okongwu,C,DEN,32.392448,33.219673,-1.5,17.5,15.804502
58,ATL,Jalen Johnson,SF,DEN,35.014488,34.951197,-1.5,24.5,23.043581
25,ATL,Nickeil Alexander-Walker,SG,DEN,32.083233,32.257996,-1.5,20.5,21.578348
17,ATL,Vit Krejci,PG,DEN,25.274418,25.457629,-1.5,9.5,9.680140

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
118,SAC,Maxime Raynaud,C,GSW,28.477013,32.789130,14.5,12.5,9.490398
84,SAC,DeMar DeRozan,PF,GSW,31.094898,31.950777,14.5,18.5,15.625343
7,SAC,Russell Westbrook,PG,GSW,27.715570,27.180326,14.5,14.5,17.074665
27,SAC,Zach LaVine,SG,GSW,30.582155,26.017720,14.5,20.5,18.421349
127,SAC,Precious Achiuwa,C,GSW,17.687494,19.696247,14.5,6.5,5.014127
8,SAC,Dennis Schroder,PG,GSW,21.061672,26.965960,14.5,11.5,10.406472
55,SAC,Nique Clifford,SG,GSW,19.729984,20.954476,14.5,5.5,4.721460

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
115,PHO,Mark Williams,C,NYK,23.494257,21.463841,1.5,11.5,8.551570
23,PHO,Devin Booker,SG,NYK,31.756647,30.796662,1.5,26.5,23.834024
18,PHO,Jordan Goodwin,PG,NYK,20.402056,23.924259,1.5,8.5,10.641115
65,PHO,Dillon Brooks,SF,NYK,29.162657,31.991565,1.5,19.5,17.399967
16,PHO,Collin Gillespie,PG,NYK,27.638237,28.889490,1.5,12.5,11.118758
26,PHO,Grayson Allen,SG,NYK,20.945091,22.936264,1.5,11.5,10.386808
76,PHO,Royce O'Neale,SF,NYK,27.674419,30.866490,1.5,9.5,8.553946
102,PHO,Oso Ighodaro,PF,NYK,20.334902,22.077748,1.5,5.5,5.357280

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
94,LAL,Jake LaRavia,PF,MIL,31.512516,32.808365,-3.5,11.5,14.267320
66,LAL,LeBron James,SF,MIL,31.636669,32.074822,-3.5,22.5,25.241035
129,LAL,Jaxson Hayes,C,MIL,16.956835,17.544270,-3.5,4.5,5.502923
101,LAL,Jarred Vanderbilt,PF,MIL,20.324383,23.915148,-3.5,5.5,4.934401
47,LAL,Marcus Smart,SG,MIL,29.047003,32.240919,-3.5,8.5,8.775537
112,LAL,Deandre Ayton,C,MIL,28.448631,30.327497,-3.5,12.5,12.562549
5,LAL,Luka Doncic,PG,MIL,34.444683,37.737639,-3.5,34.5,34.530010

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
63,BOS,Jaylen Brown,SF,TOR,29.810131,35.555519,-10.5,28.5,25.797842
40,BOS,Anfernee Simons,SG,TOR,20.394917,26.920379,-10.5,13.5,11.775398
95,BOS,Sam Hauser,PF,TOR,24.306961,22.182560,-10.5,8.5,6.829072
28,BOS,Derrick White,SG,TOR,34.427017,36.280913,-10.5,18.5,16.884592
15,BOS,Payton Pritchard,PG,TOR,33.128269,33.506723,-10.5,16.5,15.260261
126,BOS,Luka Garza,C,TOR,18.096855,21.061953,-10.5,8.5,9.376067
119,BOS,Neemias Queta,C,TOR,25.002226,24.695878,-10.5,9.5,9.425366

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PTS_line,PTS_proj
77,BRK,Ziaire Williams,SF,LAC,16.897736,19.735790,4.5,6.5,8.374335
60,BRK,Michael Porter Jr.,SF,LAC,32.664906,32.444353,4.5,24.5,26.256384
121,BRK,Day'Ron Sharpe,C,LAC,19.327215,23.516655,4.5,6.5,7.695414
98,BRK,Noah Clowney,PF,LAC,27.244730,29.604750,4.5,11.5,12.289801

../tables/2025/gmday_preds_PTS.csv saved!

In [11]:
try: 
    generate_predictions('PRA')
except Exception as e:
    email('PRA', e)
    raise Exception(e)

98 rows

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
36,OKC,Jalen Williams,SG,MEM,29.856882,30.036533,-5.5,37.5,23.640816
48,OKC,Aaron Wiggins,SG,MEM,23.441908,23.728685,-5.5,24.5,11.503993
44,OKC,Ajay Mitchell,SG,MEM,25.814114,26.728575,-5.5,28.5,17.129641
54,OKC,Alex Caruso,SG,MEM,16.539843,17.166401,-5.5,12.5,7.269642
75,OKC,Luguentz Dort,SF,MEM,25.658741,25.313319,-5.5,15.5,12.082635

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
81,NOP,Zion Williamson,PF,WAS,27.031645,30.599314,-2.5,37.5,25.105433
10,NOP,Jordan Poole,PG,WAS,21.233263,26.917659,-2.5,23.5,13.631878
12,NOP,Jeremiah Fears,PG,WAS,25.399492,26.293463,-2.5,21.5,18.438457
107,NOP,Derik Queen,C,WAS,26.272697,27.077061,-2.5,27.5,25.980112
73,NOP,Trey Murphy III,SF,WAS,34.667564,31.354618,-2.5,30.5,31.725903

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
62,GSW,Jimmy Butler,SF,SAC,22.485342,29.947447,-14.5,31.5,20.256348
19,GSW,De'Anthony Melton,PG,SAC,19.075655,24.844353,-14.5,16.5,11.082243
6,GSW,Stephen Curry,PG,SAC,31.213303,30.608813,-14.5,37.5,32.719887
34,GSW,Brandin Podziemski,SG,SAC,20.997665,23.997802,-14.5,17.5,12.973127
91,GSW,Draymond Green,PF,SAC,24.417120,23.636583,-14.5,21.5,17.725868
92,GSW,Quinten Post,PF,SAC,22.663710,16.957038,-14.5,13.5,16.412193
39,GSW,Moses Moody,SG,SAC,24.558359,24.803482,-14.5,13.5,11.454666
52,GSW,Gary Payton II,SG,SAC,14.508763,13.520926,-14.5,9.5,11.334079
120,GSW,Al Horford,C,SAC,16.445957,15.638441,-14.5,12.5,13.673017

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
3,DEN,Jamal Murray,PG,ATL,23.302809,37.674122,1.5,40.5,29.675184
83,DEN,Aaron Gordon,PF,ATL,20.745197,20.632468,1.5,24.5,16.641397
46,DEN,Christian Braun,SG,ATL,26.785709,24.857514,1.5,20.5,14.245481
37,DEN,Tim Hardaway Jr.,SG,ATL,22.045940,30.444880,1.5,20.5,15.366175
72,DEN,Peyton Watson,SF,ATL,33.784431,35.627417,1.5,26.5,29.714270

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
80,MIL,Giannis Antetokounmpo,PF,LAL,25.608704,28.651097,3.5,47.5,38.534115
1,MIL,Kevin Porter Jr.,PG,LAL,36.632111,38.671302,3.5,30.5,33.616440
4,MIL,Ryan Rollins,PG,LAL,30.527527,34.106818,3.5,24.5,25.589989

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
111,NYK,Karl-Anthony Towns,C,PHO,26.751577,25.868196,-1.5,34.5,25.992748
2,NYK,Jalen Brunson,PG,PHO,34.634911,34.462703,-1.5,37.5,32.165813
70,NYK,Mikal Bridges,SF,PHO,33.956455,33.963047,-1.5,23.5,20.724615
87,NYK,OG Anunoby,PF,PHO,32.896465,34.101301,-1.5,22.5,20.067175
45,NYK,Jordan Clarkson,SG,PHO,18.785841,19.560827,-1.5,11.5,9.883780
31,NYK,Miles McBride,SG,PHO,26.982239,28.588224,-1.5,18.5,16.960711

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
33,PHI,VJ Edgecombe,SG,ORL,36.669167,39.363121,-3.5,23.5,31.538544
42,PHI,Quentin Grimes,SG,ORL,21.940670,35.426319,-3.5,16.5,12.421329
93,PHI,Paul George,PF,ORL,32.373264,33.708455,-3.5,25.5,22.258947
0,PHI,Tyrese Maxey,PG,ORL,37.601425,39.339728,-3.5,38.5,41.249989
109,PHI,Joel Embiid,C,ORL,31.766397,33.947367,-3.5,38.5,37.730591

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
11,LAC,James Harden,PG,BRK,34.306690,30.314922,-4.5,37.5,29.704239
108,LAC,Ivica Zubac,C,BRK,25.635437,25.395596,-4.5,29.5,21.934771
59,LAC,Kawhi Leonard,SF,BRK,35.594845,36.095605,-4.5,35.5,37.768085
21,LAC,Kris Dunn,PG,BRK,27.933641,29.302753,-4.5,15.5,16.196926

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
61,POR,Deni Avdija,SF,HOU,35.825176,35.068219,7.5,40.5,47.752689
32,POR,Shaedon Sharpe,SG,HOU,29.191177,31.011023,7.5,26.5,22.292652
89,POR,Toumani Camara,PF,HOU,33.742958,33.958972,7.5,20.5,23.800173
114,POR,Donovan Clingan,C,HOU,28.844519,29.732361,7.5,24.5,25.755970

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
14,TOR,Immanuel Quickley,PG,BOS,31.026625,31.927197,10.5,29.5,22.718510
67,TOR,RJ Barrett,SF,BOS,27.943636,30.280265,10.5,32.5,26.402363
57,TOR,Ochai Agbaji,SG,BOS,16.164381,11.101999,10.5,12.5,7.469648
56,TOR,Ja'Kobe Walter,SG,BOS,23.512909,19.004574,10.5,14.5,10.526685
113,TOR,Sandro Mamukelashvili,C,BOS,25.345711,21.265948,10.5,20.5,22.926846
100,TOR,Collin Murray-Boyles,PF,BOS,25.470257,28.147356,10.5,20.5,19.795498

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
63,BOS,Jaylen Brown,SF,TOR,29.810131,35.555519,-10.5,40.5,34.472973
15,BOS,Payton Pritchard,PG,TOR,33.128269,33.506723,-10.5,26.5,23.231550
40,BOS,Anfernee Simons,SG,TOR,20.394917,26.920379,-10.5,18.5,15.391344
95,BOS,Sam Hauser,PF,TOR,24.306961,22.182560,-10.5,12.5,11.286070
28,BOS,Derrick White,SG,TOR,34.427017,36.280913,-10.5,29.5,30.446535
119,BOS,Neemias Queta,C,TOR,25.002226,24.695878,-10.5,19.5,19.024704

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
104,ATL,Kristaps Porzingis,C,DEN,18.134142,19.586289,-1.5,20.5,14.548148
58,ATL,Jalen Johnson,SF,DEN,35.014488,34.951197,-1.5,45.5,41.115395
105,ATL,Onyeka Okongwu,C,DEN,32.392448,33.219673,-1.5,29.5,26.150936
69,ATL,Zaccharie Risacher,SF,DEN,20.477043,25.051792,-1.5,15.5,13.512712
43,ATL,Dyson Daniels,SG,DEN,33.920746,34.523879,-1.5,25.5,26.199511
17,ATL,Vit Krejci,PG,DEN,25.274418,25.457629,-1.5,14.5,13.862552
25,ATL,Nickeil Alexander-Walker,SG,DEN,32.083233,32.257996,-1.5,27.5,27.803896

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
97,MEM,Santi Aldama,PF,OKC,21.672033,29.516358,5.5,23.5,18.840782
41,MEM,Cam Spencer,SG,OKC,27.354813,25.216819,5.5,24.5,21.021873
106,MEM,Jaren Jackson Jr.,C,OKC,31.361097,34.518694,5.5,28.5,25.546200
30,MEM,Cedric Coward,SG,OKC,24.546127,21.008111,5.5,22.5,24.053122

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
9,HOU,Reed Sheppard,PG,POR,21.080780,24.387152,-7.5,17.5,13.144875
96,HOU,Tari Eason,PF,POR,25.757378,27.004259,-7.5,24.5,20.368792
124,HOU,Steven Adams,C,POR,23.766512,25.828114,-7.5,19.5,17.720356
85,HOU,Jabari Smith Jr.,PF,POR,33.738350,35.450510,-7.5,24.5,23.364931
64,HOU,Kevin Durant,SF,POR,35.079502,35.335313,-7.5,39.5,38.816116
71,HOU,Amen Thompson,SF,POR,35.446957,36.341528,-7.5,32.5,32.578785

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
23,PHO,Devin Booker,SG,NYK,31.756647,30.796662,1.5,36.5,32.773979
65,PHO,Dillon Brooks,SF,NYK,29.162657,31.991565,1.5,24.5,21.902660
18,PHO,Jordan Goodwin,PG,NYK,20.402056,23.924259,1.5,15.5,16.066418
76,PHO,Royce O'Neale,SF,NYK,27.674419,30.866490,1.5,17.5,17.256907
26,PHO,Grayson Allen,SG,NYK,20.945091,22.936264,1.5,16.5,16.273159
16,PHO,Collin Gillespie,PG,NYK,27.638237,28.889490,1.5,20.5,20.469625

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
8,SAC,Dennis Schroder,PG,GSW,21.061672,26.965960,14.5,19.5,16.701733
27,SAC,Zach LaVine,SG,GSW,30.582155,26.017720,14.5,26.5,25.427570
7,SAC,Russell Westbrook,PG,GSW,27.715570,27.180326,14.5,27.5,28.552990
84,SAC,DeMar DeRozan,PF,GSW,31.094898,31.950777,14.5,25.5,25.367128

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
66,LAL,LeBron James,SF,MIL,31.636669,32.074822,-3.5,35.5,38.040554
47,LAL,Marcus Smart,SG,MIL,29.047003,32.240919,-3.5,15.5,17.223013
5,LAL,Luka Doncic,PG,MIL,34.444683,37.737639,-3.5,52.5,51.853745

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
13,ORL,Anthony Black,PG,PHI,30.737141,31.566241,3.5,26.5,24.154074
82,ORL,Paolo Banchero,PF,PHI,33.873169,34.676857,3.5,37.5,36.438652
24,ORL,Desmond Bane,SG,PHI,32.275356,32.625829,3.5,28.5,28.166683

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
74,WAS,Kyshawn George,SF,NOP,30.695824,30.471371,2.5,22.5,24.728966
29,WAS,Tre Johnson,SG,NOP,25.412708,27.494394,2.5,20.5,18.435598
35,WAS,Bilal Coulibaly,SG,NOP,26.475836,28.686165,2.5,21.5,20.551725
78,WAS,Khris Middleton,SF,NOP,24.399570,20.520979,2.5,17.5,18.154100

,Team,Player,Pos,Opp,MP,MP_L5_avg,Spread,PRA_line,PRA_proj
60,BRK,Michael Porter Jr.,SF,LAC,32.664906,32.444353,4.5,35.5,36.057137
98,BRK,Noah Clowney,PF,LAC,27.244730,29.604750,4.5,17.5,17.385330
121,BRK,Day'Ron Sharpe,C,LAC,19.327215,23.516655,4.5,16.5,16.576338

../tables/2025/gmday_preds_PRA.csv saved!