In [1]:
import pandas as pd
import numpy as np
import duckdb
import warnings
import os

import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

# email
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

import warnings
from datetime import datetime, timedelta
from haversine import haversine

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']
con = duckdb.connect(database=":memory:")

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

Today's date: 2026-01-05

In [2]:
%run ./common_utils.ipynb

# Initial Functions

In [3]:
def email(model, error):
    
    # Email details
    sender_email = "rodolfoe7157@gmail.com"
    receiver_email = "rodolfoe7157@gmail.com"
    password = "cqgu bfey cnyx sfue"  # See note below

    subject = "NBA create_Predictions error"
    body = f"Model: {model}_model\nERROR: {error}"

    # Create message
    msg = MIMEMultipart()
    msg['From'] = sender_email
    msg['To'] = receiver_email
    msg['Subject'] = subject
    msg.attach(MIMEText(body, 'plain'))

    # Connect to Gmail SMTP server and send
    with smtplib.SMTP_SSL('smtp.gmail.com', 465) as server:
        server.login(sender_email, password)
        server.send_message(msg)

    print("Email sent successfully!")

In [4]:
def create_base_df():
    df = pd.DataFrame()
    df2 = pd.DataFrame()
    df3 = pd.DataFrame()
    df4 = pd.DataFrame()
    for i in [2022, 2023, 2024, 2025]:
        df_actuals = pd.read_csv(f"../tables/{i}/parlay_stats.csv")
        df_actuals['Season'] = i
        df = pd.concat([df, df_actuals])

        df_schd = pd.read_csv(f"../tables/{i}/nba_schedule.csv")
        df_schd['Season'] = i
        df2 = pd.concat([df2, df_schd])

        df_gms = pd.read_csv(f"../tables/{i}/season_gamelogs.csv")
        df_gms['Season'] = i
        df3 = pd.concat([df3, df_gms])

        df_inj = pd.read_csv(f"../tables/{i}/injuries.csv")
        df_inj['Season'] = i
        df4 = pd.concat([df4, df_inj])

    df['Date'] = pd.to_datetime(df.Date)
    df2['Date'] = pd.to_datetime(df2.Date)
    df3['Date'] = pd.to_datetime(df3.Date)
    df3 = df3[~df3[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df4['Date'] = pd.to_datetime(df4.Date)

    df3_temp = df3.rename(columns={"3PM": "TPM", "3PA": "TPA", "3P%": "TP%", "TRB": "REB"}).drop(['Pos', 'Opp'], axis=1)
    df3_temp['PR'] = df3_temp.PTS + df3_temp.REB 
    df3_temp['PA'] = df3_temp.PTS + df3_temp.AST
    df3_temp['RA'] = df3_temp.REB + df3_temp.AST
    df3_temp['PRA'] = df3_temp.PTS + df3_temp.REB + df3_temp.AST
    df3_temp['STL_BLK'] = df3_temp.STL + df3_temp.BLK
    df = df.merge(df3_temp, on=['Season', 'Date', 'Team', 'Player'], how='left')

    df_mtch = df2[['Season', 'Date', 'AwayABV', 'HomeABV', 'AwayPTS', 'HomePTS', 'AwayB2B', 'HomeB2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch['Team_type'] = 'Away'
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm', 'Team_type']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch2['Team_type'] = 'Home'
    df_mtch = pd.concat([df_mtch, df_mtch2])
    df_mtch = df_mtch[['Season', 'Date', 'Team', 'Team_type', 'AwayPTS', 'HomePTS', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch = df_mtch.sort_values(["Team", "Date"])
    df_mtch['team_game_num'] = df_mtch.groupby(["Team", "Season"]).cumcount() + 1
    df_mtch['Spread'] = np.where(df_mtch.Team_type == 'Home', df_mtch.HomePTS - df_mtch.AwayPTS, df_mtch.AwayPTS - df_mtch.HomePTS)
    df_mtch['Total'] = df_mtch.AwayPTS + df_mtch.HomePTS
    df_mtch['is_Win'] = np.where(df_mtch.Spread > 0, 1, 0)
    df_mtch['Szn_Wins'] = df_mtch.groupby(['Season', 'Team'])['is_Win'].cumsum()
    df = df.drop(['Season', 'Team_type'], axis=1).merge(df_mtch, on=['Date', 'Team'])

    df = df.merge(df4[['Date', 'Team', 'Player', 'Status']], on=['Date', 'Team', 'Player'], how='left')
    df['Status'] = np.where((df.Active == 1) & (df.Status.isnull()), 'Available', df.Status)
    df['Status'] = np.where((df.Active == 0), 'Out', df.Status)
    df['Status'] = np.where((df.Status == 'Out') & (df.Active != 0), 'Available', df.Status)
    
    return df

# Minutes Projection Model

In [5]:
def setup_df_mins(con, df):
    
    df = df[['Season', 'Date', 'Team', 'Team_type', 'Opp', 'Player', 'Pos', 'B2B', 'MP',
             'Spread', 'Total', 'team_game_num', 'Szn_Wins', 'pstszn_gm', 'is_OT']]
    
    for col in ['MP']:
        for N in [1, 3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )

    games_last_7_days = df.sort_values(['Player', 'Season', 'Date']).groupby(['Player', 'Season']).rolling('7D', on='Date', closed='left')['MP'].count().reset_index().rename(columns={"MP": "gms_L7_days"})
    games_last_7_days = games_last_7_days.drop_duplicates(
        subset=['Player', 'Season', 'Date']
    )
    df = df.merge(games_last_7_days, on=['Player', 'Season', 'Date'])
    df['gms_L7_days'] = df.gms_L7_days.fillna(0).astype(int)
    
    df['prev_team_mins_pct'] = (df.groupby(['Player', 'Season'])['MP'].shift(1)) / 240
           
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.sort_values(['Player', 'Date']).groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
      
    df['missed_games'] = (
        df.groupby(['Player', 'Team', 'Season'])['team_game_num']      
          .diff()
          .sub(1)
          .fillna(0)
          .astype(int)
    )
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 
    
    df['missed_games_after'] = (
        df.groupby(['Player', 'Team', 'Season'])['team_game_num']
          .diff(-1)
          .abs()
          .sub(1)
          .fillna(0)
          .astype(int)
    )
    df['MP_diff_next_avg5'] = df.groupby('Player')['MP'].shift(-1) - df['MP_L5_avg']
    df['Injured'] = (
                        ((df.missed_games_after > 0) & (df.MP_diff_next_avg5 < -10) & (df.role == 1)) | 
                        ((df.missed_games_after > 0) & (df.MP_diff_next_avg5 < -5) & (df.role == 2))
                    ).astype(int)
    
    df['return_game'] = (df.groupby('Player')['Injured'].shift(1) == 1).astype(int)
    df['games_since_return'] = (df.groupby('Player')['return_game'].cumsum())
    df['games_since_return'] = (df.groupby(['Player', 'games_since_return']).cumcount())
    df['ramp_phase'] = 0
    df.loc[df.return_game == 1, 'ramp_phase'] = 1
    df.loc[df.games_since_return.isin([1, 2]), 'ramp_phase'] = 2
    df.loc[df.games_since_return >= 3, 'ramp_phase'] = 3
    df['starter_return'] = ((df.return_game == 1) & (df.role == 1)).astype(int)
    df['bench_return']   = ((df.return_game == 1) & (df.role == 2)).astype(int)
    
    df['MP_change_pct_L5'] = (df['MP_L5_avg'] - df['MP_L1_avg']) / df['MP_L5_avg']
    df['Early_stop'] = (
        (df['MP'] < 5) |
        ((df.role == 1) & (df.MP_change_pct_L5 >= 0.35)) |   # starters
        ((df.role == 2) & (df.MP_change_pct_L5 >= 0.45)) |   # bench
        ((df.role == 3) & (df.MP_change_pct_L5 >= 0.55))     # reserve
    ).astype(int)
    df['MP_increase'] = (
        ((df.role == 1) & (df.MP_change_pct_L5 >= -0.25)) |
        ((df.role == 2) & (df.MP_change_pct_L5 >= -0.35)) |
        ((df.role == 3) & (df.MP_change_pct_L5 >= -0.45))
    ).astype(int)
    
    for N in [1, 3, 5]:
        df[f'Early_stop_L{N}'] = df.sort_values(['Player', 'Date'])['Early_stop'].shift(1).rolling(N).sum()
        df[f'Injured_L{N}'] = df.sort_values(['Player', 'Date'])['Injured'].shift(1).rolling(N).sum()
    
    # Location based features
    df["DaysLstGm"] = (df.groupby("Player")["Date"].diff().dt.days).fillna(0).astype(int)
    df['Location'] = df.apply(lambda r: r['Team'] if r['Team_type'] == 'Home' else r['Opp'], axis=1)
    df['PrevLocation'] = df.groupby('Player')['Location'].shift(1)
    df['same_arena'] = (df['PrevLocation'] == df['Location']).astype(int)

    df = df.drop(['Season', 'Team_type', 'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter', 
                  'PrevLocation', 'Location', 'Injured', 'missed_games_after', 'MP_diff_next_avg5', 'return_game'], axis=1)    
    
    return df

# Main Model

In [6]:
def setup_df_main(df, tgt_stat):
    
    # Stat dependent features 
    if tgt_stat == 'PTS':
        tgt_stat_cols = ['TPM', 'FG', 'FT', 'TPA', 'FGA', 'FTA']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'TPM', 'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        # Efficiency metrics
        df['three_rate_raw'] =  np.where(df.FGA > 0, df['TPA'] / df['FGA'], 0)
        df['ft_rate_raw']    =  np.where(df.FGA > 0, df['FTA'] / df['FGA'], 0)
        df['eFG_raw'] = (df['FG'] + 0.5 * df['TPM']) / df['FGA']
        df['TS_raw'] = df['PTS'] / (2 * (df['FGA'] + 0.44 * df['FTA']))    
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        
        for w in [3, 5, 10]:
            for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
                col = f"{metric}_L{w}"
                df[col] = (
                    df.groupby(['Player','Season'])[f'{metric}_raw']
                      .rolling(w, min_periods=1)
                      .mean()
                      .shift(1)
                      .reset_index(level=[0,1], drop=True)
                )
        for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
            col = f'{metric}_weighted'
            df[col] = (
                0.6 * df[f'{metric}_L3'] +
                0.3 * df[f'{metric}_L5'] +
                0.1 * df[f'{metric}_L10']
            )
            df = df.drop(f'{metric}_raw', axis=1)
        
    elif tgt_stat == 'PRA':
        tgt_stat_cols = ['PTS', 'REB', 'AST', 'TPM', 'FG']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK', 
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        for w in [3, 5, 10]:
            df[f"usage_proxy_L{w}"] = (
                df.groupby(['Player','Season'])[f'usage_proxy_raw']
                  .rolling(w, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0,1], drop=True)
            )
        df['usage_proxy_weighted'] = (
            0.6 * df[f'usage_proxy_L3'] +
            0.3 * df[f'usage_proxy_L5'] +
            0.1 * df[f'usage_proxy_L10']
        )
        df = df.drop('usage_proxy_raw', axis=1)
        
        
    else:
        tgt_stat_cols = []
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
          f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
          f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]

    
    # Create rolling + lag features    
    for col in ['MP'] + tgt_stat_cols:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [1, 3, 5]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )

    # Role identifiers features
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.sort_values(['Player', 'Date']).groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 

    df['MP_drop_pct_L5'] = (df.MP_L5_avg - df.MP) / df.MP_L5_avg
    df['Early_stop'] = (
        (df['MP'] < 5) |
        ((df.role == 1) & (df.MP_drop_pct_L5 >= 0.35)) |   # starters
        ((df.role == 2) & (df.MP_drop_pct_L5 >= 0.45)) |   # bench
        ((df.role == 3) & (df.MP_drop_pct_L5 >= 0.55))     # reserve
    ).astype(int)
    
    
    for col in categories + ['Season', 'FG', 'FGA', 'FT', 'FTA', 'TPM', 'TPA', 'MP_drop_pct_L5', 
                             'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter'] + tgt_stat_cols:
        if col == tgt_stat:
            continue
        if col in df.columns:
            df = df.drop(col, axis=1)
        
    return df

### Today's predictions

In [7]:
def generate_predictions(tgt_stat):
    team_encoder = LabelEncoder()
    player_encoder = LabelEncoder()
    team_type_encoder = LabelEncoder()
    position_encoder = LabelEncoder()
    status_encoder = LabelEncoder()
    
    df_pred = create_base_df()
    
    # Encode string cols
    team_encoder.fit(pd.concat([df_pred["Team"], df_pred["Opp"]], axis=0))
    df_pred["Team"] = team_encoder.transform(df_pred["Team"])
    df_pred["Opp"] = team_encoder.transform(df_pred["Opp"])
    df_pred["Player"] = player_encoder.fit_transform(df_pred["Player"])
    df_pred["Pos"] = position_encoder.fit_transform(df_pred["Pos"])
    df_pred['Team_type'] = team_type_encoder.fit_transform(df_pred['Team_type'])
    df_pred["Status"] = status_encoder.fit_transform(df_pred["Status"])
    
    mins_model = xgb.XGBRegressor()
    mins_model.load_model("../ML_models/mins_model.json")
    stat_model = xgb.XGBRegressor()
    stat_model.load_model(f"../ML_models/{tgt_stat}_model.json")
    
    df_lines = pd.read_csv(f"../tables/2025/parlay_lines.csv")
    df_lines['Date'] = pd.to_datetime(df_lines.Date)
    df_lines = df_lines[~(df_lines.Team.isnull())]

    # Predict Mins
    df_lines["Team"] = team_encoder.transform(df_lines["Team"])
    df_pred = df_pred.merge(df_lines[['Date', 'Team', 'Spread', 'Total']], on=['Date', 'Team'], how='left')
    df_pred = df_pred[~df_pred[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df_pred['Spread_x'] = np.where(df_pred.Spread_x.isnull(), df_pred.Spread_y, df_pred.Spread_x)
    df_pred['Total_x'] = np.where(df_pred.Total_x.isnull(), df_pred.Total_y, df_pred.Total_x)
    df_pred = df_pred.rename(columns={"Spread_x": "Spread", "Total_x": "Total"}).drop(['Spread_y', 'Total_y'], axis=1)
    df_pred_mins = setup_df_mins(con, df_pred)
    df_pred_mins = df_pred_mins.drop(['Date', 'MP'], axis=1)
    df_pred['MP'] = mins_model.predict(df_pred_mins)

    # Predict Stat
    df_pred = setup_df_main(df_pred, tgt_stat)
    feature_cols = [col for col in df_pred.columns if col not in ['Date', tgt_stat]]
    df_pred = df_pred[df_pred.Date == now][feature_cols]
    df_pred[f"{tgt_stat}_proj"] = stat_model.predict(df_pred)

    df_pred['Team'] = team_encoder.inverse_transform(df_pred["Team"])
    df_lines['Team'] = team_encoder.inverse_transform(df_lines["Team"])
    df_pred['Opp'] = team_encoder.inverse_transform(df_pred["Opp"])
    df_pred['Player'] = player_encoder.inverse_transform(df_pred["Player"])
    df_pred['Pos'] = position_encoder.inverse_transform(df_pred["Pos"])

    df_lines = df_lines[df_lines.Date == now][['Team', 'Player', f'{tgt_stat}_line']]
    df_pred = df_pred.merge(df_lines, on=['Team', 'Player'])

    tds_picks = df_pred[~(df_pred[f'{tgt_stat}_line'].isnull())]\
                [['Team', 'Player', 'Pos', 'Opp', 'MP', 'MP_L5_avg', f'{tgt_stat}_line', f'{tgt_stat}_proj']]
    tds_picks['Diff'] = abs((df_pred[f'{tgt_stat}_line'] - df_pred[f'{tgt_stat}_proj']))
    tds_picks['Diff2'] = abs((df_pred['MP'] - df_pred['MP_L5_avg']))
    tds_picks = tds_picks.sort_values('Diff', ascending=False).drop(['Diff', 'Diff2'], axis=1)
    if tds_picks.shape[0] >= 50:
        print(tds_picks.shape[0], 'rows')
        for tm in tds_picks.Team.unique():
            display(tds_picks[tds_picks.Team == tm])
    else:
        display(tds_picks)
    tds_picks.insert(0, 'Date', pd.to_datetime(now))
    partition_save_df(tds_picks, f"../tables/2025/gmday_preds_{tgt_stat}.csv")

In [8]:
try: 
    generate_predictions('PTS')
except Exception as e:
    email('PTS', e)
    raise Exception(e)

108 rows

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
46  DEN  Julian Strawther  SG  PHI   6.241235   7.811632      14.5   4.724301
45  DEN     Jalen Pickett  SG  PHI  16.700579  14.431260      11.5   5.767581
39  DEN       Bruce Brown  SG  PHI  26.142641  27.701797      11.5   6.123775
62  DEN     Peyton Watson  SF  PHI  31.316772  31.551823      19.5  18.129097

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
2   UTA    Keyonte George  PG  POR  36.896103  35.615100      25.5  33.452896
72  UTA   Lauri Markkanen  PF  POR  36.989384  34.589227      26.5  31.054131
98  UTA      Jusuf Nurkic   C  POR  29.699053  28.514182      11.5  14.861581
99  UTA   Kyle Filipowski   C  POR  20.715231  22.267030       8.5   6.476026
68  UTA  Brice Sensabaugh  SF  POR  26.878595  24.868263      13.5  12.052938
69  UTA    Svi Mykhailiuk  SF  POR  22.310932  17.019413       6.5   7.942893
67  UTA        Ace Bailey  SF  POR  22.933239  26.334940      10.5   9.634433

    Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
58   CHO  Brandon Miller  SF  OKC  33.307953  33.373875      17.5  24.726725
61   CHO    Kon Knueppel  SF  OKC  31.668993  32.323220      16.5  21.608976
20   CHO   Collin Sexton  SG  OKC  24.191599  22.887364      11.5  15.669584
7    CHO     LaMelo Ball  PG  OKC  27.846375  27.981939      17.5  21.060789
86   CHO  Tidjane Salaun  PF  OKC  13.755603  17.601400       5.5   7.118731
102  CHO  Moussa Diabate   C  OKC  21.839170  25.456848       7.5   7.085272
76   CHO   Miles Bridges  PF  OKC  31.750681  33.134412      16.5  16.104570

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
22  PHO      Devin Booker  SG  HOU  35.019829  31.934376      22.5  27.971012
17  PHO    Jordan Goodwin  PG  HOU  25.834999  23.156002       7.5  11.697906
13  PHO  Collin Gillespie  PG  HOU  30.706455  30.785781      12.5  15.153936
64  PHO     Royce O'Neale  SF  HOU  30.605286  28.262976       7.5   9.514934
30  PHO     Grayson Allen  SG  HOU  29.749388  26.573450      11.5  12.656310
94  PHO     Mark Williams   C  HOU  22.069592  21.931373       9.5  10.127252
52  PHO     Dillon Brooks  SF  HOU  32.336998  30.477044      19.5  19.660652

    Team         Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
92   LAC    Ivica Zubac   C  GSW  25.694757  27.412809      13.5   8.241965
56   LAC  Kawhi Leonard  SF  GSW  37.472145  32.699030      29.5  34.423164
87   LAC  Nicolas Batum  PF  GSW  22.426548  23.836457       5.5   7.257246
10   LAC      Kris Dunn  PG  GSW  29.585882  26.802266       8.5   7.228419
1    LAC   James Harden  PG  GSW  35.978973  31.926002      24.5  25.319427
103  LAC    Brook Lopez   C  GSW  17.853556  21.828245       6.5   5.686225
81   LAC   John Collins  PF  GSW  27.192390  25.473193      12.5  12.147606

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
27   BOS     Derrick White  SG  CHI  36.625973  33.550336      18.5  23.394030
93   BOS     Neemias Queta   C  CHI  25.934898  26.211852       9.5  11.119569
33   BOS   Anfernee Simons  SG  CHI  25.467205  24.881457      12.5  13.724817
3    BOS  Payton Pritchard  PG  CHI  35.998154  32.934136      16.5  17.561209
47   BOS      Jaylen Brown  SF  CHI  32.657848  30.785369      30.5  31.311132
80   BOS        Sam Hauser  PF  CHI  20.114002  20.522773       8.5   9.288248
100  BOS        Luka Garza   C  CHI  18.408621  17.930550       9.5   9.310091

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
19,ATL,Nickeil Alexander-Walker,SG,TOR,35.880985,32.725002,19.5,24.243206
43,ATL,Luke Kennard,SG,TOR,20.631453,14.716489,5.5,9.218845
95,ATL,Onyeka Okongwu,C,TOR,33.770649,33.120787,14.5,17.472355
34,ATL,Dyson Daniels,SG,TOR,35.348324,34.108885,12.5,13.770514
55,ATL,Jalen Johnson,SF,TOR,36.208672,34.204898,23.5,24.455770
65,ATL,Zaccharie Risacher,SF,TOR,25.526894,22.901036,9.5,10.011970
90,ATL,Kristaps Porzingis,C,TOR,23.476122,25.439353,13.5,13.038463
15,ATL,Vit Krejci,PG,TOR,23.593624,24.523650,8.5,8.209888

   Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
21  PHI    VJ Edgecombe  SG  DEN  36.454578  34.575467      16.5  20.718872
6   PHI    Tyrese Maxey  PG  DEN  36.925957  37.588911      26.5  30.009235
88  PHI     Joel Embiid   C  DEN  31.237928  31.742856      25.5  26.161364
73  PHI     Paul George  PF  DEN  32.984409  32.133968      14.5  15.025325
25  PHI  Quentin Grimes  SG  DEN  31.346092  31.806382      11.5  11.677344

    Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
105  DET        Paul Reed   C  NYK  16.974255   9.114887      10.5   6.837248
60   DET   Ausar Thompson  SF  NYK  25.712358  26.231926      12.5   9.522322
40   DET    Javonte Green  SG  NYK  23.087799  19.570964       7.5  10.103817
35   DET       Jaden Ivey  SG  NYK  20.330400  18.551694       9.5   7.017783
59   DET  Duncan Robinson  SF  NYK  28.027769  27.461797      11.5   9.508891
5    DET  Cade Cunningham  PG  NYK  36.513008  34.477096      27.5  28.579468
101  DET   Isaiah Stewart   C  NYK  26.556293  22.896384      11.5  11.138524

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
31,NYK,Miles McBride,SG,DET,30.075775,25.511113,11.5,15.004276
4,NYK,Jalen Brunson,PG,DET,36.813141,37.428269,28.5,31.589191
91,NYK,Karl-Anthony Towns,C,DET,30.502844,28.217698,20.5,18.646454
78,NYK,OG Anunoby,PF,DET,36.797920,35.530936,16.5,18.040966
53,NYK,Mikal Bridges,SF,DET,37.852039,37.535502,15.5,14.223084
37,NYK,Jordan Clarkson,SG,DET,21.015263,23.064650,7.5,8.750652
107,NYK,Mitchell Robinson,C,DET,19.555365,20.473404,4.5,3.844342

   Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
79  CHI   Matas Buzelis  PF  BOS  29.828045  25.908082      15.5  18.986298
89  CHI  Nikola Vucevic   C  BOS  33.688972  29.405322      17.5  20.878626
42  CHI     Isaac Okoro  SG  BOS  24.792858  22.990084       8.5  11.371501
26  CHI      Coby White  SG  BOS  29.611567  30.021186      17.5  15.089015
12  CHI       Tre Jones  PG  BOS  27.960073  25.714564      11.5  12.700780
63  CHI   Kevin Huerter  SF  BOS  26.368277  23.328984      12.5  13.508038
32  CHI     Ayo Dosunmu  SG  BOS  26.417381  25.430724      12.5  12.922660

   Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
18  POR   Shaedon Sharpe  SG  UTA  31.658976  31.082844      23.5  20.043882
96  POR  Donovan Clingan   C  UTA  31.367371  27.911361      12.5  14.569665
75  POR   Toumani Camara  PF  UTA  35.643005  33.053339      14.5  13.384640
50  POR      Deni Avdija  SF  UTA  37.966267  36.198490      28.5  29.468771
70  POR      Kris Murray  SF  UTA  27.186098  22.706996       7.5   8.173236

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
24,OKC,Jalen Williams,SG,CHO,29.559408,27.640772,18.5,15.201186
41,OKC,Cason Wallace,SG,CHO,25.304790,25.211768,7.5,4.803167
0,OKC,Shai Gilgeous-Alexander,PG,CHO,31.681015,31.265526,30.5,28.052427
36,OKC,Aaron Wiggins,SG,CHO,18.923988,17.318374,8.5,7.234370
71,OKC,Chet Holmgren,PF,CHO,29.019413,26.696294,17.5,16.358593
38,OKC,Isaiah Joe,SG,CHO,17.083118,17.134686,7.5,6.391819
66,OKC,Luguentz Dort,SF,CHO,26.269302,25.361209,7.5,8.447471
29,OKC,Ajay Mitchell,SG,CHO,25.571222,24.403477,12.5,12.472924

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
49,TOR,Brandon Ingram,SF,ATL,35.461864,34.708745,23.5,26.092178
83,TOR,Collin Murray-Boyles,PF,ATL,22.872581,20.764794,8.5,6.330111
44,TOR,Ja'Kobe Walter,SG,ATL,20.135792,21.595350,5.5,7.249636
97,TOR,Sandro Mamukelashvili,C,ATL,26.044338,24.528357,11.5,9.758187
54,TOR,RJ Barrett,SF,ATL,28.111506,29.640584,18.5,16.767658
14,TOR,Jamal Shead,PG,ATL,20.278996,23.185718,6.5,7.719113
9,TOR,Immanuel Quickley,PG,ATL,33.027542,33.081171,15.5,16.256306
74,TOR,Scottie Barnes,PF,ATL,34.951157,35.041896,18.5,19.089703

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
106  HOU      Steven Adams   C  PHO  20.295818  15.195939       7.5   5.467275
82   HOU        Tari Eason  PF  PHO  26.628088  21.251640      14.5  13.436240
57   HOU     Amen Thompson  SF  PHO  34.673004  31.910590      18.5  19.451445
77   HOU  Jabari Smith Jr.  PF  PHO  35.526833  33.070185      15.5  15.993021
51   HOU      Kevin Durant  SF  PHO  36.772408  34.175319      27.5  27.078236
11   HOU     Reed Sheppard  PG  PHO  26.764111  27.329633      12.5  12.264944

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
48,GSW,Jimmy Butler,SF,LAC,33.628727,32.344146,19.5,17.856119
104,GSW,Al Horford,C,LAC,17.430218,14.873756,5.5,7.141241
85,GSW,Quinten Post,PF,LAC,19.702909,16.705645,7.5,9.029875
23,GSW,Brandin Podziemski,SG,LAC,26.858517,27.805034,10.5,11.747591
16,GSW,De'Anthony Melton,PG,LAC,22.218956,19.546916,8.5,9.499346
28,GSW,Moses Moody,SG,LAC,23.172237,23.489727,9.5,8.770645
84,GSW,Draymond Green,PF,LAC,23.706930,27.049598,7.5,6.971949
8,GSW,Stephen Curry,PG,LAC,35.162758,33.490132,27.5,27.930363

../tables/2025/gmday_preds_PTS.csv saved!

In [9]:
try: 
    generate_predictions('PRA')
except Exception as e:
    email('PRA', e)
    raise Exception(e)

82 rows

   Team         Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
45  DEN  Jalen Pickett  SG  PHI  16.700579  14.431260      21.5   8.718674
39  DEN    Bruce Brown  SG  PHI  26.142641  27.701797      21.5  13.573444
62  DEN  Peyton Watson  SF  PHI  31.316772  31.551823      27.5  20.849886

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
95,ATL,Onyeka Okongwu,C,TOR,33.770649,33.120787,25.5,33.366596
90,ATL,Kristaps Porzingis,C,TOR,23.476122,25.439353,19.5,23.619558
34,ATL,Dyson Daniels,SG,TOR,35.348324,34.108885,25.5,28.081457
55,ATL,Jalen Johnson,SF,TOR,36.208672,34.204898,42.5,44.871906
19,ATL,Nickeil Alexander-Walker,SG,TOR,35.880985,32.725002,26.5,27.552538

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
0,OKC,Shai Gilgeous-Alexander,PG,CHO,31.681015,31.265526,42.5,35.638138
24,OKC,Jalen Williams,SG,CHO,29.559408,27.640772,29.5,26.053207
38,OKC,Isaiah Joe,SG,CHO,17.083118,17.134686,11.5,8.180492
36,OKC,Aaron Wiggins,SG,CHO,18.923988,17.318374,14.5,11.201597
71,OKC,Chet Holmgren,PF,CHO,29.019413,26.696294,27.5,30.187181
41,OKC,Cason Wallace,SG,CHO,25.304790,25.211768,12.5,10.432105
29,OKC,Ajay Mitchell,SG,CHO,25.571222,24.403477,19.5,19.321995

   Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
61  CHO    Kon Knueppel  SF  OKC  31.668993  32.323220      24.5  31.335188
58  CHO  Brandon Miller  SF  OKC  33.307953  33.373875      25.5  30.484533
7   CHO     LaMelo Ball  PG  OKC  27.846375  27.981939      27.5  29.656612
76  CHO   Miles Bridges  PF  OKC  31.750681  33.134412      26.5  26.440790

   Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
2   UTA    Keyonte George  PG  POR  36.896103  35.615100      35.5  42.296497
98  UTA      Jusuf Nurkic   C  POR  29.699053  28.514182      25.5  30.354399
68  UTA  Brice Sensabaugh  SF  POR  26.878595  24.868263      20.5  19.368961
72  UTA   Lauri Markkanen  PF  POR  36.989384  34.589227      35.5  35.029839
67  UTA        Ace Bailey  SF  POR  22.933239  26.334940      15.5  15.144128

   Team         Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
56  LAC  Kawhi Leonard  SF  GSW  37.472145  32.699030      40.5  47.222229
1   LAC   James Harden  PG  GSW  35.978973  31.926002      37.5  33.055523
10  LAC      Kris Dunn  PG  GSW  29.585882  26.802266      15.5  13.756328
92  LAC    Ivica Zubac   C  GSW  25.694757  27.412809      26.5  26.122761

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
91,NYK,Karl-Anthony Towns,C,DET,30.502844,28.217698,35.5,41.937836
78,NYK,OG Anunoby,PF,DET,36.797920,35.530936,24.5,26.332893
4,NYK,Jalen Brunson,PG,DET,36.813141,37.428269,39.5,38.504829
53,NYK,Mikal Bridges,SF,DET,37.852039,37.535502,23.5,24.440929
107,NYK,Mitchell Robinson,C,DET,19.555365,20.473404,14.5,15.347992
31,NYK,Miles McBride,SG,DET,30.075775,25.511113,17.5,17.578297

   Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
13  PHO  Collin Gillespie  PG  HOU  30.706455  30.785781      20.5  26.719635
64  PHO     Royce O'Neale  SF  HOU  30.605286  28.262976      14.5  17.005175
22  PHO      Devin Booker  SG  HOU  35.019829  31.934376      32.5  33.620865
52  PHO     Dillon Brooks  SF  HOU  32.336998  30.477044      24.5  24.012819
30  PHO     Grayson Allen  SG  HOU  29.749388  26.573450      17.5  17.724234

   Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
60  DET   Ausar Thompson  SF  NYK  25.712358  26.231926      20.5  15.795513
5   DET  Cade Cunningham  PG  NYK  36.513008  34.477096      43.5  46.665146
59  DET  Duncan Robinson  SF  NYK  28.027769  27.461797      15.5  13.785435

   Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
6   PHI    Tyrese Maxey  PG  DEN  36.925957  37.588911      38.5  43.041580
25  PHI  Quentin Grimes  SG  DEN  31.346092  31.806382      19.5  17.760990
21  PHI    VJ Edgecombe  SG  DEN  36.454578  34.575467      25.5  27.231722
88  PHI     Joel Embiid   C  DEN  31.237928  31.742856      37.5  36.473373
73  PHI     Paul George  PF  DEN  32.984409  32.133968      24.5  24.032206

   Team          Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
63  CHI   Kevin Huerter  SF  BOS  26.368277  23.328984      18.5  22.997150
26  CHI      Coby White  SG  BOS  29.611567  30.021186      25.5  21.095955
32  CHI     Ayo Dosunmu  SG  BOS  26.417381  25.430724      19.5  21.740616
79  CHI   Matas Buzelis  PF  BOS  29.828045  25.908082      23.5  25.679201
42  CHI     Isaac Okoro  SG  BOS  24.792858  22.990084      13.5  15.384494
89  CHI  Nikola Vucevic   C  BOS  33.688972  29.405322      30.5  31.775349

   Team           Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
18  POR   Shaedon Sharpe  SG  UTA  31.658976  31.082844      31.5  28.169161
96  POR  Donovan Clingan   C  UTA  31.367371  27.911361      25.5  28.606390
75  POR   Toumani Camara  PF  UTA  35.643005  33.053339      22.5  20.458801
50  POR      Deni Avdija  SF  UTA  37.966267  36.198490      46.5  44.854073

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
104,GSW,Al Horford,C,LAC,17.430218,14.873756,10.5,13.330060
48,GSW,Jimmy Butler,SF,LAC,33.628727,32.344146,29.5,32.186569
23,GSW,Brandin Podziemski,SG,LAC,26.858517,27.805034,17.5,19.743492
28,GSW,Moses Moody,SG,LAC,23.172237,23.489727,13.5,12.169151
84,GSW,Draymond Green,PF,LAC,23.706930,27.049598,18.5,17.773136
85,GSW,Quinten Post,PF,LAC,19.702909,16.705645,12.5,11.874862
8,GSW,Stephen Curry,PG,LAC,35.162758,33.490132,35.5,35.222473

    Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
93   BOS     Neemias Queta   C  CHI  25.934898  26.211852      19.5  16.775778
47   BOS      Jaylen Brown  SF  CHI  32.657848  30.785369      43.5  41.035297
27   BOS     Derrick White  SG  CHI  36.625973  33.550336      29.5  30.505898
3    BOS  Payton Pritchard  PG  CHI  35.998154  32.934136      26.5  27.426088
100  BOS        Luka Garza   C  CHI  18.408621  17.930550      16.5  15.697836
33   BOS   Anfernee Simons  SG  CHI  25.467205  24.881457      17.5  18.190678

,Team,Player,Pos,Opp,MP,MP_L5_avg,PRA_line,PRA_proj
74,TOR,Scottie Barnes,PF,ATL,34.951157,35.041896,34.5,36.834740
83,TOR,Collin Murray-Boyles,PF,ATL,22.872581,20.764794,16.5,17.933786
9,TOR,Immanuel Quickley,PG,ATL,33.027542,33.081171,26.5,25.471703
54,TOR,RJ Barrett,SF,ATL,28.111506,29.640584,27.5,26.946821
14,TOR,Jamal Shead,PG,ATL,20.278996,23.185718,13.5,13.114629
49,TOR,Brandon Ingram,SF,ATL,35.461864,34.708745,33.5,33.224567
97,TOR,Sandro Mamukelashvili,C,ATL,26.044338,24.528357,19.5,19.546768

   Team            Player Pos  Opp         MP  MP_L5_avg  PRA_line   PRA_proj
11  HOU     Reed Sheppard  PG  PHO  26.764111  27.329633      19.5  18.176254
77  HOU  Jabari Smith Jr.  PF  PHO  35.526833  33.070185      24.5  25.374315
51  HOU      Kevin Durant  SF  PHO  36.772408  34.175319      38.5  38.080734
82  HOU        Tari Eason  PF  PHO  26.628088  21.251640      22.5  22.640099
57  HOU     Amen Thompson  SF  PHO  34.673004  31.910590      32.5  32.475929

../tables/2025/gmday_preds_PRA.csv saved!