# To do:

 - Both
     - Figure out how to signal injuries
 - Mins
     - Create foul trouble signal feature
     - Tweak threshold for Early_Stop and MP_Increase
     - All L_avg functions are giving data when it should be null for first N games of the season

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import duckdb
import warnings
import os

import xgboost as xgb
from xgboost import XGBRegressor
from scipy.stats import randint, uniform

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import joblib
import warnings
from datetime import datetime, timedelta

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']
con = duckdb.connect(database=":memory:")

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

tgt_stat = "PRA"
print('Target Stat:', tgt_stat)

Today's date: 2026-01-06
Target Stat: PRA

In [2]:
%run ./common_utils.ipynb

# ML Functions

In [3]:
def feature_importance(model, all_features):
    # Get gain importance
    importance = model.get_score(importance_type='gain')
    
    # Fill in 0 for missing features
    df_importance = pd.DataFrame({
        'feature': all_features,
        'importance': [importance.get(f, 0) for f in all_features]
    }).sort_values(by='importance', ascending=False).reset_index(drop=True)
    
    df_importance['pct'] = df_importance.importance.cumsum() / df_importance.importance.sum()
    if df_importance.shape[0] >= 50:
        with pd.option_context('display.max_rows', None):
            display(df_importance)
    else:
        display(df_importance)
    
    xgb.plot_importance(model)
    plt.show()

In [4]:
def create_baseline_model(df, pred_col, DFS):
    
    train_df, val_df, test_df = DFS

    if pred_col == 'MP':
        print('Minutes Model')
        feature_cols = [
            'MP_lst_gm',
            'MP_last_5_avg',
            'MP_last_10_avg',
            'starter', 'bench', 'reserve'
        ]
    else:
        print(f'{pred_col} Stats Model')
        feature_cols = [
            'MP_lst_gm',
            'MP_last_5_avg',
            'MP_last_10_avg',
            f'{pred_col}_last_3_avg', f'{pred_col}_last_5_avg', f'{pred_col}_last_10_avg',
            f'Def_{pred_col}', f'Def_L5_{pred_col}'
        ]
    
    print('Train:', len(train_df), '/ Validation:', len(val_df), '/ Test:', len(test_df))
    
    X_train, y_train = train_df[feature_cols], train_df[pred_col]
    X_val,   y_val   = val_df[feature_cols],   val_df[pred_col]
    X_test,  y_test  = test_df[feature_cols],  test_df[pred_col]

    # Convert to DMatrix (XGBoost internal format)
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dval   = xgb.DMatrix(X_val, label=y_val)
    dtest  = xgb.DMatrix(X_test, label=y_test)

    params = {
        "objective": "reg:squarederror",
        "max_depth": 5,
        "learning_rate": 0.05,
        "subsample": 0.8,
        "colsample_bytree": 0.8,
        "seed": 42
    }

    # Train using native XGBoost API with early stopping
    evals = [(dtrain, "train"), (dval, "val")]
    bst = xgb.train(
        params,
        dtrain,
        num_boost_round=500,
        evals=evals,
        early_stopping_rounds=50,
        verbose_eval=False
    )

    # Predict on test set
    preds = bst.predict(dtest)

    rmse = np.sqrt(mean_squared_error(y_test, preds))
    mae = mean_absolute_error(y_test, preds)
    r2 = r2_score(y_test, preds)

    print("RMSE:", rmse)
    print("MAE:", mae)
    print("R²:", r2)
    
    return bst

In [5]:
def hyperparam_tuning(DFS, pred_col, n_iter=20, early_stopping_rounds=50):
    """
    Hyperparameter tuning using native XGBoost API and DMatrix,
    with early stopping support (compatible with XGBoost 3.1.2)
    """

    train_df, val_df, test_df = DFS
    feature_cols = [col for col in train_df.columns if col not in ['Date', pred_col]]
    X_train, y_train = train_df[feature_cols], train_df[pred_col]
    X_val,   y_val   = val_df[feature_cols],   val_df[pred_col]
    X_test,  y_test  = test_df[feature_cols],  test_df[pred_col]

    # Convert datasets to DMatrix
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dval   = xgb.DMatrix(X_val, label=y_val)
    dtest  = xgb.DMatrix(X_test, label=y_test)

    # Hyperparameter search space
    param_dist = {
        "n_estimators": randint(300, 1500),
        "learning_rate": uniform(0.01, 0.05),
        "max_depth": randint(3, 6),
        "min_child_weight": randint(1, 8),
        "subsample": uniform(0.7, 0.3),
        "colsample_bytree": uniform(0.7, 0.3),
        "gamma": uniform(0, 2),
        "reg_lambda": uniform(0, 5),
        "reg_alpha": uniform(0, 2)
    }

    # Sample n_iter random parameter combinations
    param_list = []
    for _ in range(n_iter):
        sample = {k: (v.rvs() if hasattr(v, "rvs") else v) for k, v in param_dist.items()}
        sample['n_estimators'] = int(sample['n_estimators'])
        sample['max_depth'] = int(sample['max_depth'])
        sample['min_child_weight'] = int(sample['min_child_weight'])
        param_list.append(sample)

    best_mae = float('inf')
    best_params = None
    best_bst = None

    # Manual hyperparameter search
    for i, params in enumerate(param_list):
        print(f"\nTrial {i+1}/{n_iter}: {params}")
        num_boost_round = params.pop('n_estimators')
        params.update({
            "objective": "reg:squarederror",
            "tree_method": "hist",
            "device": "cuda",
            "seed": 42
        })
        evals = [(dtrain, 'train'), (dval, 'val')]
        bst = xgb.train(
            params,
            dtrain,
            num_boost_round=num_boost_round,
            evals=evals,
            early_stopping_rounds=early_stopping_rounds,
            verbose_eval=False
        )
        # Predict on validation set to compute MAE
        val_preds = bst.predict(dval, iteration_range=(0, bst.best_iteration))
        mae = mean_absolute_error(y_val, val_preds)
        print(f"Validation MAE: {mae:.4f}")
        if mae < best_mae:
            best_mae = mae
            best_params = params.copy()
            best_bst = bst

    print("\nBest validation MAE:", best_mae)
    print("Best parameters:", best_params)

    # Predict on test set using best model
    preds = best_bst.predict(dtest, iteration_range=(0, best_bst.best_iteration))
    test_df[pred_col] = y_test
    test_df[f'{pred_col}_preds'] = preds
    test_df['Team'] = team_encoder.inverse_transform(test_df["Team"])
    test_df['Opp'] = team_encoder.inverse_transform(test_df["Opp"])
    test_df['Player'] = player_encoder.inverse_transform(test_df["Player"])
    test_df['Pos'] = position_encoder.inverse_transform(test_df["Pos"])
    analyze_df = test_df[['Date', 'Team', 'Player', 'Pos', 'Opp', pred_col, f'{pred_col}_preds']]
    print("\nTest Metrics:")
    print("RMSE:", np.sqrt(mean_squared_error(y_test, preds)))
    print("MAE:", mean_absolute_error(y_test, preds))
    print("R²:", r2_score(y_test, preds))

    return best_bst, preds, y_test, analyze_df

### Create Base df

In [81]:
df = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
for i in [2021, 2022, 2023, 2024, 2025]:
    df_actuals = pd.read_csv(f"../tables/{i}/parlay_stats.csv")
    df_actuals['Season'] = i
    df = pd.concat([df, df_actuals])

    df_schd = pd.read_csv(f"../tables/{i}/nba_schedule.csv")
    df_schd['Season'] = i
    df2 = pd.concat([df2, df_schd])
    
    df_gms = pd.read_csv(f"../tables/{i}/season_gamelogs.csv")
    df_gms['Season'] = i
    df3 = pd.concat([df3, df_gms])
    
    df_inj = pd.read_csv(f"../tables/{i}/injuries.csv")
    df_inj['Season'] = i
    df4 = pd.concat([df4, df_inj])

df['Date'] = pd.to_datetime(df.Date)
df2['Date'] = pd.to_datetime(df2.Date)
df3['Date'] = pd.to_datetime(df3.Date)
df3 = df3[~df3[['Date', 'Team', 'Player']].duplicated(keep='last')]
df4['Date'] = pd.to_datetime(df4.Date)

df3 = df3.rename(columns={"3PM": "TPM", "3PA": "TPA", "3P%": "TP%", "TRB": "REB"}).drop(['Pos', 'Opp'], axis=1)
df3['PR'] = df3.PTS + df3.REB 
df3['PA'] = df3.PTS + df3.AST
df3['RA'] = df3.REB + df3.AST
df3['PRA'] = df3.PTS + df3.REB + df3.AST
df3['STL_BLK'] = df3.STL + df3.BLK
df = df.merge(df3, on=['Season', 'Date', 'Team', 'Player'], how='left')

df_mtch = df2[['Season', 'Date', 'AwayABV', 'HomeABV', 'AwayPTS', 'HomePTS', 'AwayB2B', 'HomeB2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
df_mtch['Team_type'] = 'Away'
df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm', 'Team_type']]
df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
df_mtch2['Team_type'] = 'Home'
df_mtch = pd.concat([df_mtch, df_mtch2])
df_mtch = df_mtch[['Season', 'Date', 'Team', 'Team_type', 'AwayPTS', 'HomePTS', 'is_OT', 'cup_gm', 'pstszn_gm']]
df_mtch = df_mtch.sort_values(["Team", "Date"])
df_mtch['team_game_num'] = df_mtch.groupby(["Team", "Season"]).cumcount() + 1
df_mtch['Spread'] = np.where(df_mtch.Team_type == 'Home', df_mtch.HomePTS - df_mtch.AwayPTS, df_mtch.AwayPTS - df_mtch.HomePTS)
df_mtch['Total'] = df_mtch.AwayPTS + df_mtch.HomePTS
df_mtch['is_Win'] = np.where(df_mtch.Spread > 0, 1, 0)
df_mtch['Szn_Wins'] = df_mtch.groupby(['Season', 'Team'])['is_Win'].cumsum()
df = df.drop(['Season', 'Team_type'], axis=1).merge(df_mtch, on=['Date', 'Team'])

df = df.merge(df4[['Date', 'Team', 'Player', 'Status']], on=['Date', 'Team', 'Player'], how='left')
df['Status'] = np.where((df.Active == 1) & (df.Status.isnull()), 'Available', df.Status)
df['Status'] = np.where((df.Active == 0), 'Out', df.Status)
df['Status'] = np.where((df.Status == 'Out') & (df.Active != 0), 'Available', df.Status)

team_encoder = LabelEncoder()
player_encoder = LabelEncoder()
team_type_encoder = LabelEncoder()
position_encoder = LabelEncoder()
status_encoder = LabelEncoder()

# Encode string cols
team_encoder.fit(pd.concat([df["Team"], df["Opp"]], axis=0))
df["Team"] = team_encoder.transform(df["Team"])
df["Opp"] = team_encoder.transform(df["Opp"])
df["Player_name"] = df.Player
df["Player"] = player_encoder.fit_transform(df["Player"])
df["Pos"] = position_encoder.fit_transform(df["Pos"])
df['Team_type'] = team_type_encoder.fit_transform(df['Team_type'])
df["Status"] = status_encoder.fit_transform(df["Status"])
df_pred = df.copy()
df = df[(df.Active == 1) & (df.MP > 0)].sort_values(['Season', 'Date', 'Team', 'Player']).reset_index(drop=True)
print('base df created', datetime.now())

base df created 2026-01-06 18:56:56.379882

In [7]:
# df3_temp = df3.copy().drop('Season', axis=1)
# df4_temp = df4.copy().drop('Season', axis=1)
# # display(df3_temp[(df3_temp.Date == '2025-12-25') & (df3_temp.game_id == '20251225_CLE_NYK')])
# df_temp = df4_temp.merge(df3_temp, on=['Date', 'Team', 'Player'], how='outer')
# df_temp['game_id'] = np.where(df_temp.game_id.isnull(), )

# df_temp = df_temp[(df_temp.Date == '2025-12-25') & (df_temp.Team.isin(['CLE', 'NYK']))]
# display(df_temp)

# Minutes Projection Model

In [411]:
def setup_df_mins(con, df):
    
    df = df[['Season', 'Date', 'Team', 'Team_type', 'Opp', 'Player', 'Pos', 'B2B', 'MP',
             'Spread', 'team_game_num', 'pstszn_gm', 'is_OT']]
    
    for col in ['MP']:
        for N in [1, 3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f'prev_team_mins_pct_L{N}'] = df[f'{col}_L{N}_avg'] / 240

    games_last_7_days = df.sort_values(['Player', 'Season', 'Date']).groupby(['Player', 'Season']).rolling('7D', on='Date', closed='left')['MP'].count().reset_index().rename(columns={"MP": "gms_L7_days"})
    games_last_7_days = games_last_7_days.drop_duplicates(
        subset=['Player', 'Season', 'Date']
    )
    df = df.merge(games_last_7_days, on=['Player', 'Season', 'Date'])
    df['gms_L7_days'] = df.gms_L7_days.fillna(0).astype(int)
        
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
      
    df['missed_games'] = (
        df.groupby(['Player', 'Team', 'Season'])['team_game_num']      
          .diff()
          .sub(1)
          .fillna(0)
          .astype(int)
    )
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 
    
    # Tell model games exist after players injuries/susp
    team_games = df[['Season', 'Team', 'Date', 'team_game_num']].drop_duplicates()
    players = df[['Season','Player','Team']].drop_duplicates()
    fabricated = (players.sort_values('Season').groupby('Player', as_index=False).last())
    fabricated['Season'] = fabricated['Season'] + 1
    players = pd.concat([players, fabricated], ignore_index=True).drop_duplicates(['Season','Player','Team'])
    expanded = team_games.merge(players, on=['Season', 'Team'], how='left')
    expanded = expanded.merge(df[['Season', 'Player', 'Date', 'MP']], on=['Season', 'Player', 'Date'], how='left')
    expanded['player_played'] = expanded['MP'].notna().astype(int)
    expanded['team_played_no_player'] = ((expanded['player_played'] == 0)).astype(int)
    expanded['tm_plays_after'] = (expanded.groupby(['Player'])['team_played_no_player'].shift(-1))
    expanded['gms_after'] = 0
    expanded['gms_after'] = np.where((expanded.player_played == 1) & (expanded.tm_plays_after == 1), 1, expanded.gms_after)
    df = df.merge(expanded[['Date', 'Team', 'Player', 'gms_after']], on=['Date', 'Team', 'Player'])
    
    df['MP_change_pct_L10'] = (df['MP_L1_avg'] - df['MP_L10_avg']) / df['MP_L10_avg']
    df['Early_stop'] = (
        (df['MP_L1_avg'] < 5) |  
        ((df.role == 1) & (df.MP_change_pct_L10 <= -0.35)) | 
        ((df.role == 2) & (df.MP_change_pct_L10 <= -0.45)) | 
        ((df.role == 3) & (df.MP_change_pct_L10 <= -0.55))
    ).astype(int)
    df['Early_stop'] = df.groupby('Player')['Early_stop'].shift(-1).fillna(0).astype(int)
    Early_stop_conds = (
                        ((((df['MP'] - df['MP_L10_avg']) / df['MP_L10_avg']) <= -0.25) & (df.gms_after == 1)) | 
                        ((df.MP < 8) & (df.role != 3))
                       )
    df['Early_stop'] = np.where(Early_stop_conds, 1, df.Early_stop)
    
    df['MP_increase'] = (
        ((df.role == 1) & (df.MP_change_pct_L10 >= 0.15)) |
        ((df.role == 2) & (df.MP_change_pct_L10 >= 0.10)) |
        ((df.role == 3) & (df.MP_change_pct_L10 >= 0.05))
    ).astype(int)
    df['MP_increase'] = df.groupby('Player')['MP_increase'].shift(-1).fillna(0).astype(int)
    MP_Inc_conds = (
                    ((((df['MP'] - df['MP_L10_avg']) / df['MP_L10_avg']) >= 0.15))
                   )
    df['MP_increase'] = np.where(MP_Inc_conds, 1, df.MP_increase)
    df['MP_increase_extreme'] = (
            ((df.MP > df.MP_L5_avg * 3))
    ).astype(int)
    
    df['Injured'] = (
            ((df.MP < df.MP_L5_avg * 0.3) & (df.role != 3) & (df.recent_role_L1 != 3) & (df.recent_role_L3 != 3) & (df.recent_role_L5 != 3) & (df.gms_after > 0))
    ).astype(int)
    df['return_game'] = ((df.groupby('Player')['Injured'].shift(1) == 1) & (df.missed_games > 0)).astype(int)
    df['games_since_return'] = (df.groupby('Player')['return_game'].cumsum())
    df['games_since_return'] = (df.groupby(['Player', 'games_since_return']).cumcount())
    df['ramp_phase'] = 0
    df.loc[df.return_game == 1, 'ramp_phase'] = 1
    df.loc[df.games_since_return.isin([1, 2, 3]), 'ramp_phase'] = 2
    df.loc[df.games_since_return >= 4, 'ramp_phase'] = 3
    df['starter_return'] = ((df.return_game == 1) & (df.role == 1)).astype(int)
    df['bench_return']   = ((df.return_game == 1) & (df.role == 2)).astype(int)
    
    # Location based features
    df["DaysLstGm"] = (df.groupby("Player")["Date"].diff().dt.days).fillna(0).astype(int)
    df['Location'] = df.apply(lambda r: r['Team'] if r['Team_type'] == 'Home' else r['Opp'], axis=1)
    df['PrevLocation'] = df.groupby('Player')['Location'].shift(1)
    df['same_arena'] = (df['PrevLocation'] == df['Location']).astype(int)

    df = df.drop(['Season', 'Team_type', 'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter', 
                  'PrevLocation', 'Location', 'gms_after', 'return_game', 'MP_change_pct_L10'], axis=1)    
    
    return df

In [417]:
df_mins = df.copy()
df_mins = setup_df_mins(con, df_mins)
display(df_mins)

n = len(df_mins)
train_end = int(0.8 * n)
val_end   = int(0.9 * n)
mins_train_df = df_mins.iloc[:train_end]
mins_val_df   = df_mins.iloc[train_end:val_end]
mins_test_df  = df_mins.iloc[val_end:]
mins_DFS = (mins_train_df, mins_val_df, mins_test_df)

# mins_model = create_baseline_model(df_mins, "MP", mins_DFS)
mins_model, mins_preds, y_test_mins, analyze_df_mins = hyperparam_tuning(mins_DFS, "MP", n_iter=1)
# feature_importance(mins_model, df_mins.columns.tolist())

# mins_model.save_model("../ML_models/mins_model.json")
# print('Saved minutes model!')

,Date,Team,Opp,Player,Pos,B2B,MP,Spread,team_game_num,pstszn_gm,is_OT,MP_L1_avg,prev_team_mins_pct_L1,MP_L3_avg,prev_team_mins_pct_L3,MP_L5_avg,prev_team_mins_pct_L5,MP_L10_avg,prev_team_mins_pct_L10,gms_L7_days,role,recent_role_L1,recent_role_L3,recent_role_L5,missed_games,game_spread_type,Early_stop,MP_increase,MP_increase_extreme,Injured,games_since_return,ramp_phase,starter_return,bench_return,DaysLstGm,same_arena
0,2021-10-19,2,16,71,0,0,22.98,-23.0,1,0,0,2.33,0.009708,5.410000,0.022542,3.964,0.016517,6.374,0.026558,0,2,3,3,3,0,1,0,1,1,0,0,0,0,0,0,0
1,2021-10-19,2,16,96,3,0,3.75,-23.0,1,0,0,14.85,0.061875,15.760000,0.065667,21.184,0.088267,22.006,0.091692,0,2,2,2,2,0,1,1,0,0,1,0,0,0,0,0,0
2,2021-10-19,2,16,112,4,0,3.75,-23.0,1,0,0,34.03,0.141792,23.060000,0.096083,24.296,0.101233,28.092,0.117050,0,2,1,2,1,0,1,1,0,0,1,0,0,0,0,0,0
3,2021-10-19,2,16,211,3,0,3.75,-23.0,1,0,0,12.33,0.051375,11.650000,0.048542,11.650,0.048542,11.650,0.048542,0,2,2,2,3,0,1,1,0,0,0,0,0,0,0,0,0
4,2021-10-19,2,16,406,2,0,30.63,-23.0,1,0,0,4.33,0.018042,10.793333,0.044972,9.214,0.038392,9.214,0.038392,0,1,3,2,2,0,1,0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107587,2026-01-05,28,24,581,0,0,19.97,-20.0,35,0,0,18.67,0.077792,20.423333,0.085097,18.754,0.078142,22.714,0.094642,3,2,2,2,2,0,1,0,0,0,0,105,3,0,0,2,0
107588,2026-01-05,28,24,595,1,0,31.65,-20.0,35,0,0,40.75,0.169792,37.790000,0.157458,37.570,0.156542,36.153,0.150638,2,1,1,1,1,0,1,0,0,0,0,229,3,0,0,2,0
107589,2026-01-05,28,24,843,3,0,20.02,-20.0,35,0,0,27.88,0.116167,21.856667,0.091069,21.814,0.090892,22.832,0.095133,2,2,1,2,2,0,1,0,0,0,0,185,3,0,0,2,0
107590,2026-01-05,28,24,851,1,0,18.52,-20.0,35,0,0,12.38,0.051583,15.463333,0.064431,13.728,0.057200,15.974,0.066558,3,2,2,2,2,0,1,0,1,0,0,12,3,0,0,2,0
107591,2026-01-05,28,24,933,2,0,13.18,-20.0,35,0,0,16.87,0.070292,22.646667,0.094361,19.798,0.082492,16.659,0.069413,3,2,2,2,2,0,1,0,0,0,0,30,3,0,0,2,0

Trial 1/1: {'n_estimators': 1180, 'learning_rate': np.float64(0.0260865314157303), 'max_depth': 4, 'min_child_weight': 5, 'subsample': np.float64(0.8695497553676843), 'colsample_bytree': np.float64(0.8566647627975597), 'gamma': np.float64(0.4403517621383546), 'reg_lambda': np.float64(2.586673089016116), 'reg_alpha': np.float64(1.550230744083322)}
Validation MAE: 2.6646

Best validation MAE: 2.6646250284483735
Best parameters: {'learning_rate': np.float64(0.0260865314157303), 'max_depth': 4, 'min_child_weight': 5, 'subsample': np.float64(0.8695497553676843), 'colsample_bytree': np.float64(0.8566647627975597), 'gamma': np.float64(0.4403517621383546), 'reg_lambda': np.float64(2.586673089016116), 'reg_alpha': np.float64(1.550230744083322), 'objective': 'reg:squarederror', 'tree_method': 'hist', 'device': 'cuda', 'seed': 42}

Test Metrics:
RMSE: 3.2670099375517516
MAE: 2.564360348697932
R²: 0.8971071500087117

In [385]:
df[df.Player_name == 'Tyrese Haliburton'].Player.unique().tolist()[0]

913

In [399]:
# df_mins[(df_mins.Player == 913)].tail(5)
# display(analyze_df_mins[analyze_df_mins.Player == 'Tyrese Haliburton'])

In [414]:
analyze_df_mins = mins_test_df.drop(['MP', 'MP_preds'], axis=1)\
                .merge(analyze_df_mins[['Date', 'Team', 'Player', 'MP', 'MP_preds']], on=['Date', 'Team', 'Player'])
analyze_df_mins['Diff'] = analyze_df_mins['MP'] - analyze_df_mins[f'MP_preds']
analyze_df_mins['Diff2'] = abs(analyze_df_mins['Diff'])
analyze_df_mins.sort_values('Diff', ascending=False).drop('Diff2', axis=1).head(15)
# display(analyze_df_mins)

# plt.figure(figsize=(10,6))
# hist_col = 'Diff'
# plt.hist(analyze_df_mins[hist_col], bins=30, color='skyblue', edgecolor='black')
# plt.title(f'Histogram of {hist_col}')
# plt.xlabel(hist_col)
# plt.ylabel('Frequency')
# plt.grid(axis='y', alpha=0.75)
# plt.show()

,Date,Team,Opp,Player,Pos,B2B,Spread,team_game_num,pstszn_gm,is_OT,MP_L1_avg,prev_team_mins_pct_L1,MP_L3_avg,prev_team_mins_pct_L3,MP_L5_avg,prev_team_mins_pct_L5,MP_L10_avg,prev_team_mins_pct_L10,gms_L7_days,role,recent_role_L1,recent_role_L3,recent_role_L5,missed_games,game_spread_type,Early_stop,MP_increase,MP_increase_extreme,Injured,games_since_return,ramp_phase,starter_return,bench_return,DaysLstGm,same_arena,MP,MP_preds,Diff
333,2025-10-22,SAC,PHO,Nique Clifford,SG,0,-4.0,1,0,0,36.35,0.151458,35.170000,0.146542,33.808000,0.140867,31.678000,0.131992,0,2,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,23.68,7.060756,16.619244
305,2025-10-22,PHI,BOS,VJ Edgecombe,SG,0,1.0,1,0,0,2.22,0.009250,3.140000,0.013083,2.790000,0.011625,2.857143,0.011905,0,1,3,3,3,0,1,0,1,1,0,0,0,0,0,0,0,42.20,25.764721,16.435279
8171,2025-12-19,MIA,BOS,Kasparas Jakucionis,PG,1,-13.0,28,0,0,7.63,0.031792,4.265000,0.017771,4.265000,0.017771,4.265000,0.017771,1,2,3,3,3,0,1,0,1,1,0,1,2,0,0,1,0,35.60,19.797718,15.802282
10651,2026-01-05,DEN,PHI,Jalen Pickett,SG,1,1.0,36,0,1,14.12,0.058833,20.293333,0.084556,15.486000,0.064525,17.614000,0.073392,4,2,2,2,2,0,1,0,1,0,0,5,3,0,0,1,0,41.88,26.629930,15.250070
3527,2025-11-12,DET,CHI,Paul Reed,C,0,11.0,12,0,0,13.48,0.056167,13.076667,0.054486,10.294000,0.042892,9.476667,0.039486,4,3,2,2,2,0,2,0,1,0,0,193,3,0,0,2,0,30.75,15.779800,14.970200
2431,2025-11-05,GSW,SAC,Will Richard,SG,1,-5.0,9,0,0,11.75,0.048958,9.170000,0.038208,13.766000,0.057358,13.735000,0.057229,1,2,2,2,2,2,1,0,1,0,0,6,3,0,0,6,0,34.50,20.208643,14.291357
2548,2025-11-05,SAC,GSW,Drew Eubanks,C,1,5.0,8,0,0,11.13,0.046375,12.893333,0.053722,11.032000,0.045967,12.632857,0.052637,3,2,2,2,2,0,1,0,1,0,0,263,3,0,0,2,0,32.17,18.708355,13.461645
3780,2025-11-14,CHO,MIL,Moussa Diabate,C,0,-13.0,12,0,1,23.17,0.096542,24.480000,0.102000,22.712000,0.094633,21.137000,0.088071,3,2,2,2,2,0,1,0,1,0,0,115,3,0,0,2,1,43.28,29.870686,13.409314
1398,2025-10-29,LAL,MIN,Dalton Knecht,SF,0,1.0,5,0,0,24.70,0.102917,14.950000,0.062292,14.950000,0.062292,14.950000,0.062292,3,2,2,2,3,0,1,0,1,0,0,83,3,0,0,2,0,36.33,23.126961,13.203039
1350,2025-10-29,DAL,IND,Dwight Powell,C,0,2.0,5,0,0,2.18,0.009083,3.443333,0.014347,3.443333,0.014347,3.443333,0.014347,3,2,3,3,3,1,1,0,1,1,0,70,3,0,0,3,0,29.38,16.469042,12.910958
10654,2026-01-05,DEN,PHI,Zeke Nnaji,PF,1,1.0,36,0,1,17.82,0.074250,17.066667,0.071111,11.922000,0.049675,10.175000,0.042396,3,3,2,2,2,0,1,0,1,0,0,150,3,0,0,1,0,31.97,19.102798,12.867202
7888,2025-12-17,MIN,MEM,Bones Hyland,PG,0,-6.0,27,0,0,35.68,0.148667,18.703333,0.077931,13.442000,0.056008,9.366000,0.039025,2,2,1,3,3,0,1,0,1,0,0,154,3,0,0,3,0,34.13,21.567631,12.562369
5039,2025-11-22,WAS,CHI,Corey Kispert,SF,1,-1.0,16,0,0,18.83,0.078458,14.906667,0.062111,17.232000,0.071800,17.316000,0.072150,3,2,2,2,2,0,1,0,1,0,0,267,3,0,0,1,0,36.85,24.295023,12.554977
5132,2025-11-23,ORL,BOS,Jett Howard,SF,1,-9.0,18,0,0,7.58,0.031583,14.116667,0.058819,11.372000,0.047383,9.353000,0.038971,3,3,3,2,2,0,1,0,1,0,0,35,3,0,0,1,0,29.08,16.676455,12.403545
7426,2025-12-11,SAC,DEN,Keon Ellis,SG,0,-31.0,25,0,0,15.13,0.063042,14.696667,0.061236,11.552000,0.048133,12.755000,0.053146,2,2,2,2,2,0,1,0,1,0,0,135,3,0,0,3,0,31.37,19.154385,12.215615

In [10]:
rmse = np.sqrt(mean_squared_error(y_test_mins, mins_preds)) # splits[5] = y_test
mae = mean_absolute_error(y_test_mins, mins_preds)
print('RMSE:', rmse)

df_yesterday = pd.read_csv(f'../tables/2025/gmday_preds_{tgt_stat}.csv')
df_yesterday['Date'] = pd.to_datetime(df_yesterday.Date)
df_yesterday = df_yesterday[(df_yesterday.Date == (datetime.strptime(now, "%Y-%m-%d") - timedelta(days=1)).strftime("%Y-%m-%d"))]\
                .rename(columns={"MP": "MP_proj"})

df_gms = pd.read_csv(f"../tables/2025/season_gamelogs.csv")
df_gms['Date'] = pd.to_datetime(df_gms.Date)

df_yesterday = df_yesterday.merge(df_gms[['Date', 'Team', 'Player', 'MP']], on=['Date', 'Team', 'Player'])
df_yesterday = df_yesterday[['Date', 'Team', 'Player', 'Pos', 'Opp', 'MP_proj', 'MP', 'MP_L5_avg']][df_yesterday.MP > 0]

df_yesterday['Diff'] = abs(df_yesterday['MP_proj'] - df_yesterday['MP'])
df_yesterday['InRMSE_Range'] = np.where(df_yesterday['Diff'] <= rmse, 1, 0)

print("\nYesterday's Results:")
print("Total Accuracy (InRMSE_Range):", ((df_yesterday.InRMSE_Range == 1).sum() / df_yesterday.shape[0]))
print((df_yesterday.InRMSE_Range == 1).sum(), '/', df_yesterday.shape[0])

df_yesterday = df_yesterday.drop(['Diff'], axis=1)

if df_yesterday.shape[0] >= 50:
    for tm in df_yesterday.Team.unique():
        display(df_yesterday[df_yesterday.Team == tm])
else:
    display(df_yesterday)

RMSE: 3.686108357819342

Yesterday's Results:
Total Accuracy (InRMSE_Range): 0.55
44 / 80

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
0,2026-01-05,DEN,Jalen Pickett,SG,PHI,12.365000,41.88,14.703943,0
3,2026-01-05,DEN,Bruce Brown,SG,PHI,24.777317,39.35,26.453680,0
20,2026-01-05,DEN,Peyton Watson,SF,PHI,30.415960,44.22,35.411565,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
1,2026-01-05,CHI,Coby White,SG,BOS,23.570511,25.38,25.730948,1
28,2026-01-05,CHI,Nikola Vucevic,C,BOS,32.138180,36.35,28.086426,0
39,2026-01-05,CHI,Ayo Dosunmu,SG,BOS,22.001638,27.80,26.488601,0
57,2026-01-05,CHI,Isaac Okoro,SG,BOS,22.057320,24.87,25.541365,1
63,2026-01-05,CHI,Matas Buzelis,PF,BOS,26.319359,30.97,26.904252,0
76,2026-01-05,CHI,Kevin Huerter,SF,BOS,22.609478,19.65,23.925695,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
2,2026-01-05,OKC,Shai Gilgeous-Alexander,PG,CHO,32.054302,29.57,31.283890,1
9,2026-01-05,OKC,Aaron Wiggins,SG,CHO,13.929027,24.70,19.823744,0
10,2026-01-05,OKC,Jalen Williams,SG,CHO,28.715004,28.02,27.907798,1
16,2026-01-05,OKC,Isaiah Joe,SG,CHO,12.535180,22.12,14.932732,0
27,2026-01-05,OKC,Cason Wallace,SG,CHO,23.237501,24.95,24.073434,1
42,2026-01-05,OKC,Ajay Mitchell,SG,CHO,22.837864,24.27,24.116787,1
65,2026-01-05,OKC,Chet Holmgren,PF,CHO,27.904547,25.93,25.976065,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
4,2026-01-05,LAC,Ivica Zubac,C,GSW,24.060238,33.15,24.589258,0
21,2026-01-05,LAC,Kawhi Leonard,SF,GSW,37.327187,38.12,33.033447,1
69,2026-01-05,LAC,Kris Dunn,PG,GSW,27.803558,33.18,27.733977,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
5,2026-01-05,NYK,Karl-Anthony Towns,C,DET,27.732607,22.50,24.387724,0
24,2026-01-05,NYK,OG Anunoby,PF,DET,36.536942,28.68,34.760203,0
50,2026-01-05,NYK,Mitchell Robinson,C,DET,17.445724,24.85,19.119030,0
59,2026-01-05,NYK,Mikal Bridges,SF,DET,37.689590,25.68,37.334460,0
67,2026-01-05,NYK,Jalen Brunson,PG,DET,36.499203,30.50,37.257481,0
68,2026-01-05,NYK,Miles McBride,SG,DET,28.488529,24.87,25.915300,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
6,2026-01-05,CHO,Kon Knueppel,SF,OKC,31.403574,27.92,28.871992,1
12,2026-01-05,CHO,Brandon Miller,SF,OKC,33.418228,31.05,32.724183,1
30,2026-01-05,CHO,LaMelo Ball,PG,OKC,26.490702,25.20,25.446436,1
71,2026-01-05,CHO,Miles Bridges,PF,OKC,30.541817,33.70,30.184010,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
7,2026-01-05,UTA,Keyonte George,PG,POR,36.956394,32.82,35.587633,0
18,2026-01-05,UTA,Jusuf Nurkic,C,POR,27.059151,30.80,29.803619,0
22,2026-01-05,UTA,Brice Sensabaugh,SF,POR,24.702726,22.75,28.107692,1
23,2026-01-05,UTA,Lauri Markkanen,PF,POR,36.715687,31.65,34.865586,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
8,2026-01-05,POR,Shaedon Sharpe,SG,UTA,31.132620,27.33,30.755154,0
51,2026-01-05,POR,Donovan Clingan,C,UTA,29.857204,33.05,27.847939,1
73,2026-01-05,POR,Deni Avdija,SF,UTA,37.968773,28.77,36.253470,0
74,2026-01-05,POR,Toumani Camara,PF,UTA,34.966282,35.27,32.585009,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
11,2026-01-05,PHI,Tyrese Maxey,PG,DEN,36.764439,45.58,37.884894,0
34,2026-01-05,PHI,VJ Edgecombe,SG,DEN,36.161594,41.70,35.010011,0
53,2026-01-05,PHI,Quentin Grimes,SG,DEN,30.096149,39.63,33.341034,0
77,2026-01-05,PHI,Joel Embiid,C,DEN,31.255186,40.05,31.306263,0
78,2026-01-05,PHI,Paul George,PF,DEN,32.970432,32.28,33.810214,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
13,2026-01-05,BOS,Luka Garza,C,CHI,13.719329,23.42,20.033747,0
17,2026-01-05,BOS,Jaylen Brown,SF,CHI,31.814289,34.57,31.576422,1
36,2026-01-05,BOS,Derrick White,SG,CHI,36.177799,37.05,34.463409,1
38,2026-01-05,BOS,Anfernee Simons,SG,CHI,23.216379,27.17,26.006112,0
62,2026-01-05,BOS,Neemias Queta,C,CHI,24.288935,24.58,25.001682,1
70,2026-01-05,BOS,Payton Pritchard,PG,CHI,35.643429,31.25,34.145112,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
14,2026-01-05,DET,Ausar Thompson,SF,NYK,22.790836,19.62,25.124680,1
45,2026-01-05,DET,Duncan Robinson,SF,NYK,25.317282,20.75,27.087841,0
46,2026-01-05,DET,Cade Cunningham,PG,NYK,36.603371,29.07,34.571375,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
15,2026-01-05,HOU,Tari Eason,PF,PHO,20.761242,30.17,23.704871,0
29,2026-01-05,HOU,Reed Sheppard,PG,PHO,25.889854,22.53,27.795396,1
47,2026-01-05,HOU,Kevin Durant,SF,PHO,36.644073,38.50,34.342079,1
48,2026-01-05,HOU,Amen Thompson,SF,PHO,36.032101,37.17,34.011594,1
55,2026-01-05,HOU,Jabari Smith Jr.,PF,PHO,35.461990,38.38,33.325824,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
19,2026-01-05,ATL,Dyson Daniels,SG,TOR,35.289158,39.00,33.930738,0
35,2026-01-05,ATL,Jalen Johnson,SF,TOR,36.506443,36.53,34.642179,1
37,2026-01-05,ATL,Onyeka Okongwu,C,TOR,33.695900,36.43,33.411369,1
54,2026-01-05,ATL,Nickeil Alexander-Walker,SG,TOR,34.838127,33.67,33.648789,1
72,2026-01-05,ATL,Kristaps Porzingis,C,TOR,20.491772,19.98,24.190888,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
25,2026-01-05,TOR,Collin Murray-Boyles,PF,ATL,18.676691,31.08,23.619989,0
26,2026-01-05,TOR,RJ Barrett,SF,ATL,26.570839,31.48,27.547768,0
40,2026-01-05,TOR,Sandro Mamukelashvili,C,ATL,22.746017,22.53,23.528446,1
43,2026-01-05,TOR,Immanuel Quickley,PG,ATL,32.822514,30.55,33.526613,1
52,2026-01-05,TOR,Jamal Shead,PG,ATL,18.583153,17.45,24.783638,1
56,2026-01-05,TOR,Scottie Barnes,PF,ATL,35.425617,36.75,35.956332,1
66,2026-01-05,TOR,Brandon Ingram,SF,ATL,36.023071,34.67,34.390680,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
31,2026-01-05,GSW,Quinten Post,PF,LAC,17.151863,12.53,17.411929,0
33,2026-01-05,GSW,Jimmy Butler,SF,LAC,33.458622,33.42,31.185701,1
41,2026-01-05,GSW,Draymond Green,PF,LAC,22.098801,31.95,24.962959,0
58,2026-01-05,GSW,Stephen Curry,PG,LAC,34.862770,33.57,33.953576,1
60,2026-01-05,GSW,Al Horford,C,LAC,14.764151,15.68,14.767115,1
61,2026-01-05,GSW,Moses Moody,SG,LAC,21.217152,19.18,23.146505,1
64,2026-01-05,GSW,Brandin Podziemski,SG,LAC,25.675646,26.70,25.722337,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_L5_avg,InRMSE_Range
32,2026-01-05,PHO,Devin Booker,SG,HOU,34.169140,32.83,32.817244,1
44,2026-01-05,PHO,Collin Gillespie,PG,HOU,29.823601,25.42,30.652685,0
49,2026-01-05,PHO,Dillon Brooks,SF,HOU,31.162651,34.25,29.637794,1
75,2026-01-05,PHO,Grayson Allen,SG,HOU,25.271309,22.15,28.755644,1
79,2026-01-05,PHO,Royce O'Neale,SF,HOU,29.074520,30.60,30.365114,1

# Main Model

In [316]:
def setup_df_main(df, tgt_stat):
    
    # Stat dependent features 
    if tgt_stat == 'PTS':
        tgt_stat_cols = ['TPM', 'FG', 'FT', 'TPA', 'FGA', 'FTA']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'TPM', 'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        # Efficiency metrics
        df['three_rate_raw'] =  np.where(df.FGA > 0, df['TPA'] / df['FGA'], 0)
        df['ft_rate_raw']    =  np.where(df.FGA > 0, df['FTA'] / df['FGA'], 0)
        df['eFG_raw'] = (df['FG'] + 0.5 * df['TPM']) / df['FGA']
        df['TS_raw'] = df['PTS'] / (2 * (df['FGA'] + 0.44 * df['FTA']))    
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        
        for w in [3, 5, 10]:
            for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
                col = f"{metric}_L{w}"
                df[col] = (
                    df.groupby(['Player','Season'])[f'{metric}_raw']
                      .rolling(w, min_periods=1)
                      .mean()
                      .shift(1)
                      .reset_index(level=[0,1], drop=True)
                )
        for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
            col = f'{metric}_weighted'
            df[col] = (
                0.6 * df[f'{metric}_L3'] +
                0.3 * df[f'{metric}_L5'] +
                0.1 * df[f'{metric}_L10']
            )
            df = df.drop(f'{metric}_raw', axis=1)
        
    elif tgt_stat == 'PRA':
        tgt_stat_cols = ['PTS', 'REB', 'AST', 'TPM', 'FG']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK', 
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
         f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
         f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]
        
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        for w in [3, 5, 10]:
            df[f"usage_proxy_L{w}"] = (
                df.groupby(['Player','Season'])[f'usage_proxy_raw']
                  .rolling(w, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0,1], drop=True)
            )
        df['usage_proxy_weighted'] = (
            0.6 * df[f'usage_proxy_L3'] +
            0.3 * df[f'usage_proxy_L5'] +
            0.1 * df[f'usage_proxy_L10']
        )
        df = df.drop('usage_proxy_raw', axis=1)
        
        
    else:
        tgt_stat_cols = []
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 'team_game_num', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', 
          f'Off_{tgt_stat}', f'Off_L3_{tgt_stat}', f'Off_L5_{tgt_stat}', f'Off_L10_{tgt_stat}', f'Off_{tgt_stat}_Rk',
          f'Def_{tgt_stat}', f'Def_L3_{tgt_stat}', f'Def_L5_{tgt_stat}', f'Def_L10_{tgt_stat}', f'Def_{tgt_stat}_Rk',
         'Spread', 'Total', 'is_OT']]

    
    # Create rolling + lag features    
    for col in ['MP'] + tgt_stat_cols:
        for N in [1, 3, 5, 10]:
            df[f'{col}_L{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )

    # Role identifiers features
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for N in [1, 3, 5]:
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df[f'{role}_last{N}'] = (
                df.sort_values(['Player', 'Date']).groupby('Player')[role]
                  .rolling(N, min_periods=1)
                  .sum()
                  .shift(1)
                  .reset_index(0, drop=True)
            )
        rec_role_cols = [f'{role}_last{N}' for role in ['reserve_td', 'bench_td', 'starter_td']]
        df[f'recent_most_common_role_L{N}'] = df[rec_role_cols].idxmax(axis=1)
        df[f'recent_role_L{N}'] = 0
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'starter_td_last{N}', 1, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'bench_td_last{N}', 2, df[f'recent_role_L{N}'])
        df[f'recent_role_L{N}'] = np.where(df[f'recent_most_common_role_L{N}'] == f'reserve_td_last{N}', 3, df[f'recent_role_L{N}'])      
        df = df.drop(f'recent_most_common_role_L{N}', axis=1)
        for role in ['reserve_td', 'bench_td', 'starter_td']:
            df = df.drop(f'{role}_last{N}', axis=1)
    
    df['game_spread_type'] = 0
    df['game_spread_type'] = np.where(abs(df.Spread < 6), 1, df.game_spread_type) 
    df['game_spread_type'] = np.where((abs(df.Spread >= 6) & abs(df.Spread <= 14)), 2, df.game_spread_type) 
    df['game_spread_type'] = np.where(abs(df.Spread > 14), 3, df.game_spread_type) 
    
    for col in categories + ['Season', 'FG', 'FGA', 'FT', 'FTA', 'TPM', 'TPA', 
                             'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter'] + tgt_stat_cols:
        if col == tgt_stat:
            continue
        if col in df.columns:
            df = df.drop(col, axis=1)
        
    return df

In [318]:
df_main = df.copy()
df_main = setup_df_main(df_main, tgt_stat)
display(df_main)

n = len(df_main)
train_end = int(0.65 * n)
val_end   = int(0.85 * n)
main_train_df = df_main.iloc[:train_end]
main_val_df   = df_main.iloc[train_end:val_end]
main_test_df  = df_main.iloc[val_end:]
main_DFS = (main_train_df, main_val_df, main_test_df)

# stat_model = create_baseline_model(df_main, tgt_stat, main_DFS)
stat_model, stat_preds, y_test_stat, analyze_df_stat = hyperparam_tuning(main_DFS, tgt_stat, n_iter=1)
# feature_importance(stat_model, df_main.columns.tolist())

# stat_model.save_model(f"../ML_models/{tgt_stat}_model.json")
# print(f'Saved {tgt_stat} model!')

,Date,Team,Opp,Player,Pos,MP,team_game_num,PRA,Off_PRA,Off_L3_PRA,Off_L5_PRA,Off_L10_PRA,Off_PRA_Rk,Def_PRA,Def_L3_PRA,Def_L5_PRA,Def_L10_PRA,Def_PRA_Rk,Spread,Total,is_OT,usage_proxy_L3,usage_proxy_L5,usage_proxy_L10,usage_proxy_weighted,MP_L1_avg,MP_L3_avg,MP_L5_avg,MP_L10_avg,PTS_L1_avg,PTS_L3_avg,PTS_L5_avg,PTS_L10_avg,REB_L1_avg,REB_L3_avg,REB_L5_avg,REB_L10_avg,AST_L1_avg,AST_L3_avg,AST_L5_avg,AST_L10_avg,TPM_L1_avg,TPM_L3_avg,TPM_L5_avg,TPM_L10_avg,FG_L1_avg,FG_L3_avg,FG_L5_avg,FG_L10_avg,role,recent_role_L1,recent_role_L3,recent_role_L5,game_spread_type
0,2021-10-19,2,16,71,0,22.98,1,11.0,11.000000,11.000000,11.0,11.0,7.0,30.000000,30.000000,30.0,30.0,2.0,-23.0,231.0,0,0.302402,0.286831,0.167386,0.284229,2.33,5.410000,3.964,6.374,2.0,2.000000,1.4,0.9,0.0,0.333333,0.4,0.7,0.0,0.333333,0.2,0.3,0.0,0.000000,0.0,0.0,1.0,1.000000,0.6,0.4,2,3,3,3,1
1,2021-10-19,2,16,96,3,3.75,1,1.0,1.000000,1.000000,1.0,1.0,10.0,13.000000,13.000000,13.0,13.0,2.0,-23.0,231.0,0,0.450357,0.395621,0.340359,0.422936,14.85,15.760000,21.184,22.006,0.0,3.000000,4.8,7.7,3.0,2.000000,3.8,4.0,3.0,1.333333,1.8,1.6,0.0,1.000000,1.2,2.0,0.0,1.000000,1.6,2.4,2,2,2,2,1
2,2021-10-19,2,16,112,4,3.75,1,2.0,2.000000,2.000000,2.0,2.0,7.0,25.000000,25.000000,25.0,25.0,3.0,-23.0,231.0,0,0.240849,0.301278,0.336735,0.268566,34.03,23.060000,24.296,28.092,5.0,5.666667,8.8,13.5,2.0,1.666667,2.6,3.0,9.0,6.333333,6.2,7.3,0.0,0.666667,1.0,2.7,1.0,1.666667,2.6,4.3,2,1,2,1,1
3,2021-10-19,2,16,211,3,3.75,1,0.0,0.000000,0.000000,0.0,0.0,11.0,13.000000,13.000000,13.0,13.0,2.0,-23.0,231.0,0,0.262976,0.262976,0.262976,0.262976,12.33,11.650000,11.650,11.650,2.0,4.500000,4.5,4.5,5.0,5.000000,5.0,5.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,2.000000,2.0,2.0,2,2,2,3,1
4,2021-10-19,2,16,406,2,30.63,1,36.0,36.000000,36.000000,36.0,36.0,2.0,38.000000,38.000000,38.0,38.0,3.0,-23.0,231.0,0,0.293043,0.429924,0.429924,0.347795,4.33,10.793333,9.214,9.214,0.0,6.666667,5.0,5.0,0.0,1.666667,2.0,2.0,0.0,0.000000,0.0,0.0,0.0,0.666667,0.6,0.6,0.0,2.333333,1.8,1.8,1,3,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107587,2026-01-05,28,24,581,0,19.97,35,20.0,17.636364,11.000000,10.8,16.9,34.0,32.000000,29.666667,29.0,31.2,13.0,-20.0,254.0,0,0.451179,0.417694,0.386670,0.434683,18.67,20.423333,18.754,22.714,7.0,7.000000,5.8,9.6,1.0,3.333333,3.4,5.8,1.0,0.666667,1.6,1.5,0.0,0.666667,0.4,0.7,3.0,2.666667,2.2,3.6,2,2,2,2,1
107588,2026-01-05,28,24,595,1,31.65,35,30.0,36.931034,36.666667,36.8,38.0,2.0,33.151515,35.000000,24.8,28.9,11.0,-20.0,254.0,0,0.569097,0.581142,0.609534,0.576754,40.75,37.790000,37.570,36.153,35.0,28.666667,28.6,27.9,6.0,6.666667,6.4,8.2,1.0,1.333333,1.8,1.9,2.0,3.000000,3.0,2.5,15.0,10.666667,10.0,9.5,1,1,1,1,1
107589,2026-01-05,28,24,843,3,20.02,35,9.0,13.531250,9.333333,11.8,12.6,47.0,37.068966,35.666667,43.8,44.0,6.0,-20.0,254.0,0,0.222438,0.286686,0.303916,0.249860,27.88,21.856667,21.814,22.832,10.0,6.000000,7.2,8.8,3.0,2.000000,2.8,2.3,2.0,1.333333,1.8,1.5,2.0,1.333333,1.2,2.0,4.0,2.333333,2.6,3.1,2,1,2,2,1
107590,2026-01-05,28,24,851,1,18.52,35,13.0,9.304348,7.000000,5.8,9.4,55.0,33.151515,35.000000,24.8,28.9,11.0,-20.0,254.0,0,0.140400,0.128196,0.201812,0.142880,12.38,15.463333,13.728,15.974,1.0,3.000000,2.2,5.8,2.0,2.333333,2.2,2.6,3.0,1.666667,1.4,1.0,0.0,0.666667,0.4,0.9,0.0,1.000000,0.8,2.0,2,2,2,2,1
107591,2026-01-05,28,24,933,2,13.18,35,9.0,11.633333,11.666667,12.2,10.5,48.0,42.687500,51.333333,46.2,47.9,28.0,-20.0,254.0,0,0.333447,0.288569,0.345177,0.321156,16.87,22.646667,19.798,16.659,8.0,8.000000,8.2,6.8,3.0,1.666667,1.6,1.6,2.0,2.000000,2.4,2.1,2.0,1.333333,1.2,0.9,2.0,2.333333,2.6,2.0,2,2,2,2,1

Trial 1/1: {'n_estimators': 1174, 'learning_rate': np.float64(0.059142511335578594), 'max_depth': 3, 'min_child_weight': 1, 'subsample': np.float64(0.9016147683918705), 'colsample_bytree': np.float64(0.8044276439912811), 'gamma': np.float64(1.2924178249110851), 'reg_lambda': np.float64(1.5315684494213921), 'reg_alpha': np.float64(0.6580055209032674)}
Validation MAE: 3.0381

Best validation MAE: 3.0380554079117563
Best parameters: {'learning_rate': np.float64(0.059142511335578594), 'max_depth': 3, 'min_child_weight': 1, 'subsample': np.float64(0.9016147683918705), 'colsample_bytree': np.float64(0.8044276439912811), 'gamma': np.float64(1.2924178249110851), 'reg_lambda': np.float64(1.5315684494213921), 'reg_alpha': np.float64(0.6580055209032674), 'objective': 'reg:squarederror', 'tree_method': 'hist', 'device': 'cuda', 'seed': 42}

Test Metrics:
RMSE: 4.129814231289334
MAE: 3.1289580823379612
R²: 0.8894068935055182

In [319]:
analyze_df_stat = main_test_df.drop([tgt_stat, f'{tgt_stat}_preds'], axis=1)\
                .merge(analyze_df_stat[['Date', 'Team', 'Player', tgt_stat, f'{tgt_stat}_preds']], on=['Date', 'Team', 'Player'])
analyze_df_stat['Diff'] = analyze_df_stat[tgt_stat] - analyze_df_stat[f'{tgt_stat}_preds']
analyze_df_stat['Diff2'] = abs(analyze_df_stat['Diff'])
analyze_df_stat.sort_values('Diff', ascending=True).drop('Diff2', axis=1).head(15)
# display(analyze_df_stat[(analyze_df_stat.Date == '2026-01-04') & (analyze_df_stat.Team == 'LAL')])

# plt.figure(figsize=(10,6))
# hist_col = 'Diff2'
# plt.hist(analyze_df_stat[hist_col], bins=30, color='skyblue', edgecolor='black')
# plt.title(f'Histogram of {hist_col}')
# plt.xlabel(hist_col)
# plt.ylabel('Frequency')
# plt.grid(axis='y', alpha=0.75)
# plt.show()

,Date,Team,Opp,Player,Pos,MP,team_game_num,Off_PRA,Off_L3_PRA,Off_L5_PRA,Off_L10_PRA,Off_PRA_Rk,Def_PRA,Def_L3_PRA,Def_L5_PRA,Def_L10_PRA,Def_PRA_Rk,Spread,Total,is_OT,usage_proxy_L3,usage_proxy_L5,usage_proxy_L10,usage_proxy_weighted,MP_L1_avg,MP_L3_avg,MP_L5_avg,MP_L10_avg,PTS_L1_avg,PTS_L3_avg,PTS_L5_avg,PTS_L10_avg,REB_L1_avg,REB_L3_avg,REB_L5_avg,REB_L10_avg,AST_L1_avg,AST_L3_avg,AST_L5_avg,AST_L10_avg,TPM_L1_avg,TPM_L3_avg,TPM_L5_avg,TPM_L10_avg,FG_L1_avg,FG_L3_avg,FG_L5_avg,FG_L10_avg,role,recent_role_L1,recent_role_L3,recent_role_L5,game_spread_type,PRA,PRA_preds,Diff
1207,2025-03-31,DAL,BRK,Anthony Davis,PF,28.45,76,40.976190,41.666667,42.000000,40.200000,2.0,29.835821,27.666667,34.4,29.6,4.0,-4.0,222.0,0,0.657488,0.588907,0.642321,0.635397,30.05,28.476667,25.242,29.921,18.0,15.000000,15.0,22.2,7.0,6.666667,7.6,10.8,5.0,3.333333,3.4,3.3,0.0,0.333333,0.6,0.4,7.0,6.000000,6.0,8.8,1,1,1,1,1,24.0,44.201893,-20.201893
2206,2025-04-06,GSW,HOU,Stephen Curry,PG,32.67,78,34.833333,34.000000,38.800000,33.600000,12.0,37.527778,33.000000,34.0,36.9,26.0,-10.0,202.0,0,0.841530,0.729543,0.619088,0.785690,32.18,34.323333,32.534,32.271,36.0,41.666667,32.2,26.1,2.0,5.000000,4.4,3.9,5.0,6.333333,6.2,5.2,7.0,7.666667,6.0,4.7,13.0,13.000000,10.0,8.0,1,1,1,1,1,13.0,33.141113,-20.141113
537,2025-03-27,DAL,ORL,Anthony Davis,PF,28.85,74,40.976190,41.666667,42.000000,40.200000,2.0,36.838235,26.000000,30.2,34.1,28.0,9.0,193.0,0,0.437103,0.594571,0.599756,0.500609,26.53,22.436667,28.066,30.932,12.0,14.000000,24.0,24.1,6.0,8.000000,12.0,11.8,3.0,3.333333,3.0,3.2,0.0,0.666667,0.4,0.6,6.0,6.000000,9.6,9.9,1,1,1,1,2,24.0,43.819321,-19.819321
15683,2026-01-03,ATL,TOR,Onyeka Okongwu,C,30.30,37,27.657143,36.666667,36.000000,31.200000,13.0,31.838710,22.333333,28.2,33.5,11.0,-17.0,251.0,0,0.561790,0.539034,0.459688,0.544753,29.77,30.576667,32.578,34.189,23.0,22.000000,21.8,18.1,9.0,10.333333,10.6,9.4,2.0,4.333333,3.6,3.7,3.0,2.666667,2.8,2.3,9.0,7.666667,7.6,6.6,1,1,1,1,1,11.0,30.335985,-19.335985
6403,2025-10-27,DEN,MIN,Aaron Gordon,PF,32.82,3,31.666667,31.666667,31.666667,31.666667,11.0,45.000000,41.000000,45.0,45.0,23.0,13.0,241.0,0,0.576456,0.576456,0.576456,0.576456,25.20,31.925000,31.925,31.925,17.0,33.500000,33.5,33.5,2.0,5.000000,5.0,5.0,1.0,1.500000,1.5,1.5,1.0,5.500000,5.5,5.5,5.0,11.000000,11.0,11.0,1,1,1,1,2,15.0,34.329773,-19.329773
12501,2025-12-07,LAL,PHI,Austin Reaves,SG,39.13,23,40.550000,41.666667,38.800000,39.300000,2.0,43.000000,31.333333,40.6,37.0,24.0,4.0,220.0,0,0.604655,0.556912,0.539471,0.583814,33.32,35.830000,37.688,37.192,36.0,32.000000,33.4,30.2,3.0,4.000000,5.0,5.9,8.0,7.000000,6.4,5.5,3.0,3.666667,4.2,3.2,9.0,9.333333,9.8,9.2,1,1,1,1,1,19.0,37.541580,-18.541580
858,2025-03-29,DAL,CHI,Anthony Davis,PF,30.05,75,40.976190,41.666667,42.000000,40.200000,2.0,31.298507,36.000000,40.6,36.5,8.0,1.0,239.0,0,0.590486,0.592041,0.615265,0.593430,28.85,28.776667,26.566,30.579,15.0,17.666667,19.8,22.6,7.0,9.666667,10.8,11.2,2.0,4.000000,2.8,3.2,1.0,1.000000,0.6,0.5,5.0,7.000000,8.0,9.1,1,1,1,1,1,30.0,46.408802,-16.408802
12023,2025-12-04,MIN,NOP,Anthony Edwards,SG,31.37,22,37.277778,38.333333,41.000000,39.100000,3.0,51.913043,55.333333,68.8,56.7,29.0,9.0,241.0,0,0.668326,0.683683,0.671204,0.673221,47.45,40.233333,40.210,38.092,44.0,38.333333,37.8,31.7,5.0,3.333333,5.0,4.8,4.0,5.000000,4.8,4.3,6.0,5.000000,5.0,3.3,16.0,13.666667,13.2,10.8,1,1,1,1,2,21.0,37.345387,-16.345387
16133,2026-01-05,UTA,POR,Keyonte George,PG,32.82,35,35.636364,40.666667,39.600000,42.000000,10.0,42.687500,51.333333,46.2,47.9,28.0,-20.0,254.0,0,0.643105,0.609129,0.613327,0.629934,36.35,36.550000,35.806,36.823,22.0,29.000000,28.4,29.9,2.0,4.333333,4.4,4.9,9.0,7.333333,6.8,7.2,4.0,4.333333,4.4,4.1,7.0,9.000000,9.0,9.2,1,1,1,1,1,23.0,38.622543,-15.622543
9478,2025-11-16,GSW,NOP,Stephen Curry,PG,28.12,15,34.750000,42.666667,35.000000,33.400000,9.0,35.307692,31.000000,33.8,36.1,14.0,18.0,230.0,0,0.830381,0.821618,0.743282,0.819042,36.05,29.853333,30.442,30.668,49.0,35.333333,31.6,29.7,4.0,3.333333,2.8,3.8,2.0,2.333333,2.4,3.7,9.0,5.000000,4.8,4.7,16.0,11.000000,10.0,9.6,1,1,1,1,3,17.0,32.609589,-15.609589
15998,2026-01-05,BOS,CHI,Jaylen Brown,SF,34.57,35,41.343750,46.666667,45.000000,44.100000,2.0,45.000000,38.666667,51.2,45.8,29.0,14.0,216.0,0,0.772333,0.741518,0.731249,0.758980,35.13,34.500000,34.524,34.870,50.0,34.000000,33.8,32.4,3.0,6.333333,5.8,6.6,5.0,6.333333,5.4,5.1,6.0,2.666667,2.4,2.2,18.0,12.666667,13.0,11.7,1,1,1,1,2,26.0,41.528343,-15.528343
13671,2025-12-20,HOU,DEN,Alperen Sengun,C,30.35,25,39.391304,39.333333,40.200000,37.100000,3.0,32.565217,43.000000,35.6,37.4,15.0,14.0,216.0,0,0.744385,0.719695,0.624034,0.724943,35.70,38.070000,36.428,35.398,28.0,27.666667,28.4,24.5,11.0,12.000000,10.8,8.5,8.0,7.666667,8.0,6.9,0.0,0.000000,0.2,0.3,11.0,11.333333,11.4,9.8,1,1,1,1,2,18.0,33.188957,-15.188957
12247,2025-12-05,ORL,MIA,Desmond Bane,SG,32.98,23,27.173913,26.333333,29.800000,30.600000,11.0,42.350000,24.333333,26.2,41.6,24.0,1.0,211.0,0,0.596775,0.577834,0.548101,0.586225,37.63,37.126667,33.750,35.518,14.0,29.333333,24.2,23.1,3.0,5.666667,4.6,4.8,6.0,4.333333,4.8,4.5,2.0,1.666667,1.4,2.0,6.0,10.333333,8.6,7.9,1,1,1,1,1,8.0,22.874832,-14.874832
4533,2025-05-03,DEN,LAC,Jamal Murray,PG,41.52,89,31.594595,38.333333,33.800000,31.800000,15.0,36.158537,64.666667,49.6,47.2,20.0,19.0,221.0,0,0.506285,0.483615,0.520919,0.500947,44.47,42.316667,41.090,37.866,21.0,25.666667,24.6,22.0,8.0,6.666667,4.6,5.3,8.0,7.333333,6.4,6.2,2.0,3.666667,3.2,2.6,9.0,10.333333,9.6,8.3,1,1,1,1,3,23.0,37.842224,-14.842224
12759,2025-12-11,HOU,LAC,Kevin Durant,SF,36.72,22,33.250000,30.333333,34.400000,34.100000,6.0,43.095238,44.666667,47.2,42.7,23.0,2.0,228.0,0,0.615797,0.619338,0.595084,0.614788,31.27,31.820000,33.128,34.908,27.0,26.333333,27.2,25.7,1.0,2.666667,4.8,5.0,3.0,6.333333,5.6,4.6,1.0,1.333333,1.8,1.8,11.0,10.333333,10.2,9.4,1,1,1,1,1,20.0,34.768204,-14.768204

In [17]:
rmse = np.sqrt(mean_squared_error(y_test_stat, stat_preds)) # splits[5] = y_test
mae = mean_absolute_error(y_test_stat, stat_preds)
print('RMSE:', rmse)

df_yesterday = pd.read_csv(f'../tables/2025/gmday_preds_{tgt_stat}.csv')
df_yesterday['Date'] = pd.to_datetime(df_yesterday.Date)
df_yesterday = df_yesterday[(df_yesterday.Date == (datetime.strptime(now, "%Y-%m-%d") - timedelta(days=1)).strftime("%Y-%m-%d"))]\
                .rename(columns={"MP": "MP_proj"})

df_gms = pd.read_csv(f"../tables/2025/season_gamelogs.csv")
df_gms['Date'] = pd.to_datetime(df_gms.Date)
df_gms = df_gms.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df_gms['STL_BLK'] = df_gms.STL + df_gms.BLK
df_gms['PR'] = df_gms.PTS + df_gms.REB 
df_gms['PA'] = df_gms.PTS + df_gms.AST
df_gms['RA'] = df_gms.REB + df_gms.AST
df_gms['PRA'] = df_gms.PTS + df_gms.REB + df_gms.AST

df_yesterday = df_yesterday.merge(df_gms[['Date', 'Team', 'Player', tgt_stat, 'MP']], on=['Date', 'Team', 'Player'])
df_yesterday = df_yesterday[['Date', 'Team', 'Player', 'Pos', 'Opp', 'MP_proj', 'MP', f'{tgt_stat}_line', f'{tgt_stat}_proj', tgt_stat]][df_yesterday.MP > 0]

df_yesterday['Diff'] = df_yesterday[f'{tgt_stat}_proj'] - df_yesterday[f'{tgt_stat}_line']
df_yesterday['Diff2'] = abs(df_yesterday[f'{tgt_stat}_proj'] - df_yesterday[tgt_stat])
df_yesterday['Act_Res'] = np.where(df_yesterday[tgt_stat] > df_yesterday[f'{tgt_stat}_line'], 'O', 'U')
df_yesterday['Pred_Res'] = np.where(df_yesterday[f'{tgt_stat}_proj'] > df_yesterday[f'{tgt_stat}_line'], 'O', 'U')
df_yesterday['ParlayHit'] = np.where(df_yesterday['Act_Res'] == df_yesterday['Pred_Res'], 1, 0)
df_yesterday['InRMSE_Range'] = np.where(df_yesterday['Diff2'] <= rmse, 1, 0)
# df_yesterday = df_yesterday[(abs(df_yesterday.Diff) > rmse)]
# df_yesterday = df_yesterday[df_yesterday.InRMSE_Range == 0]

print("Total Accuracy (ParlayHit):", ((df_yesterday.ParlayHit == 1).sum() / df_yesterday.shape[0]))
print((df_yesterday.ParlayHit == 1).sum(), "/", df_yesterday.shape[0])

print("\nTotal Accuracy (InRMSE_Range):", ((df_yesterday.InRMSE_Range == 1).sum() / df_yesterday.shape[0]))
print((df_yesterday.InRMSE_Range == 1).sum(), "/", df_yesterday.shape[0])

df_yesterday = df_yesterday.drop(['Diff', 'Diff2', 'Act_Res', 'Pred_Res'], axis=1).sort_values(f'{tgt_stat}_line', ascending=False)

if df_yesterday.shape[0] >= 50:
    for tm in df_yesterday.Team.unique():
        display(df_yesterday[(df_yesterday.Team == tm)]) #  & (df_yesterday.ParlayHit == 1)
else:
    display(df_yesterday)

RMSE: 3.6902266077955796
Total Accuracy (ParlayHit): 0.6
48 / 80

Total Accuracy (InRMSE_Range): 0.3875
31 / 80

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
73,2026-01-05,POR,Deni Avdija,SF,UTA,37.968773,28.77,46.5,46.011868,50,0,0
8,2026-01-05,POR,Shaedon Sharpe,SG,UTA,31.132620,27.33,31.5,24.288029,41,0,0
51,2026-01-05,POR,Donovan Clingan,C,UTA,29.857204,33.05,25.5,26.947153,31,1,0
74,2026-01-05,POR,Toumani Camara,PF,UTA,34.966282,35.27,22.5,22.232927,22,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
17,2026-01-05,BOS,Jaylen Brown,SF,CHI,31.814289,34.57,43.5,39.123463,26,1,0
36,2026-01-05,BOS,Derrick White,SG,CHI,36.177799,37.05,29.5,31.970396,23,0,0
70,2026-01-05,BOS,Payton Pritchard,PG,CHI,35.643429,31.25,26.5,25.782343,32,0,0
62,2026-01-05,BOS,Neemias Queta,C,CHI,24.288935,24.58,19.5,18.463057,27,0,0
38,2026-01-05,BOS,Anfernee Simons,SG,CHI,23.216379,27.17,17.5,15.290109,33,0,0
13,2026-01-05,BOS,Luka Garza,C,CHI,13.719329,23.42,16.5,11.583426,12,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
46,2026-01-05,DET,Cade Cunningham,PG,NYK,36.603371,29.07,43.5,45.174889,45,1,1
14,2026-01-05,DET,Ausar Thompson,SF,NYK,22.790836,19.62,20.5,15.602503,18,1,1
45,2026-01-05,DET,Duncan Robinson,SF,NYK,25.317282,20.75,15.5,13.697671,14,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
2,2026-01-05,OKC,Shai Gilgeous-Alexander,PG,CHO,32.054302,29.57,42.5,34.512955,29,1,0
10,2026-01-05,OKC,Jalen Williams,SG,CHO,28.715004,28.02,29.5,23.079012,22,1,1
65,2026-01-05,OKC,Chet Holmgren,PF,CHO,27.904547,25.93,27.5,26.682009,23,1,1
42,2026-01-05,OKC,Ajay Mitchell,SG,CHO,22.837864,24.27,19.5,17.459282,16,1,1
9,2026-01-05,OKC,Aaron Wiggins,SG,CHO,13.929027,24.70,14.5,7.548348,13,1,0
27,2026-01-05,OKC,Cason Wallace,SG,CHO,23.237501,24.95,12.5,9.135382,5,1,0
16,2026-01-05,OKC,Isaiah Joe,SG,CHO,12.535180,22.12,11.5,6.992913,10,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
35,2026-01-05,ATL,Jalen Johnson,SF,TOR,36.506443,36.53,42.5,45.151794,34,0,0
54,2026-01-05,ATL,Nickeil Alexander-Walker,SG,TOR,34.838127,33.67,26.5,27.778364,23,0,0
37,2026-01-05,ATL,Onyeka Okongwu,C,TOR,33.695900,36.43,25.5,27.711950,32,1,0
19,2026-01-05,ATL,Dyson Daniels,SG,TOR,35.289158,39.00,25.5,29.743477,20,0,0
72,2026-01-05,ATL,Kristaps Porzingis,C,TOR,20.491772,19.98,19.5,18.943569,11,1,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
21,2026-01-05,LAC,Kawhi Leonard,SF,GSW,37.327187,38.12,40.5,44.619972,41,1,1
4,2026-01-05,LAC,Ivica Zubac,C,GSW,24.060238,33.15,26.5,18.976683,24,1,0
69,2026-01-05,LAC,Kris Dunn,PG,GSW,27.803558,33.18,15.5,14.778962,25,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
67,2026-01-05,NYK,Jalen Brunson,PG,DET,36.499203,30.50,39.5,38.736046,28,1,0
5,2026-01-05,NYK,Karl-Anthony Towns,C,DET,27.732607,22.50,35.5,28.119381,8,1,0
24,2026-01-05,NYK,OG Anunoby,PF,DET,36.536942,28.68,24.5,27.976065,8,0,0
59,2026-01-05,NYK,Mikal Bridges,SF,DET,37.689590,25.68,23.5,24.612146,11,0,0
68,2026-01-05,NYK,Miles McBride,SG,DET,28.488529,24.87,17.5,18.245470,21,1,1
50,2026-01-05,NYK,Mitchell Robinson,C,DET,17.445724,24.85,14.5,13.031767,13,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
11,2026-01-05,PHI,Tyrese Maxey,PG,DEN,36.764439,45.58,38.5,44.372234,40,1,0
77,2026-01-05,PHI,Joel Embiid,C,DEN,31.255186,40.05,37.5,37.391838,44,0,0
34,2026-01-05,PHI,VJ Edgecombe,SG,DEN,36.161594,41.70,25.5,28.163052,34,1,0
78,2026-01-05,PHI,Paul George,PF,DEN,32.970432,32.28,24.5,24.445244,13,1,0
53,2026-01-05,PHI,Quentin Grimes,SG,DEN,30.096149,39.63,19.5,18.160917,22,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
47,2026-01-05,HOU,Kevin Durant,SF,PHO,36.644073,38.50,38.5,36.845249,40,0,1
48,2026-01-05,HOU,Amen Thompson,SF,PHO,36.032101,37.17,32.5,30.845369,30,1,1
55,2026-01-05,HOU,Jabari Smith Jr.,PF,PHO,35.461990,38.38,24.5,25.722807,27,1,1
15,2026-01-05,HOU,Tari Eason,PF,PHO,20.761242,30.17,22.5,17.935938,22,1,0
29,2026-01-05,HOU,Reed Sheppard,PG,PHO,25.889854,22.53,19.5,16.441442,16,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
7,2026-01-05,UTA,Keyonte George,PG,POR,36.956394,32.82,35.5,42.862949,23,0,0
23,2026-01-05,UTA,Lauri Markkanen,PF,POR,36.715687,31.65,35.5,39.380051,30,0,0
18,2026-01-05,UTA,Jusuf Nurkic,C,POR,27.059151,30.80,25.5,29.744671,38,1,0
22,2026-01-05,UTA,Brice Sensabaugh,SF,POR,24.702726,22.75,20.5,16.484241,17,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
58,2026-01-05,GSW,Stephen Curry,PG,LAC,34.862770,33.57,35.5,34.361889,37,0,1
33,2026-01-05,GSW,Jimmy Butler,SF,LAC,33.458622,33.42,29.5,32.309326,32,1,1
41,2026-01-05,GSW,Draymond Green,PF,LAC,22.098801,31.95,18.5,16.304932,23,0,0
64,2026-01-05,GSW,Brandin Podziemski,SG,LAC,25.675646,26.70,17.5,18.394943,10,0,0
61,2026-01-05,GSW,Moses Moody,SG,LAC,21.217152,19.18,13.5,12.447720,7,1,0
31,2026-01-05,GSW,Quinten Post,PF,LAC,17.151863,12.53,12.5,9.455927,7,1,1
60,2026-01-05,GSW,Al Horford,C,LAC,14.764151,15.68,10.5,11.587261,10,0,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
56,2026-01-05,TOR,Scottie Barnes,PF,ATL,35.425617,36.75,34.5,35.666164,36,1,1
66,2026-01-05,TOR,Brandon Ingram,SF,ATL,36.023071,34.67,33.5,34.292694,31,0,1
26,2026-01-05,TOR,RJ Barrett,SF,ATL,26.570839,31.48,27.5,24.082541,27,1,1
43,2026-01-05,TOR,Immanuel Quickley,PG,ATL,32.822514,30.55,26.5,24.477247,20,1,0
40,2026-01-05,TOR,Sandro Mamukelashvili,C,ATL,22.746017,22.53,19.5,17.298922,21,0,0
25,2026-01-05,TOR,Collin Murray-Boyles,PF,ATL,18.676691,31.08,16.5,13.064535,31,0,0
52,2026-01-05,TOR,Jamal Shead,PG,ATL,18.583153,17.45,13.5,12.140724,12,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
32,2026-01-05,PHO,Devin Booker,SG,HOU,34.169140,32.83,32.5,35.334934,30,0,0
49,2026-01-05,PHO,Dillon Brooks,SF,HOU,31.162651,34.25,24.5,22.986418,21,1,1
44,2026-01-05,PHO,Collin Gillespie,PG,HOU,29.823601,25.42,20.5,22.400352,21,1,1
75,2026-01-05,PHO,Grayson Allen,SG,HOU,25.271309,22.15,17.5,17.253405,9,1,0
79,2026-01-05,PHO,Royce O'Neale,SF,HOU,29.074520,30.60,14.5,14.459143,24,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
28,2026-01-05,CHI,Nikola Vucevic,C,BOS,32.138180,36.35,30.5,33.856998,37,1,1
1,2026-01-05,CHI,Coby White,SG,BOS,23.570511,25.38,25.5,16.074398,14,1,1
63,2026-01-05,CHI,Matas Buzelis,PF,BOS,26.319359,30.97,23.5,24.449713,31,1,0
39,2026-01-05,CHI,Ayo Dosunmu,SG,BOS,22.001638,27.80,19.5,17.294138,23,0,0
76,2026-01-05,CHI,Kevin Huerter,SF,BOS,22.609478,19.65,18.5,18.729156,11,0,0
57,2026-01-05,CHI,Isaac Okoro,SG,BOS,22.057320,24.87,13.5,12.334515,9,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
20,2026-01-05,DEN,Peyton Watson,SF,PHI,30.415960,44.22,27.5,23.260921,35,0,0
3,2026-01-05,DEN,Bruce Brown,SG,PHI,24.777317,39.35,21.5,13.754008,27,0,0
0,2026-01-05,DEN,Jalen Pickett,SG,PHI,12.365000,41.88,21.5,7.946320,41,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
30,2026-01-05,CHO,LaMelo Ball,PG,OKC,26.490702,25.20,27.5,30.549610,20,0,0
71,2026-01-05,CHO,Miles Bridges,PF,OKC,30.541817,33.70,26.5,27.116013,32,1,0
12,2026-01-05,CHO,Brandon Miller,SF,OKC,33.418228,31.05,25.5,30.547499,35,1,0
6,2026-01-05,CHO,Kon Knueppel,SF,OKC,31.403574,27.92,24.5,31.869394,33,1,1

### Today's predictions

In [26]:
df_lines = pd.read_csv(f"../tables/2025/parlay_lines.csv")
df_lines['Date'] = pd.to_datetime(df_lines.Date)
df_lines = df_lines[~(df_lines.Team.isnull())]

# Predict Mins
df_lines["Team"] = team_encoder.transform(df_lines["Team"])
df_pred = df_pred.merge(df_lines[['Date', 'Team', 'Spread', 'Total']], on=['Date', 'Team'], how='left')
df_pred = df_pred[~df_pred[['Date', 'Team', 'Player']].duplicated(keep='last')]
df_pred['Spread_x'] = np.where(df_pred.Spread_x.isnull(), df_pred.Spread_y, df_pred.Spread_x)
df_pred['Total_x'] = np.where(df_pred.Total_x.isnull(), df_pred.Total_y, df_pred.Total_x)
df_pred = df_pred.rename(columns={"Spread_x": "Spread", "Total_x": "Total"}).drop(['Spread_y', 'Total_y'], axis=1)
df_pred_mins = setup_df_mins(con, df_pred)
df_pred_mins = df_pred_mins.drop(['Date', 'MP'], axis=1)
DM_mins = xgb.DMatrix(df_pred_mins)
df_pred['MP'] = mins_model.predict(DM_mins)

# Predict Stat
df_pred = setup_df_main(df_pred, tgt_stat)
feature_cols = [col for col in df_pred.columns if col not in ['Date', tgt_stat]]
df_pred = df_pred[df_pred.Date == now][feature_cols]
DM_stats = xgb.DMatrix(df_pred)
df_pred[f"{tgt_stat}_proj"] = stat_model.predict(DM_stats)

df_pred['Team'] = team_encoder.inverse_transform(df_pred["Team"])
df_lines['Team'] = team_encoder.inverse_transform(df_lines["Team"])
df_pred['Opp'] = team_encoder.inverse_transform(df_pred["Opp"])
df_pred['Player'] = player_encoder.inverse_transform(df_pred["Player"])
df_pred['Pos'] = position_encoder.inverse_transform(df_pred["Pos"])

df_lines = df_lines[df_lines.Date == now][['Team', 'Player', f'{tgt_stat}_line']]
df_pred = df_pred.merge(df_lines, on=['Team', 'Player'])

tds_picks = df_pred[~(df_pred[f'{tgt_stat}_line'].isnull())]\
            [['Team', 'Player', 'Pos', 'Opp', 'MP', 'MP_L5_avg', f'{tgt_stat}_line', f'{tgt_stat}_proj']]
tds_picks['Diff'] = abs((df_pred[f'{tgt_stat}_line'] - df_pred[f'{tgt_stat}_proj']))
tds_picks['Diff2'] = abs((df_pred['MP'] - df_pred['MP_L5_avg']))
tds_picks = tds_picks.sort_values('Diff', ascending=False).drop(['Diff', 'Diff2'], axis=1)
if tds_picks.shape[0] >= 50:
    print(tds_picks.shape[0], 'rows')
    for tm in tds_picks.Team.unique():
        display(tds_picks[tds_picks.Team == tm])
else:
    display(tds_picks)
tds_picks.insert(0, 'Date', pd.to_datetime(now))
# partition_save_df(tds_picks, f"../tables/2025/gmday_preds_{tgt_stat}.csv")

108 rows

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
46  DEN  Julian Strawther  SG  PHI   4.472094   7.899960      14.5   4.319802
45  DEN     Jalen Pickett  SG  PHI  12.576862  14.919259      11.5   5.122264
39  DEN       Bruce Brown  SG  PHI  24.790676  26.361093      11.5   5.424230
62  DEN     Peyton Watson  SF  PHI  30.443949  35.406850      19.5  17.673542

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
2   UTA    Keyonte George  PG  POR  37.022026  35.621513      25.5  33.050648
72  UTA   Lauri Markkanen  PF  POR  36.773754  34.927226      26.5  30.936752
68  UTA  Brice Sensabaugh  SF  POR  24.298767  27.923011      13.5  10.886874
99  UTA   Kyle Filipowski   C  POR  19.189964  20.507002       8.5   6.371388
98  UTA      Jusuf Nurkic   C  POR  26.978952  29.738937      11.5  13.057138
67  UTA        Ace Bailey  SF  POR  21.323715  24.335147      10.5   9.232740
69  UTA    Svi Mykhailiuk  SF  POR  15.528078  17.001706       6.5   5.243758

    Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
105  DET        Paul Reed   C  NYK   8.634927  10.623129      10.5   3.426623
60   DET   Ausar Thompson  SF  NYK  22.625652  25.004507      12.5   8.586424
59   DET  Duncan Robinson  SF  NYK  25.287247  27.054709      11.5   8.040268
5    DET  Cade Cunningham  PG  NYK  36.395931  34.337767      27.5  29.979879
35   DET       Jaden Ivey  SG  NYK  16.481455  18.184961       9.5   7.061247
101  DET   Isaiah Stewart   C  NYK  22.657040  26.023471      11.5   9.274531
40   DET    Javonte Green  SG  NYK  19.234924  23.234632       7.5   6.822361

    Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
58   CHO  Brandon Miller  SF  OKC  33.513279  32.918745      17.5  24.520069
61   CHO    Kon Knueppel  SF  OKC  31.440643  28.929011      16.5  22.375679
20   CHO   Collin Sexton  SG  OKC  20.179827  22.397908      11.5  14.068389
7    CHO     LaMelo Ball  PG  OKC  26.573227  25.611779      17.5  19.929380
86   CHO  Tidjane Salaun  PF  OKC  14.278038  19.038876       5.5   7.628437
102  CHO  Moussa Diabate   C  OKC  17.261784  26.768094       7.5   6.108494
76   CHO   Miles Bridges  PF  OKC  31.031927  30.635035      16.5  15.842466

   Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
26  CHI      Coby White  SG  BOS  23.323221  25.735846      17.5  11.782595
89  CHI  Nikola Vucevic   C  BOS  32.257465  28.177988      17.5  19.637812
32  CHI     Ayo Dosunmu  SG  BOS  21.920416  26.345718      12.5  10.681272
63  CHI   Kevin Huerter  SF  BOS  22.579109  23.849038      12.5  10.999651
42  CHI     Isaac Okoro  SG  BOS  22.042118  25.504120       8.5   9.432349
79  CHI   Matas Buzelis  PF  BOS  26.256639  26.845457      15.5  15.116112
12  CHI       Tre Jones  PG  BOS  24.766317  24.734428      11.5  11.694161

   Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
22  PHO      Devin Booker  SG  HOU  34.213509  32.838383      22.5  27.306612
17  PHO    Jordan Goodwin  PG  HOU  22.207369  23.965051       7.5  10.250243
13  PHO  Collin Gillespie  PG  HOU  29.825314  30.642081      12.5  13.579458
64  PHO     Royce O'Neale  SF  HOU  29.061493  30.349059       7.5   8.434962
30  PHO     Grayson Allen  SG  HOU  25.249857  28.618111      11.5  10.997942
94  PHO     Mark Williams   C  HOU  18.571674  20.750951       9.5   9.295087
52  PHO     Dillon Brooks  SF  HOU  31.149809  29.635865      19.5  19.585060

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
19,ATL,Nickeil Alexander-Walker,SG,TOR,34.651817,33.528921,19.5,23.631805
95,ATL,Onyeka Okongwu,C,TOR,33.634037,33.335796,14.5,18.031902
55,ATL,Jalen Johnson,SF,TOR,36.919273,35.117596,23.5,26.408916
34,ATL,Dyson Daniels,SG,TOR,35.223213,33.817320,12.5,13.736485
65,ATL,Zaccharie Risacher,SF,TOR,22.071407,23.978193,9.5,8.353146
43,ATL,Luke Kennard,SG,TOR,16.456167,16.951165,5.5,6.112556
15,ATL,Vit Krejci,PG,TOR,21.990704,25.654845,8.5,8.185676
90,ATL,Kristaps Porzingis,C,TOR,20.541092,24.261334,13.5,13.259485

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
49,TOR,Brandon Ingram,SF,ATL,36.200470,34.644947,23.5,27.525307
83,TOR,Collin Murray-Boyles,PF,ATL,18.670479,23.611500,8.5,5.193207
97,TOR,Sandro Mamukelashvili,C,ATL,22.808084,23.416518,11.5,8.477987
54,TOR,RJ Barrett,SF,ATL,26.573360,27.504892,18.5,15.885206
9,TOR,Immanuel Quickley,PG,ATL,32.776966,33.462930,15.5,16.603477
74,TOR,Scottie Barnes,PF,ATL,35.585068,36.144770,18.5,17.650490
14,TOR,Jamal Shead,PG,ATL,18.846186,25.003727,6.5,7.173414
44,TOR,Ja'Kobe Walter,SG,ATL,18.243711,23.896154,5.5,5.572093

    Team         Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
56   LAC  Kawhi Leonard  SF  GSW  37.272926  32.991531      29.5  33.249268
92   LAC    Ivica Zubac   C  GSW  23.835209  24.148684      13.5   9.927778
10   LAC      Kris Dunn  PG  GSW  27.830437  27.766028       8.5   6.753046
81   LAC   John Collins  PF  GSW  24.292227  24.398025      12.5  10.945632
87   LAC  Nicolas Batum  PF  GSW  20.594349  26.452586       5.5   6.785180
103  LAC    Brook Lopez   C  GSW  17.660673  21.388740       6.5   5.672027
1    LAC   James Harden  PG  GSW  35.946259  33.008857      24.5  24.204659

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
82   HOU        Tari Eason  PF  PHO  20.739723  23.643575      14.5  10.784547
106  HOU      Steven Adams   C  PHO  17.509514  18.550229       7.5   5.044697
51   HOU      Kevin Durant  SF  PHO  36.750298  34.579338      27.5  26.074203
57   HOU     Amen Thompson  SF  PHO  36.509895  34.415133      18.5  19.379387
77   HOU  Jabari Smith Jr.  PF  PHO  35.376293  33.186524      15.5  16.367867
11   HOU     Reed Sheppard  PG  PHO  25.852182  27.803391      12.5  11.922424

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
36,OKC,Aaron Wiggins,SG,CHO,13.968061,19.817286,8.5,5.065919
24,OKC,Jalen Williams,SG,CHO,28.931295,28.143508,18.5,15.264166
0,OKC,Shai Gilgeous-Alexander,PG,CHO,32.162399,31.367660,30.5,27.688713
41,OKC,Cason Wallace,SG,CHO,23.248093,24.108136,7.5,5.201859
38,OKC,Isaiah Joe,SG,CHO,12.602499,15.001020,7.5,5.770109
71,OKC,Chet Holmgren,PF,CHO,27.898453,25.949829,17.5,16.160053
66,OKC,Luguentz Dort,SF,CHO,24.210451,24.010328,7.5,8.450759
29,OKC,Ajay Mitchell,SG,CHO,22.795860,24.168718,12.5,11.738986

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
91,NYK,Karl-Anthony Towns,C,DET,27.961246,24.397229,20.5,17.102083
31,NYK,Miles McBride,SG,DET,28.563335,25.977923,11.5,14.341663
4,NYK,Jalen Brunson,PG,DET,37.057949,37.794852,28.5,31.019066
107,NYK,Mitchell Robinson,C,DET,17.368511,19.036309,4.5,3.162553
78,NYK,OG Anunoby,PF,DET,36.514736,34.716349,16.5,17.244873
53,NYK,Mikal Bridges,SF,DET,37.746368,37.382793,15.5,14.787788
37,NYK,Jordan Clarkson,SG,DET,18.095024,21.749371,7.5,7.771569

    Team            Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
27   BOS     Derrick White  SG  CHI  36.021992  34.330841      18.5  21.783455
100  BOS        Luka Garza   C  CHI  13.900905  20.135324       9.5   7.548356
33   BOS   Anfernee Simons  SG  CHI  23.313547  26.159134      12.5  11.146168
93   BOS     Neemias Queta   C  CHI  24.146500  24.844677       9.5  10.819527
80   BOS        Sam Hauser  PF  CHI  17.956684  19.970485       8.5   8.837373
47   BOS      Jaylen Brown  SF  CHI  32.134876  31.898406      30.5  30.297983
3    BOS  Payton Pritchard  PG  CHI  35.484032  34.237302      16.5  16.684196

   Team           Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
18  POR   Shaedon Sharpe  SG  UTA  31.141403  30.768853      23.5  20.798161
75  POR   Toumani Camara  PF  UTA  35.050613  32.513621      14.5  12.075374
96  POR  Donovan Clingan   C  UTA  29.873026  27.838367      12.5  13.094577
70  POR      Kris Murray  SF  UTA  24.190361  17.647433       7.5   7.859517
50  POR      Deni Avdija  SF  UTA  37.937618  36.156377      28.5  28.268494

   Team          Player Pos  Opp         MP  MP_L5_avg  PTS_line   PTS_proj
21  PHI    VJ Edgecombe  SG  DEN  36.355759  35.235813      16.5  19.130424
6   PHI    Tyrese Maxey  PG  DEN  36.919872  38.048108      26.5  28.750135
25  PHI  Quentin Grimes  SG  DEN  30.093647  33.351743      11.5  10.538461
73  PHI     Paul George  PF  DEN  33.058556  33.899341      14.5  15.283573
88  PHI     Joel Embiid   C  DEN  31.213495  31.264842      25.5  25.407394

,Team,Player,Pos,Opp,MP,MP_L5_avg,PTS_line,PTS_proj
16,GSW,De'Anthony Melton,PG,LAC,18.399216,24.560154,8.5,6.644701
28,GSW,Moses Moody,SG,LAC,21.158497,23.038991,9.5,7.677311
23,GSW,Brandin Podziemski,SG,LAC,25.618677,25.697875,10.5,12.106546
8,GSW,Stephen Curry,PG,LAC,34.933006,34.015447,27.5,28.347919
85,GSW,Quinten Post,PF,LAC,17.132004,17.411909,7.5,6.812972
104,GSW,Al Horford,C,LAC,14.811117,14.752698,5.5,5.729099
84,GSW,Draymond Green,PF,LAC,22.095406,24.955659,7.5,7.633038
48,GSW,Jimmy Butler,SF,LAC,33.645409,31.355917,19.5,19.378351