# To do:

 - Figure out how to signal injuries
 - Add team shooting percentages for AST stats
 - Add def team shooting percentages for REB stats
 - Add TOV stats for STL

In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import duckdb
import warnings
import math         # haversine_km()
import os

import xgboost as xgb
from xgboost import XGBRegressor
from scipy.stats import randint, uniform

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import joblib
import warnings
from datetime import datetime, timedelta
from haversine import haversine

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']
con = duckdb.connect(database=":memory:")
now = str(datetime.now().date())
print(f"Today's date:", now)
tgt_stat = "PRA"
print('Target Stat:', tgt_stat)

Today's date: 2025-12-27
Target Stat: PRA

In [2]:
%run ./common_utils.ipynb

# ML Functions

In [3]:
def feature_importance(model):
    importance = model.get_score(importance_type='gain')

    # Convert to table
    df_importance = (
        pd.DataFrame({
            'feature': list(importance.keys()),
            'importance': list(importance.values())
        })
        .sort_values(by='importance', ascending=False)
        .reset_index(drop=True)
    )

    df_importance['pct'] = df_importance.importance.cumsum() / df_importance.importance.sum()
    display(df_importance)

    xgb.plot_importance(model)
    plt.show()

In [4]:
def create_baseline_model(df, pred_col, DFS):
    
    train_df, val_df, test_df = DFS

    if pred_col == 'MP':
        print('Minutes Model')
        feature_cols = [
            'MP_lst_gm',
            'MP_last_5_avg',
            'MP_last_10_avg',
            'starter', 'bench', 'reserve'
        ]
    else:
        print(f'{pred_col} Stats Model')
        feature_cols = [
            'MP_lst_gm',
            'MP_last_5_avg',
            'MP_last_10_avg',
            f'{pred_col}_last_3_avg', f'{pred_col}_last_5_avg', f'{pred_col}_last_10_avg',
            f'Def_{pred_col}', f'Def_L5_{pred_col}'
        ]
    
    print('Train:', len(train_df), '/ Validation:', len(val_df), '/ Test:', len(test_df))
    
    X_train, y_train = train_df[feature_cols], train_df[pred_col]
    X_val,   y_val   = val_df[feature_cols],   val_df[pred_col]
    X_test,  y_test  = test_df[feature_cols],  test_df[pred_col]

    # Convert to DMatrix (XGBoost internal format)
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dval   = xgb.DMatrix(X_val, label=y_val)
    dtest  = xgb.DMatrix(X_test, label=y_test)

    params = {
        "objective": "reg:squarederror",
        "max_depth": 5,
        "learning_rate": 0.05,
        "subsample": 0.8,
        "colsample_bytree": 0.8,
        "seed": 42
    }

    # Train using native XGBoost API with early stopping
    evals = [(dtrain, "train"), (dval, "val")]
    bst = xgb.train(
        params,
        dtrain,
        num_boost_round=500,
        evals=evals,
        early_stopping_rounds=50,
        verbose_eval=False
    )

    # Predict on test set
    preds = bst.predict(dtest)

    rmse = np.sqrt(mean_squared_error(y_test, preds))
    mae = mean_absolute_error(y_test, preds)
    r2 = r2_score(y_test, preds)

    print("RMSE:", rmse)
    print("MAE:", mae)
    print("R²:", r2)
    
    return bst

In [5]:
def hyperparam_tuning(DFS, pred_col, n_iter=20, early_stopping_rounds=50):
    """
    Hyperparameter tuning using native XGBoost API and DMatrix,
    with early stopping support (compatible with XGBoost 3.1.2)
    """

    train_df, val_df, test_df = DFS
    feature_cols = [col for col in train_df.columns if col not in ['Date', pred_col]]
    X_train, y_train = train_df[feature_cols], train_df[pred_col]
    X_val,   y_val   = val_df[feature_cols],   val_df[pred_col]
    X_test,  y_test  = test_df[feature_cols],  test_df[pred_col]

    # Convert datasets to DMatrix
    dtrain = xgb.DMatrix(X_train, label=y_train)
    dval   = xgb.DMatrix(X_val, label=y_val)
    dtest  = xgb.DMatrix(X_test, label=y_test)

    # Hyperparameter search space
    param_dist = {
        "n_estimators": randint(300, 1500),
        "learning_rate": uniform(0.01, 0.05),
        "max_depth": randint(3, 6),
        "min_child_weight": randint(1, 8),
        "subsample": uniform(0.7, 0.3),
        "colsample_bytree": uniform(0.7, 0.3),
        "gamma": uniform(0, 2),
        "reg_lambda": uniform(0, 5),
        "reg_alpha": uniform(0, 2)
    }

    # Sample n_iter random parameter combinations
    param_list = []
    for _ in range(n_iter):
        sample = {k: (v.rvs() if hasattr(v, "rvs") else v) for k, v in param_dist.items()}
        sample['n_estimators'] = int(sample['n_estimators'])
        sample['max_depth'] = int(sample['max_depth'])
        sample['min_child_weight'] = int(sample['min_child_weight'])
        param_list.append(sample)

    best_mae = float('inf')
    best_params = None
    best_bst = None

    # Manual hyperparameter search
    for i, params in enumerate(param_list):
        print(f"\nTrial {i+1}/{n_iter}: {params}")
        num_boost_round = params.pop('n_estimators')
        params.update({
            "objective": "reg:squarederror",
            "tree_method": "hist",
            "device": "cuda",
            "seed": 42
        })
        evals = [(dtrain, 'train'), (dval, 'val')]
        bst = xgb.train(
            params,
            dtrain,
            num_boost_round=num_boost_round,
            evals=evals,
            early_stopping_rounds=early_stopping_rounds,
            verbose_eval=False
        )
        # Predict on validation set to compute MAE
        val_preds = bst.predict(dval, iteration_range=(0, bst.best_iteration))
        mae = mean_absolute_error(y_val, val_preds)
        print(f"Validation MAE: {mae:.4f}")
        if mae < best_mae:
            best_mae = mae
            best_params = params.copy()
            best_bst = bst

    print("\nBest validation MAE:", best_mae)
    print("Best parameters:", best_params)

    # Predict on test set using best model
    preds = best_bst.predict(dtest, iteration_range=(0, best_bst.best_iteration))
    test_df[pred_col] = y_test
    test_df[f'{pred_col}_preds'] = preds
    test_df['Team'] = team_encoder.inverse_transform(test_df["Team"])
    test_df['Opp'] = team_encoder.inverse_transform(test_df["Opp"])
    test_df['Player'] = player_encoder.inverse_transform(test_df["Player"])
    test_df['Pos'] = position_encoder.inverse_transform(test_df["Pos"])
    analyze_df = test_df[['Date', 'Team', 'Player', 'Pos', 'Opp', pred_col, f'{pred_col}_preds']]
    print("\nTest Metrics:")
    print("RMSE:", np.sqrt(mean_squared_error(y_test, preds)))
    print("MAE:", mean_absolute_error(y_test, preds))
    print("R²:", r2_score(y_test, preds))

    return best_bst, preds, y_test, analyze_df

### Create Base df

In [6]:
df = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
for i in [2022, 2023, 2024, 2025]:
    df_actuals = pd.read_csv(f"../tables/{i}/parlay_actuals.csv")
    df_actuals['Season'] = i
    df = pd.concat([df, df_actuals])

    df_schd = pd.read_csv(f"../tables/{i}/nba_schedule.csv")
    df_schd['Season'] = i
    df2 = pd.concat([df2, df_schd])
    
    df_gms = pd.read_csv(f"../tables/{i}/season_gamelogs.csv")
    df_gms['Season'] = i
    df3 = pd.concat([df3, df_gms])
    
    df_inj = pd.read_csv(f"../tables/{i}/injuries.csv")
    df_inj['Season'] = i
    df4 = pd.concat([df4, df_inj])

df['Date'] = pd.to_datetime(df.Date)
df2['Date'] = pd.to_datetime(df2.Date)
df3['Date'] = pd.to_datetime(df3.Date)
df3 = df3[~df3[['Date', 'Team', 'Player']].duplicated(keep='last')]
df4['Date'] = pd.to_datetime(df4.Date)

df['Tms'] = df['game_id'].apply(lambda x: x.split("_")[1:3])
df['WrngTm'] = df.apply(lambda row: 0 if row['Team'] in row['Tms'] else 1, axis=1)
df['WrngOpp'] = df.apply(lambda row: 0 if row['Opp'] in row['Tms'] else 1, axis=1)
df = df[(df.WrngTm == 0) & (df.WrngOpp == 0)].drop(['WrngTm', 'WrngOpp', 'Tms'], axis=1)

df3_temp = df3[['game_id', 'Date', 'Team', 'Player', 'Active', 'FG', 'FGA', 'FG%', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'TOV', 'PF', '+/-']]\
        .rename(columns={"3PA": "TPA", "3P%": "TP%"})
df = df.merge(df3_temp, on=['game_id', 'Date', 'Team', 'Player'])

df_mtch = df2[['Season', 'Date', 'AwayABV', 'HomeABV', 'AwayPTS', 'HomePTS', 'AwayB2B', 'HomeB2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
df_mtch['Team_type'] = 'Away'
df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm', 'Team_type']]
df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
df_mtch2['Team_type'] = 'Home'
df_mtch = pd.concat([df_mtch, df_mtch2])
df_mtch = df_mtch[['Season', 'Date', 'Team', 'Team_type', 'AwayPTS', 'HomePTS', 'is_OT', 'cup_gm', 'pstszn_gm']]
df_mtch = df_mtch.sort_values(["Team", "Date"])
df_mtch['team_game_num'] = df_mtch.groupby(["Team", "Season"]).cumcount() + 1
df_mtch['Spread'] = np.where(df_mtch.Team_type == 'Home', df_mtch.HomePTS - df_mtch.AwayPTS, df_mtch.AwayPTS - df_mtch.HomePTS)
df_mtch['Total'] = df_mtch.AwayPTS + df_mtch.HomePTS
df_mtch['is_Win'] = np.where(df_mtch.Spread > 0, 1, 0)
df_mtch['Szn_Wins'] = df_mtch.groupby(['Season', 'Team'])['is_Win'].cumsum()
df = df.drop(['Spread', 'Total'], axis=1).merge(df_mtch, on=['Season', 'Date', 'Team'])

df = df.merge(df4[['Date', 'Team', 'Player', 'Status']], on=['Date', 'Team', 'Player'], how='left')
df['Status'] = np.where((df.Active == 1), 'Available', df.Status)
df['Status'] = np.where((df.Active == 0), 'Out', df.Status)
df['Status'] = np.where((df.Status == 'Out') & (df.Active != 0), 'Available', df.Status)

team_encoder = LabelEncoder()
player_encoder = LabelEncoder()
team_type_encoder = LabelEncoder()
position_encoder = LabelEncoder()

# Encode string cols
team_encoder.fit(pd.concat([df["Team"], df["Opp"]], axis=0))
df["Team"] = team_encoder.transform(df["Team"])
df["Opp"] = team_encoder.transform(df["Opp"])
df["Player_name"] = df.Player
df["Player"] = player_encoder.fit_transform(df["Player"])
df["Pos"] = position_encoder.fit_transform(df["Pos"])
df['Team_type'] = team_type_encoder.fit_transform(df['Team_type'])
df = df[(df.Active == 1) & (df.MP > 0)].sort_values(['Season', 'Date', 'Team', 'Player']).reset_index(drop=True)
print('base df created', datetime.now())

base df created 2025-12-27 17:57:46.800016

# Minutes Projection Model

In [7]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0  # Earth radius in km
    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = math.sin(dlat/2)**2 + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

def travel_km_from_row(row):
    prev = row['PrevLocation']
    cur  = row['Location']
    # missing prev => first game => no travel
    if pd.isna(prev) or pd.isna(cur):
        return 0.0
    # same arena => 0
    if prev == cur:
        return 0.0
    # lookup coords
    prev_coords = arenas.get(prev)
    cur_coords  = arenas.get(cur)
    if not prev_coords or not cur_coords:
        # fallback if code not found
        return 0.0
    return haversine_km(prev_coords[0], prev_coords[1], cur_coords[0], cur_coords[1])

In [21]:
def setup_df_mins(con, df):
    
    df = df[['Season', 'Date', 'Team', 'Team_type', 'Opp', 'Player', 'Pos', 'B2B', 'MP', 'TOV', 'PF', '+/-',
             'Spread', 'Total', 'team_game_num', 'Szn_Wins', 'cup_gm', 'pstszn_gm', 'is_OT']]
    
    for col in ['MP', 'TOV', 'PF', '+/-']:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [3, 5, 10]:
            df[f'{col}_last_{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f"{col}_last_{N}_std"] = (
                df.groupby(['Player', 'Season'])[col]
                  .shift(1)
                  .rolling(window=N, min_periods=1)
                  .std()
            )
        df[f"{col}_change_L1"] = df[f"{col}_lst_gm"] - df[f"{col}_last_5_avg"]
        df[f"{col}_change_L3"] = df[f"{col}_last_3_avg"] - df[f"{col}_last_10_avg"]
        df[f"{col}_pct_change"] = (
            (df[f"{col}_lst_gm"] - df[f"{col}_last_10_avg"]) /
            (df[f"{col}_last_10_avg"] + 1e-6)
        )
    df["MP_spike"] = (df["MP_lst_gm"] > df["MP_last_10_avg"] + 8).astype(int)
    df["MP_drop"]  = (df["MP_lst_gm"] < df["MP_last_10_avg"] - 8).astype(int)
    df["MP_trend"] = df["MP_last_3_avg"] - df["MP_last_10_avg"]

    games_last_7_days = df.groupby(['Player', 'Season']).rolling('7D', on='Date')['MP'].count().shift(1).to_frame(name='games_last_7_days').reset_index()
    df = df.merge(games_last_7_days, on=['Player', 'Season', 'Date'])
    df['games_last_7_days'] = df.games_last_7_days.fillna(0).astype(int)
    
    df['prev_team_mins_pct'] = (df.groupby(['Player', 'Season'])['MP'].shift(1)) / 240
           
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
      
    df['missed_games'] = (
        df.groupby(['Player', 'Team', 'Season'])['team_game_num']      
          .diff()
          .sub(1)
          .fillna(0)
          .astype(int)
    )
    
    df['blowout'] = np.where(abs(df.Spread >= 15), 1, 0)
    
    # Location based features
    df["PrevOpp"] = df.groupby("Player")["Opp"].shift(1)
    df["DaysLstGm"] = (df.groupby("Player")["Date"].diff().dt.days).fillna(0).astype(int)
    df['Location'] = df.apply(lambda r: r['Team'] if r['Team_type'] == 'Home' else r['Opp'], axis=1)
    df['PrevLocation'] = df.groupby('Player')['Location'].shift(1)
    df['travel_km'] = df.apply(travel_km_from_row, axis=1).fillna(0)
    df['travel_hours'] = df['travel_km'] / 800.0      # approximate flight hours
    df['is_long_trip'] = (df['travel_km'] > 1500).astype(int)
    df['same_arena'] = (df['PrevLocation'] == df['Location']).astype(int)
    
    df = df.drop(['reserve_td', 'bench_td', 'starter_td', 'Szn_Wins', 'TOV', 'PF', '+/-', 
                  'PrevOpp', 'PrevLocation', 'Location'], axis=1)    
    
    return df

In [22]:
df_mins = df.copy()
df_mins = setup_df_mins(con, df_mins)
display(df_mins)

n = len(df_mins)
train_end = int(0.8 * n)
val_end   = int(0.9 * n)
mins_train_df = df_mins.iloc[:train_end]
mins_val_df   = df_mins.iloc[train_end:val_end]
mins_test_df  = df_mins.iloc[val_end:]
mins_DFS = (mins_train_df, mins_val_df, mins_test_df)

mins_model = create_baseline_model(df_mins, "MP", mins_DFS)
mins_model, mins_preds, y_test_mins, analyze_df_mins = hyperparam_tuning(mins_DFS, "MP", n_iter=1)
# feature_importance(mins_model)

,Season,Date,Team,Team_type,Opp,Player,Pos,B2B,MP,Spread,Total,team_game_num,cup_gm,pstszn_gm,is_OT,MP_lst_gm,MP_last_3_avg,MP_last_3_std,MP_last_5_avg,MP_last_5_std,MP_last_10_avg,MP_last_10_std,MP_change_L1,MP_change_L3,MP_pct_change,TOV_lst_gm,TOV_last_3_avg,TOV_last_3_std,TOV_last_5_avg,TOV_last_5_std,TOV_last_10_avg,TOV_last_10_std,TOV_change_L1,TOV_change_L3,TOV_pct_change,PF_lst_gm,PF_last_3_avg,PF_last_3_std,PF_last_5_avg,PF_last_5_std,PF_last_10_avg,PF_last_10_std,PF_change_L1,PF_change_L3,PF_pct_change,+/-_lst_gm,+/-_last_3_avg,+/-_last_3_std,+/-_last_5_avg,+/-_last_5_std,+/-_last_10_avg,+/-_last_10_std,+/-_change_L1,+/-_change_L3,+/-_pct_change,MP_spike,MP_drop,MP_trend,games_last_7_days,prev_team_mins_pct,reserve,bench,starter,missed_games,blowout,DaysLstGm,travel_km,travel_hours,is_long_trip,same_arena
0,2022,2022-10-21,0,1,21,5,2,0,14.37,10.0,206.0,2,0,0,0,NaN,20.166667,NaN,24.286,NaN,26.067000,NaN,NaN,-5.900333,NaN,NaN,0.666667,NaN,1.0,NaN,1.400000,NaN,NaN,-0.733333,NaN,NaN,3.000000,NaN,2.2,NaN,1.900000,NaN,NaN,1.100000,NaN,NaN,13.000000,NaN,17.0,NaN,12.500000,NaN,NaN,0.500000,NaN,0,0,-5.900333,3,NaN,0,1,0,0,0,0,0.0,0.0,0,0
1,2022,2022-10-21,0,1,21,120,0,0,31.62,10.0,206.0,2,0,0,0,NaN,4.266667,NaN,7.614,NaN,19.136000,NaN,NaN,-14.869333,NaN,NaN,0.000000,NaN,0.0,NaN,0.300000,NaN,NaN,-0.300000,NaN,NaN,0.000000,NaN,0.0,NaN,0.400000,NaN,NaN,-0.400000,NaN,NaN,3.333333,NaN,3.2,NaN,-1.500000,NaN,NaN,4.833333,NaN,0,0,-14.869333,1,NaN,0,0,1,0,0,0,0.0,0.0,0,0
2,2022,2022-10-21,0,1,21,171,3,0,32.53,10.0,206.0,2,0,0,0,NaN,26.603333,NaN,29.612,NaN,30.320000,NaN,NaN,-3.716667,NaN,NaN,1.333333,NaN,2.0,NaN,2.900000,NaN,NaN,-1.566667,NaN,NaN,2.333333,NaN,2.8,NaN,2.300000,NaN,NaN,0.033333,NaN,NaN,8.333333,NaN,6.4,NaN,4.400000,NaN,NaN,3.933333,NaN,0,0,-3.716667,4,NaN,0,0,1,0,0,0,0.0,0.0,0,0
3,2022,2022-10-21,0,1,21,178,4,0,39.62,10.0,206.0,2,0,0,0,NaN,30.693333,NaN,30.206,NaN,28.729000,NaN,NaN,1.964333,NaN,NaN,1.333333,NaN,1.2,NaN,1.000000,NaN,NaN,0.333333,NaN,NaN,3.333333,NaN,3.2,NaN,2.100000,NaN,NaN,1.233333,NaN,NaN,-12.000000,NaN,-6.6,NaN,-1.500000,NaN,NaN,-10.500000,NaN,0,0,1.964333,1,NaN,0,0,1,0,0,0,0.0,0.0,0,0
4,2022,2022-10-21,0,1,21,322,3,0,11.77,10.0,206.0,2,0,0,0,NaN,23.016667,NaN,22.238,NaN,17.904286,NaN,NaN,5.112381,NaN,NaN,2.333333,NaN,1.8,NaN,1.428571,NaN,NaN,0.904762,NaN,NaN,1.333333,NaN,1.4,NaN,1.428571,NaN,NaN,-0.095238,NaN,NaN,-6.000000,NaN,-3.2,NaN,-1.142857,NaN,NaN,-4.857143,NaN,0,0,5.112381,2,NaN,0,1,0,0,0,0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80245,2025,2025-12-26,29,1,27,59,4,0,25.97,21.0,255.0,29,0,0,0,22.57,26.680000,11.049689,28.976,9.501056,26.939000,7.589945,-6.406,-0.259000,-0.162181,3.0,2.333333,1.732051,2.4,1.516575,1.700000,1.370320,0.6,0.633333,0.764705,2.0,1.666667,2.000000,2.8,1.673320,2.600000,1.449138,-0.8,-0.933333,-0.230769,-18.0,-13.000000,7.094599,-5.4,8.792042,-5.600000,7.549099,-12.6,-7.400000,2.214286,0,0,-0.259000,1,0.094042,0,0,1,3,1,8,0.0,0.0,0,0
80246,2025,2025-12-26,29,1,27,89,4,0,30.78,21.0,255.0,29,0,0,0,34.17,34.233333,9.972002,34.696,9.443306,32.890000,7.671929,-0.526,1.343333,0.038918,2.0,1.333333,1.527525,1.2,1.516575,1.700000,1.316561,0.8,-0.366667,0.176470,3.0,2.000000,1.527525,2.2,1.516575,2.200000,1.398412,0.8,-0.200000,0.363636,-2.0,-0.666667,10.969655,1.4,8.105554,-6.200000,8.974656,-3.4,5.533333,-0.677419,0,0,1.343333,3,0.142375,0,0,1,1,1,5,0.0,0.0,0,0
80247,2025,2025-12-26,29,1,27,474,3,0,19.33,21.0,255.0,29,0,0,0,22.12,26.240000,6.830874,27.152,9.137200,26.376000,7.455239,-5.032,-0.136000,-0.161359,1.0,1.666667,1.000000,2.2,1.303840,1.900000,1.333333,-1.2,-0.233333,-0.473684,2.0,2.333333,0.577350,2.8,1.483240,2.700000,1.418136,-0.8,-0.366667,-0.259259,0.0,-7.333333,9.865766,0.2,9.964939,-1.700000,10.163114,-0.2,-5.633333,-1.000001,0,0,-0.136000,1,0.092167,0,0,1,2,1,6,0.0,0.0,0,0
80248,2025,2025-12-26,29,1,27,491,3,0,28.47,21.0,255.0,29,0,0,0,33.27,36.193333,6.712364,34.158,8.371425,32.618000,7.416872,-0.888,3.575333,0.019989,2.0,2.333333,0.577350,2.4,1.140175,2.700000,1.286684,-0.4,-0.366667,-0.259259,5.0,4.666667,1.527525,4.6,1.816590,4.000000,1.563472,0.4,0.666667,0.250000,-14.0,-7.333333,7.571878,-2.2,10.039920,-6.000000,9.843215,-11.8,-1.333333,1.333334,0,0,3.575333,3,0.138625,0,0,1,1,1,5,0.0,0.0,0,0
80249,2025,2025-12-26,29,1,27,736,4,0,19.62,21.0,255.0,29,0,0,0,25.45,23.666667,5.723691,20.676,5.814472,20.786000,7.347318,4.774,2.880667,0.224382,0.0,1.333333,1.000000,1.0,1.140175,1.200000,1.286684,-1.0,0.133333,-0.999999,1.0,1.333333,2.081666,1.4,1.516575,1.400000,1.505545,-0.4,-0.066667,-0.285714,4.0,1.000000,9.451631,0.2,9.486833,-5.500000,10.760525,3.8,6.500000,-1.727273,0,0,2.880667,3,0.106042,0,1,0,1,1,5,0.0,0.0,0,0

Minutes Model
Train: 64200 / Validation: 8025 / Test: 8025
RMSE: 5.985580583930471
MAE: 4.586915904582847
R²: 0.6477458857409831

Trial 1/1: {'n_estimators': 771, 'learning_rate': np.float64(0.020325754334655166), 'max_depth': 5, 'min_child_weight': 1, 'subsample': np.float64(0.8778585781772273), 'colsample_bytree': np.float64(0.8202107112591347), 'gamma': np.float64(0.21760105281707065), 'reg_lambda': np.float64(1.4820743094152), 'reg_alpha': np.float64(0.3059359880639583)}
Validation MAE: 4.8648

Best validation MAE: 4.864767165334351
Best parameters: {'learning_rate': np.float64(0.020325754334655166), 'max_depth': 5, 'min_child_weight': 1, 'subsample': np.float64(0.8778585781772273), 'colsample_bytree': np.float64(0.8202107112591347), 'gamma': np.float64(0.21760105281707065), 'reg_lambda': np.float64(1.4820743094152), 'reg_alpha': np.float64(0.3059359880639583), 'objective': 'reg:squarederror', 'tree_method': 'hist', 'device': 'cuda', 'seed': 42}

Test Metrics:
RMSE: 5.709985584849155
MAE: 4.271691475085678
R²: 0.6794368966617599

In [23]:
rmse = np.sqrt(mean_squared_error(y_test_mins, mins_preds)) # splits[5] = y_test
mae = mean_absolute_error(y_test_mins, mins_preds)
print('RMSE:', rmse)

df_yesterday = pd.read_csv(f'../tables/2025/gmday_preds_{tgt_stat}.csv')
df_yesterday['Date'] = pd.to_datetime(df_yesterday.Date)
df_yesterday = df_yesterday[(df_yesterday.Date == (datetime.strptime(now, "%Y-%m-%d") - timedelta(days=1)).strftime("%Y-%m-%d"))]\
                .rename(columns={"MP": "MP_proj"})

df_gms = pd.read_csv(f"../tables/2025/season_gamelogs.csv")
df_gms['Date'] = pd.to_datetime(df_gms.Date)

df_yesterday = df_yesterday.merge(df_gms[['Date', 'Team', 'Player', 'MP']], on=['Date', 'Team', 'Player'])
df_yesterday = df_yesterday[['Date', 'Team', 'Player', 'Pos', 'Opp', 'MP_proj', 'MP', 'MP_last_5_avg']][df_yesterday.MP > 0]

df_yesterday['Diff'] = abs(df_yesterday['MP_proj'] - df_yesterday['MP'])
df_yesterday['InRMSE_Range'] = np.where(df_yesterday['Diff'] <= rmse, 1, 0)

print("\nYesterday's Results:")
print("Total Accuracy (InRMSE_Range):", ((df_yesterday.InRMSE_Range == 1).sum() / df_yesterday.shape[0]))
print((df_yesterday.InRMSE_Range == 1).sum(), '/', df_yesterday.shape[0])

df_yesterday = df_yesterday.drop(['Diff'], axis=1)

if df_yesterday.shape[0] >= 50:
    for tm in df_yesterday.Team.unique():
        display(df_yesterday[df_yesterday.Team == tm])
else:
    display(df_yesterday)

RMSE: 5.709985584849155

Yesterday's Results:
Total Accuracy (InRMSE_Range): 0.6956521739130435
16 / 23

,Date,Team,Player,Pos,Opp,MP_proj,MP,MP_last_5_avg,InRMSE_Range
0,2025-12-26,ATL,Trae Young,PG,MIA,27.225084,32.02,30.102025,1
1,2025-12-26,NOP,Saddiq Bey,SF,PHO,32.134399,31.10,31.310867,1
2,2025-12-26,ATL,Dyson Daniels,SG,MIA,35.828362,35.52,34.120764,1
3,2025-12-26,NOP,Trey Murphy III,SF,PHO,35.226662,36.45,32.469898,1
4,2025-12-26,ATL,Nickeil Alexander-Walker,SG,MIA,33.005379,31.63,33.422110,1
5,2025-12-26,MIL,Bobby Portis,PF,MEM,19.060675,34.87,23.256227,0
6,2025-12-26,UTA,Jusuf Nurkic,C,DET,26.881813,31.83,23.166703,1
7,2025-12-26,UTA,Keyonte George,PG,DET,33.727917,35.33,34.837201,1
8,2025-12-26,TOR,Sandro Mamukelashvili,C,WAS,16.805347,32.70,21.846886,0
9,2025-12-26,NOP,Jordan Poole,PG,PHO,29.442039,30.62,27.850552,1
10,2025-12-26,UTA,Lauri Markkanen,PF,DET,36.002693,38.28,31.448502,1
11,2025-12-26,ORL,Paolo Banchero,PF,CHO,31.569069,31.20,31.830608,1
12,2025-12-26,WAS,Tre Johnson,SG,TOR,13.436856,19.62,19.706477,0
13,2025-12-26,WAS,Kyshawn George,SF,TOR,33.566544,28.47,31.402554,1
14,2025-12-26,PHI,VJ Edgecombe,SG,CHI,33.723236,33.37,33.327998,1
15,2025-12-26,WAS,Khris Middleton,SF,TOR,26.896774,19.33,26.011280,0
16,2025-12-26,DET,Cade Cunningham,PG,UTA,33.522575,37.13,35.398975,1
17,2025-12-26,PHO,Devin Booker,SG,NOP,32.245270,36.48,32.168371,1
18,2025-12-26,LAC,Brook Lopez,C,POR,13.850265,33.25,9.703181,0
19,2025-12-26,CHO,Kon Knueppel,SF,ORL,34.572460,15.22,34.992902,0
20,2025-12-26,NOP,Derik Queen,C,PHO,32.581551,19.60,29.652594,0
21,2025-12-26,ORL,Desmond Bane,SG,CHO,32.815186,32.75,34.978228,1
22,2025-12-26,CHI,Tre Jones,PG,PHI,27.314522,24.22,25.254346,1

# Main Model

In [24]:
def setup_df_main(df):
    
    # Stat dependent features 
    if tgt_stat == 'PTS':
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'B2B', 'MP', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', f'Def_{tgt_stat}', f'Def_L5_{tgt_stat}',
         'Spread', 'Total', 'cup_gm', 'pstszn_gm', 'is_OT']]
        # Efficiency metrics
        df['three_rate_raw'] =  np.where(df.FGA > 0, df['TPA'] / df['FGA'], 0)
        df['ft_rate_raw']    =  np.where(df.FGA > 0, df['FTA'] / df['FGA'], 0)
        df['eFG_raw'] = (df['FG'] + 0.5 * df['TPM']) / df['FGA']
        df['TS_raw'] = df['PTS'] / (2 * (df['FGA'] + 0.44 * df['FTA']))    
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        
        for w in [3, 5, 10]:
            for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
                col = f"{metric}_L{w}"
                df[col] = (
                    df.groupby(['Player','Season'])[f'{metric}_raw']
                      .rolling(w, min_periods=1)
                      .mean()
                      .shift(1)
                      .reset_index(level=[0,1], drop=True)
                )
        for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
            col = f'{metric}_weighted'
            df[col] = (
                0.6 * df[f'{metric}_L3'] +
                0.3 * df[f'{metric}_L5'] +
                0.1 * df[f'{metric}_L10']
            )
            df = df.drop(f'{metric}_raw', axis=1)
        tgt_stat_cols = ['PTS']
        
    elif tgt_stat == 'PRA':
        tgt_stat_cols = ['PTS', 'REB', 'AST']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'B2B', 'MP', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', f'Def_{tgt_stat}', f'Def_L5_{tgt_stat}',
         'Spread', 'Total', 'cup_gm', 'pstszn_gm', 'is_OT']]
        
    else:
        tgt_stat_cols = []
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'B2B', 'MP', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', f'Def_{tgt_stat}', f'Def_L5_{tgt_stat}',
         'Spread', 'Total', 'cup_gm', 'pstszn_gm', 'is_OT']]

    
    # Create rolling + lag features    
    for col in ['MP', 'FGA', 'TPA', 'FTA', tgt_stat] + tgt_stat_cols:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [3, 5, 10]:
            df[f'{col}_last_{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f"{col}_last_{N}_std"] = (
                df.groupby(['Player', 'Season'])[col]
                  .shift(1)
                  .rolling(window=N, min_periods=1)
                  .std()
            )

    # Role identifiers features
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    
    for col in categories + ['FG', 'FGA', 'FT', 'FTA', 'TPM', 'TPA', 'reserve_td', 'bench_td', 'starter_td'] + tgt_stat_cols:
        if col == tgt_stat:
            continue
        if col in df.columns:
            df = df.drop(col, axis=1)
        
    return df

In [30]:
df_main = df.copy()
df_main = setup_df_main(df_main)
display(df_main)

n = len(df_main)
train_end = int(0.65 * n)
val_end   = int(0.85 * n)
main_train_df = df_main.iloc[:train_end]
main_val_df   = df_main.iloc[train_end:val_end]
main_test_df  = df_main.iloc[val_end:]
main_DFS = (main_train_df, main_val_df, main_test_df)

# stat_model = create_baseline_model(df_main, tgt_stat, main_DFS)
stat_model, stat_preds, y_test_stat, analyze_df_stat = hyperparam_tuning(main_DFS, tgt_stat, n_iter=1)
# feature_importance(stat_model)

,Season,Date,Team,Opp,Player,Pos,B2B,MP,PRA,Def_PRA,Def_L5_PRA,Spread,Total,cup_gm,pstszn_gm,is_OT,MP_lst_gm,MP_last_3_avg,MP_last_3_std,MP_last_5_avg,MP_last_5_std,MP_last_10_avg,MP_last_10_std,FGA_lst_gm,FGA_last_3_avg,FGA_last_3_std,FGA_last_5_avg,FGA_last_5_std,FGA_last_10_avg,FGA_last_10_std,TPA_lst_gm,TPA_last_3_avg,TPA_last_3_std,TPA_last_5_avg,TPA_last_5_std,TPA_last_10_avg,TPA_last_10_std,FTA_lst_gm,FTA_last_3_avg,FTA_last_3_std,FTA_last_5_avg,FTA_last_5_std,FTA_last_10_avg,FTA_last_10_std,PRA_lst_gm,PRA_last_3_avg,PRA_last_3_std,PRA_last_5_avg,PRA_last_5_std,PRA_last_10_avg,PRA_last_10_std,PTS_lst_gm,PTS_last_3_avg,PTS_last_3_std,PTS_last_5_avg,PTS_last_5_std,PTS_last_10_avg,PTS_last_10_std,REB_lst_gm,REB_last_3_avg,REB_last_3_std,REB_last_5_avg,REB_last_5_std,REB_last_10_avg,REB_last_10_std,AST_lst_gm,AST_last_3_avg,AST_last_3_std,AST_last_5_avg,AST_last_5_std,AST_last_10_avg,AST_last_10_std,reserve,bench,starter
0,2022,2022-10-21,0,21,5,2,0,14.37,7,29.00000,29.0,10.0,206.0,0,0,0,NaN,20.166667,NaN,24.286,NaN,26.067000,NaN,NaN,11.333333,NaN,11.4,NaN,11.2,NaN,NaN,4.000000,NaN,4.4,NaN,4.400000,NaN,NaN,3.333333,NaN,4.2,NaN,4.500000,NaN,NaN,23.666667,NaN,24.2,NaN,24.300000,NaN,NaN,16.000000,NaN,16.6,NaN,16.800000,NaN,NaN,7.333333,NaN,6.8,NaN,6.400000,NaN,NaN,0.333333,NaN,0.8,NaN,1.1,NaN,0,1,0
1,2022,2022-10-21,0,21,120,0,0,31.62,15,23.50000,23.5,10.0,206.0,0,0,0,NaN,4.266667,NaN,7.614,NaN,19.136000,NaN,NaN,1.333333,NaN,2.2,NaN,4.0,NaN,NaN,1.333333,NaN,2.0,NaN,2.900000,NaN,NaN,0.000000,NaN,0.0,NaN,0.300000,NaN,NaN,1.333333,NaN,3.0,NaN,10.800000,NaN,NaN,1.000000,NaN,1.6,NaN,5.100000,NaN,NaN,0.000000,NaN,0.8,NaN,4.200000,NaN,NaN,0.333333,NaN,0.6,NaN,1.5,NaN,0,0,1
2,2022,2022-10-21,0,21,171,3,0,32.53,19,17.00000,17.0,10.0,206.0,0,0,0,NaN,26.603333,NaN,29.612,NaN,30.320000,NaN,NaN,12.666667,NaN,13.2,NaN,15.2,NaN,NaN,4.666667,NaN,5.4,NaN,6.200000,NaN,NaN,2.333333,NaN,3.4,NaN,4.600000,NaN,NaN,24.333333,NaN,25.6,NaN,29.700000,NaN,NaN,13.666667,NaN,15.8,NaN,19.800000,NaN,NaN,5.000000,NaN,3.8,NaN,4.100000,NaN,NaN,5.666667,NaN,6.0,NaN,5.8,NaN,0,0,1
3,2022,2022-10-21,0,21,178,4,0,39.62,38,26.00000,26.0,10.0,206.0,0,0,0,NaN,30.693333,NaN,30.206,NaN,28.729000,NaN,NaN,8.666667,NaN,8.4,NaN,8.1,NaN,NaN,0.000000,NaN,0.0,NaN,0.000000,NaN,NaN,1.333333,NaN,0.8,NaN,1.500000,NaN,NaN,21.666667,NaN,21.8,NaN,22.300000,NaN,NaN,13.666667,NaN,12.2,NaN,13.100000,NaN,NaN,7.666667,NaN,9.0,NaN,8.500000,NaN,NaN,0.333333,NaN,0.6,NaN,0.7,NaN,0,0,1
4,2022,2022-10-21,0,21,322,3,0,11.77,5,17.00000,17.0,10.0,206.0,0,0,0,NaN,23.016667,NaN,22.238,NaN,17.904286,NaN,NaN,6.333333,NaN,6.8,NaN,5.0,NaN,NaN,2.666667,NaN,4.0,NaN,2.857143,NaN,NaN,1.666667,NaN,2.2,NaN,1.857143,NaN,NaN,12.666667,NaN,13.6,NaN,10.571429,NaN,NaN,8.333333,NaN,9.4,NaN,7.285714,NaN,NaN,1.666667,NaN,1.6,NaN,1.285714,NaN,NaN,2.666667,NaN,2.6,NaN,2.0,NaN,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80245,2025,2025-12-26,29,27,59,4,0,25.97,30,23.80000,24.8,21.0,255.0,0,0,0,22.57,26.680000,11.049689,28.976,9.501056,26.939000,7.589945,7.0,7.000000,7.234178,7.2,5.310367,6.5,4.779586,4.0,3.666667,2.645751,3.8,2.588436,3.100000,2.131770,2.0,1.000000,2.516611,2.2,2.167948,2.600000,2.054805,9.0,10.666667,16.196707,13.0,15.368800,13.100000,12.613925,3.0,4.000000,13.076697,6.4,9.964939,6.800000,8.350649,4.0,4.666667,3.511885,4.2,4.898979,3.500000,4.022161,2.0,2.000000,1.000000,2.4,3.114482,2.8,3.405877,0,0,1
80246,2025,2025-12-26,29,27,89,4,0,30.78,28,23.80000,24.8,21.0,255.0,0,0,0,34.17,34.233333,9.972002,34.696,9.443306,32.890000,7.671929,15.0,14.333333,4.358899,16.2,5.357238,16.1,4.831609,5.0,7.333333,0.577350,6.8,2.073644,7.700000,2.043961,2.0,2.333333,1.154701,3.2,1.949359,2.800000,1.932184,22.0,26.333333,8.144528,28.4,13.773162,26.800000,12.149074,15.0,18.000000,6.244998,19.8,9.884331,19.800000,8.393119,3.0,4.000000,1.527525,4.4,3.114482,3.200000,3.835507,4.0,4.333333,2.000000,4.2,2.774887,3.8,3.299832,0,0,1
80247,2025,2025-12-26,29,27,474,3,0,19.33,13,27.62069,24.4,21.0,255.0,0,0,0,22.12,26.240000,6.830874,27.152,9.137200,26.376000,7.455239,9.0,10.333333,4.163332,9.8,5.540758,8.8,4.289522,3.0,3.000000,1.000000,2.2,2.280351,2.500000,2.043961,4.0,2.666667,1.154701,2.2,1.949359,1.600000,2.011080,13.0,20.333333,6.658328,22.4,11.886968,18.500000,11.830281,6.0,12.333333,6.244998,11.8,9.813256,10.100000,8.230026,3.0,3.333333,0.577350,4.6,2.588436,4.100000,3.910101,4.0,4.666667,1.154701,6.0,1.788854,4.3,3.134042,0,0,1
80248,2025,2025-12-26,29,27,491,3,0,28.47,32,27.62069,24.4,21.0,255.0,0,0,0,33.27,36.193333,6.712364,34.158,8.371425,32.618000,7.416872,13.0,14.000000,3.055050,12.6,3.435113,10.9,4.301163,7.0,6.000000,2.000000,6.4,1.483240,5.700000,2.170509,3.0,3.333333,1.000000,3.0,1.483240,2.100000,1.828782,25.0,30.333333,6.244998,27.4,7.949843,23.700000,11.671428,14.0,17.666667,4.932883,15.4,5.357238,13.200000,8.055364,4.0,5.666667,0.577350,5.4,1.224745,5.000000,3.915780,7.0,7.000000,1.732051,6.6,2.607681,5.5,3.197221,0,0,1
80249,2025,2025-12-26,29,27,736,4,0,19.62,16,NaN,NaN,21.0,255.0,0,0,0,25.45,23.666667,5.723691,20.676,5.814472,20.786000,7.347318,10.0,10.000000,2.081666,8.6,3.193744,8.3,4.289522,6.0,6.000000,2.081666,5.0,1.581139,4.700000,2.213594,4.0,2.000000,0.577350,2.2,1.000000,1.500000,1.852926,27.0,20.000000,7.571878,16.6,7.823043,15.000000,11.442610,19.0,13.000000,6.557439,11.2,6.655825,10.800000,8.305955,7.0,5.333333,2.081666,3.8,1.643168,2.700000,3.893014,1.0,1.666667,3.000000,1.6,2.302173,1.5,3.071373,0,1,0

Trial 1/1: {'n_estimators': 791, 'learning_rate': np.float64(0.03804793109742347), 'max_depth': 3, 'min_child_weight': 6, 'subsample': np.float64(0.903781895174463), 'colsample_bytree': np.float64(0.8498131197289525), 'gamma': np.float64(0.7842322157812636), 'reg_lambda': np.float64(3.6017775908912615), 'reg_alpha': np.float64(1.4259710692780296)}
Validation MAE: 4.2181

Best validation MAE: 4.218079090118408
Best parameters: {'learning_rate': np.float64(0.03804793109742347), 'max_depth': 3, 'min_child_weight': 6, 'subsample': np.float64(0.903781895174463), 'colsample_bytree': np.float64(0.8498131197289525), 'gamma': np.float64(0.7842322157812636), 'reg_lambda': np.float64(3.6017775908912615), 'reg_alpha': np.float64(1.4259710692780296), 'objective': 'reg:squarederror', 'tree_method': 'hist', 'device': 'cuda', 'seed': 42}

Test Metrics:
RMSE: 5.800355426815893
MAE: 4.3636322021484375
R²: 0.7872210144996643

In [31]:
analyze_df_stat = main_test_df.drop([tgt_stat, f'{tgt_stat}_preds'], axis=1)\
                .merge(analyze_df_stat[['Date', 'Team', 'Player', tgt_stat, f'{tgt_stat}_preds']], on=['Date', 'Team', 'Player'])
analyze_df_stat['Diff'] = analyze_df_stat[tgt_stat] - analyze_df_stat[f'{tgt_stat}_preds']
analyze_df_stat[analyze_df_stat.MP > 38].sort_values('Diff', ascending=True).head(15)

,Season,Date,Team,Opp,Player,Pos,B2B,MP,Def_PRA,Def_L5_PRA,Spread,Total,cup_gm,pstszn_gm,is_OT,MP_lst_gm,MP_last_3_avg,MP_last_3_std,MP_last_5_avg,MP_last_5_std,MP_last_10_avg,MP_last_10_std,FGA_lst_gm,FGA_last_3_avg,FGA_last_3_std,FGA_last_5_avg,FGA_last_5_std,FGA_last_10_avg,FGA_last_10_std,TPA_lst_gm,TPA_last_3_avg,TPA_last_3_std,TPA_last_5_avg,TPA_last_5_std,TPA_last_10_avg,TPA_last_10_std,FTA_lst_gm,FTA_last_3_avg,FTA_last_3_std,FTA_last_5_avg,FTA_last_5_std,FTA_last_10_avg,FTA_last_10_std,PRA_lst_gm,PRA_last_3_avg,PRA_last_3_std,PRA_last_5_avg,PRA_last_5_std,PRA_last_10_avg,PRA_last_10_std,PTS_lst_gm,PTS_last_3_avg,PTS_last_3_std,PTS_last_5_avg,PTS_last_5_std,PTS_last_10_avg,PTS_last_10_std,REB_lst_gm,REB_last_3_avg,REB_last_3_std,REB_last_5_avg,REB_last_5_std,REB_last_10_avg,REB_last_10_std,AST_lst_gm,AST_last_3_avg,AST_last_3_std,AST_last_5_avg,AST_last_5_std,AST_last_10_avg,AST_last_10_std,reserve,bench,starter,PRA,PRA_preds,Diff
2923,2024,2025-04-29,IND,MIL,Pascal Siakam,PF,0,41.20,21.691589,24.6,1.0,237.0,0,1,1,29.40,31.586667,8.857998,32.142,7.805467,31.082,8.068112,10.0,15.000000,3.000000,14.0,3.049590,14.6,4.268749,2.0,3.666667,1.000000,3.6,1.140175,3.6,3.212822,2.0,3.666667,2.516611,3.2,2.073644,3.1,2.162817,19.0,30.666667,8.326664,29.2,7.231874,27.8,7.015063,12.0,21.333333,6.082763,19.8,5.357238,18.2,5.652925,3.0,6.333333,2.000000,6.8,1.673320,6.7,1.988858,4.0,3.000000,1.527525,2.6,1.643168,2.9,1.433721,0,0,1,15,36.809074,-21.809074
58,2024,2025-04-01,DEN,MIN,Peyton Watson,SF,0,45.32,19.500000,18.2,-1.0,279.0,0,0,2,27.22,33.530000,5.419339,29.712,10.309997,26.426,8.115482,9.0,9.666667,8.020806,9.6,6.503845,7.6,4.972145,2.0,2.000000,2.081666,2.4,1.923538,1.9,2.424413,0.0,2.666667,6.928203,2.2,5.272571,2.5,3.835507,17.0,22.666667,20.420578,20.4,16.852300,15.5,11.392005,8.0,14.666667,13.868429,13.0,10.521407,9.6,7.805981,5.0,6.000000,5.507571,5.6,5.338539,4.2,3.949684,4.0,2.000000,1.154701,1.8,2.167948,1.7,1.699673,0,1,0,10,30.608358,-20.608358
10643,2025,2025-12-07,LAL,PHI,Austin Reaves,SG,0,39.13,21.047619,12.6,4.0,220.0,0,0,0,33.32,35.830000,7.681154,37.688,7.805798,37.192,6.604033,18.0,17.000000,8.717798,16.2,6.870226,15.8,5.035982,8.0,8.666667,4.163332,8.2,3.633180,7.2,2.635231,17.0,11.000000,9.291573,10.8,7.224957,9.7,5.600099,47.0,43.000000,24.331050,44.8,17.564168,41.6,13.106402,36.0,32.000000,19.731531,33.4,14.142136,30.2,10.405661,3.0,4.000000,0.000000,5.0,2.607681,5.9,2.108185,8.0,7.000000,4.618802,6.4,3.361547,5.5,2.472066,0,0,1,19,39.352135,-20.352135
11894,2025,2025-12-25,DEN,MIN,Peyton Watson,SF,0,42.22,NaN,NaN,4.0,280.0,0,0,1,27.85,18.840000,6.957032,23.038,5.162843,28.033,7.933442,9.0,7.666667,2.000000,8.6,3.435113,10.2,6.398785,4.0,3.000000,1.732051,3.0,4.764452,4.0,3.977716,4.0,4.000000,1.154701,3.4,2.280351,3.0,4.157991,25.0,18.000000,8.962886,18.0,8.734987,20.9,12.976903,20.0,15.333333,4.163332,13.0,6.024948,14.4,9.527154,3.0,1.666667,5.291503,3.8,4.219005,4.7,4.571652,2.0,1.000000,6.658328,1.2,5.079370,1.8,3.977716,0,0,1,13,32.487591,-19.487591
3739,2024,2025-05-26,MIN,OKC,Anthony Edwards,SG,0,40.93,19.727723,28.8,-2.0,254.0,0,1,0,29.70,35.446667,3.691021,36.154,7.683709,38.754,13.967116,17.0,18.666667,7.023769,18.4,6.797058,19.7,8.962267,8.0,8.333333,4.163332,9.0,3.033150,8.9,3.984693,2.0,6.333333,1.154701,4.8,1.414214,7.0,2.110819,45.0,40.666667,15.695010,40.4,14.202113,41.1,17.088007,30.0,26.666667,12.055428,26.4,10.382678,26.9,12.547244,9.0,9.000000,2.309401,7.6,3.346640,8.5,3.359894,6.0,5.000000,3.214550,6.4,2.280351,5.7,3.560587,0,0,1,26,45.420410,-19.420410
7316,2025,2025-11-14,DAL,LAC,Cooper Flagg,PG,0,47.65,27.230769,27.8,-6.0,260.0,1,0,2,33.70,34.056667,15.287004,32.894,11.035132,32.702,11.630775,15.0,15.000000,7.571878,14.8,5.761944,13.2,7.140650,7.0,4.666667,3.055050,4.6,3.033150,4.3,3.665151,4.0,4.666667,2.081666,3.8,1.788854,3.4,2.002776,28.0,30.666667,14.798649,28.6,12.095454,25.3,12.073847,16.0,18.000000,9.539392,17.2,7.582875,15.3,7.456541,6.0,7.333333,2.645751,7.4,2.345208,6.6,3.835507,6.0,5.333333,3.000000,4.0,3.130495,3.4,3.055050,0,0,1,21,39.898109,-18.898109
9414,2025,2025-11-29,DET,MIA,Cade Cunningham,PG,1,38.38,27.416667,25.2,3.0,273.0,0,0,0,39.98,37.393333,13.327822,35.714,10.086373,37.230,12.329195,26.0,23.333333,11.930353,22.2,8.502941,24.2,8.017342,7.0,6.000000,3.605551,6.2,3.114482,6.7,3.190263,12.0,12.666667,6.110101,9.6,4.358899,9.3,3.966527,63.0,53.000000,29.501412,49.4,21.459264,49.2,19.933222,39.0,35.000000,19.157244,31.8,13.590438,32.9,13.742068,13.0,10.666667,4.582576,9.2,4.159327,7.1,3.865805,11.0,7.333333,5.859465,8.4,4.393177,9.2,4.110961,0,0,1,41,58.556511,-17.556511
2428,2024,2025-04-21,NYK,DET,OG Anunoby,PF,0,42.42,24.063636,24.8,-6.0,194.0,0,1,0,44.10,40.070000,15.958283,38.248,13.487347,36.913,12.410126,18.0,16.333333,8.660254,16.6,6.745369,17.0,7.763876,8.0,7.333333,4.163332,6.8,3.286335,7.1,2.699794,4.0,4.000000,2.309401,3.4,1.788854,4.7,3.155243,30.0,25.000000,12.897028,29.6,10.871982,32.3,14.041209,23.0,17.000000,11.930353,21.4,9.066422,24.4,10.564616,7.0,6.333333,3.214550,5.8,3.114482,5.4,3.665151,0.0,1.666667,2.309401,2.4,1.788854,2.5,2.828427,0,0,1,17,34.280281,-17.280281
1949,2024,2025-04-13,LAC,GSW,Norman Powell,SG,0,43.87,20.329412,17.6,5.0,243.0,0,0,1,35.97,35.433333,10.191011,33.386,8.200710,32.685,12.276044,11.0,14.333333,7.637626,13.0,5.683309,13.6,5.513620,3.0,5.000000,0.000000,5.0,2.121320,5.8,2.270585,4.0,4.000000,3.055050,3.2,3.049590,3.0,2.875181,19.0,20.666667,16.093477,18.4,15.132746,21.1,13.341664,16.0,16.666667,12.000000,15.0,9.016651,16.9,8.148620,2.0,2.666667,2.886751,2.0,4.505552,2.2,4.376706,1.0,1.333333,1.527525,1.4,4.207137,2.0,3.047768,0,0,1,13,30.261646,-17.261646
2217,2024,2025-04-19,DEN,LAC,Christian Braun,SG,0,45.12,19.197452,17.4,2.0,222.0,0,1,1,31.40,33.940000,5.389122,35.774,6.310741,37.151,7.623109,7.0,9.333333,6.000000,11.2,7.092249,11.5,6.795423,1.0,2.666667,3.055050,3.0,2.792848,3.3,2.915476,3.0,3.333333,4.041452,2.8,3.781534,2.4,2.973961,24.0,24.666667,12.288206,28.6,14.720734,27.7,12.493999,11.0,16.000000,14.011900,18.8,14.656057,17.6,10.616549,7.0,4.333333,1.154701,5.6,2.645751,6.3,3.777124,6.0,4.333333,1.527525,4.2,1.303840,3.8,2.451757,0,0,1,15,31.663651,-16.663651
2827,2024,2025-04-27,NYK,DET,OG Anunoby,PF,0,39.05,24.000000,25.0,1.0,187.0,0,1,0,42.82,43.113333,17.820158,41.090,17.731586,38.100,16.918771,17.0,15.000000,7.810250,15.2,7.231874,15.9,7.572611,8.0,6.666667,4.163332,6.8,3.633180,6.8,3.583915,6.0,4.000000,3.464102,4.0,2.683282,4.2,4.458450,24.0,23.666667,11.015141,23.2,13.311649,29.3,16.983979,22.0,18.333333,11.269428,16.6,10.667708,21.7,12.355835,2.0,4.666667,1.527525,5.2,2.774887,5.4,3.900142,0.0,0.666667,0.000000,1.4,1.341641,2.2,3.705851,0,0,1,10,26.443375,-16.443375
3077,2024,2025-05-03,DEN,LAC,Jamal Murray,PG,0,41.52,25.137931,34.4,19.0,221.0,0,1,0,44.47,42.316667,24.560480,41.090,22.026740,37.866,17.825248,19.0,20.666667,10.692677,18.8,8.142481,17.9,6.967384,6.0,8.333333,3.464102,7.4,2.828427,6.8,2.514403,1.0,1.333333,0.577350,2.2,0.894427,3.1,0.674949,37.0,39.666667,20.808652,35.6,16.009372,33.5,12.472191,21.0,25.666667,11.590226,24.6,9.581232,22.0,8.363944,8.0,6.666667,4.618802,4.6,3.361547,5.3,2.923088,8.0,7.333333,4.618802,6.4,3.492850,6.2,2.406011,0,0,1,23,38.913788,-15.913788
11194,2025,2025-12-14,LAL,PHO,Luka Doncic,PG,0,38.20,25.848485,26.2,2.0,230.0,0,0,0,40.93,37.143333,15.795716,37.360,17.245203,37.791,14.077478,24.0,24.666667,11.532563,22.8,10.473777,22.3,8.390471,8.0,8.333333,4.041452,9.2,3.209361,9.9,2.378141,14.0,11.000000,7.023769,11.6,6.164414,13.0,4.526465,48.0,53.000000,23.288051,52.6,23.522330,53.1,18.012650,35.0,34.666667,16.502525,34.6,15.514509,35.1,11.998148,5.0,10.333333,6.429101,9.6,6.188699,8.9,4.724640,8.0,8.000000,4.618802,8.4,4.037326,9.1,3.204164,0,0,1,38,53.545742,-15.545742
2860,2024,2025-04-28,GSW,HOU,Stephen Curry,PG,0,39.12,25.700855,35.0,3.0,215.0,0,1,0,40.98,39.313333,9.249497,38.918,11.994410,34.927,9.278917,23.0,19.000000,8.962886,19.8,8.258329,18.8,5.696978,13.0,10.333333,5.291503,11.2,5.176872,11.0,4.148628,8.0,4.666667,4.618802,7.2,3.464102,4.4,2.584140,52.0,42.000000,21.571586,44.0,19.227584,38.1,13.132233,36.0,29.000000,18.357560,32.0,14.679918,26.8,10.263744,7.0,6.000000,4.509250,5.8,4.219005,5.5,3.326660,9.0,7.000000,3.605551,6.2,3.563706,5.8,3.627059,0,0,1,23,38.521744,-15.521744
10741,2025,2025-12-08,MIN,PHO,Jaden McDaniels,PF,0,39.87,21.033333,20.2,-3.0,213.0,0,0,0,37.08,35.003333,18.070971,32.756,15.394843,31.569,11.999881,13.0,12.333333,6.506407,11.6,5.412947,10.7,7.024560,3.0,2.666667,2.081666,3.2,1.816590,3.3,2.201010,5.0,2.333333,2.886751,1.4,4.086563,1.7,3.339993,30.0,26.333333,15.044379,22.8,12.136721,21.4,14.497509,27.0,19.333333,14.364308,15.8,11.211601,13.8,11.998148,1.0,4.000000,2.081666,4.0,2.387467,4.8,2.983287,2.0,3.000000,2.000000,3.0,1.788854,2.8,1.969207,0,0,1,13,28.299503,-15.299503

In [32]:
rmse = np.sqrt(mean_squared_error(y_test_stat, stat_preds)) # splits[5] = y_test
mae = mean_absolute_error(y_test_stat, stat_preds)
print('RMSE:', rmse)

df_yesterday = pd.read_csv(f'../tables/2025/gmday_preds_{tgt_stat}.csv')
df_yesterday['Date'] = pd.to_datetime(df_yesterday.Date)
df_yesterday = df_yesterday[(df_yesterday.Date == (datetime.strptime(now, "%Y-%m-%d") - timedelta(days=1)).strftime("%Y-%m-%d"))]\
                .rename(columns={"MP": "MP_proj"})

df_gms = pd.read_csv(f"../tables/2025/season_gamelogs.csv")
df_gms['Date'] = pd.to_datetime(df_gms.Date)
df_gms = df_gms.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df_gms['STL_BLK'] = df_gms.STL + df_gms.BLK
df_gms['PR'] = df_gms.PTS + df_gms.REB 
df_gms['PA'] = df_gms.PTS + df_gms.AST
df_gms['RA'] = df_gms.REB + df_gms.AST
df_gms['PRA'] = df_gms.PTS + df_gms.REB + df_gms.AST

df_yesterday = df_yesterday.merge(df_gms[['Date', 'Team', 'Player', tgt_stat, 'MP']], on=['Date', 'Team', 'Player'])
df_yesterday = df_yesterday[['Date', 'Team', 'Player', 'Pos', 'Opp', 'MP_proj', 'MP', f'{tgt_stat}_line', f'{tgt_stat}_proj', tgt_stat]][df_yesterday.MP > 0]

df_yesterday['Diff'] = df_yesterday[f'{tgt_stat}_proj'] - df_yesterday[f'{tgt_stat}_line']
df_yesterday['Act_Res'] = np.where(df_yesterday[tgt_stat] > df_yesterday[f'{tgt_stat}_line'], 'O', 'U')
df_yesterday['Pred_Res'] = np.where(df_yesterday[f'{tgt_stat}_proj'] > df_yesterday[f'{tgt_stat}_line'], 'O', 'U')
df_yesterday['ParlayHit'] = np.where(df_yesterday['Act_Res'] == df_yesterday['Pred_Res'], 1, 0)

df_yesterday['Diff2'] = abs(df_yesterday[f'{tgt_stat}_proj'] - df_yesterday[tgt_stat])
df_yesterday['InRMSE_Range'] = np.where(df_yesterday['Diff2'] <= rmse, 1, 0)

print("Total Accuracy (ParlayHit):", ((df_yesterday.ParlayHit == 1).sum() / df_yesterday.shape[0]))
print((df_yesterday.ParlayHit == 1).sum(), "/", df_yesterday.shape[0])

print("\nTotal Accuracy (InRMSE_Range):", ((df_yesterday.InRMSE_Range == 1).sum() / df_yesterday.shape[0]))
print((df_yesterday.InRMSE_Range == 1).sum(), "/", df_yesterday.shape[0])

df_yesterday = df_yesterday.drop(['Diff', 'Diff2', 'Act_Res', 'Pred_Res'], axis=1).sort_values(f'{tgt_stat}_line', ascending=False)

if df_yesterday.shape[0] >= 50:
    for tm in df_yesterday.Team.unique():
        display(df_yesterday[df_yesterday.Team == tm])
else:
    display(df_yesterday)

RMSE: 5.800355426815893
Total Accuracy (ParlayHit): 0.48148148148148145
26 / 54

Total Accuracy (InRMSE_Range): 0.3333333333333333
18 / 54

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
0,2025-12-26,DET,Cade Cunningham,PG,UTA,33.522575,37.13,44.5,22.974571,51,0,0
20,2025-12-26,DET,Jalen Duren,C,UTA,28.722530,21.52,31.5,20.370556,15,1,1
41,2025-12-26,DET,Ausar Thompson,SF,UTA,26.640144,15.72,21.5,16.166050,14,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
2,2025-12-26,BOS,Jaylen Brown,SF,IND,36.369030,32.17,42.5,23.994831,37,1,0
36,2025-12-26,BOS,Derrick White,SG,IND,35.091469,33.10,27.5,21.595814,32,0,0
53,2025-12-26,BOS,Payton Pritchard,PG,IND,32.816216,37.70,25.5,21.071718,43,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
6,2025-12-26,ATL,Jalen Johnson,SF,MIA,33.184910,37.68,42.5,25.566648,43,0,0
3,2025-12-26,ATL,Trae Young,PG,MIA,27.225084,32.02,35.5,17.764946,38,0,0
49,2025-12-26,ATL,Zaccharie Risacher,SF,MIA,17.747307,20.35,14.5,9.679646,5,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
1,2025-12-26,POR,Deni Avdija,SF,LAC,35.097065,39.32,40.5,21.988342,47,0,0
17,2025-12-26,POR,Shaedon Sharpe,SG,LAC,32.307495,32.22,33.5,21.150043,22,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
5,2025-12-26,ORL,Paolo Banchero,PF,CHO,31.569069,31.20,39.5,22.294903,20,1,1
12,2025-12-26,ORL,Desmond Bane,SG,CHO,32.815186,32.75,31.5,17.786230,29,1,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
4,2025-12-26,PHO,Devin Booker,SG,NOP,32.245270,36.48,39.5,21.997318,44,0,0
29,2025-12-26,PHO,Dillon Brooks,SF,NOP,29.824379,32.75,27.5,19.353977,18,1,1
50,2025-12-26,PHO,Collin Gillespie,PG,NOP,32.225689,34.87,25.5,20.825830,28,0,0
40,2025-12-26,PHO,Mark Williams,C,NOP,28.036095,27.08,24.5,18.933426,39,0,0
47,2025-12-26,PHO,Royce O'Neale,SF,NOP,28.088346,25.27,19.5,14.408182,8,1,0
27,2025-12-26,PHO,Jordan Goodwin,PG,NOP,16.169270,19.60,17.5,9.058140,12,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
7,2025-12-26,PHI,Tyrese Maxey,PG,CHI,35.095100,40.35,39.5,23.504803,39,1,0
19,2025-12-26,PHI,Joel Embiid,C,CHI,29.145079,32.18,34.5,22.385271,37,0,0
52,2025-12-26,PHI,Paul George,PF,CHI,29.231369,34.53,25.5,20.953058,32,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
10,2025-12-26,LAC,Kawhi Leonard,SF,POR,33.548981,41.03,38.5,23.741829,42,0,0
9,2025-12-26,LAC,James Harden,PG,POR,34.449371,38.93,37.5,22.683601,42,0,0
37,2025-12-26,LAC,John Collins,PF,POR,28.263918,18.82,22.5,16.617462,12,1,1
39,2025-12-26,LAC,Brook Lopez,C,POR,13.850265,33.25,15.5,9.837057,37,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
13,2025-12-26,CHI,Josh Giddey,PG,PHI,32.553432,32.62,36.5,22.843660,29,1,0
25,2025-12-26,CHI,Coby White,SG,PHI,30.220272,29.02,29.5,20.563972,26,1,1
42,2025-12-26,CHI,Nikola Vucevic,C,PHI,30.982941,28.57,27.5,22.213217,15,1,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
16,2025-12-26,MIL,Kevin Porter Jr.,PG,MEM,33.387081,33.20,36.5,23.548155,29,1,1
8,2025-12-26,MIL,Bobby Portis,PF,MEM,19.060675,34.87,28.5,12.570724,30,0,0
28,2025-12-26,MIL,Ryan Rollins,PG,MEM,28.487728,23.43,25.5,17.261414,24,1,0
38,2025-12-26,MIL,Kyle Kuzma,PF,MEM,27.778736,29.77,23.5,17.627335,25,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
14,2025-12-26,TOR,Brandon Ingram,SF,WAS,33.618164,33.23,34.5,21.416321,37,0,0
11,2025-12-26,TOR,Scottie Barnes,PF,WAS,33.111889,29.02,34.5,20.612482,25,1,1
22,2025-12-26,TOR,Immanuel Quickley,PG,WAS,29.748421,32.57,28.5,18.335772,34,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
43,2025-12-26,UTA,Lauri Markkanen,PF,DET,36.002693,38.28,34.5,29.312099,38,0,0
35,2025-12-26,UTA,Keyonte George,PG,DET,33.727917,35.33,32.5,26.490574,46,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
23,2025-12-26,MIA,Norman Powell,SG,ATL,32.800949,32.90,33.5,24.107307,37,0,0
24,2025-12-26,MIA,Kel'el Ware,C,ATL,28.611677,32.62,30.5,21.175604,29,1,0
32,2025-12-26,MIA,Jaime Jaquez Jr.,SF,ATL,30.231138,27.67,29.5,22.598141,24,1,1
44,2025-12-26,MIA,Andrew Wiggins,SF,ATL,32.987114,32.37,25.5,20.314362,29,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
21,2025-12-26,IND,Pascal Siakam,PF,BOS,30.471481,28.40,32.5,21.445385,18,1,1
26,2025-12-26,IND,Bennedict Mathurin,SF,BOS,30.343433,29.85,26.5,17.973186,21,1,1
51,2025-12-26,IND,Jay Huff,C,BOS,17.680510,21.13,16.5,11.875925,15,1,1
34,2025-12-26,IND,T.J. McConnell,PG,BOS,14.136462,14.33,15.5,9.452647,17,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
18,2025-12-26,CHO,LaMelo Ball,PG,ORL,27.921463,28.63,30.5,18.366518,34,0,0
46,2025-12-26,CHO,Brandon Miller,SF,ORL,31.873665,36.17,26.5,21.395544,16,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
15,2025-12-26,MEM,Ja Morant,PG,MIL,25.214083,25.33,28.5,15.485347,31,0,0
31,2025-12-26,MEM,Santi Aldama,PF,MIL,29.512175,30.02,26.5,18.733540,22,1,1
48,2025-12-26,MEM,Jaren Jackson Jr.,C,MIL,31.597401,30.10,26.5,21.572392,34,0,0
33,2025-12-26,MEM,Cedric Coward,SG,MIL,28.681988,24.95,23.5,16.959932,22,1,1

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
30,2025-12-26,NOP,Zion Williamson,PF,PHO,29.088306,27.97,28.5,20.590086,34,0,0

,Date,Team,Player,Pos,Opp,MP_proj,MP,PRA_line,PRA_proj,PRA,ParlayHit,InRMSE_Range
45,2025-12-26,WAS,CJ McCollum,SG,TOR,30.406355,30.78,24.5,19.348288,28,0,0

### Today's predictions

In [33]:
df_lines = pd.read_csv(f"../tables/2025/parlay_lines.csv")
df_lines['Date'] = pd.to_datetime(df_lines.Date)

df_pred = pd.read_csv("../tables/2025/parlay_stats.csv")
df_pred['Date'] = pd.to_datetime(df_pred.Date)
df_pred['Season'] = 2025
for col in df_pred.select_dtypes(include='object').columns:
    df_pred[col] = df_pred[col].astype('category')
df_pred = df_pred.drop(['Spread', 'Total'], axis=1).merge(df_mtch, on=['Season', 'Date', 'Team'])
df_pred[tgt_stat] = 0

# Predict minutes
df_act_mins = pd.read_csv("../tables/2025/parlay_actuals.csv")
df_act_mins['Date'] = pd.to_datetime(df_act_mins.Date)
df_pred = df_pred[df_pred.Player.isin(df.Player_name.unique())].merge(df_act_mins[['Date', 'Team', 'Player', 'MP', 'TPM']], on=['Date', 'Team', 'Player'], how='left')
df_temp = df.copy()
df_temp["Team"] = team_encoder.inverse_transform(df_temp["Team"])
df_temp['Player'] = player_encoder.inverse_transform(df_temp["Player"])
df_pred = df_pred.merge(df_temp[['Date', 'Team', 'Player', 'TOV', 'PF', '+/-', 'FGA', 'FG', 'TPA', 'FT', 'FTA',
                             'AST', 'REB', 'PR', 'PA', 'RA', 'STL', 'BLK', 'STL_BLK']], on=['Date', 'Team', 'Player'], how='left')

df_pred = df_pred.merge(df_lines, on=['Date', 'Team', 'Player'], how='left')
df_pred['Spread_x'] = np.where(df_pred.Spread_x.isnull(), df_pred.Spread_y, df_pred.Spread_x)
df_pred['Total_x'] = np.where(df_pred.Total_x.isnull(), df_pred.Total_y, df_pred.Total_x)
df_pred = df_pred.rename(columns={"Spread_x": "Spread", "Total_x": "Total"}).drop(['Spread_y', 'Total_y'], axis=1)
df_pred_mins = setup_df_mins(con, df_pred)

df_pred_mins = df_pred_mins.drop(['Date', 'MP'], axis=1)
df_pred_mins["Team"] = team_encoder.transform(df_pred_mins["Team"])
df_pred_mins["Opp"] = team_encoder.transform(df_pred_mins["Opp"])
df_pred_mins['Team_type'] = team_type_encoder.transform(df_pred_mins['Team_type'])
df_pred_mins["Player"] = player_encoder.transform(df_pred_mins["Player"])
df_pred_mins["Pos"] = position_encoder.transform(df_pred_mins["Pos"])
DM_mins = xgb.DMatrix(df_pred_mins)
df_pred['MP'] = mins_model.predict(DM_mins)
df_pred['N_TPM'] = df_pred.FG - df_pred.TPM
df_pred['PTS'] = (df_pred.FT * 1) + (df_pred.N_TPM * 2) + (df_pred.TPM * 3)
df_pred = setup_df_main(df_pred)
feature_cols = [col for col in df_pred.columns if col not in ['Date', tgt_stat]]
df_pred = df_pred[df_pred.Date == now][feature_cols]

# Predict stat
df_pred["Team"] = team_encoder.transform(df_pred["Team"])
df_pred["Opp"] = team_encoder.transform(df_pred["Opp"])
df_pred["Player"] = player_encoder.transform(df_pred["Player"])
df_pred["Pos"] = position_encoder.transform(df_pred["Pos"])
DM_stats = xgb.DMatrix(df_pred)
df_pred[f"{tgt_stat}_proj"] = stat_model.predict(DM_stats)

df_pred['Team'] = team_encoder.inverse_transform(df_pred["Team"])
df_pred['Opp'] = team_encoder.inverse_transform(df_pred["Opp"])
df_pred['Player'] = player_encoder.inverse_transform(df_pred["Player"])
df_pred['Pos'] = position_encoder.inverse_transform(df_pred["Pos"])

df_lines = df_lines[df_lines.Date == now][['Team', 'Player', f'{tgt_stat}_line']]
df_pred = df_pred.merge(df_lines, on=['Team', 'Player'])

tds_picks = df_pred[~(df_pred[f'{tgt_stat}_line'].isnull())]\
            [['Team', 'Player', 'Pos', 'Opp', 'MP', 'MP_last_5_avg', f'{tgt_stat}_line', f'{tgt_stat}_proj']]
tds_picks['Diff'] = abs((df_pred[f'{tgt_stat}_line'] - df_pred[f'{tgt_stat}_proj']))
tds_picks['Diff2'] = abs((df_pred['MP'] - df_pred['MP_last_5_avg']))
tds_picks = tds_picks[(tds_picks.Diff >= mae) & (tds_picks.Diff2 <= 8)].sort_values('Diff', ascending=False).drop(['Diff', 'Diff2'], axis=1)
display(tds_picks)
tds_picks.insert(0, 'Date', pd.to_datetime(now))
partition_save_df(tds_picks, f"../tables/2025/gmday_preds_{tgt_stat}.csv")

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
102,DEN,Nikola Jokic,C,ORL,37.244587,36.226789,53.5,31.522596
97,NYK,Karl-Anthony Towns,C,ATL,29.840424,33.430463,38.5,19.302729
40,CLE,Donovan Mitchell,SG,HOU,31.292988,35.315555,37.5,21.881079
53,ATL,Jalen Johnson,SF,NYK,34.768074,32.978499,45.5,30.498135
9,DAL,Cooper Flagg,PG,SAC,32.576683,37.789293,36.5,21.741770
37,MIN,Anthony Edwards,SG,BRK,37.231415,37.179587,36.5,22.389414
65,DAL,P.J. Washington,PF,SAC,25.979902,32.823985,26.5,13.730079
22,ATL,Trae Young,PG,NYK,28.952557,28.294092,34.5,21.776476
61,BRK,Michael Porter Jr.,SF,MIN,28.458183,32.378516,33.5,20.795614
15,NYK,Jalen Brunson,PG,ATL,36.708183,36.814547,40.5,28.051573
73,MIN,Julius Randle,PF,BRK,35.045544,35.216574,35.5,23.274776
8,SAC,Russell Westbrook,PG,DAL,28.488010,33.221563,32.5,20.362499
11,CHI,Josh Giddey,PG,MIL,33.145706,33.017583,35.5,23.623302
26,PHO,Devin Booker,SG,NOP,34.234928,31.836980,37.5,26.514217
89,MIA,Bam Adebayo,C,IND,29.017502,31.534240,29.5,19.673353
6,UTA,Keyonte George,PG,SAS,33.336834,34.890106,37.5,28.045895
34,SAC,Nique Clifford,SG,DAL,12.426466,18.047429,15.5,6.573157
52,DAL,Naji Marshall,SF,SAC,28.977207,33.366992,24.5,15.574411
66,ORL,Paolo Banchero,PF,DEN,32.875816,32.475105,37.5,28.592785
30,CHI,Coby White,SG,MIL,29.689995,29.677798,28.5,19.625864
96,HOU,Alperen Sengun,C,CLE,35.498318,36.367859,36.5,27.753696
0,DEN,Jamal Murray,PG,ORL,35.242550,35.527448,37.5,28.807980
1,BRK,Egor Demin,PG,MIN,9.471194,11.777615,16.5,8.117899
79,NOP,Zion Williamson,PF,PHO,27.892578,28.673937,28.5,20.537453
42,HOU,Kevin Durant,SF,CLE,37.927521,37.429477,35.5,27.730385
70,SAC,DeMar DeRozan,PF,DAL,31.770859,35.389729,29.5,22.181683
28,MIA,Norman Powell,SG,IND,32.842747,31.341188,30.5,23.218685
7,SAC,Dennis Schroder,PG,DAL,25.616016,28.316400,23.5,16.347328
95,CHI,Nikola Vucevic,C,MIL,28.989065,29.062179,26.5,19.611937
21,CLE,Darius Garland,PG,HOU,29.917698,32.717285,27.5,21.176470
47,NYK,Mikal Bridges,SF,ATL,31.622408,34.696649,25.5,19.227213
36,MIN,Donte DiVincenzo,SG,BRK,32.584251,32.958393,23.5,17.467382
86,MIN,Rudy Gobert,C,BRK,31.228739,30.789817,25.5,20.052639
76,BRK,Danny Wolf,PF,MIN,13.963367,20.156109,14.5,9.531527
51,DAL,Klay Thompson,SF,SAC,21.367804,20.904030,18.5,13.804913
14,MIL,Ryan Rollins,PG,CHI,27.258854,28.511163,22.5,17.857626
71,IND,Pascal Siakam,PF,MIA,33.784065,30.936523,32.5,28.119072

../tables/2025/gmday_preds_PRA.csv saved!