# To do:

 - Figure out how to signal injuries

In [1]:
import pandas as pd
import numpy as np
import duckdb
import warnings
import math         # haversine_km()
import os

import xgboost as xgb
from sklearn.preprocessing import LabelEncoder

# email
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

import warnings
from datetime import datetime, timedelta
from haversine import haversine

pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']
con = duckdb.connect(database=":memory:")

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

Today's date: 2026-01-03

In [2]:
%run ./common_utils.ipynb

# Initial Functions

In [3]:
def email(model, error):
    
    # Email details
    sender_email = "rodolfoe7157@gmail.com"
    receiver_email = "rodolfoe7157@gmail.com"
    password = "cqgu bfey cnyx sfue"  # See note below

    subject = "NBA create_Predictions error"
    body = f"Model: {model}_model\nERROR: {error}"

    # Create message
    msg = MIMEMultipart()
    msg['From'] = sender_email
    msg['To'] = receiver_email
    msg['Subject'] = subject
    msg.attach(MIMEText(body, 'plain'))

    # Connect to Gmail SMTP server and send
    with smtplib.SMTP_SSL('smtp.gmail.com', 465) as server:
        server.login(sender_email, password)
        server.send_message(msg)

    print("Email sent successfully!")

In [4]:
def create_base_df():
    df = pd.DataFrame()
    df2 = pd.DataFrame()
    df3 = pd.DataFrame()
    df4 = pd.DataFrame()
    for i in [2022, 2023, 2024, 2025]:
        df_actuals = pd.read_csv(f"../tables/{i}/parlay_stats.csv")
        df_actuals['Season'] = i
        df = pd.concat([df, df_actuals])

        df_schd = pd.read_csv(f"../tables/{i}/nba_schedule.csv")
        df_schd['Season'] = i
        df2 = pd.concat([df2, df_schd])

        df_gms = pd.read_csv(f"../tables/{i}/season_gamelogs.csv")
        df_gms['Season'] = i
        df3 = pd.concat([df3, df_gms])

        df_inj = pd.read_csv(f"../tables/{i}/injuries.csv")
        df_inj['Season'] = i
        df4 = pd.concat([df4, df_inj])

    df['Date'] = pd.to_datetime(df.Date)
    df2['Date'] = pd.to_datetime(df2.Date)
    df3['Date'] = pd.to_datetime(df3.Date)
    df3 = df3[~df3[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df4['Date'] = pd.to_datetime(df4.Date)

    df3_temp = df3.rename(columns={"3PM": "TPM", "3PA": "TPA", "3P%": "TP%", "TRB": "REB"}).drop(['Pos', 'Opp'], axis=1)
    df3_temp['PR'] = df3_temp.PTS + df3_temp.REB 
    df3_temp['PA'] = df3_temp.PTS + df3_temp.AST
    df3_temp['RA'] = df3_temp.REB + df3_temp.AST
    df3_temp['PRA'] = df3_temp.PTS + df3_temp.REB + df3_temp.AST
    df3_temp['STL_BLK'] = df3_temp.STL + df3_temp.BLK
    df = df.merge(df3_temp, on=['Season', 'Date', 'Team', 'Player'], how='left')

    df_mtch = df2[['Season', 'Date', 'AwayABV', 'HomeABV', 'AwayPTS', 'HomePTS', 'AwayB2B', 'HomeB2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch['Team_type'] = 'Away'
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm', 'Team_type']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Season', 'Date', 'Team', 'AwayPTS', 'HomePTS', 'Opp', 'B2B', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch2['Team_type'] = 'Home'
    df_mtch = pd.concat([df_mtch, df_mtch2])
    df_mtch = df_mtch[['Season', 'Date', 'Team', 'Team_type', 'AwayPTS', 'HomePTS', 'is_OT', 'cup_gm', 'pstszn_gm']]
    df_mtch = df_mtch.sort_values(["Team", "Date"])
    df_mtch['team_game_num'] = df_mtch.groupby(["Team", "Season"]).cumcount() + 1
    df_mtch['Spread'] = np.where(df_mtch.Team_type == 'Home', df_mtch.HomePTS - df_mtch.AwayPTS, df_mtch.AwayPTS - df_mtch.HomePTS)
    df_mtch['Total'] = df_mtch.AwayPTS + df_mtch.HomePTS
    df_mtch['is_Win'] = np.where(df_mtch.Spread > 0, 1, 0)
    df_mtch['Szn_Wins'] = df_mtch.groupby(['Season', 'Team'])['is_Win'].cumsum()
    df = df.drop(['Season', 'Team_type'], axis=1).merge(df_mtch, on=['Date', 'Team'])

    df = df.merge(df4[['Date', 'Team', 'Player', 'Status']], on=['Date', 'Team', 'Player'], how='left')
    df['Status'] = np.where((df.Active == 1) & (df.Status.isnull()), 'Available', df.Status)
    df['Status'] = np.where((df.Active == 0), 'Out', df.Status)
    df['Status'] = np.where((df.Status == 'Out') & (df.Active != 0), 'Available', df.Status)
    
    return df

# Minutes Projection Model

In [5]:
def haversine_km(lat1, lon1, lat2, lon2):
    R = 6371.0  # Earth radius in km
    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = math.sin(dlat/2)**2 + math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) * math.sin(dlon/2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return R * c

def travel_km_from_row(row):
    prev = row['PrevLocation']
    cur  = row['Location']
    # missing prev => first game => no travel
    if pd.isna(prev) or pd.isna(cur):
        return 0.0
    # same arena => 0
    if prev == cur:
        return 0.0
    # lookup coords
    prev_coords = arenas.get(prev)
    cur_coords  = arenas.get(cur)
    if not prev_coords or not cur_coords:
        # fallback if code not found
        return 0.0
    return haversine_km(prev_coords[0], prev_coords[1], cur_coords[0], cur_coords[1])

In [6]:
def setup_df_mins(con, df):
    
    df = df[['Season', 'Date', 'Team', 'Team_type', 'Opp', 'Player', 'Pos', 'B2B', 'MP', 'TOV', 'PF', '+/-',
             'Spread', 'Total', 'team_game_num', 'Szn_Wins', 'cup_gm', 'pstszn_gm', 'is_OT']]
    
    for col in ['MP', 'TOV', 'PF', '+/-']:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [3, 5, 10]:
            df[f'{col}_last_{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f"{col}_last_{N}_std"] = (
                df.groupby(['Player', 'Season'])[col]
                  .shift(1)
                  .rolling(window=N, min_periods=1)
                  .std()
            )
        df[f"{col}_change_L1"] = df[f"{col}_lst_gm"] - df[f"{col}_last_5_avg"]
        df[f"{col}_change_L3"] = df[f"{col}_last_3_avg"] - df[f"{col}_last_10_avg"]
        df[f"{col}_pct_change"] = (
            (df[f"{col}_lst_gm"] - df[f"{col}_last_10_avg"]) /
            (df[f"{col}_last_10_avg"] + 1e-6)
        )
    df["MP_spike"] = (df["MP_lst_gm"] > df["MP_last_10_avg"] + 8).astype(int)
    df["MP_drop"]  = (df["MP_lst_gm"] < df["MP_last_10_avg"] - 8).astype(int)
    df["MP_trend"] = df["MP_last_3_avg"] - df["MP_last_10_avg"]

    games_last_7_days = df.groupby(['Player', 'Season']).rolling('7D', on='Date')['MP'].count().shift(1).to_frame(name='games_last_7_days').reset_index()
    games_last_7_days = games_last_7_days.drop_duplicates(
        subset=['Player', 'Season', 'Date']
    )
    df = df.merge(games_last_7_days, on=['Player', 'Season', 'Date'])
    df['games_last_7_days'] = df.games_last_7_days.fillna(0).astype(int)
    
    df['prev_team_mins_pct'] = (df.groupby(['Player', 'Season'])['MP'].shift(1)) / 240
           
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
      
    df['missed_games'] = (
        df.groupby(['Player', 'Team', 'Season'])['team_game_num']      
          .diff()
          .sub(1)
          .fillna(0)
          .astype(int)
    )
    
    df['blowout'] = np.where(abs(df.Spread >= 15), 1, 0)
    
    # Location based features
    df["PrevOpp"] = df.groupby("Player")["Opp"].shift(1)
    df["DaysLstGm"] = (df.groupby("Player")["Date"].diff().dt.days).fillna(0).astype(int)
    df['Location'] = df.apply(lambda r: r['Team'] if r['Team_type'] == 'Home' else r['Opp'], axis=1)
    df['PrevLocation'] = df.groupby('Player')['Location'].shift(1)
    df['travel_km'] = df.apply(travel_km_from_row, axis=1).fillna(0)
    df['travel_hours'] = df['travel_km'] / 800.0      # approximate flight hours
    df['is_long_trip'] = (df['travel_km'] > 1500).astype(int)
    df['same_arena'] = (df['PrevLocation'] == df['Location']).astype(int)
    
    df = df.drop(['Season', 'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter', 'Szn_Wins', 'TOV', 'PF', '+/-', 
                  'PrevOpp', 'PrevLocation', 'Location'], axis=1)    
    
    return df

# Main Model

In [7]:
def setup_df_main(df, tgt_stat):
    
    # Stat dependent features 
    if tgt_stat == 'PTS':
        tgt_stat_cols = ['PTS']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 
         'PTS', 'TPM', 
         'FG', 'FGA', 'TPA', 'FT', 'FTA', f'Def_{tgt_stat}', f'Def_L5_{tgt_stat}',
         'Spread', 'Total', 'is_OT']]
        
        # Efficiency metrics
        df['three_rate_raw'] =  np.where(df.FGA > 0, df['TPA'] / df['FGA'], 0)
        df['ft_rate_raw']    =  np.where(df.FGA > 0, df['FTA'] / df['FGA'], 0)
        df['eFG_raw'] = (df['FG'] + 0.5 * df['TPM']) / df['FGA']
        df['TS_raw'] = df['PTS'] / (2 * (df['FGA'] + 0.44 * df['FTA']))    
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        
        for w in [3, 5, 10]:
            for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
                col = f"{metric}_L{w}"
                df[col] = (
                    df.groupby(['Player','Season'])[f'{metric}_raw']
                      .rolling(w, min_periods=1)
                      .mean()
                      .shift(1)
                      .reset_index(level=[0,1], drop=True)
                )
        for metric in ['three_rate', 'ft_rate', 'eFG', 'TS', 'usage_proxy']:
            col = f'{metric}_weighted'
            df[col] = (
                0.6 * df[f'{metric}_L3'] +
                0.3 * df[f'{metric}_L5'] +
                0.1 * df[f'{metric}_L10']
            )
            df = df.drop(f'{metric}_raw', axis=1)
        
    elif tgt_stat == 'PRA':
        tgt_stat_cols = ['PTS', 'REB', 'AST', 'TOV']
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK', 'TOV',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', f'Def_{tgt_stat}', f'Def_L5_{tgt_stat}',
         'Spread', 'Total', 'is_OT']]
        
        df['usage_proxy_raw'] =  np.where(df.MP > 0, (df['FGA'] + 0.44 * df['FTA']) / df['MP'], 0)
        for w in [3, 5, 10]:
            df[f"usage_proxy_L{w}"] = (
                df.groupby(['Player','Season'])[f'usage_proxy_raw']
                  .rolling(w, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0,1], drop=True)
            )
        df['usage_proxy_weighted'] = (
            0.6 * df[f'usage_proxy_L3'] +
            0.3 * df[f'usage_proxy_L5'] +
            0.1 * df[f'usage_proxy_L10']
        )
        df = df.drop('usage_proxy_raw', axis=1)
        
        
    else:
        tgt_stat_cols = []
        df = df[['Season', 'Date', 'Team', 'Opp', 'Player', 'Pos', 'MP', 
         'PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK',
         'FG', 'FGA', 'TPA', 'FT', 'FTA', f'Def_{tgt_stat}', f'Def_L5_{tgt_stat}',
         'Spread', 'Total', 'is_OT']]

    
    # Create rolling + lag features    
    for col in ['MP', 'FGA', 'TPA', 'FTA', tgt_stat] + tgt_stat_cols:
        df[f'{col}_lst_gm'] = (
            df
            .groupby(['Player', 'Season'])[col]
            .shift(1)
        )
        for N in [3, 5, 10]:
            df[f'{col}_last_{N}_avg'] = (
                df.groupby(['Player', 'Season'])[col]
                  .rolling(window=N, min_periods=1)
                  .mean()
                  .shift(1)
                  .reset_index(level=[0, 1], drop=True)
            )
            df[f"{col}_last_{N}_std"] = (
                df.groupby(['Player', 'Season'])[col]
                  .shift(1)
                  .rolling(window=N, min_periods=1)
                  .std()
            )

    # Role identifiers features
    df['reserve_td'] = (df.MP < 8).astype(int)
    df['bench_td']   = ((df.MP >= 8) & (df.MP <= 25)).astype(int)
    df['starter_td'] = (df.MP > 25).astype(int)
    role_counts = df.groupby(['Season', 'Player'])[['reserve_td', 'bench_td', 'starter_td']].sum()
    role_counts['most_common_role'] = role_counts[['reserve_td', 'bench_td', 'starter_td']].idxmax(axis=1)
    role_counts['reserve'] = (role_counts['most_common_role'] == 'reserve_td').astype(int)
    role_counts['bench']   = (role_counts['most_common_role'] == 'bench_td').astype(int)
    role_counts['starter'] = (role_counts['most_common_role'] == 'starter_td').astype(int)
    df = df.merge(role_counts[['reserve', 'bench', 'starter']], on=['Season', 'Player'], how='left')
    df['role'] = 0
    df['role'] = np.where(df.starter == 1, 1, df.role)
    df['role'] = np.where(df.bench == 1, 2, df.role)
    df['role'] = np.where(df.reserve == 1, 3, df.role)
    
    for col in categories + ['Season', 'FG', 'FGA', 'FT', 'FTA', 'TPM', 'TPA', 
                             'reserve_td', 'reserve', 'bench_td', 'bench', 'starter_td', 'starter'] + tgt_stat_cols:
        if col == tgt_stat:
            continue
        if col in df.columns:
            df = df.drop(col, axis=1)
        
    return df

### Today's predictions

In [8]:
def generate_predictions(tgt_stat):
    team_encoder = LabelEncoder()
    player_encoder = LabelEncoder()
    team_type_encoder = LabelEncoder()
    position_encoder = LabelEncoder()
    status_encoder = LabelEncoder()
    
    df_pred = create_base_df()
    
    # Encode string cols
    team_encoder.fit(pd.concat([df_pred["Team"], df_pred["Opp"]], axis=0))
    df_pred["Team"] = team_encoder.transform(df_pred["Team"])
    df_pred["Opp"] = team_encoder.transform(df_pred["Opp"])
    df_pred["Player"] = player_encoder.fit_transform(df_pred["Player"])
    df_pred["Pos"] = position_encoder.fit_transform(df_pred["Pos"])
    df_pred['Team_type'] = team_type_encoder.fit_transform(df_pred['Team_type'])
    df_pred["Status"] = status_encoder.fit_transform(df_pred["Status"])
    
    mins_model = xgb.XGBRegressor()
    mins_model.load_model("../ML_models/mins_model.json")
    stat_model = xgb.XGBRegressor()
    stat_model.load_model(f"../ML_models/{tgt_stat}_model.json")
    
    df_lines = pd.read_csv(f"../tables/2025/parlay_lines.csv")
    df_lines['Date'] = pd.to_datetime(df_lines.Date)
    df_lines = df_lines[~(df_lines.Team.isnull())]

    # Predict Mins
    df_lines["Team"] = team_encoder.transform(df_lines["Team"])
    df_pred = df_pred.merge(df_lines[['Date', 'Team', 'Spread', 'Total']], on=['Date', 'Team'], how='left')
    df_pred = df_pred[~df_pred[['Date', 'Team', 'Player']].duplicated(keep='last')]
    df_pred['Spread_x'] = np.where(df_pred.Spread_x.isnull(), df_pred.Spread_y, df_pred.Spread_x)
    df_pred['Total_x'] = np.where(df_pred.Total_x.isnull(), df_pred.Total_y, df_pred.Total_x)
    df_pred = df_pred.rename(columns={"Spread_x": "Spread", "Total_x": "Total"}).drop(['Spread_y', 'Total_y'], axis=1)
    df_pred_mins = setup_df_mins(con, df_pred)
    df_pred_mins = df_pred_mins.drop(['Date', 'MP'], axis=1)
    df_pred['MP'] = mins_model.predict(df_pred_mins)

    # Predict Stat
    df_pred = setup_df_main(df_pred, tgt_stat)
    feature_cols = [col for col in df_pred.columns if col not in ['Date', tgt_stat]]
    df_pred = df_pred[df_pred.Date == now][feature_cols]
    df_pred[f"{tgt_stat}_proj"] = stat_model.predict(df_pred)

    df_pred['Team'] = team_encoder.inverse_transform(df_pred["Team"])
    df_lines['Team'] = team_encoder.inverse_transform(df_lines["Team"])
    df_pred['Opp'] = team_encoder.inverse_transform(df_pred["Opp"])
    df_pred['Player'] = player_encoder.inverse_transform(df_pred["Player"])
    df_pred['Pos'] = position_encoder.inverse_transform(df_pred["Pos"])

    df_lines = df_lines[df_lines.Date == now][['Team', 'Player', f'{tgt_stat}_line']]
    df_pred = df_pred.merge(df_lines, on=['Team', 'Player'])

    tds_picks = df_pred[~(df_pred[f'{tgt_stat}_line'].isnull())]\
                [['Team', 'Player', 'Pos', 'Opp', 'MP', 'MP_last_5_avg', f'{tgt_stat}_line', f'{tgt_stat}_proj']]
    tds_picks['Diff'] = abs((df_pred[f'{tgt_stat}_line'] - df_pred[f'{tgt_stat}_proj']))
    tds_picks['Diff2'] = abs((df_pred['MP'] - df_pred['MP_last_5_avg']))
    tds_picks = tds_picks.sort_values('Diff', ascending=False).drop(['Diff', 'Diff2'], axis=1)
    if tds_picks.shape[0] >= 50:
        print(tds_picks.shape[0], 'rows')
        for tm in tds_picks.Team.unique():
            display(tds_picks[tds_picks.Team == tm])
    else:
        display(tds_picks)
    tds_picks.insert(0, 'Date', pd.to_datetime(now))
    partition_save_df(tds_picks, f"../tables/2025/gmday_preds_{tgt_stat}.csv")

In [9]:
try: 
    generate_predictions('PTS')
except Exception as e:
    email('PTS', e)
    raise Exception(e)

99 rows

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
22,PHI,VJ Edgecombe,SG,NYK,36.369331,34.272108,15.5,24.134558
64,PHI,Paul George,PF,NYK,33.687702,31.542704,15.5,18.232698
87,PHI,Joel Embiid,C,NYK,33.704105,29.897334,25.5,27.532461
35,PHI,Jared McCain,SG,NYK,17.587103,21.798346,5.5,7.348822
7,PHI,Tyrese Maxey,PG,NYK,38.683205,37.939392,28.5,26.865591
23,PHI,Quentin Grimes,SG,NYK,31.995598,31.619585,11.5,12.563515

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
83,NYK,Karl-Anthony Towns,C,PHI,28.044193,31.899277,21.5,14.831409
48,NYK,Mikal Bridges,SF,PHI,35.643673,36.355669,17.5,12.941723
18,NYK,Tyler Kolek,PG,PHI,19.824503,21.131792,6.5,9.171886
29,NYK,Miles McBride,SG,PHI,29.263237,27.728961,12.5,14.265511
70,NYK,OG Anunoby,PF,PHI,35.982464,34.496019,18.5,18.736004
6,NYK,Jalen Brunson,PG,PHI,35.875370,36.650040,30.5,30.352837

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
3,GSW,Stephen Curry,PG,UTA,28.396404,33.198299,28.5,22.120724
47,GSW,Jimmy Butler,SF,UTA,28.641909,31.894160,19.5,17.342278
73,GSW,Quinten Post,PF,UTA,17.873606,19.447833,8.5,7.614228
71,GSW,Draymond Green,PF,UTA,22.018236,26.806299,8.5,7.803915
30,GSW,Moses Moody,SG,UTA,22.937450,23.208011,10.5,10.828719

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
0,UTA,Keyonte George,PG,GSW,34.043278,34.291418,25.5,31.464420
58,UTA,Brice Sensabaugh,SF,GSW,28.065126,22.803702,13.5,17.889864
62,UTA,Lauri Markkanen,PF,GSW,34.674934,35.292759,26.5,25.393345
95,UTA,Jusuf Nurkic,C,GSW,28.171799,28.244139,12.5,12.252919

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
24,ATL,Nickeil Alexander-Walker,SG,TOR,33.810169,32.162597,17.5,23.024481
10,ATL,Trae Young,PG,TOR,27.242359,27.160319,19.5,14.733018
32,ATL,Dyson Daniels,SG,TOR,35.352997,33.896677,11.5,16.162283
16,ATL,Vit Krejci,PG,TOR,26.673922,22.998086,8.5,12.458787
89,ATL,Onyeka Okongwu,C,TOR,34.217987,33.443823,15.5,18.873974
46,ATL,Jalen Johnson,SF,TOR,36.265789,35.066270,23.5,25.385792
55,ATL,Zaccharie Risacher,SF,TOR,22.867033,22.651906,9.5,9.825898

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
11,TOR,Immanuel Quickley,PG,ATL,33.590298,32.351594,16.5,20.684380
17,TOR,Jamal Shead,PG,ATL,22.761698,23.241946,7.5,10.133482
91,TOR,Sandro Mamukelashvili,C,ATL,19.635338,23.777174,11.5,9.541631
49,TOR,RJ Barrett,SF,ATL,26.863726,27.407697,15.5,13.882340
67,TOR,Scottie Barnes,PF,ATL,35.437054,34.883243,19.5,17.936531
45,TOR,Brandon Ingram,SF,ATL,35.580025,34.184127,23.5,22.765247
36,TOR,Ochai Agbaji,SG,ATL,17.463520,21.406557,5.5,6.107882

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
84,MIA,Bam Adebayo,C,MIN,32.443752,30.256756,16.5,20.550066
52,MIA,Jaime Jaquez Jr.,SF,MIN,30.914206,29.122285,15.5,17.913853
86,MIA,Kel'el Ware,C,MIN,27.156311,26.331040,12.5,14.445289
53,MIA,Andrew Wiggins,SF,MIN,31.928457,29.900376,15.5,17.287840
78,MIA,Nikola Jovic,PF,MIN,23.113770,14.184584,9.5,11.146284
12,MIA,Davion Mitchell,PG,MIN,29.892550,27.450117,8.5,9.231264
25,MIA,Norman Powell,SG,MIN,33.247528,30.163918,24.5,24.686945

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
13,DAL,Cooper Flagg,PG,HOU,37.442932,35.560542,19.5,23.374847
51,DAL,Naji Marshall,SF,HOU,28.604652,31.297777,9.5,12.743171
33,DAL,Max Christie,SG,HOU,28.987141,26.891979,9.5,12.174616
65,DAL,P.J. Washington,PF,HOU,32.269203,31.248331,13.5,14.735477
60,DAL,Anthony Davis,PF,HOU,34.032585,31.162738,21.5,22.320122
54,DAL,Klay Thompson,SF,HOU,18.391191,21.560114,8.5,8.449551

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
19,MIN,Anthony Edwards,SG,MIA,36.435844,35.420848,29.5,25.641056
61,MIN,Julius Randle,PF,MIA,33.776512,32.813372,20.5,23.580345
90,MIN,Naz Reid,C,MIA,29.102423,29.344857,13.5,15.322014
92,MIN,Rudy Gobert,C,MIA,33.949276,30.921858,11.5,13.153342
69,MIN,Jaden McDaniels,PF,MIA,29.240175,31.913567,13.5,12.089993
37,MIN,Jaylen Clark,SG,MIA,15.365822,14.226770,4.5,5.432926
27,MIN,Donte DiVincenzo,SG,MIA,30.995272,31.274847,13.5,12.626549

   Team         Player Pos  Opp         MP  MP_last_5_avg  PTS_line   PTS_proj
5   LAC   James Harden  PG  BOS  36.585045      32.909137      24.5  28.201611
99  LAC    Brook Lopez   C  BOS  21.385086      20.112105       6.5   9.519873
43  LAC  Kawhi Leonard  SF  BOS  37.583946      32.886784      28.5  26.543402
85  LAC    Ivica Zubac   C  BOS  26.224070      24.283150      10.5  11.919453
15  LAC      Kris Dunn  PG  BOS  28.291254      27.044938       7.5   8.650142
76  LAC   John Collins  PF  BOS  25.783493      26.071772      10.5   9.626100

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
77,POR,Toumani Camara,PF,SAS,33.596916,32.182790,12.5,15.902682
42,POR,Deni Avdija,SF,SAS,36.254711,35.302800,25.5,23.917709
20,POR,Shaedon Sharpe,SG,SAS,33.000290,31.405017,23.5,24.830093
94,POR,Donovan Clingan,C,SAS,28.498426,27.913218,11.5,12.170766
57,POR,Kris Murray,SF,SAS,26.070238,27.214075,6.5,6.334051
101,POR,Robert Williams,C,SAS,16.539629,12.175113,6.5,6.358246

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
28,SAS,Dylan Harper,SG,POR,22.144432,20.973669,14.5,11.251008
74,SAS,Harrison Barnes,PF,POR,25.358498,26.389650,10.5,8.693847
2,SAS,De'Aaron Fox,PG,POR,32.343224,30.925064,22.5,21.002316
96,SAS,Luke Kornet,C,POR,23.770195,22.011390,8.5,8.899705
56,SAS,Julian Champagnie,SF,POR,26.927835,26.210842,11.5,11.136260
4,SAS,Stephon Castle,PG,POR,32.010220,30.632796,20.5,20.829811

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
9,HOU,Reed Sheppard,PG,DAL,29.182123,26.455751,11.5,14.608193
40,HOU,Kevin Durant,SF,DAL,36.629131,33.506115,24.5,21.930534
72,HOU,Tari Eason,PF,DAL,21.633823,19.634111,10.5,8.790014
66,HOU,Jabari Smith Jr.,PF,DAL,34.872597,32.792640,14.5,13.270060
44,HOU,Amen Thompson,SF,DAL,36.678967,34.282750,16.5,17.304790
82,HOU,Alperen Sengun,C,DAL,34.238464,31.741766,21.5,22.062668

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
93,CHO,Moussa Diabate,C,CHI,16.181841,25.110595,8.5,5.472337
39,CHO,Brandon Miller,SF,CHI,32.678825,33.007659,20.5,23.331486
59,CHO,Miles Bridges,PF,CHI,34.009777,32.410394,18.5,21.209187
41,CHO,Kon Knueppel,SF,CHI,32.183243,32.868275,19.5,18.757133
1,CHO,LaMelo Ball,PG,CHI,29.230474,28.219849,20.5,21.169680

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
38,BOS,Jaylen Brown,SF,LAC,34.208282,32.109865,29.5,26.548931
80,BOS,Jordan Walsh,PF,LAC,13.446157,18.955074,4.5,3.340013
26,BOS,Anfernee Simons,SG,LAC,25.500124,26.420839,11.5,10.845861
98,BOS,Neemias Queta,C,LAC,26.526297,26.565491,9.5,9.759199
14,BOS,Payton Pritchard,PG,LAC,33.991421,33.021851,15.5,15.741062
100,BOS,Luka Garza,C,LAC,19.976204,17.606935,7.5,7.383589
21,BOS,Derrick White,SG,LAC,36.739292,34.553576,18.5,18.493675

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PTS_line,PTS_proj
31,CHI,Ayo Dosunmu,SG,CHO,24.854382,24.475160,14.5,11.581136
97,CHI,Jalen Smith,C,CHO,23.342018,18.148661,12.5,9.926430
34,CHI,Isaac Okoro,SG,CHO,24.864264,21.258855,8.5,10.824668
75,CHI,Patrick Williams,PF,CHO,17.892992,12.592262,9.5,7.360056
50,CHI,Kevin Huerter,SF,CHO,23.162554,21.864209,13.5,11.961717
63,CHI,Matas Buzelis,PF,CHO,27.605762,26.060579,16.5,16.973322
8,CHI,Tre Jones,PG,CHO,27.971874,25.126583,12.5,12.897856
88,CHI,Nikola Vucevic,C,CHO,32.026249,28.078619,16.5,16.620373

../tables/2025/gmday_preds_PTS.csv saved!

In [10]:
try: 
    generate_predictions('PRA')
except Exception as e:
    email('PRA', e)
    raise Exception(e)

67 rows

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
83,NYK,Karl-Anthony Towns,C,PHI,28.044193,31.899277,37.5,25.554541
48,NYK,Mikal Bridges,SF,PHI,35.643673,36.355669,26.5,19.469536
18,NYK,Tyler Kolek,PG,PHI,19.824503,21.131792,12.5,15.718107
6,NYK,Jalen Brunson,PG,PHI,35.875370,36.650040,40.5,38.983990
29,NYK,Miles McBride,SG,PHI,29.263237,27.728961,18.5,19.793352
70,NYK,OG Anunoby,PF,PHI,35.982464,34.496019,27.5,26.903774

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
32,ATL,Dyson Daniels,SG,TOR,35.352997,33.896677,22.5,30.681587
10,ATL,Trae Young,PG,TOR,27.242359,27.160319,30.5,22.684244
89,ATL,Onyeka Okongwu,C,TOR,34.217987,33.443823,27.5,32.474876
46,ATL,Jalen Johnson,SF,TOR,36.265789,35.066270,42.5,43.782692

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
22,PHI,VJ Edgecombe,SG,NYK,36.369331,34.272108,24.5,32.498386
64,PHI,Paul George,PF,NYK,33.687702,31.542704,24.5,27.894890
7,PHI,Tyrese Maxey,PG,NYK,38.683205,37.939392,40.5,37.386665
87,PHI,Joel Embiid,C,NYK,33.704105,29.897334,37.5,39.201508
23,PHI,Quentin Grimes,SG,NYK,31.995598,31.619585,18.5,18.725060

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
3,GSW,Stephen Curry,PG,UTA,28.396404,33.198299,36.5,29.102779
71,GSW,Draymond Green,PF,UTA,22.018236,26.806299,20.5,15.353271
47,GSW,Jimmy Butler,SF,UTA,28.641909,31.894160,30.5,25.884050

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
97,CHI,Jalen Smith,C,CHO,23.342018,18.148661,23.5,17.639938
88,CHI,Nikola Vucevic,C,CHO,32.026249,28.078619,30.5,26.781816
8,CHI,Tre Jones,PG,CHO,27.971874,25.126583,23.5,20.729622
50,CHI,Kevin Huerter,SF,CHO,23.162554,21.864209,19.5,17.439959
34,CHI,Isaac Okoro,SG,CHO,24.864264,21.258855,14.5,15.506063
63,CHI,Matas Buzelis,PF,CHO,27.605762,26.060579,23.5,24.012611

   Team         Player Pos  Opp         MP  MP_last_5_avg  PRA_line   PRA_proj
13  DAL   Cooper Flagg  PG  HOU  37.442932      35.560542      29.5  35.274399
51  DAL  Naji Marshall  SF  HOU  28.604652      31.297777      15.5  18.209642
60  DAL  Anthony Davis  PF  HOU  34.032585      31.162738      35.5  35.684834

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
0,UTA,Keyonte George,PG,GSW,34.043278,34.291418,36.5,42.089458
58,UTA,Brice Sensabaugh,SF,GSW,28.065126,22.803702,20.5,25.343185

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
77,POR,Toumani Camara,PF,SAS,33.596916,32.182790,20.5,25.139355
20,POR,Shaedon Sharpe,SG,SAS,33.000290,31.405017,30.5,34.345936
42,POR,Deni Avdija,SF,SAS,36.254711,35.302800,41.5,41.701046

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
28,SAS,Dylan Harper,SG,POR,22.144432,20.973669,21.5,16.924236
4,SAS,Stephon Castle,PG,POR,32.010220,30.632796,32.5,30.578897
2,SAS,De'Aaron Fox,PG,POR,32.343224,30.925064,32.5,30.581388

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
19,MIN,Anthony Edwards,SG,MIA,36.435844,35.420848,39.5,34.927620
69,MIN,Jaden McDaniels,PF,MIA,29.240175,31.913567,21.5,18.756638
61,MIN,Julius Randle,PF,MIA,33.776512,32.813372,33.5,36.220142
27,MIN,Donte DiVincenzo,SG,MIA,30.995272,31.274847,21.5,20.595100
90,MIN,Naz Reid,C,MIA,29.102423,29.344857,22.5,23.118521
92,MIN,Rudy Gobert,C,MIA,33.949276,30.921858,25.5,25.661982

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
39,CHO,Brandon Miller,SF,CHI,32.678825,33.007659,28.5,32.658676
59,CHO,Miles Bridges,PF,CHI,34.009777,32.410394,29.5,31.543585
1,CHO,LaMelo Ball,PG,CHI,29.230474,28.219849,33.5,31.841810
41,CHO,Kon Knueppel,SF,CHI,32.183243,32.868275,27.5,28.483892

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
25,MIA,Norman Powell,SG,MIN,33.247528,30.163918,30.5,34.195045
84,MIA,Bam Adebayo,C,MIN,32.443752,30.256756,29.5,32.644337
52,MIA,Jaime Jaquez Jr.,SF,MIN,30.914206,29.122285,25.5,28.273678
78,MIA,Nikola Jovic,PF,MIN,23.113770,14.184584,17.5,19.595497
53,MIA,Andrew Wiggins,SF,MIN,31.928457,29.900376,23.5,24.437870
12,MIA,Davion Mitchell,PG,MIN,29.892550,27.450117,18.5,17.910664

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
9,HOU,Reed Sheppard,PG,DAL,29.182123,26.455751,17.5,20.823668
82,HOU,Alperen Sengun,C,DAL,34.238464,31.741766,36.5,37.232033
44,HOU,Amen Thompson,SF,DAL,36.678967,34.282750,29.5,29.171495
40,HOU,Kevin Durant,SF,DAL,36.629131,33.506115,34.5,34.229385

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
49,TOR,RJ Barrett,SF,ATL,26.863726,27.407697,23.5,20.488605
11,TOR,Immanuel Quickley,PG,ATL,33.590298,32.351594,28.5,31.332422
67,TOR,Scottie Barnes,PF,ATL,35.437054,34.883243,35.5,32.918072
45,TOR,Brandon Ingram,SF,ATL,35.580025,34.184127,33.5,33.053905

   Team         Player Pos  Opp         MP  MP_last_5_avg  PRA_line   PRA_proj
15  LAC      Kris Dunn  PG  BOS  28.291254      27.044938      13.5  16.126171
5   LAC   James Harden  PG  BOS  36.585045      32.909137      36.5  38.048893
43  LAC  Kawhi Leonard  SF  BOS  37.583946      32.886784      39.5  39.486259

,Team,Player,Pos,Opp,MP,MP_last_5_avg,PRA_line,PRA_proj
38,BOS,Jaylen Brown,SF,LAC,34.208282,32.109865,40.5,38.224289
26,BOS,Anfernee Simons,SG,LAC,25.500124,26.420839,16.5,15.925295
98,BOS,Neemias Queta,C,LAC,26.526297,26.565491,19.5,19.366823
21,BOS,Derrick White,SG,LAC,36.739292,34.553576,28.5,28.620146
14,BOS,Payton Pritchard,PG,LAC,33.991421,33.021851,25.5,25.519278

../tables/2025/gmday_preds_PRA.csv saved!