In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from nbainjuries import injury
from datetime import timedelta
import warnings
import duckdb
import os
import requests

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}

print("Current working dir:", cwd)
print("RUN_LOCATION =", RUN_LOCATION)

Current working dir: C:/Users/Rodolfo/Jupyter_files/FantasyBasketball/notebooks
RUN_LOCATION = local

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings("ignore")

year = 2025
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

con = duckdb.connect(database=":memory:")
categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']

folders = os.listdir('../tables/')
df = pd.DataFrame()
for yr in folders:
    df_temp = pd.read_csv(f"../tables/{yr}/season_gamelogs.csv")
    df_temp.insert(0, 'Season', int(yr))
    df = pd.concat([df, df_temp])
df['Date'] = pd.to_datetime(df.Date)
df = df.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df['STL_BLK'] = df.STL + df.BLK
df['PR'] = df.PTS + df.REB 
df['PA'] = df.PTS + df.AST
df['RA'] = df.REB + df.AST
df['PRA'] = df.PTS + df.REB + df.AST

# # CONTROL DATE TO GO BACK AND RELOAD HISTORICAL DATA
# df = df[(df.Date != now)]

Today's date: 2025-12-08

In [3]:
%run ./common_utils.ipynb

In [7]:
df_gms = pd.read_csv(f"../tables/{year}/nba_schedule.csv")
df_gms = df_gms[(df_gms.Date == now)]
tms_today = df_gms.AwayABV.tolist() + df_gms.HomeABV.tolist()
df_gms['gm_id'] = df_gms.AwayABV + "_" + df_gms.HomeABV
df_gms['gm_id2'] = df_gms.HomeABV + "_" + df_gms.AwayABV
gms_today = df_gms.gm_id.tolist() + df_gms.gm_id2.tolist()
df_gms = df_gms.drop(['gm_id', 'gm_id2'], axis=1)
display(df_gms)

,Date,StartTime_ET,AwayTeam,AwayABV,HomeTeam,HomeABV,Arena,AwayB2B,HomeB2B,rtrvd
354,2025-12-08,7:00p,Sacramento Kings,SAC,Indiana Pacers,IND,Gainbridge Fieldhouse,0,0,0
355,2025-12-08,8:00p,Phoenix Suns,PHO,Minnesota Timberwolves,MIN,Target Center,0,0,0
356,2025-12-08,9:30p,San Antonio Spurs,SAS,New Orleans Pelicans,NOP,Smoothie King Center,0,0,0

In [8]:
df_teams = pd.read_csv("../src/team_info_xref.csv")

df_inj = injury.get_reportdata(datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]), return_df=True)
df_inj = df_inj.rename(columns={"Game Date": "Date", "Player Name": "Player", "Current Status": "Status"})
df_inj['Player'] = df_inj.Player.str.split(",").str[1] + " " + df_inj.Player.str.split(",").str[0]
df_inj['Player'] = df_inj['Player'].str.strip()
df_inj['Date'] = pd.to_datetime(df_inj['Date'])
df_inj = con.execute(f"""SELECT Date, ABV as Team, Player, Status, Reason FROM df_inj 
                         JOIN df_teams ON df_inj.Team = df_teams.Team
                         WHERE Date = '{now}' AND Status = 'Out'""").fetchdf()

df_best_out = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Fpts DESC) as Off_Rk FROM
                              (SELECT Team, Player, Pos, AVG(Fpts) as Fpts FROM df 
                              WHERE Season = {year} AND Fpts > 0 AND Pos != 'None'
                              GROUP BY Team, Player, Pos)""").fetchdf()
df_best_out = con.execute(f"""SELECT * EXCLUDE(t2.Team, t2.Player) FROM df_best_out t1 
                              JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                              ORDER BY Fpts DESC""").fetchdf()
display(df_best_out)

Validated Injury-Report_2025-12-08_04PM.

,Team,Player,Pos,Fpts,Off_Rk,Date,Status,Reason
0,SAS,Victor Wembanyama,C,37.833333,2,2025-12-08,Out,Injury/Illness - Left Calf; Strain
1,SAC,Domantas Sabonis,C,25.772727,6,2025-12-08,Out,Injury/Illness - Left Knee; Partial Meniscus Tear
2,PHO,Devin Booker,SG,23.386364,5,2025-12-08,Out,Injury/Illness - Right Groin; Strain
3,NOP,Zion Williamson,PF,21.850000,12,2025-12-08,Out,Injury/Illness - Right Adductor; Strain
4,IND,Aaron Nesmith,SF,16.590909,25,2025-12-08,Out,Injury/Illness - Left Knee MCL; Sprain
5,IND,Obi Toppin,PF,15.833333,27,2025-12-08,Out,Injury/Illness - Right Foot; Stress Fracture
6,PHO,Jalen Green,SG,14.250000,30,2025-12-08,Out,Injury/Illness - Right Hamstring; Strain
7,NOP,Jordan Poole,PG,14.214286,35,2025-12-08,Out,Injury/Illness - Left Quad; Strain
8,IND,Ben Sheppard,SG,10.704545,57,2025-12-08,Out,Injury/Illness - Left Calf; Strain
9,SAS,Jordan McLaughlin,PG,7.583333,55,2025-12-08,Out,Injury/Illness - Left Hamstring; Strain
10,SAC,Devin Carter,PG,5.500000,63,2025-12-08,Out,G League - On Assignment

In [9]:
def get_game_odds():

    dk_tm_mapping = {
                    "ATL Hawks": "ATL", "BKN Nets": "BRK", "BOS Celtics": "BOS", "CHA Hornets": "CHO", "CHI Bulls": "CHI",
                    "CLE Cavaliers": "CLE", "DAL Mavericks": "DAL", "DEN Nuggets": "DEN", "DET Pistons": "DET", 
                    "GS Warriors": "GSW", "HOU Rockets": "HOU", "IND Pacers": "IND", "LA Clippers": "LAC", 
                    "LA Lakers": "LAL", "MEM Grizzlies": "MEM", "MIA Heat": "MIA", "MIL Bucks": "MIL", "MIN Timberwolves": "MIN",
                    "NO Pelicans": "NOP", "NY Knicks": "NYK", "OKC Thunder": "OKC", "ORL Magic": "ORL", "PHI 76ers": "PHI",
                    "PHO Suns": "PHO", "POR Trail Blazers": "POR", "SA Spurs": "SAS", "SAC Kings": "SAC", "TOR Raptors": "TOR",
                    "UTA Jazz": "UTA", "WAS Wizards": "WAS", "GSW Warriors": "GSW", "LAL Lakers": "LAL", "NOP Pelicans": "NOP",
                    "NYK Knicks": "NYK", "PHX Suns": "PHO", "SAS Spurs": "SAS"
                    }

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://sportsbook.draftkings.com/",
        "Origin": "https://sportsbook.draftkings.com"
    }
    response = requests.get(f"https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C4511&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%274511%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%274511%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events", headers=headers)
    if response.status_code != 200:
        raise Exception('Bad Request')

    ids = []
    rows = []
    for i in range(len(response.json()['selections'])):
        if 'HC' in response.json()['selections'][i]['id'] or 'OU' in response.json()['selections'][i]['id']:
            ids.append(response.json()['selections'][i])
    for i in range(0, len(ids) - 1, 4):
        team1 = ids[i]['label']
        spread1 = ids[i]['points']
        team2 = ids[i+1]['label']
        spread2 = ids[i+1]['points']
        total = ids[i+2]['points']
        rows.append({"Team": team1, "Opp": team2, "Spread": spread1, "Total": total})
        rows.append({"Team": team2, "Opp": team1, "Spread": spread2, "Total": total})
    df_tm_bets = pd.DataFrame(rows)
    
    for key, value in dk_tm_mapping.items():
        df_tm_bets['Team'] = np.where(df_tm_bets.Team == key, value, df_tm_bets.Team)
        df_tm_bets['Opp'] = np.where(df_tm_bets.Opp == key, value, df_tm_bets.Opp)

    df_tm_bets['gm_id'] = df_tm_bets.Team + "_" + df_tm_bets.Opp
    df_tm_bets = df_tm_bets[(df_tm_bets.gm_id.isin(gms_today))].drop(['Opp', 'gm_id'], axis=1)
    
    return df_tm_bets

def get_sportsbook():
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://sportsbook.draftkings.com/",
        "Origin": "https://sportsbook.draftkings.com"
    }

    dk_cats = {"PTS": 12488, "AST": 12495, "REB": 12492, "STL": 13508, "BLK": 13780, "STL_BLK": 13781, "TPM": 12497, 
               "PA": 9973, "PR": 9976, "RA": 9974, "PRA": 5001}
    df_lines = pd.DataFrame()
    for key, value in dk_cats.items():
        response = requests.get(f"https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C{value}&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%27{value}%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%27{value}%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events", headers=headers)
        if response.status_code != 200:
            raise Exception('Bad Request')

        plyr_names = []
        pnt_lines = []
        for i in response.json()['selections']:
            plyr_names.append(i['participants'][0]['name'])
            pnt_lines.append(i['points'])
        df_dk = pd.DataFrame({"Player": plyr_names, f"{key}_line": pnt_lines}).drop_duplicates().reset_index(drop=True)

        if df_lines.empty:
            df_lines = df_dk
        else:
            df_lines = pd.merge(df_lines, df_dk, on="Player", how="outer")

    df_lines = pd.merge(pd.read_csv(f"../tables/{year}/plyr_pos_xref.csv"), df_lines, on='Player', how='right')
    df_lines = pd.merge(df_lines, get_game_odds(), on='Team')
    df_lines.insert(0, 'Date', pd.to_datetime(now))

    partition_save_df(df_lines, f"../tables/{year}/parlay_lines.csv") 
    display(df_lines)

    return df_lines

df_lines = get_sportsbook()

../tables/2025/parlay_lines.csv saved!

,Date,Team,Player,Pos,PTS_line,AST_line,REB_line,STL_line,BLK_line,STL_BLK_line,TPM_line,PA_line,PR_line,RA_line,PRA_line,Spread,Total
0,2025-12-08,IND,Andrew Nembhard,PG,16.5,6.5,3.5,NaN,NaN,NaN,1.5,23.5,19.5,10.5,26.5,-3.5,234.5
1,2025-12-08,MIN,Anthony Edwards,SG,29.5,4.5,5.5,1.5,0.5,2.5,3.5,33.5,34.5,9.5,38.5,-8.5,223.5
2,2025-12-08,IND,Bennedict Mathurin,SF,21.5,2.5,5.5,NaN,NaN,NaN,2.5,24.5,27.5,8.5,30.5,-3.5,234.5
3,2025-12-08,PHO,Collin Gillespie,PG,17.5,5.5,3.5,1.5,NaN,NaN,2.5,22.5,21.5,9.5,26.5,8.5,223.5
4,2025-12-08,SAS,De'Aaron Fox,PG,23.5,6.5,3.5,1.5,NaN,NaN,2.5,29.5,27.5,10.5,34.5,-9.5,238.5
5,2025-12-08,SAC,DeMar DeRozan,PF,18.5,3.5,3.5,0.5,NaN,NaN,NaN,22.5,22.5,7.5,26.5,3.5,234.5
6,2025-12-08,NOP,Derik Queen,C,13.5,4.5,7.5,NaN,0.5,NaN,NaN,17.5,20.5,11.5,24.5,9.5,238.5
7,2025-12-08,SAS,Devin Vassell,SG,15.5,NaN,3.5,0.5,NaN,NaN,2.5,NaN,19.5,NaN,NaN,-9.5,238.5
8,2025-12-08,PHO,Dillon Brooks,SF,22.5,NaN,3.5,1.5,NaN,NaN,2.5,24.5,25.5,5.5,27.5,8.5,223.5
9,2025-12-08,MIN,Donte DiVincenzo,SG,13.5,3.5,4.5,1.5,NaN,NaN,3.5,17.5,18.5,8.5,22.5,-8.5,223.5
10,2025-12-08,SAS,Dylan Harper,SG,12.5,3.5,2.5,0.5,NaN,NaN,NaN,15.5,15.5,6.5,18.5,-9.5,238.5
11,2025-12-08,PHO,Grayson Allen,SG,18.5,3.5,2.5,NaN,NaN,NaN,2.5,22.5,21.5,6.5,25.5,8.5,223.5
12,2025-12-08,SAS,Harrison Barnes,PF,12.5,1.5,3.5,NaN,NaN,NaN,2.5,14.5,16.5,5.5,18.5,-9.5,238.5
13,2025-12-08,NOP,Herbert Jones,SF,8.5,NaN,2.5,0.5,0.5,1.5,1.5,10.5,11.5,4.5,13.5,9.5,238.5
14,2025-12-08,IND,Isaiah Jackson,C,7.5,NaN,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.5,234.5
15,2025-12-08,MIN,Jaden McDaniels,PF,15.5,2.5,4.5,1.5,0.5,2.5,1.5,18.5,20.5,7.5,23.5,-8.5,223.5
16,2025-12-08,IND,Jay Huff,C,11.5,NaN,5.5,NaN,NaN,NaN,1.5,NaN,16.5,NaN,NaN,-3.5,234.5
17,2025-12-08,NOP,Jeremiah Fears,PG,16.5,3.5,3.5,1.5,NaN,NaN,0.5,20.5,20.5,7.5,24.5,9.5,238.5
18,2025-12-08,NOP,Jordan Hawkins,SG,6.5,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN,9.5,238.5
19,2025-12-08,NOP,Jose Alvarado,PG,8.5,2.5,2.5,NaN,NaN,NaN,1.5,11.5,11.5,5.5,14.5,9.5,238.5
20,2025-12-08,SAS,Julian Champagnie,SF,9.5,NaN,4.5,NaN,NaN,NaN,1.5,NaN,13.5,NaN,NaN,-9.5,238.5
21,2025-12-08,MIN,Julius Randle,PF,22.5,5.5,6.5,0.5,0.5,1.5,1.5,28.5,30.5,12.5,35.5,-8.5,223.5
22,2025-12-08,SAC,Keegan Murray,PF,15.5,NaN,7.5,NaN,NaN,NaN,1.5,NaN,22.5,NaN,NaN,3.5,234.5
23,2025-12-08,SAS,Keldon Johnson,SF,12.5,NaN,5.5,NaN,NaN,NaN,NaN,NaN,18.5,NaN,NaN,-9.5,238.5
24,2025-12-08,SAS,Luke Kornet,C,8.5,2.5,7.5,NaN,NaN,NaN,NaN,10.5,15.5,9.5,17.5,-9.5,238.5
25,2025-12-08,SAC,Malik Monk,SG,13.5,3.5,NaN,NaN,NaN,NaN,NaN,16.5,NaN,NaN,NaN,3.5,234.5
26,2025-12-08,PHO,Mark Williams,C,12.5,NaN,8.5,NaN,NaN,NaN,NaN,NaN,20.5,NaN,NaN,8.5,223.5
27,2025-12-08,SAC,Maxime Raynaud,C,12.5,NaN,7.5,NaN,NaN,NaN,NaN,NaN,19.5,NaN,NaN,3.5,234.5
28,2025-12-08,MIN,Mike Conley,PG,6.5,2.5,NaN,NaN,NaN,NaN,NaN,9.5,NaN,NaN,NaN,-8.5,223.5
29,2025-12-08,MIN,Naz Reid,C,15.5,2.5,6.5,NaN,NaN,NaN,2.5,17.5,21.5,8.5,24.5,-8.5,223.5
30,2025-12-08,PHO,Oso Ighodaro,PF,4.5,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,223.5
31,2025-12-08,IND,Pascal Siakam,PF,24.5,3.5,7.5,1.5,0.5,1.5,1.5,28.5,31.5,11.5,36.5,-3.5,234.5
32,2025-12-08,PHO,Royce O'Neale,SF,9.5,2.5,5.5,NaN,NaN,NaN,2.5,12.5,14.5,8.5,17.5,8.5,223.5
33,2025-12-08,MIN,Rudy Gobert,C,10.5,NaN,10.5,NaN,1.5,NaN,NaN,NaN,21.5,NaN,NaN,-8.5,223.5
34,2025-12-08,SAC,Russell Westbrook,PG,13.5,6.5,6.5,NaN,NaN,NaN,1.5,20.5,20.5,13.5,26.5,3.5,234.5
35,2025-12-08,PHO,Ryan Dunn,SF,6.5,NaN,4.5,NaN,NaN,NaN,NaN,NaN,11.5,NaN,NaN,8.5,223.5
36,2025-12-08,NOP,Saddiq Bey,SF,16.5,2.5,5.5,NaN,NaN,NaN,1.5,19.5,22.5,8.5,25.5,9.5,238.5
37,2025-12-08,SAS,Stephon Castle,PG,13.5,5.5,4.5,0.5,NaN,NaN,1.5,18.5,18.5,9.5,23.5,-9.5,238.5
38,2025-12-08,IND,T.J. McConnell,PG,9.5,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.5,234.5
39,2025-12-08,NOP,Trey Murphy III,SF,21.5,3.5,5.5,1.5,0.5,1.5,2.5,25.5,27.5,9.5,31.5,9.5,238.5
40,2025-12-08,NOP,Yves Missi,C,5.5,NaN,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5,238.5
41,2025-12-08,SAC,Zach LaVine,SG,21.5,2.5,3.5,0.5,NaN,NaN,2.5,24.5,24.5,6.5,27.5,3.5,234.5

In [10]:
def pick_finder(stat, collect=False):
    df_actuals = pd.read_csv(f"../tables/{year}/parlay_actuals.csv")
    
    df_mtch = df_gms[['AwayABV', 'HomeABV', 'AwayB2B', 'HomeB2B']]
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch = pd.concat([df_mtch, df_mtch2])
    
    df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                            (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                            WHERE Season = {year} AND {stat} > 0 AND Pos != 'None'
                            AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                            GROUP BY Team, Player, Pos)""").fetchdf()
    df_rk_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Team, Player, Pos, {stat} AS stat_val,
                                    ROW_NUMBER() OVER (PARTITION BY Team, Player ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE Season = {year} AND {stat} > 0 AND Pos != 'None'
                                    AND Team IN ({str(tms_today).replace('[','').replace(']','')})
                            )
                            SELECT Team, Player, Pos, AVG(stat_val) AS Off_L5_{stat},
                            FROM last5
                            WHERE rn <= 5
                            GROUP BY Team, Player, Pos
                            """).fetchdf()

    df_rk = con.execute(f"""SELECT df_rk.Team, df_rk.Player, df_rk.Pos, Off_{stat}, Off_L5_{stat}, Off_Rk FROM df_rk JOIN df_rk_l5 
                            ON df_rk.Team = df_rk_l5.Team AND df_rk.Player = df_rk_l5.Player""").fetchdf()
    df_save = pd.DataFrame()
    for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
        print(pos)
        df_def = con.execute(f"""SELECT Team, '{pos}' AS Pos, Def_{stat}, Def_Rk FROM
                                 (SELECT *, RANK() OVER (ORDER BY Def_{stat}) as Def_Rk FROM
                                 (SELECT Opp as Team, AVG({stat}) as Def_{stat} FROM df 
                                 WHERE MP >= 27 AND Season = {year} AND Pos = '{pos}'
                                 GROUP BY Opp
                                 ORDER BY AVG(Fpts) DESC))
                                 WHERE Team IN ({str(tms_today).replace("[", "").replace("]", "")})""").fetchdf()

        df_def_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Opp AS Team, {stat} AS stat_val, 
                                    ROW_NUMBER() OVER (PARTITION BY Opp ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE MP >= 27 AND Season = {year} AND Pos = '{pos}'
                                    )

                                    SELECT Team, '{pos}' AS Pos, AVG(stat_val) AS Def_L5_{stat} FROM last5
                                    WHERE rn <= 5
                                    GROUP BY Team
                                    HAVING Team IN ({str(tms_today).replace('[','').replace(']','')})
                                    """).fetchdf()
        df_def = con.execute(f"""SELECT df_def.Team, df_def.Pos, Def_{stat}, Def_L5_{stat}, Def_Rk FROM df_def 
                               JOIN df_def_l5 ON df_def.Team = df_def_l5.Team""").fetchdf()
        
        # Piece together the current matchups with offensive rankings vs defensive rankings
        df_picks = con.execute(f"""SELECT df_mtch.*, df_rk.* EXCLUDE(Team) FROM df_mtch 
                                  JOIN df_rk ON df_mtch.Team = df_rk.Team
                                  WHERE Pos = '{pos}'""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE(Opp, Pos), Opp, df_def.Def_{stat}, df_def.Def_L5_{stat}, 
                                   df_def.Def_Rk FROM df_picks 
                                   JOIN df_def ON df_picks.Opp = df_def.Team""").fetchdf()
        df_picks['Rk_Diff'] = df_picks['Def_Rk'] - df_picks['Off_Rk']
        df_picks = con.execute(f"""SELECT t1.* EXCLUDE(Rk_Diff) FROM df_picks t1
                                LEFT JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                                WHERE Status IS NULL
                                ORDER BY Rk_Diff DESC""").fetchdf()

        # head to head
        df_h2h = pd.DataFrame()
        for index, row in df_picks.iterrows():
            query = f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG({stat}) AS AVG_{stat}_H2H FROM df 
                       WHERE Player = ? AND Opp = ? AND Date >= '2023-10-23'
                       GROUP BY Player)
                       WHERE Gms >= 4"""
            df_temp = con.execute(query, [row["Player"], row["Opp"]]).fetchdf()
            df_h2h = pd.concat([df_h2h, df_temp])
        try:
            df_picks = con.execute(f"""SELECT Team, B2B, t1.Player, Off_{stat}, Off_L5_{stat}, t2.AVG_{stat}_H2H, Off_Rk, 
                                   t1.* EXCLUDE(Team, B2B, Player, Off_{stat}, Off_L5_{stat}, Off_Rk)
                                   FROM df_picks t1 LEFT JOIN df_h2h t2 
                                   ON t1.Player = t2.Player""").fetchdf()
        except:
            pass
        
        # Add hit odds (df_actuals)
        df_hit_odds = con.execute(f"""WITH overs AS 
                                        (SELECT Team, Player, SUM({stat}_Diff) as O_Diff, count(*) as Hits FROM df_actuals 
                                        WHERE {stat}_Result = 'O' 
                                        GROUP BY Team, Player)

                                        SELECT overs.Team, overs.Player, Hits, Misses,
                                        O_Diff + U_Diff as {stat}_P_Diff,
                                        hits / (misses + hits) AS {stat}_Hit_Pct, misses / (misses + hits) AS Miss_Pct FROM

                                       (SELECT Team, Player, SUM({stat}_Diff) as U_Diff, count(*) as Misses FROM df_actuals 
                                       WHERE {stat}_Result = 'U' AND {stat}_line IS NOT NULL
                                       GROUP BY Team, Player) unders

                                       JOIN overs ON overs.Team = unders.Team AND overs.Player = unders.Player
                                       ORDER BY {stat}_Hit_Pct DESC""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.*, df_hit_odds.{stat}_Hit_Pct, df_hit_odds.{stat}_P_Diff FROM df_picks LEFT JOIN df_hit_odds 
                                   ON df_picks.Team = df_hit_odds.Team AND df_picks.Player = df_hit_odds.Player""").fetchdf()     
        
        # Add Spread and Total
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE({stat}_Hit_Pct, {stat}_P_Diff), df_lines.{stat}_line, {stat}_Hit_Pct, {stat}_P_Diff, 
                                   Spread, Total FROM df_picks LEFT JOIN df_lines 
                                   ON df_picks.Team = df_lines.Team AND df_picks.Player = df_lines.Player
                                   WHERE {stat}_line IS NOT NULL
                                   ORDER BY Def_Rk DESC""").fetchdf()
        df_save = pd.concat([df_save, df_picks], ignore_index=True)
        if collect == False:
            display(df_picks)
    if collect == True:
        df_save.insert(0, 'Date', pd.to_datetime(now))
        return df_save

In [11]:
for i in categories:
    print(f"==={i}===")
    pick_finder(i)

===PTS===
PG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Hit_Pct,PTS_P_Diff,Spread,Total
0,SAC,0,Russell Westbrook,13.434783,12.4,11.750000,6,IND,22.076923,22.0,23,13.5,0.285714,-14.5,3.5,234.5
1,IND,0,T.J. McConnell,10.333333,8.4,12.250000,9,SAC,21.785714,22.6,21,9.5,0.428571,-6.5,-3.5,234.5
2,IND,0,Andrew Nembhard,17.200000,15.0,NaN,4,SAC,21.785714,22.6,21,16.5,0.333333,13.0,-3.5,234.5
3,MIN,0,Mike Conley,5.772727,4.6,9.250000,12,PHO,21.714286,25.6,20,6.5,0.400000,-6.5,-8.5,223.5
4,PHO,0,Collin Gillespie,13.347826,19.6,8.400000,7,MIN,21.105263,21.6,16,17.5,0.714286,36.5,8.5,223.5
5,NOP,0,Jeremiah Fears,15.791667,18.4,NaN,5,SAS,20.944444,19.6,15,16.5,0.714286,13.5,9.5,238.5
6,NOP,0,Jose Alvarado,9.500000,11.0,7.250000,10,SAS,20.944444,19.6,15,8.5,0.333333,0.0,9.5,238.5
7,SAS,0,De'Aaron Fox,25.000000,25.0,21.100000,1,NOP,20.631579,18.2,12,23.5,0.857143,5.5,-9.5,238.5
8,SAS,0,Stephon Castle,17.307692,15.0,12.833333,2,NOP,20.631579,18.2,12,13.5,NaN,NaN,-9.5,238.5

SG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Hit_Pct,PTS_P_Diff,Spread,Total
0,SAS,0,Dylan Harper,12.750000,12.4,NaN,9,NOP,18.705882,23.6,24,12.5,0.800000,1.5,-9.5,238.5
1,SAS,0,Devin Vassell,16.227273,22.4,16.444444,5,NOP,18.705882,23.6,24,15.5,0.428571,30.5,-9.5,238.5
2,NOP,0,Jordan Hawkins,6.111111,8.4,5.777778,16,SAS,18.636364,19.0,23,6.5,NaN,NaN,9.5,238.5
3,SAC,0,Malik Monk,13.947368,13.8,12.750000,7,IND,17.791667,21.4,17,13.5,0.571429,0.5,3.5,234.5
4,SAC,0,Zach LaVine,20.857143,22.0,26.500000,3,IND,17.791667,21.4,17,21.5,0.428571,7.5,3.5,234.5
5,MIN,0,Donte DiVincenzo,13.652174,13.6,12.000000,8,PHO,16.681818,13.6,10,13.5,0.666667,-1.0,-8.5,223.5
6,MIN,0,Anthony Edwards,28.052632,28.2,27.416667,1,PHO,16.681818,13.6,10,29.5,0.666667,13.0,-8.5,223.5
7,PHO,0,Grayson Allen,17.266667,19.2,11.222222,4,MIN,15.950000,14.0,7,18.5,NaN,NaN,8.5,223.5

SF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Hit_Pct,PTS_P_Diff,Spread,Total
0,SAS,0,Keldon Johnson,13.000000,14.8,12.500000,6,NOP,21.076923,24.6,29,12.5,0.714286,21.5,-9.5,238.5
1,SAS,0,Julian Champagnie,11.428571,12.4,11.200000,7,NOP,21.076923,24.6,29,9.5,0.571429,15.5,-9.5,238.5
2,NOP,0,Saddiq Bey,14.173913,20.6,10.500000,5,SAS,18.962963,22.6,22,16.5,0.857143,30.5,9.5,238.5
3,NOP,0,Trey Murphy III,20.545455,21.8,20.600000,3,SAS,18.962963,22.6,22,21.5,0.500000,0.0,9.5,238.5
4,NOP,0,Herbert Jones,10.133333,8.0,7.625000,9,SAS,18.962963,22.6,22,8.5,NaN,NaN,9.5,238.5
5,PHO,0,Royce O'Neale,11.272727,10.6,6.500000,8,MIN,17.900000,23.2,12,9.5,0.571429,-4.5,8.5,223.5
6,PHO,0,Dillon Brooks,22.294118,23.0,11.285714,1,MIN,17.900000,23.2,12,22.5,NaN,NaN,8.5,223.5
7,PHO,0,Ryan Dunn,8.000000,7.0,5.000000,10,MIN,17.900000,23.2,12,6.5,NaN,NaN,8.5,223.5
8,IND,0,Bennedict Mathurin,21.166667,18.6,NaN,2,SAC,16.846154,20.0,6,21.5,0.285714,-22.5,-3.5,234.5

PF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Hit_Pct,PTS_P_Diff,Spread,Total
0,IND,0,Pascal Siakam,24.545455,26.6,17.500000,1,SAC,20.111111,15.4,28,24.5,0.857143,17.5,-3.5,234.5
1,SAC,0,Keegan Murray,16.375000,15.0,13.500000,5,IND,18.812500,17.2,21,15.5,0.500000,9.0,3.5,234.5
2,SAC,0,DeMar DeRozan,17.869565,14.8,24.500000,4,IND,18.812500,17.2,21,18.5,0.285714,-5.5,3.5,234.5
3,PHO,0,Oso Ighodaro,5.400000,5.8,3.800000,12,MIN,18.476190,15.2,18,4.5,0.500000,-2.0,8.5,223.5
4,MIN,0,Jaden McDaniels,16.045455,15.8,12.416667,6,PHO,17.631579,17.0,14,15.5,0.500000,9.0,-8.5,223.5
5,MIN,0,Julius Randle,22.956522,21.2,25.571429,2,PHO,17.631579,17.0,14,22.5,0.500000,-2.0,-8.5,223.5
6,SAS,0,Harrison Barnes,12.909091,12.8,14.666667,8,NOP,15.176471,17.0,2,12.5,0.285714,-0.5,-9.5,238.5

C

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Hit_Pct,PTS_P_Diff,Spread,Total
0,SAS,0,Luke Kornet,8.230769,6.6,8.250000,10,NOP,19.875000,19.6,28,8.5,0.166667,-11.0,-9.5,238.5
1,IND,0,Jay Huff,8.428571,11.0,2.833333,9,SAC,19.444444,17.4,26,11.5,0.833333,7.0,-3.5,234.5
2,IND,0,Isaiah Jackson,8.454545,8.6,NaN,8,SAC,19.444444,17.4,26,7.5,0.400000,-3.5,-3.5,234.5
3,NOP,0,Derik Queen,12.041667,11.2,NaN,5,SAS,17.615385,14.8,20,13.5,0.571429,-4.5,9.5,238.5
4,NOP,0,Yves Missi,6.733333,7.0,8.500000,13,SAS,17.615385,14.8,20,5.5,0.500000,-4.0,9.5,238.5
5,SAC,0,Maxime Raynaud,9.750000,13.2,NaN,7,IND,17.461538,17.8,18,12.5,NaN,NaN,3.5,234.5
6,PHO,0,Mark Williams,12.736842,14.2,NaN,4,MIN,17.058824,16.4,17,12.5,0.800000,9.5,8.5,223.5
7,MIN,0,Naz Reid,13.782609,16.2,9.727273,3,PHO,15.785714,13.6,9,15.5,0.833333,14.0,-8.5,223.5
8,MIN,0,Rudy Gobert,10.956522,13.0,12.090909,6,PHO,15.785714,13.6,9,10.5,0.666667,13.0,-8.5,223.5

===AST===
PG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Hit_Pct,AST_P_Diff,Spread,Total
0,SAS,0,De'Aaron Fox,6.500000,6.8,5.100000,3,NOP,7.368421,7.2,28,6.5,0.428571,-0.5,-9.5,238.5
1,SAS,0,Stephon Castle,7.538462,9.0,5.333333,1,NOP,7.368421,7.2,28,5.5,NaN,NaN,-9.5,238.5
2,IND,0,T.J. McConnell,4.384615,5.0,7.750000,7,SAC,6.857143,5.6,23,4.5,0.714286,-1.5,-3.5,234.5
3,IND,0,Andrew Nembhard,6.266667,6.0,NaN,4,SAC,6.857143,5.6,23,6.5,0.500000,0.0,-3.5,234.5
4,PHO,0,Collin Gillespie,4.869565,4.6,2.800000,6,MIN,6.000000,5.0,8,5.5,0.285714,-9.5,8.5,223.5
5,MIN,0,Mike Conley,3.550000,2.4,4.000000,8,PHO,5.714286,4.4,7,2.5,0.500000,-1.0,-8.5,223.5
6,SAC,0,Russell Westbrook,7.000000,8.6,5.250000,2,IND,5.615385,5.0,6,6.5,0.714286,13.5,3.5,234.5
7,NOP,0,Jeremiah Fears,3.173913,4.2,NaN,10,SAS,4.722222,5.0,1,3.5,0.428571,3.5,9.5,238.5
8,NOP,0,Jose Alvarado,3.045455,3.2,3.625000,11,SAS,4.722222,5.0,1,2.5,0.333333,-3.0,9.5,238.5

SG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Hit_Pct,AST_P_Diff,Spread,Total
0,PHO,0,Grayson Allen,4.214286,3.0,1.000000,3,MIN,4.100000,4.2,26,3.5,NaN,NaN,8.5,223.5
1,SAS,0,Dylan Harper,4.500000,4.4,NaN,2,NOP,3.823529,4.8,19,3.5,0.600000,3.5,-9.5,238.5
2,MIN,0,Donte DiVincenzo,3.652174,4.8,2.333333,5,PHO,3.590909,4.8,12,3.5,0.500000,-1.0,-8.5,223.5
3,MIN,0,Anthony Edwards,4.111111,4.6,5.250000,4,PHO,3.590909,4.8,12,4.5,0.166667,-1.0,-8.5,223.5
4,SAC,0,Zach LaVine,2.400000,2.6,2.500000,9,IND,2.958333,3.4,4,2.5,0.428571,-0.5,3.5,234.5
5,SAC,0,Malik Monk,2.666667,3.8,4.500000,7,IND,2.958333,3.4,4,3.5,0.400000,-0.5,3.5,234.5

SF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Hit_Pct,AST_P_Diff,Spread,Total
0,NOP,0,Trey Murphy III,4.105263,5.4,3.400000,1,SAS,3.555556,4.2,19,3.5,0.666667,0.0,9.5,238.5
1,NOP,0,Saddiq Bey,2.684211,2.4,2.000000,3,SAS,3.555556,4.2,19,2.5,0.666667,3.0,9.5,238.5
2,IND,0,Bennedict Mathurin,2.333333,2.6,NaN,6,SAC,3.000000,5.0,3,2.5,0.500000,-1.0,-3.5,234.5
3,PHO,0,Royce O'Neale,2.913043,3.8,1.416667,2,MIN,2.850000,3.6,1,2.5,0.142857,-0.5,8.5,223.5

PF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Hit_Pct,AST_P_Diff,Spread,Total
0,IND,0,Pascal Siakam,4.090909,2.4,5.000000,2,SAC,3.111111,3.2,17,3.5,0.285714,-10.5,-3.5,234.5
1,SAC,0,DeMar DeRozan,3.857143,4.0,4.000000,4,IND,2.937500,3.4,15,3.5,0.428571,-2.5,3.5,234.5
2,MIN,0,Julius Randle,5.826087,6.6,4.857143,1,PHO,2.842105,2.0,14,5.5,0.500000,2.0,-8.5,223.5
3,MIN,0,Jaden McDaniels,2.619048,3.0,1.750000,7,PHO,2.842105,2.0,14,2.5,0.333333,1.0,-8.5,223.5
4,SAS,0,Harrison Barnes,2.777778,3.6,1.750000,6,NOP,2.235294,3.2,3,1.5,0.666667,7.0,-9.5,238.5

C

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Hit_Pct,AST_P_Diff,Spread,Total
0,MIN,0,Naz Reid,2.500000,4.0,1.727273,6,PHO,4.428571,4.4,29,2.5,0.600000,3.5,-8.5,223.5
1,SAS,0,Luke Kornet,2.615385,3.0,2.000000,5,NOP,4.125000,4.8,26,2.5,0.600000,3.5,-9.5,238.5
2,NOP,0,Derik Queen,4.833333,5.6,NaN,1,SAS,3.461538,3.6,22,4.5,0.428571,2.5,9.5,238.5

===REB===
PG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Hit_Pct,REB_P_Diff,Spread,Total
0,PHO,0,Collin Gillespie,3.909091,3.0,2.600000,4,MIN,6.105263,4.6,29,3.5,0.285714,-7.5,8.5,223.5
1,SAC,0,Russell Westbrook,7.045455,6.2,4.000000,1,IND,5.923077,6.0,28,6.5,0.285714,-5.5,3.5,234.5
2,NOP,0,Jeremiah Fears,3.521739,4.0,NaN,7,SAS,5.166667,5.6,23,3.5,0.714286,8.5,9.5,238.5
3,NOP,0,Jose Alvarado,3.095238,3.2,2.625000,8,SAS,5.166667,5.6,23,2.5,0.600000,-0.5,9.5,238.5
4,SAS,0,De'Aaron Fox,3.714286,3.4,4.300000,6,NOP,4.578947,5.4,13,3.5,0.714286,2.5,-9.5,238.5
5,SAS,0,Stephon Castle,6.333333,6.8,3.333333,2,NOP,4.578947,5.4,13,4.5,NaN,NaN,-9.5,238.5
6,IND,0,Andrew Nembhard,2.142857,2.8,NaN,10,SAC,4.357143,4.8,9,3.5,0.333333,-3.0,-3.5,234.5

SG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Hit_Pct,REB_P_Diff,Spread,Total
0,SAC,0,Zach LaVine,3.142857,2.6,4.250000,8,IND,4.333333,5.6,21,3.5,0.142857,-4.5,3.5,234.5
1,SAS,0,Devin Vassell,3.727273,3.6,3.222222,5,NOP,4.205882,4.8,19,3.5,0.571429,1.5,-9.5,238.5
2,SAS,0,Dylan Harper,3.700000,2.8,NaN,6,NOP,4.205882,4.8,19,2.5,0.400000,-2.5,-9.5,238.5
3,MIN,0,Donte DiVincenzo,4.136364,4.0,1.500000,3,PHO,3.590909,3.4,5,4.5,0.666667,-1.0,-8.5,223.5
4,MIN,0,Anthony Edwards,4.684211,4.4,6.250000,1,PHO,3.590909,3.4,5,5.5,0.666667,3.0,-8.5,223.5
5,PHO,0,Grayson Allen,3.071429,2.2,4.555556,9,MIN,3.350000,2.2,3,2.5,NaN,NaN,8.5,223.5

SF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Hit_Pct,REB_P_Diff,Spread,Total
0,SAS,0,Keldon Johnson,6.500000,6.6,5.750000,2,NOP,5.923077,8.6,22,5.5,0.571429,1.5,-9.5,238.5
1,SAS,0,Julian Champagnie,5.363636,5.8,4.100000,5,NOP,5.923077,8.6,22,4.5,0.428571,8.5,-9.5,238.5
2,NOP,0,Saddiq Bey,5.913043,7.0,3.500000,3,SAS,5.481481,5.6,9,5.5,0.714286,19.5,9.5,238.5
3,NOP,0,Herbert Jones,3.750000,4.0,2.750000,9,SAS,5.481481,5.6,9,2.5,0.500000,2.0,9.5,238.5
4,NOP,0,Trey Murphy III,6.545455,7.0,5.800000,1,SAS,5.481481,5.6,9,5.5,0.500000,5.0,9.5,238.5
5,PHO,0,Ryan Dunn,4.944444,4.4,2.600000,7,MIN,5.400000,7.4,6,4.5,0.666667,3.5,8.5,223.5
6,PHO,0,Royce O'Neale,5.260870,5.2,3.916667,6,MIN,5.400000,7.4,6,5.5,0.571429,-0.5,8.5,223.5
7,PHO,0,Dillon Brooks,3.176471,3.0,2.857143,10,MIN,5.400000,7.4,6,3.5,0.285714,-0.5,8.5,223.5
8,IND,0,Bennedict Mathurin,5.583333,4.8,NaN,4,SAC,4.923077,5.6,4,5.5,0.428571,-3.5,-3.5,234.5

PF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Hit_Pct,REB_P_Diff,Spread,Total
0,SAC,0,Keegan Murray,7.125000,7.0,5.250000,3,IND,8.312500,10.0,29,7.5,0.500000,8.0,3.5,234.5
1,SAC,0,DeMar DeRozan,3.333333,2.8,4.666667,13,IND,8.312500,10.0,29,3.5,0.285714,-4.5,3.5,234.5
2,IND,0,Pascal Siakam,7.136364,8.0,5.750000,2,SAC,6.444444,7.0,18,7.5,0.714286,7.5,-3.5,234.5
3,SAS,0,Harrison Barnes,3.619048,4.4,3.250000,11,NOP,6.000000,6.2,10,3.5,0.714286,5.5,-9.5,238.5
4,MIN,0,Jaden McDaniels,4.681818,4.0,4.083333,8,PHO,5.736842,5.6,7,4.5,0.500000,2.0,-8.5,223.5
5,MIN,0,Julius Randle,7.260870,6.4,5.857143,1,PHO,5.736842,5.6,7,6.5,0.333333,-5.0,-8.5,223.5
6,PHO,0,Oso Ighodaro,3.809524,4.2,2.400000,9,MIN,5.666667,4.4,6,3.5,NaN,NaN,8.5,223.5

C

RuntimeError: Query interrupted

In [9]:
df_stats = pd.DataFrame()
for i in categories:
    print(f"==={i}===")
    df_temp = pick_finder(i, collect=True)
    df_stats = pd.concat([df_stats, df_temp], ignore_index=True)
    
df_stats = con.execute("SELECT Date, Team, B2B, Spread, Total, Player, Opp, * EXCLUDE(Date, Team, B2B, Player, Opp, Off_Rk, Def_Rk, Spread, Total) FROM df_stats").fetchdf()
df_save = pd.DataFrame()
for player in df_stats.Player.unique():
    df_temp = df_stats[(df_stats.Player == player)]
    for col in df_temp.columns.difference(['Date', 'Team', 'Player']):
        df_temp[col] = df_temp[col].ffill()
        df_temp[col] = df_temp[col].backfill()
    df_temp = df_temp.drop_duplicates()
    df_save = pd.concat([df_save, df_temp])
print('Saving for Date:', now)
partition_save_df(df_save, f"../tables/{year}/parlay_stats.csv")
display(df_save)

===PTS===
PG
SG
SF
PF
C
===AST===
PG
SG
SF
PF
C
===REB===
PG
SG
SF
PF
C
===PR===
PG
SG
SF
PF
C
===PA===
PG
SG
SF
PF
C
===RA===
PG
SG
SF
PF
C
===PRA===
PG
SG
SF
PF
C
===TPM===
PG
SG
SF
PF
C
===STL===
PG
SG
SF
PF
C
===BLK===
PG
SG
SF
PF
C
===STL_BLK===
PG
SG
SF
PF
C
Saving for Date: 2025-12-02
../tables/2025/parlay_stats.csv saved!

Empty DataFrame
Columns: []
Index: []

# REPOPULATE DATA

In [4]:
def pick_finder2(stat, season, now, collect=False):    
    df_gms = pd.read_csv(f"../tables/{season}/nba_schedule.csv")
    df_gms['Date'] = pd.to_datetime(df_gms.Date)
    df_gms = df_gms[(df_gms.Date == now)]
    tms_today = df_gms.AwayABV.tolist() + df_gms.HomeABV.tolist()
    

    if now not in ['2023-05-02']:        
        df_inj = injury.get_reportdata(datetime.strptime(now, "%Y-%m-%d"), return_df=True)
        df_inj = df_inj.rename(columns={"Game Date": "Date", "Player Name": "Player", "Current Status": "Status"})
        df_inj['Player'] = df_inj.Player.str.split(",").str[1] + " " + df_inj.Player.str.split(",").str[0]
        df_inj['Player'] = df_inj['Player'].str.strip()
        df_inj['Date'] = pd.to_datetime(df_inj['Date'])
        df_inj = con.execute(f"""SELECT Date, ABV as Team, Player, Status, Reason FROM df_inj 
                             JOIN df_teams ON df_inj.Team = df_teams.Team
                             WHERE Date = '{now}' AND Status = 'Out'""").fetchdf()
    else:
        df_inj = pd.DataFrame(columns=['Date', 'Team', 'Player', 'Status', 'Reason'])
    
    df_mtch = df_gms[['AwayABV', 'HomeABV', 'AwayB2B', 'HomeB2B']]
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch = pd.concat([df_mtch, df_mtch2])
    
    df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                            (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                            WHERE Season = {season} AND Pos != 'None' AND Date <= '{now}'
                            AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                            GROUP BY Team, Player, Pos)""").fetchdf()
    df_rk_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Team, Player, Pos, {stat} AS stat_val,
                                    ROW_NUMBER() OVER (PARTITION BY Team, Player ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE Season = {season} AND Pos != 'None' AND Date <= '{now}'
                                    AND Team IN ({str(tms_today).replace('[','').replace(']','')})
                            )
                            SELECT Team, Player, Pos, AVG(stat_val) AS Off_L5_{stat},
                            FROM last5
                            WHERE rn <= 5
                            GROUP BY Team, Player, Pos
                            """).fetchdf()

    df_rk = con.execute(f"""SELECT df_rk.Team, df_rk.Player, df_rk.Pos, Off_{stat}, Off_L5_{stat}, Off_Rk FROM df_rk JOIN df_rk_l5 
                            ON df_rk.Team = df_rk_l5.Team AND df_rk.Player = df_rk_l5.Player""").fetchdf()
    df_save = pd.DataFrame()
    for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
        print(pos)
        df_def = con.execute(f"""SELECT Team, '{pos}' AS Pos, Def_{stat}, Def_Rk FROM
                                 (SELECT *, RANK() OVER (ORDER BY Def_{stat}) as Def_Rk FROM
                                 (SELECT Opp as Team, AVG({stat}) as Def_{stat} FROM df 
                                 WHERE MP >= 18 AND Season = {season} AND Pos = '{pos}' AND Date <= '{now}'
                                 GROUP BY Opp
                                 ORDER BY AVG(Fpts) DESC))
                                 WHERE Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                                 """).fetchdf()

        df_def_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Opp AS Team, {stat} AS stat_val, 
                                    ROW_NUMBER() OVER (PARTITION BY Opp ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE MP >= 18 AND Season = {season} AND Pos = '{pos}' AND Date <= '{now}'
                                    )

                                    SELECT Team, '{pos}' AS Pos, AVG(stat_val) AS Def_L5_{stat} FROM last5
                                    WHERE rn <= 5
                                    GROUP BY Team
                                    HAVING Team IN ({str(tms_today).replace('[','').replace(']','')})
                                    """).fetchdf()
        df_def = con.execute(f"""SELECT df_def.Team, df_def.Pos, Def_{stat}, Def_L5_{stat}, Def_Rk FROM df_def 
                               JOIN df_def_l5 ON df_def.Team = df_def_l5.Team""").fetchdf()
        # Piece together the current matchups with offensive rankings vs defensive rankings
        df_picks = con.execute(f"""SELECT df_mtch.*, df_rk.* EXCLUDE(Team) FROM df_mtch 
                                  JOIN df_rk ON df_mtch.Team = df_rk.Team
                                  WHERE Pos = '{pos}'""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE(Opp, Pos), Opp, df_def.Def_{stat}, df_def.Def_L5_{stat}, 
                                   df_def.Def_Rk FROM df_picks 
                                   JOIN df_def ON df_picks.Opp = df_def.Team""").fetchdf()
        df_picks['Rk_Diff'] = df_picks['Def_Rk'] - df_picks['Off_Rk']
        df_picks = con.execute(f"""SELECT t1.* EXCLUDE(Rk_Diff) FROM df_picks t1
                                LEFT JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                                WHERE Status IS NULL
                                ORDER BY Rk_Diff DESC""").fetchdf()
        # head to head
        df_h2h = pd.DataFrame()
        for index, row in df_picks.iterrows():
            query = f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG({stat}) AS AVG_{stat}_H2H FROM df 
                       WHERE Player = ? AND Opp = ? AND Date <= '{now}'
                       GROUP BY Player)
                       WHERE Gms >= 4"""
            df_temp = con.execute(query, [row["Player"], row["Opp"]]).fetchdf()
            df_h2h = pd.concat([df_h2h, df_temp])
        try:
            df_picks = con.execute(f"""SELECT Team, B2B, t1.Player, Off_{stat}, Off_L5_{stat}, t2.AVG_{stat}_H2H, Off_Rk, 
                                   t1.* EXCLUDE(Team, B2B, Player, Off_{stat}, Off_L5_{stat}, Off_Rk)
                                   FROM df_picks t1 LEFT JOIN df_h2h t2 
                                   ON t1.Player = t2.Player""").fetchdf()
        except:
            pass
    
        df_save = pd.concat([df_save, df_picks], ignore_index=True)
        if collect == False:
            display(df_picks)
    if collect == True:
        df_save.insert(0, 'Date', pd.to_datetime(now))
        return df_save

In [5]:
def repopulate_old_szns(season):
    schd = pd.read_csv(f"../tables/{season}/nba_schedule.csv")
    schd['Date'] = pd.to_datetime(schd.Date)
#     schd = schd[(schd.Date >= '2023-05-02')]
    df_lines = pd.read_csv(f"../tables/{season}/parlay_lines.csv")
    for date in schd.Date.unique().tolist():
        dt_str = date.strftime("%Y-%m-%d")
        print(dt_str)
        now = dt_str

        df_stats = pd.DataFrame()
        for stat in ['PTS']:
            print(f"==={stat}===")
            df_temp = pick_finder2(stat, season, now, collect=True)
            df_stats = pd.concat([df_stats, df_temp], ignore_index=True)

        df_stats = con.execute("SELECT Date, Team, B2B, Player, Opp, * EXCLUDE(Date, Team, B2B, Player, Opp, Off_Rk, Def_Rk) FROM df_stats").fetchdf()
        df_save = pd.DataFrame()
        for player in df_stats.Player.unique():
            df_temp = df_stats[(df_stats.Player == player)]
            for col in df_temp.columns.difference(['Date', 'Team', 'Player']):
                df_temp[col] = df_temp[col].ffill()
                df_temp[col] = df_temp[col].backfill()
            df_temp = df_temp.drop_duplicates()
            df_save = pd.concat([df_save, df_temp])
        print('Saving for Date:', now)
#         display(df_save)
        partition_save_df(df_save, f"../tables/{season}/parlay_stats.csv")

In [ ]:
repopulate_old_szns(2024)