In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from nbainjuries import injury
from datetime import datetime, timedelta
import warnings
import duckdb
import os
import requests

cwd = os.path.abspath(os.getcwd()).replace("\\", "/")
if cwd.startswith("C:/Users/Rodolfo/"):
    RUN_LOCATION = "local"
else:
    RUN_LOCATION = "cloud"
time_offset = {"local": 3, "cloud": -5}

print("Current working dir:", cwd)
print("RUN_LOCATION =", RUN_LOCATION)

Current working dir: C:/Users/Rodolfo/Jupyter_files/FantasyBasketball/notebooks
RUN_LOCATION = local

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings("ignore")

year = 2025
now = str((datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]) + timedelta(hours=-3)).date())
print(f"Today's date:", now)

con = duckdb.connect(database=":memory:")
categories = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']

folders = os.listdir('../tables/')
df = pd.DataFrame()
for yr in folders:
    df_temp = pd.read_csv(f"../tables/{yr}/season_gamelogs.csv")
    df_temp.insert(0, 'Season', int(yr))
    df = pd.concat([df, df_temp])
df['Date'] = pd.to_datetime(df.Date)
df = df.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df['STL_BLK'] = df.STL + df.BLK
df['PR'] = df.PTS + df.REB 
df['PA'] = df.PTS + df.AST
df['RA'] = df.REB + df.AST
df['PRA'] = df.PTS + df.REB + df.AST

# # CONTROL DATE TO GO BACK AND RELOAD HISTORICAL DATA
# df = df[(df.Date != now)]

df

Today's date: 2025-11-25

,Season,game_id,Date,Team,Team_type,Opp,Opp_type,Player,Pos,Active,MP,FG,FGA,FG%,TPM,TPA,3P%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,DD,TD,Fpts,STL_BLK,PR,PA,RA,PRA
0,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Christian Braun,SG,1,19.33,2,5,0.400,0,1,0.000,1,2,0.5,1,2,3,2,0,1,1,1,5,3.9,5,0,0,8.5,1,8,7,5,10
1,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Kentavious Caldwell-Pope,SG,1,36.25,8,12,0.667,2,3,0.667,2,2,1.0,1,1,2,1,3,1,3,5,20,15.2,10,0,0,19.0,4,22,21,3,23
2,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Collin Gillespie,PG,1,0.72,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
3,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Aaron Gordon,PF,1,34.98,7,11,0.636,1,2,0.500,0,0,0.0,2,5,7,5,2,1,0,0,15,19.2,6,0,0,26.0,3,22,20,12,27
4,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Justin Holiday,SG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6571,2025,20251123_LAL_UTA,2025-11-23,UTA,Home,LAL,Away,Taylor Hendricks,PF,1,0.62,1,1,1.000,1,1,1.000,0,0,0.0,0,0,0,0,0,0,0,0,3,2.7,0,0,0,2.0,0,3,3,0,3
6572,2025,20251123_LAL_UTA,2025-11-23,UTA,Home,LAL,Away,Cody Williams,SG,1,3.37,0,2,0.000,0,1,0.000,0,0,0.0,0,0,0,0,0,0,0,1,0,-1.8,-9,0,0,0.0,0,0,0,0,0
6573,2025,20251123_LAL_UTA,2025-11-23,UTA,Home,LAL,Away,Kevin Love,PF,1,13.05,2,5,0.400,0,2,0.000,0,0,0.0,3,6,9,2,1,0,2,2,4,4.8,-7,0,0,13.0,1,13,6,11,15
6574,2025,20251123_LAL_UTA,2025-11-23,UTA,Home,LAL,Away,Isaiah Collier,PG,1,22.70,3,8,0.375,0,2,0.000,4,5,0.8,0,1,1,3,1,0,2,1,10,6.2,-8,0,0,9.0,1,11,13,4,14
6575,2025,20251123_LAL_UTA,2025-11-23,UTA,Home,LAL,Away,Kyle Anderson,SF,0,0.00,0,0,0.000,0,0,0.000,0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0,0

In [3]:
%run ./common_utils.ipynb

In [4]:
df_gms = pd.read_csv(f"../tables/{year}/nba_schedule.csv")
df_gms = df_gms[(df_gms.Date == now)]
tms_today = df_gms.AwayABV.tolist() + df_gms.HomeABV.tolist()
display(df_gms)

,Date,StartTime_ET,AwayTeam,AwayABV,HomeTeam,HomeABV,Arena,AwayB2B,HomeB2B,rtrvd
260,2025-11-25,7:00p,Atlanta Hawks,ATL,Washington Wizards,WAS,Capital One Arena,0,0,0
261,2025-11-25,8:00p,Orlando Magic,ORL,Philadelphia 76ers,PHI,Xfinity Mobile Arena,0,0,0
262,2025-11-25,11:00p,Los Angeles Clippers,LAC,Los Angeles Lakers,LAL,Crypto.com Arena,0,0,0

In [5]:
df_teams = pd.read_csv("../src/team_info_xref.csv")

df_inj = injury.get_reportdata(datetime.now() + timedelta(hours=time_offset[RUN_LOCATION]), return_df=True)
df_inj = df_inj.rename(columns={"Game Date": "Date", "Player Name": "Player", "Current Status": "Status"})
df_inj['Player'] = df_inj.Player.str.split(",").str[1] + " " + df_inj.Player.str.split(",").str[0]
df_inj['Player'] = df_inj['Player'].str.strip()
df_inj['Date'] = pd.to_datetime(df_inj['Date'])
df_inj = con.execute(f"""SELECT Date, ABV as Team, Player, Status, Reason FROM df_inj 
                         JOIN df_teams ON df_inj.Team = df_teams.Team
                         WHERE Date = '{now}' AND Status = 'Out'""").fetchdf()

df_best_out = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Fpts DESC) as Off_Rk FROM
                              (SELECT Team, Player, Pos, AVG(Fpts) as Fpts FROM df 
                              WHERE Season = 2025 AND Fpts > 0 AND Pos != 'None'
                              GROUP BY Team, Player, Pos)""").fetchdf()
df_best_out = con.execute(f"""SELECT * EXCLUDE(t2.Team, t2.Player) FROM df_best_out t1 
                              JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                              ORDER BY Fpts DESC""").fetchdf()
display(df_best_out)

Validated Injury-Report_2025-11-25_05PM.

,Team,Player,Pos,Fpts,Off_Rk,Date,Status,Reason
0,ORL,Paolo Banchero,PF,25.125000,8,2025-11-25,Out,Injury/Illness - Left Groin; Strain
1,PHI,Joel Embiid,C,21.416667,18,2025-11-25,Out,Injury/Illness - Right Knee; Injury Management
2,WAS,Kyshawn George,SF,21.366667,15,2025-11-25,Out,Injury/Illness - N/a; Illness
3,PHI,VJ Edgecombe,SG,20.666667,9,2025-11-25,Out,Injury/Illness - Left Calf; Tightness
4,ATL,Trae Young,PG,19.600000,19,2025-11-25,Out,Injury/Illness - Right Knee; MCL Sprain
5,PHI,Kelly Oubre Jr.,PF,19.318182,16,2025-11-25,Out,Injury/Illness - Left Knee; Sprain
6,LAL,Deandre Ayton,C,18.300000,26,2025-11-25,Out,Injury/Illness - Right Knee; Contusion
7,PHI,Paul George,PF,17.833333,20,2025-11-25,Out,Injury/Illness - Right Ankle; Sprain
8,WAS,Tre Johnson,SG,11.233333,52,2025-11-25,Out,Injury/Illness - Left Hip Flexor; Strain
9,WAS,Marvin Bagley III,PF,11.142857,45,2025-11-25,Out,Injury/Illness - Right Hip; Contusion
10,PHI,Adem Bona,C,8.333333,58,2025-11-25,Out,Injury/Illness - Right Ankle; Sprain
11,PHI,Kelly Oubre Jr.,SF,6.500000,60,2025-11-25,Out,Injury/Illness - Left Knee; Sprain
12,ATL,N'Faly Dante,C,3.833333,79,2025-11-25,Out,G League - On Assignment

In [6]:
def get_sportsbook():
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept": "*/*",
        "Accept-Language": "en-US,en;q=0.9",
        "Referer": "https://sportsbook.draftkings.com/",
        "Origin": "https://sportsbook.draftkings.com"
    }

    dk_cats = {"PTS": 12488, "AST": 12495, "REB": 12492, "STL": 13508, "BLK": 13780, "STL_BLK": 13781, "TPM": 12497, 
               "PA": 9973, "PR": 9976, "RA": 9974, "PRA": 5001}
    df_lines = pd.DataFrame()
    for key, value in dk_cats.items():
        response = requests.get(f"https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C{value}&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%27{value}%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%27{value}%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events", headers=headers)
        if response.status_code != 200:
            raise Exception('Bad Request')

        plyr_names = []
        pnt_lines = []
        for i in response.json()['selections']:
            plyr_names.append(i['participants'][0]['name'])
            pnt_lines.append(i['points'])
        df_dk = pd.DataFrame({"Player": plyr_names, f"{key}_line": pnt_lines}).drop_duplicates().reset_index(drop=True)

        if df_lines.empty:
            df_lines = df_dk
        else:
            df_lines = pd.merge(df_lines, df_dk, on="Player", how="outer")

    df_lines = pd.merge(pd.read_csv(f"../tables/{year}/plyr_pos_xref.csv"), df_lines, on='Player', how='right')
    df_lines.insert(0, 'Date', pd.to_datetime(now))

    partition_save_df(df_lines, f"../tables/{year}/parlay_lines.csv") 
    display(df_lines)

    return df_lines

df_lines = get_sportsbook()

,Date,Team,Player,Pos,PTS_line,AST_line,REB_line,STL_line,BLK_line,STL_BLK_line,TPM_line,PA_line,PR_line,RA_line,PRA_line
0,2025-11-25,NaN,Alexandre Sarr,NaN,17.5,3.5,8.5,0.5,1.5,2.5,1.5,21.5,26.5,11.5,29.5
1,2025-11-25,PHI,Andre Drummond,C,11.5,NaN,13.5,NaN,NaN,NaN,NaN,NaN,24.5,NaN,NaN
2,2025-11-25,ORL,Anthony Black,PG,12.5,3.5,3.5,NaN,NaN,NaN,NaN,15.5,15.5,6.5,19.5
3,2025-11-25,LAL,Austin Reaves,SG,22.5,4.5,4.5,0.5,NaN,NaN,2.5,27.5,27.5,9.5,32.5
4,2025-11-25,WAS,Bilal Coulibaly,SG,10.5,3.5,4.5,0.5,NaN,NaN,0.5,13.5,14.5,7.5,18.5
5,2025-11-25,LAC,Bogdan Bogdanovic,SG,8.5,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN
6,2025-11-25,LAC,Brook Lopez,C,5.5,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,NaN
7,2025-11-25,WAS,CJ McCollum,SG,17.5,3.5,3.5,0.5,NaN,NaN,2.5,20.5,20.5,7.5,24.5
8,2025-11-25,WAS,Cam Whitmore,SF,12.5,NaN,3.5,NaN,NaN,NaN,1.5,NaN,16.5,NaN,NaN
9,2025-11-25,NaN,Carlton Carrington,NaN,7.5,4.5,3.5,NaN,NaN,NaN,1.5,11.5,10.5,7.5,15.5
10,2025-11-25,WAS,Corey Kispert,SF,12.5,2.5,3.5,NaN,NaN,NaN,2.5,15.5,16.5,6.5,18.5
11,2025-11-25,ORL,Desmond Bane,SG,20.5,4.5,4.5,0.5,NaN,NaN,2.5,25.5,25.5,9.5,30.5
12,2025-11-25,ATL,Dyson Daniels,SG,11.5,5.5,6.5,2.5,0.5,3.5,NaN,17.5,18.5,12.5,23.5
13,2025-11-25,ORL,Franz Wagner,SF,25.5,4.5,6.5,1.5,0.5,1.5,1.5,29.5,31.5,10.5,36.5
14,2025-11-25,LAL,Gabe Vincent,PG,NaN,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN
15,2025-11-25,ORL,Goga Bitadze,C,5.5,NaN,4.5,NaN,NaN,NaN,NaN,NaN,10.5,NaN,NaN
16,2025-11-25,LAC,Ivica Zubac,C,17.5,2.5,11.5,0.5,0.5,1.5,NaN,19.5,28.5,13.5,31.5
17,2025-11-25,LAL,Jake LaRavia,PF,6.5,NaN,3.5,NaN,NaN,NaN,0.5,NaN,10.5,NaN,NaN
18,2025-11-25,ATL,Jalen Johnson,SF,23.5,8.5,10.5,1.5,0.5,2.5,1.5,32.5,34.5,18.5,42.5
19,2025-11-25,ORL,Jalen Suggs,PG,16.5,4.5,3.5,1.5,NaN,NaN,2.5,21.5,20.5,9.5,25.5
20,2025-11-25,LAC,James Harden,PG,24.5,7.5,5.5,1.5,0.5,1.5,3.5,32.5,29.5,13.5,37.5
21,2025-11-25,PHI,Jared McCain,SG,12.5,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN
22,2025-11-25,LAL,Jaxson Hayes,C,7.5,NaN,5.5,NaN,0.5,NaN,NaN,NaN,12.5,NaN,NaN
23,2025-11-25,LAC,John Collins,PF,11.5,NaN,5.5,NaN,0.5,NaN,0.5,NaN,17.5,NaN,NaN
24,2025-11-25,PHI,Justin Edwards,SF,10.5,1.5,3.5,NaN,NaN,NaN,1.5,12.5,13.5,4.5,15.5
25,2025-11-25,LAC,Kawhi Leonard,SF,20.5,2.5,4.5,1.5,0.5,1.5,1.5,23.5,24.5,7.5,27.5
26,2025-11-25,WAS,Khris Middleton,SF,9.5,3.5,3.5,NaN,NaN,NaN,0.5,13.5,13.5,6.5,17.5
27,2025-11-25,LAC,Kris Dunn,PG,7.5,2.5,2.5,1.5,NaN,NaN,NaN,9.5,9.5,4.5,12.5
28,2025-11-25,ATL,Kristaps Porzingis,C,19.5,2.5,6.5,0.5,1.5,2.5,1.5,22.5,25.5,9.5,28.5
29,2025-11-25,LAL,LeBron James,SF,20.5,7.5,7.5,1.5,0.5,1.5,1.5,27.5,27.5,14.5,34.5
30,2025-11-25,LAL,Luka Doncic,PG,32.5,7.5,9.5,1.5,0.5,2.5,3.5,40.5,41.5,17.5,49.5
31,2025-11-25,ATL,Luke Kennard,SG,6.5,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN
32,2025-11-25,LAL,Marcus Smart,SG,5.5,NaN,NaN,NaN,NaN,NaN,1.5,NaN,NaN,NaN,NaN
33,2025-11-25,ATL,Nickeil Alexander-Walker,SG,18.5,3.5,3.5,NaN,NaN,NaN,2.5,22.5,22.5,7.5,26.5
34,2025-11-25,LAC,Nicolas Batum,PF,4.5,NaN,2.5,NaN,NaN,NaN,1.5,NaN,7.5,NaN,NaN
35,2025-11-25,ATL,Onyeka Okongwu,C,14.5,2.5,7.5,NaN,NaN,NaN,1.5,17.5,22.5,9.5,24.5
36,2025-11-25,PHI,Quentin Grimes,SG,17.5,4.5,3.5,1.5,NaN,NaN,2.5,21.5,21.5,8.5,25.5
37,2025-11-25,LAL,Rui Hachimura,PF,11.5,NaN,3.5,NaN,NaN,NaN,1.5,NaN,15.5,NaN,NaN
38,2025-11-25,PHI,Trendon Watford,PF,10.5,3.5,4.5,NaN,NaN,NaN,NaN,13.5,15.5,8.5,18.5
39,2025-11-25,ORL,Tristan da Silva,PF,11.5,NaN,4.5,NaN,NaN,NaN,1.5,NaN,16.5,NaN,NaN
40,2025-11-25,PHI,Tyrese Maxey,PG,32.5,7.5,3.5,1.5,NaN,NaN,3.5,39.5,36.5,11.5,43.5
41,2025-11-25,ATL,Vit Krejci,PG,9.5,NaN,2.5,NaN,NaN,NaN,2.5,NaN,12.5,NaN,NaN
42,2025-11-25,ORL,Wendell Carter Jr.,C,12.5,2.5,8.5,NaN,0.5,NaN,0.5,14.5,20.5,10.5,22.5
43,2025-11-25,ATL,Zaccharie Risacher,SF,11.5,NaN,3.5,NaN,NaN,NaN,1.5,NaN,14.5,NaN,NaN

In [7]:
def pick_finder(stat, collect=False):
    df_mtch = df_gms[['AwayABV', 'HomeABV', 'AwayB2B', 'HomeB2B']]
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch = pd.concat([df_mtch, df_mtch2])
    
    df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                            (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                            WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                            AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                            GROUP BY Team, Player, Pos)""").fetchdf()
    df_rk_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Team, Player, Pos, {stat} AS stat_val,
                                    ROW_NUMBER() OVER (PARTITION BY Team, Player ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                                    AND Team IN ({str(tms_today).replace('[','').replace(']','')})
                            )
                            SELECT Team, Player, Pos, AVG(stat_val) AS Off_L5_{stat},
                            FROM last5
                            WHERE rn <= 5
                            GROUP BY Team, Player, Pos
                            """).fetchdf()

    df_rk = con.execute(f"""SELECT df_rk.Team, df_rk.Player, df_rk.Pos, Off_{stat}, Off_L5_{stat}, Off_Rk FROM df_rk JOIN df_rk_l5 
                            ON df_rk.Team = df_rk_l5.Team AND df_rk.Player = df_rk_l5.Player""").fetchdf()
    df_save = pd.DataFrame()
    for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
        print(pos)
        df_def = con.execute(f"""SELECT Team, '{pos}' AS Pos, Def_{stat}, Def_Rk FROM
                                 (SELECT *, RANK() OVER (ORDER BY Def_{stat}) as Def_Rk FROM
                                 (SELECT Opp as Team, AVG({stat}) as Def_{stat} FROM df 
                                 WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                 GROUP BY Opp
                                 ORDER BY AVG(Fpts) DESC))
                                 WHERE Team IN ({str(tms_today).replace("[", "").replace("]", "")})""").fetchdf()

        df_def_l5 = con.execute(f"""WITH last5 AS (
                                    SELECT Opp AS Team, {stat} AS stat_val, 
                                    ROW_NUMBER() OVER (PARTITION BY Opp ORDER BY Date DESC) AS rn
                                    FROM df
                                    WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                    )

                                    SELECT Team, '{pos}' AS Pos, AVG(stat_val) AS Def_L5_{stat} FROM last5
                                    WHERE rn <= 5
                                    GROUP BY Team
                                    HAVING Team IN ({str(tms_today).replace('[','').replace(']','')})
                                    """).fetchdf()
        df_def = con.execute(f"""SELECT df_def.Team, df_def.Pos, Def_{stat}, Def_L5_{stat}, Def_Rk FROM df_def 
                               JOIN df_def_l5 ON df_def.Team = df_def_l5.Team""").fetchdf()
        
        # Piece together the current matchups with offensive rankings vs defensive rankings
        df_picks = con.execute(f"""SELECT df_mtch.*, df_rk.* EXCLUDE(Team) FROM df_mtch 
                                  JOIN df_rk ON df_mtch.Team = df_rk.Team
                                  WHERE Pos = '{pos}'""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE(Opp, Pos), Opp, df_def.Def_{stat}, df_def.Def_L5_{stat}, 
                                   df_def.Def_Rk FROM df_picks 
                                   JOIN df_def ON df_picks.Opp = df_def.Team""").fetchdf()
        df_picks['Rk_Diff'] = df_picks['Def_Rk'] - df_picks['Off_Rk']
        df_picks = con.execute(f"""SELECT t1.* EXCLUDE(Rk_Diff) FROM df_picks t1
                                LEFT JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                                WHERE Status IS NULL
                                ORDER BY Rk_Diff DESC""").fetchdf()
        
        # head to head
        df_h2h = pd.DataFrame()
        for index, row in df_picks.iterrows():
            query = f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG({stat}) AS AVG_{stat}_H2H FROM df 
                       WHERE Player = ? AND Opp = ? AND Date >= '2023-10-23'
                       GROUP BY Player)
                       WHERE Gms >= 4"""
            df_temp = con.execute(query, [row["Player"], row["Opp"]]).fetchdf()
            df_h2h = pd.concat([df_h2h, df_temp])
        try:
            df_picks = con.execute(f"""SELECT Team, B2B, t1.Player, Off_{stat}, Off_L5_{stat}, t2.AVG_{stat}_H2H, Off_Rk, 
                                   t1.* EXCLUDE(Team, B2B, Player, Off_{stat}, Off_L5_{stat}, Off_Rk)
                                   FROM df_picks t1 LEFT JOIN df_h2h t2 
                                   ON t1.Player = t2.Player""").fetchdf()
        except:
            pass
        df_picks = con.execute(f"""SELECT df_picks.*, df_lines.{stat}_line FROM df_picks LEFT JOIN df_lines 
                                   ON df_picks.Team = df_lines.Team AND df_picks.Player = df_lines.Player""").fetchdf()
        df_picks[f'{stat}_Diff'] = df_picks[f'Off_{stat}'] - df_picks[f'{stat}_line']
        df_picks[f'{stat}_Diff2'] = abs(df_picks[f'{stat}_Diff'])
        df_picks = df_picks[~(df_picks[f'{stat}_Diff'].isnull())].sort_values(f'{stat}_Diff2', ascending=False).reset_index(drop=True).drop(f'{stat}_Diff2', axis=1)
        df_save = pd.concat([df_save, df_picks], ignore_index=True)
        if collect == False:
            display(df_picks)
    if collect == True:
        df_save.insert(0, 'Date', pd.to_datetime(now))
        return df_save

In [8]:
for i in categories:
    print(f"==={i}===")
    pick_finder(i)

===PTS===
PG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,LAC,0,James Harden,27.812500,34.0,17.142857,3,LAL,17.928571,24.0,4,24.5,3.312500
1,ATL,0,Vit Krejci,11.928571,8.6,NaN,6,WAS,22.833333,20.6,24,9.5,2.428571
2,ORL,0,Jalen Suggs,14.384615,18.0,18.000000,5,PHI,18.357143,18.6,6,16.5,-2.115385
3,LAL,0,Luka Doncic,34.500000,30.8,31.000000,1,LAC,20.466667,21.0,15,32.5,2.000000
4,ORL,0,Anthony Black,11.833333,15.2,6.875000,7,PHI,18.357143,18.6,6,12.5,-0.666667
5,PHI,0,Tyrese Maxey,33.000000,35.0,26.714286,2,ORL,23.375000,26.6,29,32.5,0.500000
6,LAC,0,Kris Dunn,7.500000,6.4,7.857143,8,LAL,17.928571,24.0,4,7.5,0.000000

SG

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,LAL,0,Austin Reaves,27.615385,23.400000,12.571429,1,LAC,17.000000,21.4,13,22.5,5.115385
1,LAL,0,Marcus Smart,9.461538,9.200000,NaN,11,LAC,17.000000,21.4,13,5.5,3.961538
2,PHI,0,Jared McCain,9.333333,9.333333,NaN,12,ORL,16.866667,12.0,11,12.5,-3.166667
3,ORL,0,Desmond Bane,17.444444,21.800000,NaN,3,PHI,17.600000,15.8,19,20.5,-3.055556
4,ATL,0,Luke Kennard,8.866667,9.000000,NaN,13,WAS,14.375000,13.6,4,6.5,2.366667
5,ATL,0,Dyson Daniels,9.473684,13.400000,12.250000,10,WAS,14.375000,13.6,4,11.5,-2.026316
6,LAC,0,Bogdan Bogdanovic,10.375000,11.600000,13.000000,8,LAL,18.200000,16.6,24,8.5,1.875000
7,WAS,0,CJ McCollum,16.500000,15.800000,NaN,5,ATL,14.800000,11.4,5,17.5,-1.000000
8,WAS,0,Bilal Coulibaly,9.625000,7.200000,12.000000,9,ATL,14.800000,11.4,5,10.5,-0.875000
9,PHI,0,Quentin Grimes,16.750000,15.600000,5.833333,4,ORL,16.866667,12.0,11,17.5,-0.750000
10,ATL,0,Nickeil Alexander-Walker,19.117647,24.200000,12.250000,2,WAS,14.375000,13.6,4,18.5,0.617647

SF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,LAL,0,LeBron James,14.000000,14.0,27.142857,5,LAC,18.111111,22.6,16,20.5,-6.500000
1,LAC,0,Kawhi Leonard,23.714286,25.8,23.500000,1,LAL,20.615385,16.2,27,20.5,3.214286
2,PHI,0,Justin Edwards,7.416667,11.4,NaN,13,ORL,20.111111,22.0,26,10.5,-3.083333
3,WAS,0,Corey Kispert,9.500000,9.8,13.000000,10,ATL,20.888889,22.0,28,12.5,-3.000000
4,ORL,0,Franz Wagner,23.000000,23.8,27.666667,2,PHI,19.470588,21.0,23,25.5,-2.500000
5,WAS,0,Cam Whitmore,10.666667,12.2,NaN,8,ATL,20.888889,22.0,28,12.5,-1.833333
6,ATL,0,Jalen Johnson,22.882353,24.4,16.142857,3,WAS,21.272727,23.6,29,23.5,-0.617647
7,ATL,0,Zaccharie Risacher,11.312500,8.2,12.500000,7,WAS,21.272727,23.6,29,11.5,-0.187500
8,WAS,0,Khris Middleton,9.500000,8.4,NaN,10,ATL,20.888889,22.0,28,9.5,0.000000

PF

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,LAL,0,Jake LaRavia,10.250000,7.2,7.500000,7,LAC,15.000000,14.4,2,6.5,3.750000
1,LAL,0,Rui Hachimura,15.000000,13.4,16.750000,3,LAC,15.000000,14.4,2,11.5,3.500000
2,LAC,0,Nicolas Batum,5.133333,7.0,4.500000,12,LAL,20.222222,27.6,26,4.5,0.633333
3,LAC,0,John Collins,11.235294,10.4,16.857143,5,LAL,20.222222,27.6,26,11.5,-0.264706
4,PHI,0,Trendon Watford,10.636364,9.6,7.571429,6,ORL,14.166667,11.2,1,10.5,0.136364

C

,Team,B2B,Player,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Off_Rk,Opp,Def_PTS,Def_L5_PTS,Def_Rk,PTS_line,PTS_Diff
0,ATL,0,Onyeka Okongwu,17.111111,23.0,7.857143,4,WAS,19.666667,19.6,26,14.5,2.611111
1,PHI,0,Andre Drummond,9.214286,10.6,6.428571,8,ORL,14.000000,16.0,4,11.5,-2.285714
2,LAL,0,Jaxson Hayes,5.307692,5.4,3.000000,11,LAC,18.500000,20.0,19,7.5,-2.192308
3,LAC,0,Brook Lopez,7.133333,7.0,13.500000,9,LAL,10.416667,8.2,1,5.5,1.633333
4,ATL,0,Kristaps Porzingis,18.363636,19.2,12.000000,2,WAS,19.666667,19.6,26,19.5,-1.136364
5,ORL,0,Goga Bitadze,6.562500,6.4,4.375000,10,PHI,17.909091,14.6,15,5.5,1.062500
6,LAC,0,Ivica Zubac,17.000000,19.0,16.166667,5,LAL,10.416667,8.2,1,17.5,-0.500000
7,ORL,0,Wendell Carter Jr.,12.294118,11.4,8.142857,7,PHI,17.909091,14.6,15,12.5,-0.205882

===AST===
PG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,LAL,0,Luka Doncic,8.916667,8.6,8.272727,1,LAC,5.533333,4.0,4,7.5,1.416667
1,LAC,0,James Harden,8.375000,6.8,9.428571,2,LAL,6.714286,6.2,16,7.5,0.875000
2,LAC,0,Kris Dunn,3.214286,3.8,3.428571,8,LAL,6.714286,6.2,16,2.5,0.714286
3,ORL,0,Anthony Black,2.882353,3.8,2.875000,9,PHI,6.857143,8.4,19,3.5,-0.617647
4,PHI,0,Tyrese Maxey,7.750000,6.6,4.428571,4,ORL,7.500000,7.6,24,7.5,0.250000
5,ORL,0,Jalen Suggs,4.615385,5.0,3.285714,5,PHI,6.857143,8.4,19,4.5,0.115385

SG

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,LAL,0,Austin Reaves,7.307692,4.6,4.428571,1,LAC,4.687500,5.8,29,4.5,2.807692
1,PHI,0,Quentin Grimes,4.062500,3.4,1.333333,5,ORL,3.733333,2.6,17,4.5,-0.437500
2,WAS,0,Bilal Coulibaly,3.250000,3.2,2.375000,10,ATL,3.533333,2.4,15,3.5,-0.250000
3,WAS,0,CJ McCollum,3.312500,3.2,NaN,9,ATL,3.533333,2.4,15,3.5,-0.187500
4,ATL,0,Nickeil Alexander-Walker,3.647059,3.8,4.500000,8,WAS,3.187500,3.6,6,3.5,0.147059
5,ATL,0,Dyson Daniels,5.578947,6.6,2.500000,2,WAS,3.187500,3.6,6,5.5,0.078947
6,ORL,0,Desmond Bane,4.555556,4.8,NaN,3,PHI,3.700000,2.8,16,4.5,0.055556

SF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,LAL,0,LeBron James,10.000000,10.0,7.714286,1,LAC,3.166667,2.4,12,7.5,2.500000
1,ATL,0,Jalen Johnson,7.411765,8.6,4.000000,2,WAS,4.090909,4.2,28,8.5,-1.088235
2,WAS,0,Khris Middleton,2.500000,2.6,NaN,7,ATL,3.000000,3.8,7,3.5,-1.000000
3,LAC,0,Kawhi Leonard,3.285714,3.2,4.000000,5,LAL,3.538462,3.6,18,2.5,0.785714
4,ORL,0,Franz Wagner,4.000000,4.4,3.833333,4,PHI,4.000000,4.8,26,4.5,-0.500000
5,PHI,0,Justin Edwards,1.909091,2.6,NaN,12,ORL,3.500000,3.6,16,1.5,0.409091
6,WAS,0,Corey Kispert,2.333333,2.2,2.375000,8,ATL,3.000000,3.8,7,2.5,-0.166667

PF

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,PHI,0,Trendon Watford,3.769231,3.4,0.428571,2,ORL,2.583333,2.0,8,3.5,0.269231

C

,Team,B2B,Player,Off_AST,Off_L5_AST,AVG_AST_H2H,Off_Rk,Opp,Def_AST,Def_L5_AST,Def_Rk,AST_line,AST_Diff
0,ATL,0,Kristaps Porzingis,3.454545,3.6,1.000000,2,WAS,3.555556,3.8,21,2.5,0.954545
1,ORL,0,Wendell Carter Jr.,2.125000,2.8,1.285714,6,PHI,2.090909,1.8,2,2.5,-0.375000
2,ATL,0,Onyeka Okongwu,2.823529,3.6,1.285714,4,WAS,3.555556,3.8,21,2.5,0.323529
3,LAC,0,Ivica Zubac,2.500000,3.0,1.666667,5,LAL,2.916667,3.0,11,2.5,0.000000

===REB===
PG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,PHI,0,Tyrese Maxey,4.625000,4.0,3.571429,3,ORL,4.812500,4.6,15,3.5,1.125000
1,LAL,0,Luka Doncic,8.750000,7.8,7.181818,1,LAC,3.866667,3.2,4,9.5,-0.750000
2,LAC,0,James Harden,6.133333,4.6,3.571429,2,LAL,3.285714,3.8,1,5.5,0.633333
3,LAC,0,Kris Dunn,2.933333,3.0,2.571429,7,LAL,3.285714,3.8,1,2.5,0.433333
4,ORL,0,Jalen Suggs,3.846154,4.0,3.428571,4,PHI,5.714286,5.4,27,3.5,0.346154
5,ORL,0,Anthony Black,3.176471,3.0,3.000000,6,PHI,5.714286,5.4,27,3.5,-0.323529
6,ATL,0,Vit Krejci,2.285714,2.2,NaN,8,WAS,5.416667,6.8,23,2.5,-0.214286

SG

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,LAL,0,Austin Reaves,5.461538,6.0,3.571429,3,LAC,4.625000,6.0,27,4.5,0.961538
1,WAS,0,Bilal Coulibaly,3.875000,2.8,5.375000,5,ATL,3.866667,3.4,12,4.5,-0.625000
2,ATL,0,Dyson Daniels,6.000000,7.8,5.000000,1,WAS,4.250000,4.4,18,6.5,-0.500000
3,ATL,0,Nickeil Alexander-Walker,3.117647,4.0,3.750000,11,WAS,4.250000,4.4,18,3.5,-0.382353
4,WAS,0,CJ McCollum,3.250000,2.8,NaN,8,ATL,3.866667,3.4,12,3.5,-0.250000
5,PHI,0,Quentin Grimes,3.733333,3.0,2.333333,7,ORL,3.866667,3.2,12,3.5,0.233333
6,ORL,0,Desmond Bane,4.705882,4.8,NaN,4,PHI,3.650000,5.2,8,4.5,0.205882

SF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,LAL,0,LeBron James,4.500000,4.5,8.142857,5,LAC,5.388889,6.4,11,7.5,-3.000000
1,LAC,0,Kawhi Leonard,5.285714,5.6,6.625000,4,LAL,5.846154,5.2,21,4.5,0.785714
2,PHI,0,Justin Edwards,2.727273,3.2,NaN,13,ORL,6.111111,6.6,24,3.5,-0.772727
3,WAS,0,Corey Kispert,2.785714,2.6,2.750000,11,ATL,5.888889,7.4,22,3.5,-0.714286
4,ATL,0,Zaccharie Risacher,2.800000,2.6,3.000000,10,WAS,5.454545,6.8,13,3.5,-0.700000
5,WAS,0,Khris Middleton,3.916667,3.6,NaN,6,ATL,5.888889,7.4,22,3.5,0.416667
6,ATL,0,Jalen Johnson,10.117647,9.8,10.428571,1,WAS,5.454545,6.8,13,10.5,-0.382353
7,ORL,0,Franz Wagner,6.444444,6.6,6.333333,2,PHI,5.294118,3.4,10,6.5,-0.055556
8,WAS,0,Cam Whitmore,3.461538,4.0,NaN,9,ATL,5.888889,7.4,22,3.5,-0.038462

PF

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,LAL,0,Jake LaRavia,4.533333,3.0,4.250000,8,LAC,5.400000,6.2,4,3.5,1.033333
1,PHI,0,Trendon Watford,5.416667,4.6,2.571429,4,ORL,5.083333,5.0,1,4.5,0.916667
2,LAC,0,John Collins,4.764706,4.6,9.000000,5,LAL,6.000000,7.4,11,5.5,-0.735294
3,LAC,0,Nicolas Batum,3.062500,3.6,3.000000,13,LAL,6.000000,7.4,11,2.5,0.562500
4,LAL,0,Rui Hachimura,3.933333,4.4,4.500000,10,LAC,5.400000,6.2,4,3.5,0.433333

C

,Team,B2B,Player,Off_REB,Off_L5_REB,AVG_REB_H2H,Off_Rk,Opp,Def_REB,Def_L5_REB,Def_Rk,REB_line,REB_Diff
0,PHI,0,Andre Drummond,10.600000,14.6,8.142857,2,ORL,9.600000,11.6,12,13.5,-2.900000
1,LAL,0,Jaxson Hayes,4.076923,3.6,2.500000,10,LAC,9.800000,10.8,13,5.5,-1.423077
2,ORL,0,Wendell Carter Jr.,7.411765,6.8,6.285714,6,PHI,10.727273,10.8,23,8.5,-1.088235
3,ATL,0,Kristaps Porzingis,5.727273,5.2,3.800000,7,WAS,11.111111,10.6,24,6.5,-0.772727
4,ORL,0,Goga Bitadze,5.058824,5.4,3.000000,9,PHI,10.727273,10.8,23,4.5,0.558824
5,LAC,0,Ivica Zubac,11.588235,14.2,13.833333,1,LAL,8.000000,8.2,3,11.5,0.088235
6,ATL,0,Onyeka Okongwu,7.555556,6.0,6.857143,5,WAS,11.111111,10.6,24,7.5,0.055556

===PR===
PG

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,LAC,0,James Harden,33.562500,38.6,20.714286,3,LAL,21.214286,27.8,3,29.5,4.062500
1,ORL,0,Jalen Suggs,18.230769,22.0,21.428571,5,PHI,24.071429,24.0,7,20.5,-2.269231
2,LAL,0,Luka Doncic,43.250000,38.6,38.181818,1,LAC,24.333333,24.2,10,41.5,1.750000
3,PHI,0,Tyrese Maxey,37.625000,39.0,30.285714,2,ORL,28.187500,31.2,25,36.5,1.125000
4,ATL,0,Vit Krejci,13.266667,10.6,NaN,7,WAS,28.250000,27.4,26,12.5,0.766667
5,ORL,0,Anthony Black,14.833333,18.2,9.875000,6,PHI,24.071429,24.0,7,15.5,-0.666667
6,LAC,0,Kris Dunn,9.647059,9.4,10.428571,9,LAL,21.214286,27.8,3,9.5,0.147059

SG

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,LAL,0,Austin Reaves,33.076923,29.4,16.142857,1,LAC,21.625000,27.4,18,27.5,5.576923
1,ORL,0,Desmond Bane,21.888889,26.6,NaN,3,PHI,21.250000,21.0,15,25.5,-3.611111
2,ATL,0,Dyson Daniels,15.473684,21.2,17.250000,7,WAS,18.625000,18.0,4,18.5,-3.026316
3,PHI,0,Quentin Grimes,20.250000,17.4,8.166667,5,ORL,20.733333,15.2,12,21.5,-1.250000
4,WAS,0,Bilal Coulibaly,13.500000,10.0,17.375000,9,ATL,18.666667,14.8,6,14.5,-1.000000
5,WAS,0,CJ McCollum,19.750000,18.6,NaN,6,ATL,18.666667,14.8,6,20.5,-0.750000
6,ATL,0,Nickeil Alexander-Walker,22.235294,28.2,16.000000,2,WAS,18.625000,18.0,4,22.5,-0.264706

SF

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,LAL,0,LeBron James,18.500000,18.5,35.285714,5,LAC,23.500000,29.0,12,27.5,-9.000000
1,WAS,0,Corey Kispert,10.750000,10.8,15.750000,11,ATL,26.777778,29.4,29,16.5,-5.750000
2,LAC,0,Kawhi Leonard,29.000000,31.4,30.125000,3,LAL,26.461538,21.4,27,24.5,4.500000
3,PHI,0,Justin Edwards,9.153846,10.2,NaN,13,ORL,26.222222,28.6,26,13.5,-4.346154
4,WAS,0,Cam Whitmore,13.666667,16.2,NaN,8,ATL,26.777778,29.4,29,16.5,-2.833333
5,ORL,0,Franz Wagner,29.444444,30.4,34.000000,2,PHI,24.764706,24.4,19,31.5,-2.055556
6,ATL,0,Jalen Johnson,33.000000,34.2,26.571429,1,WAS,26.727273,30.4,28,34.5,-1.500000
7,ATL,0,Zaccharie Risacher,13.937500,10.8,15.500000,7,WAS,26.727273,30.4,28,14.5,-0.562500
8,WAS,0,Khris Middleton,13.416667,12.0,NaN,9,ATL,26.777778,29.4,29,13.5,-0.083333

PF

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,LAL,0,Jake LaRavia,14.500000,10.2,11.750000,7,LAC,20.400000,20.6,2,10.5,4.000000
1,LAL,0,Rui Hachimura,18.933333,17.8,21.250000,3,LAC,20.400000,20.6,2,15.5,3.433333
2,LAC,0,John Collins,16.000000,15.0,25.857143,5,LAL,26.222222,35.0,21,17.5,-1.500000
3,LAC,0,Nicolas Batum,7.875000,10.6,7.500000,12,LAL,26.222222,35.0,21,7.5,0.375000
4,PHI,0,Trendon Watford,15.166667,12.8,10.142857,6,ORL,19.250000,16.2,1,15.5,-0.333333

C

,Team,B2B,Player,Off_PR,Off_L5_PR,AVG_PR_H2H,Off_Rk,Opp,Def_PR,Def_L5_PR,Def_Rk,PR_line,PR_Diff
0,PHI,0,Andre Drummond,19.200000,25.2,14.571429,8,ORL,23.600000,27.6,4,24.5,-5.300000
1,LAL,0,Jaxson Hayes,9.384615,9.0,5.500000,10,LAC,28.300000,30.8,18,12.5,-3.115385
2,ATL,0,Onyeka Okongwu,24.666667,29.0,14.714286,4,WAS,30.777778,30.2,26,22.5,2.166667
3,ATL,0,Kristaps Porzingis,24.090909,24.4,15.800000,5,WAS,30.777778,30.2,26,25.5,-1.409091
4,ORL,0,Wendell Carter Jr.,19.705882,18.2,14.428571,7,PHI,28.636364,25.4,19,20.5,-0.794118
5,ORL,0,Goga Bitadze,11.235294,11.8,7.375000,9,PHI,28.636364,25.4,19,10.5,0.735294
6,LAC,0,Ivica Zubac,28.588235,33.2,30.000000,1,LAL,18.416667,16.4,1,28.5,0.088235

===PA===
PG

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,LAC,0,James Harden,36.187500,40.8,26.571429,3,LAL,24.642857,30.2,3,32.5,3.687500
1,LAL,0,Luka Doncic,43.416667,39.4,39.272727,1,LAC,26.000000,25.0,11,40.5,2.916667
2,ORL,0,Jalen Suggs,19.000000,23.0,21.285714,5,PHI,25.214286,27.0,8,21.5,-2.500000
3,PHI,0,Tyrese Maxey,40.750000,41.6,31.142857,2,ORL,30.875000,34.2,27,39.5,1.250000
4,ORL,0,Anthony Black,14.555556,19.0,9.750000,6,PHI,25.214286,27.0,8,15.5,-0.944444
5,LAC,0,Kris Dunn,9.705882,10.2,11.285714,9,LAL,24.642857,30.2,3,9.5,0.205882

SG

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,LAL,0,Austin Reaves,34.923077,28.0,17.000000,1,LAC,21.687500,27.2,22,27.5,7.423077
1,ORL,0,Desmond Bane,22.000000,26.6,NaN,3,PHI,21.300000,18.6,17,25.5,-3.500000
2,ATL,0,Dyson Daniels,15.052632,20.0,14.750000,7,WAS,17.562500,17.2,3,17.5,-2.447368
3,PHI,0,Quentin Grimes,20.812500,19.0,7.166667,4,ORL,20.600000,14.6,11,21.5,-0.687500
4,WAS,0,CJ McCollum,19.812500,19.0,NaN,5,ATL,18.333333,13.8,7,20.5,-0.687500
5,WAS,0,Bilal Coulibaly,12.875000,10.4,14.375000,8,ATL,18.333333,13.8,7,13.5,-0.625000
6,ATL,0,Nickeil Alexander-Walker,22.764706,28.0,16.750000,2,WAS,17.562500,17.2,3,22.5,0.264706

SF

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,WAS,0,Corey Kispert,10.733333,9.6,15.375000,11,ATL,23.888889,25.8,26,15.5,-4.766667
1,PHI,0,Justin Edwards,8.461538,9.6,NaN,13,ORL,23.611111,25.6,25,12.5,-4.038462
2,LAC,0,Kawhi Leonard,27.000000,29.0,27.500000,2,LAL,24.153846,19.8,28,23.5,3.500000
3,LAL,0,LeBron James,24.000000,24.0,34.857143,4,LAC,21.277778,25.0,13,27.5,-3.500000
4,ORL,0,Franz Wagner,27.000000,28.2,31.500000,2,PHI,23.470588,25.8,24,29.5,-2.500000
5,ATL,0,Jalen Johnson,30.294118,33.0,20.142857,1,WAS,25.363636,27.8,29,32.5,-2.205882
6,WAS,0,Khris Middleton,12.000000,11.0,NaN,8,ATL,23.888889,25.8,26,13.5,-1.500000

PF

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,PHI,0,Trendon Watford,12.769231,11.6,8.0,5,ORL,16.75,13.2,1,13.5,-0.730769

C

,Team,B2B,Player,Off_PA,Off_L5_PA,AVG_PA_H2H,Off_Rk,Opp,Def_PA,Def_L5_PA,Def_Rk,PA_line,PA_Diff
0,ATL,0,Onyeka Okongwu,19.777778,26.6,9.142857,4,WAS,23.222222,23.4,24,17.5,2.277778
1,ATL,0,Kristaps Porzingis,21.818182,22.8,13.000000,2,WAS,23.222222,23.4,24,22.5,-0.681818
2,ORL,0,Wendell Carter Jr.,14.294118,14.2,9.428571,7,PHI,20.000000,16.4,11,14.5,-0.205882
3,LAC,0,Ivica Zubac,19.352941,21.6,17.833333,5,LAL,13.333333,11.2,1,19.5,-0.147059

===RA===
PG

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,LAC,0,Kris Dunn,5.562500,6.8,6.000000,9,LAL,10.000000,10.0,5,4.5,1.062500
1,ORL,0,Jalen Suggs,8.461538,9.0,6.714286,5,PHI,12.571429,13.8,24,9.5,-1.038462
2,PHI,0,Tyrese Maxey,12.375000,10.6,8.000000,3,ORL,12.312500,12.2,23,11.5,0.875000
3,ORL,0,Anthony Black,5.722222,6.8,5.875000,8,PHI,12.571429,13.8,24,6.5,-0.777778
4,LAC,0,James Harden,14.125000,11.4,13.000000,2,LAL,10.000000,10.0,5,13.5,0.625000
5,LAL,0,Luka Doncic,17.666667,16.4,15.454545,1,LAC,9.400000,7.2,2,17.5,0.166667

SG

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,LAL,0,Austin Reaves,12.769231,10.6,8.000000,1,LAC,9.3125,11.8,29,9.5,3.269231
1,WAS,0,CJ McCollum,6.562500,6.0,NaN,9,ATL,7.4000,5.8,12,7.5,-0.937500
2,PHI,0,Quentin Grimes,7.562500,5.2,3.666667,5,ORL,7.6000,5.8,16,8.5,-0.937500
3,ATL,0,Dyson Daniels,11.578947,14.4,7.500000,2,WAS,7.4375,8.0,13,12.5,-0.921053
4,ATL,0,Nickeil Alexander-Walker,6.764706,7.8,8.250000,8,WAS,7.4375,8.0,13,7.5,-0.735294
5,ORL,0,Desmond Bane,9.000000,9.6,NaN,4,PHI,7.3500,8.0,11,9.5,-0.500000
6,WAS,0,Bilal Coulibaly,7.125000,6.0,7.750000,6,ATL,7.4000,5.8,12,7.5,-0.375000

SF

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,WAS,0,Corey Kispert,4.466667,4.0,5.125000,10,ATL,8.888889,11.2,13,6.5,-2.033333
1,LAC,0,Kawhi Leonard,8.571429,8.8,10.625000,5,LAL,9.384615,8.8,21,7.5,1.071429
2,ATL,0,Jalen Johnson,17.529412,18.4,14.428571,1,WAS,9.545455,11.0,23,18.5,-0.970588
3,PHI,0,Justin Edwards,4.250000,5.8,NaN,12,ORL,9.611111,10.2,24,4.5,-0.250000
4,WAS,0,Khris Middleton,6.416667,6.2,NaN,6,ATL,8.888889,11.2,13,6.5,-0.083333
5,ORL,0,Franz Wagner,10.444444,11.0,10.166667,4,PHI,9.294118,8.2,19,10.5,-0.055556
6,LAL,0,LeBron James,14.500000,14.5,15.857143,2,LAC,8.555556,8.8,8,14.5,0.000000

PF

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,PHI,0,Trendon Watford,8.769231,8.0,3.0,2,ORL,7.666667,7.0,2,8.5,0.269231

C

,Team,B2B,Player,Off_RA,Off_L5_RA,AVG_RA_H2H,Off_Rk,Opp,Def_RA,Def_L5_RA,Def_Rk,RA_line,RA_Diff
0,ORL,0,Wendell Carter Jr.,9.411765,9.6,7.571429,6,PHI,12.818182,12.6,13,10.5,-1.088235
1,ATL,0,Onyeka Okongwu,10.222222,9.6,8.142857,4,WAS,14.666667,14.4,24,9.5,0.722222
2,LAC,0,Ivica Zubac,13.941176,16.8,15.500000,1,LAL,10.916667,11.2,2,13.5,0.441176
3,ATL,0,Kristaps Porzingis,9.181818,8.8,4.800000,7,WAS,14.666667,14.4,24,9.5,-0.318182

===PRA===
PG

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,LAC,0,James Harden,41.937500,45.4,30.142857,3,LAL,27.928571,34.0,2,37.5,4.437500
1,LAL,0,Luka Doncic,52.166667,47.2,46.454545,1,LAC,29.866667,28.2,8,49.5,2.666667
2,ORL,0,Jalen Suggs,22.846154,27.0,24.714286,5,PHI,30.928571,32.4,12,25.5,-2.653846
3,ORL,0,Anthony Black,17.555556,22.0,12.750000,6,PHI,30.928571,32.4,12,19.5,-1.944444
4,PHI,0,Tyrese Maxey,45.375000,45.6,34.714286,2,ORL,35.687500,38.8,28,43.5,1.875000
5,LAC,0,Kris Dunn,12.294118,13.2,13.857143,9,LAL,27.928571,34.0,2,12.5,-0.205882

SG

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,LAL,0,Austin Reaves,40.384615,34.0,20.571429,1,LAC,26.312500,33.2,24,32.5,7.884615
1,ORL,0,Desmond Bane,26.444444,31.4,NaN,2,PHI,24.950000,23.8,16,30.5,-4.055556
2,ATL,0,Dyson Daniels,21.052632,27.8,19.750000,7,WAS,21.812500,21.6,4,23.5,-2.447368
3,WAS,0,Bilal Coulibaly,16.750000,13.2,19.750000,8,ATL,22.200000,17.2,5,18.5,-1.750000
4,WAS,0,CJ McCollum,23.062500,21.8,NaN,6,ATL,22.200000,17.2,5,24.5,-1.437500
5,PHI,0,Quentin Grimes,24.312500,20.8,9.500000,5,ORL,24.466667,17.8,11,25.5,-1.187500
6,ATL,0,Nickeil Alexander-Walker,25.882353,32.0,20.500000,3,WAS,21.812500,21.6,4,26.5,-0.617647

SF

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,WAS,0,Corey Kispert,12.500000,12.2,18.125000,11,ATL,29.777778,33.2,26,18.5,-6.000000
1,LAL,0,LeBron James,28.500000,28.5,43.000000,4,LAC,26.666667,31.4,11,34.5,-6.000000
2,LAC,0,Kawhi Leonard,32.285714,34.6,34.125000,3,LAL,30.000000,25.0,27,27.5,4.785714
3,PHI,0,Justin Edwards,10.769231,12.8,NaN,12,ORL,29.722222,32.2,25,15.5,-4.730769
4,ORL,0,Franz Wagner,33.444444,34.8,37.833333,2,PHI,28.764706,29.2,20,36.5,-3.055556
5,ATL,0,Jalen Johnson,40.411765,42.8,30.571429,1,WAS,30.818182,34.6,29,42.5,-2.088235
6,WAS,0,Khris Middleton,15.916667,14.6,NaN,7,ATL,29.777778,33.2,26,17.5,-1.583333

PF

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,PHI,0,Trendon Watford,17.769231,16.2,10.571429,5,ORL,21.833333,18.2,1,18.5,-0.730769

C

,Team,B2B,Player,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Off_Rk,Opp,Def_PRA,Def_L5_PRA,Def_Rk,PRA_line,PRA_Diff
0,ATL,0,Onyeka Okongwu,27.333333,32.6,16.000000,5,WAS,34.333333,34.0,26,24.5,2.833333
1,ATL,0,Kristaps Porzingis,27.545455,28.0,16.800000,4,WAS,34.333333,34.0,26,28.5,-0.954545
2,ORL,0,Wendell Carter Jr.,21.705882,21.0,15.714286,7,PHI,30.727273,27.2,15,22.5,-0.794118
3,LAC,0,Ivica Zubac,30.941176,35.8,31.666667,1,LAL,21.333333,19.4,1,31.5,-0.558824

===TPM===
PG

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,ATL,0,Vit Krejci,3.307692,3.60,NaN,4,WAS,2.250000,1.6,15,2.5,0.807692
1,LAC,0,James Harden,4.133333,5.60,2.285714,1,LAL,2.214286,2.6,13,3.5,0.633333
2,PHI,0,Tyrese Maxey,4.125000,4.40,2.857143,2,ORL,2.375000,3.6,20,3.5,0.625000
3,LAL,0,Gabe Vincent,1.250000,1.25,2.000000,8,LAC,2.800000,2.6,24,1.5,-0.250000
4,ORL,0,Jalen Suggs,2.272727,2.40,2.285714,5,PHI,2.000000,2.0,8,2.5,-0.227273
5,LAL,0,Luka Doncic,3.416667,2.80,3.000000,3,LAC,2.800000,2.6,24,3.5,-0.083333

SG

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,WAS,0,Bilal Coulibaly,2.000000,2.0,1.000000,9,ATL,1.866667,1.2,4,0.5,1.500000
1,LAC,0,Bogdan Bogdanovic,2.285714,2.4,2.833333,7,LAL,2.100000,2.0,11,1.5,0.785714
2,ATL,0,Luke Kennard,2.250000,2.6,NaN,8,WAS,2.250000,2.2,16,1.5,0.750000
3,PHI,0,Jared McCain,2.000000,2.0,NaN,9,ORL,1.866667,1.8,4,1.5,0.500000
4,ORL,0,Desmond Bane,2.000000,2.2,NaN,9,PHI,2.550000,2.6,21,2.5,-0.500000
5,WAS,0,CJ McCollum,2.928571,2.4,NaN,1,ATL,1.866667,1.2,4,2.5,0.428571
6,PHI,0,Quentin Grimes,2.733333,2.6,1.333333,2,ORL,1.866667,1.8,4,2.5,0.233333
7,LAL,0,Austin Reaves,2.666667,2.2,1.428571,3,LAC,2.375000,3.4,17,2.5,0.166667
8,ATL,0,Nickeil Alexander-Walker,2.375000,3.4,2.250000,4,WAS,2.250000,2.2,16,2.5,-0.125000
9,LAL,0,Marcus Smart,1.500000,1.6,NaN,14,LAC,2.375000,3.4,17,1.5,0.000000

SF

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,WAS,0,Khris Middleton,1.428571,1.2,NaN,14,ATL,2.777778,4.0,29,0.5,0.928571
1,LAC,0,Kawhi Leonard,2.428571,3.0,2.250000,3,LAL,2.230769,2.2,19,1.5,0.928571
2,ORL,0,Franz Wagner,2.230769,2.6,2.000000,4,PHI,1.941176,1.6,12,1.5,0.730769
3,ATL,0,Jalen Johnson,2.166667,2.2,1.000000,5,WAS,2.272727,1.8,21,1.5,0.666667
4,WAS,0,Corey Kispert,1.916667,2.0,2.250000,10,ATL,2.777778,4.0,29,2.5,-0.583333
5,LAL,0,LeBron James,2.000000,2.0,2.714286,6,LAC,3.000000,2.8,30,1.5,0.500000
6,PHI,0,Justin Edwards,2.000000,2.2,NaN,6,ORL,1.444444,1.2,1,1.5,0.500000
7,ATL,0,Zaccharie Risacher,1.833333,1.4,1.250000,11,WAS,2.272727,1.8,21,1.5,0.333333
8,WAS,0,Cam Whitmore,1.363636,1.2,NaN,15,ATL,2.777778,4.0,29,1.5,-0.136364

PF

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,LAL,0,Jake LaRavia,1.636364,1.2,1.250000,7,LAC,0.900000,0.4,1,0.5,1.136364
1,LAC,0,John Collins,1.300000,1.4,1.428571,10,LAL,2.666667,3.4,29,0.5,0.800000
2,LAL,0,Rui Hachimura,2.153846,2.2,1.750000,3,LAC,0.900000,0.4,1,1.5,0.653846
3,LAC,0,Nicolas Batum,1.642857,2.2,1.166667,6,LAL,2.666667,3.4,29,1.5,0.142857

C

,Team,B2B,Player,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Off_Rk,Opp,Def_TPM,Def_L5_TPM,Def_Rk,TPM_line,TPM_Diff
0,LAC,0,Brook Lopez,2.090909,1.6,2.000000,2,LAL,0.500000,0.4,6,0.5,1.590909
1,ATL,0,Onyeka Okongwu,2.733333,4.0,0.000000,1,WAS,1.888889,2.0,29,1.5,1.233333
2,ORL,0,Wendell Carter Jr.,1.571429,1.4,0.428571,6,PHI,0.818182,0.8,13,0.5,1.071429
3,ATL,0,Kristaps Porzingis,2.000000,1.6,0.800000,3,WAS,1.888889,2.0,29,1.5,0.500000

===STL===
PG

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ORL,0,Jalen Suggs,2.500000,2.2,1.285714,1,PHI,1.357143,1.4,17,1.5,1.000000
1,LAL,0,Luka Doncic,2.400000,2.4,1.363636,2,LAC,1.466667,1.2,20,1.5,0.900000
2,PHI,0,Tyrese Maxey,1.733333,2.6,1.714286,5,ORL,1.750000,1.6,24,1.5,0.233333
3,LAC,0,Kris Dunn,1.714286,1.2,1.428571,7,LAL,2.071429,2.8,29,1.5,0.214286
4,LAC,0,James Harden,1.454545,1.2,1.571429,9,LAL,2.071429,2.8,29,1.5,-0.045455

SG

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ORL,0,Desmond Bane,1.625000,1.8,NaN,6,PHI,1.050000,1.2,14,0.5,1.125000
1,WAS,0,Bilal Coulibaly,1.600000,1.6,1.750000,7,ATL,0.800000,0.6,5,0.5,1.100000
2,LAL,0,Austin Reaves,1.545455,1.0,0.857143,8,LAC,1.187500,0.6,15,0.5,1.045455
3,WAS,0,CJ McCollum,1.375000,1.4,NaN,11,ATL,0.800000,0.6,5,0.5,0.875000
4,ATL,0,Dyson Daniels,2.210526,2.4,3.000000,3,WAS,1.437500,0.6,25,2.5,-0.289474
5,PHI,0,Quentin Grimes,1.750000,1.8,1.000000,5,ORL,1.266667,1.0,17,1.5,0.250000

SF

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,LAC,0,Kawhi Leonard,2.571429,3.2,1.375000,1,LAL,0.923077,0.8,7,1.5,1.071429
1,ATL,0,Jalen Johnson,2.000000,1.4,0.857143,2,WAS,1.636364,0.8,27,1.5,0.500000
2,LAL,0,LeBron James,1.000000,1.0,1.571429,14,LAC,1.055556,1.0,11,1.5,-0.500000
3,ORL,0,Franz Wagner,1.636364,1.4,0.833333,8,PHI,0.823529,0.4,3,1.5,0.136364

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL, Off_L5_STL, AVG_STL_H2H, Off_Rk, Opp, Def_STL, Def_L5_STL, Def_Rk, STL_line, STL_Diff]
Index: []

C

,Team,B2B,Player,Off_STL,Off_L5_STL,AVG_STL_H2H,Off_Rk,Opp,Def_STL,Def_L5_STL,Def_Rk,STL_line,STL_Diff
0,ATL,0,Kristaps Porzingis,2.500000,2.5,0.0,1,WAS,0.666667,0.4,8,0.5,2.000000
1,LAC,0,Ivica Zubac,1.333333,1.4,0.5,5,LAL,1.333333,1.2,25,0.5,0.833333

===BLK===
PG

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,LAC,0,James Harden,1.75,1.75,0.142857,1,LAL,0.428571,0.0,19,0.5,1.25
1,LAL,0,Luka Doncic,1.50,1.50,0.454545,3,LAC,0.400000,0.0,17,0.5,1.00

SG

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,ATL,0,Dyson Daniels,1.0,1.0,1.25,8,WAS,0.5625,0.2,26,0.5,0.5

SF

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,LAC,0,Kawhi Leonard,1.333333,1.333333,0.750000,4,LAL,0.461538,0.2,15,0.5,0.833333
1,ORL,0,Franz Wagner,1.166667,1.200000,0.833333,7,PHI,0.235294,0.2,4,0.5,0.666667
2,ATL,0,Jalen Johnson,1.000000,1.000000,1.142857,9,WAS,0.545455,0.4,18,0.5,0.500000

PF

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,LAC,0,John Collins,1.428571,1.4,1.0,7,LAL,0.5,0.8,5,0.5,0.928571

C

,Team,B2B,Player,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Off_Rk,Opp,Def_BLK,Def_L5_BLK,Def_Rk,BLK_line,BLK_Diff
0,ORL,0,Wendell Carter Jr.,1.857143,2.0,0.857143,5,PHI,1.363636,0.4,19,0.5,1.357143
1,LAC,0,Ivica Zubac,1.500000,1.4,0.833333,9,LAL,0.916667,1.0,4,0.5,1.000000
2,ATL,0,Kristaps Porzingis,2.111111,2.8,0.400000,2,WAS,1.222222,1.2,16,1.5,0.611111
3,LAL,0,Jaxson Hayes,1.000000,1.0,0.875000,12,LAC,1.000000,1.0,6,0.5,0.500000

===STL_BLK===
PG

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,LAL,0,Luka Doncic,3.000000,3.0,1.818182,1,LAC,1.866667,1.2,19,2.5,0.500000
1,LAC,0,James Harden,1.769231,1.6,1.714286,6,LAL,2.500000,2.8,29,1.5,0.269231

SG

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,ATL,0,Dyson Daniels,2.631579,2.8,4.25,2,WAS,2.0,0.8,28,3.5,-0.868421

SF

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,LAC,0,Kawhi Leonard,3.142857,3.6,2.125000,1,LAL,1.384615,1.0,9,1.5,1.642857
1,LAL,0,LeBron James,1.000000,1.0,2.428571,16,LAC,1.388889,1.2,10,1.5,-0.500000
2,ORL,0,Franz Wagner,1.785714,2.2,1.666667,12,PHI,1.058824,0.6,2,1.5,0.285714
3,ATL,0,Jalen Johnson,2.294118,1.8,2.000000,4,WAS,2.181818,1.2,27,2.5,-0.205882

PF

Empty DataFrame
Columns: [Team, B2B, Player, Off_STL_BLK, Off_L5_STL_BLK, AVG_STL_BLK_H2H, Off_Rk, Opp, Def_STL_BLK, Def_L5_STL_BLK, Def_Rk, STL_BLK_line, STL_BLK_Diff]
Index: []

C

,Team,B2B,Player,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Off_Rk,Opp,Def_STL_BLK,Def_L5_STL_BLK,Def_Rk,STL_BLK_line,STL_BLK_Diff
0,LAC,0,Ivica Zubac,1.769231,1.6,1.333333,10,LAL,2.250000,2.2,15,1.5,0.269231
1,ATL,0,Kristaps Porzingis,2.400000,2.8,0.400000,3,WAS,1.888889,1.6,7,2.5,-0.100000

In [9]:
df_stats = pd.DataFrame()
for i in categories:
    print(f"==={i}===")
    df_temp = pick_finder(i, collect=True)
    df_stats = pd.concat([df_stats, df_temp], ignore_index=True)
    
df_stats = con.execute("SELECT Date, Team, B2B, Player, Opp, * EXCLUDE(Date, Team, B2B, Player, Opp, Off_Rk, Def_Rk) FROM df_stats").fetchdf()
df_save = pd.DataFrame()
for player in df_stats.Player.unique():
    df_temp = df_stats[(df_stats.Player == player)]
    for col in df_temp.columns.difference(['Date', 'Team', 'Player']):
        df_temp[col] = df_temp[col].ffill()
        df_temp[col] = df_temp[col].backfill()
    df_temp = df_temp.drop_duplicates()
    df_save = pd.concat([df_save, df_temp])
print('Saving for Date:', now)
partition_save_df(df_save, f"../tables/{year}/parlay_stats.csv")
display(df_save)

===PTS===
PG
SG
SF
PF
C
===AST===
PG
SG
SF
PF
C
===REB===
PG
SG
SF
PF
C
===PR===
PG
SG
SF
PF
C
===PA===
PG
SG
SF
PF
C
===RA===
PG
SG
SF
PF
C
===PRA===
PG
SG
SF
PF
C
===TPM===
PG
SG
SF
PF
C
===STL===
PG
SG
SF
PF
C
===BLK===
PG
SG
SF
PF
C
===STL_BLK===
PG
SG
SF
PF
C
Saving for Date: 2025-11-25

,Date,Team,B2B,Player,Opp,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Def_PTS,Def_L5_PTS,PTS_line,PTS_Diff,Off_AST,Off_L5_AST,AVG_AST_H2H,Def_AST,Def_L5_AST,AST_line,AST_Diff,Off_REB,Off_L5_REB,AVG_REB_H2H,Def_REB,Def_L5_REB,REB_line,REB_Diff,Off_PR,Off_L5_PR,AVG_PR_H2H,Def_PR,Def_L5_PR,PR_line,PR_Diff,Off_PA,Off_L5_PA,AVG_PA_H2H,Def_PA,Def_L5_PA,PA_line,PA_Diff,Off_RA,Off_L5_RA,AVG_RA_H2H,Def_RA,Def_L5_RA,RA_line,RA_Diff,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Def_PRA,Def_L5_PRA,PRA_line,PRA_Diff,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Def_TPM,Def_L5_TPM,TPM_line,TPM_Diff,Off_STL,Off_L5_STL,AVG_STL_H2H,Def_STL,Def_L5_STL,STL_line,STL_Diff,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Def_BLK,Def_L5_BLK,BLK_line,BLK_Diff,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Def_STL_BLK,Def_L5_STL_BLK,STL_BLK_line,STL_BLK_Diff
0,2025-11-25,LAC,0,James Harden,LAL,27.812500,34.000000,17.142857,17.928571,24.0,24.5,3.312500,8.375000,6.8,9.428571,6.714286,6.2,7.5,0.875000,6.133333,4.6,3.571429,3.285714,3.8,5.5,0.633333,33.562500,38.6,20.714286,21.214286,27.8,29.5,4.062500,36.187500,40.8,26.571429,24.642857,30.2,32.5,3.687500,14.125000,11.4,13.000000,10.000000,10.0,13.5,0.625000,41.937500,45.4,30.142857,27.928571,34.0,37.5,4.437500,4.133333,5.60,2.285714,2.214286,2.6,3.5,0.633333,1.454545,1.2,1.571429,2.071429,2.8,1.5,-0.045455,1.750000,1.750000,0.142857,0.428571,0.0,0.5,1.250000,1.769231,1.6,1.714286,2.500000,2.8,1.5,0.269231
1,2025-11-25,ATL,0,Vit Krejci,WAS,11.928571,8.600000,NaN,22.833333,20.6,9.5,2.428571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.285714,2.2,NaN,5.416667,6.8,2.5,-0.214286,13.266667,10.6,NaN,28.250000,27.4,12.5,0.766667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.307692,3.60,NaN,2.250000,1.6,2.5,0.807692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-11-25,ORL,0,Jalen Suggs,PHI,14.384615,18.000000,18.000000,18.357143,18.6,16.5,-2.115385,4.615385,5.0,3.285714,6.857143,8.4,4.5,0.115385,3.846154,4.0,3.428571,5.714286,5.4,3.5,0.346154,18.230769,22.0,21.428571,24.071429,24.0,20.5,-2.269231,19.000000,23.0,21.285714,25.214286,27.0,21.5,-2.500000,8.461538,9.0,6.714286,12.571429,13.8,9.5,-1.038462,22.846154,27.0,24.714286,30.928571,32.4,25.5,-2.653846,2.272727,2.40,2.285714,2.000000,2.0,2.5,-0.227273,2.500000,2.2,1.285714,1.357143,1.4,1.5,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-11-25,LAL,0,Luka Doncic,LAC,34.500000,30.800000,31.000000,20.466667,21.0,32.5,2.000000,8.916667,8.6,8.272727,5.533333,4.0,7.5,1.416667,8.750000,7.8,7.181818,3.866667,3.2,9.5,-0.750000,43.250000,38.6,38.181818,24.333333,24.2,41.5,1.750000,43.416667,39.4,39.272727,26.000000,25.0,40.5,2.916667,17.666667,16.4,15.454545,9.400000,7.2,17.5,0.166667,52.166667,47.2,46.454545,29.866667,28.2,49.5,2.666667,3.416667,2.80,3.000000,2.800000,2.6,3.5,-0.083333,2.400000,2.4,1.363636,1.466667,1.2,1.5,0.900000,1.500000,1.500000,0.454545,0.400000,0.0,0.5,1.000000,3.000000,3.0,1.818182,1.866667,1.2,2.5,0.500000
4,2025-11-25,ORL,0,Anthony Black,PHI,11.833333,15.200000,6.875000,18.357143,18.6,12.5,-0.666667,2.882353,3.8,2.875000,6.857143,8.4,3.5,-0.617647,3.176471,3.0,3.000000,5.714286,5.4,3.5,-0.323529,14.833333,18.2,9.875000,24.071429,24.0,15.5,-0.666667,14.555556,19.0,9.750000,25.214286,27.0,15.5,-0.944444,5.722222,6.8,5.875000,12.571429,13.8,6.5,-0.777778,17.555556,22.0,12.750000,30.928571,32.4,19.5,-1.944444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2025-11-25,PHI,0,Tyrese Maxey,ORL,33.000000,35.000000,26.714286,23.375000,26.6,32.5,0.500000,7.750000,6.6,4.428571,7.500000,7.6,7.5,0.250000,4.625000,4.0,3.571429,4.812500,4.6,3.5,1.125000,37.625000,39.0,30.285714,28.187500,31.2,36.5,1.125000,40.750000,41.6,31.142857,30.875000,34.2,39.5,1.250000,12.375000,10.6,8.000000,12.312500,12.2,11.5,0.875000,45.375000,45.6,34.714286,35.687500,38.8,43.5,1.875000,4.125000,4.40,2.857143,2.375000,3.6,3.5,0.625000,1.733333,2.6,1.714286,1.750000,1.6,1.5,0.233333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2025-11-25,LAC,0,Kris Dunn,LAL,7.500000,6.400000,7.857143,17.928571,24.0,7.5,0.000000,3.214286,3.8,3.428571,6.714286,6.2,2.5,0.714286,2.933333,3.0,2.571429,3.285714,3.8,2.5,0.433333,9.647059,9.4,10.428571,21.214286,27.8,9.5,0.147059,9.705882,10.2,11.285714,24.642857,30.2,9.5,0.205882,5.562500,6.8,6.000000,10.000000,10.0,4.5,1.062500,12.294118,13.2,13.857143,27.928571,34.0,12.5,-0.205882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.714286,1.2,1.428571,2.071429,2.8,1.5,0.214286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2025-11-25,LAL,0,Austin Reaves,LAC,27.615385,23.400000,12.571429,17.000000,21.4,22.5,5.115385,7.307692,4.6,4.428571,4.687500,5.8,4.5,2.807692,5.461538,6.0,3.571429,4.625000,6.0,4.5,0.961538,33.076923,29.4,16.142857,21.625000,27.4,27.5,5.576923,34.923077,28.0,17.000000,21.687500,27.2,27.5,7.423077,12.769231,10.6,8.000000,9.312500,11.8,9.5,3.269231,40.384615,34.0,20.571429,26.312500,33.2,32.5,7.884615,2.666667,2.20,1.428571,2.375000,3.4,2.5,0.166667,1.545455,1.0,0.857143,1.187500,0.6,0.5,1.045455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2025-11-25,LAL,0,Marcus Smart,LAC,9.461538,9.200000,NaN,17.000000,21.4,5.5,3.961538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,1.60,NaN,2.375000,3.4,1.5,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2025-11-25,PHI,0,Jared McCain,ORL,9.333333,9.333333,NaN,16.866667,12.0,12.5,-3.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.00,NaN,1.866667,1.8,1.5,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2025-11-25,ORL,0,Desmond Bane,PHI,17.444444,21.800000,NaN,17.600000,15.8,20.5,-3.055556,4.555556,4.8,NaN,3.700000,2.8,4.5,0.055556,4.705882,4.8,NaN,3.650000,5.2,4.5,0.205882,21.888889,26.6,NaN,21.250000,21.0,25.5,-3.611111,22.000000,26.6,NaN,21.300000,18.6,25.5,-3.500000,9.000000,9.6,NaN,7.350000,8.0,9.5,-0.500000,26.444444,31.4,NaN,24.950000,23.8,30.5,-4.055556,2.000000,2.20,NaN,2.550000,2.6,2.5,-0.500000,1.625000,1.8,NaN,1.050000,1.2,0.5,1.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2025-11-25,ATL,0,Luke Kennard,WAS,8.866667,9.000000,NaN,14.375000,13.6,6.5,2.366667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.250000,2.60,NaN,2.250000,2.2,1.5,0.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2025-11-25,ATL,0,Dyson Daniels,WAS,9.473684,13.400000,12.250000,14.375000,13.6,11.5,-2.026316,5.578947,6.6,2.500000,3.187500,3.6,5.5,0.078947,6.000000,7.8,5.000000,4.250000,4.4,6.5,-0.500000,15.473684,21.2,17.250000,18.625000,18.0,18.5,-3.026316,15.052632,20.0,14.750000,17.562500,17.2,17.5,-2.447368,11.578947,14.4,7.500000,7.437500,8.0,12.5,-0.921053,21.052632,27.8,19.750000,21.812500,21.6,23.5,-2.447368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.210526,2.4,3.000000,1.437500,0.6,2.5,-0.289474,1.000000,1.000000,1.250000,0.562500,0.2,0.5,0.500000,2.631579,2.8,4.250000,2.000000,0.8,3.5,-0.868421
13,2025-11-25,LAC,0,Bogdan Bogdanovic,LAL,10.375000,11.600000,13.000000,18.200000,16.6,8.5,1.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.285714,2.40,2.833333,2.100000,2.0,1.5,0.785714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2025-11-25,WAS,0,CJ McCollum,ATL,16.500000,15.800000,NaN,14.800000,11.4,17.5,-1.000000,3.312500,3.2,NaN,3.533333,2.4,3.5,-0.187500,3.250000,2.8,NaN,3.866667,3.4,3.5,-0.250000,19.750000,18.6,NaN,18.666667,14.8,20.5,-0.750000,19.812500,19.0,NaN,18.333333,13.8,20.5,-0.687500,6.562500,6.0,NaN,7.400000,5.8,7.5,-0.937500,23.062500,21.8,NaN,22.200000,17.2,24.5,-1.437500,2.928571,2.40,NaN,1.866667,1.2,2.5,0.428571,1.375000,1.4,NaN,0.800000,0.6,0.5,0.875000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2025-11-25,WAS,0,Bilal Coulibaly,ATL,9.625000,7.200000,12.000000,14.800000,11.4,10.5,-0.875000,3.250000,3.2,2.375000,3.533333,2.4,3.5,-0.250000,3.875000,2.8,5.375000,3.866667,3.4,4.5,-0.625000,13.500000,10.0,17.375000,18.666667,14.8,14.5,-1.000000,12.875000,10.4,14.375000,18.333333,13.8,13.5,-0.625000,7.125000,6.0,7.750000,7.400000,5.8,7.5,-0.375000,16.750000,13.2,19.750000,22.200000,17.2,18.5,-1.750000,2.000000,2.00,1.000000,1.866667,1.2,0.5,1.500000,1.600000,1.6,1.750000,0.800000,0.6,0.5,1.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2025-11-25,PHI,0,Quentin Grimes,ORL,16.750000,15.600000,5.833333,16.866667,12.0,17.5,-0.750000,4.062500,3.4,1.333333,3.733333,2.6,4.5,-0.437500,3.733333,3.0,2.333333,3.866667,3.2,3.5,0.233333,20.250000,17.4,8.166667,20.733333,15.2,21.5,-1.250000,20.812500,19.0,7.166667,20.600000,14.6,21.5,-0.687500,7.562500,5.2,3.666667,7.600000,5.8,8.5,-0.937500,24.312500,20.8,9.500000,24.466667,17.8,25.5,-1.187500,2.733333,2.60,1.333333,1.866667,1.8,2.5,0.233333,1.750000,1.8,1.000000,1.266667,1.0,1.5,0.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2025-11-25,ATL,0,Nickeil Alexander-Walker,WAS,19.117647,24.200000,12.250000,14.375000,13.6,18.5,0.617647,3.647059,3.8,4.500000,3.187500,3.6,3.5,0.147059,3.117647,4.0,3.750000,4.250000,4.4,3.5,-0.382353,22.235294,28.2,16.000000,18.625000,18.0,22.5,-0.264706,22.764706,28.0,16.750000,17.562500,17.2,22.5,0.264706,6.764706,7.8,8.250000,7.437500,8.0,7.5,-0.735294,25.882353,32.0,20.500000,21.812500,21.6,26.5,-0.617647,2.375000,3.40,2.250000,2.250000,2.2,2.5,-0.125000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2025-11-25,LAL,0,LeBron James,LAC,14.000000,14.000000,27.142857,18.111111,22.6,20.5,-6.500000,10.000000,10.0,7.714286,3.166667,2.4,7.5,2.500000,4.500000,4.5,8.142857,5.388889,6.4,7.5,-3.000000,18.500000,18.5,35.285714,23.500000,29.0,27.5,-9.000000,24.000000,24.0,34.857143,21.277778,25.0,27.5,-3.500000,14.500000,14.5,15.857143,8.555556,8.8,14.5,0.000000,28.500000,28.5,43.000000,26.666667,31.4,34.5,-6.000000,2.000000,2.00,2.714286,3.000000,2.8,1.5,0.500000,1.000000,1.0,1.571429,1.055556,1.0,1.5,-0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.0,2.428571,1.388889,1.2,1.5,-0.500000
19,2025-11-25,LAC,0,Kawhi Leonard,LAL,23.714286,25.800000,23.500000,20.615385,16.2,20.5,3.214286,3.285714,3.2,4.000000,3.538462,3.6,2.5,0.785714,5.285714,5.6,6.625000,5.846154,5.2,4.5,0.785714,29.000000,31.4,30.125000,26.461538,21.4,24.5,4.500000,27.000000,29.0,27.500000,24.153846,19.8,23.5,3.500000,8.571429,8.8,10.625000,9.384615,8.8,7.5,1.071429,32.285714,34.6,34.125000,30.000000,25.0,27.5,4.785714,2.428571,3.00,2.250000,2.230769,2.2,1.5,0.928571,2.571429,3.2,1.375000,0.923077,0.8,1.5,1.071429,1.333333,1.333333,0.750000,0.461538,0.2,0.5,0.833333,3.142857,3.6,2.125000,1.384615,1.0,1.5,1.642857
20,2025-11-25,PHI,0,Justin Edwards,ORL,7.416667,11.400000,NaN,20.111111,22.0,10.5,-3.083333,1.909091,2.6,NaN,3.500000,3.6,1.5,0.409091,2.727273,3.2,NaN,6.111111,6.6,3.5,-0.772727,9.153846,10.2,NaN,26.222222,28.6,13.5,-4.346154,8.461538,9.6,NaN,23.611111,25.6,12.5,-4.038462,4.250000,5.8,NaN,9.611111,10.2,4.5,-0.250000,10.769231,12.8,NaN,29.722222,32.2,15.5,-4.730769,2.000000,2.20,NaN,1.444444,1.2,1.5,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2025-11-25,WAS,0,Corey Kispert,ATL,9.500000,9.800000,13.000000,20.888889,22.0,12.5,-3.000000,2.333333,2.2,2.375000,3.000000,3.8,2.5,-0.166667,2.785714,2.6,2.750000,5.888889,7.4,3.5,-0.714286,10.750000,10.8,15.750000,26.777778,29.4,16.5,-5.750000,10.733333,9.6,15.375000,23.888889,25.8,15.5,-4.766667,4.466667,4.0,5.125000,8.888889,11.2,6.5,-2.033333,12.500000,12.2,18.125000,29.777778,33.2,18.5,-6.000000,1.916667,2.00,2.250000,2.777778,4.0,2.5,-0.583333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2025-11-25,ORL,0,Franz Wagner,PHI,23.000000,23.800000,27.666667,19.470588,21.0,25.5,-2.500000,4.000000,4.4,3.833333,4.000000,4.8,4.5,-0.500000,6.444444,6.6,6.333333,5.294118,3.4,6.5,-0.055556,29.444444,30.4,34.000000,24.764706,24.4,31.5,-2.055556,27.000000,28.2,31.500000,23.470588,25.8,29.5,-2.500000,10.444444,11.0,10.166667,9.294118,8.2,10.5,-0.055556,33.444444,34.8,37.833333,28.764706,29.2,36.5,-3.055556,2.230769,2.60,2.000000,1.941176,1.6,1.5,0.730769,1.636364,1.4,0.833333,0.823529,0.4,1.5,0.136364,1.166667,1.200000,0.833333,0.235294,0.2,0.5,0.666667,1.785714,2.2,1.666667,1.058824,0.6,1.5,0.285714
23,2025-11-25,WAS,0,Cam Whitmore,ATL,10.666667,12.200000,NaN,20.888889,22.0,12.5,-1.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.461538,4.0,NaN,5.888889,7.4,3.5,-0.038462,13.666667,16.2,NaN,26.777778,29.4,16.5,-2.833333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.363636,1.20,NaN,2.777778,4.0,1.5,-0.136364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2025-11-25,ATL,0,Jalen Johnson,WAS,22.882353,24.400000,16.142857,21.272727,23.6,23.5,-0.617647,7.411765,8.6,4.000000,4.090909,4.2,8.5,-1.088235,10.117647,9.8,10.428571,5.454545,6.8,10.5,-0.382353,33.000000,34.2,26.571429,26.727273,30.4,34.5,-1.500000,30.294118,33.0,20.142857,25.363636,27.8,32.5,-2.205882,17.529412,18.4,14.428571,9.545455,11.0,18.5,-0.970588,40.411765,42.8,30.571429,30.818182,34.6,42.5,-2.088235,2.166667,2.20,1.000000,2.272727,1.8,1.5,0.666667,2.000000,1.4,0.857143,1.636364,0.8,1.5,0.500000,1.000000,1.000000,1.142857,0.545455,0.4,0.5,0.500000,2.294118,1.8,2.000000,2.181818,1.2,2.5,-0.205882
25,2025-11-25,ATL,0,Zaccharie Risacher,WAS,11.312500,8.200000,12.500000,21.272727,23.6,11.5,-0.187500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.800000,2.6,3.000000,5.454545,6.8,3.5,-0.700000,13.937500,10.8,15.500000,26.727273,30.4,14.5,-0.562500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.833333,1.40,1.250000,2.272727,1.8,1.5,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2025-11-25,WAS,0,Khris Middleton,ATL,9.500000,8.400000,NaN,20.888889,22.0,9.5,0.000000,2.500000,2.6,NaN,3.000000,3.8,3.5,-1.000000,3.916667,3.6,NaN,5.888889,7.4,3.5,0.416667,13.416667,12.0,NaN,26.777778,29.4,13.5,-0.083333,12.000000,11.0,NaN,23.888889,25.8,13.5,-1.500000,6.416667,6.2,NaN,8.888889,11.2,6.5,-0.083333,15.916667,14.6,NaN,29.777778,33.2,17.5,-1.583333,1.428571,1.20,NaN,2.777778,4.0,0.5,0.928571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2025-11-25,LAL,0,Jake LaRavia,LAC,10.250000,7.200000,7.500000,15.000000,14.4,6.5,3.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.533333,3.0,4.250000,5.400000,6.2,3.5,1.033333,14.500000,10.2,11.750000,20.400000,20.6,10.5,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.636364,1.20,1.250000,0.900000,0.4,0.5,1.136364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2025-11-25,LAL,0,Rui Hachimura,LAC,15.000000,13.400000,16.750000,15.000000,14.4,11.5,3.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.933333,4.4,4.500000,5.400000,6.2,3.5,0.433333,18.933333,17.8,21.250000,20.400000,20.6,15.5,3.433333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.153846,2.20,1.750000,0.900000,0.4,1.5,0.653846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2025-11-25,LAC,0,Nicolas Batum,LAL,5.133333,7.000000,4.500000,20.222222,27.6,4.5,0.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.062500,3.6,3.000000,6.000000,7.4,2.5,0.562500,7.875000,10.6,7.500000,26.222222,35.0,7.5,0.375000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.642857,2.20,1.166667,2.666667,3.4,1.5,0.142857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2025-11-25,LAC,0,John Collins,LAL,11.235294,10.400000,16.857143,20.222222,27.6,11.5,-0.264706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.764706,4.6,9.000000,6.000000,7.4,5.5,-0.735294,16.000000,15.0,25.857143,26.222222,35.0,17.5,-1.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.300000,1.40,1.428571,2.666667,3.4,0.5,0.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.428571,1.400000,1.000000,0.500000,0.8,0.5,0.928571,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2025-11-25,PHI,0,Trendon Watford,ORL,10.636364,9.600000,7.571429,14.166667,11.2,10.5,0.136364,3.769231,3.4,0.428571,2.583333,2.0,3.5,0.269231,5.416667,4.6,2.571429,5.083333,5.0,4.5,0.916667,15.166667,12.8,10.142857,19.250000,16.2,15.5,-0.333333,12.769231,11.6,8.000000,16.750000,13.2,13.5,-0.730769,8.769231,8.0,3.000000,7.666667,7.0,8.5,0.269231,17.769231,16.2,10.571429,21.833333,18.2,18.5,-0.730769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2025-11-25,ATL,0,Onyeka Okongwu,WAS,17.111111,23.000000,7.857143,19.666667,19.6,14.5,2.611111,2.823529,3.6,1.285714,3.555556,3.8,2.5,0.323529,7.555556,6.0,6.857143,11.111111,10.6,7.5,0.055556,24.666667,29.0,14.714286,30.777778,30.2,22.5,2.166667,19.777778,26.6,9.142857,23.222222,23.4,17.5,2.277778,10.222222,9.6,8.142857,14.666667,14.4,9.5,0.722222,27.333333,32.6,16.000000,34.333333,34.0,24.5,2.833333,2.733333,4.00,0.000000,1.888889,2.0,1.5,1.233333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2025-11-25,PHI,0,Andre Drummond,ORL,9.214286,10.600000,6.428571,14.000000,16.0,11.5,-2.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.600000,14.6,8.142857,9.600000,11.6,13.5,-2.900000,19.200000,25.2,14.571429,23.600000,27.6,24.5,-5.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2025-11-25,LAL,0,Jaxson Hayes,LAC,5.307692,5.400000,3.000000,18.500000,20.0,7.5,-2.192308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.076923,3.6,2.500000,9.800000,10.8,5.5,-1.423077,9.384615,9.0,5.500000,28.300000,30.8,12.5,-3.115385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.875000,1.000000,1.0,0.5,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2025-11-25,LAC,0,Brook Lopez,LAL,7.133333,7.000000,13.500000,10.416667,8.2,5.5,1.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.090909,1.60,2.000000,0.500000,0.4,0.5,1.590909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2025-11-25,ATL,0,Kristaps Porzingis,WAS,18.363636,19.200000,12.000000,19.666667,19.6,19.5,-1.136364,3.454545,3.6,1.000000,3.555556,3.8,2.5,0.954545,5.727273,5.2,3.800000,11.111111,10.6,6.5,-0.772727,24.090909,24.4,15.800000,30.777778,30.2,25.5,-1.409091,21.818182,22.8,13.000000,23.222222,23.4,22.5,-0.681818,9.181818,8.8,4.800000,14.666667,14.4,9.5,-0.318182,27.545455,28.0,16.800000,34.333333,34.0,28.5,-0.954545,2.000000,1.60,0.800000,1.888889,2.0,1.5,0.500000,2.500000,2.5,0.000000,0.666667,0.4,0.5,2.000000,2.111111,2.800000,0.400000,1.222222,1.2,1.5,0.611111,2.400000,2.8,0.400000,1.888889,1.6,2.5,-0.100000
37,2025-11-25,ORL,0,Goga Bitadze,PHI,6.562500,6.400000,4.375000,17.909091,14.6,5.5,1.062500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.058824,5.4,3.000000,10.727273,10.8,4.5,0.558824,11.235294,11.8,7.375000,28.636364,25.4,10.5,0.735294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN