In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
import duckdb
import os

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings("ignore")

year = 2025
now = str(datetime.now().date() - timedelta(days=1))
print(f"Today's date:", now)

con = duckdb.connect(database=":memory:")
stats = ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA', 'TPM', 'STL', 'BLK', 'STL_BLK']

Today's date: 2025-12-01

In [2]:
%run ./common_utils.ipynb

In [3]:
def create_actuals_tbl(con):
    df_lines = pd.read_csv(f"../tables/{year}/parlay_lines.csv")
    df_lines['Date'] = pd.to_datetime(df_lines.Date)
    df_lines = df_lines[(df_lines.Date == now)]
    df_log = pd.read_csv(f"../tables/{year}/season_gamelogs.csv")
    df_log['Date'] = pd.to_datetime(df_log.Date)
    df_log = df_log[(df_log.Date == now)]
    df_log = df_log.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
    df_log['PR'] = df_log.PTS + df_log.REB 
    df_log['PA'] = df_log.PTS + df_log.AST
    df_log['RA'] = df_log.REB + df_log.AST
    df_log['PRA'] = df_log.PTS + df_log.REB + df_log.AST
    df_log['STL_BLK'] = df_log.STL + df_log.BLK
    df = con.execute("""SELECT t2.*, t1.* EXCLUDE(Date, Team, Player, Pos) FROM df_log t1 JOIN df_lines t2 
                        ON t1.Team = t2.Team AND t1.Player = t2.Player""").fetchdf()
    cols = []
    for stat in stats:
        df[f'{stat}_Result'] = np.where(df[stat] > df[f'{stat}_line'], 'O', 'U')
        df[f'{stat}_Result'] = np.where(df[f'{stat}_line'].isnull(), np.nan, df[f'{stat}_Result'])
        df[f'{stat}_Diff'] = df[stat] - df[f'{stat}_line']
        cols.append(stat)
        cols.append(f'{stat}_line')
        cols.append(f'{stat}_Diff')
        cols.append(f'{stat}_Result')
    df = df[['game_id', 'Date', 'Team', 'Player', 'Pos', 'MP'] + cols]
    
    df_stats = pd.read_csv(f"../tables/{year}/parlay_stats.csv")
    df_stats['Date'] = pd.to_datetime(df_stats.Date).astype(str)
    lines = []
    diffs = []
    stats_cols = []
    
    for stat in stats:
        lines.append(f'{stat}_line')
        diffs.append(f'{stat}_Diff')
    for stat in stats:
        stats_cols.extend([
            f"Off_{stat}",
            f"Off_L5_{stat}",
            f"AVG_{stat}_H2H",
            f"Def_{stat}",
            f"Def_L5_{stat}",
            f"df_stats.{stat}_line",
            f"{stat}",
            f"df.{stat}_Diff",
            f"{stat}_Result"
        ])
    df_select = ", ".join(stats_cols)
    lines = str(lines).replace("[", "").replace("]", "")
    diffs = str(diffs).replace("[", "").replace("]", "")
    df_actuals = con.execute(f"""SELECT game_id, df.Date, df.Team, B2B, Spread, Total, df.Player, df.Pos, MP, Opp,
                                 {df_select} FROM df JOIN df_stats 
                                 ON df.Date = df_stats.Date AND df.Player = df_stats.Player
                                 """).fetchdf()
    partition_save_df(df_actuals, f"../tables/{year}/parlay_actuals.csv")
    display(df_actuals)

    return df_actuals
                      
df = create_actuals_tbl(con)

../tables/2025/parlay_actuals.csv saved!

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Def_PTS,Def_L5_PTS,PTS_line,PTS,PTS_Diff,PTS_Result,Off_AST,Off_L5_AST,AVG_AST_H2H,Def_AST,Def_L5_AST,AST_line,AST,AST_Diff,AST_Result,Off_REB,Off_L5_REB,AVG_REB_H2H,Def_REB,Def_L5_REB,REB_line,REB,REB_Diff,REB_Result,Off_PR,Off_L5_PR,AVG_PR_H2H,Def_PR,Def_L5_PR,PR_line,PR,PR_Diff,PR_Result,Off_PA,Off_L5_PA,AVG_PA_H2H,Def_PA,Def_L5_PA,PA_line,PA,PA_Diff,PA_Result,Off_RA,Off_L5_RA,AVG_RA_H2H,Def_RA,Def_L5_RA,RA_line,RA,RA_Diff,RA_Result,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Def_PRA,Def_L5_PRA,PRA_line,PRA,PRA_Diff,PRA_Result,Off_TPM,Off_L5_TPM,AVG_TPM_H2H,Def_TPM,Def_L5_TPM,TPM_line,TPM,TPM_Diff,TPM_Result,Off_STL,Off_L5_STL,AVG_STL_H2H,Def_STL,Def_L5_STL,STL_line,STL,STL_Diff,STL_Result,Off_BLK,Off_L5_BLK,AVG_BLK_H2H,Def_BLK,Def_L5_BLK,BLK_line,BLK,BLK_Diff,BLK_Result,Off_STL_BLK,Off_L5_STL_BLK,AVG_STL_BLK_H2H,Def_STL_BLK,Def_L5_STL_BLK,STL_BLK_line,STL_BLK,STL_BLK_Diff,STL_BLK_Result
0,20251201_CHI_ORL,2025-12-01,CHI,0,9.5,239.5,Tre Jones,PG,29.72,ORL,12.812500,11.8,12.750000,24.055556,28.4,11.5,20,8.5,O,5.000000,4.0,6.500000,7.500000,8.4,4.5,3,-1.5,U,3.375000,2.0,3.500000,5.055556,5.4,3.5,1,-2.5,U,16.187500,13.8,16.250000,29.111111,33.8,14.5,21,6.5,O,17.812500,15.8,19.250000,31.555556,36.8,15.5,23,7.5,O,8.375000,6.0,10.000000,12.555556,13.8,7.5,4,-3.5,U,21.187500,17.8,22.750000,36.611111,42.2,19.5,24,4.5,O,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None
1,20251201_CHI_ORL,2025-12-01,CHI,0,9.5,239.5,Josh Giddey,PG,35.65,ORL,20.529412,20.0,15.833333,24.055556,28.4,19.5,22,2.5,O,9.294118,8.4,5.166667,7.500000,8.4,7.5,6,-1.5,U,10.000000,10.4,7.833333,5.055556,5.4,8.5,9,0.5,O,30.529412,30.4,23.666667,29.111111,33.8,28.5,31,2.5,O,29.823529,28.4,21.000000,31.555556,36.8,27.5,28,0.5,O,19.294118,18.8,13.000000,12.555556,13.8,17.5,15,-2.5,U,39.823529,38.8,28.833333,36.611111,42.2,36.5,37,0.5,O,2.066667,2.4,1.500000,2.388889,2.8,1.5,3,1.5,O,1.454545,1.8,0.833333,1.611111,1.0,0.5,3,2.5,O,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,None
2,20251201_LAC_MIA,2025-12-01,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,27.684211,31.0,23.000000,22.857143,22.6,26.5,11,-15.5,U,8.684211,8.8,10.200000,7.500000,6.2,8.5,3,-5.5,U,6.222222,5.0,6.400000,7.071429,6.4,5.5,2,-3.5,U,33.578947,36.0,29.400000,29.928571,29.0,32.5,13,-19.5,U,36.368421,39.8,33.200000,30.357143,28.8,35.5,14,-21.5,U,14.578947,13.8,16.600000,14.571429,12.6,14.5,5,-9.5,U,42.263158,44.8,39.600000,37.428571,35.2,41.5,16,-25.5,U,3.944444,4.8,4.600000,2.714286,2.2,3.5,1,-2.5,U,1.538462,1.6,1.200000,2.071429,1.4,1.5,0,-1.5,U,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None
3,20251201_LAC_MIA,2025-12-01,LAC,0,6.5,236.5,Kris Dunn,PG,25.78,MIA,8.210526,10.2,3.600000,22.857143,22.6,8.5,12,3.5,O,3.000000,2.8,4.600000,7.500000,6.2,2.5,5,2.5,O,3.176471,3.8,1.400000,7.071429,6.4,2.5,4,1.5,O,10.500000,13.4,5.000000,29.928571,29.0,11.5,16,4.5,O,10.350000,13.0,8.200000,30.357143,28.8,11.5,17,5.5,O,5.526316,6.0,6.000000,14.571429,12.6,5.5,9,3.5,O,13.050000,16.2,9.600000,37.428571,35.2,14.5,21,6.5,O,1.384615,1.6,0.400000,2.714286,2.2,0.5,1,0.5,O,1.882353,2.0,2.000000,2.071429,1.4,1.5,1,-0.5,U,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None
4,20251201_MIL_WAS,2025-12-01,MIL,0,-10.5,231.5,Ryan Rollins,PG,29.58,WAS,17.904762,16.6,9.500000,22.833333,20.6,15.5,14,-1.5,U,5.857143,5.8,2.250000,8.166667,8.2,5.5,5,-0.5,U,4.300000,4.8,2.750000,5.416667,6.8,3.5,2,-1.5,U,22.000000,21.4,12.250000,28.250000,27.4,19.5,16,-3.5,U,23.761905,22.4,11.750000,31.000000,28.8,21.5,19,-2.5,U,9.952381,10.6,5.000000,13.583333,15.0,9.5,7,-2.5,U,27.857143,27.2,14.500000,36.416667,35.6,25.5,21,-4.5,U,2.777778,2.6,1.250000,2.250000,1.6,2.5,3,0.5,O,1.944444,1.8,1.500000,1.750000,2.4,1.5,0,-1.5,U,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,20251201_ATL_DET,2025-12-01,DET,1,-9.5,232.5,Isaiah Stewart,C,25.07,ATL,10.117647,7.8,7.285714,14.466667,19.4,7.5,6,-1.5,U,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,6.352941,6.0,6.142857,9.200000,8.0,5.5,10,4.5,O,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,2.307692,2.2,1.000000,0.733333,1.2,1.5,5,3.5,O,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,None
135,20251201_CHI_ORL,2025-12-01,CHI,0,9.5,239.5,Nikola Vucevic,C,34.48,ORL,16.444444,18.0,16.142857,14.125000,18.6,17.5,20,2.5,O,3.764706,3.2,3.714286,2.125000,2.8,2.5,5,2.5,O,9.777778,9.2,10.571429,9.750000,11.4,9.5,11,1.5,O,26.222222,27.2,26.714286,23.875000,30.0,26.5,31,4.5,O,20.000000,21.2,19.857143,16.250000,21.4,20.5,25,4.5,O,13.333333,12.4,14.285714,11.875000,14.2,12.5,16,3.5,O,29.777778,30.4,30.428571,26.000000,32.8,29.5,36,6.5,O,2.400000,2.6,0.571429,0.437500,0.6,1.5,1,-0.5,U,1.200000,1.2,0.571429,0.437500,0.6,0.5,2,1.5,O,1.400000,1.4,0.571429,1.375000,1.4,0.5,0,-0.5,U,1.461538,1.6,1.142857,1.8125,2.0,1.5,2,0.5,O
136,20251201_PHO_LAL,2025-12-01,PHO,0,14.5,225.5,Mark Williams,C,24.87,LAL,12.882353,16.4,NaN,10.714286,9.8,12.5,13,0.5,O,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,9.117647,11.0,NaN,8.071429,9.0,8.5,6,-2.5,U,22.000000,27.4,NaN,18.785714,18.8,21.5,19,-2.5,U,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,None,1.500000,1.2,NaN,0.928571,0.6,0.5,1,0.5,O,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,None
137,20251201_PHO_LAL,2025-12-01,PHO,0,4.5,235.5,Mark Williams,C,24.87,LAL,12.882353,16.4,NaN,10.714286,9.8,12.5,13,0.5,O,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,9.117647,11.0,NaN,8.071429,9.0,8.5,6,-2.5,U,22.000000,27.4,NaN,18.785714,18.8,21.5,19,-2.5,U,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,None,1.500000,1.2,NaN,0.928571,0.6,0.5,1,0.5,O,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,None
138,20251201_MIL_WAS,2025-12-01,MIL,0,-10.5,231.5,Gary Trent Jr.,SG,30.50,WAS,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,14,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,15,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,None,1.538462,1.2,1.714286,1.263158,0.2,1.5,0,-1.5,U,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,None

# Parlay Performances

##### Best Performers

In [4]:
df = pd.read_csv(f"../tables/{year}/parlay_actuals.csv")
for stat in ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA']:
    print(f"==={stat}===")
    display(con.execute(f"""WITH overs AS 
                            (SELECT Player, SUM({stat}_Diff) as O_Diff, count(*) as Hits FROM df WHERE {stat}_Result = 'O' GROUP BY Player)

                            SELECT overs.Player, Hits, Misses,
                            O_Diff + U_Diff as Diff,
                            hits / (misses + hits) AS Hit_Pct, misses / (misses + hits) AS Miss_Pct FROM
                           
                           (SELECT Player, SUM({stat}_Diff) as U_Diff, count(*) as Misses FROM df 
                           WHERE {stat}_Result = 'U' AND {stat}_line IS NOT NULL
                           GROUP BY Player) unders
                           
                           JOIN overs ON overs.Player = unders.Player
                           WHERE Hit_Pct >= 0.80
                           ORDER BY Hit_Pct DESC
                           LIMIT 25""").fetchdf())

===PTS===

                      Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0           Collin Gillespie     5       1  38.0  0.833333  0.166667
1              Jalen Johnson     5       1  36.0  0.833333  0.166667
2               Jaylon Tyson     5       1  28.0  0.833333  0.166667
3   Nickeil Alexander-Walker     5       1  48.0  0.833333  0.166667
4                 Saddiq Bey     4       1  19.5  0.800000  0.200000
5              Rui Hachimura     4       1  -3.5  0.800000  0.200000
6              Klay Thompson     4       1  12.5  0.800000  0.200000
7               Jaylen Wells     4       1  12.5  0.800000  0.200000
8      Sandro Mamukelashvili     4       1  21.5  0.800000  0.200000
9              Pascal Siakam     4       1   5.5  0.800000  0.200000
10            Onyeka Okongwu     4       1  -3.5  0.800000  0.200000
11             Kawhi Leonard     4       1  39.5  0.800000  0.200000
12          Tim Hardaway Jr.     4       1   5.5  0.800000  0.200000
13             Tobias Harris     4       1  22.5  0.800000  0.200000
14               Luka Doncic     4       1  17.5  0.800000  0.200000

===AST===

              Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0       Jamal Murray     5       1   9.0  0.833333  0.166667
1      Jalen Johnson     5       1  10.0  0.833333  0.166667
2     Keyonte George     4       1   5.5  0.800000  0.200000
3     T.J. McConnell     4       1  -1.5  0.800000  0.200000
4  Immanuel Quickley     4       1   3.5  0.800000  0.200000

===REB===

              Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0        Josh Giddey     5       1   7.0  0.833333  0.166667
1          Kris Dunn     5       1   6.0  0.833333  0.166667
2      Dyson Daniels     5       1  11.0  0.833333  0.166667
3      Jalen Johnson     5       1  12.0  0.833333  0.166667
4    Cade Cunningham     4       1  15.5  0.800000  0.200000
5     Brandon Ingram     4       1   0.5  0.800000  0.200000
6         Saddiq Bey     4       1  19.5  0.800000  0.200000
7    Lauri Markkanen     4       1   4.5  0.800000  0.200000
8      Austin Reaves     4       1  13.5  0.800000  0.200000
9    P.J. Washington     4       1  -1.5  0.800000  0.200000
10  Precious Achiuwa     4       1   4.5  0.800000  0.200000
11    Jeremiah Fears     4       1   5.5  0.800000  0.200000
12     Pascal Siakam     4       1   8.5  0.800000  0.200000

===PR===

                     Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0             Jalen Johnson     5       1  45.0  0.833333  0.166667
1  Nickeil Alexander-Walker     5       1  56.0  0.833333  0.166667
2              Noah Clowney     5       1  15.0  0.833333  0.166667
3             Peyton Watson     4       1  10.5  0.800000  0.200000
4             Anthony Black     4       1  35.5  0.800000  0.200000
5     Sandro Mamukelashvili     4       1  25.5  0.800000  0.200000
6               Luka Doncic     4       1  22.5  0.800000  0.200000
7             Austin Reaves     4       1  36.5  0.800000  0.200000
8             Kawhi Leonard     4       1  42.5  0.800000  0.200000

===PA===

                     Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0             Jalen Johnson     5       1  45.0  0.833333  0.166667
1  Nickeil Alexander-Walker     5       1  48.0  0.833333  0.166667
2             Kawhi Leonard     4       1  36.5  0.800000  0.200000
3            Onyeka Okongwu     4       1   5.5  0.800000  0.200000

===RA===

            Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0     Jamal Murray     5       1   2.0  0.833333  0.166667
1     Terance Mann     4       1   3.5  0.800000  0.200000
2   Jeremiah Fears     4       1   5.5  0.800000  0.200000
3   Keyonte George     4       1  11.5  0.800000  0.200000
4    Anthony Black     4       1   8.5  0.800000  0.200000
5   Nikola Vucevic     4       1   2.5  0.800000  0.200000
6    Austin Reaves     4       1   8.5  0.800000  0.200000
7  Cade Cunningham     4       1  12.5  0.800000  0.200000

===PRA===

                     Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0  Nickeil Alexander-Walker     5       1  54.0  0.833333  0.166667
1             Jalen Johnson     5       1  52.0  0.833333  0.166667
2             Austin Reaves     4       1  31.5  0.800000  0.200000

##### Worst Performers

In [5]:
df = pd.read_csv(f"../tables/{year}/parlay_actuals.csv")
for stat in ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA']:
    print(f"==={stat}===")
    display(con.execute(f"""WITH overs AS 
                            (SELECT Player, SUM({stat}_Diff) as O_Diff, count(*) as Hits FROM df WHERE {stat}_Result = 'O' GROUP BY Player)

                            SELECT overs.Player, Hits, Misses,
                            O_Diff + U_Diff as Diff,
                            hits / (misses + hits) AS Hit_Pct, misses / (misses + hits) AS Miss_Pct FROM
                           
                           (SELECT Player, SUM({stat}_Diff) as U_Diff, count(*) as Misses FROM df 
                           WHERE {stat}_Result = 'U' AND {stat}_line IS NOT NULL
                           GROUP BY Player) unders
                           
                           JOIN overs ON overs.Player = unders.Player
                           WHERE Hit_Pct <= 0.20
                           ORDER BY Hit_Pct
                           LIMIT 25""").fetchdf())

===PTS===

                Player  Hits  Misses  Diff  Hit_Pct  Miss_Pct
0   Vince Williams Jr.     1       4 -18.5      0.2       0.8
1        Cedric Coward     1       4 -23.5      0.2       0.8
2           Kyle Kuzma     1       4 -10.5      0.2       0.8
3         Jake LaRavia     1       4 -12.5      0.2       0.8
4   Bennedict Mathurin     1       4 -24.5      0.2       0.8
5            Dean Wade     1       4  -9.5      0.2       0.8
6        Jarace Walker     1       4   2.5      0.2       0.8
7         Drew Eubanks     1       4 -11.5      0.2       0.8
8         Franz Wagner     1       4 -19.5      0.2       0.8
9         Terance Mann     1       4 -15.5      0.2       0.8
10      Ausar Thompson     1       4 -11.5      0.2       0.8

===AST===

           Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0    Devin Booker     1       5  -6.0  0.166667  0.833333
1   Royce O'Neale     1       5   1.0  0.166667  0.833333
2    Franz Wagner     1       4  -8.5  0.200000  0.800000
3  Scottie Barnes     1       4  -5.5  0.200000  0.800000
4   Pascal Siakam     1       4  -8.5  0.200000  0.800000
5   Cedric Coward     1       4  -5.5  0.200000  0.800000
6     Derik Queen     1       4   0.5  0.200000  0.800000
7  Jeremiah Fears     1       4  -1.5  0.200000  0.800000
8    Jusuf Nurkic     1       4   0.5  0.200000  0.800000
9   Austin Reaves     1       4  -3.5  0.200000  0.800000

===REB===

             Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0      John Collins     1       5  -6.0  0.166667  0.833333
1      Max Christie     1       5  -4.0  0.166667  0.833333
2      Jamal Murray     1       5  -5.0  0.166667  0.833333
3     Dillon Brooks     1       5  -2.0  0.166667  0.833333
4   De'Andre Hunter     1       4  -0.5  0.200000  0.800000
5      Ben Sheppard     1       4  -5.5  0.200000  0.800000
6     Cedric Coward     1       4  -8.5  0.200000  0.800000
7        Ace Bailey     1       4  -3.5  0.200000  0.800000
8        Kyle Kuzma     1       4  -9.5  0.200000  0.800000
9    Onyeka Okongwu     1       4  -0.5  0.200000  0.800000
10     Jake LaRavia     1       4  -5.5  0.200000  0.800000
11    DeMar DeRozan     1       4  -7.5  0.200000  0.800000

===PR===

               Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0     Ziaire Williams     1       5 -38.0  0.166667  0.833333
1  Zaccharie Risacher     1       5 -32.0  0.166667  0.833333
2        Devin Booker     1       5 -48.0  0.166667  0.833333
3        Terance Mann     1       4 -14.5  0.200000  0.800000
4   Immanuel Quickley     1       4  -6.5  0.200000  0.800000
5          Kyle Kuzma     1       4 -19.5  0.200000  0.800000
6        Jake LaRavia     1       4 -20.5  0.200000  0.800000
7  Bennedict Mathurin     1       4 -31.5  0.200000  0.800000
8      Day'Ron Sharpe     1       4 -15.5  0.200000  0.800000
9      Ausar Thompson     1       4 -11.5  0.200000  0.800000

===PA===

               Player  Hits  Misses  Diff  Hit_Pct  Miss_Pct
0        Terance Mann     1       4 -12.5      0.2       0.8
1  Vince Williams Jr.     1       4 -10.5      0.2       0.8
2       Cedric Coward     1       4 -29.5      0.2       0.8
3      Scottie Barnes     1       4   2.5      0.2       0.8

===RA===

          Player  Hits  Misses  Diff  Hit_Pct  Miss_Pct
0   Franz Wagner     1       4  -5.5      0.2       0.8
1  DeMar DeRozan     1       4  -8.5      0.2       0.8
2  Cedric Coward     1       4 -14.5      0.2       0.8
3    Zach LaVine     1       4  -4.5      0.2       0.8
4    Derik Queen     1       4  -7.5      0.2       0.8
5   Jusuf Nurkic     1       4  -0.5      0.2       0.8

===PRA===

         Player  Hits  Misses  Diff   Hit_Pct  Miss_Pct
0  Devin Booker     1       5 -55.0  0.166667  0.833333

# Detailed View

In [6]:
for stat in ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA']:
    print(f"==={stat}===")
    display(con.execute(f"""SELECT game_id, Date, Team, B2B, Spread, Total, Player, Pos, MP, Opp, 
                            Off_{stat}, Off_L5_{stat}, AVG_{stat}_H2H, 
                            Def_{stat}, Def_L5_{stat}, {stat}_line, {stat}, 
                            {stat}_Diff, {stat}_Result FROM df
                            WHERE {stat}_line IS NOT NULL AND {stat}_Result = 'O'
                            ORDER BY {stat}_Diff DESC
                            LIMIT 15""").fetchdf())

===PTS===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Def_PTS,Def_L5_PTS,PTS_line,PTS,PTS_Diff,PTS_Result
0,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Payton Pritchard,PG,30.73,CLE,16.210526,15.8,9.692308,17.466667,22.2,17.5,42,24.5,O
1,20251120_PHI_MIL,11/20/2025,PHI,1,NaN,NaN,Tyrese Maxey,PG,46.63,MIL,31.928571,29.6,31.000000,20.642857,22.2,29.5,54,24.5,O
2,20251123_ORL_BOS,11/23/2025,ORL,1,NaN,NaN,Jett Howard,SF,29.08,BOS,4.555556,5.8,1.000000,17.428571,23.4,6.5,30,23.5,O
3,20251120_ATL_SAS,11/20/2025,ATL,0,NaN,NaN,Nickeil Alexander-Walker,SG,33.65,SAS,18.142857,19.2,9.250000,16.363636,10.0,17.5,38,20.5,O
4,20251128_SAS_DEN,11/28/2025,SAS,0,7.5,238.5,Devin Vassell,SG,31.28,DEN,14.411765,16.2,14.600000,17.833333,18.6,15.5,35,19.5,O
5,20251130_MEM_SAC,11/30/2025,MEM,0,-2.5,233.5,Zach Edey,C,29.43,SAC,11.000000,11.2,NaN,19.428571,19.6,12.5,32,19.5,O
6,20251125_ORL_PHI,11/25/2025,ORL,0,NaN,NaN,Anthony Black,PG,27.95,PHI,11.833333,15.2,6.875000,18.357143,18.6,12.5,31,18.5,O
7,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,Cooper Flagg,PG,37.95,LAC,15.736842,16.2,NaN,21.875000,26.4,16.5,35,18.5,O
8,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Tyrese Maxey,PG,52.30,ATL,31.666667,29.4,16.800000,19.214286,18.4,26.5,44,17.5,O
9,20251123_LAC_CLE,11/23/2025,LAC,1,NaN,NaN,Ivica Zubac,C,32.92,CLE,16.000000,17.8,NaN,15.928571,19.0,15.5,33,17.5,O
10,20251128_ORL_DET,11/28/2025,ORL,0,3.5,231.5,Desmond Bane,SG,39.28,DET,17.315789,19.6,25.250000,15.500000,17.0,19.5,37,17.5,O
11,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Jalen Johnson,SF,45.12,PHI,22.368421,21.6,13.500000,18.944444,18.2,23.5,41,17.5,O
12,20251128_DAL_LAL,11/28/2025,LAL,0,-9.5,232.5,Austin Reaves,SG,41.32,DAL,27.857143,27.0,16.500000,17.333333,18.2,20.5,38,17.5,O
13,20251123_BRK_TOR,11/23/2025,BRK,0,NaN,NaN,Tyrese Martin,SG,24.85,TOR,8.692308,9.4,1.800000,15.000000,20.4,8.5,26,17.5,O
14,20251128_MEM_LAC,11/28/2025,LAC,0,-6.5,224.5,Kawhi Leonard,SF,28.52,MEM,23.125000,23.6,21.600000,17.434783,19.4,21.5,39,17.5,O

===AST===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_AST,Off_L5_AST,AVG_AST_H2H,Def_AST,Def_L5_AST,AST_line,AST,AST_Diff,AST_Result
0,20251120_SAC_MEM,11/20/2025,MEM,1,NaN,NaN,Vince Williams Jr.,SG,23.83,SAC,3.777778,4.6,0.250000,4.347826,4.6,5.5,15,9.5,O
1,20251120_PHI_MIL,11/20/2025,MIL,1,NaN,NaN,Ryan Rollins,PG,40.45,PHI,5.333333,5.2,1.500000,5.833333,6.0,5.5,14,8.5,O
2,20251201_PHO_LAL,12/01/2025,PHO,0,14.5,225.5,Royce O'Neale,SF,33.02,LAL,2.571429,1.6,2.833333,3.466667,2.8,2.5,11,8.5,O
3,20251128_DAL_LAL,11/28/2025,DAL,0,9.5,232.5,Cooper Flagg,PG,35.63,LAL,3.733333,3.2,NaN,6.625000,6.2,3.5,11,7.5,O
4,20251201_HOU_UTA,12/01/2025,HOU,1,-11.5,233.5,Alperen Sengun,C,38.15,UTA,6.937500,5.8,5.800000,2.142857,2.4,6.5,14,7.5,O
5,20251121_NOP_DAL,11/21/2025,NOP,0,NaN,NaN,Derik Queen,C,32.23,DAL,4.100000,4.4,NaN,2.750000,3.2,3.5,11,7.5,O
6,20251121_NOP_DAL,11/21/2025,DAL,0,NaN,NaN,Brandon Williams,PG,28.33,NOP,3.833333,5.2,0.428571,7.615385,8.6,4.5,12,7.5,O
7,20251130_SAS_MIN,11/30/2025,MIN,0,-4.5,233.5,Julius Randle,PF,36.00,SAS,5.631579,4.6,4.800000,2.700000,3.0,4.5,12,7.5,O
8,20251125_ORL_PHI,11/25/2025,ORL,0,NaN,NaN,Jalen Suggs,PG,15.68,PHI,4.615385,5.0,3.285714,6.857143,8.4,4.5,11,6.5,O
9,20251121_POR_GSW,11/21/2025,POR,0,NaN,NaN,Deni Avdija,SF,39.52,GSW,5.200000,5.8,3.600000,2.384615,2.8,6.5,13,6.5,O
10,20251128_SAC_UTA,11/28/2025,SAC,0,2.5,241.5,Russell Westbrook,PG,33.07,UTA,6.368421,6.2,4.777778,7.200000,8.2,7.5,14,6.5,O
11,20251201_CHO_BRK,12/01/2025,CHO,0,-4.5,229.5,LaMelo Ball,PG,29.50,BRK,8.461538,6.6,6.000000,5.615385,4.4,7.5,14,6.5,O
12,20251125_LAC_LAL,11/25/2025,LAL,0,NaN,NaN,Luka Doncic,PG,38.27,LAC,8.916667,8.6,8.272727,5.533333,4.0,7.5,13,5.5,O
13,20251128_SAC_UTA,11/28/2025,UTA,0,-2.5,241.5,Jusuf Nurkic,C,27.42,SAC,3.777778,3.6,2.222222,4.076923,2.8,3.5,9,5.5,O
14,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Jaylen Brown,SF,37.67,CLE,4.473684,5.6,3.916667,4.210526,5.0,5.5,11,5.5,O

===REB===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_REB,Off_L5_REB,AVG_REB_H2H,Def_REB,Def_L5_REB,REB_line,REB,REB_Diff,REB_Result
0,20251130_OKC_POR,11/30/2025,POR,0,11.5,234.5,Deni Avdija,SF,37.18,OKC,6.421053,6.400000,4.500000,6.300000,5.2,6.5,19,12.5,O
1,20251124_CHI_NOP,11/24/2025,NOP,0,NaN,NaN,Saddiq Bey,SF,34.47,CHI,4.875000,6.000000,NaN,5.611111,9.0,4.5,13,8.5,O
2,20251128_MEM_LAC,11/28/2025,MEM,0,6.5,224.5,Zach Edey,C,31.97,LAC,8.833333,9.200000,NaN,9.272727,9.2,10.5,19,8.5,O
3,20251124_MIN_SAC,11/24/2025,SAC,0,NaN,NaN,Keegan Murray,PF,44.40,MIN,4.000000,4.000000,7.333333,5.533333,5.8,5.5,14,8.5,O
4,20251120_LAC_ORL,11/20/2025,LAC,0,NaN,NaN,Ivica Zubac,C,31.57,ORL,10.785714,11.400000,12.500000,9.000000,9.6,10.5,19,8.5,O
5,20251123_SAS_PHO,11/23/2025,SAS,0,NaN,NaN,Julian Champagnie,SF,30.08,PHO,4.400000,2.400000,2.500000,5.000000,7.0,4.5,12,7.5,O
6,20251128_ORL_DET,11/28/2025,DET,0,-3.5,231.5,Cade Cunningham,PG,39.98,ORL,6.133333,9.000000,5.142857,4.588235,3.4,5.5,13,7.5,O
7,20251123_LAC_CLE,11/23/2025,LAC,1,NaN,NaN,Ivica Zubac,C,32.92,CLE,11.187500,12.800000,NaN,9.571429,8.2,10.5,18,7.5,O
8,20251201_DAL_DEN,12/01/2025,DEN,0,-11.5,235.5,Nikola Jokic,C,37.00,DAL,12.421053,10.200000,14.428571,9.823529,10.0,12.5,20,7.5,O
9,20251130_TOR_NYK,11/30/2025,NYK,1,-2.5,235.5,Mitchell Robinson,C,16.77,TOR,7.818182,6.800000,NaN,8.833333,9.6,7.5,15,7.5,O
10,20251122_WAS_CHI,11/22/2025,WAS,1,NaN,NaN,Kyshawn George,SF,35.80,CHI,5.928571,5.400000,3.500000,5.250000,7.0,5.5,12,6.5,O
11,20251124_DAL_MIA,11/24/2025,MIA,0,NaN,NaN,Kel'el Ware,C,33.58,DAL,10.588235,14.000000,NaN,9.538462,10.4,11.5,18,6.5,O
12,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Quentin Grimes,SG,46.70,ATL,3.647059,2.800000,2.800000,3.833333,3.4,3.5,10,6.5,O
13,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Jaylen Brown,SF,37.67,CLE,5.842105,6.400000,5.250000,6.315789,7.6,5.5,12,6.5,O
14,20251122_MEM_DAL,11/22/2025,MEM,0,NaN,NaN,Zach Edey,C,26.47,DAL,7.333333,7.333333,6.500000,9.538462,10.4,9.5,15,5.5,O

===PR===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PR,Off_L5_PR,AVG_PR_H2H,Def_PR,Def_L5_PR,PR_line,PR,PR_Diff,PR_Result
0,20251120_PHI_MIL,11/20/2025,PHI,1,NaN,NaN,Tyrese Maxey,PG,46.63,MIL,36.642857,33.8,35.500000,26.214286,29.0,33.5,59,25.5,O
1,20251130_MEM_SAC,11/30/2025,MEM,0,-2.5,233.5,Zach Edey,C,29.43,SAC,21.285714,22.0,NaN,32.071429,32.4,24.5,49,24.5,O
2,20251123_LAC_CLE,11/23/2025,LAC,1,NaN,NaN,Ivica Zubac,C,32.92,CLE,27.187500,30.6,NaN,25.500000,27.2,27.5,51,23.5,O
3,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Payton Pritchard,PG,30.73,CLE,20.578947,21.4,12.846154,21.466667,24.8,22.5,45,22.5,O
4,20251120_ATL_SAS,11/20/2025,ATL,0,NaN,NaN,Nickeil Alexander-Walker,SG,33.65,SAS,20.928571,22.4,12.125000,20.272727,14.6,20.5,42,21.5,O
5,20251124_MIN_SAC,11/24/2025,SAC,0,NaN,NaN,Keegan Murray,PF,44.40,MIN,19.000000,19.0,24.166667,24.600000,23.2,18.5,40,21.5,O
6,20251128_ORL_DET,11/28/2025,ORL,0,3.5,231.5,Desmond Bane,SG,39.28,DET,21.631579,24.0,31.500000,19.950000,20.8,23.5,45,21.5,O
7,20251201_CLE_IND,12/01/2025,CLE,1,-4.5,231.5,Jaylon Tyson,SG,30.78,IND,16.000000,18.0,7.400000,20.476190,20.8,17.5,38,20.5,O
8,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Jalen Johnson,SF,45.12,PHI,32.421053,31.6,22.750000,24.166667,21.2,34.5,55,20.5,O
9,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Tyrese Maxey,PG,52.30,ATL,36.333333,33.4,19.600000,25.357143,24.0,30.5,51,20.5,O
10,20251128_DAL_LAL,11/28/2025,LAL,0,-9.5,232.5,Austin Reaves,SG,41.32,DAL,33.571429,33.8,20.333333,22.000000,22.6,25.5,46,20.5,O
11,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Quentin Grimes,SG,46.70,ATL,19.833333,17.8,18.400000,21.555556,28.6,18.5,38,19.5,O
12,20251130_OKC_POR,11/30/2025,POR,0,11.5,234.5,Deni Avdija,SF,37.18,OKC,31.947368,32.0,17.750000,23.700000,18.2,30.5,50,19.5,O
13,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Nickeil Alexander-Walker,SG,44.35,PHI,22.157895,25.6,12.750000,20.909091,19.0,22.5,42,19.5,O
14,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,Cooper Flagg,PG,37.95,LAC,22.210526,22.0,NaN,26.062500,30.4,23.5,43,19.5,O

===PA===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PA,Off_L5_PA,AVG_PA_H2H,Def_PA,Def_L5_PA,PA_line,PA,PA_Diff,PA_Result
0,20251120_PHI_MIL,11/20/2025,PHI,1,NaN,NaN,Tyrese Maxey,PG,46.63,MIL,39.714286,36.4,36.666667,26.642857,28.2,36.5,63,26.5,O
1,20251120_ATL_SAS,11/20/2025,ATL,0,NaN,NaN,Nickeil Alexander-Walker,SG,33.65,SAS,21.714286,23.4,13.000000,20.636364,13.6,21.5,43,21.5,O
2,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Payton Pritchard,PG,30.73,CLE,21.105263,20.4,12.461538,24.200000,28.6,23.5,45,21.5,O
3,20251120_PHI_MIL,11/20/2025,MIL,1,NaN,NaN,Ryan Rollins,PG,40.45,PHI,22.733333,23.6,5.666667,23.916667,22.8,25.5,46,20.5,O
4,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Tyrese Maxey,PG,52.30,ATL,39.166667,36.4,21.600000,26.214286,26.4,33.5,53,19.5,O
5,20251123_LAC_CLE,11/23/2025,LAC,1,NaN,NaN,Ivica Zubac,C,32.92,CLE,18.250000,20.0,NaN,18.857143,22.4,17.5,37,19.5,O
6,20251125_ORL_PHI,11/25/2025,ORL,0,NaN,NaN,Anthony Black,PG,27.95,PHI,14.555556,19.0,9.750000,25.214286,27.0,15.5,34,18.5,O
7,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Nickeil Alexander-Walker,SG,44.35,PHI,22.631579,25.2,13.000000,21.227273,20.2,22.5,41,18.5,O
8,20251128_SAC_UTA,11/28/2025,SAC,0,2.5,241.5,Zach LaVine,SG,38.85,UTA,22.235294,15.8,NaN,25.588235,22.2,22.5,40,17.5,O
9,20251121_IND_CLE,11/21/2025,IND,0,NaN,NaN,Andrew Nembhard,PG,32.88,CLE,23.625000,26.0,16.153846,23.333333,24.0,22.5,40,17.5,O
10,20251201_HOU_UTA,12/01/2025,HOU,1,-11.5,233.5,Alperen Sengun,C,38.15,UTA,28.187500,26.4,33.600000,20.285714,28.8,27.5,45,17.5,O
11,20251128_SAS_DEN,11/28/2025,SAS,0,7.5,238.5,Devin Vassell,SG,31.28,DEN,16.823529,19.6,17.400000,21.333333,22.4,19.5,37,17.5,O
12,20251129_DET_MIA,11/29/2025,MIA,1,5.5,238.5,Andrew Wiggins,SF,36.87,DET,19.187500,16.6,NaN,26.071429,26.2,17.5,35,17.5,O
13,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Jalen Johnson,SF,45.12,PHI,30.000000,30.8,17.250000,22.777778,22.2,31.5,48,16.5,O
14,20251201_MIL_WAS,12/01/2025,MIL,0,-10.5,231.5,Kevin Porter Jr.,PG,31.02,WAS,15.500000,15.5,8.250000,31.000000,28.8,18.5,35,16.5,O

===RA===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_RA,Off_L5_RA,AVG_RA_H2H,Def_RA,Def_L5_RA,RA_line,RA,RA_Diff,RA_Result
0,20251130_OKC_POR,11/30/2025,POR,0,11.5,234.5,Deni Avdija,SF,37.18,OKC,11.947368,14.0,7.875000,9.000000,6.6,12.5,29,16.5,O
1,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Jaylen Brown,SF,37.67,CLE,10.315789,12.0,9.166667,10.526316,12.6,10.5,23,12.5,O
2,20251128_SAC_UTA,11/28/2025,SAC,0,2.5,241.5,Russell Westbrook,PG,33.07,UTA,13.315789,14.0,8.777778,11.533333,15.2,14.5,26,11.5,O
3,20251201_PHO_LAL,12/01/2025,PHO,0,14.5,225.5,Royce O'Neale,SF,33.02,LAL,7.904762,7.0,10.000000,9.600000,8.8,7.5,18,10.5,O
4,20251120_PHI_MIL,11/20/2025,MIL,1,NaN,NaN,Ryan Rollins,PG,40.45,PHI,9.066667,9.4,3.000000,11.333333,10.0,10.5,20,9.5,O
5,20251120_SAC_MEM,11/20/2025,MEM,1,NaN,NaN,Vince Williams Jr.,SG,23.83,SAC,8.100000,11.0,2.500000,8.956522,8.0,10.5,20,9.5,O
6,20251128_MEM_LAC,11/28/2025,MEM,0,6.5,224.5,Zach Edey,C,31.97,LAC,9.666667,10.2,NaN,12.000000,11.8,11.5,21,9.5,O
7,20251124_MIN_SAC,11/24/2025,SAC,0,NaN,NaN,Keegan Murray,PF,44.40,MIN,5.000000,5.0,8.500000,8.400000,8.6,6.5,16,9.5,O
8,20251122_WAS_CHI,11/22/2025,WAS,1,NaN,NaN,Kyshawn George,SF,35.80,CHI,10.642857,11.6,5.000000,8.500000,10.6,9.5,19,9.5,O
9,20251128_ORL_DET,11/28/2025,DET,0,-3.5,231.5,Cade Cunningham,PG,39.98,ORL,15.466667,17.4,12.857143,11.882353,11.4,14.5,24,9.5,O
10,20251201_DAL_DEN,12/01/2025,DEN,0,-11.5,235.5,Nikola Jokic,C,37.00,DAL,23.315789,20.6,24.000000,12.823529,13.6,23.5,33,9.5,O
11,20251128_DAL_LAL,11/28/2025,DAL,0,9.5,232.5,Cooper Flagg,PG,35.63,LAL,9.555556,9.2,NaN,9.812500,9.2,9.5,18,8.5,O
12,20251123_LAC_CLE,11/23/2025,LAC,1,NaN,NaN,Ivica Zubac,C,32.92,CLE,13.437500,15.0,NaN,12.500000,11.6,13.5,22,8.5,O
13,20251122_ATL_NOP,11/22/2025,NOP,0,NaN,NaN,Saddiq Bey,SF,27.95,ATL,6.400000,8.2,NaN,8.133333,7.8,7.5,16,8.5,O
14,20251128_CLE_ATL,11/28/2025,CLE,0,-6.5,236.5,Evan Mobley,PF,33.65,ATL,12.555556,11.0,15.800000,11.066667,8.4,12.5,21,8.5,O

===PRA===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Def_PRA,Def_L5_PRA,PRA_line,PRA,PRA_Diff,PRA_Result
0,20251120_PHI_MIL,11/20/2025,PHI,1,NaN,NaN,Tyrese Maxey,PG,46.63,MIL,44.428571,40.6,41.166667,32.214286,35.0,40.5,68,27.5,O
1,20251123_LAC_CLE,11/23/2025,LAC,1,NaN,NaN,Ivica Zubac,C,32.92,CLE,29.437500,32.8,NaN,28.428571,30.6,29.5,55,25.5,O
2,20251130_OKC_POR,11/30/2025,POR,0,11.5,234.5,Deni Avdija,SF,37.18,OKC,37.473684,39.6,21.125000,26.400000,19.6,36.5,60,23.5,O
3,20251120_ATL_SAS,11/20/2025,ATL,0,NaN,NaN,Nickeil Alexander-Walker,SG,33.65,SAS,24.500000,26.6,15.875000,24.545455,18.2,24.5,47,22.5,O
4,20251124_MIN_SAC,11/24/2025,SAC,0,NaN,NaN,Keegan Murray,PF,44.40,MIN,20.000000,20.0,25.333333,27.466667,26.0,19.5,42,22.5,O
5,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Tyrese Maxey,PG,52.30,ATL,43.833333,40.4,24.400000,32.357143,32.0,37.5,60,22.5,O
6,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Nickeil Alexander-Walker,SG,44.35,PHI,25.684211,29.0,16.250000,24.818182,23.6,26.5,49,22.5,O
7,20251120_PHI_MIL,11/20/2025,MIL,1,NaN,NaN,Ryan Rollins,PG,40.45,PHI,26.466667,27.8,7.166667,29.416667,26.8,30.5,52,21.5,O
8,20251128_ORL_DET,11/28/2025,DET,0,-3.5,231.5,Cade Cunningham,PG,39.98,ORL,43.600000,50.6,35.428571,35.058824,38.8,42.5,63,20.5,O
9,20251130_BOS_CLE,11/30/2025,BOS,1,7.5,234.5,Payton Pritchard,PG,30.73,CLE,25.473684,26.0,15.615385,28.200000,31.2,27.5,48,20.5,O
10,20251128_DAL_LAL,11/28/2025,LAL,0,-9.5,232.5,Austin Reaves,SG,41.32,DAL,40.571429,38.4,25.500000,25.800000,26.4,29.5,49,19.5,O
11,20251129_DET_MIA,11/29/2025,MIA,1,5.5,238.5,Andrew Wiggins,SF,36.87,DET,23.937500,22.2,NaN,31.000000,32.4,21.5,41,19.5,O
12,20251130_ATL_PHI,11/30/2025,PHI,0,-2.5,232.5,Quentin Grimes,SG,46.70,ATL,24.166667,22.2,21.000000,25.111111,32.2,22.5,42,19.5,O
13,20251130_ATL_PHI,11/30/2025,ATL,0,2.5,232.5,Jalen Johnson,SF,45.12,PHI,40.052632,40.8,26.500000,28.000000,25.2,42.5,62,19.5,O
14,20251128_ORL_DET,11/28/2025,ORL,0,3.5,231.5,Desmond Bane,SG,39.28,DET,26.263158,29.2,36.500000,23.000000,23.6,28.5,47,18.5,O

In [7]:
for stat in ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA']:
    print(f"==={stat}===")
    display(con.execute(f"""SELECT game_id, Date, Team, B2B, Spread, Total, Player, Pos, MP, Opp, 
                            Off_{stat}, Off_L5_{stat}, AVG_{stat}_H2H, 
                            Def_{stat}, Def_L5_{stat}, {stat}_line, {stat}, 
                            {stat}_Diff, {stat}_Result FROM df
                            WHERE {stat}_line IS NOT NULL AND {stat}_Result = 'U'
                            ORDER BY {stat}_Diff
                            LIMIT 15""").fetchdf())

===PTS===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PTS,Off_L5_PTS,AVG_PTS_H2H,Def_PTS,Def_L5_PTS,PTS_line,PTS,PTS_Diff,PTS_Result
0,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Trey Murphy III,SF,0.00,GSW,19.736842,19.8,21.000000,15.875000,17.2,18.5,0,-18.5,U
1,20251121_POR_GSW,11/21/2025,POR,0,NaN,NaN,Jerami Grant,PF,30.85,GSW,19.357143,18.2,14.166667,17.333333,13.0,22.5,5,-17.5,U
2,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,P.J. Washington,PF,0.00,LAC,16.000000,18.8,11.636364,14.818182,14.8,16.5,0,-16.5,U
3,20251121_DEN_HOU,11/21/2025,DEN,0,NaN,NaN,Aaron Gordon,PF,3.35,HOU,20.250000,20.0,10.400000,20.888889,19.0,16.5,1,-15.5,U
4,20251201_LAC_MIA,12/01/2025,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,27.684211,31.0,23.000000,22.857143,22.6,26.5,11,-15.5,U
5,20251201_PHO_LAL,12/01/2025,PHO,0,4.5,235.5,Devin Booker,SG,9.92,LAL,25.666667,21.2,24.857143,17.333333,14.4,26.5,11,-15.5,U
6,20251201_DAL_DEN,12/01/2025,DEN,0,-11.5,235.5,Jamal Murray,PG,26.48,DAL,24.000000,27.8,22.428571,20.000000,19.8,24.5,10,-14.5,U
7,20251121_DEN_HOU,11/21/2025,HOU,0,NaN,NaN,Kevin Durant,SF,35.25,DEN,25.666667,27.8,29.000000,15.300000,16.0,26.5,13,-13.5,U
8,20251124_DEN_MEM,11/24/2025,DEN,0,NaN,NaN,Nikola Jokic,C,33.72,MEM,30.375000,33.8,23.600000,18.500000,18.0,30.5,17,-13.5,U
9,20251124_MIN_SAC,11/24/2025,SAC,0,NaN,NaN,Zach LaVine,SG,31.82,MIN,21.400000,16.4,NaN,16.562500,14.6,20.5,7,-13.5,U
10,20251124_CLE_TOR,11/24/2025,CLE,1,NaN,NaN,Donovan Mitchell,SG,33.77,TOR,30.750000,31.4,21.428571,15.000000,20.4,30.5,17,-13.5,U
11,20251124_DAL_MIA,11/24/2025,DAL,0,NaN,NaN,D'Angelo Russell,PG,9.77,MIA,12.625000,15.2,12.800000,23.000000,20.6,12.5,0,-12.5,U
12,20251124_POR_MIL,11/24/2025,MIL,1,NaN,NaN,Ryan Rollins,PG,30.45,POR,18.647059,22.0,NaN,24.000000,24.8,22.5,10,-12.5,U
13,20251123_POR_OKC,11/23/2025,OKC,0,NaN,NaN,Chet Holmgren,PF,25.40,POR,18.583333,18.8,11.666667,18.769231,23.4,17.5,5,-12.5,U
14,20251123_POR_OKC,11/23/2025,POR,0,NaN,NaN,Deni Avdija,SF,23.77,OKC,25.937500,25.6,13.571429,19.285714,17.4,23.5,11,-12.5,U

===AST===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_AST,Off_L5_AST,AVG_AST_H2H,Def_AST,Def_L5_AST,AST_line,AST,AST_Diff,AST_Result
0,20251201_LAC_MIA,12/01/2025,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,8.684211,8.8,10.200000,7.500000,6.2,8.5,3,-5.5,U
1,20251123_POR_OKC,11/23/2025,POR,0,NaN,NaN,Deni Avdija,SF,23.77,OKC,5.687500,8.0,3.714286,3.428571,3.4,6.5,1,-5.5,U
2,20251123_SAS_PHO,11/23/2025,SAS,0,NaN,NaN,De'Aaron Fox,PG,33.38,PHO,6.571429,7.6,7.125000,6.642857,7.4,7.5,3,-4.5,U
3,20251201_PHO_LAL,12/01/2025,PHO,0,4.5,235.5,Devin Booker,SG,9.92,LAL,6.857143,6.2,6.714286,3.750000,4.8,7.5,3,-4.5,U
4,20251201_CLE_IND,12/01/2025,IND,1,4.5,231.5,T.J. McConnell,PG,5.93,CLE,4.600000,5.8,4.642857,6.500000,5.8,5.5,1,-4.5,U
5,20251128_ORL_DET,11/28/2025,ORL,0,3.5,231.5,Jalen Suggs,PG,33.93,DET,5.071429,6.6,3.142857,5.437500,4.2,5.5,1,-4.5,U
6,20251128_WAS_IND,11/28/2025,IND,0,-6.5,238.5,Pascal Siakam,PF,26.45,WAS,4.588235,3.4,6.166667,2.461538,2.6,5.5,1,-4.5,U
7,20251129_BRK_MIL,11/29/2025,MIL,1,-10.5,217.5,Giannis Antetokounmpo,PF,18.98,BRK,6.928571,8.2,5.666667,5.000000,5.6,6.5,2,-4.5,U
8,20251120_ATL_SAS,11/20/2025,SAS,0,NaN,NaN,Kelly Olynyk,C,12.92,ATL,4.000000,4.0,3.250000,3.454545,4.2,3.5,0,-3.5,U
9,20251124_HOU_PHO,11/24/2025,PHO,0,NaN,NaN,Collin Gillespie,PG,29.30,HOU,5.117647,4.8,2.000000,7.600000,7.6,5.5,2,-3.5,U
10,20251124_UTA_GSW,11/24/2025,GSW,1,NaN,NaN,Stephen Curry,PG,29.05,UTA,4.384615,4.6,6.200000,7.571429,8.4,5.5,2,-3.5,U
11,20251121_WAS_TOR,11/21/2025,TOR,0,NaN,NaN,Scottie Barnes,PF,29.90,WAS,5.266667,6.0,5.000000,2.636364,3.6,5.5,2,-3.5,U
12,20251124_NYK_BRK,11/24/2025,NYK,0,NaN,NaN,Jalen Brunson,PG,32.73,BRK,6.769231,7.8,7.375000,5.900000,4.8,6.5,3,-3.5,U
13,20251124_DET_IND,11/24/2025,DET,0,NaN,NaN,Cade Cunningham,PG,35.80,IND,9.923077,10.4,8.375000,6.000000,5.8,9.5,6,-3.5,U
14,20251121_OKC_UTA,11/21/2025,UTA,0,NaN,NaN,Isaiah Collier,PG,13.55,OKC,7.142857,8.0,4.000000,5.461538,6.6,5.5,2,-3.5,U

===REB===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_REB,Off_L5_REB,AVG_REB_H2H,Def_REB,Def_L5_REB,REB_line,REB,REB_Diff,REB_Result
0,20251128_PHI_BRK,11/28/2025,PHI,0,-6.5,221.5,Andre Drummond,C,10.52,BRK,10.687500,14.80,6.125000,10.454545,10.2,12.5,4,-8.5,U
1,20251123_ORL_BOS,11/23/2025,ORL,1,NaN,NaN,Goga Bitadze,C,0.00,BOS,5.058824,5.40,4.333333,10.545455,10.2,8.5,0,-8.5,U
2,20251124_DEN_MEM,11/24/2025,MEM,0,NaN,NaN,Zach Edey,C,5.68,DEN,9.250000,9.25,NaN,8.666667,7.6,8.5,1,-7.5,U
3,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,P.J. Washington,PF,0.00,LAC,8.277778,8.80,6.454545,5.181818,5.8,7.5,0,-7.5,U
4,20251201_PHO_LAL,12/01/2025,LAL,0,-4.5,235.5,LeBron James,SF,31.23,PHO,5.000000,5.00,7.000000,5.333333,6.0,6.5,0,-6.5,U
5,20251123_ORL_BOS,11/23/2025,BOS,1,NaN,NaN,Neemias Queta,C,5.85,ORL,8.312500,9.20,2.500000,9.600000,11.6,8.5,2,-6.5,U
6,20251121_MIA_CHI,11/21/2025,CHI,0,NaN,NaN,Nikola Vucevic,C,20.57,MIA,9.857143,8.60,10.875000,11.727273,11.2,10.5,4,-6.5,U
7,20251122_DET_MIL,11/22/2025,DET,0,NaN,NaN,Jalen Duren,C,27.35,MIL,11.923077,12.80,9.285714,10.428571,9.6,12.5,6,-6.5,U
8,20251124_HOU_PHO,11/24/2025,HOU,0,NaN,NaN,Alperen Sengun,C,34.70,PHO,9.923077,10.20,8.000000,10.100000,9.6,10.5,5,-5.5,U
9,20251121_DEN_HOU,11/21/2025,HOU,0,NaN,NaN,Alperen Sengun,C,36.15,DEN,10.333333,11.40,9.714286,9.125000,9.2,10.5,5,-5.5,U
10,20251123_LAL_UTA,11/23/2025,LAL,0,NaN,NaN,Deandre Ayton,C,13.43,UTA,9.461538,10.20,7.500000,10.692308,10.6,8.5,3,-5.5,U
11,20251130_MEM_SAC,11/30/2025,SAC,0,2.5,233.5,Keegan Murray,PF,36.48,MEM,8.000000,8.00,6.833333,6.750000,5.6,7.5,2,-5.5,U
12,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Trey Murphy III,SF,0.00,GSW,6.157895,4.40,6.000000,5.687500,6.8,5.5,0,-5.5,U
13,20251120_SAC_MEM,11/20/2025,MEM,1,NaN,NaN,Zach Edey,C,24.83,SAC,9.000000,9.00,NaN,12.400000,13.0,9.5,4,-5.5,U
14,20251120_ATL_SAS,11/20/2025,SAS,0,NaN,NaN,Luke Kornet,C,22.98,ATL,7.166667,7.80,3.857143,9.636364,8.8,8.5,3,-5.5,U

===PR===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PR,Off_L5_PR,AVG_PR_H2H,Def_PR,Def_L5_PR,PR_line,PR,PR_Diff,PR_Result
0,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,P.J. Washington,PF,0.00,LAC,23.842105,27.6,18.090909,20.000000,20.6,24.5,0,-24.5,U
1,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Trey Murphy III,SF,0.00,GSW,25.894737,24.2,27.000000,21.562500,24.0,23.5,0,-23.5,U
2,20251121_DEN_HOU,11/21/2025,DEN,0,NaN,NaN,Aaron Gordon,PF,3.35,HOU,26.500000,27.0,16.800000,26.444444,23.0,23.5,3,-20.5,U
3,20251201_LAC_MIA,12/01/2025,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,33.578947,36.0,29.400000,29.928571,29.0,32.5,13,-19.5,U
4,20251123_LAL_UTA,11/23/2025,LAL,0,NaN,NaN,Deandre Ayton,C,13.43,UTA,25.285714,26.2,18.750000,28.153846,33.0,23.5,5,-18.5,U
5,20251121_POR_GSW,11/21/2025,POR,0,NaN,NaN,Jerami Grant,PF,30.85,GSW,22.785714,22.0,16.333333,23.083333,18.2,27.5,9,-18.5,U
6,20251121_MIA_CHI,11/21/2025,CHI,0,NaN,NaN,Nikola Vucevic,C,20.57,MIA,26.500000,23.2,27.500000,31.636364,38.0,27.5,10,-17.5,U
7,20251123_ORL_BOS,11/23/2025,ORL,1,NaN,NaN,Goga Bitadze,C,0.00,BOS,11.235294,11.8,7.916667,28.090909,23.6,17.5,0,-17.5,U
8,20251201_PHO_LAL,12/01/2025,PHO,0,4.5,235.5,Devin Booker,SG,9.92,LAL,30.095238,26.6,29.571429,21.416667,17.6,30.5,13,-17.5,U
9,20251124_CLE_TOR,11/24/2025,CLE,1,NaN,NaN,Donovan Mitchell,SG,33.77,TOR,35.750000,37.4,26.285714,18.647059,24.2,34.5,18,-16.5,U
10,20251201_CHO_BRK,12/01/2025,CHO,0,-4.5,229.5,Miles Bridges,PF,30.38,BRK,28.700000,27.4,25.375000,25.500000,23.6,26.5,10,-16.5,U
11,20251129_BRK_MIL,11/29/2025,BRK,1,10.5,217.5,Noah Clowney,PF,21.37,MIL,16.166667,23.4,11.333333,25.166667,20.4,23.5,7,-16.5,U
12,20251201_PHO_LAL,12/01/2025,LAL,0,-4.5,235.5,LeBron James,SF,31.23,PHO,21.500000,21.5,28.500000,20.733333,20.2,26.5,10,-16.5,U
13,20251201_CHI_ORL,12/01/2025,CHI,0,9.5,239.5,Kevin Huerter,SF,5.68,ORL,16.055556,9.8,NaN,25.368421,26.2,15.5,0,-15.5,U
14,20251120_SAC_MEM,11/20/2025,SAC,1,NaN,NaN,DeMar DeRozan,PF,15.37,MEM,21.933333,16.6,29.800000,25.083333,26.4,22.5,7,-15.5,U

===PA===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PA,Off_L5_PA,AVG_PA_H2H,Def_PA,Def_L5_PA,PA_line,PA,PA_Diff,PA_Result
0,20251201_LAC_MIA,12/01/2025,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,36.368421,39.80,33.200000,30.357143,28.8,35.5,14,-21.5,U
1,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Trey Murphy III,SF,0.00,GSW,22.947368,23.20,24.500000,18.937500,22.4,21.5,0,-21.5,U
2,20251201_PHO_LAL,12/01/2025,PHO,0,4.5,235.5,Devin Booker,SG,9.92,LAL,32.523810,27.40,31.571429,21.083333,19.2,33.5,14,-19.5,U
3,20251121_DEN_HOU,11/21/2025,DEN,0,NaN,NaN,Aaron Gordon,PF,3.35,HOU,21.666667,21.00,14.600000,22.888889,20.4,19.5,1,-18.5,U
4,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,P.J. Washington,PF,0.00,LAC,18.263158,21.00,12.818182,17.181818,16.2,18.5,0,-18.5,U
5,20251121_POR_GSW,11/21/2025,POR,0,NaN,NaN,Jerami Grant,PF,30.85,GSW,21.785714,21.00,16.500000,19.833333,14.8,25.5,7,-18.5,U
6,20251123_POR_OKC,11/23/2025,POR,0,NaN,NaN,Deni Avdija,SF,23.77,OKC,31.625000,33.60,17.285714,22.714286,20.8,30.5,12,-18.5,U
7,20251124_DAL_MIA,11/24/2025,DAL,0,NaN,NaN,D'Angelo Russell,PG,9.77,MIA,17.625000,20.40,16.200000,31.090909,29.4,17.5,2,-15.5,U
8,20251124_MIN_SAC,11/24/2025,SAC,0,NaN,NaN,Zach LaVine,SG,31.82,MIN,23.666667,19.00,NaN,21.000000,18.6,23.5,8,-15.5,U
9,20251125_ORL_PHI,11/25/2025,PHI,0,NaN,NaN,Tyrese Maxey,PG,31.97,ORL,40.750000,41.60,31.142857,30.875000,34.2,39.5,24,-15.5,U
10,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Derik Queen,C,15.88,GSW,15.842105,23.80,NaN,23.461538,24.0,16.5,2,-14.5,U
11,20251121_DEN_HOU,11/21/2025,HOU,0,NaN,NaN,Kevin Durant,SF,35.25,DEN,29.083333,32.40,34.333333,18.200000,19.0,29.5,15,-14.5,U
12,20251201_CHI_ORL,12/01/2025,CHI,0,9.5,239.5,Kevin Huerter,SF,5.68,ORL,15.166667,10.00,NaN,23.000000,25.2,14.5,0,-14.5,U
13,20251201_PHO_LAL,12/01/2025,LAL,0,-4.5,235.5,LeBron James,SF,31.23,PHO,24.750000,24.75,30.625000,18.533333,17.4,27.5,13,-14.5,U
14,20251201_CHO_BRK,12/01/2025,CHO,0,-4.5,229.5,Miles Bridges,PF,30.38,BRK,26.000000,25.80,20.375000,23.100000,21.6,23.5,9,-14.5,U

===RA===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_RA,Off_L5_RA,AVG_RA_H2H,Def_RA,Def_L5_RA,RA_line,RA,RA_Diff,RA_Result
0,20251123_ORL_BOS,11/23/2025,ORL,1,NaN,NaN,Goga Bitadze,C,0.00,BOS,6.529412,7.40,5.416667,14.000000,13.8,10.5,0,-10.5,U
1,20251201_PHO_LAL,12/01/2025,LAL,0,-4.5,235.5,LeBron James,SF,31.23,PHO,13.250000,13.25,16.125000,8.466667,9.2,13.5,3,-10.5,U
2,20251201_LAC_MIA,12/01/2025,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,14.578947,13.80,16.600000,14.571429,12.6,14.5,5,-9.5,U
3,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,P.J. Washington,PF,0.00,LAC,10.666667,11.00,7.636364,7.545455,7.2,9.5,0,-9.5,U
4,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Trey Murphy III,SF,0.00,GSW,9.368421,7.80,9.500000,8.750000,12.0,8.5,0,-8.5,U
5,20251123_ORL_BOS,11/23/2025,BOS,1,NaN,NaN,Neemias Queta,C,5.85,ORL,10.125000,11.60,3.083333,11.733333,14.0,10.5,2,-8.5,U
6,20251129_TOR_CHO,11/29/2025,CHO,0,6.5,234.5,Miles Bridges,PF,41.43,TOR,10.263158,8.40,10.833333,10.421053,7.0,10.5,3,-7.5,U
7,20251124_HOU_PHO,11/24/2025,HOU,0,NaN,NaN,Alperen Sengun,C,34.70,PHO,17.230769,17.40,11.714286,14.400000,13.2,17.5,10,-7.5,U
8,20251123_POR_OKC,11/23/2025,POR,0,NaN,NaN,Deni Avdija,SF,23.77,OKC,12.375000,15.60,8.142857,10.000000,9.0,13.5,6,-7.5,U
9,20251129_BRK_MIL,11/29/2025,MIL,1,-10.5,217.5,Giannis Antetokounmpo,PF,18.98,BRK,18.071429,17.20,16.833333,12.400000,13.2,17.5,10,-7.5,U
10,20251124_CHI_NOP,11/24/2025,NOP,0,NaN,NaN,Zion Williamson,PF,29.62,CHI,10.428571,8.40,NaN,10.214286,8.8,10.5,3,-7.5,U
11,20251129_DEN_PHO,11/29/2025,PHO,1,2.5,230.5,Collin Gillespie,PG,28.65,DEN,9.100000,8.80,NaN,12.285714,11.0,9.5,2,-7.5,U
12,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Derik Queen,C,15.88,GSW,9.842105,12.60,NaN,13.923077,13.2,10.5,3,-7.5,U
13,20251201_CHO_BRK,12/01/2025,CHO,0,-4.5,229.5,Miles Bridges,PF,30.38,BRK,9.900000,7.60,10.250000,12.400000,13.2,10.5,3,-7.5,U
14,20251129_BRK_MIL,11/29/2025,BRK,1,10.5,217.5,Terance Mann,SG,21.08,MIL,7.588235,9.60,4.800000,8.058824,8.4,8.5,2,-6.5,U

===PRA===

,game_id,Date,Team,B2B,Spread,Total,Player,Pos,MP,Opp,Off_PRA,Off_L5_PRA,AVG_PRA_H2H,Def_PRA,Def_L5_PRA,PRA_line,PRA,PRA_Diff,PRA_Result
0,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Trey Murphy III,SF,0.00,GSW,29.105263,27.60,30.500000,24.625000,29.2,26.5,0,-26.5,U
1,20251129_DAL_LAC,11/29/2025,DAL,1,8.5,223.5,P.J. Washington,PF,0.00,LAC,26.105263,29.80,19.272727,22.363636,22.0,26.5,0,-26.5,U
2,20251201_LAC_MIA,12/01/2025,LAC,0,6.5,236.5,James Harden,PG,19.85,MIA,42.263158,44.80,39.600000,37.428571,35.2,41.5,16,-25.5,U
3,20251121_DEN_HOU,11/21/2025,DEN,0,NaN,NaN,Aaron Gordon,PF,3.35,HOU,27.916667,28.00,21.000000,28.444444,24.4,25.5,3,-22.5,U
4,20251201_PHO_LAL,12/01/2025,PHO,0,4.5,235.5,Devin Booker,SG,9.92,LAL,36.952381,32.80,36.285714,25.166667,22.4,37.5,16,-21.5,U
5,20251123_POR_OKC,11/23/2025,POR,0,NaN,NaN,Deni Avdija,SF,23.77,OKC,38.312500,41.20,21.714286,29.285714,26.4,37.5,17,-20.5,U
6,20251201_PHO_LAL,12/01/2025,LAL,0,-4.5,235.5,LeBron James,SF,31.23,PHO,29.750000,29.75,37.625000,23.866667,23.4,33.5,13,-20.5,U
7,20251201_CHO_BRK,12/01/2025,CHO,0,-4.5,229.5,Miles Bridges,PF,30.38,BRK,32.300000,30.40,28.000000,30.500000,29.2,30.5,11,-19.5,U
8,20251123_ORL_BOS,11/23/2025,ORL,1,NaN,NaN,Goga Bitadze,C,0.00,BOS,12.705882,13.80,9.000000,31.545455,27.2,19.5,0,-19.5,U
9,20251124_DEN_MEM,11/24/2025,MEM,0,NaN,NaN,Zach Edey,C,5.68,DEN,22.750000,22.75,NaN,28.111111,29.4,22.5,3,-19.5,U
10,20251121_POR_GSW,11/21/2025,POR,0,NaN,NaN,Jerami Grant,PF,30.85,GSW,25.214286,24.80,18.666667,25.583333,20.0,30.5,11,-19.5,U
11,20251129_NOP_GSW,11/29/2025,NOP,0,8.5,226.5,Derik Queen,C,15.88,GSW,22.105263,30.20,NaN,33.153846,33.4,23.5,5,-18.5,U
12,20251125_ORL_PHI,11/25/2025,PHI,0,NaN,NaN,Tyrese Maxey,PG,31.97,ORL,45.375000,45.60,34.714286,35.687500,38.8,43.5,25,-18.5,U
13,20251201_CHI_ORL,12/01/2025,CHI,0,9.5,239.5,Kevin Huerter,SF,5.68,ORL,18.611111,11.80,NaN,28.842105,30.0,18.5,0,-18.5,U
14,20251121_MIA_CHI,11/21/2025,CHI,0,NaN,NaN,Nikola Vucevic,C,20.57,MIA,30.071429,27.00,31.000000,35.000000,42.8,31.5,13,-18.5,U