In [22]:
import pandas as pd
import numpy as np
from datetime import datetime
from nbainjuries import injury
from datetime import datetime, timedelta
import warnings
import duckdb
import os
import requests

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
warnings.filterwarnings("ignore")

year = 2025
now = str(datetime.now().date())
# now = '2025-11-18'
print(f"Today's date:", now)

con = duckdb.connect(database=":memory:")

folders = os.listdir('../tables/')
df = pd.DataFrame()
for yr in folders:
    df_temp = pd.read_csv(f"../tables/{yr}/season_gamelogs.csv")
    df_temp.insert(0, 'Season', int(yr))
    df = pd.concat([df, df_temp])
df['Date'] = pd.to_datetime(df.Date)
# df = df[(df.Date != now)]
df = df.rename(columns={"TRB": "REB", "3PM": "TPM", "3PA": "TPA"})
df['PR'] = df.PTS + df.REB 
df['PA'] = df.PTS + df.AST
df['RA'] = df.REB + df.AST
df['PRA'] = df.PTS + df.REB + df.AST
df

Today's date: 2025-11-19

,Season,game_id,Date,Team,Team_type,Opp,Opp_type,Player,Pos,Active,MP,FG,FGA,FG%,TPM,TPA,3P%,FT,FTA,FT%,ORB,DRB,REB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,DD,TD,Fpts,PR,PA,RA,PRA
0,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Christian Braun,SG,1,19.33,2,5,0.400,0,1,0.000,1,2,0.500,1,2,3,2,0,1,1,1,5,3.9,5,0,0,8.5,8,7,5,10
1,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Kentavious Caldwell-Pope,SG,1,36.25,8,12,0.667,2,3,0.667,2,2,1.000,1,1,2,1,3,1,3,5,20,15.2,10,0,0,19.0,22,21,3,23
2,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Collin Gillespie,PG,1,0.72,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0
3,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Aaron Gordon,PF,1,34.98,7,11,0.636,1,2,0.500,0,0,0.000,2,5,7,5,2,1,0,0,15,19.2,6,0,0,26.0,22,20,12,27
4,2023,20231024_LAL_DEN,2023-10-24,DEN,Home,LAL,Away,Justin Holiday,SG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,2025,20251118_PHO_POR,2025-11-18,POR,Home,PHO,Away,Damian Lillard,PG,0,0.00,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0.0,0,0,0,0
5630,2025,20251118_PHO_POR,2025-11-18,POR,Home,PHO,Away,Caleb Love,NaN,1,32.12,7,14,0.500,3,8,0.375,0,0,0.000,1,6,7,3,1,0,3,1,17,12.2,8,0,0,19.0,24,20,10,27
5631,2025,20251118_PHO_POR,2025-11-18,POR,Home,PHO,Away,Sidy Cissoko,NaN,1,28.12,2,7,0.286,1,4,0.250,3,3,1.000,1,2,3,5,2,0,2,2,8,7.9,2,0,0,14.5,11,13,8,16
5632,2025,20251118_PHO_POR,2025-11-18,PHO,Away,POR,Home,Isaiah Livers,NaN,1,12.63,1,3,0.333,1,3,0.333,2,3,0.667,0,2,2,0,0,0,0,3,5,2.3,3,0,0,5.0,7,5,2,7
5633,2025,20251118_PHO_POR,2025-11-18,PHO,Away,POR,Home,Jamaree Bouyea,NaN,1,3.43,1,2,0.500,1,1,1.000,0,0,0.000,0,0,0,1,0,1,0,0,3,3.4,-3,0,0,5.0,3,4,1,4

In [23]:
%run ./common_utils.ipynb

In [24]:
df_gms = pd.read_csv(f"../tables/{year}/nba_schedule.csv")
df_gms = df_gms[(df_gms.Date == now)]
tms_today = df_gms.AwayABV.tolist() + df_gms.HomeABV.tolist()
display(df_gms)

,Date,StartTime_ET,AwayTeam,AwayABV,HomeTeam,HomeABV,Arena,AwayB2B,HomeB2B,rtrvd
213,2025-11-19,7:00p,Houston Rockets,HOU,Cleveland Cavaliers,CLE,Rocket Arena,0,0,0
214,2025-11-19,7:00p,Charlotte Hornets,CHO,Indiana Pacers,IND,Gainbridge Fieldhouse,0,0,0
215,2025-11-19,7:00p,Toronto Raptors,TOR,Philadelphia 76ers,PHI,Xfinity Mobile Arena,0,0,0
216,2025-11-19,7:30p,Golden State Warriors,GSW,Miami Heat,MIA,Kaseya Center,1,0,0
217,2025-11-19,8:00p,Washington Wizards,WAS,Minnesota Timberwolves,MIN,Target Center,0,0,0
218,2025-11-19,8:00p,Denver Nuggets,DEN,New Orleans Pelicans,NOP,Smoothie King Center,0,0,0
219,2025-11-19,8:00p,Sacramento Kings,SAC,Oklahoma City Thunder,OKC,Paycom Center,0,0,0
220,2025-11-19,9:30p,New York Knicks,NYK,Dallas Mavericks,DAL,American Airlines Center,0,0,0
221,2025-11-19,10:00p,Chicago Bulls,CHI,Portland Trail Blazers,POR,Moda Center,0,1,0

In [25]:
df_teams = pd.read_csv("../src/team_info_xref.csv")

df_inj = injury.get_reportdata(datetime.now() + timedelta(hours=3), return_df=True)
df_inj = df_inj.rename(columns={"Game Date": "Date", "Player Name": "Player", "Current Status": "Status"})
df_inj['Player'] = df_inj.Player.str.split(",").str[1] + " " + df_inj.Player.str.split(",").str[0]
df_inj['Player'] = df_inj['Player'].str.strip()
df_inj['Date'] = pd.to_datetime(df_inj['Date'])
df_inj = con.execute(f"""SELECT Date, ABV as Team, Player, Status, Reason FROM df_inj 
                         JOIN df_teams ON df_inj.Team = df_teams.Team
                         WHERE Date = '{now}' AND Status = 'Out'""").fetchdf()

df_best_out = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Fpts DESC) as Off_Rk FROM
                              (SELECT Team, Player, Pos, AVG(Fpts) as Fpts FROM df 
                              WHERE Season = 2025 AND Fpts > 0 AND Pos != 'None'
                              GROUP BY Team, Player, Pos)""").fetchdf()
df_best_out = con.execute(f"""SELECT * EXCLUDE(t2.Team, t2.Player) FROM df_best_out t1 
                              JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                              ORDER BY Fpts DESC""").fetchdf()
display(df_best_out)

Validated Injury-Report_2025-11-19_04PM.

,Team,Player,Pos,Fpts,Off_Rk,Date,Status,Reason
0,DAL,Anthony Davis,PF,27.300000,5,2025-11-19,Out,Injury/Illness - Left Calf; Strain
1,GSW,Stephen Curry,PG,25.807692,8,2025-11-19,Out,Injury/Illness - Right Ankle; Soreness
2,SAC,Domantas Sabonis,C,25.772727,6,2025-11-19,Out,Injury/Illness - Left Knee; Soreness
3,WAS,Alex Sarr,C,25.076923,8,2025-11-19,Out,Injury/Illness - Left Big toe; Soreness
4,POR,Jrue Holiday,PG,24.125000,11,2025-11-19,Out,Injury/Illness - Right Calf; Strain
5,PHI,Joel Embiid,C,21.416667,16,2025-11-19,Out,Injury/Illness - Right Knee; Injury Management
6,NYK,OG Anunoby,PF,20.375000,12,2025-11-19,Out,Injury/Illness - Left Hamstring; Strained
7,PHI,Kelly Oubre Jr.,PF,19.318182,15,2025-11-19,Out,Injury/Illness - Left Knee; Sprain
8,MIN,Jaden McDaniels,PF,19.071429,16,2025-11-19,Out,Injury/Illness - Left Wrist; Sprain
9,PHI,Paul George,PF,18.000000,20,2025-11-19,Out,Injury/Illness - Left Knee; Injury Recovery
10,OKC,Aaron Wiggins,SG,17.250000,19,2025-11-19,Out,Injury/Illness - Left Adductor; Strain
11,IND,Aaron Nesmith,SF,16.590909,27,2025-11-19,Out,Injury/Illness - Left Knee; MCL Sprain
12,CLE,Darius Garland,PG,16.000000,29,2025-11-19,Out,Injury/Illness - Left Great Toe; Injury Management
13,IND,Obi Toppin,PF,15.833333,25,2025-11-19,Out,Injury/Illness - Right Foot; Stress Fracture
14,CLE,Jaylon Tyson,SG,15.636364,24,2025-11-19,Out,Injury/Illness - Head; Concussion
15,GSW,Jonathan Kuminga,PF,15.576923,27,2025-11-19,Out,Injury/Illness - Bilateral Knee; Patellar Tendonitis
16,HOU,Tari Eason,PF,15.450000,28,2025-11-19,Out,Injury/Illness - Right Oblique; Strain
17,DEN,Christian Braun,SG,14.227273,33,2025-11-19,Out,Injury/Illness - Left Ankle; Sprain
18,NOP,Jordan Poole,PG,14.214286,32,2025-11-19,Out,Injury/Illness - Left Quad; Strain
19,CHO,Brandon Miller,SF,12.250000,41,2025-11-19,Out,Injury/Illness - Left Shoulder; Subluxation
20,GSW,Al Horford,C,11.818182,47,2025-11-19,Out,Injury/Illness - Left Toe; Injury Management
21,POR,Blake Wesley,SG,11.166667,53,2025-11-19,Out,Injury/Illness - Right Foot; Fracture
22,POR,Matisse Thybulle,SG,9.500000,68,2025-11-19,Out,Injury/Illness - Left Thumb; Ligament Tear
23,PHI,Adem Bona,C,8.333333,59,2025-11-19,Out,Injury/Illness - Right Ankle; Sprain
24,NOP,Karlo Matkovic,PF,7.772727,57,2025-11-19,Out,Injury/Illness - Right Calf; Strain
25,CHO,Tidjane Salaun,PF,7.666667,59,2025-11-19,Out,G League - On Assignment
26,MIN,Terrence Shannon Jr.,SG,7.083333,76,2025-11-19,Out,Injury/Illness - Left Fifth Metatarsal; Bone Bruise
27,PHI,Kelly Oubre Jr.,SF,6.500000,57,2025-11-19,Out,Injury/Illness - Left Knee; Sprain
28,CHO,Liam McNeeley,SF,6.437500,58,2025-11-19,Out,Injury/Illness - N/a; Illness
29,IND,Johnny Furphy,SG,6.000000,83,2025-11-19,Out,Injury/Illness - Left Ankle; Sprain
30,DEN,Julian Strawther,SG,4.312500,95,2025-11-19,Out,Injury/Illness - Low Back; Pain
31,TOR,Jonathan Mogbo,PF,3.500000,69,2025-11-19,Out,G League - On Assignment

In [77]:
def get_sportsbook():
    url = "https://parlaybuilder.ai/nba/get_bet_type_lines"

    headers = {
        "Accept": "*/*",
        "Accept-Encoding": "gzip, deflate, br, zstd",
        "Accept-Language": "en-US,en;q=0.9",
        "Connection": "keep-alive",
        "Cookie": "ai_user=Anvvunart/lQ0RomdLENHh|2025-11-18T07:05:50.001Z; ai_session=i4eTUxFL+7VmT7yXlUXnfp|1763449550909|1763449880665",
        "Host": "parlaybuilder.ai",
        "Referer": "https://parlaybuilder.ai/nba/workbench",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
        "request-id": "|3eb29e1137fb4d398c24c4cf69d46d59.8216a6c0580e45a7",
        "sec-ch-ua": '"Chromium";v="142", "Google Chrome";v="142", "Not_A Brand";v="99"',
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": '"Windows"',
        "traceparent": "00-3eb29e1137fb4d398c24c4cf69d46d59-8216a6c0580e45a7-01"
    }

    # You may need query parameters, e.g., player_id and bet_type

    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        raise Exception('Bad Request')


    # Assuming your dictionary is called `data_dict`
    data_dict = response.json()

    # Flatten the nested dictionary
    flat_data = {}
    for player, stats in data_dict['data'].items():
        flat_data[player] = {}
        for stat_name, stat_values in stats.items():
            for key, value in stat_values.items():
                flat_data[player][f"{stat_name}_{key}"] = value

    # Convert to DataFrame
    df = pd.DataFrame.from_dict(flat_data, orient='index')
    df.reset_index(inplace=True)
    df.rename(columns={'index': 'Player', 'Points_line': 'PTS_line', 'Assists_line': 'AST_line', 'Rebounds_line': 'REB_line'}, inplace=True)
    df = df[['Player', 'PTS_line', 'AST_line', 'REB_line', 'PA_line', 'PR_line', 'RA_line', 'PRA_line']]

    df = pd.merge(pd.read_csv(f"../tables/{year}/plyr_pos_xref.csv"), df, on='Player', how='right')
    df.insert(0, 'Date', pd.to_datetime(str(datetime.now().date())))
    
    # Save by dates
#     partition_save_df(df, f"../tables/{year}/parlay_lines.csv") 
    display(df)
    
    return df
df_lines = get_sportsbook()
df_lines = df_lines[(df_lines.Player == 'fake')]

KeyError: "['PTS_line', 'AST_line', 'REB_line', 'PA_line', 'PR_line', 'RA_line', 'PRA_line'] not in index"

In [76]:
response = requests.get("https://sportsbook-nash.draftkings.com/sites/US-SB/api/sportscontent/controldata/league/leagueSubcategory/v1/markets?isBatchable=false&templateVars=42648%2C12488&eventsQuery=%24filter%3DleagueId%20eq%20%2742648%27%20AND%20clientMetadata%2FSubcategories%2Fany%28s%3A%20s%2FId%20eq%20%2712488%27%29&marketsQuery=%24filter%3DclientMetadata%2FsubCategoryId%20eq%20%2712488%27%20AND%20tags%2Fall%28t%3A%20t%20ne%20%27SportcastBetBuilder%27%29&include=Events&entity=events")
if response.status_code != 200:
    raise Exception('Bad Request')
# result = json.dumps(response.json(), indent=4)
# print(result)

plyr_names = []
pnt_lines = []
for i in response.json()['selections']:
    plyr_names.append(i['participants'][0]['name'])
    pnt_lines.append(i['points'])
lst = {"Player": plyr_names, "Point_line": pnt_lines}
df_dk = pd.DataFrame(lst).drop_duplicates().reset_index(drop=True)
display(df_dk)

               Player  Point_line
0           Dean Wade         6.5
1    Donovan Mitchell        27.5
2    Jabari Smith Jr.        13.5
3       Reed Sheppard        11.5
4         Josh Okogie         6.5
..                ...         ...
114   Donovan Clingan        10.5
115       Jalen Smith         9.5
116     Matas Buzelis        14.5
117       Josh Giddey        20.5
118       Deni Avdija        29.5

[119 rows x 2 columns]

In [33]:
def pick_finder(stat, collect=False):
    df_mtch = df_gms[['AwayABV', 'HomeABV', 'AwayB2B', 'HomeB2B']]
    df_mtch = df_mtch.rename(columns={"AwayABV": "Team", "HomeABV": "Opp", "AwayB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch2 = df_mtch.copy().rename(columns={"Team": "Opp", "Opp": "Team", "HomeB2B": "B2B"})[['Team', 'Opp', 'B2B']]
    df_mtch = pd.concat([df_mtch, df_mtch2])
    
    df_rk = con.execute(f"""SELECT *, RANK() OVER (PARTITION BY Pos ORDER BY Off_{stat} DESC) as Off_Rk FROM
                            (SELECT Team, Player, Pos, AVG({stat}) as Off_{stat} FROM df 
                            WHERE Season = 2025 AND {stat} > 0 AND Pos != 'None'
                            AND Team IN ({str(tms_today).replace("[", "").replace("]", "")})
                            GROUP BY Team, Player, Pos)""").fetchdf()
    df_save = pd.DataFrame()
    for pos in ['PG', 'SG', 'SF', 'PF', 'C']:
        print(pos)
        df_def = con.execute(f"""SELECT Team, '{pos}' AS Pos, Def_{stat}, Def_Rk FROM
                                 (SELECT *, RANK() OVER (ORDER BY Def_{stat}) as Def_Rk FROM
                                 (SELECT Opp as Team, AVG({stat}) as Def_{stat} FROM df 
                                 WHERE MP >= 27 AND Season = 2025 AND Pos = '{pos}'
                                 GROUP BY Opp
                                 ORDER BY AVG(Fpts) DESC))
                                 WHERE Team IN ({str(tms_today).replace("[", "").replace("]", "")})""").fetchdf()
        
        # Piece together the current matchups with offensive rankings vs defensive rankings
        df_picks = con.execute(f"""SELECT df_mtch.*, df_rk.* EXCLUDE(Team) FROM df_mtch 
                                  JOIN df_rk ON df_mtch.Team = df_rk.Team
                                  WHERE Pos = '{pos}'""").fetchdf()
        df_picks = con.execute(f"""SELECT df_picks.* EXCLUDE(Opp, Pos), Opp, df_def.Def_{stat}, df_def.Def_Rk FROM df_picks 
                                   JOIN df_def ON df_picks.Opp = df_def.Team""").fetchdf()
        df_picks['Rk_Diff'] = df_picks['Def_Rk'] - df_picks['Off_Rk']
        df_picks = con.execute(f"""SELECT t1.* EXCLUDE(Rk_Diff) FROM df_picks t1
                                LEFT JOIN df_inj t2 ON t1.Team = t2.Team AND t1.Player = t2.Player
                                WHERE Status IS NULL
                                ORDER BY Rk_Diff DESC""").fetchdf()
        
        # head to head
        df_h2h = pd.DataFrame()
        for index, row in df_picks.iterrows():
            query = f"""SELECT * EXCLUDE(Gms) FROM
                       (SELECT Player, COUNT(*) as Gms, AVG({stat}) AS AVG_{stat}_H2H FROM df 
                       WHERE Player = ? AND Opp = ? AND Date >= '2023-10-23'
                       GROUP BY Player)
                       WHERE Gms >= 4"""
            df_temp = con.execute(query, [row["Player"], row["Opp"]]).fetchdf()
            df_h2h = pd.concat([df_h2h, df_temp])
        try:
            df_picks = con.execute(f"""SELECT Team, B2B, t1.Player, Off_{stat}, Off_Rk, t2.AVG_{stat}_H2H, 
                                   t1.* EXCLUDE(Team, B2B, Player, Off_{stat}, Off_Rk)
                                   FROM df_picks t1 LEFT JOIN df_h2h t2 
                                   ON t1.Player = t2.Player""").fetchdf()
        except:
            pass
        if collect == False:
            add_where = "WHERE Off_Rk <= 35 AND Def_Rk >= 24"
        else:
            add_where = ""
        df_picks = con.execute(f"""SELECT df_picks.*, df_lines.{stat}_line FROM df_picks LEFT JOIN df_lines 
                                   ON df_picks.Team = df_lines.Team AND df_picks.Player = df_lines.Player
                                   {add_where}""").fetchdf()
        df_picks[f'{stat}_Diff'] = df_picks[f'Off_{stat}'] - df_picks[f'{stat}_line']
        df_picks[f'{stat}_Diff2'] = abs(df_picks[f'{stat}_Diff'])
        df_picks = df_picks.sort_values(f'{stat}_Diff2', ascending=False).reset_index(drop=True).drop(f'{stat}_Diff2', axis=1)
        df_save = pd.concat([df_save, df_picks], ignore_index=True)
        if collect == False:
            display(df_picks)
    if collect == True:
        df_save.insert(0, 'Date', pd.to_datetime(now))
        return df_save

In [34]:
for i in ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA']:
    print(f"==={i}===")
    pick_finder(i)

===PTS===
PG

,Team,B2B,Player,Off_PTS,Off_Rk,AVG_PTS_H2H,Opp,Def_PTS,Def_Rk,PTS_line,PTS_Diff
0,MIN,0,Bones Hyland,5.444444,35,3.5,WAS,25.444444,30,NaN,NaN
1,MIN,0,Mike Conley,6.615385,31,NaN,WAS,25.444444,30,NaN,NaN
2,MIN,0,Rob Dillingham,6.555556,33,NaN,WAS,25.444444,30,NaN,NaN

SG

,Team,B2B,Player,Off_PTS,Off_Rk,AVG_PTS_H2H,Opp,Def_PTS,Def_Rk,PTS_line,PTS_Diff
0,OKC,0,Isaiah Joe,14.700000,14,8.875000,SAC,19.909091,28,NaN,NaN
1,DAL,0,Max Christie,12.066667,19,6.750000,NYK,19.733333,27,NaN,NaN
2,DEN,0,Tim Hardaway Jr.,11.384615,22,16.571429,NOP,18.833333,26,NaN,NaN
3,CHI,0,Coby White,27.000000,2,NaN,POR,20.166667,29,NaN,NaN
4,OKC,0,Ajay Mitchell,16.357143,8,NaN,SAC,19.909091,28,NaN,NaN
5,CHI,0,Ayo Dosunmu,15.727273,10,NaN,POR,20.166667,29,NaN,NaN
6,CHI,0,Isaac Okoro,9.181818,31,NaN,POR,20.166667,29,NaN,NaN
7,HOU,0,Josh Okogie,8.800000,33,NaN,CLE,18.647059,24,NaN,NaN

SF

,Team,B2B,Player,Off_PTS,Off_Rk,AVG_PTS_H2H,Opp,Def_PTS,Def_Rk,PTS_line,PTS_Diff
0,PHI,0,Justin Edwards,7.444444,31,5.6,TOR,21.666667,28,NaN,NaN

PF

,Team,B2B,Player,Off_PTS,Off_Rk,AVG_PTS_H2H,Opp,Def_PTS,Def_Rk,PTS_line,PTS_Diff
0,IND,0,Pascal Siakam,24.923077,1,20.857143,CHO,21.454545,28,NaN,NaN
1,OKC,0,Chet Holmgren,19.100000,8,13.833333,SAC,21.363636,27,NaN,NaN
2,HOU,0,Jabari Smith Jr.,14.300000,18,6.250000,CLE,22.666667,29,NaN,NaN
3,POR,0,Toumani Camara,11.857143,21,0.500000,CHI,22.666667,29,NaN,NaN
4,IND,0,Jarace Walker,10.000000,22,7.500000,CHO,21.454545,28,NaN,NaN
5,OKC,0,Jaylin Williams,6.181818,31,4.625000,SAC,21.363636,27,NaN,NaN
6,CLE,0,Larry Nance Jr.,5.500000,35,1.750000,HOU,21.250000,26,NaN,NaN
7,POR,0,Jerami Grant,18.307692,11,NaN,CHI,22.666667,29,NaN,NaN
8,CLE,0,Evan Mobley,18.857143,9,NaN,HOU,21.250000,26,NaN,NaN
9,IND,0,Jeremiah Robinson-Earl,6.125000,32,NaN,CHO,21.454545,28,NaN,NaN
10,CLE,0,Dean Wade,5.923077,33,NaN,HOU,21.250000,26,NaN,NaN

C

,Team,B2B,Player,Off_PTS,Off_Rk,AVG_PTS_H2H,Opp,Def_PTS,Def_Rk,PTS_line,PTS_Diff
0,NYK,0,Karl-Anthony Towns,21.769231,2,21.181818,DAL,21.090909,29,NaN,NaN
1,POR,0,Duop Reath,5.857143,32,4.250000,CHI,21.600000,30,NaN,NaN
2,POR,0,Donovan Clingan,8.857143,24,NaN,CHI,21.600000,30,NaN,NaN
3,NYK,0,Mitchell Robinson,5.400000,35,NaN,DAL,21.090909,29,NaN,NaN

===AST===
PG

,Team,B2B,Player,Off_AST,Off_Rk,AVG_AST_H2H,Opp,Def_AST,Def_Rk,AST_line,AST_Diff
0,OKC,0,Shai Gilgeous-Alexander,6.857143,6,6.333333,SAC,7.555556,25,NaN,NaN
1,DEN,0,Jamal Murray,6.000000,11,6.833333,NOP,7.583333,26,NaN,NaN
2,MIN,0,Bones Hyland,1.600000,35,2.250000,WAS,8.222222,27,NaN,NaN
3,NYK,0,Jalen Brunson,6.545455,7,NaN,DAL,8.444444,30,NaN,NaN
4,DAL,0,D'Angelo Russell,4.866667,17,NaN,NYK,8.285714,29,NaN,NaN
5,DAL,0,Cooper Flagg,3.916667,21,NaN,NYK,8.285714,29,NaN,NaN
6,DAL,0,Brandon Williams,3.818182,23,NaN,NYK,8.285714,29,NaN,NaN
7,MIN,0,Mike Conley,3.916667,21,NaN,WAS,8.222222,27,NaN,NaN
8,NYK,0,Tyler Kolek,2.600000,29,NaN,DAL,8.444444,30,NaN,NaN
9,MIN,0,Rob Dillingham,2.500000,30,NaN,WAS,8.222222,27,NaN,NaN

SG

,Team,B2B,Player,Off_AST,Off_Rk,AVG_AST_H2H,Opp,Def_AST,Def_Rk,AST_line,AST_Diff
0,OKC,0,Alex Caruso,3.000000,16,5.400000,SAC,4.272727,24,NaN,NaN
1,OKC,0,Cason Wallace,2.692308,24,1.444444,SAC,4.272727,24,NaN,NaN
2,IND,0,Ben Sheppard,2.272727,30,1.000000,CHO,4.692308,29,NaN,NaN
3,OKC,0,Isaiah Joe,2.000000,34,1.375000,SAC,4.272727,24,NaN,NaN
4,OKC,0,Ajay Mitchell,3.785714,7,NaN,SAC,4.272727,24,NaN,NaN

SF

,Team,B2B,Player,Off_AST,Off_Rk,AVG_AST_H2H,Opp,Def_AST,Def_Rk,AST_line,AST_Diff
0,HOU,0,Kevin Durant,3.454545,13,5.5,CLE,3.928571,27,NaN,NaN
1,TOR,0,Brandon Ingram,3.785714,11,4.0,PHI,3.714286,24,NaN,NaN
2,MIN,0,Joe Ingles,1.500000,33,3.2,WAS,3.888889,26,NaN,NaN
3,HOU,0,Amen Thompson,5.181818,2,NaN,CLE,3.928571,27,NaN,NaN
4,GSW,1,Jimmy Butler,4.733333,6,NaN,MIA,4.666667,29,NaN,NaN
5,TOR,0,RJ Barrett,3.928571,10,NaN,PHI,3.714286,24,NaN,NaN
6,MIN,0,Leonard Miller,2.000000,26,NaN,WAS,3.888889,26,NaN,NaN

PF

,Team,B2B,Player,Off_AST,Off_Rk,AVG_AST_H2H,Opp,Def_AST,Def_Rk,AST_line,AST_Diff
0,IND,0,Pascal Siakam,4.769231,4,4.571429,CHO,5.363636,30,NaN,NaN
1,IND,0,Jarace Walker,3.500000,10,1.250000,CHO,5.363636,30,NaN,NaN
2,PHI,0,Trendon Watford,3.700000,9,3.142857,TOR,3.687500,24,NaN,NaN
3,HOU,0,Jabari Smith Jr.,2.571429,18,0.500000,CLE,4.666667,28,NaN,NaN
4,IND,0,Jeremiah Robinson-Earl,1.750000,30,NaN,CHO,5.363636,30,NaN,NaN

C

,Team,B2B,Player,Off_AST,Off_Rk,AVG_AST_H2H,Opp,Def_AST,Def_Rk,AST_line,AST_Diff
0,CHI,0,Nikola Vucevic,4.000000,4,3.000000,POR,3.909091,25,NaN,NaN
1,OKC,0,Isaiah Hartenstein,3.666667,6,4.714286,SAC,4.100000,26,NaN,NaN
2,MIA,1,Bam Adebayo,3.285714,9,3.750000,GSW,4.200000,27,NaN,NaN
3,POR,0,Duop Reath,2.000000,18,0.000000,CHI,4.700000,30,NaN,NaN
4,MIN,0,Naz Reid,2.071429,17,0.750000,WAS,4.333333,28,NaN,NaN
5,CHI,0,Jalen Smith,2.250000,14,0.250000,POR,3.909091,25,NaN,NaN
6,MIN,0,Rudy Gobert,1.909091,23,2.500000,WAS,4.333333,28,NaN,NaN
7,POR,0,Yang Hansen,3.000000,11,NaN,CHI,4.700000,30,NaN,NaN
8,POR,0,Donovan Clingan,2.125000,15,NaN,CHI,4.700000,30,NaN,NaN
9,CHO,0,Moussa Diabate,1.666667,28,NaN,IND,3.875000,24,NaN,NaN

===REB===
PG

,Team,B2B,Player,Off_REB,Off_Rk,AVG_REB_H2H,Opp,Def_REB,Def_Rk,REB_line,REB_Diff
0,MIA,1,Davion Mitchell,3.076923,22,2.142857,GSW,5.611111,27,NaN,NaN
1,MIN,0,Bones Hyland,1.333333,34,0.500000,WAS,5.555556,24,NaN,NaN
2,WAS,0,Bub Carrington,4.000000,11,NaN,MIN,6.888889,29,NaN,NaN
3,NYK,0,Jalen Brunson,3.900000,15,NaN,DAL,5.555556,24,NaN,NaN
4,MIN,0,Mike Conley,2.153846,27,NaN,WAS,5.555556,24,NaN,NaN
5,MIN,0,Rob Dillingham,1.857143,31,NaN,WAS,5.555556,24,NaN,NaN

SG

,Team,B2B,Player,Off_REB,Off_Rk,AVG_REB_H2H,Opp,Def_REB,Def_Rk,REB_line,REB_Diff
0,OKC,0,Isaiah Joe,3.666667,19,2.50,SAC,4.681818,29,NaN,NaN
1,OKC,0,Cason Wallace,3.272727,25,1.00,SAC,4.681818,29,NaN,NaN
2,GSW,1,Moses Moody,3.076923,28,1.75,MIA,5.466667,30,NaN,NaN
3,GSW,1,Brandin Podziemski,4.625000,3,NaN,MIA,5.466667,30,NaN,NaN
4,POR,0,Shaedon Sharpe,5.000000,2,NaN,CHI,4.461538,24,NaN,NaN
5,OKC,0,Ajay Mitchell,4.307692,10,NaN,SAC,4.681818,29,NaN,NaN
6,GSW,1,Will Richard,3.200000,27,NaN,MIA,5.466667,30,NaN,NaN
7,GSW,1,Gary Payton II,2.923077,30,NaN,MIA,5.466667,30,NaN,NaN

SF

,Team,B2B,Player,Off_REB,Off_Rk,AVG_REB_H2H,Opp,Def_REB,Def_Rk,REB_line,REB_Diff
0,SAC,0,Russell Westbrook,9.000000,1,4.875,OKC,6.571429,28,NaN,NaN
1,CHI,0,Kevin Huerter,4.416667,18,2.000,POR,6.083333,24,NaN,NaN
2,CHO,0,Kon Knueppel,6.000000,8,NaN,IND,6.230769,25,NaN,NaN
3,CHI,0,Julian Phillips,1.833333,35,NaN,POR,6.083333,24,NaN,NaN

PF

,Team,B2B,Player,Off_REB,Off_Rk,AVG_REB_H2H,Opp,Def_REB,Def_Rk,REB_line,REB_Diff
0,MIN,0,Julius Randle,7.285714,7,8.000000,WAS,7.900,28,NaN,NaN
1,CHO,0,Miles Bridges,7.000000,9,4.800000,IND,7.800,27,NaN,NaN
2,HOU,0,Jabari Smith Jr.,6.500000,14,3.500000,CLE,11.000,30,NaN,NaN
3,GSW,1,Draymond Green,5.866667,17,6.000000,MIA,7.200,24,NaN,NaN
4,PHI,0,Trendon Watford,5.222222,20,5.857143,TOR,7.625,26,NaN,NaN
5,GSW,1,Quinten Post,4.285714,27,NaN,MIA,7.200,24,NaN,NaN
6,MIN,0,Joan Beringer,3.000000,35,NaN,WAS,7.900,28,NaN,NaN

C

,Team,B2B,Player,Off_REB,Off_Rk,AVG_REB_H2H,Opp,Def_REB,Def_Rk,REB_line,REB_Diff
0,DEN,0,Nikola Jokic,13.384615,1,12.428571,NOP,12.625000,30,NaN,NaN
1,OKC,0,Isaiah Hartenstein,11.142857,4,12.714286,SAC,12.400000,28,NaN,NaN
2,MIN,0,Rudy Gobert,9.571429,8,14.750000,WAS,11.333333,24,NaN,NaN
3,MIN,0,Naz Reid,6.071429,22,3.250000,WAS,11.333333,24,NaN,NaN
4,DEN,0,Jonas Valanciunas,4.692308,28,5.666667,NOP,12.625000,30,NaN,NaN
5,POR,0,Donovan Clingan,9.214286,10,NaN,CHI,12.400000,28,NaN,NaN
6,CHO,0,Moussa Diabate,7.928571,15,NaN,IND,11.875000,27,NaN,NaN
7,CHO,0,Ryan Kalkbrenner,7.076923,18,NaN,IND,11.875000,27,NaN,NaN

===PR===
PG

,Team,B2B,Player,Off_PR,Off_Rk,AVG_PR_H2H,Opp,Def_PR,Def_Rk,PR_line,PR_Diff
0,CHI,0,Josh Giddey,32.090909,3,17.833333,POR,27.888889,24,NaN,NaN
1,CHI,0,Tre Jones,17.272727,15,13.000000,POR,27.888889,24,NaN,NaN
2,MIN,0,Bones Hyland,6.100000,34,4.000000,WAS,31.000000,30,NaN,NaN
3,MIN,0,Mike Conley,8.142857,28,NaN,WAS,31.000000,30,NaN,NaN
4,WAS,0,Bub Carrington,10.384615,26,NaN,MIN,29.555556,28,NaN,NaN
5,CHI,0,Jevon Carter,13.000000,23,NaN,POR,27.888889,24,NaN,NaN
6,MIN,0,Rob Dillingham,6.545455,33,NaN,WAS,31.000000,30,NaN,NaN

SG

,Team,B2B,Player,Off_PR,Off_Rk,AVG_PR_H2H,Opp,Def_PR,Def_Rk,PR_line,PR_Diff
0,OKC,0,Isaiah Joe,18.000000,13,11.375000,SAC,24.590909,29,NaN,NaN
1,DAL,0,Max Christie,15.400000,20,8.000000,NYK,23.333333,27,NaN,NaN
2,GSW,1,Moses Moody,15.500000,19,9.250000,MIA,23.200000,26,NaN,NaN
3,NYK,0,Jordan Clarkson,12.461538,28,20.000000,DAL,22.833333,24,NaN,NaN
4,OKC,0,Cason Wallace,10.769231,33,5.777778,SAC,24.590909,29,NaN,NaN
5,CHI,0,Coby White,31.000000,2,NaN,POR,24.000000,28,NaN,NaN
6,OKC,0,Ajay Mitchell,20.357143,9,NaN,SAC,24.590909,29,NaN,NaN
7,CHI,0,Ayo Dosunmu,18.181818,12,NaN,POR,24.000000,28,NaN,NaN
8,GSW,1,Brandin Podziemski,16.125000,16,NaN,MIA,23.200000,26,NaN,NaN
9,NYK,0,Miles McBride,12.636364,27,NaN,DAL,22.833333,24,NaN,NaN
10,GSW,1,Will Richard,11.428571,31,NaN,MIA,23.200000,26,NaN,NaN
11,NYK,0,Landry Shamet,12.076923,29,NaN,DAL,22.833333,24,NaN,NaN

SF

,Team,B2B,Player,Off_PR,Off_Rk,AVG_PR_H2H,Opp,Def_PR,Def_Rk,PR_line,PR_Diff
0,SAC,0,Russell Westbrook,23.0,11,16.875,OKC,25.857143,25,NaN,NaN
1,PHI,0,Justin Edwards,8.7,31,8.000,TOR,27.666667,27,NaN,NaN
2,SAC,0,Doug McDermott,6.0,35,4.000,OKC,25.857143,25,NaN,NaN

PF

,Team,B2B,Player,Off_PR,Off_Rk,AVG_PR_H2H,Opp,Def_PR,Def_Rk,PR_line,PR_Diff
0,IND,0,Pascal Siakam,32.000000,1,27.571429,CHO,27.363636,26,NaN,NaN
1,CHO,0,Miles Bridges,29.071429,5,20.000000,IND,26.800000,25,NaN,NaN
2,OKC,0,Chet Holmgren,27.500000,7,21.833333,SAC,27.636364,27,NaN,NaN
3,HOU,0,Jabari Smith Jr.,20.800000,16,9.750000,CLE,33.666667,30,NaN,NaN
4,POR,0,Toumani Camara,16.857143,21,2.500000,CHI,29.750000,29,NaN,NaN
5,IND,0,Jarace Walker,15.214286,23,10.250000,CHO,27.363636,26,NaN,NaN
6,OKC,0,Jaylin Williams,10.384615,31,9.750000,SAC,27.636364,27,NaN,NaN
7,CLE,0,Larry Nance Jr.,8.200000,35,5.500000,HOU,26.750000,24,NaN,NaN
8,CLE,0,Evan Mobley,27.642857,6,NaN,HOU,26.750000,24,NaN,NaN
9,POR,0,Jerami Grant,21.307692,15,NaN,CHI,29.750000,29,NaN,NaN
10,IND,0,Jeremiah Robinson-Earl,12.111111,27,NaN,CHO,27.363636,26,NaN,NaN
11,CLE,0,Dean Wade,9.923077,33,NaN,HOU,26.750000,24,NaN,NaN

C

,Team,B2B,Player,Off_PR,Off_Rk,AVG_PR_H2H,Opp,Def_PR,Def_Rk,PR_line,PR_Diff
0,NYK,0,Karl-Anthony Towns,34.461538,2,31.090909,DAL,30.454545,26,NaN,NaN
1,OKC,0,Isaiah Hartenstein,24.571429,9,25.571429,SAC,31.100000,27,NaN,NaN
2,MIN,0,Rudy Gobert,20.285714,12,31.000000,WAS,30.000000,25,NaN,NaN
3,MIN,0,Naz Reid,18.357143,14,10.250000,WAS,30.000000,25,NaN,NaN
4,POR,0,Donovan Clingan,18.071429,17,NaN,CHI,34.000000,30,NaN,NaN
5,NYK,0,Mitchell Robinson,12.857143,25,NaN,DAL,30.454545,26,NaN,NaN

===PA===
PG

,Team,B2B,Player,Off_PA,Off_Rk,AVG_PA_H2H,Opp,Def_PA,Def_Rk,PA_line,PA_Diff
0,MIN,0,Bones Hyland,5.909091,33,5.75,WAS,33.666667,30,NaN,NaN
1,MIN,0,Mike Conley,9.500000,28,NaN,WAS,33.666667,30,NaN,NaN
2,WAS,0,Bub Carrington,10.769231,26,NaN,MIN,29.777778,27,NaN,NaN
3,MIN,0,Rob Dillingham,7.636364,32,NaN,WAS,33.666667,30,NaN,NaN

SG

,Team,B2B,Player,Off_PA,Off_Rk,AVG_PA_H2H,Opp,Def_PA,Def_Rk,PA_line,PA_Diff
0,OKC,0,Isaiah Joe,16.300000,16,10.250000,SAC,24.181818,29,NaN,NaN
1,DAL,0,Max Christie,14.666667,19,8.000000,NYK,23.733333,27,NaN,NaN
2,OKC,0,Cason Wallace,10.692308,30,6.222222,SAC,24.181818,29,NaN,NaN
3,DEN,0,Tim Hardaway Jr.,12.846154,25,17.428571,NOP,22.166667,24,NaN,NaN
4,CHI,0,Coby White,35.000000,2,NaN,POR,24.000000,28,NaN,NaN
5,OKC,0,Ajay Mitchell,20.142857,9,NaN,SAC,24.181818,29,NaN,NaN
6,CHI,0,Ayo Dosunmu,19.090909,12,NaN,POR,24.000000,28,NaN,NaN
7,CHI,0,Isaac Okoro,10.416667,32,NaN,POR,24.000000,28,NaN,NaN

SF

,Team,B2B,Player,Off_PA,Off_Rk,AVG_PA_H2H,Opp,Def_PA,Def_Rk,PA_line,PA_Diff
0,HOU,0,Kevin Durant,29.636364,3,39.0,CLE,23.357143,24,NaN,NaN
1,PHI,0,Justin Edwards,8.000000,31,7.0,TOR,25.222222,28,NaN,NaN
2,GSW,1,Jimmy Butler,24.800000,4,NaN,MIA,23.400000,25,NaN,NaN
3,HOU,0,Amen Thompson,22.363636,8,NaN,CLE,23.357143,24,NaN,NaN

PF

,Team,B2B,Player,Off_PA,Off_Rk,AVG_PA_H2H,Opp,Def_PA,Def_Rk,PA_line,PA_Diff
0,IND,0,Pascal Siakam,29.692308,2,25.428571,CHO,26.818182,29,NaN,NaN
1,OKC,0,Chet Holmgren,20.700000,10,15.333333,SAC,24.636364,27,NaN,NaN
2,HOU,0,Jabari Smith Jr.,16.100000,18,6.750000,CLE,27.333333,30,NaN,NaN
3,POR,0,Toumani Camara,14.785714,20,1.250000,CHI,25.833333,28,NaN,NaN
4,IND,0,Jarace Walker,13.000000,23,8.750000,CHO,26.818182,29,NaN,NaN
5,OKC,0,Jaylin Williams,7.615385,30,7.625000,SAC,24.636364,27,NaN,NaN
6,CLE,0,Larry Nance Jr.,6.000000,35,3.250000,HOU,23.500000,24,NaN,NaN
7,CLE,0,Evan Mobley,23.142857,6,NaN,HOU,23.500000,24,NaN,NaN
8,POR,0,Jerami Grant,20.615385,11,NaN,CHI,25.833333,28,NaN,NaN
9,IND,0,Jeremiah Robinson-Earl,7.000000,32,NaN,CHO,26.818182,29,NaN,NaN
10,CLE,0,Dean Wade,6.928571,33,NaN,HOU,23.500000,24,NaN,NaN

C

,Team,B2B,Player,Off_PA,Off_Rk,AVG_PA_H2H,Opp,Def_PA,Def_Rk,PA_line,PA_Diff
0,NYK,0,Karl-Anthony Towns,25.000000,3,24.454545,DAL,23.545455,27,NaN,NaN
1,MIA,1,Bam Adebayo,22.750000,5,25.500000,GSW,23.400000,25,NaN,NaN
2,CHI,0,Nikola Vucevic,19.538462,8,24.000000,POR,23.454545,26,NaN,NaN
3,CHI,0,Jalen Smith,12.583333,15,6.000000,POR,23.454545,26,NaN,NaN
4,POR,0,Duop Reath,6.428571,32,4.250000,CHI,26.300000,30,NaN,NaN
5,MIA,1,Kel'el Ware,11.928571,17,NaN,GSW,23.400000,25,NaN,NaN
6,POR,0,Donovan Clingan,10.071429,23,NaN,CHI,26.300000,30,NaN,NaN
7,GSW,1,Trayce Jackson-Davis,6.125000,35,NaN,MIA,23.272727,24,NaN,NaN

===RA===
PG

,Team,B2B,Player,Off_RA,Off_Rk,AVG_RA_H2H,Opp,Def_RA,Def_Rk,RA_line,RA_Diff
0,MIA,1,Davion Mitchell,10.285714,9,5.571429,GSW,13.111111,24,NaN,NaN
1,NYK,0,Jalen Brunson,10.090909,10,NaN,DAL,14.000000,28,NaN,NaN
2,DAL,0,Cooper Flagg,9.466667,12,NaN,NYK,13.714286,26,NaN,NaN
3,WAS,0,Bub Carrington,8.384615,15,NaN,MIN,14.000000,28,NaN,NaN
4,DAL,0,D'Angelo Russell,7.666667,19,NaN,NYK,13.714286,26,NaN,NaN
5,DAL,0,Brandon Williams,6.333333,21,NaN,NYK,13.714286,26,NaN,NaN
6,MIN,0,Mike Conley,5.357143,25,NaN,WAS,13.777778,27,NaN,NaN
7,MIN,0,Rob Dillingham,3.454545,31,NaN,WAS,13.777778,27,NaN,NaN
8,NYK,0,Tyler Kolek,2.571429,35,NaN,DAL,14.000000,28,NaN,NaN

SG

,Team,B2B,Player,Off_RA,Off_Rk,AVG_RA_H2H,Opp,Def_RA,Def_Rk,RA_line,RA_Diff
0,IND,0,Ben Sheppard,6.285714,16,1.600000,CHO,8.692308,24,NaN,NaN
1,OKC,0,Cason Wallace,5.461538,25,2.444444,SAC,8.954545,29,NaN,NaN
2,OKC,0,Alex Caruso,5.000000,29,8.800000,SAC,8.954545,29,NaN,NaN
3,OKC,0,Isaiah Joe,4.900000,30,3.875000,SAC,8.954545,29,NaN,NaN
4,GSW,1,Moses Moody,4.692308,32,2.750000,MIA,8.866667,26,NaN,NaN
5,OKC,0,Ajay Mitchell,7.785714,7,NaN,SAC,8.954545,29,NaN,NaN
6,GSW,1,Brandin Podziemski,7.562500,8,NaN,MIA,8.866667,26,NaN,NaN
7,GSW,1,Will Richard,3.923077,35,NaN,MIA,8.866667,26,NaN,NaN

SF

,Team,B2B,Player,Off_RA,Off_Rk,AVG_RA_H2H,Opp,Def_RA,Def_Rk,RA_line,RA_Diff
0,SAC,0,Russell Westbrook,16.000000,1,9.00,OKC,10.000000,27,NaN,NaN
1,TOR,0,Brandon Ingram,9.785714,9,8.75,PHI,9.785714,24,NaN,NaN
2,HOU,0,Kevin Durant,7.727273,15,12.25,CLE,9.785714,24,NaN,NaN
3,HOU,0,Amen Thompson,11.454545,3,NaN,CLE,9.785714,24,NaN,NaN
4,GSW,1,Jimmy Butler,10.200000,7,NaN,MIA,10.200000,28,NaN,NaN
5,CHO,0,Kon Knueppel,8.714286,12,NaN,IND,9.923077,26,NaN,NaN
6,TOR,0,RJ Barrett,8.857143,11,NaN,PHI,9.785714,24,NaN,NaN

PF

,Team,B2B,Player,Off_RA,Off_Rk,AVG_RA_H2H,Opp,Def_RA,Def_Rk,RA_line,RA_Diff
0,IND,0,Pascal Siakam,11.846154,5,11.285714,CHO,11.272727,26,NaN,NaN
1,CHO,0,Miles Bridges,10.928571,8,8.400000,IND,10.600000,24,NaN,NaN
2,HOU,0,Jabari Smith Jr.,8.300000,15,4.000000,CLE,15.666667,30,NaN,NaN
3,PHI,0,Trendon Watford,8.400000,13,9.000000,TOR,11.312500,27,NaN,NaN
4,IND,0,Jarace Walker,8.214286,16,4.000000,CHO,11.272727,26,NaN,NaN
5,IND,0,Jeremiah Robinson-Earl,7.444444,21,NaN,CHO,11.272727,26,NaN,NaN

C

,Team,B2B,Player,Off_RA,Off_Rk,AVG_RA_H2H,Opp,Def_RA,Def_Rk,RA_line,RA_Diff
0,DEN,0,Nikola Jokic,24.384615,1,24.428571,NOP,15.625000,26,NaN,NaN
1,OKC,0,Isaiah Hartenstein,14.285714,5,17.428571,SAC,16.500000,29,NaN,NaN
2,MIN,0,Rudy Gobert,11.071429,8,17.250000,WAS,15.666667,27,NaN,NaN
3,MIN,0,Naz Reid,8.142857,20,4.000000,WAS,15.666667,27,NaN,NaN
4,DEN,0,Jonas Valanciunas,5.846154,27,7.333333,NOP,15.625000,26,NaN,NaN
5,POR,0,Donovan Clingan,10.428571,10,NaN,CHI,17.100000,30,NaN,NaN
6,CHO,0,Moussa Diabate,9.000000,17,NaN,IND,15.750000,28,NaN,NaN
7,CHO,0,Ryan Kalkbrenner,7.461538,22,NaN,IND,15.750000,28,NaN,NaN

===PRA===
PG

,Team,B2B,Player,Off_PRA,Off_Rk,AVG_PRA_H2H,Opp,Def_PRA,Def_Rk,PRA_line,PRA_Diff
0,MIN,0,Bones Hyland,7.000000,33,6.25,WAS,39.222222,30,NaN,NaN
1,WAS,0,Bub Carrington,14.769231,24,NaN,MIN,36.666667,28,NaN,NaN
2,MIN,0,Mike Conley,11.500000,27,NaN,WAS,39.222222,30,NaN,NaN
3,MIN,0,Rob Dillingham,8.818182,31,NaN,WAS,39.222222,30,NaN,NaN

SG

,Team,B2B,Player,Off_PRA,Off_Rk,AVG_PRA_H2H,Opp,Def_PRA,Def_Rk,PRA_line,PRA_Diff
0,OKC,0,Isaiah Joe,19.600000,15,12.750000,SAC,28.863636,29,NaN,NaN
1,DAL,0,Max Christie,18.000000,19,9.250000,NYK,27.333333,27,NaN,NaN
2,GSW,1,Moses Moody,17.000000,21,10.250000,MIA,26.600000,24,NaN,NaN
3,OKC,0,Cason Wallace,13.461538,29,7.222222,SAC,28.863636,29,NaN,NaN
4,NYK,0,Jordan Clarkson,14.153846,28,26.750000,DAL,26.750000,25,NaN,NaN
5,CHI,0,Coby White,39.000000,2,NaN,POR,27.833333,28,NaN,NaN
6,OKC,0,Ajay Mitchell,24.142857,9,NaN,SAC,28.863636,29,NaN,NaN
7,CHI,0,Ayo Dosunmu,21.545455,13,NaN,POR,27.833333,28,NaN,NaN
8,GSW,1,Brandin Podziemski,19.062500,16,NaN,MIA,26.600000,24,NaN,NaN
9,NYK,0,Miles McBride,15.090909,26,NaN,DAL,26.750000,25,NaN,NaN
10,NYK,0,Landry Shamet,13.230769,30,NaN,DAL,26.750000,25,NaN,NaN
11,CHI,0,Isaac Okoro,12.461538,33,NaN,POR,27.833333,28,NaN,NaN
12,GSW,1,Will Richard,12.785714,31,NaN,MIA,26.600000,24,NaN,NaN

SF

,Team,B2B,Player,Off_PRA,Off_Rk,AVG_PRA_H2H,Opp,Def_PRA,Def_Rk,PRA_line,PRA_Diff
0,PHI,0,Justin Edwards,10.0,31,9.4,TOR,31.222222,28,NaN,NaN

PF

,Team,B2B,Player,Off_PRA,Off_Rk,AVG_PRA_H2H,Opp,Def_PRA,Def_Rk,PRA_line,PRA_Diff
0,IND,0,Pascal Siakam,36.769231,2,32.142857,CHO,32.727273,28,NaN,NaN
1,OKC,0,Chet Holmgren,29.100000,8,23.333333,SAC,30.909091,26,NaN,NaN
2,HOU,0,Jabari Smith Jr.,22.600000,17,10.250000,CLE,38.333333,30,NaN,NaN
3,POR,0,Toumani Camara,19.785714,20,3.250000,CHI,32.916667,29,NaN,NaN
4,IND,0,Jarace Walker,18.214286,24,11.500000,CHO,32.727273,28,NaN,NaN
5,OKC,0,Jaylin Williams,12.769231,29,12.750000,SAC,30.909091,26,NaN,NaN
6,POR,0,Jerami Grant,23.615385,14,NaN,CHI,32.916667,29,NaN,NaN
7,IND,0,Jeremiah Robinson-Earl,12.888889,28,NaN,CHO,32.727273,28,NaN,NaN

C

,Team,B2B,Player,Off_PRA,Off_Rk,AVG_PRA_H2H,Opp,Def_PRA,Def_Rk,PRA_line,PRA_Diff
0,MIA,1,Bam Adebayo,30.875000,5,34.750000,GSW,33.700000,25,NaN,NaN
1,OKC,0,Isaiah Hartenstein,27.714286,9,30.285714,SAC,35.200000,28,NaN,NaN
2,MIN,0,Rudy Gobert,21.785714,11,33.500000,WAS,34.333333,26,NaN,NaN
3,MIN,0,Naz Reid,20.428571,14,11.000000,WAS,34.333333,26,NaN,NaN
4,POR,0,Donovan Clingan,19.285714,15,NaN,CHI,38.700000,30,NaN,NaN
5,MIA,1,Kel'el Ware,21.500000,12,NaN,GSW,33.700000,25,NaN,NaN
6,CHO,0,Moussa Diabate,19.285714,15,NaN,IND,33.000000,24,NaN,NaN
7,CHO,0,Ryan Kalkbrenner,17.384615,21,NaN,IND,33.000000,24,NaN,NaN

In [35]:
df_stats = pd.DataFrame()
for i in ['PTS', 'AST', 'REB', 'PR', 'PA', 'RA', 'PRA']:
    print(f"==={i}===")
    df_temp = pick_finder(i, collect=True)
    df_stats = pd.concat([df_stats, df_temp], ignore_index=True)
    
df_stats = con.execute("SELECT Date, Team, B2B, Player, Opp, * EXCLUDE(Date, Team, B2B, Player, Opp, Off_Rk, Def_Rk) FROM df_stats").fetchdf()
df_save = pd.DataFrame()
for player in df_stats.Player.unique():
    df_temp = df_stats[(df_stats.Player == player)]
    for col in df_temp.columns.difference(['Date', 'Team', 'Player']):
        df_temp[col] = df_temp[col].ffill()
        df_temp[col] = df_temp[col].backfill()
    df_temp = df_temp.drop_duplicates()
    df_save = pd.concat([df_save, df_temp])
print('Saving for Date:', now)
partition_save_df(df_save, f"../tables/{year}/parlay_stats.csv")
display(df_save)

===PTS===
PG
SG
SF
PF
C
===AST===
PG
SG
SF
PF
C
===REB===
PG
SG
SF
PF
C
===PR===
PG
SG
SF
PF
C
===PA===
PG
SG
SF
PF
C
===RA===
PG
SG
SF
PF
C
===PRA===
PG
SG
SF
PF
C
Saving for Date: 2025-11-19
../tables/2025/parlay_stats.csv saved!

,Date,Team,B2B,Player,Opp,Off_PTS,AVG_PTS_H2H,Def_PTS,PTS_line,PTS_Diff,Off_AST,AVG_AST_H2H,Def_AST,AST_line,AST_Diff,Off_REB,AVG_REB_H2H,Def_REB,REB_line,REB_Diff,Off_PR,AVG_PR_H2H,Def_PR,PR_line,PR_Diff,Off_PA,AVG_PA_H2H,Def_PA,PA_line,PA_Diff,Off_RA,AVG_RA_H2H,Def_RA,RA_line,RA_Diff,Off_PRA,AVG_PRA_H2H,Def_PRA,PRA_line,PRA_Diff
0,2025-11-19,CHI,0,Josh Giddey,POR,21.818182,10.000000,22.666667,NaN,NaN,9.363636,7.166667,5.555556,NaN,NaN,10.272727,7.833333,5.222222,NaN,NaN,32.090909,17.833333,27.888889,NaN,NaN,31.181818,17.166667,28.222222,NaN,NaN,19.636364,15.000000,10.777778,NaN,NaN,41.454545,25.000000,33.444444,NaN,NaN
1,2025-11-19,OKC,0,Shai Gilgeous-Alexander,SAC,31.714286,34.777778,21.333333,NaN,NaN,6.857143,6.333333,7.555556,NaN,NaN,4.857143,5.666667,4.111111,NaN,NaN,36.571429,40.444444,25.444444,NaN,NaN,38.571429,41.111111,28.888889,NaN,NaN,11.714286,12.000000,11.666667,NaN,NaN,43.428571,46.777778,33.000000,NaN,NaN
2,2025-11-19,PHI,0,Tyrese Maxey,TOR,32.538462,18.125000,20.300000,NaN,NaN,7.692308,4.375000,5.100000,NaN,NaN,4.923077,2.750000,3.700000,NaN,NaN,37.461538,20.875000,24.000000,NaN,NaN,40.230769,22.500000,25.400000,NaN,NaN,12.615385,7.125000,8.800000,NaN,NaN,45.153846,25.250000,29.100000,NaN,NaN
3,2025-11-19,DEN,0,Jamal Murray,NOP,23.083333,18.333333,21.333333,NaN,NaN,6.000000,6.833333,7.583333,NaN,NaN,5.583333,4.166667,4.416667,NaN,NaN,28.666667,22.500000,25.750000,NaN,NaN,29.083333,25.166667,28.916667,NaN,NaN,11.583333,11.000000,12.000000,NaN,NaN,34.666667,29.333333,33.333333,NaN,NaN
4,2025-11-19,CHI,0,Tre Jones,POR,13.272727,8.750000,22.666667,NaN,NaN,5.454545,6.250000,5.555556,NaN,NaN,4.000000,4.250000,5.222222,NaN,NaN,17.272727,13.000000,27.888889,NaN,NaN,18.727273,15.000000,28.222222,NaN,NaN,9.454545,10.500000,10.777778,NaN,NaN,22.727273,19.250000,33.444444,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,2025-11-19,CHO,0,Mason Plumlee,IND,3.000000,NaN,17.250000,NaN,NaN,1.000000,NaN,3.875000,NaN,NaN,1.250000,NaN,11.875000,NaN,NaN,2.200000,NaN,29.125000,NaN,NaN,2.000000,NaN,21.125000,NaN,NaN,1.400000,NaN,15.750000,NaN,NaN,2.166667,NaN,33.000000,NaN,NaN
205,2025-11-19,DAL,0,Dereck Lively II,NYK,4.400000,NaN,14.545455,NaN,NaN,2.500000,NaN,2.454545,NaN,NaN,4.600000,NaN,9.181818,NaN,NaN,9.000000,NaN,23.727273,NaN,NaN,6.400000,NaN,17.000000,NaN,NaN,6.600000,NaN,11.636364,NaN,NaN,11.000000,NaN,26.181818,NaN,NaN
289,2025-11-19,PHI,0,Jared McCain,TOR,NaN,NaN,NaN,NaN,NaN,1.333333,NaN,3.933333,NaN,NaN,1.000000,NaN,3.600000,NaN,NaN,1.000000,NaN,17.800000,NaN,NaN,1.333333,NaN,18.133333,NaN,NaN,2.000000,NaN,7.533333,NaN,NaN,2.000000,NaN,21.733333,NaN,NaN
306,2025-11-19,MIN,0,Joe Ingles,WAS,NaN,NaN,NaN,NaN,NaN,1.500000,3.200000,3.888889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.500000,10.400000,24.555556,NaN,NaN,1.500000,5.000000,8.777778,NaN,NaN,1.500000,12.200000,29.444444,NaN,NaN
552,2025-11-19,DEN,0,Hunter Tyson,NOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.333333,5.875000,NaN,NaN,2.000000,2.000000,21.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.333333,7.750000,NaN,NaN,2.000000,2.000000,23.625000,NaN,NaN